(#:card{:collector-number "1a", :name "Carrier Pigeons"}
 #:card{:collector-number "1b", :name "Carrier Pigeons"}
 #:card{:collector-number "2a", :name "Errand of Duty"}
 #:card{:collector-number "2b", :name "Errand of Duty"}
 #:card{:collector-number "3", :name "Exile"}
 #:card{:collector-number "4", :name "Inheritance"}
 #:card{:collector-number "5", :name "Ivory Gargoyle"}
 #:card{:collector-number "6", :name "Juniper Order Advocate"}
 #:card{:collector-number "7a", :name "Kjeldoran Escort"}
 #:card{:collector-number "7b", :name "Kjeldoran Escort"}
 #:card{:collector-number "8", :name "Kjeldoran Home Guard"}
 #:card{:collector-number "9a", :name "Kjeldoran Pride"}
 #:card{:collector-number "9b", :name "Kjeldoran Pride"}
 #:card{:collector-number "10a", :name "Martyrdom"}
 #:card{:collector-number "10b", :name "Martyrdom"}
 #:card{:collector-number "11a", :name "Noble Steeds"}
 #:card{:collector-number "11b", :name "Noble Steeds"}
 #:card{:collector-number "12a", :name "Reinforcements"}
 #:card{:collector-number "12b", :name "Reinforcements"}
 #:card{:collector-number "13a", :name "Reprisal"}
 #:card{:collector-number "13b", :name "Reprisal"}
 #:card{:collector-number "14", :name "Royal Decree"}
 #:card{:collector-number "15a", :name "Royal Herbalist"}
 #:card{:collector-number "15b", :name "Royal Herbalist"}
 #:card{:collector-number "16", :name "Scars of the Veteran"}
 #:card{:collector-number "17", :name "Seasoned Tactician"}
 #:card{:collector-number "18", :name "Sustaining Spirit"}
 #:card{:collector-number "19", :name "Sworn Defender"}
 #:card{:collector-number "20", :name "Unlikely Alliance"}
 #:card{:collector-number "21a", :name "Wild Aesthir"}
 #:card{:collector-number "21b", :name "Wild Aesthir"}
 #:card{:collector-number "22a", :name "Arcane Denial"}
 #:card{:collector-number "22b", :name "Arcane Denial"}
 #:card{:collector-number "23a", :name "Awesome Presence"}
 #:card{:collector-number "23b", :name "Awesome Presence"}
 #:card{:collector-number "24a", :name "Benthic Explorers"}
 #:card{:collector-number "24b", :name "Benthic Explorers"}
 #:card{:collector-number "25", :name "Browse"}
 #:card{:collector-number "26", :name "Diminishing Returns"}
 #:card{:collector-number "27a", :name "False Demise"}
 #:card{:collector-number "27b", :name "False Demise"}
 #:card{:collector-number "28", :name "Force of Will"}
 #:card{:collector-number "29a", :name "Foresight"}
 #:card{:collector-number "29b", :name "Foresight"}
 #:card{:collector-number "30a", :name "Lat-Nam's Legacy"}
 #:card{:collector-number "30b", :name "Lat-Nam's Legacy"}
 #:card{:collector-number "31", :name "Library of Lat-Nam"}
 #:card{:collector-number "32", :name "Phantasmal Sphere"}
 #:card{:collector-number "33a", :name "Soldevi Heretic"}
 #:card{:collector-number "33b", :name "Soldevi Heretic"}
 #:card{:collector-number "34a", :name "Soldevi Sage"}
 #:card{:collector-number "34b", :name "Soldevi Sage"}
 #:card{:collector-number "35", :name "Spiny Starfish"}
 #:card{:collector-number "36a", :name "Storm Crow"}
 #:card{:collector-number "36b", :name "Storm Crow"}
 #:card{:collector-number "37", :name "Storm Elemental"}
 #:card{:collector-number "38", :name "Suffocation"}
 #:card{:collector-number "39", :name "Thought Lash"}
 #:card{:collector-number "40", :name "Tidal Control"}
 #:card{:collector-number "41a", :name "Viscerid Armor"}
 #:card{:collector-number "41b", :name "Viscerid Armor"}
 #:card{:collector-number "42", :name "Viscerid Drone"}
 #:card{:collector-number "43", :name "Balduvian Dead"}
 #:card{:collector-number "44a", :name "Casting of Bones"}
 #:card{:collector-number "44b", :name "Casting of Bones"}
 #:card{:collector-number "45", :name "Contagion"}
 #:card{:collector-number "46", :name "Diseased Vermin"}
 #:card{:collector-number "47", :name "Dystopia"}
 #:card{:collector-number "48", :name "Fatal Lore"}
 #:card{:collector-number "49a", :name "Feast or Famine"}
 #:card{:collector-number "49b", :name "Feast or Famine"}
 #:card{:collector-number "50a", :name "Fevered Strength"}
 #:card{:collector-number "50b", :name "Fevered Strength"}
 #:card{:collector-number "51a", :name "Insidious Bookworms"}
 #:card{:collector-number "51b", :name "Insidious Bookworms"}
 #:card{:collector-number "52", :name "Keeper of Tresserhorn"}
 #:card{:collector-number "53", :name "Krovikan Horror"}
 #:card{:collector-number "54", :name "Krovikan Plague"}
 #:card{:collector-number "55a", :name "Lim-Dûl's High Guard"}
 #:card{:collector-number "55b", :name "Lim-Dûl's High Guard"}
 #:card{:collector-number "56", :name "Misinformation"}
 #:card{:collector-number "57a", :name "Phantasmal Fiend"}
 #:card{:collector-number "57b", :name "Phantasmal Fiend"}
 #:card{:collector-number "58a", :name "Phyrexian Boon"}
 #:card{:collector-number "58b", :name "Phyrexian Boon"}
 #:card{:collector-number "59", :name "Ritual of the Machine"}
 #:card{:collector-number "60a", :name "Soldevi Adnate"}
 #:card{:collector-number "60b", :name "Soldevi Adnate"}
 #:card{:collector-number "61a", :name "Stench of Decay"}
 #:card{:collector-number "61b", :name "Stench of Decay"}
 #:card{:collector-number "62", :name "Stromgald Spy"}
 #:card{:collector-number "63a", :name "Swamp Mosquito"}
 #:card{:collector-number "63b", :name "Swamp Mosquito"}
 #:card{:collector-number "64a", :name "Agent of Stromgald"}
 #:card{:collector-number "64b", :name "Agent of Stromgald"}
 #:card{:collector-number "65", :name "Balduvian Horde"}
 #:card{:collector-number "66a", :name "Balduvian War-Makers"}
 #:card{:collector-number "66b", :name "Balduvian War-Makers"}
 #:card{:collector-number "67a", :name "Bestial Fury"}
 #:card{:collector-number "67b", :name "Bestial Fury"}
 #:card{:collector-number "68", :name "Burnout"}
 #:card{:collector-number "69", :name "Chaos Harlequin"}
 #:card{:collector-number "70", :name "Death Spark"}
 #:card{:collector-number "71a", :name "Enslaved Scout"}
 #:card{:collector-number "71b", :name "Enslaved Scout"}
 #:card{:collector-number "72a", :name "Gorilla Shaman"}
 #:card{:collector-number "72b", :name "Gorilla Shaman"}
 #:card{:collector-number "73a", :name "Gorilla War Cry"}
 #:card{:collector-number "73b", :name "Gorilla War Cry"}
 #:card{:collector-number "74a", :name "Guerrilla Tactics"}
 #:card{:collector-number "74b", :name "Guerrilla Tactics"}
 #:card{:collector-number "75", :name "Omen of Fire"}
 #:card{:collector-number "76", :name "Pillage"}
 #:card{:collector-number "77", :name "Primitive Justice"}
 #:card{:collector-number "78", :name "Pyrokinesis"}
 #:card{:collector-number "79", :name "Rogue Skycaptain"}
 #:card{:collector-number "80", :name "Soldier of Fortune"}
 #:card{:collector-number "81a", :name "Storm Shaman"}
 #:card{:collector-number "81b", :name "Storm Shaman"}
 #:card{:collector-number "82a", :name "Varchild's Crusader"}
 #:card{:collector-number "82b", :name "Varchild's Crusader"}
 #:card{:collector-number "83", :name "Varchild's War-Riders"}
 #:card{:collector-number "84a", :name "Veteran's Voice"}
 #:card{:collector-number "84b", :name "Veteran's Voice"}
 #:card{:collector-number "85", :name "Bounty of the Hunt"}
 #:card{:collector-number "86a", :name "Deadly Insect"}
 #:card{:collector-number "86b", :name "Deadly Insect"}
 #:card{:collector-number "87", :name "Elvish Bard"}
 #:card{:collector-number "88a", :name "Elvish Ranger"}
 #:card{:collector-number "88b", :name "Elvish Ranger"}
 #:card{:collector-number "89", :name "Elvish Spirit Guide"}
 #:card{:collector-number "90a", :name "Fyndhorn Druid"}
 #:card{:collector-number "90b", :name "Fyndhorn Druid"}
 #:card{:collector-number "91", :name "Gargantuan Gorilla"}
 #:card{:collector-number "92a", :name "Gift of the Woods"}
 #:card{:collector-number "92b", :name "Gift of the Woods"}
 #:card{:collector-number "93a", :name "Gorilla Berserkers"}
 #:card{:collector-number "93b", :name "Gorilla Berserkers"}
 #:card{:collector-number "94a", :name "Gorilla Chieftain"}
 #:card{:collector-number "94b", :name "Gorilla Chieftain"}
 #:card{:collector-number "95", :name "Hail Storm"}
 #:card{:collector-number "96", :name "Kaysa"}
 #:card{:collector-number "97", :name "Nature's Chosen"}
 #:card{:collector-number "98", :name "Nature's Wrath"}
 #:card{:collector-number "99", :name "Splintering Wind"}
 #:card{:collector-number "100a", :name "Taste of Paradise"}
 #:card{:collector-number "100b", :name "Taste of Paradise"}
 #:card{:collector-number "101", :name "Tornado"}
 #:card{:collector-number "102a", :name "Undergrowth"}
 #:card{:collector-number "102b", :name "Undergrowth"}
 #:card{:collector-number "103a", :name "Whip Vine"}
 #:card{:collector-number "103b", :name "Whip Vine"}
 #:card{:collector-number "104a", :name "Yavimaya Ancients"}
 #:card{:collector-number "104b", :name "Yavimaya Ancients"}
 #:card{:collector-number "105", :name "Yavimaya Ants"}
 #:card{:collector-number "106", :name "Energy Arc"}
 #:card{:collector-number "107", :name "Lim-Dûl's Vault"}
 #:card{:collector-number "108", :name "Lim-Dûl's Paladin"}
 #:card{:collector-number "109", :name "Surge of Strength"}
 #:card{:collector-number "110", :name "Nature's Blessing"}
 #:card{:collector-number "111", :name "Wandering Mage"}
 #:card{:collector-number "112", :name "Lord of Tresserhorn"}
 #:card{:collector-number "113", :name "Misfortune"}
 #:card{:collector-number "114", :name "Winter's Night"}
 #:card{:collector-number "115", :name "Phelddagrif"}
 #:card{:collector-number "116a", :name "Aesthir Glider"}
 #:card{:collector-number "116b", :name "Aesthir Glider"}
 #:card{:collector-number "117", :name "Ashnod's Cylix"}
 #:card{:collector-number "118a", :name "Astrolabe"}
 #:card{:collector-number "118b", :name "Astrolabe"}
 #:card{:collector-number "119", :name "Floodwater Dam"}
 #:card{:collector-number "120", :name "Gustha's Scepter"}
 #:card{:collector-number "121", :name "Helm of Obedience"}
 #:card{:collector-number "122", :name "Lodestone Bauble"}
 #:card{:collector-number "123", :name "Mishra's Groundbreaker"}
 #:card{:collector-number "124", :name "Mystic Compass"}
 #:card{:collector-number "125", :name "Phyrexian Devourer"}
 #:card{:collector-number "126", :name "Phyrexian Portal"}
 #:card{:collector-number "127a", :name "Phyrexian War Beast"}
 #:card{:collector-number "127b", :name "Phyrexian War Beast"}
 #:card{:collector-number "128", :name "Scarab of the Unseen"}
 #:card{:collector-number "129", :name "Shield Sphere"}
 #:card{:collector-number "130", :name "Sol Grail"}
 #:card{:collector-number "131", :name "Soldevi Digger"}
 #:card{:collector-number "132a", :name "Soldevi Sentry"}
 #:card{:collector-number "132b", :name "Soldevi Sentry"}
 #:card{:collector-number "133a", :name "Soldevi Steam Beast"}
 #:card{:collector-number "133b", :name "Soldevi Steam Beast"}
 #:card{:collector-number "134", :name "Storm Cauldron"}
 #:card{:collector-number "135", :name "Urza's Engine"}
 #:card{:collector-number "136", :name "Whirling Catapult"}
 #:card{:collector-number "137", :name "Balduvian Trading Post"}
 #:card{:collector-number "138", :name "Heart of Yavimaya"}
 #:card{:collector-number "139", :name "Kjeldoran Outpost"}
 #:card{:collector-number "140", :name "Lake of the Dead"}
 #:card{:collector-number "141", :name "School of the Unseen"}
 #:card{:collector-number "142", :name "Sheltered Valley"}
 #:card{:collector-number "143", :name "Soldevi Excavations"}
 #:card{:collector-number "144", :name "Thawing Glaciers"})
