(#:card{:code "ana",
        :collector-number "1a",
        :name "Plains",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/52ce85a5-1a3e-41a6-8a2c-ac9f78286af3.png?1605219649",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "ana",
        :collector-number "2a",
        :name "Plains",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/a/ea906830-c03e-46a7-8ac8-c0ca8a25a8fb.png?1605219656",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "ana",
        :collector-number "3a",
        :name "Island",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/b/9b4812c4-58ad-4215-8a3e-e731a42e156a.png?1605219662",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "ana",
        :collector-number "4a",
        :name "Island",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/dec3287a-ae3d-4844-b918-8d031064c63d.png?1605219668",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "ana",
        :collector-number "5a",
        :name "Swamp",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/19bef0f3-68a0-47ed-adcd-2adadc3ebe23.png?1605219682",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "ana",
        :collector-number "6",
        :name "Plains",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/ee6c18e1-aff1-43d1-843a-282fc759189f.png?1605220036",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "ana",
        :collector-number "6a",
        :name "Swamp",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1fe2d362-fac3-4635-8231-a9b12583d6c5.png?1605219691",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "ana",
        :collector-number "7",
        :name "Plains",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/a/aa828114-9306-4a2a-a7a7-903fdb81b101.png?1605220091",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "ana",
        :collector-number "7a",
        :name "Mountain",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8a05eb4e-dbea-4d41-939f-b9d92b56f56a.png?1605219735",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "ana",
        :collector-number "8",
        :name "Plains",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/a/9a460975-3b1e-47bd-bca7-199603710c6c.png?1605220117",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "ana",
        :collector-number "8a",
        :name "Mountain",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c9b68ae-78aa-49c9-b126-b7b5e2b5b427.png?1605219743",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "ana",
        :collector-number "9",
        :name "Island",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c0e182e-a5d2-4f72-8e76-18749624d0d8.png?1605220337",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "ana",
        :collector-number "9a",
        :name "Forest",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/0/6066f195-385f-4c51-8090-3989fd692078.png?1605219750",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "ana",
        :collector-number "10",
        :name "Island",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9ea62d3d-02d9-49db-a59e-3bafdd9dc1e6.png?1605220303",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "ana",
        :collector-number "10a",
        :name "Forest",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/754bf4f3-e8d7-4c17-bd2f-0721c2365dc4.png?1605219760",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "ana",
        :collector-number "11",
        :name "Island",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/0/f05bc6f0-f258-471d-9b28-025bd2dab2af.png?1605220322",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "ana",
        :collector-number "12",
        :name "Swamp",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/8/180a8127-572b-432f-82ea-632b987f7148.png?1605220458",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "ana",
        :collector-number "13",
        :name "Swamp",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/39067e5d-ca48-49e0-8703-6602e9884c21.png?1605220471",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "ana",
        :collector-number "14",
        :name "Swamp",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2e0987ce-25aa-4bd3-8fd7-51501c85852c.png?1605220484",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "ana",
        :collector-number "15",
        :name "Mountain",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/17601b5c-ea6b-4ace-8b4e-908a142ab088.png?1605220716",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "ana",
        :collector-number "16",
        :name "Mountain",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6d4a44c-1948-4af5-83d6-99c7a540dc9c.png?1605220724",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "ana",
        :collector-number "17",
        :name "Mountain",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b96588c0-f5fe-4329-822d-edd4f82e97d9.png?1605220731",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "ana",
        :collector-number "18",
        :name "Forest",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/ccb11a37-cef4-419b-85a3-7f9d63d0d609.png?1605220881",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "ana",
        :collector-number "19",
        :name "Forest",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c64992b-6b0f-4f7a-a934-484b7be5d717.png?1605220867",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "ana",
        :collector-number "20",
        :name "Forest",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1afffb9b-3fae-4c90-9108-91713bef7daf.png?1627327659",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "ana",
        :collector-number "21",
        :name "Plains",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6c285954-d6e9-4776-a441-b21441755cf0.png?1605220149",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "ana",
        :collector-number "22",
        :name "Plains",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/57985a34-3abf-426d-b3bd-bdb50946a6b7.png?1605220179",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "ana",
        :collector-number "23",
        :name "Plains",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/10a16d7e-7e62-4b02-986a-ed89e3ab9391.png?1605220164",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "ana",
        :collector-number "24",
        :name "Island",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/6/66d76ee6-f434-447b-ad9c-124bc30085dd.png?1605220347",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "ana",
        :collector-number "25",
        :name "Island",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/039aef26-cbe3-4c78-b5b5-ab888b1a404b.png?1605220358",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "ana",
        :collector-number "26",
        :name "Island",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/8/58f09cc8-42b6-4b32-8832-5d8a375456a4.png?1605220371",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "ana",
        :collector-number "27",
        :name "Swamp",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c40a1240-b9da-4d88-8ee3-ed3752ae966c.png?1605220518",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "ana",
        :collector-number "28",
        :name "Swamp",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/05df4124-9d1d-4d98-98d3-4dc72fcc982c.png?1605220511",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "ana",
        :collector-number "29",
        :name "Swamp",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/9871fe09-3f11-43bf-846a-2b987b967ad1.png?1605220498",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "ana",
        :collector-number "30",
        :name "Mountain",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/e/4ed9a0f3-ac62-4fab-9a62-c6834648ecfc.png?1605220755",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "ana",
        :collector-number "31",
        :name "Mountain",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d61686f3-4661-46e6-b375-bc29c193d9af.png?1605220762",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "ana",
        :collector-number "32",
        :name "Mountain",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e2ada787-3c09-408c-a98f-7595faaa0138.png?1605220770",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "ana",
        :collector-number "33",
        :name "Forest",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/706b81a1-fb18-48ea-9947-7df6a2ca4e20.png?1605220927",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "ana",
        :collector-number "34",
        :name "Forest",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/cc81ecbe-aef8-4503-a42b-3c2e66bbed10.png?1605220942",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "ana",
        :collector-number "35",
        :name "Forest",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4c207bf4-ebed-4e89-be0f-91316307b1de.png?1605220908",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"})
