(#:card{:collector-number "1", :name "Abu Ja'far"}
 #:card{:collector-number "2", :name "Army of Allah"}
 #:card{:collector-number "3", :name "Camel"}
 #:card{:collector-number "4", :name "Eye for an Eye"}
 #:card{:collector-number "5", :name "Jihad"}
 #:card{:collector-number "6", :name "King Suleiman"}
 #:card{:collector-number "7", :name "Moorish Cavalry"}
 #:card{:collector-number "8", :name "Piety"}
 #:card{:collector-number "9", :name "Repentant Blacksmith"}
 #:card{:collector-number "10", :name "Shahrazad"}
 #:card{:collector-number "11", :name "War Elephant"}
 #:card{:collector-number "12", :name "Dandân"}
 #:card{:collector-number "13", :name "Fishliver Oil"}
 #:card{:collector-number "14", :name "Flying Men"}
 #:card{:collector-number "15", :name "Giant Tortoise"}
 #:card{:collector-number "16", :name "Island Fish Jasconius"}
 #:card{:collector-number "17", :name "Merchant Ship"}
 #:card{:collector-number "18", :name "Old Man of the Sea"}
 #:card{:collector-number "19", :name "Serendib Djinn"}
 #:card{:collector-number "20", :name "Serendib Efreet"}
 #:card{:collector-number "21", :name "Sindbad"}
 #:card{:collector-number "22", :name "Unstable Mutation"}
 #:card{:collector-number "23", :name "Cuombajj Witches"}
 #:card{:collector-number "24", :name "El-Hajjâj"}
 #:card{:collector-number "25", :name "Erg Raiders"}
 #:card{:collector-number "26", :name "Guardian Beast"}
 #:card{:collector-number "27", :name "Hasran Ogress"}
 #:card{:collector-number "28", :name "Junún Efreet"}
 #:card{:collector-number "29", :name "Juzám Djinn"}
 #:card{:collector-number "30", :name "Khabál Ghoul"}
 #:card{:collector-number "31", :name "Oubliette"}
 #:card{:collector-number "32", :name "Sorceress Queen"}
 #:card{:collector-number "33", :name "Stone-Throwing Devils"}
 #:card{:collector-number "34", :name "Aladdin"}
 #:card{:collector-number "35", :name "Ali Baba"}
 #:card{:collector-number "36", :name "Ali from Cairo"}
 #:card{:collector-number "37", :name "Bird Maiden"}
 #:card{:collector-number "38", :name "Desert Nomads"}
 #:card{:collector-number "39", :name "Hurr Jackal"}
 #:card{:collector-number "40", :name "Kird Ape"}
 #:card{:collector-number "41", :name "Magnetic Mountain"}
 #:card{:collector-number "42", :name "Mijae Djinn"}
 #:card{:collector-number "43", :name "Rukh Egg"}
 #:card{:collector-number "44", :name "Ydwen Efreet"}
 #:card{:collector-number "45", :name "Cyclone"}
 #:card{:collector-number "46", :name "Desert Twister"}
 #:card{:collector-number "47", :name "Drop of Honey"}
 #:card{:collector-number "48", :name "Erhnam Djinn"}
 #:card{:collector-number "49", :name "Ghazbán Ogre"}
 #:card{:collector-number "50", :name "Ifh-Bíff Efreet"}
 #:card{:collector-number "51", :name "Metamorphosis"}
 #:card{:collector-number "52", :name "Nafs Asp"}
 #:card{:collector-number "53", :name "Sandstorm"}
 #:card{:collector-number "54", :name "Singing Tree"}
 #:card{:collector-number "55", :name "Wyluli Wolf"}
 #:card{:collector-number "56", :name "Aladdin's Lamp"}
 #:card{:collector-number "57", :name "Aladdin's Ring"}
 #:card{:collector-number "58", :name "Bottle of Suleiman"}
 #:card{:collector-number "59", :name "Brass Man"}
 #:card{:collector-number "60", :name "City in a Bottle"}
 #:card{:collector-number "61", :name "Dancing Scimitar"}
 #:card{:collector-number "62", :name "Ebony Horse"}
 #:card{:collector-number "63", :name "Flying Carpet"}
 #:card{:collector-number "64", :name "Jandor's Ring"}
 #:card{:collector-number "65", :name "Jandor's Saddlebags"}
 #:card{:collector-number "66", :name "Jeweled Bird"}
 #:card{:collector-number "67", :name "Pyramids"}
 #:card{:collector-number "68", :name "Ring of Ma'rûf"}
 #:card{:collector-number "69", :name "Sandals of Abdallah"}
 #:card{:collector-number "70", :name "Bazaar of Baghdad"}
 #:card{:collector-number "71", :name "City of Brass"}
 #:card{:collector-number "72", :name "Desert"}
 #:card{:collector-number "73", :name "Diamond Valley"}
 #:card{:collector-number "74", :name "Elephant Graveyard"}
 #:card{:collector-number "75", :name "Island of Wak-Wak"}
 #:card{:collector-number "76", :name "Library of Alexandria"}
 #:card{:collector-number "77", :name "Mountain"}
 #:card{:collector-number "78", :name "Oasis"})
