(#:card{:code "cc1",
        :collector-number "1",
        :name "Freyalise, Llanowar's Fury",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/869118c9-1ebb-42a5-8020-d043ec653241.png?1610161577",
        :type-line "Legendary Planeswalker — Freyalise",
        :oracle-text
        "+2: Create a 1/1 green Elf Druid creature token with \"{T}: Add {G}.\"\n−2: Destroy target artifact or enchantment.\n−6: Draw a card for each green creature you control.\nFreyalise, Llanowar's Fury can be your commander."}
 #:card{:code "cc1",
        :collector-number "2",
        :name "Omnath, Locus of Mana",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4ce5b167-df7a-499e-8dcc-7aec2e28b382.png?1610161645",
        :type-line "Legendary Creature — Elemental",
        :oracle-text
        "You don't lose unspent green mana as steps and phases end.\nOmnath, Locus of Mana gets +1/+1 for each unspent green mana you have."}
 #:card{:code "cc1",
        :collector-number "3",
        :name "Bane of Progress",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3ea495ff-33df-406b-98e3-5579e2158bbc.png?1610161688",
        :type-line "Creature — Elemental",
        :oracle-text
        "When Bane of Progress enters the battlefield, destroy all artifacts and enchantments. Put a +1/+1 counter on Bane of Progress for each permanent destroyed this way."}
 #:card{:code "cc1",
        :collector-number "4",
        :name "Seedborn Muse",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3f5bee0f-ebc8-4f41-91ee-4eed104ad980.png?1610161744",
        :type-line "Creature — Spirit",
        :oracle-text
        "Untap all permanents you control during each other player's untap step."}
 #:card{:code "cc1",
        :collector-number "5",
        :name "Sylvan Library",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7a483778-b88b-473f-9217-7583e69b3e70.png?1610161812",
        :type-line "Enchantment",
        :oracle-text
        "At the beginning of your draw step, you may draw two additional cards. If you do, choose two cards in your hand drawn this turn. For each of those cards, pay 4 life or put the card on top of your library."}
 #:card{:code "cc1",
        :collector-number "6",
        :name "Worldly Tutor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fb6b6fbe-cb6f-4d0d-b3eb-f9629d6784b3.png?1610161852",
        :type-line "Instant",
        :oracle-text
        "Search your library for a creature card, reveal it, then shuffle and put the card on top."}
 #:card{:code "cc1",
        :collector-number "7",
        :name "Sol Ring",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/d/4d76d52c-7dd0-4d00-af84-fedae29590db.png?1610161897",
        :type-line "Artifact",
        :oracle-text "{T}: Add {C}{C}."}
 #:card{:code "cc1",
        :collector-number "8",
        :name "Command Tower",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3beb6fa5-44db-4056-b8ec-42547aa5581f.png?1610161918",
        :type-line "Land",
        :oracle-text
        "{T}: Add one mana of any color in your commander's color identity."})
