(#:card{:code "cc2",
        :collector-number "1",
        :name
        "Liliana, Heretical Healer // Liliana, Defiant Necromancer",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/d/8/d8b718d8-fca3-4b3e-9448-6067c8656a9a.png?1651951703",
          :type-line "Legendary Creature — Human Cleric",
          :oracle-text
          "Lifelink\nWhenever another nontoken creature you control dies, exile Liliana, Heretical Healer, then return her to the battlefield transformed under her owner's control. If you do, create a 2/2 black Zombie creature token."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/d/8/d8b718d8-fca3-4b3e-9448-6067c8656a9a.png?1651951703",
          :type-line "Legendary Planeswalker — Liliana",
          :oracle-text
          "+2: Each player discards a card.\n−X: Return target nonlegendary creature card with mana value X from your graveyard to the battlefield.\n−8: You get an emblem with \"Whenever a creature dies, return it to the battlefield under your control at the beginning of the next end step.\""}]}
 #:card{:type-line "Legendary Creature — Human Wizard",
        :layout-category :normal,
        :code "cc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/7/779e3944-4342-4151-9963-87e8d41fd2ff.png?1651951741",
        :collector-number "2",
        :layout "normal",
        :name "Ghoulcaller Gisa",
        :oracle-text
        "{B}, {T}, Sacrifice another creature: Create X 2/2 black Zombie creature tokens, where X is the sacrificed creature's power."}
 #:card{:type-line "Creature — Human Shaman",
        :layout-category :normal,
        :code "cc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0ef8d3a2-5c6b-41e2-aa7d-81e4a5d04421.png?1651951758",
        :collector-number "3",
        :layout "normal",
        :name "Ophiomancer",
        :oracle-text
        "At the beginning of each upkeep, if you control no Snakes, create a 1/1 black Snake creature token with deathtouch."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "cc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/4/b4142d3b-9c17-4a26-949e-3fc3e600fd1c.png?1651951779",
        :collector-number "4",
        :layout "normal",
        :name "Phyrexian Arena",
        :oracle-text
        "At the beginning of your upkeep, you draw a card and you lose 1 life."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "cc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/2/d27c6aaa-289e-451e-8fde-97a044c53fc4.png?1651951796",
        :collector-number "5",
        :layout "normal",
        :name "Reanimate",
        :oracle-text
        "Put target creature card from a graveyard onto the battlefield under your control. You lose life equal to its mana value."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "cc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/db34617f-b04f-4b65-84cf-5c5be1eb7226.png?1651951814",
        :collector-number "6",
        :layout "normal",
        :name "Toxic Deluge",
        :oracle-text
        "As an additional cost to cast this spell, pay X life.\nAll creatures get -X/-X until end of turn."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "cc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/c/acce65cc-9093-45a6-8c86-97edce545050.png?1651951840",
        :collector-number "7",
        :layout "normal",
        :name "Sol Ring",
        :oracle-text "{T}: Add {C}{C}."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "cc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5d09a20e-ee6e-44f3-9e86-d35c10e00844.png?1651951861",
        :collector-number "8",
        :layout "normal",
        :name "Command Tower",
        :oracle-text
        "{T}: Add one mana of any color in your commander's color identity."}
 #:card{:code "cc2",
        :collector-number "9",
        :name "Snake // Zombie",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/1/3/13e4832d-8530-4b85-b738-51d0c18f28ec.png?1651951882",
          :type-line "Token Creature — Snake",
          :oracle-text "Deathtouch"}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/1/3/13e4832d-8530-4b85-b738-51d0c18f28ec.png?1651951882",
          :type-line "Token Creature — Zombie",
          :oracle-text ""}]})
