(#:card{:collector-number "1", :name "Abu Ja'far"}
 #:card{:collector-number "2", :name "Akron Legionnaire"}
 #:card{:collector-number "3", :name "Angelic Voices"}
 #:card{:collector-number "4", :name "Blood of the Martyr"}
 #:card{:collector-number "5", :name "D'Avenant Archer"}
 #:card{:collector-number "6", :name "Divine Offering"}
 #:card{:collector-number "7", :name "Indestructible Aura"}
 #:card{:collector-number "8", :name "Ivory Guardians"}
 #:card{:collector-number "9", :name "Keepers of the Faith"}
 #:card{:collector-number "10", :name "Petra Sphinx"}
 #:card{:collector-number "11", :name "Repentant Blacksmith"}
 #:card{:collector-number "12", :name "Shield Wall"}
 #:card{:collector-number "13", :name "War Elephant"}
 #:card{:collector-number "14", :name "Witch Hunter"}
 #:card{:collector-number "15", :name "Azure Drake"}
 #:card{:collector-number "16", :name "Boomerang"}
 #:card{:collector-number "17", :name "Dance of Many"}
 #:card{:collector-number "18", :name "Dandân"}
 #:card{:collector-number "19", :name "Enchantment Alteration"}
 #:card{:collector-number "20", :name "Fishliver Oil"}
 #:card{:collector-number "21", :name "Flash Flood"}
 #:card{:collector-number "22", :name "Juxtapose"}
 #:card{:collector-number "23", :name "Puppet Master"}
 #:card{:collector-number "24", :name "Recall"}
 #:card{:collector-number "25", :name "Remove Soul"}
 #:card{:collector-number "26", :name "Teleport"}
 #:card{:collector-number "27", :name "Wall of Vapor"}
 #:card{:collector-number "28", :name "Wall of Wonder"}
 #:card{:collector-number "29", :name "Banshee"}
 #:card{:collector-number "30", :name "Bog Rats"}
 #:card{:collector-number "31", :name "Cuombajj Witches"}
 #:card{:collector-number "32", :name "Fallen Angel"}
 #:card{:collector-number "33", :name "Giant Slug"}
 #:card{:collector-number "34", :name "Hasran Ogress"}
 #:card{:collector-number "35", :name "Hell's Caretaker"}
 #:card{:collector-number "36", :name "Shimian Night Stalker"}
 #:card{:collector-number "37", :name "Takklemaggot"}
 #:card{:collector-number "38", :name "The Fallen"}
 #:card{:collector-number "39", :name "The Wretched"}
 #:card{:collector-number "40", :name "Transmutation"}
 #:card{:collector-number "41", :name "Wall of Shadows"}
 #:card{:collector-number "42", :name "Yawgmoth Demon"}
 #:card{:collector-number "43", :name "Active Volcano"}
 #:card{:collector-number "44", :name "Aladdin"}
 #:card{:collector-number "45", :name "Beasts of Bogardan"}
 #:card{:collector-number "46", :name "Blood Moon"}
 #:card{:collector-number "47", :name "Fire Drake"}
 #:card{:collector-number "48", :name "Goblin Artisans"}
 #:card{:collector-number "49", :name "Goblin Digging Team"}
 #:card{:collector-number "50", :name "Goblin Shrine"}
 #:card{:collector-number "51", :name "Goblins of the Flarg"}
 #:card{:collector-number "52", :name "Land's Edge"}
 #:card{:collector-number "53", :name "Mountain Yeti"}
 #:card{:collector-number "54", :name "Primordial Ooze"}
 #:card{:collector-number "55", :name "Wall of Heat"}
 #:card{:collector-number "56", :name "Wall of Opposition"}
 #:card{:collector-number "57", :name "Argothian Pixies"}
 #:card{:collector-number "58", :name "Cat Warriors"}
 #:card{:collector-number "59", :name "Cocoon"}
 #:card{:collector-number "60", :name "Concordant Crossroads"}
 #:card{:collector-number "61", :name "Craw Giant"}
 #:card{:collector-number "62", :name "Cyclone"}
 #:card{:collector-number "63", :name "Emerald Dragonfly"}
 #:card{:collector-number "64", :name "Erhnam Djinn"}
 #:card{:collector-number "65", :name "Ghazbán Ogre"}
 #:card{:collector-number "66", :name "Metamorphosis"}
 #:card{:collector-number "67", :name "Rabid Wombat"}
 #:card{:collector-number "68", :name "Revelation"}
 #:card{:collector-number "69", :name "Scavenger Folk"}
 #:card{:collector-number "70", :name "Storm Seeker"}
 #:card{:collector-number "71", :name "Arcades Sabboth"}
 #:card{:collector-number "72", :name "Axelrod Gunnarson"}
 #:card{:collector-number "73", :name "Ayesha Tanaka"}
 #:card{:collector-number "74", :name "Chromium"}
 #:card{:collector-number "75", :name "Dakkon Blackblade"}
 #:card{:collector-number "76", :name "Gabriel Angelfire"}
 #:card{:collector-number "77", :name "Johan"}
 #:card{:collector-number "78", :name "Kei Takahashi"}
 #:card{:collector-number "79", :name "Marhault Elsdragon"}
 #:card{:collector-number "80", :name "Nebuchadnezzar"}
 #:card{:collector-number "81", :name "Nicol Bolas"}
 #:card{:collector-number "82", :name "Palladia-Mors"}
 #:card{:collector-number "83", :name "Rubinia Soulsinger"}
 #:card{:collector-number "84", :name "Sivitri Scarzam"}
 #:card{:collector-number "85", :name "Sol'kanar the Swamp King"}
 #:card{:collector-number "86", :name "Stangg"}
 #:card{:collector-number "87", :name "Tobias Andrion"}
 #:card{:collector-number "88", :name "Tor Wauki"}
 #:card{:collector-number "89", :name "Vaevictis Asmadi"}
 #:card{:collector-number "90", :name "Xira Arien"}
 #:card{:collector-number "91", :name "Arena of the Ancients"}
 #:card{:collector-number "92", :name "Ashnod's Altar"}
 #:card{:collector-number "93", :name "Ashnod's Transmogrant"}
 #:card{:collector-number "94", :name "Barl's Cage"}
 #:card{:collector-number "95", :name "Book of Rass"}
 #:card{:collector-number "96", :name "Bronze Horse"}
 #:card{:collector-number "97", :name "Feldon's Cane"}
 #:card{:collector-number "98", :name "Fountain of Youth"}
 #:card{:collector-number "99", :name "Gauntlets of Chaos"}
 #:card{:collector-number "100", :name "Horn of Deafening"}
 #:card{:collector-number "101", :name "Jalum Tome"}
 #:card{:collector-number "102", :name "Jeweled Bird"}
 #:card{:collector-number "103", :name "Living Armor"}
 #:card{:collector-number "104", :name "Obelisk of Undoing"}
 #:card{:collector-number "105", :name "Rakalite"}
 #:card{:collector-number "106", :name "Runesword"}
 #:card{:collector-number "107", :name "Sentinel"}
 #:card{:collector-number "108", :name "Serpent Generator"}
 #:card{:collector-number "109", :name "Tormod's Crypt"}
 #:card{:collector-number "110", :name "Triassic Egg"}
 #:card{:collector-number "111", :name "Voodoo Doll"}
 #:card{:collector-number "112", :name "City of Brass"}
 #:card{:collector-number "113", :name "Safe Haven"}
 #:card{:collector-number "114a", :name "Urza's Mine"}
 #:card{:collector-number "114b", :name "Urza's Mine"}
 #:card{:collector-number "114c", :name "Urza's Mine"}
 #:card{:collector-number "114d", :name "Urza's Mine"}
 #:card{:collector-number "115a", :name "Urza's Power Plant"}
 #:card{:collector-number "115b", :name "Urza's Power Plant"}
 #:card{:collector-number "115c", :name "Urza's Power Plant"}
 #:card{:collector-number "115d", :name "Urza's Power Plant"}
 #:card{:collector-number "116a", :name "Urza's Tower"}
 #:card{:collector-number "116b", :name "Urza's Tower"}
 #:card{:collector-number "116c", :name "Urza's Tower"}
 #:card{:collector-number "116d", :name "Urza's Tower"})
