(#:card{:code "cm1",
        :collector-number "1",
        :name "Chaos Warp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f690eaac-11ce-4588-859e-5152b4b06b5b.png?1568580228",
        :type-line "Instant",
        :oracle-text
        "The owner of target permanent shuffles it into their library, then reveals the top card of their library. If it's a permanent card, they put it onto the battlefield."}
 #:card{:code "cm1",
        :collector-number "2",
        :name "Command Tower",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/f/bf5dafb0-4fb1-470d-85ce-88f3ae32340b.png?1568580226",
        :type-line "Land",
        :oracle-text
        "{T}: Add one mana of any color in your commander's color identity."}
 #:card{:code "cm1",
        :collector-number "3",
        :name "Decree of Pain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/03c37c68-cccf-4309-80c5-828108b942a4.png?1569957295",
        :type-line "Sorcery",
        :oracle-text
        "Destroy all creatures. They can't be regenerated. Draw a card for each creature destroyed this way.\nCycling {3}{B}{B} ({3}{B}{B}, Discard this card: Draw a card.)\nWhen you cycle Decree of Pain, all creatures get -2/-2 until end of turn."}
 #:card{:code "cm1",
        :collector-number "4",
        :name "Desertion",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/41527ad3-cf03-42f3-8786-ff39c841a8c7.png?1568580224",
        :type-line "Instant",
        :oracle-text
        "Counter target spell. If an artifact or creature spell is countered this way, put that card onto the battlefield under your control instead of into its owner's graveyard."}
 #:card{:code "cm1",
        :collector-number "5",
        :name "Diaochan, Artful Beauty",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0d5da41e-61a2-41fd-9d8e-83d51234cc71.png?1568580278",
        :type-line "Legendary Creature — Human Advisor",
        :oracle-text
        "{T}: Destroy target creature of your choice, then destroy target creature of an opponent's choice. Activate only during your turn, before attackers are declared."}
 #:card{:code "cm1",
        :collector-number "6",
        :name "Dragonlair Spider",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7c2d4e3e-2c4c-41ec-9e0b-4c70a6bdbdfd.png?1568580279",
        :type-line "Creature — Spider",
        :oracle-text
        "Reach\nWhenever an opponent casts a spell, create a 1/1 green Insect creature token."}
 #:card{:code "cm1",
        :collector-number "7",
        :name "Duplicant",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/72ddec79-76aa-4c9d-8961-ce9004e0dfa2.png?1568580280",
        :type-line "Artifact Creature — Shapeshifter",
        :oracle-text
        "Imprint — When Duplicant enters the battlefield, you may exile target nontoken creature.\nAs long as a card exiled with Duplicant is a creature card, Duplicant has the power, toughness, and creature types of the last creature card exiled with Duplicant. It's still a Shapeshifter."}
 #:card{:code "cm1",
        :collector-number "8",
        :name "Edric, Spymaster of Trest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d5f1e96a-9fa0-4a76-962d-9dcde253172f.png?1568580282",
        :type-line "Legendary Creature — Elf Rogue",
        :oracle-text
        "Whenever a creature deals combat damage to one of your opponents, its controller may draw a card."}
 #:card{:code "cm1",
        :collector-number "9",
        :name "Kaalia of the Vast",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/3/23ac8d69-dd92-43b2-b42b-a0ca97105f0e.png?1568580344",
        :type-line "Legendary Creature — Human Cleric",
        :oracle-text
        "Flying\nWhenever Kaalia of the Vast attacks an opponent, you may put an Angel, Demon, or Dragon creature card from your hand onto the battlefield tapped and attacking that opponent."}
 #:card{:code "cm1",
        :collector-number "10",
        :name "Loyal Retainers",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5b573ef7-4fce-44d6-91ec-48a62be8d21c.png?1568580345",
        :type-line "Creature — Human Advisor",
        :oracle-text
        "Sacrifice Loyal Retainers: Return target legendary creature card from your graveyard to the battlefield. Activate only during your turn, before attackers are declared."}
 #:card{:code "cm1",
        :collector-number "11",
        :name "Maelstrom Wanderer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/754994fa-cb29-487e-8772-1aa697716b35.png?1568580347",
        :type-line "Legendary Creature — Elemental",
        :oracle-text
        "Creatures you control have haste.\nCascade, cascade (When you cast this spell, exile cards from the top of your library until you exile a nonland card that costs less. You may cast it without paying its mana cost. Put the exiled cards on the bottom of your library in a random order. Then do it again.)"}
 #:card{:code "cm1",
        :collector-number "12",
        :name "The Mimeoplasm",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/96bddc7e-6dab-4ea8-a474-ed9b28ff1457.png?1568580404",
        :type-line "Legendary Creature — Ooze",
        :oracle-text
        "As The Mimeoplasm enters the battlefield, you may exile two creature cards from graveyards. If you do, it enters the battlefield as a copy of one of those cards with a number of additional +1/+1 counters on it equal to the power of the other card."}
 #:card{:code "cm1",
        :collector-number "13",
        :name "Mind's Eye",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fdac5c59-f148-4037-8cf3-30a09ba8339c.png?1568580347",
        :type-line "Artifact",
        :oracle-text
        "Whenever an opponent draws a card, you may pay {1}. If you do, draw a card."}
 #:card{:code "cm1",
        :collector-number "14",
        :name "Mirari's Wake",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0e18504b-33f7-4cdc-916e-858cf804d8b2.png?1568580399",
        :type-line "Enchantment",
        :oracle-text
        "Creatures you control get +1/+1.\nWhenever you tap a land for mana, add one mana of any type that land produced."}
 #:card{:code "cm1",
        :collector-number "15",
        :name "Rhystic Study",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/03ac9b21-8c79-49ec-a0df-0fd22e4a0ed7.png?1592487897",
        :type-line "Enchantment",
        :oracle-text
        "Whenever an opponent casts a spell, you may draw a card unless that player pays {1}."}
 #:card{:code "cm1",
        :collector-number "16",
        :name "Scroll Rack",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/47a832ae-0a8d-4710-8341-a1b3e3dbf763.png?1568580402",
        :type-line "Artifact",
        :oracle-text
        "{1}, {T}: Exile any number of cards from your hand face down. Put that many cards from the top of your library into your hand. Then look at the exiled cards and put them on top of your library in any order."}
 #:card{:code "cm1",
        :collector-number "17",
        :name "Sylvan Library",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/3003d481-1b52-4aa9-bbdc-e948fbc8d49d.png?1568580404",
        :type-line "Enchantment",
        :oracle-text
        "At the beginning of your draw step, you may draw two additional cards. If you do, choose two cards in your hand drawn this turn. For each of those cards, pay 4 life or put the card on top of your library."}
 #:card{:code "cm1",
        :collector-number "18",
        :name "Vela the Night-Clad",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/d/ad3b9760-4bc7-4e69-8795-ff9abba11162.png?1568580405",
        :type-line "Legendary Creature — Human Wizard",
        :oracle-text
        "Intimidate (This creature can't be blocked except by artifact creatures and/or creatures that share a color with it.)\nOther creatures you control have intimidate.\nWhenever Vela the Night-Clad or another creature you control leaves the battlefield, each opponent loses 1 life."})
