(#:card{:type-line "Creature — Human Druid",
        :layout-category :normal,
        :code "cp3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/c/5c0a3339-6fde-41c1-aefd-18fdd6208718.png?1561757230",
        :collector-number "1",
        :layout "normal",
        :name "Honored Hierarch",
        :oracle-text
        "Renown 1 (When this creature deals combat damage to a player, if it isn't renowned, put a +1/+1 counter on it and it becomes renowned.)\nAs long as Honored Hierarch is renowned, it has vigilance and \"{T}: Add one mana of any color.\""}
 #:card{:type-line "Creature — Human Warrior",
        :layout-category :normal,
        :code "cp3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b1e50811-048f-4dc6-a453-a5e36f3eb0a0.png?1561757837",
        :collector-number "2",
        :layout "normal",
        :name "Seeker of the Way",
        :oracle-text
        "Prowess (Whenever you cast a noncreature spell, this creature gets +1/+1 until end of turn.)\nWhenever you cast a noncreature spell, Seeker of the Way gains lifelink until end of turn."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "cp3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f482213a-4e3e-4e13-82a1-88e7d6c4ba2c.png?1561758433",
        :collector-number "3",
        :layout "normal",
        :name "Valorous Stance",
        :oracle-text
        "Choose one —\n• Target creature gains indestructible until end of turn. (Damage and effects that say \"destroy\" don't destroy it.)\n• Destroy target creature with toughness 4 or greater."}
 #:card{:type-line "Legendary Creature — Dragon",
        :layout-category :normal,
        :code "cp3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/4/04e19ddc-0d13-4540-a399-73258f741bb2.png?1561756592",
        :collector-number "4",
        :layout "normal",
        :name "Dromoka, the Eternal",
        :oracle-text
        "Flying\nWhenever a Dragon you control attacks, bolster 2. (Choose a creature with the least toughness among creatures you control and put two +1/+1 counters on it.)"}
 #:card{:type-line "Creature — Rhino",
        :layout-category :normal,
        :code "cp3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5a232a87-f8d2-4c91-99ee-2060796df09b.png?1561757201",
        :collector-number "5",
        :layout "normal",
        :name "Siege Rhino",
        :oracle-text
        "Trample\nWhen Siege Rhino enters the battlefield, each opponent loses 3 life and you gain 3 life."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "cp3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7ce265fa-1b23-4d03-8675-6c9447d31115.png?1561757459",
        :collector-number "6",
        :layout "normal",
        :name "Sandsteppe Citadel",
        :oracle-text
        "Sandsteppe Citadel enters the battlefield tapped.\n{T}: Add {W}, {B}, or {G}."})
