(#:card{:type-line "Creature — Human Soldier",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/45145931-16e8-4401-9d67-57856ffef0dc.png?1593274544",
        :collector-number "8",
        :layout "normal",
        :name "Kjeldoran Home Guard",
        :oracle-text
        "At end of combat, if Kjeldoran Home Guard attacked or blocked this combat, put a -0/-1 counter on Kjeldoran Home Guard and create a 0/1 white Deserter creature token."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3f7dd641-6144-470e-b066-6233580c8e7f.png?1593274553",
        :collector-number "9b",
        :layout "normal",
        :name "Kjeldoran Pride",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +1/+2.\n{2}{U}: Attach Kjeldoran Pride to target creature other than enchanted creature."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cd7bd7d8-dd3b-4da0-a906-74f7fc1b16bb.png?1593274560",
        :collector-number "12b",
        :layout "normal",
        :name "Reinforcements",
        :oracle-text
        "Put up to three target creature cards from your graveyard on top of your library."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/c/5c5e4b4f-e1bb-4ed4-a658-6a896dbfb60f.png?1593274569",
        :collector-number "16",
        :layout "normal",
        :name "Scars of the Veteran",
        :oracle-text
        "You may exile a white card from your hand rather than pay this spell's mana cost.\nPrevent the next 7 damage that would be dealt to any target this turn. If it's a creature, put a +0/+1 counter on it for each 1 damage prevented this way at the beginning of the next end step."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5bf78a74-fd75-4367-a034-7327d928c82f.png?1595075879",
        :collector-number "20",
        :layout "normal",
        :name "Disenchant",
        :oracle-text "Destroy target artifact or enchantment."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/3611f9dc-f129-4a9f-a251-1185248f8f16.png?1616405000",
        :collector-number "25",
        :layout "normal",
        :name "Browse",
        :oracle-text
        "{2}{U}{U}: Look at the top five cards of your library, put one of them into your hand, and exile the rest."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/a/aaac5b37-20a7-4dae-b0f7-04f5cb1e1532.png?1593274589",
        :collector-number "30b",
        :layout "normal",
        :name "Lat-Nam's Legacy",
        :oracle-text
        "Shuffle a card from your hand into your library. If you do, draw two cards at the beginning of the next turn's upkeep."}
 #:card{:type-line "Creature — Human Soldier",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/d/6d6c998f-aae9-4467-ad55-6a107cc18946.png?1593274595",
        :collector-number "34",
        :layout "normal",
        :name "Kjeldoran Elite Guard",
        :oracle-text
        "{T}: Target creature gets +2/+2 until end of turn. When that creature leaves the battlefield this turn, sacrifice Kjeldoran Elite Guard. Activate only during combat."}
 #:card{:type-line "Creature — Elemental",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3ba391bb-1bc2-4d4f-b415-ed99d176c29f.png?1593274601",
        :collector-number "37",
        :layout "normal",
        :name "Storm Elemental",
        :oracle-text
        "Flying\n{U}, Exile the top card of your library: Tap target creature with flying.\n{U}, Exile the top card of your library: If the exiled card is a snow land, Storm Elemental gets +1/+1 until end of turn."}
 #:card{:type-line "Creature — Homarid Drone",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6ef8e1b3-b423-4ee6-a7fc-098f86e2fd9d.png?1593274608",
        :collector-number "42",
        :layout "normal",
        :name "Viscerid Drone",
        :oracle-text
        "{T}, Sacrifice a creature and a Swamp: Destroy target nonartifact creature. It can't be regenerated.\n{T}, Sacrifice a creature and a snow Swamp: Destroy target creature. It can't be regenerated."}
 #:card{:type-line "Creature — Zombie",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3c6d3187-6994-4d8e-aa7f-3829ef74a5e5.png?1593274615",
        :collector-number "43",
        :layout "normal",
        :name "Balduvian Dead",
        :oracle-text
        "{2}{R}, Exile a creature card from your graveyard: Create a 3/1 black and red Graveborn creature token with haste. Sacrifice it at the beginning of the next end step."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/0/6038cfda-4176-452f-8a9f-4541fe947f98.png?1593274622",
        :collector-number "44b",
        :layout "normal",
        :name "Casting of Bones",
        :oracle-text
        "Enchant creature\nWhen enchanted creature dies, draw three cards, then discard one of them."}
 #:card{:type-line "Creature — Worm",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/36b443bf-74d4-4225-97b6-e9c3ca756cd2.png?1593274629",
        :collector-number "51a",
        :layout "normal",
        :name "Insidious Bookworms",
        :oracle-text
        "When Insidious Bookworms dies, you may pay {1}{B}. If you do, target player discards a card at random."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7d751566-7246-4580-9a12-0fd1d6c8b5e8.png?1616400403",
        :collector-number "54",
        :layout "normal",
        :name "Swords to Plowshares",
        :oracle-text
        "Exile target creature. Its controller gains life equal to its power."}
 #:card{:type-line "Creature — Illusion",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cf96bea5-6d59-4895-84d0-664b2babb17e.png?1593274641",
        :collector-number "57a",
        :layout "normal",
        :name "Phantasmal Fiend",
        :oracle-text
        "{B}: Phantasmal Fiend gets +1/-1 until end of turn.\n{1}{U}: Switch Phantasmal Fiend's power and toughness until end of turn."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d47a0d56-d8a9-4634-bf89-925a5c40342a.png?1616400626",
        :collector-number "60",
        :layout "normal",
        :name "Binding Grasp",
        :oracle-text
        "Enchant creature\nAt the beginning of your upkeep, sacrifice Binding Grasp unless you pay {1}{U}.\nYou control enchanted creature.\nEnchanted creature gets +0/+1."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d6642652-5284-45e0-8d21-bead3b9ed033.png?1616400212",
        :collector-number "61",
        :layout "normal",
        :name "Brainstorm",
        :oracle-text
        "Draw three cards, then put two cards from your hand on top of your library in any order."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4c5392d3-a973-48d3-adb9-c389706be75a.png?1593274660",
        :collector-number "69",
        :layout "normal",
        :name "Essence Flare",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +2/+0.\nAt the beginning of the upkeep of enchanted creature's controller, put a -0/-1 counter on that creature."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/ed140e5c-7e8c-4200-ad41-60ac39db8ed3.png?1593274666",
        :collector-number "70",
        :layout "normal",
        :name "Death Spark",
        :oracle-text
        "Death Spark deals 1 damage to any target.\nAt the beginning of your upkeep, if Death Spark is in your graveyard with a creature card directly above it, you may pay {1}. If you do, return Death Spark to your hand."}
 #:card{:type-line "Creature — Ape Shaman",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/8/a8ab17ef-a5c4-4485-aa27-0f71782f02d5.png?1624326696",
        :collector-number "72a",
        :layout "normal",
        :name "Gorilla Shaman",
        :oracle-text
        "{X}{X}{1}: Destroy target noncreature artifact with mana value X."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/5/850f70ed-a049-4d45-afb6-aadbe8ce9c77.png?1593274677",
        :collector-number "73",
        :layout "normal",
        :name "Iceberg",
        :oracle-text
        "Iceberg enters the battlefield with X ice counters on it.\n{3}: Put an ice counter on Iceberg.\nRemove an ice counter from Iceberg: Add {C}."}
 #:card{:type-line "Creature — Illusion",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a4cfa901-c296-426e-b7a1-084150d4a13b.png?1616400644",
        :collector-number "84",
        :layout "normal",
        :name "Mistfolk",
        :oracle-text
        "{U}: Counter target spell that targets Mistfolk."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0bec96b8-2903-4d7a-9ee7-3ca6bde9794a.png?1593274690",
        :collector-number "85",
        :layout "normal",
        :name "Bounty of the Hunt",
        :oracle-text
        "You may exile a green card from your hand rather than pay this spell's mana cost.\nDistribute three +1/+1 counters among one, two, or three target creatures. For each +1/+1 counter you put on a creature this way, remove a +1/+1 counter from that creature at the beginning of the next cleanup step."}
 #:card{:type-line "Creature — Insect",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/8/d8222dd3-12fa-4c4c-baf4-46eb6e07289c.png?1593274695",
        :collector-number "86a",
        :layout "normal",
        :name "Deadly Insect",
        :oracle-text
        "Shroud (This creature can't be the target of spells or abilities.)"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/1/2168990d-7dec-4eee-a609-09a6c8b5766d.png?1593274701",
        :collector-number "90",
        :layout "normal",
        :name "Portent",
        :oracle-text
        "Look at the top three cards of target player's library, then put them back in any order. You may have that player shuffle.\nDraw a card at the beginning of the next turn's upkeep."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/beeb0d0e-1863-4b00-9de5-390dc77d1bda.png?1616400659",
        :collector-number "100",
        :layout "normal",
        :name "Snow Devil",
        :oracle-text
        "Enchant creature\nEnchanted creature has flying.\nEnchanted creature has first strike as long as it's blocking and you control a snow land."}
 #:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/56e2ee87-98a6-4918-9ed6-d27ea67c4406.png?1593274713",
        :collector-number "112",
        :layout "normal",
        :name "Zuran Spellcaster",
        :oracle-text
        "{T}: Zuran Spellcaster deals 1 damage to any target."}
 #:card{:type-line "Creature — Zombie",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/1/214db426-3479-4d16-945e-dfec81ea7839.png?1593274719",
        :collector-number "114",
        :layout "normal",
        :name "Ashen Ghoul",
        :oracle-text
        "Haste\n{B}: Return Ashen Ghoul from your graveyard to the battlefield. Activate only during your upkeep and only if three or more creature cards are above Ashen Ghoul."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/684c5683-6cef-430d-89d2-d9a1cd9f78fa.png?1593274725",
        :collector-number "119",
        :layout "normal",
        :name "Dark Banishing",
        :oracle-text
        "Destroy target nonblack creature. It can't be regenerated."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/8/78f5ebe1-4ee2-4719-b897-9e829f8f87d9.png?1593274731",
        :collector-number "120",
        :layout "normal",
        :name "Dark Ritual",
        :oracle-text "Add {B}{B}{B}."}
 #:card{:type-line "Creature — Wall",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bd522ac0-f512-42ab-9406-97407871dd31.png?1593274737",
        :collector-number "123",
        :layout "normal",
        :name "Drift of the Dead",
        :oracle-text
        "Defender (This creature can't attack.)\nDrift of the Dead's power and toughness are each equal to the number of snow lands you control."}
 #:card{:type-line "Creature — Zombie",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3cb85ce7-8029-45fe-8b24-8454aee898a2.png?1593274742",
        :collector-number "127",
        :layout "normal",
        :name "Gangrenous Zombies",
        :oracle-text
        "{T}, Sacrifice Gangrenous Zombies: Gangrenous Zombies deals 1 damage to each creature and each player. If you control a snow Swamp, Gangrenous Zombies deals 2 damage to each creature and each player instead."}
 #:card{:type-line "Creature — Skeleton",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e3c053ce-9ab2-4077-92ac-26ccce267a58.png?1593274748",
        :collector-number "137",
        :layout "normal",
        :name "Kjeldoran Dead",
        :oracle-text
        "When Kjeldoran Dead enters the battlefield, sacrifice a creature.\n{B}: Regenerate Kjeldoran Dead."}
 #:card{:type-line "Creature — Zombie",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/24643345-5320-46f7-8116-05325af884e4.png?1593274754",
        :collector-number "142",
        :layout "normal",
        :name "Legions of Lim-Dûl",
        :oracle-text
        "Snow swampwalk (This creature can't be blocked as long as defending player controls a snow Swamp.)"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/0/c00a3f47-9f61-45ed-8b4c-5212ca434801.png?1593274760",
        :collector-number "161",
        :layout "normal",
        :name "Soul Burn",
        :oracle-text
        "Spend only black and/or red mana on X.\nSoul Burn deals X damage to any target. You gain life equal to the damage dealt, but not more than the amount of {B} spent on X, the player's life total before the damage was dealt, the planeswalker's loyalty before the damage was dealt, or the creature's toughness."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/92b4fc51-752d-4e98-b26d-47881bb37744.png?1593274766",
        :collector-number "194",
        :layout "normal",
        :name "Incinerate",
        :oracle-text
        "Incinerate deals 3 damage to any target. A creature dealt damage this way can't be regenerated this turn."}
 #:card{:type-line "Creature — Orc Cleric",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/064945e1-f061-44a3-9477-d88ef907646c.png?1593274772",
        :collector-number "208",
        :layout "normal",
        :name "Orcish Healer",
        :oracle-text
        "{R}{R}, {T}: Target creature can't be regenerated this turn.\n{B}{B}{R}, {T}: Regenerate target black or green creature.\n{R}{G}{G}, {T}: Regenerate target black or green creature."}
 #:card{:type-line "Creature — Orc",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/55a86b6f-3cf1-4b1a-b8f8-a98ce5b057be.png?1593274778",
        :collector-number "210",
        :layout "normal",
        :name "Orcish Lumberjack",
        :oracle-text
        "{T}, Sacrifice a Forest: Add three mana in any combination of {R} and/or {G}."}
 #:card{:type-line "Creature — Aurochs",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/35ec940e-093f-40a9-9fc3-8f7d96af446b.png?1597365488",
        :collector-number "225",
        :layout "normal",
        :name "Aurochs",
        :oracle-text
        "Trample\nWhenever Aurochs attacks, it gets +1/+0 until end of turn for each other attacking Aurochs."}
 #:card{:type-line "Creature — Plant Wall",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/1/d17942f1-46d5-4c0e-904c-226c63f0a343.png?1593274790",
        :collector-number "270",
        :layout "normal",
        :name "Tinder Wall",
        :oracle-text
        "Defender (This creature can't attack.)\nSacrifice Tinder Wall: Add {R}{R}.\n{R}, Sacrifice Tinder Wall: It deals 2 damage to target creature it's blocking."}
 #:card{:type-line "Creature — Elephant",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/47435a8d-b849-4af4-b6da-5ed376bad7af.png?1593274796",
        :collector-number "278",
        :layout "normal",
        :name "Woolly Mammoths",
        :oracle-text
        "Woolly Mammoths has trample as long as you control a snow land."}
 #:card{:type-line "Creature — Spider",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/43b588cf-be57-48af-a2fd-d615bf5bf9af.png?1593274803",
        :collector-number "293",
        :layout "normal",
        :name "Giant Trap Door Spider",
        :oracle-text
        "{1}{R}{G}, {T}: Exile Giant Trap Door Spider and target creature without flying that's attacking you."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/9/49ec1802-0bac-47fa-9860-82dd1a147e87.png?1593274809",
        :collector-number "305",
        :layout "normal",
        :name "Wings of Aesthir",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +1/+0 and has flying and first strike."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/d/6d18593a-a839-419f-ab6d-c7b9b3cde816.png?1593274816",
        :collector-number "310",
        :layout "normal",
        :name "Arcum's Weathervane",
        :oracle-text
        "{2}, {T}: Target snow land is no longer snow.\n{2}, {T}: Target nonsnow basic land becomes snow."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/326e178c-29dd-4c2d-a888-fefec04d1be7.png?1593274822",
        :collector-number "312",
        :layout "normal",
        :name "Barbed Sextant",
        :oracle-text
        "{1}, {T}, Sacrifice Barbed Sextant: Add one mana of any color. Draw a card at the beginning of the next turn's upkeep."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6c1e2ca0-7bb1-45eb-a57d-a8f00f5293a1.png?1593274830",
        :collector-number "336",
        :layout "normal",
        :name "Skull Catapult",
        :oracle-text
        "{1}, {T}, Sacrifice a creature: Skull Catapult deals 2 damage to any target."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/752a5d93-b98b-424e-9bbe-f22327484adf.png?1593274841",
        :collector-number "349",
        :layout "normal",
        :name "Whalebone Glider",
        :oracle-text
        "{2}, {T}: Target creature with power 3 or less gains flying until end of turn."}
 #:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/0/80676865-6746-4017-981f-332c84a046f1.png?1593274857",
        :collector-number "369",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/a/aa8527ad-0714-43e9-9044-7964cd75aeea.png?1593274867",
        :collector-number "370",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/bef7df1c-edca-4cf1-839a-aa0affaa8ae8.png?1593274874",
        :collector-number "371",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/9906c400-7435-4526-a4bf-b4237d8efcac.png?1593274882",
        :collector-number "372",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f9c03edc-fb93-466b-a0a2-feb914ffc0ea.png?1593274888",
        :collector-number "373",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/e/7e0ce735-3a7e-4f23-93eb-86e01ba2897f.png?1593274895",
        :collector-number "374",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/2/827531d3-e7f8-4cd8-9608-fa6bd23e0bba.png?1593274905",
        :collector-number "375",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/83ac3a93-85ca-42bc-b65b-cbe13d5580c8.png?1593274916",
        :collector-number "376",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/9/0974b9b7-544f-429f-be4b-eb37600079c2.png?1593274925",
        :collector-number "377",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c7fa876-5ee3-4dd8-9576-6b01af08fc11.png?1593274933",
        :collector-number "378",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5f034749-e6d3-48e6-9f30-29e9596f3eaf.png?1593274939",
        :collector-number "379",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3cdae58f-6b7c-4995-b9ac-ac7bf26331ce.png?1593274947",
        :collector-number "380",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fa80d49d-29a0-4478-8e2f-61faf8bb7cb3.png?1593274953",
        :collector-number "381",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/244bcd8e-02ff-4caf-a41e-6c4da8b2dc13.png?1593274959",
        :collector-number "382",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "cst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c4f3114c-4b81-4c5d-9e6a-c57bc4f5f1c0.png?1593274964",
        :collector-number "383",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"})
