(#:card{:type-line "Creature — Elf",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/410131ea-a036-4606-9234-fe13931cad66.png?1562908446",
        :collector-number "1",
        :layout "normal",
        :name "Ambush Commander",
        :oracle-text
        "Forests you control are 1/1 green Elf creatures that are still lands.\n{1}{G}, Sacrifice an Elf: Target creature gets +3/+3 until end of turn."}
 #:card{:type-line "Creature — Elf Warrior",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/8/d8e9124f-760b-48f1-9926-34d2f040da99.png?1562940822",
        :collector-number "2",
        :layout "normal",
        :name "Allosaurus Rider",
        :oracle-text
        "You may exile two green cards from your hand rather than pay this spell's mana cost.\nAllosaurus Rider's power and toughness are each equal to 1 plus the number of lands you control."}
 #:card{:type-line "Creature — Elf Shaman",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2cea5560-b0ab-4f11-bc32-1c1fc31f63cf.png?1562904414",
        :collector-number "3",
        :layout "normal",
        :name "Elvish Eulogist",
        :oracle-text
        "Sacrifice Elvish Eulogist: You gain 1 life for each Elf card in your graveyard."}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/f/2f9bb6a2-a1ea-4ff5-b9d9-6b8794a90633.png?1562905011",
        :collector-number "4",
        :layout "normal",
        :name "Elvish Harbinger",
        :oracle-text
        "When Elvish Harbinger enters the battlefield, you may search your library for an Elf card, reveal it, then shuffle and put that card on top.\n{T}: Add one mana of any color."}
 #:card{:type-line "Creature — Elf Warrior",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4bd9c030-3940-4e55-9ed1-e89fa6209cc0.png?1562910894",
        :collector-number "5",
        :layout "normal",
        :name "Elvish Warrior",
        :oracle-text ""}
 #:card{:type-line "Creature — Elf",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/41c73d74-6a36-4aa0-a340-4d376b080d37.png?1562908613",
        :collector-number "6",
        :layout "normal",
        :name "Gempalm Strider",
        :oracle-text
        "Cycling {2}{G}{G} ({2}{G}{G}, Discard this card: Draw a card.)\nWhen you cycle Gempalm Strider, Elf creatures get +2/+2 until end of turn."}
 #:card{:type-line "Creature — Elf Avatar",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/16f8f90e-3fd6-40b8-a49d-358221d1a7b7.png?1562899826",
        :collector-number "7",
        :layout "normal",
        :name "Heedless One",
        :oracle-text
        "Trample\nHeedless One's power and toughness are each equal to the number of Elves on the battlefield."}
 #:card{:type-line "Creature — Elf Warrior",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/6/663fe57a-3cbd-4ff3-8c97-93865134133a.png?1562916391",
        :collector-number "8",
        :layout "normal",
        :name "Imperious Perfect",
        :oracle-text
        "Other Elves you control get +1/+1.\n{G}, {T}: Create a 1/1 green Elf Warrior creature token."}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/6/a6971b0a-274c-444c-aea8-5e114b4aecdd.png?1562930098",
        :collector-number "9",
        :layout "normal",
        :name "Llanowar Elves",
        :oracle-text "{T}: Add {G}."}
 #:card{:type-line "Creature — Elf Warrior",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/aba76b0a-2d1a-4cec-95e9-f90427d3e884.png?1562931225",
        :collector-number "10",
        :layout "normal",
        :name "Lys Alana Huntmaster",
        :oracle-text
        "Whenever you cast an Elf spell, you may create a 1/1 green Elf Warrior creature token."}
 #:card{:type-line "Creature — Elf Mutant",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fd880293-6277-4458-bd1e-bf14c235d0a1.png?1562948712",
        :collector-number "11",
        :layout "normal",
        :name "Stonewood Invoker",
        :oracle-text
        "{7}{G}: Stonewood Invoker gets +5/+5 until end of turn."}
 #:card{:type-line "Creature — Elf",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/37052ca2-be5f-4384-8359-20bb902f081a.png?1562906580",
        :collector-number "12",
        :layout "normal",
        :name "Sylvan Messenger",
        :oracle-text
        "Trample (This creature can deal excess combat damage to the player or planeswalker it's attacking.)\nWhen Sylvan Messenger enters the battlefield, reveal the top four cards of your library. Put all Elf cards revealed this way into your hand and the rest on the bottom of your library in any order."}
 #:card{:type-line "Creature — Elf",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dda7676d-a12e-4d66-9522-19b871846498.png?1562941760",
        :collector-number "13",
        :layout "normal",
        :name "Timberwatch Elf",
        :oracle-text
        "{T}: Target creature gets +X/+X until end of turn, where X is the number of Elves on the battlefield."}
 #:card{:type-line "Creature — Elf",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/e/4ef358f9-917c-4a17-85a3-4664cfa53225.png?1562911544",
        :collector-number "14",
        :layout "normal",
        :name "Voice of the Woods",
        :oracle-text
        "Tap five untapped Elves you control: Create a 7/7 green Elemental creature token with trample."}
 #:card{:type-line "Creature — Elf",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a3378a5c-c661-4a0c-9d19-7da0d283bfeb.png?1562929383",
        :collector-number "15",
        :layout "normal",
        :name "Wellwisher",
        :oracle-text
        "{T}: You gain 1 life for each Elf on the battlefield."}
 #:card{:type-line "Creature — Elf",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f6c6476e-c406-451d-9d47-9d0d885f4cbb.png?1562947061",
        :collector-number "16",
        :layout "normal",
        :name "Wirewood Herald",
        :oracle-text
        "When Wirewood Herald dies, you may search your library for an Elf card, reveal that card, put it into your hand, then shuffle."}
 #:card{:type-line "Creature — Insect",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/6/76a9bcfc-a567-4d5d-ad2c-31ba2686edff.png?1562919963",
        :collector-number "17",
        :layout "normal",
        :name "Wirewood Symbiote",
        :oracle-text
        "Return an Elf you control to its owner's hand: Untap target creature. Activate only once each turn."}
 #:card{:type-line "Creature — Elf Scout",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/7/d77fad7e-ae1f-45d2-aa0a-65a3591803d0.png?1562940570",
        :collector-number "18",
        :layout "normal",
        :name "Wood Elves",
        :oracle-text
        "When Wood Elves enters the battlefield, search your library for a Forest card, put that card onto the battlefield, then shuffle."}
 #:card{:type-line "Creature — Elf Warrior",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/dbbb2798-e679-4807-b2bd-01d7d79191dc.png?1562941396",
        :collector-number "19",
        :layout "normal",
        :name "Wren's Run Vanquisher",
        :oracle-text
        "As an additional cost to cast this spell, reveal an Elf card from your hand or pay {3}.\nDeathtouch (Any amount of damage this deals to a creature is enough to destroy it.)"}
 #:card{:type-line "Tribal Sorcery — Elf",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e8534c3b-440e-4c13-a27d-819bb325c0e6.png?1562944019",
        :collector-number "20",
        :layout "normal",
        :name "Elvish Promenade",
        :oracle-text
        "Create a 1/1 green Elf Warrior creature token for each Elf you control."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8d68d4c8-854c-45bd-a6c0-2f4e686c7943.png?1562924853",
        :collector-number "21",
        :layout "normal",
        :name "Giant Growth",
        :oracle-text "Target creature gets +3/+3 until end of turn."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/ebbd37bc-1df2-49b3-87e1-603ca5cf0707.png?1562944723",
        :collector-number "22",
        :layout "normal",
        :name "Harmonize",
        :oracle-text "Draw three cards."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/0/90c061a8-6a21-4b9f-b32f-780e98f51289.png?1562925500",
        :collector-number "23",
        :layout "normal",
        :name "Wildsize",
        :oracle-text
        "Target creature gets +2/+2 and gains trample until end of turn.\nDraw a card."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/a/aae8b50b-4ea2-48e0-bf49-4e4da8b629db.png?1562931048",
        :collector-number "24",
        :layout "normal",
        :name "Moonglove Extract",
        :oracle-text
        "Sacrifice Moonglove Extract: It deals 2 damage to any target."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c64a4da1-477d-4452-92f4-0ec2b1fea22d.png?1562936918",
        :collector-number "25",
        :layout "normal",
        :name "Slate of Ancestry",
        :oracle-text
        "{4}, {T}, Discard your hand: Draw a card for each creature you control."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/152af97e-28d2-4461-962a-15145d66b1d1.png?1562899444",
        :collector-number "26",
        :layout "normal",
        :name "Wirewood Lodge",
        :oracle-text "{T}: Add {C}.\n{G}, {T}: Untap target Elf."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/54bb1db6-8ec1-433a-a10a-95c38db191ae.png?1562912680",
        :collector-number "27",
        :layout "normal",
        :name "Tranquil Thicket",
        :oracle-text
        "Tranquil Thicket enters the battlefield tapped.\n{T}: Add {G}.\nCycling {G} ({G}, Discard this card: Draw a card.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fd638d4c-c064-44aa-9a9b-86c0dd1c4728.png?1562948683",
        :collector-number "28",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7d850739-d53e-48bc-8628-830aa74ab60c.png?1562921438",
        :collector-number "29",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/61d81153-4eca-4475-82dc-5d8bc1343432.png?1562915403",
        :collector-number "30",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/91c4bd58-d32b-4d6b-b0e0-9be09c9e50dc.png?1562925798",
        :collector-number "31",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fa42fbbe-3f3a-4bfa-8d5d-9961c30aec13.png?1562947975",
        :collector-number "32",
        :layout "normal",
        :name "Siege-Gang Commander",
        :oracle-text
        "When Siege-Gang Commander enters the battlefield, create three 1/1 red Goblin creature tokens.\n{1}{R}, Sacrifice a Goblin: Siege-Gang Commander deals 2 damage to any target."}
 #:card{:type-line "Creature — Goblin Shaman",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e25f5846-3832-42ba-a2bd-c2a29ed12e41.png?1562942734",
        :collector-number "33",
        :layout "normal",
        :name "Akki Coalflinger",
        :oracle-text
        "First strike\n{R}, {T}: Attacking creatures gain first strike until end of turn."}
 #:card{:type-line "Creature — Insect",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/c/ecf8b20d-865d-467b-822b-5de5dcfb614b.png?1562944944",
        :collector-number "34",
        :layout "normal",
        :name "Clickslither",
        :oracle-text
        "Haste\nSacrifice a Goblin: Clickslither gets +2/+2 and gains trample until end of turn."}
 #:card{:type-line "Creature — Goblin Shaman",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/9/6967d7db-508e-4644-94cd-5d1b2946724f.png?1562917038",
        :collector-number "35",
        :layout "normal",
        :name "Emberwilde Augur",
        :oracle-text
        "Sacrifice Emberwilde Augur: It deals 3 damage to target player or planeswalker. Activate only during your upkeep."}
 #:card{:type-line "Creature — Goblin Mutant",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/05deca0b-3d18-453e-93f1-bf284e1ca2f9.png?1562896233",
        :collector-number "36",
        :layout "normal",
        :name "Flamewave Invoker",
        :oracle-text
        "{7}{R}: Flamewave Invoker deals 5 damage to target player or planeswalker."}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c8bbb06d-147c-4423-8bbd-e47a1f0a85aa.png?1562937396",
        :collector-number "37",
        :layout "normal",
        :name "Gempalm Incinerator",
        :oracle-text
        "Cycling {1}{R} ({1}{R}, Discard this card: Draw a card.)\nWhen you cycle Gempalm Incinerator, you may have it deal X damage to target creature, where X is the number of Goblins on the battlefield."}
 #:card{:type-line "Creature — Goblin Warrior",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06e49882-550d-47f6-9426-090c6e562e60.png?1562896462",
        :collector-number "38",
        :layout "normal",
        :name "Goblin Cohort",
        :oracle-text
        "Goblin Cohort can't attack unless you've cast a creature spell this turn."}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/92254a56-9198-4ac8-8ea0-7bcca7de0e2a.png?1562925874",
        :collector-number "39",
        :layout "normal",
        :name "Goblin Matron",
        :oracle-text
        "When Goblin Matron enters the battlefield, you may search your library for a Goblin card, reveal that card, put it into your hand, then shuffle."}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cf439bf6-f973-4e0f-8979-084d9a544b34.png?1562938834",
        :collector-number "40",
        :layout "normal",
        :name "Goblin Ringleader",
        :oracle-text
        "Haste (This creature can attack and {T} as soon as it comes under your control.)\nWhen Goblin Ringleader enters the battlefield, reveal the top four cards of your library. Put all Goblin cards revealed this way into your hand and the rest on the bottom of your library in any order."}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0e15b76b-5de6-41c0-badf-fbc0bd2e246a.png?1562897883",
        :collector-number "41",
        :layout "normal",
        :name "Goblin Sledder",
        :oracle-text
        "Sacrifice a Goblin: Target creature gets +1/+1 until end of turn."}
 #:card{:type-line "Creature — Goblin Warrior",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/43227330-f863-4bd9-81c8-12b0f8865ca3.png?1562908882",
        :collector-number "42",
        :layout "normal",
        :name "Goblin Warchief",
        :oracle-text
        "Goblin spells you cast cost {1} less to cast.\nGoblins you control have haste."}
 #:card{:type-line "Legendary Creature — Goblin Advisor",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/5/8591364d-dd9c-49e7-9115-ef7f68bf98f1.png?1562923207",
        :collector-number "43",
        :layout "normal",
        :name "Ib Halfheart, Goblin Tactician",
        :oracle-text
        "Whenever another Goblin you control becomes blocked, sacrifice it. If you do, it deals 4 damage to each creature blocking it.\nSacrifice two Mountains: Create two 1/1 red Goblin creature tokens."}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/f/4f2a6821-faca-4032-90ec-f123ce47ddd1.png?1562911588",
        :collector-number "44",
        :layout "normal",
        :name "Mogg Fanatic",
        :oracle-text
        "Sacrifice Mogg Fanatic: It deals 1 damage to any target."}
 #:card{:type-line "Creature — Goblin Warrior",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e6da34e4-3ad6-40a2-be7f-0b2cb6fa2be7.png?1562943713",
        :collector-number "45",
        :layout "normal",
        :name "Mogg War Marshal",
        :oracle-text
        "Echo {1}{R} (At the beginning of your upkeep, if this came under your control since the beginning of your last upkeep, sacrifice it unless you pay its echo cost.)\nWhen Mogg War Marshal enters the battlefield or dies, create a 1/1 red Goblin creature token."}
 #:card{:type-line "Creature — Goblin Warrior",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/ee914451-9df1-4833-aa2c-6202cb0607fe.png?1562945244",
        :collector-number "46",
        :layout "normal",
        :name "Mudbutton Torchrunner",
        :oracle-text
        "When Mudbutton Torchrunner dies, it deals 3 damage to any target."}
 #:card{:type-line "Creature — Goblin Berserker",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/45c7d78e-ac15-45a0-a4ce-23bcda100dba.png?1562909420",
        :collector-number "47",
        :layout "normal",
        :name "Raging Goblin",
        :oracle-text
        "Haste (This creature can attack and {T} as soon as it comes under your control.)"}
 #:card{:type-line "Creature — Goblin Avatar",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/19617614-2ef4-4a13-9b4a-af842594d336.png?1562900321",
        :collector-number "48",
        :layout "normal",
        :name "Reckless One",
        :oracle-text
        "Haste\nReckless One's power and toughness are each equal to the number of Goblins on the battlefield."}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8b211acb-3e96-48f0-adf1-94d6a600dc89.png?1562924392",
        :collector-number "49",
        :layout "normal",
        :name "Skirk Drill Sergeant",
        :oracle-text
        "Whenever Skirk Drill Sergeant or another Goblin dies, you may pay {2}{R}. If you do, reveal the top card of your library. If it's a Goblin permanent card, put it onto the battlefield. Otherwise, put it into your graveyard."}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b8297164-190a-4699-bcbd-3ee1d76f4036.png?1562933877",
        :collector-number "50",
        :layout "normal",
        :name "Skirk Fire Marshal",
        :oracle-text
        "Protection from red\nTap five untapped Goblins you control: Skirk Fire Marshal deals 10 damage to each creature and each player."}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/2/62bb7a32-aa8a-49ee-b153-379630c3e48f.png?1562915637",
        :collector-number "51",
        :layout "normal",
        :name "Skirk Prospector",
        :oracle-text "Sacrifice a Goblin: Add {R}."}
 #:card{:type-line "Creature — Goblin Shaman",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/4/b400819f-7009-407c-ae0b-7cf6e4a82a07.png?1562932981",
        :collector-number "52",
        :layout "normal",
        :name "Skirk Shaman",
        :oracle-text
        "Skirk Shaman can't be blocked except by artifact creatures and/or red creatures."}
 #:card{:type-line "Creature — Goblin Shaman",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a2e48d45-6df8-4ecf-abe0-bdaf49990912.png?1562929332",
        :collector-number "53",
        :layout "normal",
        :name "Tar Pitcher",
        :oracle-text
        "{T}, Sacrifice a Goblin: Tar Pitcher deals 2 damage to any target."}
 #:card{:type-line "Tribal Enchantment — Goblin",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e0bed87a-790a-4bf7-8a85-16fe6bfa04f0.png?1562942387",
        :collector-number "54",
        :layout "normal",
        :name "Boggart Shenanigans",
        :oracle-text
        "Whenever another Goblin you control is put into a graveyard from the battlefield, you may have Boggart Shenanigans deal 1 damage to target player or planeswalker."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/8/084c7899-c6a9-4ea3-b801-400b71a72479.png?1592485318",
        :collector-number "55",
        :layout "normal",
        :name "Spitting Earth",
        :oracle-text
        "Spitting Earth deals damage to target creature equal to the number of Mountains you control."}
 #:card{:type-line "Tribal Instant — Goblin",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c4247f14-218e-4b04-8ac4-98740333fe11.png?1562936469",
        :collector-number "56",
        :layout "normal",
        :name "Tarfire",
        :oracle-text "Tarfire deals 2 damage to any target."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/45e004ed-b066-4648-9cf6-fb9da78defbe.png?1562909458",
        :collector-number "57",
        :layout "normal",
        :name "Forgotten Cave",
        :oracle-text
        "Forgotten Cave enters the battlefield tapped.\n{T}: Add {R}.\nCycling {R} ({R}, Discard this card: Draw a card.)"}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/385d9176-a215-4de8-ba35-bc093744a350.png?1562906842",
        :collector-number "58",
        :layout "normal",
        :name "Goblin Burrows",
        :oracle-text
        "{T}: Add {C}.\n{1}{R}, {T}: Target Goblin creature gets +2/+0 until end of turn."}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/5/a5cae174-58da-43de-b7c8-f5e79f8cf986.png?1562929962",
        :collector-number "59",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/400199da-0fec-4dc0-b724-494b6d4f5845.png?1562908267",
        :collector-number "60",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/9983c9fb-84b2-4eec-adf8-c604e237b82b.png?1562927433",
        :collector-number "61",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "dd1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/e/5e046ca7-f392-4036-8ec7-6cbd9133d8ee.png?1562914650",
        :collector-number "62",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"})
