(#:card{:code "ddc",
        :collector-number "1",
        :name "Akroma, Angel of Wrath",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6c8cc721-7a7e-4cda-817e-30e5e6cb4929.png?1537149249",
        :type-line "Legendary Creature — Angel",
        :oracle-text
        "Flying, first strike, vigilance, trample, haste, protection from black and from red"}
 #:card{:code "ddc",
        :collector-number "2",
        :name "Icatian Priest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/afaffa1d-bdc5-49ae-bcb9-2745a512a0d3.png?1562486238",
        :type-line "Creature — Human Cleric",
        :oracle-text
        "{1}{W}{W}: Target creature gets +1/+1 until end of turn."}
 #:card{:code "ddc",
        :collector-number "3",
        :name "Angelic Page",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/98d96a8e-afce-47c5-890c-29a08f875300.png?1562486229",
        :type-line "Creature — Angel Spirit",
        :oracle-text
        "Flying\n{T}: Target attacking or blocking creature gets +1/+1 until end of turn."}
 #:card{:code "ddc",
        :collector-number "4",
        :name "Charging Paladin",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c37f466-b78b-49a8-8e91-539a1bba63b2.png?1562485758",
        :type-line "Creature — Human Knight",
        :oracle-text
        "Whenever Charging Paladin attacks, it gets +0/+3 until end of turn."}
 #:card{:code "ddc",
        :collector-number "5",
        :name "Venerable Monk",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3bd7e791-61c7-4914-8085-d94f2b8bc3c9.png?1562485761",
        :type-line "Creature — Human Monk Cleric",
        :oracle-text
        "When Venerable Monk enters the battlefield, you gain 2 life."}
 #:card{:code "ddc",
        :collector-number "6",
        :name "Angelic Protector",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/9820b4e0-300f-4dce-9f25-e8f59cdd10e0.png?1562486227",
        :type-line "Creature — Angel",
        :oracle-text
        "Flying\nWhenever Angelic Protector becomes the target of a spell or ability, Angelic Protector gets +0/+3 until end of turn."}
 #:card{:code "ddc",
        :collector-number "7",
        :name "Serra Advocate",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c9af4bd6-33fb-4153-b1a5-7496dcf3c806.png?1562486252",
        :type-line "Creature — Angel",
        :oracle-text
        "Flying\n{T}: Target attacking or blocking creature gets +2/+2 until end of turn."}
 #:card{:code "ddc",
        :collector-number "8",
        :name "Sustainer of the Realm",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff4226fb-2152-48a4-aa58-896138b68b4c.png?1562486459",
        :type-line "Creature — Angel",
        :oracle-text
        "Flying\nWhenever Sustainer of the Realm blocks, it gets +0/+2 until end of turn."}
 #:card{:code "ddc",
        :collector-number "9",
        :name "Angel of Mercy",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/3/73d95453-8e10-4a62-9fa8-1e079b63c4cb.png?1562486215",
        :type-line "Creature — Angel",
        :oracle-text
        "Flying\nWhen Angel of Mercy enters the battlefield, you gain 3 life."}
 #:card{:code "ddc",
        :collector-number "10",
        :name "Serra Angel",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/27c4f032-0a26-4d21-906f-dd80310a14b8.png?1562485755",
        :type-line "Creature — Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:code "ddc",
        :collector-number "11",
        :name "Twilight Shepherd",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fc07a05c-7dad-4d51-be5f-6ba61b384333.png?1562486458",
        :type-line "Creature — Angel",
        :oracle-text
        "Flying, vigilance\nWhen Twilight Shepherd enters the battlefield, return to your hand all cards in your graveyard that were put there from the battlefield this turn.\nPersist (When this creature dies, if it had no -1/-1 counters on it, return it to the battlefield under its owner's control with a -1/-1 counter on it.)"}
 #:card{:code "ddc",
        :collector-number "12",
        :name "Luminous Angel",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/61834f64-3114-44ee-9947-ae35504ae220.png?1562485776",
        :type-line "Creature — Angel",
        :oracle-text
        "Flying\nAt the beginning of your upkeep, you may create a 1/1 white Spirit creature token with flying."}
 #:card{:code "ddc",
        :collector-number "13",
        :name "Reya Dawnbringer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/e/7ee7d4a5-25ee-4efe-bfd3-75873a1e83f3.png?1562486220",
        :type-line "Legendary Creature — Angel",
        :oracle-text
        "Flying\nAt the beginning of your upkeep, you may return target creature card from your graveyard to the battlefield."}
 #:card{:code "ddc",
        :collector-number "14",
        :name "Healing Salve",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/ae782efc-5e33-4eb2-972a-d6d03b9845fa.png?1562486237",
        :type-line "Instant",
        :oracle-text
        "Choose one —\n• Target player gains 3 life.\n• Prevent the next 3 damage that would be dealt to any target this turn."}
 #:card{:code "ddc",
        :collector-number "15",
        :name "Angelsong",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/8668c8c0-5cd8-4000-900a-d36ad2f1db99.png?1562486223",
        :type-line "Instant",
        :oracle-text
        "Prevent all combat damage that would be dealt this turn.\nCycling {2} ({2}, Discard this card: Draw a card.)"}
 #:card{:code "ddc",
        :collector-number "16",
        :name "Otherworldly Journey",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/c/5c6b56f5-18f2-4efc-9963-2d1b44827aac.png?1562485775",
        :type-line "Instant — Arcane",
        :oracle-text
        "Exile target creature. At the beginning of the next end step, return that card to the battlefield under its owner's control with a +1/+1 counter on it."}
 #:card{:code "ddc",
        :collector-number "17",
        :name "Pacifism",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/9/296359f9-e236-410c-9efe-40089f1607c5.png?1562485757",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature can't attack or block."}
 #:card{:code "ddc",
        :collector-number "18",
        :name "Serra's Boon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/8/881aae7e-1458-4b0c-b991-82ed93f7932a.png?1562486224",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +1/+2 as long as it's white. Otherwise, it gets -2/-1."}
 #:card{:code "ddc",
        :collector-number "19",
        :name "Angelic Benediction",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/5452d4a3-0f0e-4c97-b272-786f0f9c5adc.png?1562485770",
        :type-line "Enchantment",
        :oracle-text
        "Exalted (Whenever a creature you control attacks alone, that creature gets +1/+1 until end of turn.)\nWhenever a creature you control attacks alone, you may tap target creature."}
 #:card{:code "ddc",
        :collector-number "20",
        :name "Faith's Fetters",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/1/c183a894-c06b-4941-97a2-f4f80da491a0.png?1562486246",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant permanent\nWhen Faith's Fetters enters the battlefield, you gain 4 life.\nEnchanted permanent can't attack or block, and its activated abilities can't be activated unless they're mana abilities."}
 #:card{:code "ddc",
        :collector-number "21",
        :name "Serra's Embrace",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0c4ba0a5-2d4f-478d-897d-7206b9449911.png?1562485748",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +2/+2 and has flying and vigilance."}
 #:card{:code "ddc",
        :collector-number "22",
        :name "Righteous Cause",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff5150b6-fd97-445f-a726-6338e43cdeb5.png?1562486461",
        :type-line "Enchantment",
        :oracle-text "Whenever a creature attacks, you gain 1 life."}
 #:card{:code "ddc",
        :collector-number "23",
        :name "Angel's Feather",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/abbb7db8-2290-41bc-be5a-507604ad08e8.png?1562486235",
        :type-line "Artifact",
        :oracle-text
        "Whenever a player casts a white spell, you may gain 1 life."}
 #:card{:code "ddc",
        :collector-number "24",
        :name "Marble Diamond",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bce81713-109e-460e-a63a-b19a4b85d39f.png?1562486244",
        :type-line "Artifact",
        :oracle-text
        "Marble Diamond enters the battlefield tapped.\n{T}: Add {W}."}
 #:card{:code "ddc",
        :collector-number "25",
        :name "Secluded Steppe",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6cb64234-41a3-4b73-b147-e1bf3d61de8e.png?1562485780",
        :type-line "Land",
        :oracle-text
        "Secluded Steppe enters the battlefield tapped.\n{T}: Add {W}.\nCycling {W} ({W}, Discard this card: Draw a card.)"}
 #:card{:code "ddc",
        :collector-number "26",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dc34d24d-9c1e-45a5-8d0e-ccef1211906f.png?1562486255",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "ddc",
        :collector-number "27",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6e4454b1-ec19-4917-915b-0c913964e9e9.png?1600990076",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "ddc",
        :collector-number "28",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/8/58ba055f-18fd-4981-b181-85729e19112d.png?1562485772",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "ddc",
        :collector-number "29",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/f/4f10be33-bbf8-4b38-bb27-024c2d8dac7a.png?1600990074",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "ddc",
        :collector-number "30",
        :name "Lord of the Pit",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b53cde03-6f3b-443c-9f55-1f8de24c1722.png?1537149246",
        :type-line "Creature — Demon",
        :oracle-text
        "Flying, trample\nAt the beginning of your upkeep, sacrifice a creature other than Lord of the Pit. If you can't, Lord of the Pit deals 7 damage to you."}
 #:card{:code "ddc",
        :collector-number "31",
        :name "Abyssal Gatekeeper",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/506ae06e-cf80-4efa-8c54-022b65b2495f.png?1562485767",
        :type-line "Creature — Horror",
        :oracle-text
        "When Abyssal Gatekeeper dies, each player sacrifices a creature."}
 #:card{:code "ddc",
        :collector-number "32",
        :name "Foul Imp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/c/ece67927-02db-44da-b074-243f2e053bb7.png?1562486455",
        :type-line "Creature — Imp",
        :oracle-text
        "Flying\nWhen Foul Imp enters the battlefield, you lose 2 life."}
 #:card{:code "ddc",
        :collector-number "33",
        :name "Daggerclaw Imp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b3212559-0af0-4d07-9be1-badabfc5231f.png?1562486241",
        :type-line "Creature — Imp",
        :oracle-text "Flying\nDaggerclaw Imp can't block."}
 #:card{:code "ddc",
        :collector-number "34",
        :name "Dusk Imp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/3/337fb10f-ecea-4c4e-a0bc-55b821cae4b3.png?1562485760",
        :type-line "Creature — Imp",
        :oracle-text "Flying"}
 #:card{:code "ddc",
        :collector-number "35",
        :name "Overeager Apprentice",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e6b8ec5d-cc73-41be-bdea-51474c3a9fa6.png?1562486260",
        :type-line "Creature — Human Minion",
        :oracle-text
        "Discard a card, Sacrifice Overeager Apprentice: Add {B}{B}{B}."}
 #:card{:code "ddc",
        :collector-number "36",
        :name "Stinkweed Imp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/79c0efd5-4140-4710-9e02-87d5394aa902.png?1562486217",
        :type-line "Creature — Imp",
        :oracle-text
        "Flying\nWhenever Stinkweed Imp deals combat damage to a creature, destroy that creature.\nDredge 5 (If you would draw a card, you may mill five cards instead. If you do, return this card from your graveyard to your hand.)"}
 #:card{:code "ddc",
        :collector-number "37",
        :name "Soot Imp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a06f73a0-e08f-48e6-9234-28d89bd53273.png?1562486232",
        :type-line "Creature — Imp",
        :oracle-text
        "Flying\nWhenever a player casts a nonblack spell, that player loses 1 life."}
 #:card{:code "ddc",
        :collector-number "38",
        :name "Demon's Jester",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e18c76f6-5fca-4910-a9db-8a0ba72cf28b.png?1562486258",
        :type-line "Creature — Imp",
        :oracle-text
        "Flying\nHellbent — Demon's Jester gets +2/+1 as long as you have no cards in hand."}
 #:card{:code "ddc",
        :collector-number "39",
        :name "Souldrinker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dd2c9b9c-552b-41a9-85a4-83c0a48f3bfa.png?1562486256",
        :type-line "Creature — Spirit",
        :oracle-text "Pay 3 life: Put a +1/+1 counter on Souldrinker."}
 #:card{:code "ddc",
        :collector-number "40",
        :name "Abyssal Specter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/478240fd-864f-451d-9583-1f46f98f7f2e.png?1562485763",
        :type-line "Creature — Specter",
        :oracle-text
        "Flying\nWhenever Abyssal Specter deals damage to a player, that player discards a card."}
 #:card{:code "ddc",
        :collector-number "41",
        :name "Cackling Imp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/c/ecae92e2-e2d0-4f32-b90b-3762e7c0e11d.png?1562486453",
        :type-line "Creature — Imp",
        :oracle-text "Flying\n{T}: Target player loses 1 life."}
 #:card{:code "ddc",
        :collector-number "42",
        :name "Fallen Angel",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a0987469-20dd-4c42-9047-4ff0a7e1761f.png?1562486233",
        :type-line "Creature — Angel",
        :oracle-text
        "Flying\nSacrifice a creature: Fallen Angel gets +2/+1 until end of turn."}
 #:card{:code "ddc",
        :collector-number "43",
        :name "Reiver Demon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c8a2f9f9-52d5-4cd4-894f-bcb86c5c085b.png?1562486250",
        :type-line "Creature — Demon",
        :oracle-text
        "Flying\nWhen Reiver Demon enters the battlefield, if you cast it from your hand, destroy all nonartifact, nonblack creatures. They can't be regenerated."}
 #:card{:code "ddc",
        :collector-number "44",
        :name "Kuro, Pitlord",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/9/69436458-c449-43ab-9ff7-5109b5695a6d.png?1562485779",
        :type-line "Legendary Creature — Demon Spirit",
        :oracle-text
        "At the beginning of your upkeep, sacrifice Kuro, Pitlord unless you pay {B}{B}{B}{B}.\nPay 1 life: Target creature gets -1/-1 until end of turn."}
 #:card{:code "ddc",
        :collector-number "45",
        :name "Dark Ritual",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c825f254-6f22-4610-85be-4d04275e6601.png?1562486248",
        :type-line "Instant",
        :oracle-text "Add {B}{B}{B}."}
 #:card{:code "ddc",
        :collector-number "46",
        :name "Duress",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c9f72fea-b4f9-4963-997e-e9ef2aca498a.png?1620045677",
        :type-line "Sorcery",
        :oracle-text
        "Target opponent reveals their hand. You choose a noncreature, nonland card from it. That player discards that card."}
 #:card{:code "ddc",
        :collector-number "47",
        :name "Unholy Strength",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/47c22b98-70f9-43e6-a26b-53fb81b1c548.png?1562485764",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +2/+1."}
 #:card{:code "ddc",
        :collector-number "48",
        :name "Cruel Edict",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/19ac44d0-f648-4a84-ac70-f840fe3cf82c.png?1562485751",
        :type-line "Sorcery",
        :oracle-text "Target opponent sacrifices a creature."}
 #:card{:code "ddc",
        :collector-number "49",
        :name "Demonic Tutor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/1/c1e5fbc6-d129-4843-96a5-ee4406b2700f.png?1562486247",
        :type-line "Sorcery",
        :oracle-text
        "Search your library for a card, put that card into your hand, then shuffle."}
 #:card{:code "ddc",
        :collector-number "50",
        :name "Dark Banishing",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7c1d966b-7527-4620-9ce4-7e6a0864f93a.png?1562486218",
        :type-line "Instant",
        :oracle-text
        "Destroy target nonblack creature. It can't be regenerated."}
 #:card{:code "ddc",
        :collector-number "51",
        :name "Oni Possession",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e91bd19-e9b0-45df-98da-a2e93239222f.png?1562485752",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nAt the beginning of your upkeep, sacrifice a creature.\nEnchanted creature gets +3/+3 and has trample.\nEnchanted creature is a Demon Spirit."}
 #:card{:code "ddc",
        :collector-number "52",
        :name "Barter in Blood",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/1/5195dfe0-9821-4df9-accb-d2858927a646.png?1562485769",
        :type-line "Sorcery",
        :oracle-text "Each player sacrifices two creatures."}
 #:card{:code "ddc",
        :collector-number "53",
        :name "Breeding Pit",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/61f3353c-8894-4410-8ccb-76b3061fc91d.png?1562485778",
        :type-line "Enchantment",
        :oracle-text
        "At the beginning of your upkeep, sacrifice Breeding Pit unless you pay {B}{B}.\nAt the beginning of your end step, create a 0/1 black Thrull creature token."}
 #:card{:code "ddc",
        :collector-number "54",
        :name "Promise of Power",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8be2edf8-4461-404e-902a-d5d398670221.png?1562486226",
        :type-line "Sorcery",
        :oracle-text
        "Choose one —\n• You draw five cards and you lose 5 life.\n• Create an X/X black Demon creature token with flying, where X is the number of cards in your hand.\nEntwine {4} (Choose both if you pay the entwine cost.)"}
 #:card{:code "ddc",
        :collector-number "55",
        :name "Corrupt",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5a8f58d6-aebb-4472-a854-134710c9fadb.png?1562485773",
        :type-line "Sorcery",
        :oracle-text
        "Corrupt deals damage to any target equal to the number of Swamps you control. You gain life equal to the damage dealt this way."}
 #:card{:code "ddc",
        :collector-number "56",
        :name "Consume Spirit",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/5/253c1d49-9ebf-4970-a1b5-0c960d9bf71c.png?1562485754",
        :type-line "Sorcery",
        :oracle-text
        "Spend only black mana on X.\nConsume Spirit deals X damage to any target and you gain X life."}
 #:card{:code "ddc",
        :collector-number "57",
        :name "Demon's Horn",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/19725dbe-1d23-439a-aa94-a8ec5c593a28.png?1562485750",
        :type-line "Artifact",
        :oracle-text
        "Whenever a player casts a black spell, you may gain 1 life."}
 #:card{:code "ddc",
        :collector-number "58",
        :name "Barren Moor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0afb57ba-9698-4978-992b-0afa12982af4.png?1562485747",
        :type-line "Land",
        :oracle-text
        "Barren Moor enters the battlefield tapped.\n{T}: Add {B}.\nCycling {B} ({B}, Discard this card: Draw a card.)"}
 #:card{:code "ddc",
        :collector-number "59",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/0/f097d952-b3c5-4cce-8ca3-36c1ab0cf538.png?1562486456",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "ddc",
        :collector-number "60",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/a/9a50165d-2ee4-4d7b-be20-d326b8bc0728.png?1562486230",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "ddc",
        :collector-number "61",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b5f7cc91-e555-4f40-82db-12ffc74dfc6d.png?1562486242",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "ddc",
        :collector-number "62",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/833f9340-4600-4e11-876b-93b80387c895.png?1562486221",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"})
