(#:card{:code "dds",
        :collector-number "1",
        :name "Jhoira of the Ghitu",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/3/23612d91-c394-4eee-987b-b124b615de86.png?1592761503",
        :type-line "Legendary Creature — Human Wizard",
        :oracle-text
        "{2}, Exile a nonland card from your hand: Put four time counters on the exiled card. If it doesn't have suspend, it gains suspend. (At the beginning of your upkeep, remove a time counter from that card. When the last is removed, cast it without paying its mana cost. If it's a creature, it has haste.)"}
 #:card{:code "dds",
        :collector-number "2",
        :name "Beacon of Tomorrows",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/b/1bf05e3d-601a-481b-8880-24058a3442e9.png?1592761510",
        :type-line "Sorcery",
        :oracle-text
        "Target player takes an extra turn after this one. Shuffle Beacon of Tomorrows into its owner's library."}
 #:card{:code "dds",
        :collector-number "3",
        :name "Deep-Sea Kraken",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/df5a543e-8416-4f01-91f5-e1ed87f1a510.png?1592761517",
        :type-line "Creature — Kraken",
        :oracle-text
        "Deep-Sea Kraken can't be blocked.\nSuspend 9—{2}{U} (Rather than cast this card from your hand, you may pay {2}{U} and exile it with nine time counters on it. At the beginning of your upkeep, remove a time counter. When the last is removed, cast it without paying its mana cost. It has haste.)\nWhenever an opponent casts a spell, if Deep-Sea Kraken is suspended, remove a time counter from it."}
 #:card{:code "dds",
        :collector-number "4",
        :name "Mind's Desire",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/2/1290e00b-c41b-4e30-8b65-a7fd4356d462.png?1592761523",
        :type-line "Sorcery",
        :oracle-text
        "Shuffle your library. Then exile the top card of your library. Until end of turn, you may play that card without paying its mana cost.\nStorm (When you cast this spell, copy it for each spell cast before it this turn.)"}
 #:card{:code "dds",
        :collector-number "5",
        :name "Peer Through Depths",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/df0994df-730c-4947-8248-0aaf97998fa1.png?1592761530",
        :type-line "Instant — Arcane",
        :oracle-text
        "Look at the top five cards of your library. You may reveal an instant or sorcery card from among them and put it into your hand. Put the rest on the bottom of your library in any order."}
 #:card{:code "dds",
        :collector-number "6",
        :name "Quicken",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e6209bbf-5861-4755-abb6-0f04def9527e.png?1612316347",
        :type-line "Instant",
        :oracle-text
        "The next sorcery spell you cast this turn can be cast as though it had flash. (It can be cast any time you could cast an instant.)\nDraw a card."}
 #:card{:code "dds",
        :collector-number "7",
        :name "Reach Through Mists",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0b6d5d29-4f38-4229-ac50-c4fa97fcc536.png?1592761543",
        :type-line "Instant — Arcane",
        :oracle-text "Draw a card."}
 #:card{:code "dds",
        :collector-number "8",
        :name "Sage-Eye Avengers",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/026e33ed-2f2d-4345-8a89-58c9f2f6c727.png?1592761549",
        :type-line "Creature — Djinn Monk",
        :oracle-text
        "Prowess (Whenever you cast a noncreature spell, this creature gets +1/+1 until end of turn.)\nWhenever Sage-Eye Avengers attacks, you may return target creature to its owner's hand if its power is less than Sage-Eye Avengers's power."}
 #:card{:code "dds",
        :collector-number "9",
        :name "Sift Through Sands",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/1/c1fd8a97-1c97-45fe-8c06-013a1f528919.png?1592761558",
        :type-line "Instant — Arcane",
        :oracle-text
        "Draw two cards, then discard a card.\nIf you've cast a spell named Peer Through Depths and a spell named Reach Through Mists this turn, you may search your library for a card named The Unspeakable, put it onto the battlefield, then shuffle."}
 #:card{:code "dds",
        :collector-number "10",
        :name "Snap",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/1959f078-4b7b-4df2-a256-d43b2d97e853.png?1592761565",
        :type-line "Instant",
        :oracle-text
        "Return target creature to its owner's hand. Untap up to two lands."}
 #:card{:code "dds",
        :collector-number "11",
        :name "Talrand, Sky Summoner",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fea27d0c-92b1-4530-8035-519463722f17.png?1592761571",
        :type-line "Legendary Creature — Merfolk Wizard",
        :oracle-text
        "Whenever you cast an instant or sorcery spell, create a 2/2 blue Drake creature token with flying."}
 #:card{:code "dds",
        :collector-number "12",
        :name "Temporal Fissure",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c9f9ece7-ee6e-4379-9d53-209f8805a72d.png?1592761577",
        :type-line "Sorcery",
        :oracle-text
        "Return target permanent to its owner's hand.\nStorm (When you cast this spell, copy it for each spell cast before it this turn. You may choose new targets for the copies.)"}
 #:card{:code "dds",
        :collector-number "13",
        :name "The Unspeakable",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e956c695-bf0a-430c-a14e-196ae6ab7c9f.png?1592761583",
        :type-line "Legendary Creature — Spirit",
        :oracle-text
        "Flying, trample\nWhenever The Unspeakable deals combat damage to a player, you may return target Arcane card from your graveyard to your hand."}
 #:card{:code "dds",
        :collector-number "14",
        :name "Desperate Ritual",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1f86cd5e-1b6f-4528-9d5b-f406261c8d41.png?1592761589",
        :type-line "Instant — Arcane",
        :oracle-text
        "Add {R}{R}{R}.\nSplice onto Arcane {1}{R} (As you cast an Arcane spell, you may reveal this card from your hand and pay its splice cost. If you do, add this card's effects to that spell.)"}
 #:card{:code "dds",
        :collector-number "15",
        :name "Empty the Warrens",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/2/42418f91-c7a9-461a-b00c-bba184e2a917.png?1592761595",
        :type-line "Sorcery",
        :oracle-text
        "Create two 1/1 red Goblin creature tokens.\nStorm (When you cast this spell, copy it for each spell cast before it this turn.)"}
 #:card{:code "dds",
        :collector-number "16",
        :name "Grapeshot",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8dfe022f-cbdf-4710-af7b-9f0e213fc89c.png?1592761601",
        :type-line "Sorcery",
        :oracle-text
        "Grapeshot deals 1 damage to any target.\nStorm (When you cast this spell, copy it for each spell cast before it this turn. You may choose new targets for the copies.)"}
 #:card{:code "dds",
        :collector-number "17",
        :name "Rift Bolt",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fefbed51-ae2a-4668-a725-71904f18acc6.png?1592761607",
        :type-line "Sorcery",
        :oracle-text
        "Rift Bolt deals 3 damage to any target.\nSuspend 1—{R} (Rather than cast this card from your hand, you may pay {R} and exile it with a time counter on it. At the beginning of your upkeep, remove a time counter. When the last is removed, cast it without paying its mana cost.)"}
 #:card{:code "dds",
        :collector-number "18",
        :name "Shivan Meteor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/f/7f2d2a20-3196-4bb2-9574-0c643e0b6f3d.png?1592761612",
        :type-line "Sorcery",
        :oracle-text
        "Shivan Meteor deals 13 damage to target creature.\nSuspend 2—{1}{R}{R} (Rather than cast this card from your hand, you may pay {1}{R}{R} and exile it with two time counters on it. At the beginning of your upkeep, remove a time counter. When the last is removed, cast it without paying its mana cost.)"}
 #:card{:code "dds",
        :collector-number "19",
        :name "Volcanic Vision",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/37aacf2b-b08f-4804-88ff-7b61620801e9.png?1592761619",
        :type-line "Sorcery",
        :oracle-text
        "Return target instant or sorcery card from your graveyard to your hand. Volcanic Vision deals damage equal to that card's mana value to each creature your opponents control. Exile Volcanic Vision."}
 #:card{:code "dds",
        :collector-number "20",
        :name "Young Pyromancer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/4/74e1698b-cd80-4cf2-92d6-62c0197eca0b.png?1592761625",
        :type-line "Creature — Human Shaman",
        :oracle-text
        "Whenever you cast an instant or sorcery spell, create a 1/1 red Elemental creature token."}
 #:card{:code "dds",
        :collector-number "21",
        :name "Firemind's Foresight",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/555778df-8ed9-4eb3-859b-4246d9e05ee5.png?1605275421",
        :type-line "Instant",
        :oracle-text
        "Search your library for an instant card with mana value 3, reveal it, and put it into your hand. Then repeat this process for instant cards with mana values 2 and 1. Then shuffle."}
 #:card{:code "dds",
        :collector-number "22",
        :name "Goblin Electromancer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b3d8dd05-5d0b-406f-a59a-9066079fed26.png?1592761638",
        :type-line "Creature — Goblin Wizard",
        :oracle-text
        "Instant and sorcery spells you cast cost {1} less to cast."}
 #:card{:code "dds",
        :collector-number "23",
        :name "Jori En, Ruin Diver",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/40c020f2-5809-4aa6-a6f5-6030568058aa.png?1592761645",
        :type-line "Legendary Creature — Merfolk Wizard",
        :oracle-text
        "Whenever you cast your second spell each turn, draw a card."}
 #:card{:code "dds",
        :collector-number "24",
        :name "Nivix Cyclops",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f6abe6ca-9345-41bc-9acd-b17ac887cb9d.png?1592761651",
        :type-line "Creature — Cyclops",
        :oracle-text
        "Defender\nWhenever you cast an instant or sorcery spell, Nivix Cyclops gets +3/+0 until end of turn and can attack this turn as though it didn't have defender."}
 #:card{:code "dds",
        :collector-number "25",
        :name "Spellheart Chimera",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/8782a7b7-79ca-4e5c-845b-d662222574c0.png?1592761657",
        :type-line "Creature — Chimera",
        :oracle-text
        "Flying, trample\nSpellheart Chimera's power is equal to the number of instant and sorcery cards in your graveyard."}
 #:card{:code "dds",
        :collector-number "26",
        :name "Nucklavee",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fd706176-477a-49a9-bf47-0d10c0501227.png?1592761663",
        :type-line "Creature — Beast",
        :oracle-text
        "When Nucklavee enters the battlefield, you may return target red sorcery card from your graveyard to your hand.\nWhen Nucklavee enters the battlefield, you may return target blue instant card from your graveyard to your hand."}
 #:card{:code "dds",
        :collector-number "27",
        :name "Swiftwater Cliffs",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/ebbca459-195a-4cfc-838f-e71ac2b9c35f.png?1592761669",
        :type-line "Land",
        :oracle-text
        "Swiftwater Cliffs enters the battlefield tapped.\nWhen Swiftwater Cliffs enters the battlefield, you gain 1 life.\n{T}: Add {U} or {R}."}
 #:card{:code "dds",
        :collector-number "28",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/27e01339-0c2e-4e2f-b1c5-e46030016d5b.png?1592761674",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "dds",
        :collector-number "29",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/547890ff-69b6-48e0-98f6-1fbca5d353e8.png?1592761680",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "dds",
        :collector-number "30",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e1e33a2f-0018-4278-83c4-50ed83f009c3.png?1592761686",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "dds",
        :collector-number "31",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d66b6951-50a0-4b30-aa73-d4ce1380ff49.png?1592761692",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "dds",
        :collector-number "32",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/545b397b-ff3a-49f6-bb10-e403b8fee85f.png?1592761698",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "dds",
        :collector-number "33",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/cc9c1b6a-8fc9-4292-81a0-5cf423638c71.png?1592761704",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "dds",
        :collector-number "34",
        :name "Lovisa Coldeyes",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/d/ad4d4662-2c9b-42fc-9c08-162c822f436c.png?1592761712",
        :type-line "Legendary Creature — Human",
        :oracle-text
        "Each creature that's a Barbarian, a Warrior, or a Berserker gets +2/+2 and has haste."}
 #:card{:code "dds",
        :collector-number "35",
        :name "Beacon of Destruction",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1ece7e7d-615b-42da-8bab-80f24ad7c4d8.png?1592761718",
        :type-line "Instant",
        :oracle-text
        "Beacon of Destruction deals 5 damage to any target. Shuffle Beacon of Destruction into its owner's library."}
 #:card{:code "dds",
        :collector-number "36",
        :name "Boldwyr Intimidator",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/058faf52-1d6c-47c8-8911-365353d1ea3f.png?1592761724",
        :type-line "Creature — Giant Warrior",
        :oracle-text
        "Cowards can't block Warriors.\n{R}: Target creature becomes a Coward until end of turn.\n{2}{R}: Target creature becomes a Warrior until end of turn."}
 #:card{:code "dds",
        :collector-number "37",
        :name "Firebolt",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5da1493c-78b4-4c4d-ab70-199fe506b61a.png?1592761730",
        :type-line "Sorcery",
        :oracle-text
        "Firebolt deals 2 damage to any target.\nFlashback {4}{R} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "dds",
        :collector-number "38",
        :name "Gorehorn Minotaurs",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/3/63fd5801-5073-4e8e-8435-c7ebe9d999b3.png?1592761736",
        :type-line "Creature — Minotaur Warrior",
        :oracle-text
        "Bloodthirst 2 (If an opponent was dealt damage this turn, this creature enters the battlefield with two +1/+1 counters on it.)"}
 #:card{:code "dds",
        :collector-number "39",
        :name "Kamahl, Pit Fighter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7a65dd4d-f838-4964-bd5a-a517960cc644.png?1592761742",
        :type-line "Legendary Creature — Human Barbarian",
        :oracle-text
        "Haste (This creature can attack and {T} as soon as it comes under your control.)\n{T}: Kamahl, Pit Fighter deals 3 damage to any target."}
 #:card{:code "dds",
        :collector-number "40",
        :name "Kruin Striker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fc2bf4cf-8918-40a4-afe5-79860390f04c.png?1592761748",
        :type-line "Creature — Human Warrior",
        :oracle-text
        "Whenever another creature enters the battlefield under your control, Kruin Striker gets +1/+0 and gains trample until end of turn."}
 #:card{:code "dds",
        :collector-number "41",
        :name "Zo-Zu the Punisher",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/7/e7c927d6-911d-4a37-89a2-6c500edf4dd7.png?1592761756",
        :type-line "Legendary Creature — Goblin Warrior",
        :oracle-text
        "Whenever a land enters the battlefield, Zo-Zu the Punisher deals 2 damage to that land's controller."}
 #:card{:code "dds",
        :collector-number "42",
        :name "Ambassador Oak",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a064f5e2-20b2-47a1-b3f3-78f077d71ec7.png?1592761762",
        :type-line "Creature — Treefolk Warrior",
        :oracle-text
        "When Ambassador Oak enters the battlefield, create a 1/1 green Elf Warrior creature token."}
 #:card{:code "dds",
        :collector-number "43",
        :name "Beast Attack",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/011f805f-3ebb-4748-a5de-8a10b5f47dcd.png?1592761768",
        :type-line "Instant",
        :oracle-text
        "Create a 4/4 green Beast creature token.\nFlashback {2}{G}{G}{G} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "dds",
        :collector-number "44",
        :name "Call of the Herd",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/f/7ff0c182-f9ec-41d1-beb6-97d0eb1be592.png?1592761775",
        :type-line "Sorcery",
        :oracle-text
        "Create a 3/3 green Elephant creature token.\nFlashback {3}{G} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "dds",
        :collector-number "45",
        :name "Cloudcrown Oak",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/833211c0-3bec-4548-97a0-c9381660cd88.png?1592761781",
        :type-line "Creature — Treefolk Warrior",
        :oracle-text
        "Reach (This creature can block creatures with flying.)"}
 #:card{:code "dds",
        :collector-number "46",
        :name "Harmonize",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c655b8cb-a237-404e-b1ac-e101c1fda533.png?1592761787",
        :type-line "Sorcery",
        :oracle-text "Draw three cards."}
 #:card{:code "dds",
        :collector-number "47",
        :name "Increasing Savagery",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c59b2ab3-c5e3-4599-9af0-3fa7a9544b97.png?1592761793",
        :type-line "Sorcery",
        :oracle-text
        "Put five +1/+1 counters on target creature. If this spell was cast from a graveyard, put ten +1/+1 counters on that creature instead.\nFlashback {5}{G}{G} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "dds",
        :collector-number "48",
        :name "Rampant Growth",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/c/1c0a6253-aa08-4393-b370-bb3e2496d88c.png?1592761799",
        :type-line "Sorcery",
        :oracle-text
        "Search your library for a basic land card, put that card onto the battlefield tapped, then shuffle."}
 #:card{:code "dds",
        :collector-number "49",
        :name "Roar of the Wurm",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/1/51a0c80e-4ace-4a2a-8b96-4472d1be6872.png?1592761806",
        :type-line "Sorcery",
        :oracle-text
        "Create a 6/6 green Wurm creature token.\nFlashback {3}{G} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "dds",
        :collector-number "50",
        :name "Skarrgan Pit-Skulk",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/30991c55-f39d-41f3-b584-f535f5f70f5a.png?1592761812",
        :type-line "Creature — Human Warrior",
        :oracle-text
        "Bloodthirst 1 (If an opponent was dealt damage this turn, this creature enters the battlefield with a +1/+1 counter on it.)\nCreatures with power less than Skarrgan Pit-Skulk's power can't block it."}
 #:card{:code "dds",
        :collector-number "51",
        :name "Sylvan Might",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/4/b421e954-0fb4-4e64-b83c-0e81d7397fb4.png?1592761818",
        :type-line "Instant",
        :oracle-text
        "Target creature gets +2/+2 and gains trample until end of turn.\nFlashback {2}{G}{G} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "dds",
        :collector-number "52",
        :name "Talara's Battalion",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/5/85df22de-cb56-4cef-9a55-40b6b61186d7.png?1592761824",
        :type-line "Creature — Elf Warrior",
        :oracle-text
        "Cast this spell only if you've cast another green spell this turn.\nTrample"}
 #:card{:code "dds",
        :collector-number "53",
        :name "Radha, Heir to Keld",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/e/5e1f14a7-ef44-4489-a111-30e199e5f08d.png?1592761831",
        :type-line "Legendary Creature — Elf Warrior",
        :oracle-text
        "Whenever Radha, Heir to Keld attacks, you may add {R}{R}.\n{T}: Add {G}."}
 #:card{:code "dds",
        :collector-number "54",
        :name "Relentless Hunter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/018a545c-c8fc-4030-be53-a9cee186423a.png?1592761836",
        :type-line "Creature — Human Warrior",
        :oracle-text
        "{1}{R}{G}: Relentless Hunter gets +1/+1 and gains trample until end of turn."}
 #:card{:code "dds",
        :collector-number "55",
        :name "Burning-Tree Emissary",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/2/22e3e874-a0ec-4459-b78d-abef6b9232b9.png?1602499798",
        :type-line "Creature — Human Shaman",
        :oracle-text
        "When Burning-Tree Emissary enters the battlefield, add {R}{G}."}
 #:card{:code "dds",
        :collector-number "56",
        :name "Guttural Response",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/9121e55e-5070-48cc-b706-92c67ad89254.png?1592761849",
        :type-line "Instant",
        :oracle-text "Counter target blue instant spell."}
 #:card{:code "dds",
        :collector-number "57",
        :name "Rubblebelt Raiders",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/5/f5f0d394-f929-40e7-adb5-ca813b312dde.png?1592761856",
        :type-line "Creature — Human Warrior",
        :oracle-text
        "Whenever Rubblebelt Raiders attacks, put a +1/+1 counter on it for each attacking creature you control."}
 #:card{:code "dds",
        :collector-number "58",
        :name "Coat of Arms",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/1/513d4c36-6ad4-4ee9-b161-3136eb59504f.png?1592761864",
        :type-line "Artifact",
        :oracle-text
        "Each creature gets +1/+1 for each other creature on the battlefield that shares at least one creature type with it. (For example, if two Goblin Warriors and a Goblin Shaman are on the battlefield, each gets +2/+2.)"}
 #:card{:code "dds",
        :collector-number "59",
        :name "Rugged Highlands",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/0/8040efe1-8ece-45bd-8426-443090baa55b.png?1592761872",
        :type-line "Land",
        :oracle-text
        "Rugged Highlands enters the battlefield tapped.\nWhen Rugged Highlands enters the battlefield, you gain 1 life.\n{T}: Add {R} or {G}."}
 #:card{:code "dds",
        :collector-number "60",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/6/76dc6f1a-9eca-45bd-8788-cc34b9e1a980.png?1592761878",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "dds",
        :collector-number "61",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/26b1ce7e-26d5-44b3-b0f3-c6ec5839c6d8.png?1592761884",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "dds",
        :collector-number "62",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/865ace8b-9e12-4f20-ac3c-d07a323b40dd.png?1592761890",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "dds",
        :collector-number "63",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4ae04d52-92c0-493a-b677-2aa9e79bd30a.png?1592761896",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "dds",
        :collector-number "64",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/4/04c4a529-2345-412d-a2c6-7cd9499f031c.png?1592761901",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "dds",
        :collector-number "65",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/03be40e3-b7d7-43ee-a526-5d56fa429ffa.png?1592761908",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"})
