(#:card{:collector-number "1", :name "Angry Mob"}
 #:card{:collector-number "2", :name "Blood of the Martyr"}
 #:card{:collector-number "3", :name "Brainwash"}
 #:card{:collector-number "4", :name "Cleansing"}
 #:card{:collector-number "5", :name "Dust to Dust"}
 #:card{:collector-number "6", :name "Exorcist"}
 #:card{:collector-number "7", :name "Fasting"}
 #:card{:collector-number "8", :name "Festival"}
 #:card{:collector-number "9", :name "Fire and Brimstone"}
 #:card{:collector-number "10", :name "Holy Light"}
 #:card{:collector-number "11", :name "Knights of Thorn"}
 #:card{:collector-number "12", :name "Martyr's Cry"}
 #:card{:collector-number "13", :name "Miracle Worker"}
 #:card{:collector-number "14", :name "Morale"}
 #:card{:collector-number "15", :name "Pikemen"}
 #:card{:collector-number "16", :name "Preacher"}
 #:card{:collector-number "17", :name "Squire"}
 #:card{:collector-number "18", :name "Tivadar's Crusade"}
 #:card{:collector-number "19", :name "Witch Hunter"}
 #:card{:collector-number "20", :name "Amnesia"}
 #:card{:collector-number "21", :name "Apprentice Wizard"}
 #:card{:collector-number "22", :name "Dance of Many"}
 #:card{:collector-number "23", :name "Deep Water"}
 #:card{:collector-number "24", :name "Drowned"}
 #:card{:collector-number "25", :name "Electric Eel"}
 #:card{:collector-number "26", :name "Erosion"}
 #:card{:collector-number "27", :name "Flood"}
 #:card{:collector-number "28", :name "Ghost Ship"}
 #:card{:collector-number "29", :name "Giant Shark"}
 #:card{:collector-number "30", :name "Leviathan"}
 #:card{:collector-number "31", :name "Mana Vortex"}
 #:card{:collector-number "32", :name "Merfolk Assassin"}
 #:card{:collector-number "33", :name "Mind Bomb"}
 #:card{:collector-number "34", :name "Psychic Allergy"}
 #:card{:collector-number "35", :name "Riptide"}
 #:card{:collector-number "36", :name "Sunken City"}
 #:card{:collector-number "37", :name "Tangle Kelp"}
 #:card{:collector-number "38", :name "Water Wurm"}
 #:card{:collector-number "39", :name "Ashes to Ashes"}
 #:card{:collector-number "40", :name "Banshee"}
 #:card{:collector-number "41", :name "Bog Imp"}
 #:card{:collector-number "42", :name "Bog Rats"}
 #:card{:collector-number "43", :name "Curse Artifact"}
 #:card{:collector-number "44", :name "Eater of the Dead"}
 #:card{:collector-number "45", :name "Frankenstein's Monster"}
 #:card{:collector-number "46", :name "Grave Robbers"}
 #:card{:collector-number "47", :name "Inquisition"}
 #:card{:collector-number "48", :name "Marsh Gas"}
 #:card{:collector-number "49", :name "Murk Dwellers"}
 #:card{:collector-number "50", :name "Nameless Race"}
 #:card{:collector-number "51", :name "Rag Man"}
 #:card{:collector-number "52", :name "Season of the Witch"}
 #:card{:collector-number "53", :name "The Fallen"}
 #:card{:collector-number "54", :name "Uncle Istvan"}
 #:card{:collector-number "55", :name "Word of Binding"}
 #:card{:collector-number "56", :name "Worms of the Earth"}
 #:card{:collector-number "57", :name "Ball Lightning"}
 #:card{:collector-number "58", :name "Blood Moon"}
 #:card{:collector-number "59", :name "Brothers of Fire"}
 #:card{:collector-number "60", :name "Cave People"}
 #:card{:collector-number "61", :name "Eternal Flame"}
 #:card{:collector-number "62", :name "Fire Drake"}
 #:card{:collector-number "63", :name "Fissure"}
 #:card{:collector-number "64", :name "Goblin Caves"}
 #:card{:collector-number "65", :name "Goblin Digging Team"}
 #:card{:collector-number "66", :name "Goblin Hero"}
 #:card{:collector-number "67", :name "Goblin Rock Sled"}
 #:card{:collector-number "68", :name "Goblin Shrine"}
 #:card{:collector-number "69", :name "Goblin Wizard"}
 #:card{:collector-number "70", :name "Goblins of the Flarg"}
 #:card{:collector-number "71", :name "Inferno"}
 #:card{:collector-number "72", :name "Mana Clash"}
 #:card{:collector-number "73", :name "Orc General"}
 #:card{:collector-number "74", :name "Sisters of the Flame"}
 #:card{:collector-number "75", :name "Carnivorous Plant"}
 #:card{:collector-number "76", :name "Elves of Deep Shadow"}
 #:card{:collector-number "77", :name "Gaea's Touch"}
 #:card{:collector-number "78", :name "Hidden Path"}
 #:card{:collector-number "79", :name "Land Leeches"}
 #:card{:collector-number "80", :name "Lurker"}
 #:card{:collector-number "81", :name "Marsh Viper"}
 #:card{:collector-number "82", :name "Niall Silvain"}
 #:card{:collector-number "83", :name "People of the Woods"}
 #:card{:collector-number "84", :name "Savaen Elves"}
 #:card{:collector-number "85", :name "Scarwood Bandits"}
 #:card{:collector-number "86", :name "Scarwood Hag"}
 #:card{:collector-number "87", :name "Scavenger Folk"}
 #:card{:collector-number "88", :name "Spitting Slug"}
 #:card{:collector-number "89", :name "Tracker"}
 #:card{:collector-number "90", :name "Venom"}
 #:card{:collector-number "91", :name "Whippoorwill"}
 #:card{:collector-number "92", :name "Wormwood Treefolk"}
 #:card{:collector-number "93", :name "Marsh Goblins"}
 #:card{:collector-number "94", :name "Scarwood Goblins"}
 #:card{:collector-number "95", :name "Dark Heart of the Wood"}
 #:card{:collector-number "96", :name "Barl's Cage"}
 #:card{:collector-number "97", :name "Bone Flute"}
 #:card{:collector-number "98", :name "Book of Rass"}
 #:card{:collector-number "99", :name "Coal Golem"}
 #:card{:collector-number "100", :name "Dark Sphere"}
 #:card{:collector-number "101", :name "Diabolic Machine"}
 #:card{:collector-number "102", :name "Fellwar Stone"}
 #:card{:collector-number "103", :name "Fountain of Youth"}
 #:card{:collector-number "104", :name "Living Armor"}
 #:card{:collector-number "105", :name "Necropolis"}
 #:card{:collector-number "106", :name "Reflecting Mirror"}
 #:card{:collector-number "107", :name "Runesword"}
 #:card{:collector-number "108", :name "Scarecrow"}
 #:card{:collector-number "109", :name "Skull of Orm"}
 #:card{:collector-number "110", :name "Standing Stones"}
 #:card{:collector-number "111", :name "Stone Calendar"}
 #:card{:collector-number "112", :name "Tormod's Crypt"}
 #:card{:collector-number "113", :name "Tower of Coireall"}
 #:card{:collector-number "114", :name "Wand of Ith"}
 #:card{:collector-number "115", :name "War Barge"}
 #:card{:collector-number "116", :name "City of Shadows"}
 #:card{:collector-number "117", :name "Maze of Ith"}
 #:card{:collector-number "118", :name "Safe Haven"}
 #:card{:collector-number "119", :name "Sorrow's Path"})
