(#:card{:code "e02",
        :collector-number "1",
        :name "Beacon of Immortality",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/c/1c35c626-3693-44d8-a308-d3d5dcf77c93.png?1562901653",
        :type-line "Instant",
        :oracle-text
        "Double target player's life total. Shuffle Beacon of Immortality into its owner's library."}
 #:card{:code "e02",
        :collector-number "T1",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/a/eac3b55f-ebf8-413e-b987-3b92e89ca7c5.png?1562950897",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "e02",
        :collector-number "2",
        :name "Day of Judgment",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/a/da6dbb49-1e70-439e-9866-c755b3236bdd.png?1562947028",
        :type-line "Sorcery",
        :oracle-text "Destroy all creatures."}
 #:card{:code "e02",
        :collector-number "3",
        :name "Path to Exile",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/30b68ec2-bdb8-46ab-a741-36259926fd6f.png?1562906397",
        :type-line "Instant",
        :oracle-text
        "Exile target creature. Its controller may search their library for a basic land card, put that card onto the battlefield tapped, then shuffle."}
 #:card{:code "e02",
        :collector-number "4",
        :name "Shielded by Faith",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/066ac822-7417-4dc4-93ba-bfba2252f47b.png?1562896529",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature has indestructible.\nWhenever a creature enters the battlefield, you may attach Shielded by Faith to that creature."}
 #:card{:code "e02",
        :collector-number "5",
        :name "Veteran's Reflexes",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/b/1ba8b52a-af98-4a7d-83e5-ab94e058d9a7.png?1562901515",
        :type-line "Instant",
        :oracle-text
        "Target creature gets +1/+1 until end of turn. Untap that creature."}
 #:card{:code "e02",
        :collector-number "6",
        :name "Vow of Duty",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bb43ab42-0c5e-4c71-b678-a258fec3bf48.png?1562939178",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +2/+2, has vigilance, and can't attack you or planeswalkers you control."}
 #:card{:code "e02",
        :collector-number "7",
        :name "Aether Gale",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/3/1352ede2-9eb4-44db-b323-58b7b6409242.png?1562899588",
        :type-line "Sorcery",
        :oracle-text
        "Return six target nonland permanents to their owners' hands."}
 #:card{:code "e02",
        :collector-number "8",
        :name "Blatant Thievery",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bb500b63-a61f-4d62-a666-61c7bca94b18.png?1562939192",
        :type-line "Sorcery",
        :oracle-text
        "For each opponent, gain control of target permanent that player controls."}
 #:card{:code "e02",
        :collector-number "9",
        :name "Concentrate",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/4/64f6ac9a-e0a6-4334-ac98-63b2c5bdccd2.png?1562918809",
        :type-line "Sorcery",
        :oracle-text "Draw three cards."}
 #:card{:code "e02",
        :collector-number "10",
        :name "Merfolk Sovereign",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0b1a55bc-7a62-4d0f-9885-db98e4324ff7.png?1562897510",
        :type-line "Creature — Merfolk Noble",
        :oracle-text
        "Other Merfolk creatures you control get +1/+1.\n{T}: Target Merfolk creature can't be blocked this turn."}
 #:card{:code "e02",
        :collector-number "11",
        :name "Threads of Disloyalty",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0c4a061e-45ac-47b5-a955-5744199589b1.png?1593860779",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature with mana value 2 or less\nYou control enchanted creature."}
 #:card{:code "e02",
        :collector-number "12",
        :name "Time Warp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87fe8637-9be1-4b57-832f-38cf92d23482.png?1562927104",
        :type-line "Sorcery",
        :oracle-text
        "Target player takes an extra turn after this one."}
 #:card{:code "e02",
        :collector-number "13",
        :name "Unsummon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fe499edd-2a65-4cbc-8d0c-6b3b6277edcc.png?1562955213",
        :type-line "Instant",
        :oracle-text "Return target creature to its owner's hand."}
 #:card{:code "e02",
        :collector-number "14",
        :name "Vow of Flight",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/4/940379f0-55ae-49b2-9aef-d18e509ed05b.png?1562929891",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +2/+2, has flying, and can't attack you or planeswalkers you control."}
 #:card{:code "e02",
        :collector-number "15",
        :name "Bloodbond Vampire",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6c2b7878-d66a-437a-967d-d6070e425c2c.png?1592451739",
        :type-line "Creature — Vampire Shaman Ally",
        :oracle-text
        "Whenever you gain life, put a +1/+1 counter on Bloodbond Vampire."}
 #:card{:code "e02",
        :collector-number "16",
        :name "Child of Night",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d01884e2-40e7-4af4-964c-52b6cbae2dae.png?1562944561",
        :type-line "Creature — Vampire",
        :oracle-text "Lifelink"}
 #:card{:code "e02",
        :collector-number "17",
        :name "Coat with Venom",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/cc4baf68-7399-40f1-b60c-44f078b65e75.png?1562943224",
        :type-line "Instant",
        :oracle-text
        "Target creature gets +1/+2 and gains deathtouch until end of turn. (Any amount of damage it deals to a creature is enough to destroy it.)"}
 #:card{:code "e02",
        :collector-number "18",
        :name "Doom Blade",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/e/7e89b4da-a095-4790-b1b7-2369fa221aa4.png?1562924813",
        :type-line "Instant",
        :oracle-text "Destroy target nonblack creature."}
 #:card{:code "e02",
        :collector-number "19",
        :name "Innocent Blood",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f4b83306-bb1d-4c44-bb77-1c9b048313dc.png?1562953032",
        :type-line "Sorcery",
        :oracle-text "Each player sacrifices a creature."}
 #:card{:code "e02",
        :collector-number "20",
        :name "Necropolis Regent",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/f/6ff29341-b947-415b-a939-46bfa4800dbe.png?1562921340",
        :type-line "Creature — Vampire",
        :oracle-text
        "Flying\nWhenever a creature you control deals combat damage to a player, put that many +1/+1 counters on it."}
 #:card{:code "e02",
        :collector-number "21",
        :name "Urge to Feed",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff8e3bff-1502-4dac-9d2d-784a988e5565.png?1562955539",
        :type-line "Instant",
        :oracle-text
        "Target creature gets -3/-3 until end of turn. You may tap any number of untapped Vampire creatures you control. If you do, put a +1/+1 counter on each of those Vampires."}
 #:card{:code "e02",
        :collector-number "22",
        :name "Vampire Interloper",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e22b76e5-4b37-4638-9002-089d5d967cd3.png?1562948875",
        :type-line "Creature — Vampire Scout",
        :oracle-text "Flying\nVampire Interloper can't block."}
 #:card{:code "e02",
        :collector-number "23",
        :name "Vampire Nighthawk",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c0cbb60-d75c-4bb4-9f20-b3382481b288.png?1562905303",
        :type-line "Creature — Vampire Shaman",
        :oracle-text "Flying, deathtouch, lifelink"}
 #:card{:code "e02",
        :collector-number "24",
        :name "Vampire Noble",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/19068744-60df-4099-8b1c-9784ba331362.png?1562900965",
        :type-line "Creature — Vampire Noble",
        :oracle-text ""}
 #:card{:code "e02",
        :collector-number "25",
        :name "Aggravated Assault",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/f/8f9fa105-6829-431c-8386-8e3e9deff2db.png?1562928859",
        :type-line "Enchantment",
        :oracle-text
        "{3}{R}{R}: Untap all creatures you control. After this main phase, there is an additional combat phase followed by an additional main phase. Activate only as a sorcery."}
 #:card{:code "e02",
        :collector-number "26",
        :name "Disaster Radius",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a7a4ef98-2b74-40e6-90ff-23179fb962da.png?1562934725",
        :type-line "Sorcery",
        :oracle-text
        "As an additional cost to cast this spell, reveal a creature card from your hand.\nDisaster Radius deals X damage to each creature your opponents control, where X is the revealed card's mana value."}
 #:card{:code "e02",
        :collector-number "27",
        :name "Mass Mutiny",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/461aaf42-9b96-4960-b6c8-ba80cf4ef349.png?1562911451",
        :type-line "Sorcery",
        :oracle-text
        "For each opponent, gain control of up to one target creature that player controls until end of turn. Untap those creatures. They gain haste until end of turn."}
 #:card{:code "e02",
        :collector-number "28",
        :name "Rush of Adrenaline",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/024eea40-6d8f-4b4e-9bcc-e55a9f12bf64.png?1562895576",
        :type-line "Instant",
        :oracle-text
        "Target creature gets +2/+1 and gains trample until end of turn."}
 #:card{:code "e02",
        :collector-number "29",
        :name "Shared Animosity",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca5feaf7-3ca0-4ad7-b56b-b76d39e4bec7.png?1562942780",
        :type-line "Enchantment",
        :oracle-text
        "Whenever a creature you control attacks, it gets +1/+0 until end of turn for each other attacking creature that shares a creature type with it."}
 #:card{:code "e02",
        :collector-number "30",
        :name "Vow of Lightning",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/520762c5-ca7c-4be3-b9aa-a5ae87c00da4.png?1562914221",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +2/+2, has first strike, and can't attack you or planeswalkers you control."}
 #:card{:code "e02",
        :collector-number "31",
        :name "Borderland Ranger",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/2/12124073-518a-498c-a817-400547ae7040.png?1562899345",
        :type-line "Creature — Human Scout Ranger",
        :oracle-text
        "When Borderland Ranger enters the battlefield, you may search your library for a basic land card, reveal it, put it into your hand, then shuffle."}
 #:card{:code "e02",
        :collector-number "32",
        :name "Giant Growth",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f237ecfe-ecb0-42e6-852f-4a7c61652803.png?1562952508",
        :type-line "Instant",
        :oracle-text "Target creature gets +3/+3 until end of turn."}
 #:card{:code "e02",
        :collector-number "33",
        :name "Hunter's Prowess",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c0e5ac0-48f2-44c2-814e-9bc90ff01760.png?1562905305",
        :type-line "Sorcery",
        :oracle-text
        "Until end of turn, target creature gets +3/+3 and gains trample and \"Whenever this creature deals combat damage to a player, draw that many cards.\""}
 #:card{:code "e02",
        :collector-number "34",
        :name "Prey Upon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/a/eac2c4a6-54b9-41ac-9265-39dd0be75726.png?1562950896",
        :type-line "Sorcery",
        :oracle-text
        "Target creature you control fights target creature you don't control. (Each deals damage equal to its power to the other.)"}
 #:card{:code "e02",
        :collector-number "35",
        :name "Rancor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/38e281ab-3437-4a2c-a668-9a148bc3eaf7.png?1562908394",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +2/+0 and has trample.\nWhen Rancor is put into a graveyard from the battlefield, return Rancor to its owner's hand."}
 #:card{:code "e02",
        :collector-number "36",
        :name "Soul of the Harvest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4a4ad065-cfab-4aad-b265-211143c1c69d.png?1562912362",
        :type-line "Creature — Elemental",
        :oracle-text
        "Trample\nWhenever another nontoken creature enters the battlefield under your control, you may draw a card."}
 #:card{:code "e02",
        :collector-number "37",
        :name "Vow of Wildness",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e1c4cea1-e06b-468e-86ef-07c3958ab10b.png?1562948732",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +3/+3, has trample, and can't attack you or planeswalkers you control."}
 #:card{:code "e02",
        :collector-number "38",
        :name "Jungle Barrier",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8be6060c-f6df-451d-86cd-c4e2564095ba.png?1562928034",
        :type-line "Creature — Plant Wall",
        :oracle-text
        "Defender (This creature can't attack.)\nWhen Jungle Barrier enters the battlefield, draw a card."}
 #:card{:code "e02",
        :collector-number "39",
        :name "Lightning Helix",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/79d1f0c1-9271-47e7-8bee-a102cdc396e9.png?1562923722",
        :type-line "Instant",
        :oracle-text
        "Lightning Helix deals 3 damage to any target and you gain 3 life."}
 #:card{:code "e02",
        :collector-number "40",
        :name "Mortify",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7dc4eced-d8b1-4e77-bacd-ba1dae56bfa6.png?1562924634",
        :type-line "Instant",
        :oracle-text "Destroy target creature or enchantment."}
 #:card{:code "e02",
        :collector-number "41",
        :name "Zealous Persecution",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/00963993-ff4d-4cc6-a7e0-ed8adac40bfd.png?1562895154",
        :type-line "Instant",
        :oracle-text
        "Until end of turn, creatures you control get +1/+1 and creatures your opponents control get -1/-1."}
 #:card{:code "e02",
        :collector-number "42",
        :name "Adaptive Automaton",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a3a74bb9-b850-4d94-81f4-ffe062e91c49.png?1562933645",
        :type-line "Artifact Creature — Construct",
        :oracle-text
        "As Adaptive Automaton enters the battlefield, choose a creature type.\nAdaptive Automaton is the chosen type in addition to its other types.\nOther creatures you control of the chosen type get +1/+1."}
 #:card{:code "e02",
        :collector-number "43",
        :name "Prismatic Lens",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/eb3da3e2-fdef-4ff4-bef6-85e57dc4c56d.png?1562951021",
        :type-line "Artifact",
        :oracle-text
        "{T}: Add {C}.\n{1}, {T}: Add one mana of any color."}
 #:card{:code "e02",
        :collector-number "44",
        :name "Quicksilver Amulet",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/ab053d73-31a9-4e70-9310-4e250862ad6b.png?1562935367",
        :type-line "Artifact",
        :oracle-text
        "{4}, {T}: You may put a creature card from your hand onto the battlefield."}
 #:card{:code "e02",
        :collector-number "45",
        :name "Crumbling Necropolis",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/478bc89c-ad53-41e8-9304-60837914c590.png?1562911751",
        :type-line "Land",
        :oracle-text
        "Crumbling Necropolis enters the battlefield tapped.\n{T}: Add {U}, {B}, or {R}."}
 #:card{:code "e02",
        :collector-number "46",
        :name "Jungle Shrine",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a3c12f1-5988-49a4-969a-cc7f678468d8.png?1562897315",
        :type-line "Land",
        :oracle-text
        "Jungle Shrine enters the battlefield tapped.\n{T}: Add {R}, {G}, or {W}."}
 #:card{:code "e02",
        :collector-number "47",
        :name "Tainted Field",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cb4125db-b44f-49b8-b74d-e131844e5510.png?1562943021",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}.\n{T}: Add {W} or {B}. Activate only if you control a Swamp."})
