(#:card{:type-line "Legendary Creature — Eldrazi",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/b/2/b22f99c9-87e8-4b72-8369-3fb2badbaf46.png?1679616422",
        :collector-number "1",
        :layout "normal",
        :name "Kozilek, the Great Distortion",
        :oracle-text
        "When you cast this spell, if you have fewer than seven cards in hand, draw cards equal to the difference.\nMenace\nDiscard a card with mana value X: Counter target spell with mana value X."}
 #:card{:type-line "Creature — Eldrazi",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/4/4/44a426ef-0f67-4923-b925-eaacdca8574e.png?1680477747",
        :collector-number "2",
        :layout "normal",
        :name "Matter Reshaper",
        :oracle-text
        "({C} represents colorless mana.)\nWhen Matter Reshaper dies, reveal the top card of your library. You may put that card onto the battlefield if it's a permanent card with mana value 3 or less. Otherwise, put that card into your hand."}
 #:card{:type-line "Creature — Eldrazi",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/0/d0f6f36b-ca9e-41f3-8ee9-cb1cc08a073c.png?1680477780",
        :collector-number "3",
        :layout "normal",
        :name "Thought-Knot Seer",
        :oracle-text
        "({C} represents colorless mana.)\nWhen Thought-Knot Seer enters the battlefield, target opponent reveals their hand. You choose a nonland card from it and exile that card.\nWhen Thought-Knot Seer leaves the battlefield, target opponent draws a card."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/f/cff29c58-151f-4973-ada8-2a4c352dd46d.png?1680478453",
        :collector-number "4",
        :layout "normal",
        :name "Brave the Elements",
        :oracle-text
        "Choose a color. White creatures you control gain protection from the chosen color until end of turn."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/a/e/ae9dd2f0-ed6a-4f53-afeb-0c42fe71b3cf.png?1679616520",
        :collector-number "5",
        :layout "normal",
        :name "Eerie Interlude",
        :oracle-text
        "Exile any number of target creatures you control. Return those cards to the battlefield under their owner's control at the beginning of the next end step."}
 #:card{:type-line "Creature — Eldrazi",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/8/8860a10c-bd03-4886-bc6e-a50f400e1e7e.png?1679616552",
        :collector-number "6",
        :layout "normal",
        :name "Eldrazi Displacer",
        :oracle-text
        "Devoid (This card has no color.)\n{2}{C}: Exile another target creature, then return it to the battlefield tapped under its owner's control. ({C} represents colorless mana.)"}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/f/df083031-acc0-49fd-aab8-8d799c1b530e.png?1679616576",
        :collector-number "7",
        :layout "normal",
        :name "Ethereal Armor",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +1/+1 for each enchantment you control and has first strike."}
 #:card{:type-line "Creature — Human Soldier",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/b/db183d32-646d-48e9-8494-fd01f81c2203.png?1679616583",
        :collector-number "8",
        :layout "normal",
        :name "Soldier of the Pantheon",
        :oracle-text
        "Protection from multicolored\nWhenever an opponent casts a multicolored spell, you gain 1 life."}
 #:card{:type-line "Creature — Shapeshifter",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/2/b/2b435ff2-a21b-440d-b0ee-572b09854200.png?1679616596",
        :collector-number "9",
        :layout "normal",
        :name "Clever Impersonator",
        :oracle-text
        "You may have Clever Impersonator enter the battlefield as a copy of any nonland permanent on the battlefield."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/2/1/2198edd5-7ba7-450d-a757-7d6dc2dcac9c.png?1679616605",
        :collector-number "10",
        :layout "normal",
        :name "Dispel",
        :oracle-text "Counter target instant spell."}
 #:card{:type-line "Creature — Human Rogue Ally",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/f/9f7bf7c0-ab4b-4479-981d-9b99e5f6a345.png?1679616648",
        :collector-number "11",
        :layout "normal",
        :name "Zulaport Cutthroat",
        :oracle-text
        "Whenever Zulaport Cutthroat or another creature you control dies, each opponent loses 1 life and you gain 1 life."}
 #:card{:type-line "Enchantment Creature — Spirit",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/7/976452de-9cc9-4ca7-8c32-e384e5607149.png?1681728935",
        :collector-number "12",
        :layout "normal",
        :name "Eidolon of the Great Revel",
        :oracle-text
        "Whenever a player casts a spell with mana value 3 or less, Eidolon of the Great Revel deals 2 damage to that player."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/b/9b64f118-0346-42c2-b7e8-c8c339ee0c1f.png?1679616765",
        :collector-number "13",
        :layout "normal",
        :name "Fiery Impulse",
        :oracle-text
        "Fiery Impulse deals 2 damage to target creature.\nSpell mastery — If there are two or more instant and/or sorcery cards in your graveyard, Fiery Impulse deals 3 damage instead."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/d/cdfcd1ff-5d4c-45ce-b99e-508cd5427c54.png?1679616774",
        :collector-number "14",
        :layout "normal",
        :name "Rending Volley",
        :oracle-text
        "This spell can't be countered.\nRending Volley deals 4 damage to target white or blue creature."}
 #:card{:type-line "Enchantment Creature — Centaur",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/0/8/08784b79-570d-495c-a05e-d5fe3e876a97.png?1681728962",
        :collector-number "15",
        :layout "normal",
        :name "Courser of Kruphix",
        :oracle-text
        "Play with the top card of your library revealed.\nYou may play lands from the top of your library.\nLandfall — Whenever a land enters the battlefield under your control, you gain 1 life."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/5/d5f2365a-7b0a-4a2a-862c-f77a50c3aac1.png?1679616800",
        :collector-number "16",
        :layout "normal",
        :name "Nylea's Presence",
        :oracle-text
        "Enchant land\nWhen Nylea's Presence enters the battlefield, draw a card.\nEnchanted land is every basic land type in addition to its other types."}
 #:card{:type-line "Creature — Satyr",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/4/6/46eaf152-87f5-4fcc-8855-8ccb7216d7a9.png?1679616807",
        :collector-number "17",
        :layout "normal",
        :name "Satyr Wayfinder",
        :oracle-text
        "When Satyr Wayfinder enters the battlefield, reveal the top four cards of your library. You may put a land card from among them into your hand. Put the rest into your graveyard."}
 #:card{:type-line "Creature — Eldrazi",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/f/6/f6a1cc1b-6c49-44f4-a69d-f898ae4222b9.png?1679616815",
        :collector-number "18",
        :layout "normal",
        :name "World Breaker",
        :oracle-text
        "Devoid (This card has no color.)\nWhen you cast this spell, exile target artifact, enchantment, or land.\nReach\n{2}{C}, Sacrifice a land: Return World Breaker from your graveyard to your hand. ({C} represents colorless mana.)"}
 #:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/b/c/bcabd3c7-ba89-490c-87d7-d34f46de9199.png?1679616823",
        :collector-number "19",
        :layout "normal",
        :name "Reflector Mage",
        :oracle-text
        "When Reflector Mage enters the battlefield, return target creature an opponent controls to its owner's hand. That creature's owner can't cast spells with the same name as that creature until your next turn."}
 #:card{:type-line "Creature — Elf Shaman",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/4/c4c7a230-74f0-4873-bc2a-783eeed9ed53.png?1679616855",
        :collector-number "20",
        :layout "normal",
        :name "Shaman of the Pack",
        :oracle-text
        "When Shaman of the Pack enters the battlefield, target opponent loses life equal to the number of Elves you control."}
 #:card{:type-line "Legendary Creature — Sliver",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/e/ce9e5568-ad5b-4534-8e09-348551c29bb7.png?1679616863",
        :collector-number "21",
        :layout "normal",
        :name "Sliver Hivelord",
        :oracle-text
        "Sliver creatures you control have indestructible. (Damage and effects that say \"destroy\" don't destroy them.)"}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/8/d80f82c0-e13c-4bac-bcb3-e1766e2d8d69.png?1682292230",
        :collector-number "22",
        :layout "normal",
        :name "Mana Confluence",
        :oracle-text "{T}, Pay 1 life: Add one mana of any color."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/9/d9b5dbca-100a-4424-b438-b28a6993c9fc.png?1679616880",
        :collector-number "23",
        :layout "normal",
        :name "Mutavault",
        :oracle-text
        "{T}: Add {C}.\n{1}: Mutavault becomes a 2/2 creature with all creature types until end of turn. It's still a land."}
 #:card{:type-line "Legendary Land",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/2/920bbc28-1a57-4dc3-86e9-6a491a4afa1e.png?1679616888",
        :collector-number "24",
        :layout "normal",
        :name "Nykthos, Shrine to Nyx",
        :oracle-text
        "{T}: Add {C}.\n{2}, {T}: Choose a color. Add an amount of mana of that color equal to your devotion to that color. (Your devotion to a color is the number of mana symbols of that color in the mana costs of permanents you control.)"}
 #:card{:type-line "Basic Land",
        :layout-category :normal,
        :code "ea2",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/7/7/77e8f8ec-6625-4615-aa5e-f324642b45b0.png?1680477865",
        :collector-number "25",
        :layout "normal",
        :name "Wastes",
        :oracle-text "{T}: Add {C}."})
