(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/a/6a6c1a21-5fe1-4329-9df8-cbb854464b2a.png?1689354517",
        :collector-number "1",
        :layout "normal",
        :name "Cyclonic Rift",
        :oracle-text
        "Return target nonland permanent you don't control to its owner's hand.\nOverload {6}{U} (You may cast this spell for its overload cost. If you do, change \"target\" in its text to \"each.\")"}
 #:card{:type-line "Creature — Human Monk",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/2/522d3a79-2523-4680-8853-6560c626eaa4.png?1689353805",
        :collector-number "2",
        :layout "normal",
        :name "Abbot of Keral Keep",
        :oracle-text
        "Prowess (Whenever you cast a noncreature spell, this creature gets +1/+1 until end of turn.)\nWhen Abbot of Keral Keep enters the battlefield, exile the top card of your library. Until end of turn, you may play that card."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/0/80b04753-3696-430c-9dd1-c24c14227720.png?1689354672",
        :collector-number "3",
        :layout "normal",
        :name "Shrapnel Blast",
        :oracle-text
        "As an additional cost to cast this spell, sacrifice an artifact.\nShrapnel Blast deals 5 damage to any target."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/7/37be0614-1433-429c-a3de-27b415470c5b.png?1689515543",
        :collector-number "4",
        :layout "normal",
        :name "Sylvan Scrying",
        :oracle-text
        "Search your library for a land card, reveal it, put it into your hand, then shuffle."}
 #:card{:type-line "Enchantment Creature — Spirit",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/8/8836abc9-e110-4ad5-be5d-183be28c6353.png?1689354581",
        :collector-number "5",
        :layout "normal",
        :name "Eidolon of Blossoms",
        :oracle-text
        "Constellation — Whenever Eidolon of Blossoms or another enchantment enters the battlefield under your control, draw a card."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/9/695caaa5-f060-48e2-a430-a21704635aa4.png?1689353855",
        :collector-number "6",
        :layout "normal",
        :name "Chord of Calling",
        :oracle-text
        "Convoke (Your creatures can help cast this spell. Each creature you tap while casting this spell pays for {1} or one mana of that creature's color.)\nSearch your library for a creature card with mana value X or less, put it onto the battlefield, then shuffle."}
 #:card{:type-line "Creature — Wurm",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/a/4a285803-c1a0-4f2c-bbf5-cc9ae31f872e.png?1689355115",
        :collector-number "7",
        :layout "normal",
        :name "Worldspine Wurm",
        :oracle-text
        "Trample\nWhen Worldspine Wurm dies, create three 5/5 green Wurm creature tokens with trample.\nWhen Worldspine Wurm is put into a graveyard from anywhere, shuffle it into its owner's library."}
 #:card{:type-line "Creature — Bird",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/f/efedde4e-40c2-472d-9e0b-9f3c26ea5571.png?1689515547",
        :collector-number "8",
        :layout "normal",
        :name "Judge's Familiar",
        :oracle-text
        "Flying\nSacrifice Judge's Familiar: Counter target instant or sorcery spell unless its controller pays {1}."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/1/51d41d30-987b-4401-b6f6-cd1571d0959b.png?1689354587",
        :collector-number "9",
        :layout "normal",
        :name "Golgari Charm",
        :oracle-text
        "Choose one —\n• All creatures get -1/-1 until end of turn.\n• Destroy target enchantment.\n• Regenerate each creature you control."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/f/0fc5df7c-6620-4a37-8869-e5d6bc42374d.png?1689354796",
        :collector-number "10",
        :layout "normal",
        :name "Simic Charm",
        :oracle-text
        "Choose one —\n• Target creature gets +3/+3 until end of turn.\n• Permanents you control gain hexproof until end of turn.\n• Return target creature to its owner's hand."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/e/ae116b37-1256-4764-8bd2-5e27ec4abe8a.png?1689354880",
        :collector-number "11",
        :layout "normal",
        :name "Izzet Charm",
        :oracle-text
        "Choose one —\n• Counter target noncreature spell unless its controller pays {2}.\n• Izzet Charm deals 2 damage to target creature.\n• Draw two cards, then discard two cards."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/8/b8d142ad-6d84-4892-8d6e-5c957d02a23c.png?1689354886",
        :collector-number "12",
        :layout "normal",
        :name "Gruul Charm",
        :oracle-text
        "Choose one —\n• Creatures without flying can't block this turn.\n• Gain control of all permanents you own.\n• Gruul Charm deals 3 damage to each creature with flying."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/4/049847cb-ab85-48bd-8a8a-795a713fd5e6.png?1689354903",
        :collector-number "13",
        :layout "normal",
        :name "Orzhov Charm",
        :oracle-text
        "Choose one —\n• Return target creature you control and all Auras you control attached to it to their owner's hand.\n• Destroy target creature and you lose life equal to its toughness.\n• Return target creature card with mana value 1 or less from your graveyard to the battlefield."}
 #:card{:type-line "Creature — Elemental",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/a/5ace0449-74a0-476b-8215-af18040d47e9.png?1689484025",
        :collector-number "14",
        :layout "normal",
        :name "Voice of Resurgence",
        :oracle-text
        "Whenever an opponent casts a spell during your turn or when Voice of Resurgence dies, create a green and white Elemental creature token with \"This creature's power and toughness are each equal to the number of creatures you control.\""}
 #:card{:type-line "Creature — Elf Shaman",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/0/2071ed5f-7a50-4b02-b6a4-f5c781ef9212.png?1689354574",
        :collector-number "15",
        :layout "normal",
        :name "Deathrite Shaman",
        :oracle-text
        "{T}: Exile target land card from a graveyard. Add one mana of any color.\n{B}, {T}: Exile target instant or sorcery card from a graveyard. Each opponent loses 2 life.\n{G}, {T}: Exile target creature card from a graveyard. You gain 2 life."}
 #:card{:type-line "Legendary Creature — Spirit Advisor",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/1/11b8f8f8-d24f-4ea5-b6b7-ad257fb03fc1.png?1689515549",
        :collector-number "16",
        :layout "normal",
        :name "Obzedat, Ghost Council",
        :oracle-text
        "When Obzedat, Ghost Council enters the battlefield, target opponent loses 2 life and you gain 2 life.\nAt the beginning of your end step, you may exile Obzedat. If you do, return it to the battlefield under its owner's control at the beginning of your next upkeep. It gains haste."}
 #:card{:type-line "Legendary Creature — Elemental",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/e/7e3fed02-d09b-4bd6-a3d9-048a8df48f66.png?1689515550",
        :collector-number "17",
        :layout "normal",
        :name "Omnath, Locus of Rage",
        :oracle-text
        "Landfall — Whenever a land enters the battlefield under your control, create a 5/5 red and green Elemental creature token.\nWhenever Omnath, Locus of Rage or another Elemental you control dies, Omnath deals 3 damage to any target."}
 #:card{:type-line "Legendary Enchantment Creature — God",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/d/5d7f8ef3-212b-4671-8489-e24f1659450b.png?1689853845",
        :collector-number "18",
        :layout "normal",
        :name "Xenagos, God of Revels",
        :oracle-text
        "Indestructible\nAs long as your devotion to red and green is less than seven, Xenagos isn't a creature.\nAt the beginning of combat on your turn, another target creature you control gains haste and gets +X/+X until end of turn, where X is that creature's power."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/b/3b06e292-43ef-4def-b6a6-9b7816cc8599.png?1689515554",
        :collector-number "19",
        :layout "normal",
        :name "Accorder's Shield",
        :oracle-text
        "Equipped creature gets +0/+3 and has vigilance. (Attacking doesn't cause it to tap.)\nEquip {3} ({3}: Attach to target creature you control. Equip only as a sorcery.)"}
 #:card{:type-line "Land — Forest Plains",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/9/091556d0-c8d3-44a9-9aee-1be624832bd3.png?1689354030",
        :collector-number "20",
        :layout "normal",
        :name "Canopy Vista",
        :oracle-text
        "({T}: Add {G} or {W}.)\nCanopy Vista enters the battlefield tapped unless you control two or more basic lands."}
 #:card{:type-line "Land — Mountain Forest",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/0/801133a6-513f-410e-84cd-a2d01e177fda.png?1689354473",
        :collector-number "21",
        :layout "normal",
        :name "Cinder Glade",
        :oracle-text
        "({T}: Add {R} or {G}.)\nCinder Glade enters the battlefield tapped unless you control two or more basic lands."}
 #:card{:type-line "Land — Swamp Mountain",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/3/e3e0fd0b-312b-406c-982a-4effacd4b65b.png?1689355212",
        :collector-number "22",
        :layout "normal",
        :name "Smoldering Marsh",
        :oracle-text
        "({T}: Add {B} or {R}.)\nSmoldering Marsh enters the battlefield tapped unless you control two or more basic lands."}
 #:card{:type-line "Land — Island Swamp",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/6/568ed961-3387-403e-b217-c8ac6678e6d9.png?1689355211",
        :collector-number "23",
        :layout "normal",
        :name "Sunken Hollow",
        :oracle-text
        "({T}: Add {U} or {B}.)\nSunken Hollow enters the battlefield tapped unless you control two or more basic lands."}
 #:card{:type-line "Land — Plains Island",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/2/32be189f-7b13-4f7c-88d0-6594bda25551.png?1689354651",
        :collector-number "24",
        :layout "normal",
        :name "Prairie Stream",
        :oracle-text
        "({T}: Add {W} or {U}.)\nPrairie Stream enters the battlefield tapped unless you control two or more basic lands."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "ea3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/c/cc67fd50-e74b-4277-8266-740170154dcd.png?1689355106",
        :collector-number "25",
        :layout "normal",
        :name "Thespian's Stage",
        :oracle-text
        "{T}: Add {C}.\n{2}, {T}: Thespian's Stage becomes a copy of target land, except it has this ability."})
