(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "f01",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e95a352d-187f-4d8d-a6bb-4188da756b7c.png?1595442681",
        :collector-number "6",
        :layout "normal",
        :name "Swords to Plowshares",
        :oracle-text
        "Exile target creature. Its controller gains life equal to its power."}
 #:card{:type-line "Creature — Snake",
        :layout-category :normal,
        :code "f01",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e3aecfdf-a1ad-4884-bd29-2fa53d39b8a3.png?1561758319",
        :collector-number "7",
        :layout "normal",
        :name "Ophidian",
        :oracle-text
        "Whenever Ophidian attacks and isn't blocked, you may draw a card. If you do, Ophidian assigns no combat damage this turn."}
 #:card{:type-line "Creature — Jackal",
        :layout-category :normal,
        :code "f01",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/8/581b5da1-764e-48c1-9711-35d50a6d16ec.png?1561757185",
        :collector-number "8",
        :layout "normal",
        :name "Jackal Pup",
        :oracle-text
        "Whenever Jackal Pup is dealt damage, it deals that much damage to you."}
 #:card{:type-line "Creature — Elf Ranger",
        :layout-category :normal,
        :code "f01",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a7a64413-ab7b-4f0d-8e9a-3d1fbe66a99f.png?1561757775",
        :collector-number "9",
        :layout "normal",
        :name "Quirion Ranger",
        :oracle-text
        "Return a Forest you control to its owner's hand: Untap target creature. Activate only once each turn."}
 #:card{:type-line "Creature — Zombie",
        :layout-category :normal,
        :code "f01",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e6b157a0-e922-4a87-8856-ec86e81ed222.png?1561758337",
        :collector-number "10",
        :layout "normal",
        :name "Carnophage",
        :oracle-text
        "At the beginning of your upkeep, tap Carnophage unless you pay 1 life."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f01",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/267bf226-3326-49ae-a6a3-8aed8a61ff40.png?1561756805",
        :collector-number "11",
        :layout "normal",
        :name "Impulse",
        :oracle-text
        "Look at the top four cards of your library. Put one of them into your hand and the rest on the bottom of your library in any order."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f01",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3ea010a6-75dc-468f-862c-c0857b04a1a3.png?1561756967",
        :collector-number "12",
        :layout "normal",
        :name "Fireblast",
        :oracle-text
        "You may sacrifice two Mountains rather than pay this spell's mana cost.\nFireblast deals 4 damage to any target."})
