(#:card{:type-line "Creature — Soltari Cleric",
        :layout-category :normal,
        :code "f02",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/360aed08-19b0-4506-9efb-5b540c29b0e6.png?1618466015",
        :collector-number "1",
        :layout "normal",
        :name "Soltari Priest",
        :oracle-text
        "Protection from red\nShadow (This creature can block or be blocked by only creatures with shadow.)"}
 #:card{:type-line "Creature — Troll",
        :layout-category :normal,
        :code "f02",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/95daade6-f252-4b17-851c-221327710866.png?1562051919",
        :collector-number "2",
        :layout "normal",
        :name "Albino Troll",
        :oracle-text
        "Echo {1}{G} (At the beginning of your upkeep, if this came under your control since the beginning of your last upkeep, sacrifice it unless you pay its echo cost.)\n{1}{G}: Regenerate Albino Troll."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f02",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/c/1c707e5b-c510-4aaa-a6f1-4ad244087ab3.png?1562051911",
        :collector-number "3",
        :layout "normal",
        :name "Dissipate",
        :oracle-text
        "Counter target spell. If that spell is countered this way, exile it instead of putting it into its owner's graveyard."}
 #:card{:type-line "Creature — Human Knight",
        :layout-category :normal,
        :code "f02",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d49d78b6-2bc7-4f1f-9448-c26f9ce00272.png?1562051920",
        :collector-number "4",
        :layout "normal",
        :name "Black Knight",
        :oracle-text
        "First strike (This creature deals combat damage before creatures without first strike.)\nProtection from white (This creature can't be blocked, targeted, dealt damage, or enchanted by anything white.)"}
 #:card{:type-line "Creature — Plant Wall",
        :layout-category :normal,
        :code "f02",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/9/698375da-df97-47d3-a525-0a778427e054.png?1562051917",
        :collector-number "5",
        :layout "normal",
        :name "Wall of Blossoms",
        :oracle-text
        "Defender\nWhen Wall of Blossoms enters the battlefield, draw a card."}
 #:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "f02",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/f/efff4a1c-ad9f-4afd-9800-3cf63e9ee3ba.png?1562051923",
        :collector-number "6",
        :layout "normal",
        :name "Fireslinger",
        :oracle-text
        "{T}: Fireslinger deals 1 damage to any target and 1 damage to you."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "f02",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/40f1117c-5bd6-42de-b8df-366c8a4b6d06.png?1562051916",
        :collector-number "7",
        :layout "normal",
        :name "Drain Life",
        :oracle-text
        "Spend only black mana on X.\nDrain Life deals X damage to any target. You gain life equal to the damage dealt, but not more life than the player's life total before the damage was dealt, the planeswalker's loyalty before the damage was dealt, or the creature's toughness."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "f02",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/c/1c325b30-c769-41e0-839b-2407e3273bfd.png?1562051909",
        :collector-number "8",
        :layout "normal",
        :name "Aura of Silence",
        :oracle-text
        "Artifact and enchantment spells your opponents cast cost {2} more to cast.\nSacrifice Aura of Silence: Destroy target artifact or enchantment."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f02",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/267738fd-234f-47a4-bc3c-35872b7e2cb0.png?1562051913",
        :collector-number "9",
        :layout "normal",
        :name "Forbid",
        :oracle-text
        "Buyback—Discard two cards. (You may discard two cards in addition to any other costs as you cast this spell. If you do, put this card into your hand as it resolves.)\nCounter target spell."}
 #:card{:type-line "Creature — Spike",
        :layout-category :normal,
        :code "f02",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d599d209-d6b8-4ed6-81c6-b65f29048a00.png?1562051922",
        :collector-number "10",
        :layout "normal",
        :name "Spike Feeder",
        :oracle-text
        "Spike Feeder enters the battlefield with two +1/+1 counters on it.\n{2}, Remove a +1/+1 counter from Spike Feeder: Put a +1/+1 counter on target creature.\nRemove a +1/+1 counter from Spike Feeder: You gain 2 life."}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "f02",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f1a2c84b-53f2-48fd-9602-301b18e2813d.png?1562051925",
        :collector-number "11",
        :layout "normal",
        :name "Mogg Fanatic",
        :oracle-text
        "Sacrifice Mogg Fanatic: It deals 1 damage to any target."}
 #:card{:type-line "Creature — Human Knight",
        :layout-category :normal,
        :code "f02",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fde7e02b-7025-42d1-85d4-bd03f71c6c27.png?1562052297",
        :collector-number "12",
        :layout "normal",
        :name "White Knight",
        :oracle-text
        "First strike (This creature deals combat damage before creatures without first strike.)\nProtection from black (This creature can't be blocked, targeted, dealt damage, or enchanted by anything black.)"})
