(#:card{:type-line "Artifact Creature — Gnome",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75522385-2f94-4c7c-b7d2-e8827ea1164f.png?1562376397",
        :collector-number "1",
        :layout "normal",
        :name "Bottle Gnomes",
        :oracle-text "Sacrifice Bottle Gnomes: You gain 3 life."}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fe45d58c-9831-418a-a588-f530af3dc36f.png?1562376778",
        :collector-number "2",
        :layout "normal",
        :name "Muscle Sliver",
        :oracle-text "All Sliver creatures get +1/+1."}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c5ff53ec-9ae0-4a74-b0e6-9bf0dfc8c4c0.png?1562376773",
        :collector-number "3",
        :layout "normal",
        :name "Crystalline Sliver",
        :oracle-text
        "All Slivers have shroud. (They can't be the targets of spells or abilities.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/5/a51c1a95-e484-41e4-9c49-ffb115a7d1cc.png?1562376399",
        :collector-number "4",
        :layout "normal",
        :name "Capsize",
        :oracle-text
        "Buyback {3} (You may pay an additional {3} as you cast this spell. If you do, put this card into your hand as it resolves.)\nReturn target permanent to its owner's hand."}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4c23b2d4-fdbc-4c62-8e5b-c9235c53c96e.png?1562376394",
        :collector-number "5",
        :layout "normal",
        :name "Priest of Titania",
        :oracle-text "{T}: Add {G} for each Elf on the battlefield."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/a/9a1960e6-00b5-44c6-9fd1-dca49f58f433.png?1562376398",
        :collector-number "6",
        :layout "normal",
        :name "Goblin Bombardment",
        :oracle-text
        "Sacrifice a creature: Goblin Bombardment deals 1 damage to any target."}
 #:card{:type-line "Creature — Beast",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/3/c355e0e2-6854-437f-9fff-86f98bd16f34.png?1562376401",
        :collector-number "7",
        :layout "normal",
        :name "Scragnoth",
        :oracle-text
        "This spell can't be countered.\nProtection from blue"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/1089ee82-518b-4b0e-bc53-1c5ef66beca5.png?1562376389",
        :collector-number "8",
        :layout "normal",
        :name "Smother",
        :oracle-text
        "Destroy target creature with mana value 3 or less. It can't be regenerated."}
 #:card{:type-line "Creature — Human Soldier Rebel",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/9/297f11b1-aa18-4dd2-87e8-cf43f9b78a4b.png?1562376391",
        :collector-number "9",
        :layout "normal",
        :name "Whipcorder",
        :oracle-text
        "{W}, {T}: Tap target creature.\nMorph {W} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)"}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f337250e-3491-4ff8-b79a-1711d55c6ca8.png?1562376777",
        :collector-number "10",
        :layout "normal",
        :name "Sparksmith",
        :oracle-text
        "{T}: Sparksmith deals X damage to target creature and X damage to you, where X is the number of Goblins on the battlefield."}
 #:card{:type-line "Creature — Boar Beast",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/df9b9093-e322-43da-95b9-13a0a1ec447e.png?1562376775",
        :collector-number "11",
        :layout "normal",
        :name "Krosan Tusker",
        :oracle-text
        "Cycling {2}{G} ({2}{G}, Discard this card: Draw a card.)\nWhen you cycle Krosan Tusker, you may search your library for a basic land card, reveal that card, put it into your hand, then shuffle. (Do this before you draw.)"}
 #:card{:type-line "Creature — Zombie Cleric",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/9/691135e8-1c41-41c4-9426-48bffe23bfd8.png?1562376395",
        :collector-number "12",
        :layout "normal",
        :name "Withered Wretch",
        :oracle-text "{1}: Exile target card from a graveyard."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/32316acb-9206-459b-83b3-64be3bf4d396.png?1562376392",
        :collector-number "13",
        :layout "normal",
        :name "Disenchant",
        :oracle-text "Destroy target artifact or enchantment."})
