(#:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "f04",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/83608297-a2e3-4bf5-84aa-00e0a7743d1e.png?1562052309",
        :collector-number "1",
        :layout "normal",
        :name "Willbender",
        :oracle-text
        "Morph {1}{U} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)\nWhen Willbender is turned face up, change the target of target spell or ability with a single target."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "f04",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/509af745-13d8-4c93-ba5c-1b691fc95f73.png?1562052304",
        :collector-number "2",
        :layout "normal",
        :name "Slice and Dice",
        :oracle-text
        "Slice and Dice deals 4 damage to each creature.\nCycling {2}{R} ({2}{R}, Discard this card: Draw a card.)\nWhen you cycle Slice and Dice, you may have it deal 1 damage to each creature."}
 #:card{:type-line "Creature — Human Knight",
        :layout-category :normal,
        :code "f04",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/c/8c3fca0b-354f-43d1-9f1f-bbb7b52b416b.png?1562052312",
        :collector-number "3",
        :layout "normal",
        :name "Silver Knight",
        :oracle-text "First strike, protection from red"}
 #:card{:type-line "Creature — Beast",
        :layout-category :normal,
        :code "f04",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7a15c7e0-6b00-4947-a7f0-24d91c9b77eb.png?1562052307",
        :collector-number "4",
        :layout "normal",
        :name "Krosan Warchief",
        :oracle-text
        "Beast spells you cast cost {1} less to cast.\n{1}{G}: Regenerate target Beast."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "f04",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/838bc07d-ed3e-4ba5-9a75-d008d9546582.png?1610790469",
        :collector-number "5",
        :layout "normal",
        :name "Lightning Rift",
        :oracle-text
        "Whenever a player cycles a card, you may pay {1}. If you do, Lightning Rift deals 2 damage to any target."}
 #:card{:type-line "Creature — Zombie",
        :layout-category :normal,
        :code "f04",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/3/3392eec6-c4cb-4c48-b291-4ea8755a4e1c.png?1562052301",
        :collector-number "6",
        :layout "normal",
        :name "Carrion Feeder",
        :oracle-text
        "Carrion Feeder can't block.\nSacrifice a creature: Put a +1/+1 counter on Carrion Feeder."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "f04",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/e/4eae1639-c460-460a-ae3d-f427f75accd5.png?1562052303",
        :collector-number "7",
        :layout "normal",
        :name "Treetop Village",
        :oracle-text
        "Treetop Village enters the battlefield tapped.\n{T}: Add {G}.\n{1}{G}: Treetop Village becomes a 3/3 green Ape creature with trample until end of turn. It's still a land. (It can deal excess combat damage to the player or planeswalker it's attacking.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f04",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dc65a1b2-c183-433e-b4b2-d3e7f612c724.png?1562052315",
        :collector-number "8",
        :layout "normal",
        :name "Accumulated Knowledge",
        :oracle-text
        "Draw a card, then draw cards equal to the number of cards named Accumulated Knowledge in all graveyards."}
 #:card{:type-line "Creature — Human Nomad",
        :layout-category :normal,
        :code "f04",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f4fa943a-f2eb-4cf8-b8bd-0fe2b2da74a9.png?1562052317",
        :collector-number "9",
        :layout "normal",
        :name "Avalanche Riders",
        :oracle-text
        "Haste\nEcho {3}{R} (At the beginning of your upkeep, if this came under your control since the beginning of your last upkeep, sacrifice it unless you pay its echo cost.)\nWhen Avalanche Riders enters the battlefield, destroy target land."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "f04",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d0391889-b3a6-4723-814f-aebec1c2a64f.png?1562052314",
        :collector-number "10",
        :layout "normal",
        :name "Reanimate",
        :oracle-text
        "Put target creature card from a graveyard onto the battlefield under your control. You lose life equal to its mana value."}
 #:card{:type-line "Creature — Human Cleric",
        :layout-category :normal,
        :code "f04",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/11bce850-487d-41ca-a012-d591daf3687b.png?1562052299",
        :collector-number "11",
        :layout "normal",
        :name "Mother of Runes",
        :oracle-text
        "{T}: Target creature you control gains protection from the color of your choice until end of turn."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f04",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75b56b18-47a3-470b-911c-57da82c5ac03.png?1595376447",
        :collector-number "12",
        :layout "normal",
        :name "Brainstorm",
        :oracle-text
        "Draw three cards, then put two cards from your hand on top of your library in any order."})
