(#:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "f06",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f74f4377-38ab-4822-b14b-e679247ec991.png?1562428158",
        :collector-number "1",
        :layout "normal",
        :name "Elves of Deep Shadow",
        :oracle-text
        "{T}: Add {B}. Elves of Deep Shadow deals 1 damage to you."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "f06",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/3/d3f3777a-16b4-4860-b67e-23a25e65df50.png?1562428154",
        :collector-number "2",
        :layout "normal",
        :name "Armadillo Cloak",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +2/+2 and has trample.\nWhenever enchanted creature deals damage, you gain that much life."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f06",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b752cbd8-5f8b-4cd6-854d-69138be9fbdc.png?1562428152",
        :collector-number "3",
        :layout "normal",
        :name "Terminate",
        :oracle-text
        "Destroy target creature. It can't be regenerated."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "f06",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/9/894e5b74-61e0-4165-82ab-5e7e22e5a817.png?1562428151",
        :collector-number "4",
        :layout "normal",
        :name "Lobotomy",
        :oracle-text
        "Target player reveals their hand, then you choose a card other than a basic land card from it. Search that player's graveyard, hand, and library for all cards with the same name as the chosen card and exile them. Then that player shuffles."}
 #:card{:type-line "Creature — Goblin Warrior",
        :layout-category :normal,
        :code "f06",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/566a29cb-e96a-49a3-98b9-43d8a8ad97e8.png?1562428144",
        :collector-number "5",
        :layout "normal",
        :name "Goblin Warchief",
        :oracle-text
        "Goblin spells you cast cost {1} less to cast.\nGoblins you control have haste."}
 #:card{:type-line "Creature — Dog",
        :layout-category :normal,
        :code "f06",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/0558a53a-e05b-4eb8-9c48-519f3e6bb13c.png?1562428142",
        :collector-number "6",
        :layout "normal",
        :name "Wild Mongrel",
        :oracle-text
        "Discard a card: Wild Mongrel gets +1/+1 and becomes the color of your choice until end of turn."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "f06",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/edcff171-587d-4459-b6cc-8d7bc5ae145e.png?1562428157",
        :collector-number "7",
        :layout "normal",
        :name "Chainer's Edict",
        :oracle-text
        "Target player sacrifices a creature.\nFlashback {5}{B}{B} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f06",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/617152ea-bacd-42f3-928b-e0bcc686dd41.png?1562428147",
        :collector-number "8",
        :layout "normal",
        :name "Circular Logic",
        :oracle-text
        "Counter target spell unless its controller pays {1} for each card in your graveyard.\nMadness {U} (If you discard this card, discard it into exile. When you do, cast it for its madness cost or put it into your graveyard.)"}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "f06",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/56d58edc-5c78-48b1-8d33-77e5a728f6bd.png?1595377569",
        :collector-number "9",
        :layout "normal",
        :name "Astral Slide",
        :oracle-text
        "Whenever a player cycles a card, you may exile target creature. If you do, return that card to the battlefield under its owner's control at the beginning of the next end step."}
 #:card{:type-line "Creature — Wurm",
        :layout-category :normal,
        :code "f06",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dc56b3a4-163c-4e7e-bcea-8c4213c2a2f5.png?1562428155",
        :collector-number "10",
        :layout "normal",
        :name "Arrogant Wurm",
        :oracle-text
        "Trample\nMadness {2}{G} (If you discard this card, discard it into exile. When you do, cast it for its madness cost or put it into your graveyard.)"}
 #:card{:code "f06",
        :collector-number "11a",
        :name "Life // Death",
        :layout "split",
        :highres? true,
        :layout-category :split,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/7/776d76de-f8b3-4ab3-a326-6d9623b78ba3.png?1562428149",
        :faces
        [{:type-line "Sorcery",
          :oracle-text
          "All lands you control become 1/1 creatures until end of turn. They're still lands."}
         {:type-line "Sorcery",
          :oracle-text
          "Return target creature card from your graveyard to the battlefield. You lose life equal to its mana value."}]}
 #:card{:code "f06",
        :collector-number "12a",
        :name "Fire // Ice",
        :layout "split",
        :highres? true,
        :layout-category :split,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/4/04cb4e4e-8275-4132-8f1a-84b486725400.png?1562428141",
        :faces
        [{:type-line "Instant",
          :oracle-text
          "Fire deals 2 damage divided as you choose among one or two targets."}
         {:type-line "Instant",
          :oracle-text "Tap target permanent.\nDraw a card."}]})
