(#:card{:code "f07",
        :collector-number "1",
        :name "Firebolt",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5feef053-6788-4124-8ec5-b3aca7139177.png?1562132470",
        :type-line "Sorcery",
        :oracle-text
        "Firebolt deals 2 damage to any target.\nFlashback {4}{R} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "f07",
        :collector-number "2",
        :name "Deep Analysis",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/2/221921d9-34d8-420a-be5e-6b4468e703fa.png?1562132465",
        :type-line "Sorcery",
        :oracle-text
        "Target player draws two cards.\nFlashback—{1}{U}, Pay 3 life. (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "f07",
        :collector-number "3",
        :name "Gerrard's Verdict",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/ba298bc6-b096-4de9-98ea-1cefad46ee65.png?1562132475",
        :type-line "Sorcery",
        :oracle-text
        "Target player discards two cards. You gain 3 life for each land card discarded this way."}
 #:card{:code "f07",
        :collector-number "4",
        :name "Basking Rootwalla",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/2/b2af0acb-4c2a-4f89-b509-c16504e24362.png?1562132473",
        :type-line "Creature — Lizard",
        :oracle-text
        "{1}{G}: Basking Rootwalla gets +2/+2 until end of turn. Activate only once each turn.\nMadness {0} (If you discard this card, discard it into exile. When you do, cast it for its madness cost or put it into your graveyard.)"}
 #:card{:code "f07",
        :collector-number "5",
        :name "Wonder",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/505416b2-1581-4111-89ca-392c723b3222.png?1562132469",
        :type-line "Creature — Incarnation",
        :oracle-text
        "Flying\nAs long as Wonder is in your graveyard and you control an Island, creatures you control have flying."}
 #:card{:code "f07",
        :collector-number "6",
        :name "Goblin Legionnaire",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e6205a5f-bf39-4a01-977c-6812206feccb.png?1562132478",
        :type-line "Creature — Goblin Soldier",
        :oracle-text
        "{R}, Sacrifice Goblin Legionnaire: It deals 2 damage to any target.\n{W}, Sacrifice Goblin Legionnaire: Prevent the next 2 damage that would be dealt to any target this turn."}
 #:card{:code "f07",
        :collector-number "7",
        :name "Engineered Plague",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f98d047d-889d-4c03-99cc-81be5183fc38.png?1562132480",
        :type-line "Enchantment",
        :oracle-text
        "As Engineered Plague enters the battlefield, choose a creature type.\nAll creatures of the chosen type get -1/-1."}
 #:card{:code "f07",
        :collector-number "8",
        :name "Goblin Ringleader",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/4/e4c4dfab-a816-4483-8627-714f9821647a.png?1562132476",
        :type-line "Creature — Goblin",
        :oracle-text
        "Haste (This creature can attack and {T} as soon as it comes under your control.)\nWhen Goblin Ringleader enters the battlefield, reveal the top four cards of your library. Put all Goblin cards revealed this way into your hand and the rest on the bottom of your library in any order."}
 #:card{:code "f07",
        :collector-number "9",
        :name "Wing Shards",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/5/2541fbe3-162e-44d6-a9a4-812e668559c7.png?1562132467",
        :type-line "Instant",
        :oracle-text
        "Target player sacrifices an attacking creature.\nStorm (When you cast this spell, copy it for each spell cast before it this turn. You may choose new targets for the copies.)"}
 #:card{:code "f07",
        :collector-number "10",
        :name "Cabal Coffers",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1aaa1062-fbdc-4de3-a572-08d997603c7e.png?1562132464",
        :type-line "Land",
        :oracle-text "{2}, {T}: Add {B} for each Swamp you control."}
 #:card{:code "f07",
        :collector-number "11",
        :name "Roar of the Wurm",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/4/045b134c-ede0-4188-89bc-f021442ae947.png?1562132462",
        :type-line "Sorcery",
        :oracle-text
        "Create a 6/6 green Wurm creature token.\nFlashback {3}{G} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "f07",
        :collector-number "12",
        :name "Force Spike",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/96e498da-09cf-4590-9d99-26cd2d91662e.png?1562132472",
        :type-line "Instant",
        :oracle-text
        "Counter target spell unless its controller pays {1}."})
