(#:card{:code "f08",
        :collector-number "1",
        :name "Remand",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d41e8cc0-4e05-412b-8ea3-d5b5c45da601.png?1562164467",
        :type-line "Instant",
        :oracle-text
        "Counter target spell. If that spell is countered this way, put it into its owner's hand instead of into that player's graveyard.\nDraw a card."}
 #:card{:code "f08",
        :collector-number "2",
        :name "Tormod's Crypt",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/c/5c53f2a4-105e-45b4-8bc0-a733f616c9b3.png?1562164460",
        :type-line "Artifact",
        :oracle-text
        "{T}, Sacrifice Tormod's Crypt: Exile target player's graveyard."}
 #:card{:code "f08",
        :collector-number "3",
        :name "Eternal Witness",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/1/d19ad62d-580e-4453-ba03-e59e660f0069.png?1562164465",
        :type-line "Creature — Human Shaman",
        :oracle-text
        "When Eternal Witness enters the battlefield, you may return target card from your graveyard to your hand."}
 #:card{:code "f08",
        :collector-number "4",
        :name "Tendrils of Agony",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/2/22f00439-93b7-4ade-b8c9-9b7ca7e274fb.png?1562164458",
        :type-line "Sorcery",
        :oracle-text
        "Target player loses 2 life and you gain 2 life.\nStorm (When you cast this spell, copy it for each spell cast before it this turn. You may choose new targets for the copies.)"}
 #:card{:code "f08",
        :collector-number "5",
        :name "Pendelhaven",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e8e362ed-4a3d-4b5e-848a-44c362095835.png?1562164470",
        :type-line "Legendary Land",
        :oracle-text
        "{T}: Add {G}.\n{T}: Target 1/1 creature gets +1/+2 until end of turn."}
 #:card{:code "f08",
        :collector-number "6",
        :name "Resurrection",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a1115170-10a4-4b77-b6e6-35f4a10141a0.png?1562164461",
        :type-line "Sorcery",
        :oracle-text
        "Return target creature card from your graveyard to the battlefield."}
 #:card{:code "f08",
        :collector-number "7",
        :name "Wall of Roots",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/000619be-f2b4-407d-a76c-7245d8cab7bd.png?1562164455",
        :type-line "Creature — Plant Wall",
        :oracle-text
        "Defender\nPut a -0/-1 counter on Wall of Roots: Add {G}. Activate only once each turn."}
 #:card{:code "f08",
        :collector-number "8",
        :name "Desert",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b94cad14-1324-4611-9024-3839d01a82d9.png?1562164464",
        :type-line "Land — Desert",
        :oracle-text
        "{T}: Add {C}.\n{T}: Desert deals 1 damage to target attacking creature. Activate only during the end of combat step."}
 #:card{:code "f08",
        :collector-number "9",
        :name "Thirst for Knowledge",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/17dddc25-5ce2-4c7f-a4fc-1e6c8f94af0e.png?1562164456",
        :type-line "Instant",
        :oracle-text
        "Draw three cards. Then discard two cards unless you discard an artifact card."}
 #:card{:code "f08",
        :collector-number "10",
        :name "Serrated Arrows",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/df09746c-25fa-46d4-98ae-f264dbabfdb1.png?1562164468",
        :type-line "Artifact",
        :oracle-text
        "Serrated Arrows enters the battlefield with three arrowhead counters on it.\nAt the beginning of your upkeep, if there are no arrowhead counters on Serrated Arrows, sacrifice it.\n{T}, Remove an arrowhead counter from Serrated Arrows: Put a -1/-1 counter on target creature."}
 #:card{:code "f08",
        :collector-number "11",
        :name "Isochron Scepter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/aba8afbf-0403-4d19-8602-d722ca9fa986.png?1562164462",
        :type-line "Artifact",
        :oracle-text
        "Imprint — When Isochron Scepter enters the battlefield, you may exile an instant card with mana value 2 or less from your hand.\n{2}, {T}: You may copy the exiled card. If you do, you may cast the copy without paying its mana cost."}
 #:card{:code "f08",
        :collector-number "12",
        :name "Shrapnel Blast",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/8/f8baa9d1-b45d-4947-9eb6-7f580c83a2c3.png?1562164853",
        :type-line "Instant",
        :oracle-text
        "As an additional cost to cast this spell, sacrifice an artifact.\nShrapnel Blast deals 5 damage to any target."})
