(#:card{:code "f10",
        :collector-number "1",
        :name "Tidehollow Sculler",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/1/71af4228-093e-4b07-8f9e-e95653da07e4.png?1561929538",
        :type-line "Artifact Creature — Zombie",
        :oracle-text
        "When Tidehollow Sculler enters the battlefield, target opponent reveals their hand and you choose a nonland card from it. Exile that card.\nWhen Tidehollow Sculler leaves the battlefield, return the exiled card to its owner's hand."}
 #:card{:code "f10",
        :collector-number "2",
        :name "Ghostly Prison",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/2/220be468-93a3-4905-be7f-903234f9862e.png?1561929530",
        :type-line "Enchantment",
        :oracle-text
        "Creatures can't attack you unless their controller pays {2} for each creature they control that's attacking you."}
 #:card{:code "f10",
        :collector-number "3",
        :name "Ancient Ziggurat",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/a/6a631f4a-c79b-4d8a-8c78-6aeb980bc8cb.png?1561929536",
        :type-line "Land",
        :oracle-text
        "{T}: Add one mana of any color. Spend this mana only to cast a creature spell."}
 #:card{:code "f10",
        :collector-number "4",
        :name "Bloodbraid Elf",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e15bdfae-c01b-4345-91b8-047dd0865ed4.png?1561929896",
        :type-line "Creature — Elf Berserker",
        :oracle-text
        "Haste\nCascade (When you cast this spell, exile cards from the top of your library until you exile a nonland card that costs less. You may cast it without paying its mana cost. Put the exiled cards on the bottom of your library in a random order.)"}
 #:card{:code "f10",
        :collector-number "5",
        :name "Cloudpost",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/9/498f08b0-18c7-4593-b5df-9f9e0ae8fb6d.png?1561929534",
        :type-line "Land — Locus",
        :oracle-text
        "Cloudpost enters the battlefield tapped.\n{T}: Add {C} for each Locus on the battlefield."}
 #:card{:code "f10",
        :collector-number "6",
        :name "Elvish Visionary",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3e92d855-397f-47e0-942f-002838ad3aed.png?1561929533",
        :type-line "Creature — Elf Shaman",
        :oracle-text
        "When Elvish Visionary enters the battlefield, draw a card."}
 #:card{:code "f10",
        :collector-number "7",
        :name "Anathemancer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/96fe34d6-278e-4c02-aba0-93201e97e11a.png?1561929539",
        :type-line "Creature — Zombie Wizard",
        :oracle-text
        "When Anathemancer enters the battlefield, it deals damage to target player equal to the number of nonbasic lands that player controls.\nUnearth {5}{B}{R} ({5}{B}{R}: Return this card from your graveyard to the battlefield. It gains haste. Exile it at the beginning of the next end step or if it would leave the battlefield. Unearth only as a sorcery.)"}
 #:card{:code "f10",
        :collector-number "8",
        :name "Krosan Grip",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/aec48573-394a-4069-9500-671b188d100a.png?1561929893",
        :type-line "Instant",
        :oracle-text
        "Split second (As long as this spell is on the stack, players can't cast spells or activate abilities that aren't mana abilities.)\nDestroy target artifact or enchantment."}
 #:card{:code "f10",
        :collector-number "9",
        :name "Qasali Pridemage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e669f0d0-30a2-488a-98a2-d9cfcbe9fc01.png?1561929898",
        :type-line "Creature — Cat Wizard",
        :oracle-text
        "Exalted (Whenever a creature you control attacks alone, that creature gets +1/+1 until end of turn.)\n{1}, Sacrifice Qasali Pridemage: Destroy target artifact or enchantment."}
 #:card{:code "f10",
        :collector-number "10",
        :name "Rift Bolt",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/5/25176fe7-a5a0-44d2-9619-193063c55902.png?1561929531",
        :type-line "Sorcery",
        :oracle-text
        "Rift Bolt deals 3 damage to any target.\nSuspend 1—{R} (Rather than cast this card from your hand, you may pay {R} and exile it with a time counter on it. At the beginning of your upkeep, remove a time counter. When the last is removed, cast it without paying its mana cost.)"}
 #:card{:code "f10",
        :collector-number "11",
        :name "Gatekeeper of Malakir",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/108ee811-4a22-40b5-91b1-effe9809e6c8.png?1561929528",
        :type-line "Creature — Vampire Warrior",
        :oracle-text
        "Kicker {B} (You may pay an additional {B} as you cast this spell.)\nWhen Gatekeeper of Malakir enters the battlefield, if it was kicked, target player sacrifices a creature."}
 #:card{:code "f10",
        :collector-number "12",
        :name "Wild Nacatl",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/4/b48165ac-f1b7-49bd-a993-af6d2ef0a5b2.png?1561929895",
        :type-line "Creature — Cat Warrior",
        :oracle-text
        "Wild Nacatl gets +1/+1 as long as you control a Mountain.\nWild Nacatl gets +1/+1 as long as you control a Plains."})
