(#:card{:type-line "Artifact",
        :layout-category :normal,
        :code "f11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/16c19ce8-b295-4043-863b-f781147f9e32.png?1562636744",
        :collector-number "1",
        :layout "normal",
        :name "Everflowing Chalice",
        :oracle-text
        "Multikicker {2} (You may pay an additional {2} any number of times as you cast this spell.)\nEverflowing Chalice enters the battlefield with a charge counter on it for each time it was kicked.\n{T}: Add {C} for each charge counter on Everflowing Chalice."}
 #:card{:type-line "Creature — Faerie Wizard",
        :layout-category :normal,
        :code "f11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/1/81fa2e36-f89b-42f9-946e-e2ca2b2ad75f.png?1562636829",
        :collector-number "2",
        :layout "normal",
        :name "Spellstutter Sprite",
        :oracle-text
        "Flash\nFlying\nWhen Spellstutter Sprite enters the battlefield, counter target spell with mana value X or less, where X is the number of Faeries you control."}
 #:card{:type-line "Creature — Wall",
        :layout-category :normal,
        :code "f11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/f/eff71574-bb6c-45e0-b022-a8f10f3b4573.png?1562636935",
        :collector-number "3",
        :layout "normal",
        :name "Wall of Omens",
        :oracle-text
        "Defender\nWhen Wall of Omens enters the battlefield, draw a card."}
 #:card{:type-line "Creature — Eldrazi",
        :layout-category :normal,
        :code "f11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/3/d3838810-446f-492b-995a-8e03b741e1a8.png?1562636911",
        :collector-number "4",
        :layout "normal",
        :name "Artisan of Kozilek",
        :oracle-text
        "When you cast this spell, you may return target creature card from your graveyard to the battlefield.\nAnnihilator 2 (Whenever this creature attacks, defending player sacrifices two permanents.)"}
 #:card{:type-line "Creature — Bird",
        :layout-category :normal,
        :code "f11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/8/a8a6d9c5-ac03-4865-8826-9f41883ad8c2.png?1562636868",
        :collector-number "5",
        :layout "normal",
        :name "Squadron Hawk",
        :oracle-text
        "Flying\nWhen Squadron Hawk enters the battlefield, you may search your library for up to three cards named Squadron Hawk, reveal them, put them into your hand, then shuffle."}
 #:card{:type-line "Creature — Rhino Monk",
        :layout-category :normal,
        :code "f11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bbbacad9-8ac0-4cd9-97f5-77940d8fd1e7.png?1562636881",
        :collector-number "6",
        :layout "normal",
        :name "Rhox War Monk",
        :oracle-text "Lifelink"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0b2c652a-f82f-4ad1-96ff-5788d6b4aebf.png?1562636731",
        :collector-number "7",
        :layout "normal",
        :name "Jace's Ingenuity",
        :oracle-text "Draw three cards."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "f11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/91efd7f7-6435-4070-b94c-35b6d756c584.png?1562636848",
        :collector-number "8",
        :layout "normal",
        :name "Cultivate",
        :oracle-text
        "Search your library for up to two basic land cards, reveal those cards, put one onto the battlefield tapped and the other into your hand, then shuffle."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "f11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/e/ce85799d-f8f1-43d6-b8f5-0759723ebd1a.png?1562636903",
        :collector-number "9",
        :layout "normal",
        :name "Teetering Peaks",
        :oracle-text
        "Teetering Peaks enters the battlefield tapped.\nWhen Teetering Peaks enters the battlefield, target creature gets +2/+0 until end of turn.\n{T}: Add {R}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "f11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/d/6d5b3a2a-123a-4044-bec6-d186bb2427a6.png?1562636810",
        :collector-number "10",
        :layout "normal",
        :name "Contagion Clasp",
        :oracle-text
        "When Contagion Clasp enters the battlefield, put a -1/-1 counter on target creature.\n{4}, {T}: Proliferate. (Choose any number of permanents and/or players, then give each another counter of each kind already there.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a3109aaa-b1e9-4c68-85f0-7515c8eeadc3.png?1562636862",
        :collector-number "11",
        :layout "normal",
        :name "Go for the Throat",
        :oracle-text "Destroy target nonartifact creature."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "f11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e5a9bbcf-b0d4-4040-bf46-fb9d6f3fd425.png?1562636934",
        :collector-number "12",
        :layout "normal",
        :name "Savage Lands",
        :oracle-text
        "Savage Lands enters the battlefield tapped.\n{T}: Add {B}, {R}, or {G}."})
