(#:card{:code "f12",
        :collector-number "1",
        :name "Glistener Elf",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/d/2de77e7b-5599-470a-b2ed-14b9bfc900e0.png?1562639730",
        :type-line "Creature — Phyrexian Elf Warrior",
        :oracle-text
        "Infect (This creature deals damage to creatures in the form of -1/-1 counters and to players in the form of poison counters.)"}
 #:card{:code "f12",
        :collector-number "1a",
        :name "Human // Wolf",
        :layout "double_faced_token",
        :highres? true,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/3/a/3a98c51f-c55c-4bd9-853b-65b8bad5a29f.png?1639374040",
          :type-line "Token Creature — Human",
          :oracle-text ""}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/3/a/3a98c51f-c55c-4bd9-853b-65b8bad5a29f.png?1639374040",
          :type-line "Token Creature — Wolf",
          :oracle-text ""}]}
 #:card{:code "f12",
        :collector-number "2",
        :name "Despise",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/e/cec990b0-490c-4b8a-b8c1-a1a7f6498809.png?1562640055",
        :type-line "Sorcery",
        :oracle-text
        "Target opponent reveals their hand. You choose a creature or planeswalker card from it. That player discards that card."}
 #:card{:code "f12",
        :collector-number "3",
        :name "Tectonic Edge",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/8/f8442521-57b8-4353-b6d0-61f1837567e1.png?1562640143",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}.\n{1}, {T}, Sacrifice Tectonic Edge: Destroy target nonbasic land. Activate only if an opponent controls four or more lands."}
 #:card{:code "f12",
        :collector-number "4",
        :name "Dismember",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4cf874b6-5616-4d33-a5e4-4e5a80db1a13.png?1562639795",
        :type-line "Instant",
        :oracle-text
        "({B/P} can be paid with either {B} or 2 life.)\nTarget creature gets -5/-5 until end of turn."}
 #:card{:code "f12",
        :collector-number "5",
        :name "Ancient Grudge",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d08c024a-ccab-487a-b97c-d44616cf3146.png?1562640057",
        :type-line "Instant",
        :oracle-text
        "Destroy target artifact.\nFlashback {G} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "f12",
        :collector-number "6",
        :name "Acidic Slime",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/798a3874-8e19-417f-b8f9-9fd05fdb7761.png?1562639870",
        :type-line "Creature — Ooze",
        :oracle-text
        "Deathtouch (Any amount of damage this deals to a creature is enough to destroy it.)\nWhen Acidic Slime enters the battlefield, destroy target artifact, enchantment, or land."}
 #:card{:code "f12",
        :collector-number "7",
        :name "Forbidden Alchemy",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/8/f82275ff-7f3e-4561-9157-14e7c9faee44.png?1562640141",
        :type-line "Instant",
        :oracle-text
        "Look at the top four cards of your library. Put one of them into your hand and the rest into your graveyard.\nFlashback {6}{B} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "f12",
        :collector-number "8",
        :name "Avacyn's Pilgrim",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a02a28d-ac00-40c5-9590-de029c007dde.png?1562639666",
        :type-line "Creature — Human Monk",
        :oracle-text "{T}: Add {W}."}
 #:card{:code "f12",
        :collector-number "9",
        :name "Lingering Souls",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/d/1d371239-b231-455f-a724-5025284ee023.png?1562639702",
        :type-line "Sorcery",
        :oracle-text
        "Create two 1/1 white Spirit creature tokens with flying.\nFlashback {1}{B} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "f12",
        :collector-number "10",
        :name "Evolving Wilds",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fe2ddb54-c111-4612-aba5-b5e87b888251.png?1562640156",
        :type-line "Land",
        :oracle-text
        "{T}, Sacrifice Evolving Wilds: Search your library for a basic land card, put it onto the battlefield tapped, then shuffle."}
 #:card{:code "f12",
        :collector-number "11",
        :name "Pillar of Flame",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/3/c39677b8-9a43-4e62-a83a-4a9d6372310b.png?1562640029",
        :type-line "Sorcery",
        :oracle-text
        "Pillar of Flame deals 2 damage to any target. If a creature dealt damage this way would die this turn, exile it instead."}
 #:card{:code "f12",
        :collector-number "12",
        :name "Gitaxian Probe",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b511dd44-4c2c-45be-a35b-61524d7a5761.png?1562639996",
        :type-line "Sorcery",
        :oracle-text
        "({U/P} can be paid with either {U} or 2 life.)\nLook at target player's hand.\nDraw a card."})
