(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "f14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fcc1dd23-90fa-4aa4-b0a9-7a92991ad7ec.png?1562640152",
        :collector-number "1",
        :layout "normal",
        :name "Warleader's Helix",
        :oracle-text
        "Warleader's Helix deals 4 damage to any target and you gain 4 life."}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "f14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cb622402-8be8-4eb9-9ed5-9489e45a0fdf.png?1562640046",
        :collector-number "2",
        :layout "normal",
        :name "Elvish Mystic",
        :oracle-text "{T}: Add {G}."}
 #:card{:type-line "Creature — Human Cleric",
        :layout-category :normal,
        :code "f14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/7/d75365b9-1fb0-4ac3-a43a-cf70eb8b37a5.png?1562640066",
        :collector-number "3",
        :layout "normal",
        :name "Banisher Priest",
        :oracle-text
        "When Banisher Priest enters the battlefield, exile target creature an opponent controls until Banisher Priest leaves the battlefield. (That creature returns under its owner's control.)"}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "f14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e3727c95-e411-4a98-95b5-cc4064f60ed2.png?1562640105",
        :collector-number "4",
        :layout "normal",
        :name "Encroaching Wastes",
        :oracle-text
        "{T}: Add {C}.\n{4}, {T}, Sacrifice Encroaching Wastes: Destroy target nonbasic land."}
 #:card{:type-line "Creature — Human Warrior",
        :layout-category :normal,
        :code "f14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3b804e46-c1a2-4934-9117-d0b0c4b01e1a.png?1562639755",
        :collector-number "5",
        :layout "normal",
        :name "Tormented Hero",
        :oracle-text
        "Tormented Hero enters the battlefield tapped.\nHeroic — Whenever you cast a spell that targets Tormented Hero, each opponent loses 1 life. You gain life equal to the life lost this way."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f2068083-5d53-43c3-af22-79bf617ccf1b.png?1562640127",
        :collector-number "6",
        :layout "normal",
        :name "Dissolve",
        :oracle-text
        "Counter target spell. Scry 1. (Look at the top card of your library. You may put that card on the bottom of your library.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/a/dabab17a-be4b-4198-a248-99216c2a9913.png?1562640078",
        :collector-number "7",
        :layout "normal",
        :name "Magma Spray",
        :oracle-text
        "Magma Spray deals 2 damage to target creature. If that creature would die this turn, exile it instead."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87fed54e-9f77-4eb1-a49e-8c4aa1f1ff23.png?1562639901",
        :collector-number "8",
        :layout "normal",
        :name "Bile Blight",
        :oracle-text
        "Target creature and all other creatures with the same name as that creature get -3/-3 until end of turn."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "f14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c7ae8386-2ceb-4483-b4d5-cacd158b5c1a.png?1562640038",
        :collector-number "9",
        :layout "normal",
        :name "Banishing Light",
        :oracle-text
        "When Banishing Light enters the battlefield, exile target nonland permanent an opponent controls until Banishing Light leaves the battlefield."}
 #:card{:type-line "Creature — Centaur Warrior",
        :layout-category :normal,
        :code "f14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/babc2e1f-d7cf-42e0-9d1a-4391e74deee5.png?1562640009",
        :collector-number "10",
        :layout "normal",
        :name "Fanatic of Xenagos",
        :oracle-text
        "Trample\nTribute 1 (As this creature enters the battlefield, an opponent of your choice may put a +1/+1 counter on it.)\nWhen Fanatic of Xenagos enters the battlefield, if tribute wasn't paid, it gets +1/+1 and gains haste until end of turn."}
 #:card{:type-line "Enchantment Creature — Insect",
        :layout-category :normal,
        :code "f14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/15060db3-65bb-404b-9fa1-71297ef23621.png?1562639693",
        :collector-number "11",
        :layout "normal",
        :name "Brain Maggot",
        :oracle-text
        "When Brain Maggot enters the battlefield, target opponent reveals their hand and you choose a nonland card from it. Exile that card until Brain Maggot leaves the battlefield."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "f14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/5/f5a1071a-c50c-439f-8387-5b2c143e24e4.png?1562640134",
        :collector-number "12",
        :layout "normal",
        :name "Stoke the Flames",
        :oracle-text
        "Convoke (Your creatures can help cast this spell. Each creature you tap while casting this spell pays for {1} or one mana of that creature's color.)\nStoke the Flames deals 4 damage to any target."})
