(#:card{:code "f15",
        :collector-number "1",
        :name "Frenzied Goblin",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b54da7ba-d596-4c2c-bb4e-a85d2f789102.png?1562639999",
        :type-line "Creature — Goblin Berserker",
        :oracle-text
        "Whenever Frenzied Goblin attacks, you may pay {R}. If you do, target creature can't block this turn."}
 #:card{:code "f15",
        :collector-number "2",
        :name "Disdainful Stroke",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/3711f61d-6381-4c92-a3f5-6deed29aae47.png?1562639749",
        :type-line "Instant",
        :oracle-text
        "Counter target spell with mana value 4 or greater."}
 #:card{:code "f15",
        :collector-number "3",
        :name "Hordeling Outburst",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/419280e0-5d5d-4836-aa5d-c1ca581787eb.png?1562639765",
        :type-line "Sorcery",
        :oracle-text "Create three 1/1 red Goblin creature tokens."}
 #:card{:code "f15",
        :collector-number "4",
        :name "Suspension Field",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/dbeb9475-64d8-4c9a-98e6-c473075ee343.png?1562640081",
        :type-line "Enchantment",
        :oracle-text
        "When Suspension Field enters the battlefield, you may exile target creature with toughness 3 or greater until Suspension Field leaves the battlefield. (That creature returns under its owner's control.)"}
 #:card{:code "f15",
        :collector-number "5",
        :name "Abzan Beastmaster",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6e8abee6-87e6-4d1a-a117-aeb8122c5199.png?1562639849",
        :type-line "Creature — Dog Shaman",
        :oracle-text
        "At the beginning of your upkeep, draw a card if you control the creature with the greatest toughness or tied for the greatest toughness."}
 #:card{:code "f15",
        :collector-number "6",
        :name "Frost Walker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/43278276-e5d2-4d94-8baa-edb39f15af25.png?1562639768",
        :type-line "Creature — Elemental",
        :oracle-text
        "When Frost Walker becomes the target of a spell or ability, sacrifice it."}
 #:card{:code "f15",
        :collector-number "7",
        :name "Path to Exile",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/ccd50bd0-95a3-4480-8afb-ada8c4e806c9.png?1562640048",
        :type-line "Instant",
        :oracle-text
        "Exile target creature. Its controller may search their library for a basic land card, put that card onto the battlefield tapped, then shuffle."}
 #:card{:code "f15",
        :collector-number "8",
        :name "Serum Visions",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7dede475-9597-4f8a-9cee-9bc86b283aa9.png?1562639882",
        :type-line "Sorcery",
        :oracle-text "Draw a card. Scry 2."}
 #:card{:code "f15",
        :collector-number "9",
        :name "Orator of Ojutai",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c9eb6441-c463-4b1e-a084-063f4a1301fe.png?1562640042",
        :type-line "Creature — Bird Monk",
        :oracle-text
        "As an additional cost to cast this spell, you may reveal a Dragon card from your hand.\nDefender, flying\nWhen Orator of Ojutai enters the battlefield, if you revealed a Dragon card or controlled a Dragon as you cast this spell, draw a card."}
 #:card{:code "f15",
        :collector-number "10",
        :name "Ultimate Price",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/3/334e3ffc-a4dc-405c-b6e4-7182f28241fe.png?1562639743",
        :type-line "Instant",
        :oracle-text "Destroy target monocolored creature."}
 #:card{:code "f15",
        :collector-number "11",
        :name "Roast",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e34bbf48-a3e7-4e69-b060-73f1c4d5e402.png?1562640104",
        :type-line "Sorcery",
        :oracle-text
        "Roast deals 5 damage to target creature without flying."}
 #:card{:code "f15",
        :collector-number "12",
        :name "Anticipate",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87f7a3f3-517a-4f7a-bb28-94f11790b598.png?1562639900",
        :type-line "Instant",
        :oracle-text
        "Look at the top three cards of your library. Put one of them into your hand and the rest on the bottom of your library in any order."})
