(#:card{:type-line "Card",
        :layout-category :normal,
        :code "fbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/d/4deb668d-00d1-4d1a-af48-5c4be16269ae.png?1681607876",
        :collector-number "1",
        :layout "normal",
        :name "Infantry",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/8/e8ea5806-8047-43fc-b653-f8149a74db3c.png?1681607913",
        :collector-number "2",
        :layout "normal",
        :name "Powerstones",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/a/0ad97d95-896c-4611-b8a7-e84d3672fcc1.png?1681607964",
        :collector-number "3",
        :layout "normal",
        :name "Unearth (Theme)",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/4/c49535ea-8901-4435-acb8-477c115c0249.png?1681608000",
        :collector-number "4",
        :layout "normal",
        :name "Welded",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/8/b8152938-25af-4d1e-876d-6434a36467dc.png?1681608021",
        :collector-number "5",
        :layout "normal",
        :name "Titanic",
        :oracle-text "(Theme color: {G})"})
