(#:card{:type-line "Card",
        :layout-category :normal,
        :code "fdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/e/2e8d744a-6763-4380-afab-b251d7c797e4.png?1681610296",
        :collector-number "1",
        :layout "normal",
        :name "Coalition Corps",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/d/1d43fb5b-6ff4-4503-ba03-bc1acbed8ae7.png?1681610328",
        :collector-number "2",
        :layout "normal",
        :name "Coalition Legion",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/f/2f87a5db-653b-4b3a-9101-f8aa7ec64531.png?1681610368",
        :collector-number "3",
        :layout "normal",
        :name "Arcane Mischief",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/8/28dcfb14-7e09-44db-8fb2-89447261b68f.png?1681610399",
        :collector-number "4",
        :layout "normal",
        :name "Mystic Mischief",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/6/6624726b-e80a-4d0e-9973-d33fc488caf1.png?1681610430",
        :collector-number "5",
        :layout "normal",
        :name "Totally Merciless",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/6/a64fb926-210c-4ebf-a6aa-2b2996d626e7.png?1681610552",
        :collector-number "6",
        :layout "normal",
        :name "Totally Ruthless",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/c/ac3b0896-4aa1-41db-86d9-dc26ac006664.png?1681610653",
        :collector-number "7",
        :layout "normal",
        :name "Ready to Attack",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/2/525ad949-97ed-4500-b428-0f1a8d130d93.png?1681610795",
        :collector-number "8",
        :layout "normal",
        :name "Ready to Charge",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/0/2036e63c-8f29-4a70-a3fe-17c695a0abc7.png?1681610846",
        :collector-number "9",
        :layout "normal",
        :name "Beast Territory",
        :oracle-text "(Theme color: {G})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/1/010f8016-1f62-4628-aac6-9108015374b0.png?1681610882",
        :collector-number "10",
        :layout "normal",
        :name "Monster Territory",
        :oracle-text "(Theme color: {G})"})
