(#:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/f/f/ff972493-db45-4203-982c-ecf0c0bc672f.png?1673952061",
        :collector-number "1",
        :layout "normal",
        :name "Blink",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/7/97334a91-87ad-41bf-b481-381fd5def7b4.png?1673044364",
        :collector-number "2",
        :layout "normal",
        :name "Cats",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/e/b/eb4c94df-5c80-4513-92f7-95df8aaa802a.png?1669231260",
        :collector-number "3",
        :layout "normal",
        :name "Constellation",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/2/6/26da8a11-ae74-44c4-b52b-304feefd3ace.png?1673885589",
        :collector-number "4",
        :layout "normal",
        :name "Holy",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/a/e/ae25f4d4-f36a-4f6d-9d2a-61bd62c7932c.png?1669231210",
        :collector-number "5",
        :layout "normal",
        :name "Knights",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/7/67391db5-8f46-46ef-8a69-ce1456f29d95.png?1673043380",
        :collector-number "6",
        :layout "normal",
        :name "Law",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/7/9/79676ee8-b5fc-4216-8372-8666edae42a7.png?1673044398",
        :collector-number "7",
        :layout "normal",
        :name "Spirits",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/e/ceef0331-9b5b-4578-b361-749d326244d5.png?1672141299",
        :collector-number "8",
        :layout "normal",
        :name "Teamwork",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/2/c/2c21e5b2-97d5-43a6-b46e-b550defbfca5.png?1669231180",
        :collector-number "9",
        :layout "normal",
        :name "Vehicles",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/a/8a55b3e7-be27-4ba8-a7b2-0f165f842652.png?1673043424",
        :collector-number "10",
        :layout "normal",
        :name "Detective",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/5/f/5fc5d1d7-0013-4d6e-8355-5eb99736d77d.png?1673043447",
        :collector-number "11",
        :layout "normal",
        :name "Faeries",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/5/8/585bb443-3178-4e77-bab2-fe5a8eca794c.png?1673043475",
        :collector-number "12",
        :layout "normal",
        :name "Go to School",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/d/6d7cfeeb-4652-4a8c-88bc-8c9115b4c981.png?1673043491",
        :collector-number "13",
        :layout "normal",
        :name "Inventive",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/4/d44274b6-b8d0-421c-96ff-ae3b03204bce.png?1673044432",
        :collector-number "14",
        :layout "normal",
        :name "Merfolk",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/3/5/3536118d-d525-4184-9cb9-cf2480a3a208.png?1673043539",
        :collector-number "15",
        :layout "normal",
        :name "Scrying",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/4/d/4d21652d-8899-425f-aef7-a44a0a95cbea.png?1673043571",
        :collector-number "16",
        :layout "normal",
        :name "Shapeshifters",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/c/dc817126-b671-4239-94c4-2c8831ceaa38.png?1673043590",
        :collector-number "17",
        :layout "normal",
        :name "Snow",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/4/849ba60b-fb0c-45bb-8d82-94e70089f815.png?1673043615",
        :collector-number "18",
        :layout "normal",
        :name "Think Again",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/6/16e06e66-a2dd-42e8-bf65-1e23a3fd3ce0.png?1673043637",
        :collector-number "19",
        :layout "normal",
        :name "Boneyard",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/8/682942d8-832f-4c5b-b3ab-dab8e02b0c46.png?1673043666",
        :collector-number "20",
        :layout "normal",
        :name "Cruel",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/3/63349d48-ea9d-41e2-9b59-8c5461a3d1e1.png?1673043806",
        :collector-number "21",
        :layout "normal",
        :name "Demons",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/a/dac9dfaf-5877-44c0-a7f6-d0ba5477c24d.png?1673043825",
        :collector-number "22",
        :layout "normal",
        :name "Fangs",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/3/c36f971b-8c5e-4d3c-a239-a8639ad0bff0.png?1673043838",
        :collector-number "23",
        :layout "normal",
        :name "Gross",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/b/8bcddaec-49d0-415f-ac35-b86ac3e4d3a7.png?1673043864",
        :collector-number "24",
        :layout "normal",
        :name "Morbid",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/4/6/46f7b269-1589-4d82-9784-57a783833f42.png?1673043888",
        :collector-number "25",
        :layout "normal",
        :name "Rats",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/e/6e3cf13e-704f-44bf-ae38-bc75319ea5fd.png?1673043907",
        :collector-number "26",
        :layout "normal",
        :name "Unlucky Thirteen",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/0/e/0e55eba6-afd6-4af3-8cfb-d19ac13b179c.png?1673043925",
        :collector-number "27",
        :layout "normal",
        :name "Zombies",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/4/c4250f34-348c-4739-9d02-ae335cbef823.png?1673043950",
        :collector-number "28",
        :layout "normal",
        :name "Cycling",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/2/9/29446afc-dbb0-4884-9f17-074d625a0c56.png?1673043974",
        :collector-number "29",
        :layout "normal",
        :name "Dragons",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/0/3/03411065-5240-4e8f-831f-e0ef8ac04447.png?1673044004",
        :collector-number "30",
        :layout "normal",
        :name "Experimental",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/d/dd501506-f01c-4010-b876-0d85f76bdace.png?1673044025",
        :collector-number "31",
        :layout "normal",
        :name "Fiery",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/5/a/5a98b543-de9d-43a3-9b79-df3851f70c1b.png?1673044044",
        :collector-number "32",
        :layout "normal",
        :name "Goblins",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/a/5/a5ed368d-7813-4fc7-a9a1-880a2a34b823.png?1673044059",
        :collector-number "33",
        :layout "normal",
        :name "Raid",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/1/11283c34-3872-4d3f-bb55-c2f7b941fd1d.png?1673044079",
        :collector-number "34",
        :layout "normal",
        :name "Speedy",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/7/9799f443-6dac-42cb-9e0d-f91695b4a97f.png?1673044103",
        :collector-number "35",
        :layout "normal",
        :name "Spicy",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/5/e/5e138adb-32ba-4b63-8964-5447bc353161.png?1673044122",
        :collector-number "36",
        :layout "normal",
        :name "Treasure",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/f/1f6b932a-3ca3-453f-85bb-c66025ee8b76.png?1673044141",
        :collector-number "37",
        :layout "normal",
        :name "Eldrazi",
        :oracle-text "(Theme color: {G})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/c/dcbf5e8c-5aaa-456a-8c47-2318b760221b.png?1673044155",
        :collector-number "38",
        :layout "normal",
        :name "Elves",
        :oracle-text "(Theme color: {G})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/c/1c0f4661-8813-48cd-a99f-154ea7872bd1.png?1673044169",
        :collector-number "39",
        :layout "normal",
        :name "Ferocious",
        :oracle-text "(Theme color: {G})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/7/8/78930a2f-7ccd-4077-804a-486bd03ee09d.png?1673044188",
        :collector-number "40",
        :layout "normal",
        :name "Gigantic",
        :oracle-text "(Theme color: {G})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/5/15e0759f-a6e7-4a08-b831-303d2183882d.png?1673044223",
        :collector-number "41",
        :layout "normal",
        :name "Insects",
        :oracle-text "(Theme color: {G})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/5/658c6711-7ac6-45c3-a80f-55dd1efd03aa.png?1673044242",
        :collector-number "42",
        :layout "normal",
        :name "Landfall",
        :oracle-text "(Theme color: {G})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/1/c106ad2b-351e-4635-a835-0484da2259ac.png?1673044274",
        :collector-number "43",
        :layout "normal",
        :name "Multi-Headed",
        :oracle-text "(Theme color: {G})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/3/1/319306e6-f7f4-4a0d-ba2c-2d00ce29fb00.png?1673044300",
        :collector-number "44",
        :layout "normal",
        :name "Primates",
        :oracle-text "(Theme color: {G})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/6/86fc74b1-577c-4ffe-96f4-5a1a1777b5c7.png?1673044320",
        :collector-number "45",
        :layout "normal",
        :name "Wolves",
        :oracle-text "(Theme color: {G})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fj22",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/7/a/7a83acc1-2588-489b-a5cd-a53123fdc088.png?1668256268",
        :collector-number "46",
        :layout "normal",
        :name "Urza's",
        :oracle-text "(Theme color: {C})"})
