(#:card{:code "fjmp",
        :collector-number "1",
        :name "Above the Clouds",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2eb7db6d-5e11-433a-82ba-467093c68234.png?1601080037",
        :type-line "Card",
        :oracle-text "(Theme color: {U})"}
 #:card{:code "fjmp",
        :collector-number "2",
        :name "Angels",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/3/6355b4c4-7dc9-4d8a-9223-1c0fee664cdf.png?1601080125",
        :type-line "Card",
        :oracle-text "(Theme color: {W})"}
 #:card{:code "fjmp",
        :collector-number "3",
        :name "Archaeology",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6c0966d2-3be6-499f-9c35-b7201f450e9b.png?1601080173",
        :type-line "Card",
        :oracle-text "(Theme color: {U})"}
 #:card{:code "fjmp",
        :collector-number "4",
        :name "Basri",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/8/0867e879-cbee-4ee1-be8c-b7ff1bcfa6d0.png?1601080219",
        :type-line "Card",
        :oracle-text "(Theme color: {W})"}
 #:card{:code "fjmp",
        :collector-number "5",
        :name "Cats",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/f/ef524ce0-b418-458c-b56e-0fbea3aa1142.png?1601080236",
        :type-line "Card",
        :oracle-text "(Theme color: {G})"}
 #:card{:code "fjmp",
        :collector-number "6",
        :name "Chandra",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/6/b6865498-9464-4d01-a293-6220d9bb1c9a.png?1601080297",
        :type-line "Card",
        :oracle-text "(Theme color: {R})"}
 #:card{:code "fjmp",
        :collector-number "7",
        :name "Devilish",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/0/c0e3f41c-0606-4f49-b0bf-a2fb701c9bb1.png?1601080351",
        :type-line "Card",
        :oracle-text "(Theme color: {R})"}
 #:card{:code "fjmp",
        :collector-number "8",
        :name "Dinosaurs",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/5474b689-e0f0-452b-a9d0-c1a554245f4f.png?1601080401",
        :type-line "Card",
        :oracle-text "(Theme color: {G})"}
 #:card{:code "fjmp",
        :collector-number "9",
        :name "Discarding",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e05a2980-8541-40b1-9504-c28cb4dd2466.png?1601080434",
        :type-line "Card",
        :oracle-text "(Theme color: {B})"}
 #:card{:code "fjmp",
        :collector-number "10",
        :name "Doctor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bcee10b9-beef-42cf-8042-abc3fb252900.png?1601080460",
        :type-line "Card",
        :oracle-text "(Theme color: {W})"}
 #:card{:code "fjmp",
        :collector-number "11",
        :name "Dogs",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/5/a5d3bb88-4c15-4205-a4a1-d7b0b79e7ada.png?1601080494",
        :type-line "Card",
        :oracle-text "(Theme color: {W})"}
 #:card{:code "fjmp",
        :collector-number "12",
        :name "Dragons",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1f0d86f7-e751-4b8e-b828-c879234f29ec.png?1601080531",
        :type-line "Card",
        :oracle-text "(Theme color: {R})"}
 #:card{:code "fjmp",
        :collector-number "13",
        :name "Elves",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/be1d8ebf-efa5-4624-985c-07a85be09258.png?1601080572",
        :type-line "Card",
        :oracle-text "(Theme color: {G})"}
 #:card{:code "fjmp",
        :collector-number "14",
        :name "Enchanted",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/a/2a871c86-c203-4456-b911-fb8e215e62bf.png?1601080609",
        :type-line "Card",
        :oracle-text "(Theme color: {W})"}
 #:card{:code "fjmp",
        :collector-number "15",
        :name "Feathered Friends",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/166523b2-31a5-41db-a19d-8ec08e2e0653.png?1601080645",
        :type-line "Card",
        :oracle-text "(Theme color: {W})"}
 #:card{:code "fjmp",
        :collector-number "16",
        :name "Garruk",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/16481c20-92a9-4d1c-8441-1601dce78c42.png?1601080670",
        :type-line "Card",
        :oracle-text "(Theme color: {G})"}
 #:card{:code "fjmp",
        :collector-number "17",
        :name "Goblins",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/39f791a4-cfcc-4660-bbaa-7445e07783da.png?1601080690",
        :type-line "Card",
        :oracle-text "(Theme color: {R})"}
 #:card{:code "fjmp",
        :collector-number "18",
        :name "Heavily Armored",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c71a8155-8f20-448b-acf2-a536c2554270.png?1601080731",
        :type-line "Card",
        :oracle-text "(Theme color: {W})"}
 #:card{:code "fjmp",
        :collector-number "19",
        :name "Lands",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e61cf6e6-410a-4e34-aa40-d5089c5952ed.png?1601080770",
        :type-line "Card",
        :oracle-text "(Theme color: {G})"}
 #:card{:code "fjmp",
        :collector-number "20",
        :name "Legion",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/dfb8fe98-efb6-48e7-bb08-8c8aa6f52c9d.png?1601080803",
        :type-line "Card",
        :oracle-text "(Theme color: {W})"}
 #:card{:code "fjmp",
        :collector-number "21",
        :name "Lightning",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a0fd47fd-c615-466e-989f-c6a4fa1cda17.png?1601080841",
        :type-line "Card",
        :oracle-text "(Theme color: {R})"}
 #:card{:code "fjmp",
        :collector-number "22",
        :name "Liliana",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f394a07c-bb58-4f52-ac2b-344a8f738319.png?1601080865",
        :type-line "Card",
        :oracle-text "(Theme color: {B})"}
 #:card{:code "fjmp",
        :collector-number "23",
        :name "Milling",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/df6b34ca-747b-451c-beb4-3dfef9743933.png?1601080898",
        :type-line "Card",
        :oracle-text "(Theme color: {U})"}
 #:card{:code "fjmp",
        :collector-number "24",
        :name "Minions",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/1531c478-ae50-4c59-9396-4c0ac059e6f0.png?1601080928",
        :type-line "Card",
        :oracle-text "(Theme color: {B})"}
 #:card{:code "fjmp",
        :collector-number "25",
        :name "Minotaurs",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3b2273cc-feeb-42ee-8d4f-eae2c670fcf0.png?1601080974",
        :type-line "Card",
        :oracle-text "(Theme color: {R})"}
 #:card{:code "fjmp",
        :collector-number "26",
        :name "Phyrexian",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e5226d8b-ec55-4aca-bb9a-0f941d89c8ae.png?1601081031",
        :type-line "Card",
        :oracle-text "(Theme color: {B})"}
 #:card{:code "fjmp",
        :collector-number "27",
        :name "Pirates",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/86e37d8b-916c-49bd-9af6-99f75889d8e3.png?1601081026",
        :type-line "Card",
        :oracle-text "(Theme color: {U})"}
 #:card{:code "fjmp",
        :collector-number "28",
        :name "Plus One",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/ee80a74b-8a84-4895-b89b-8b9fb5086029.png?1601081074",
        :type-line "Card",
        :oracle-text "(Theme color: {G})"}
 #:card{:code "fjmp",
        :collector-number "29",
        :name "Predatory",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/981d2d34-107a-47ec-9a21-88e00de4d3d5.png?1601081099",
        :type-line "Card",
        :oracle-text "(Theme color: {G})"}
 #:card{:code "fjmp",
        :collector-number "30",
        :name "Rainbow",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/70f3fcff-a81b-4fe8-9994-fce43aaa2e0b.png?1601081156",
        :type-line "Card",
        :oracle-text "(Theme colors: {W}{U}{B}{R}{G})"}
 #:card{:code "fjmp",
        :collector-number "31",
        :name "Reanimated",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/150bfd7c-fdae-468c-836b-8f63cc0aab08.png?1601081184",
        :type-line "Card",
        :oracle-text "(Theme color: {B})"}
 #:card{:code "fjmp",
        :collector-number "32",
        :name "Rogues",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e11080b5-ec02-4b72-8e65-a0542852f281.png?1601081212",
        :type-line "Card",
        :oracle-text "(Theme color: {B})"}
 #:card{:code "fjmp",
        :collector-number "33",
        :name "Seismic",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/32da965c-6499-41e4-b16d-754e89cc8aa7.png?1601081235",
        :type-line "Card",
        :oracle-text "(Theme color: {R})"}
 #:card{:code "fjmp",
        :collector-number "34",
        :name "Smashing",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/4321f9e4-bddb-4d4f-b82d-fe1150b425e3.png?1601081271",
        :type-line "Card",
        :oracle-text "(Theme color: {R})"}
 #:card{:code "fjmp",
        :collector-number "35",
        :name "Spellcasting",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e1beb6c6-aa58-4c48-a3ab-df8b7fa98357.png?1646592024",
        :type-line "Card",
        :oracle-text "(Theme color: {R})"}
 #:card{:code "fjmp",
        :collector-number "36",
        :name "Spirits",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3c449d13-95d8-49b2-af7c-30a0a2aeaed3.png?1646592004",
        :type-line "Card",
        :oracle-text "(Theme color: {U})"}
 #:card{:code "fjmp",
        :collector-number "37",
        :name "Spooky",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af16e16e-3d36-4016-8e7d-97c48bc22e2b.png?1601081383",
        :type-line "Card",
        :oracle-text "(Theme color: {B})"}
 #:card{:code "fjmp",
        :collector-number "38",
        :name "Teferi",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cf979a25-629e-4e92-8e52-87f6a078c724.png?1601081412",
        :type-line "Card",
        :oracle-text "(Theme color: {U})"}
 #:card{:code "fjmp",
        :collector-number "39",
        :name "Tree-Hugging",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/4570eb3b-c91b-41f2-b72c-65b41787f0a6.png?1601081441",
        :type-line "Card",
        :oracle-text "(Theme color: {G})"}
 #:card{:code "fjmp",
        :collector-number "40",
        :name "Under the Sea",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e9aa78fd-d16a-4238-828e-c2a2e5b4be9d.png?1601081497",
        :type-line "Card",
        :oracle-text "(Theme color: {U})"}
 #:card{:code "fjmp",
        :collector-number "41",
        :name "Unicorns",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5bf33e8e-04cd-4ffd-83c3-8e41cef4fd40.png?1601081517",
        :type-line "Card",
        :oracle-text "(Theme color: {W})"}
 #:card{:code "fjmp",
        :collector-number "42",
        :name "Vampires",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/7/e7e01b54-ed83-4a3c-9d34-80322b3ba193.png?1601081547",
        :type-line "Card",
        :oracle-text "(Theme color: {B})"}
 #:card{:code "fjmp",
        :collector-number "43",
        :name "Walls",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/e/cef6812d-5f8d-40c8-8935-e5f01a808301.png?1601081562",
        :type-line "Card",
        :oracle-text "(Theme color: {G})"}
 #:card{:code "fjmp",
        :collector-number "44",
        :name "Well-Read",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/45f1e279-9306-45ac-8198-2da6672f452b.png?1601081584",
        :type-line "Card",
        :oracle-text "(Theme color: {U})"}
 #:card{:code "fjmp",
        :collector-number "45",
        :name "Witchcraft",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fcef82fa-6288-44a9-b6b6-bc9389c018bc.png?1601081605",
        :type-line "Card",
        :oracle-text "(Theme color: {B})"}
 #:card{:code "fjmp",
        :collector-number "46",
        :name "Wizards",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/169fe84f-335f-431b-b905-529ca77c6ba1.png?1601081627",
        :type-line "Card",
        :oracle-text "(Theme color: {U})"})
