(#:card{:type-line "Card",
        :layout-category :normal,
        :code "fltr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/0/60851aac-ef96-4387-8da1-4e9fdd4352d1.png?1709590923",
        :collector-number "1",
        :layout "normal",
        :name "Courageous",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fltr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/9/6968cedd-4640-428f-a3bd-19795f43cbb0.png?1709590933",
        :collector-number "2",
        :layout "normal",
        :name "Tricksy",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fltr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/1/01188af8-e827-4225-9675-6dc429a522bb.png?1709590930",
        :collector-number "3",
        :layout "normal",
        :name "Mordor",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fltr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/7/c7339ce1-9bc8-4c49-bcfb-04ebf791aa6e.png?1709590928",
        :collector-number "4",
        :layout "normal",
        :name "Marauders",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fltr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/2/227dffa8-7c76-4eda-be4b-04ca719d45d4.png?1709590925",
        :collector-number "5",
        :layout "normal",
        :name "Journey",
        :oracle-text "(Theme color: {G})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fltr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/3/6380487a-09a1-4bb9-81b4-1cc508b070c5.png?1699831320",
        :collector-number "6",
        :layout "normal",
        :name "Mortals",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fltr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/8/781da9a2-4bf8-48d4-8be4-e434c1ec02bb.png?1699831183",
        :collector-number "7",
        :layout "normal",
        :name "Cunning",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fltr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/0/809741cc-d989-4a55-b70e-af37b8fddcfa.png?1699831236",
        :collector-number "8",
        :layout "normal",
        :name "Orcish",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fltr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/0/b08756a2-f7b2-4573-a88b-d35c81769fe3.png?1699831403",
        :collector-number "9",
        :layout "normal",
        :name "Riders",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fltr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/f/cf2d7500-13da-4692-a328-bc8d6a605a3d.png?1699831476",
        :collector-number "10",
        :layout "normal",
        :name "Elven",
        :oracle-text "(Theme color: {G})"})
