(#:card{:type-line "Card",
        :layout-category :normal,
        :code "fmom",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/3/d33ca69e-ceb5-41f9-8a7b-30bcaf6034da.png?1682436564",
        :collector-number "1",
        :layout "normal",
        :name "Brood",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fmom",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/a/da26bbe7-8896-409c-b64c-cd21ec7cd642.png?1682436557",
        :collector-number "2",
        :layout "normal",
        :name "Overachiever",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fmom",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/9/09182af1-dbac-474e-acb6-f0f2ed526752.png?1682436569",
        :collector-number "3",
        :layout "normal",
        :name "Expendable",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fmom",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/c/0c122e3d-e4c0-4ce8-9756-f6ed4673e706.png?1682438701",
        :collector-number "4",
        :layout "normal",
        :name "Reinforcement",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fmom",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/2/d2cf9e84-391c-4135-a008-1d31f762f8fb.png?1682438800",
        :collector-number "5",
        :layout "normal",
        :name "Buff",
        :oracle-text "(Theme color: {G})"})
