(#:card{:type-line "Creature — Snake",
        :layout-category :normal,
        :code "fnm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/390dc916-2207-4a76-a886-13fe47496a4a.png?1562636721",
        :collector-number "1",
        :layout "normal",
        :name "River Boa",
        :oracle-text
        "Islandwalk (This creature can't be blocked as long as defending player controls an Island.)\n{G}: Regenerate River Boa."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "fnm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/24e1fbc9-a891-401a-99f6-0173ca7b45ad.png?1562636707",
        :collector-number "2",
        :layout "normal",
        :name "Terror",
        :oracle-text
        "Destroy target nonartifact, nonblack creature. It can't be regenerated."}
 #:card{:type-line "Creature — Human Soldier Archer",
        :layout-category :normal,
        :code "fnm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dcac27a2-69b2-4427-ba91-671c3d8496a9.png?1562636867",
        :collector-number "3",
        :layout "normal",
        :name "Longbow Archer",
        :oracle-text
        "First strike; reach (This creature can block creatures with flying.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "fnm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/d/adb9c01f-626f-48b4-abfa-ede3972fcebc.png?1562636828",
        :collector-number "4",
        :layout "normal",
        :name "Volcanic Geyser",
        :oracle-text "Volcanic Geyser deals X damage to any target."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "fnm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4a5f56ed-a3f6-4818-a53f-c88400c80658.png?1562636730",
        :collector-number "5",
        :layout "normal",
        :name "Mind Warp",
        :oracle-text
        "Look at target player's hand and choose X cards from it. That player discards those cards."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "fnm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c8e54f25-6138-4de4-8322-f09d3b311eb1.png?1562636852",
        :collector-number "6",
        :layout "normal",
        :name "Shock",
        :oracle-text "Shock deals 2 damage to any target."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "fnm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/2/62a8cde9-e049-4a96-8183-a768a8f1c4ee.png?1562636760",
        :collector-number "8",
        :layout "normal",
        :name "Giant Growth",
        :oracle-text "Target creature gets +3/+3 until end of turn."}
 #:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "fnm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fbd5c87e-db03-49d2-b4c6-3794ddf40030.png?1621595928",
        :collector-number "9",
        :layout "normal",
        :name "Prodigal Sorcerer",
        :oracle-text
        "{T}: Prodigal Sorcerer deals 1 damage to any target."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "fnm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1ef36c44-dda9-45e3-bd58-b336235731e0.png?1562636697",
        :collector-number "10",
        :layout "normal",
        :name "Stone Rain",
        :oracle-text "Destroy target land."}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "fnm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/2/82c547f6-31e3-4e0b-b548-a0e467ceaa84.png?1562636781",
        :collector-number "11",
        :layout "normal",
        :name "Llanowar Elves",
        :oracle-text "{T}: Add {G}."}
 #:card{:type-line "Creature — Human Soldier",
        :layout-category :normal,
        :code "fnm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/552b3d29-2490-4129-ad57-bf1d3eec9da3.png?1595373003",
        :collector-number "12",
        :layout "normal",
        :name "Staunch Defenders",
        :oracle-text
        "When Staunch Defenders enters the battlefield, you gain 4 life."})
