(#:card{:type-line "Card",
        :layout-category :normal,
        :code "fone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/6/162c2282-d32e-4465-abc8-df0e858ec118.png?1675299139",
        :collector-number "1",
        :layout "normal",
        :name "Mite-y",
        :oracle-text "(Theme color: {W})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/0/c069980a-fe26-4697-ad1f-5f277aa2385b.png?1675299121",
        :collector-number "2",
        :layout "normal",
        :name "Progress",
        :oracle-text "(Theme color: {U})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/9/995ee3db-f086-4e18-8b7b-2843d90f7271.png?1675299168",
        :collector-number "3",
        :layout "normal",
        :name "Corruption",
        :oracle-text "(Theme color: {B})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/f/bf44aa63-6b9c-43d8-ba95-c9b395e0f06d.png?1675299102",
        :collector-number "4",
        :layout "normal",
        :name "Rebellious",
        :oracle-text "(Theme color: {R})"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "fone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/0/809e9832-83c4-42ce-9824-3aacb542085f.png?1675299068",
        :collector-number "5",
        :layout "normal",
        :name "Toxic",
        :oracle-text "(Theme color: {G})"})
