(#:card{:code "g00",
        :collector-number "1",
        :name "Counterspell",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/7/7700d907-e212-4893-8c65-02c8906a803c.png?1561757427",
        :type-line "Instant",
        :oracle-text "Counter target spell."}
 #:card{:code "g00",
        :collector-number "2",
        :name "Vampiric Tutor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/3/33a6402e-1042-41be-a903-3a572aa5be3f.png?1561756885",
        :type-line "Instant",
        :oracle-text
        "Search your library for a card, then shuffle and put that card on top. You lose 2 life."})
