(#:card{:code "g03",
        :collector-number "1",
        :name "Intuition",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/3292ac2c-11cf-4fa1-aec5-5ce9a7ba2afb.png?1561756876",
        :type-line "Instant",
        :oracle-text
        "Search your library for three cards and reveal them. Target opponent chooses one. Put that card into your hand and the rest into your graveyard. Then shuffle."}
 #:card{:code "g03",
        :collector-number "2",
        :name "Argothian Enchantress",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/70364605-5f20-40e1-b18b-dec6d3d4d3aa.png?1561757381",
        :type-line "Creature — Human Druid",
        :oracle-text
        "Shroud (This creature can't be the target of spells or abilities.)\nWhenever you cast an enchantment spell, draw a card."}
 #:card{:code "g03",
        :collector-number "3",
        :name "Living Death",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c63ea5de-ac48-4c91-a2c6-758a8594bbb5.png?1561758030",
        :type-line "Sorcery",
        :oracle-text
        "Each player exiles all creature cards from their graveyard, then sacrifices all creatures they control, then puts all cards they exiled this way onto the battlefield."})
