(#:card{:code "g04",
        :collector-number "1",
        :name "Armageddon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4a2f582b-9119-4b52-878e-2c937f7f8541.png?1617148413",
        :type-line "Sorcery",
        :oracle-text "Destroy all lands."}
 #:card{:code "g04",
        :collector-number "2",
        :name "Balance",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/52ec6882-a92b-4ee0-b601-638994a65337.png?1561757141",
        :type-line "Sorcery",
        :oracle-text
        "Each player chooses a number of lands they control equal to the number of lands controlled by the player who controls the fewest, then sacrifices the rest. Players discard cards and sacrifice creatures the same way."}
 #:card{:code "g04",
        :collector-number "3",
        :name "Time Warp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cd2de76c-e0da-417c-8892-364a01ac69f6.png?1561758097",
        :type-line "Sorcery",
        :oracle-text
        "Target player takes an extra turn after this one."}
 #:card{:code "g04",
        :collector-number "4",
        :name "Phyrexian Negator",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e24579cf-ff2c-4e01-b6d1-9d4efc9e2ca2.png?1561758292",
        :type-line "Creature — Phyrexian Horror",
        :oracle-text
        "Trample\nWhenever Phyrexian Negator is dealt damage, sacrifice that many permanents."}
 #:card{:code "g04",
        :collector-number "5",
        :name "Deranged Hermit",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/c/5c94e2b8-9fe6-41fd-bf43-ab7534abfd33.png?1561757233",
        :type-line "Creature — Elf",
        :oracle-text
        "Echo {3}{G}{G} (At the beginning of your upkeep, if this came under your control since the beginning of your last upkeep, sacrifice it unless you pay its echo cost.)\nWhen Deranged Hermit enters the battlefield, create four 1/1 green Squirrel creature tokens.\nSquirrel creatures get +1/+1."}
 #:card{:code "g04",
        :collector-number "6",
        :name "Hermit Druid",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/d/6d6159f4-f6b0-43e5-b464-39c6c3c530dc.png?1561757369",
        :type-line "Creature — Human Druid",
        :oracle-text
        "{G}, {T}: Reveal cards from the top of your library until you reveal a basic land card. Put that card into your hand and all other cards revealed this way into your graveyard."})
