(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "g08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a0d59d90-0a4f-45f1-81ad-23a348a1a868.png?1561757721",
        :collector-number "1",
        :layout "normal",
        :name "Orim's Chant",
        :oracle-text
        "Kicker {W} (You may pay an additional {W} as you cast this spell.)\nTarget player can't cast spells this turn. If this spell was kicked, creatures can't attack this turn."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "g08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/a/3af9ca89-d7b1-4533-8033-e9c805f39155.png?1561756946",
        :collector-number "2",
        :layout "normal",
        :name "Mind's Desire",
        :oracle-text
        "Shuffle your library. Then exile the top card of your library. Until end of turn, you may play that card without paying its mana cost.\nStorm (When you cast this spell, copy it for each spell cast before it this turn.)"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "g08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b7d77e0b-c918-4a16-94e2-e9f8cf709217.png?1561757903",
        :collector-number "3",
        :layout "normal",
        :name "Demonic Tutor",
        :oracle-text
        "Search your library for a card, put that card into your hand, then shuffle."}
 #:card{:type-line "Creature — Goblin Warrior",
        :layout-category :normal,
        :code "g08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/7/e754551e-a3cb-45f4-8106-a22dcf2c567a.png?1561758343",
        :collector-number "4",
        :layout "normal",
        :name "Goblin Piledriver",
        :oracle-text
        "Protection from blue (This creature can't be blocked, targeted, dealt damage, or enchanted by anything blue.)\nWhenever Goblin Piledriver attacks, it gets +2/+0 until end of turn for each other attacking Goblin."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "g08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/4/44fe87ca-5707-4c6a-a1ab-e533eb0b381f.png?1561757029",
        :collector-number "5",
        :layout "normal",
        :name "Living Wish",
        :oracle-text
        "You may reveal a creature or land card you own from outside the game and put it into your hand. Exile Living Wish."})
