(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "g09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/531e952f-6136-489e-b3c5-a533a4f9898f.png?1562636753",
        :collector-number "1",
        :layout "normal",
        :name "Dark Ritual",
        :oracle-text "Add {B}{B}{B}."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "g09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3ffb39a7-02b0-416a-8e2b-3c4741cde1cd.png?1562636727",
        :collector-number "2",
        :layout "normal",
        :name "Maze of Ith",
        :oracle-text
        "{T}: Untap target attacking creature. Prevent all combat damage that would be dealt to and dealt by that creature this turn."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "g09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6228e16-72d4-4771-9e3f-a83ec856d315.png?1562636845",
        :collector-number "3",
        :layout "normal",
        :name "Stifle",
        :oracle-text
        "Counter target activated or triggered ability. (Mana abilities can't be targeted.)"}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "g09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7b5862b3-e62e-4539-ab57-6c8f1138ac5d.png?1562636772",
        :collector-number "4",
        :layout "normal",
        :name "Survival of the Fittest",
        :oracle-text
        "{G}, Discard a creature card: Search your library for a creature card, reveal that card, put it into your hand, then shuffle."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "g09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/2/c2d7235f-3716-4c1e-affd-19e57ca97788.png?1562636841",
        :collector-number "5",
        :layout "normal",
        :name "Burning Wish",
        :oracle-text
        "You may reveal a sorcery card you own from outside the game and put it into your hand. Exile Burning Wish."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "g09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/2/62b5ee33-db0f-44f2-90f6-fb983b96b342.png?1562636762",
        :collector-number "6",
        :layout "normal",
        :name "Bloodstained Mire",
        :oracle-text
        "{T}, Pay 1 life, Sacrifice Bloodstained Mire: Search your library for a Swamp or Mountain card, put it onto the battlefield, then shuffle."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "g09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0df37cc8-3703-406a-adaf-ee0bb9d7aa61.png?1562636672",
        :collector-number "7",
        :layout "normal",
        :name "Flooded Strand",
        :oracle-text
        "{T}, Pay 1 life, Sacrifice Flooded Strand: Search your library for a Plains or Island card, put it onto the battlefield, then shuffle."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "g09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3f470954-9bb4-44f9-a700-d28aaa778668.png?1562636726",
        :collector-number "8",
        :layout "normal",
        :name "Polluted Delta",
        :oracle-text
        "{T}, Pay 1 life, Sacrifice Polluted Delta: Search your library for an Island or Swamp card, put it onto the battlefield, then shuffle."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "g09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4b2bf78a-546a-4f77-85b2-a5ff8eec60b1.png?1562636732",
        :collector-number "9",
        :layout "normal",
        :name "Windswept Heath",
        :oracle-text
        "{T}, Pay 1 life, Sacrifice Windswept Heath: Search your library for a Forest or Plains card, put it onto the battlefield, then shuffle."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "g09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/a/6af7133c-2c65-4977-9b72-c29985ec9d47.png?1562636768",
        :collector-number "10",
        :layout "normal",
        :name "Wooded Foothills",
        :oracle-text
        "{T}, Pay 1 life, Sacrifice Wooded Foothills: Search your library for a Mountain or Forest card, put it onto the battlefield, then shuffle."})
