(#:card{:code "g10",
        :collector-number "1",
        :name "Sinkhole",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/5/f51b9925-4aab-4056-a723-8dd799e9a7da.png?1561758439",
        :type-line "Sorcery",
        :oracle-text "Destroy target land."}
 #:card{:code "g10",
        :collector-number "2",
        :name "Natural Order",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/c/8c68f1e6-b1f2-4e04-beee-97abad3cd4d5.png?1617148387",
        :type-line "Sorcery",
        :oracle-text
        "As an additional cost to cast this spell, sacrifice a green creature.\nSearch your library for a green creature card, put it onto the battlefield, then shuffle."}
 #:card{:code "g10",
        :collector-number "3",
        :name "Phyrexian Dreadnought",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/9/699a6663-cc48-4c1d-aaa2-a423169b7783.png?1561757348",
        :type-line "Artifact Creature — Phyrexian Dreadnought",
        :oracle-text
        "Trample\nWhen Phyrexian Dreadnought enters the battlefield, sacrifice it unless you sacrifice any number of creatures with total power 12 or greater."}
 #:card{:code "g10",
        :collector-number "4",
        :name "Thawing Glaciers",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a201a24-ab40-4f69-9b0e-ad882b485c2e.png?1561756739",
        :type-line "Land",
        :oracle-text
        "Thawing Glaciers enters the battlefield tapped.\n{1}, {T}: Search your library for a basic land card, put that card onto the battlefield tapped, then shuffle. Return Thawing Glaciers to its owner's hand at the beginning of the next cleanup step."}
 #:card{:code "g10",
        :collector-number "5",
        :name "Land Tax",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af3bb1d2-4214-49b6-9efa-c8e1902e2e07.png?1561757826",
        :type-line "Enchantment",
        :oracle-text
        "At the beginning of your upkeep, if an opponent controls more lands than you, you may search your library for up to three basic land cards, reveal them, put them into your hand, then shuffle."}
 #:card{:code "g10",
        :collector-number "6",
        :name "Morphling",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/ebdfc554-2e1d-4cf8-805a-bfbe0138739e.png?1561758375",
        :type-line "Creature — Shapeshifter",
        :oracle-text
        "{U}: Untap Morphling.\n{U}: Morphling gains flying until end of turn.\n{U}: Morphling gains shroud until end of turn. (It can't be the target of spells or abilities.)\n{1}: Morphling gets +1/-1 until end of turn.\n{1}: Morphling gets -1/+1 until end of turn."}
 #:card{:code "g10",
        :collector-number "7",
        :name "Wheel of Fortune",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/8/a8a47aa2-7274-465a-865b-68fe47d4fa81.png?1561757784",
        :type-line "Sorcery",
        :oracle-text
        "Each player discards their hand, then draws seven cards."}
 #:card{:code "g10",
        :collector-number "8",
        :name "Wasteland",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6eff6724-202d-4b6b-bac9-88dc1504a0aa.png?1591723438",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}.\n{T}, Sacrifice Wasteland: Destroy target nonbasic land."})
