(#:card{:type-line "Tribal Enchantment — Faerie",
        :layout-category :normal,
        :code "g11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fc0d11d3-4d55-43a4-b59d-acc41aa671c5.png?1561758476",
        :collector-number "1",
        :layout "normal",
        :name "Bitterblossom",
        :oracle-text
        "At the beginning of your upkeep, you lose 1 life and create a 1/1 black Faerie Rogue creature token with flying."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "g11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/9/298b410e-263e-4cb8-bc6d-309ecf3310d9.png?1561756822",
        :collector-number "2",
        :layout "normal",
        :name "Sword of Fire and Ice",
        :oracle-text
        "Equipped creature gets +2/+2 and has protection from red and from blue.\nWhenever equipped creature deals combat damage to a player, Sword of Fire and Ice deals 2 damage to any target and you draw a card.\nEquip {2}"}
 #:card{:type-line "Legendary Creature — Faerie Wizard",
        :layout-category :normal,
        :code "g11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/8/78206620-db4a-44fb-b68c-fbbeaf2a9e24.png?1561757429",
        :collector-number "3",
        :layout "normal",
        :name "Vendilion Clique",
        :oracle-text
        "Flash\nFlying\nWhen Vendilion Clique enters the battlefield, look at target player's hand. You may choose a nonland card from it. If you do, that player reveals the chosen card, puts it on the bottom of their library, then draws a card."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "g11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/c/5c7bb22c-55b0-43e1-b52c-8bb4e75daaf6.png?1561757231",
        :collector-number "4",
        :layout "normal",
        :name "Entomb",
        :oracle-text
        "Search your library for a card, put that card into your graveyard, then shuffle."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "g11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af226b54-7cde-462a-b1c5-42dfef1c2ee6.png?1561757823",
        :collector-number "5",
        :layout "normal",
        :name "Mana Crypt",
        :oracle-text
        "At the beginning of your upkeep, flip a coin. If you lose the flip, Mana Crypt deals 3 damage to you.\n{T}: Add {C}{C}."}
 #:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "g11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/14266659-4f24-4489-be7d-57e05fc874a2.png?1561756687",
        :collector-number "6",
        :layout "normal",
        :name "Dark Confidant",
        :oracle-text
        "At the beginning of your upkeep, reveal the top card of your library and put that card into your hand. You lose life equal to its mana value."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "g11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dd5157b8-07df-4aec-8ea6-792cd582598f.png?1561758219",
        :collector-number "7",
        :layout "normal",
        :name "Doubling Season",
        :oracle-text
        "If an effect would create one or more tokens under your control, it creates twice that many of those tokens instead.\nIf an effect would put one or more counters on a permanent you control, it puts twice that many of those counters on that permanent instead."}
 #:card{:type-line "Creature — Goblin Artificer",
        :layout-category :normal,
        :code "g11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e30ec0f5-5ce6-4498-abcb-8a116064ff3e.png?1561758312",
        :collector-number "8",
        :layout "normal",
        :name "Goblin Welder",
        :oracle-text
        "{T}: Choose target artifact a player controls and target artifact card in that player's graveyard. If both targets are still legal as this ability resolves, that player simultaneously sacrifices the artifact and returns the artifact card to the battlefield."}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "g11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/ba563df6-08d8-465c-a89e-858e26f6b49b.png?1561757923",
        :collector-number "9",
        :layout "token",
        :name "Wolf",
        :oracle-text ""})
