(#:card{:code "g17",
        :collector-number "1",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f7720870-b6cc-4833-930d-6da05b36d17a.png?1547672906",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "g17",
        :collector-number "2",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/8326b99f-9ccd-401e-aef9-9473303d10a0.png?1547672902",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "g17",
        :collector-number "3",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75384818-7003-4a9a-9da8-9b2455d98a4e.png?1547672909",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "g17",
        :collector-number "4",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/a/9a1636d7-2c04-4dfa-8501-0bd9771e3ddc.png?1547672904",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "g17",
        :collector-number "5",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/4/049528b8-f922-4671-931d-9b37640d5a07.png?1547672900",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"})
