(#:card{:type-line "Creature — Angel",
        :layout-category :normal,
        :code "g18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bc32b8ed-aebe-4985-a1ce-70ba12395a8e.png?1591391292",
        :collector-number "GP1",
        :layout "normal",
        :name "Angelic Guardian",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\nWhenever one or more creatures you control attack, they gain indestructible until end of turn. (Damage and effects that say \"destroy\" don't destroy them.)"}
 #:card{:type-line "Creature — Turtle",
        :layout-category :normal,
        :code "g18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/86caf85d-7fb3-4e28-b8ba-a8857f0268a4.png?1547672407",
        :collector-number "GP2",
        :layout "normal",
        :name "Angler Turtle",
        :oracle-text
        "Hexproof\nCreatures your opponents control attack each combat if able."}
 #:card{:type-line "Creature — Vampire",
        :layout-category :normal,
        :code "g18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7dbd00dc-0d61-4960-8bc4-1b6ba34fc599.png?1547672414",
        :collector-number "GP3",
        :layout "normal",
        :name "Vengeant Vampire",
        :oracle-text
        "Lifelink\nWhen Vengeant Vampire dies, destroy target creature an opponent controls and you gain 4 life."}
 #:card{:type-line "Creature — Phoenix",
        :layout-category :normal,
        :code "g18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/172b9ddc-53f1-4c8a-8e45-329d019f531b.png?1547672409",
        :collector-number "GP4",
        :layout "normal",
        :name "Immortal Phoenix",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\nWhen Immortal Phoenix dies, return it to its owner's hand."}
 #:card{:type-line "Creature — Dinosaur",
        :layout-category :normal,
        :code "g18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/2/4232ef32-de63-49b1-8fbb-d080231c4bbd.png?1547672411",
        :collector-number "GP5",
        :layout "normal",
        :name "Rampaging Brontodon",
        :oracle-text
        "Trample\nWhenever Rampaging Brontodon attacks, it gets +1/+1 until end of turn for each land you control."})
