(#:card{:code "g99",
        :collector-number "1",
        :name "Memory Lapse",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/57733946-5a1f-469d-a933-9507bdbf9d74.png?1561756367",
        :type-line "Instant",
        :oracle-text
        "Counter target spell. If that spell is countered this way, put it on top of its owner's library instead of into that player's graveyard."})
