(#:card{:code "gs1",
        :collector-number "1",
        :name "Mu Yanling",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a2ee3c3c-768b-434b-a121-6d897b2ae345.png?1562132001",
        :type-line "Legendary Planeswalker — Yanling",
        :oracle-text
        "+2: Target creature can't be blocked this turn.\n−3: Draw two cards.\n−10: Tap all creatures your opponents control. You take an extra turn after this one."}
 #:card{:code "gs1",
        :collector-number "T1",
        :name "Mowu // Mowu",
        :layout "double_faced_token",
        :highres? true,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b10441dd-9029-4f95-9566-d3771ebd36bd.png?1646537364",
          :type-line "Token Legendary Creature — Dog",
          :oracle-text ""}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/b/1/b10441dd-9029-4f95-9566-d3771ebd36bd.png?1646537364",
          :type-line "Token Legendary Creature — Dog",
          :oracle-text ""}]}
 #:card{:code "gs1",
        :collector-number "2",
        :name "Colorful Feiyi Sparrow",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/846169fb-8f63-4a0f-af94-e08af8927144.png?1562131587",
        :type-line "Creature — Bird",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)"}
 #:card{:code "gs1",
        :collector-number "3",
        :name "Purple-Crystal Crab",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e26c576d-94c8-4f63-9f54-732fb1eade12.png?1562132083",
        :type-line "Creature — Crab",
        :oracle-text "When Purple-Crystal Crab dies, draw a card."}
 #:card{:code "gs1",
        :collector-number "4",
        :name "Vivid Flying Fish",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6783b19-4d23-445c-9c4c-bb485a1e4149.png?1562132065",
        :type-line "Creature — Fish Lizard",
        :oracle-text
        "Vivid Flying Fish has flying as long as it's attacking. (It can't be blocked except by creatures with flying or reach.)"}
 #:card{:code "gs1",
        :collector-number "5",
        :name "Welkin Tern",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/a/aa9b56b7-73f1-47fd-834b-37408482cebc.png?1562132016",
        :type-line "Creature — Bird",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\nWelkin Tern can block only creatures with flying."}
 #:card{:code "gs1",
        :collector-number "6",
        :name "Heavenly Qilin",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f1cb6fba-e314-4270-bbba-fa0584530f72.png?1562132091",
        :type-line "Creature — Kirin",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\nWhenever Heavenly Qilin attacks, another target creature you control gains flying until end of turn."}
 #:card{:code "gs1",
        :collector-number "7",
        :name "Armored Whirl Turtle",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fcc87fdf-6473-4b91-a8b9-2986e57dc071.png?1562132458",
        :type-line "Creature — Turtle",
        :oracle-text ""}
 #:card{:code "gs1",
        :collector-number "8",
        :name "Nine-Tail White Fox",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a120de1b-cfc2-4a21-9eb0-ddabb3d90896.png?1562131982",
        :type-line "Creature — Fox Spirit",
        :oracle-text
        "Whenever Nine-Tail White Fox deals combat damage to a player, draw a card."}
 #:card{:code "gs1",
        :collector-number "9",
        :name "Earth-Origin Yak",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/abcde784-d0cd-4bac-b1bf-bd686ac2f73d.png?1562132020",
        :type-line "Creature — Ox",
        :oracle-text
        "When Earth-Origin Yak enters the battlefield, creatures you control get +1/+1 until end of turn."}
 #:card{:code "gs1",
        :collector-number "10",
        :name "Moon-Eating Dog",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/8/a85747dd-84c0-4e31-964e-c455c96f87bf.png?1562132005",
        :type-line "Creature — Dog",
        :oracle-text
        "As long as you control a Yanling planeswalker, Moon-Eating Dog has flying. (It can't be blocked except by creatures with flying or reach.)"}
 #:card{:code "gs1",
        :collector-number "11",
        :name "Stormcloud Spirit",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b371bba8-08b1-468b-924b-c1f3d64bb096.png?1562132042",
        :type-line "Creature — Spirit",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)"}
 #:card{:code "gs1",
        :collector-number "12",
        :name "Ancestor Dragon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/b/9ba9d1f0-a864-490c-b258-6bf9de251c4b.png?1562131973",
        :type-line "Creature — Dragon",
        :oracle-text
        "Flying\nWhenever one or more creatures you control attack, you gain 1 life for each attacking creature."}
 #:card{:code "gs1",
        :collector-number "13",
        :name "Cloak of Mists",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b36f41fa-b676-475e-bc2a-7dce5f249989.png?1562132037",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature can't be blocked."}
 #:card{:code "gs1",
        :collector-number "14",
        :name "Qilin's Blessing",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/028ad74f-8366-4c14-b532-63fa892f5784.png?1562131042",
        :type-line "Instant",
        :oracle-text "Target creature gets +2/+2 until end of turn."}
 #:card{:code "gs1",
        :collector-number "15",
        :name "Drown in Shapelessness",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/1/31420a65-5f13-4ae9-8d45-2531ee2771e8.png?1562131107",
        :type-line "Instant",
        :oracle-text "Return target creature to its owner's hand."}
 #:card{:code "gs1",
        :collector-number "16",
        :name "Dragon's Presence",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/53855022-7aff-4d13-bdd8-0abbf69204a4.png?1562131547",
        :type-line "Instant",
        :oracle-text
        "Dragon's Presence deals 5 damage to target attacking or blocking creature."}
 #:card{:code "gs1",
        :collector-number "17",
        :name "Brilliant Plan",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/115a5d53-8638-44a9-a889-f2d73a02e672.png?1562131069",
        :type-line "Sorcery",
        :oracle-text "Draw three cards."}
 #:card{:code "gs1",
        :collector-number "18",
        :name "Rhythmic Water Vortex",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/be82ea29-66d4-471d-bef7-c6524207b96d.png?1562132056",
        :type-line "Sorcery",
        :oracle-text
        "Return up to two target creatures to their owner's hand.\nSearch your library and/or graveyard for a card named Mu Yanling, reveal it, and put it into your hand. If you searched your library this way, shuffle."}
 #:card{:code "gs1",
        :collector-number "19",
        :name "Meandering River",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/8/88fd9890-131e-47dd-8d57-23ff12776336.png?1562131591",
        :type-line "Land",
        :oracle-text
        "Meandering River enters the battlefield tapped.\n{T}: Add {W} or {U}."}
 #:card{:code "gs1",
        :collector-number "20",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/101b36a6-9cfe-450b-9c61-7f3e8f8109d1.png?1562131065",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "gs1",
        :collector-number "21",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/f/7f4cc1dc-7785-4375-a37c-8b2aaae91945.png?1562131578",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "gs1",
        :collector-number "22",
        :name "Jiang Yanggu",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/eb8dae9a-dac2-4b80-b546-852b989bd8c1.png?1562209422",
        :type-line "Legendary Planeswalker — Yanggu",
        :oracle-text
        "+1: Target creature gets +2/+2 until end of turn.\n−1: If you don't control a creature named Mowu, create Mowu, a legendary 3/3 green Dog creature token.\n−5: Until end of turn, target creature gains trample and gets +X/+X, where X is the number of lands you control."}
 #:card{:code "gs1",
        :collector-number "23",
        :name "Leopard-Spotted Jiao",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/91df110f-85d2-41cb-96b6-6c79cebfada7.png?1562131600",
        :type-line "Creature — Beast",
        :oracle-text ""}
 #:card{:code "gs1",
        :collector-number "24",
        :name "Feiyi Snake",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/4/0410420a-c093-4540-8867-28d0f2d86b56.png?1562131046",
        :type-line "Creature — Snake",
        :oracle-text
        "Reach (This creature can block creatures with flying.)"}
 #:card{:code "gs1",
        :collector-number "25",
        :name "Sacred White Deer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a864ae8-18fc-4c70-8564-65b745aded9a.png?1562131073",
        :type-line "Creature — Elk",
        :oracle-text
        "{3}{G}, {T}: You gain 4 life. Activate only if you control a Yanggu planeswalker."}
 #:card{:code "gs1",
        :collector-number "26",
        :name "Reckless Pangolin",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/4662c681-fcc9-4fc8-a598-b068208132fd.png?1562131525",
        :type-line "Creature — Pangolin",
        :oracle-text
        "Whenever Reckless Pangolin attacks, it gets +1/+1 until end of turn."}
 #:card{:code "gs1",
        :collector-number "27",
        :name "Giant Spider",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/8/48a84e56-bed3-4f55-a41f-3aafa392ad16.png?1562131534",
        :type-line "Creature — Spider",
        :oracle-text
        "Reach (This creature can block creatures with flying.)"}
 #:card{:code "gs1",
        :collector-number "28",
        :name "Ferocious Zheng",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7a6d1184-15e0-4b41-ba2d-4f68e91c61d4.png?1562131565",
        :type-line "Creature — Cat Beast",
        :oracle-text ""}
 #:card{:code "gs1",
        :collector-number "29",
        :name "Fire-Omen Crane",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a24c9c98-9eff-4f4b-93ca-9281d61e6835.png?1562131997",
        :type-line "Creature — Bird Spirit",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\nWhenever Fire-Omen Crane attacks, it deals 1 damage to target creature an opponent controls."}
 #:card{:code "gs1",
        :collector-number "30",
        :name "Screeching Phoenix",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4b9477ba-e198-4085-8733-fd392a5648e7.png?1562131543",
        :type-line "Creature — Phoenix",
        :oracle-text
        "Flying\n{2}{R}: Creatures you control get +1/+0 until end of turn."}
 #:card{:code "gs1",
        :collector-number "31",
        :name "Earthshaking Si",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/418df457-4aab-486c-b691-41f03ec8a6df.png?1562131512",
        :type-line "Creature — Beast",
        :oracle-text
        "Trample (This creature can deal excess combat damage to the player or planeswalker it's attacking.)"}
 #:card{:code "gs1",
        :collector-number "32",
        :name "Hardened-Scale Armor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/708e7438-b449-490e-820f-9ecd3199541b.png?1562131557",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +3/+3."}
 #:card{:code "gs1",
        :collector-number "33",
        :name "Breath of Fire",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/41f2874a-2417-41cb-9cec-551eea78473c.png?1562131516",
        :type-line "Instant",
        :oracle-text
        "Breath of Fire deals 2 damage to target creature."}
 #:card{:code "gs1",
        :collector-number "34",
        :name "Aggressive Instinct",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/40ab4bcf-e6b9-4368-97d5-56862713a66a.png?1562131508",
        :type-line "Sorcery",
        :oracle-text
        "Target creature you control deals damage equal to its power to target creature you don't control."}
 #:card{:code "gs1",
        :collector-number "35",
        :name "Confidence from Strength",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/98945e26-61e5-457d-ba8c-def924a7b1d1.png?1562131604",
        :type-line "Sorcery",
        :oracle-text
        "Target creature gets +4/+4 and gains trample until end of turn. (It can deal excess combat damage to the player or planeswalker it's attacking.)"}
 #:card{:code "gs1",
        :collector-number "36",
        :name "Journey for the Elixir",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3da5b115-84b5-4eb3-bbef-e5024601ebc8.png?1562131499",
        :type-line "Sorcery",
        :oracle-text
        "Search your library and graveyard for a basic land card and a card named Jiang Yanggu, reveal them, put them into your hand, then shuffle."}
 #:card{:code "gs1",
        :collector-number "37",
        :name "Cleansing Screech",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/79928b26-fcac-4c3f-9edd-292769c2e56e.png?1562131561",
        :type-line "Sorcery",
        :oracle-text "Cleansing Screech deals 4 damage to any target."}
 #:card{:code "gs1",
        :collector-number "38",
        :name "Timber Gorge",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6bb439c-e682-4c26-ac3a-4a810b12b509.png?1562132069",
        :type-line "Land",
        :oracle-text
        "Timber Gorge enters the battlefield tapped.\n{T}: Add {R} or {G}."}
 #:card{:code "gs1",
        :collector-number "39",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e1a4064e-3fe3-49ab-9dd5-85872fc8477d.png?1562132079",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "gs1",
        :collector-number "40",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3ee0a9b2-5570-44f0-bc66-6ed7677ce2e2.png?1562131504",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"})
