(#:card{:type-line "Artifact Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/536c2bce-600f-43ce-9e6d-e6f4716c0309.png?1562384463",
        :collector-number "1",
        :layout "normal",
        :name "Metallic Sliver",
        :oracle-text ""}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/bacc3f0e-1333-48e6-8d3d-64e3148694ac.png?1562384489",
        :collector-number "2",
        :layout "normal",
        :name "Virulent Sliver",
        :oracle-text
        "All Sliver creatures have poisonous 1. (Whenever a Sliver deals combat damage to a player, that player gets a poison counter. A player with ten or more poison counters loses the game.)"}
 #:card{:type-line "Creature — Shapeshifter",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75d4e080-f6a7-4be0-9191-306f55784bbe.png?1562384477",
        :collector-number "3",
        :layout "normal",
        :name "Amoeboid Changeling",
        :oracle-text
        "Changeling (This card is every creature type.)\n{T}: Target creature gains all creature types until end of turn.\n{T}: Target creature loses all creature types until end of turn."}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f93e951a-ff0a-4629-b296-7cf3397bc583.png?1562384939",
        :collector-number "4",
        :layout "normal",
        :name "Winged Sliver",
        :oracle-text "All Sliver creatures have flying."}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/43b794b5-4fd4-404a-813a-11020fab0ddc.png?1562384459",
        :collector-number "5",
        :layout "normal",
        :name "Clot Sliver",
        :oracle-text
        "All Slivers have \"{2}: Regenerate this permanent.\""}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8ae7319e-a12f-4e37-b184-0d15921ae72c.png?1562384481",
        :collector-number "6",
        :layout "normal",
        :name "Frenzy Sliver",
        :oracle-text
        "All Sliver creatures have frenzy 1. (Whenever a Sliver attacks and isn't blocked, it gets +1/+0 until end of turn.)"}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/981af400-4293-4b90-9325-8cdc633c4ea8.png?1562384484",
        :collector-number "7",
        :layout "normal",
        :name "Heart Sliver",
        :oracle-text "All Sliver creatures have haste."}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3df0c5b7-c24e-4a4e-b4c4-d46e1a708c4e.png?1562384457",
        :collector-number "8",
        :layout "normal",
        :name "Gemhide Sliver",
        :oracle-text
        "All Slivers have \"{T}: Add one mana of any color.\""}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/a/6a2f3f6f-3c41-446f-b3b0-f5059b153092.png?1562384470",
        :collector-number "9",
        :layout "normal",
        :name "Muscle Sliver",
        :oracle-text "All Sliver creatures get +1/+1."}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/1/7142f9b7-3205-4f01-9174-0b48d52d90b2.png?1562384473",
        :collector-number "10",
        :layout "normal",
        :name "Quick Sliver",
        :oracle-text
        "Flash\nAny player may cast Sliver spells as though they had flash."}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/f/0f66aa7f-7043-4aeb-91da-ed155580e391.png?1562384014",
        :collector-number "11",
        :layout "normal",
        :name "Crystalline Sliver",
        :oracle-text
        "All Slivers have shroud. (They can't be the targets of spells or abilities.)"}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/4/747d69d4-a7d4-4d6d-8f12-2366655c15d9.png?1562384475",
        :collector-number "12",
        :layout "normal",
        :name "Hibernation Sliver",
        :oracle-text
        "All Slivers have \"Pay 2 life: Return this permanent to its owner's hand.\""}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f2e23d03-9ee4-44c1-88d3-7708ef5b79c9.png?1562384938",
        :collector-number "13",
        :layout "normal",
        :name "Acidic Sliver",
        :oracle-text
        "All Slivers have \"{2}, Sacrifice this permanent: This permanent deals 2 damage to any target.\""}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4a0bf9e6-c497-45bc-83e0-9f50ef424852.png?1562384462",
        :collector-number "14",
        :layout "normal",
        :name "Spined Sliver",
        :oracle-text
        "Whenever a Sliver becomes blocked, that Sliver gets +1/+1 until end of turn for each creature blocking it."}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/0/90b3df6c-bddd-4680-b8e2-0f9698302f5e.png?1562384483",
        :collector-number "15",
        :layout "normal",
        :name "Victual Sliver",
        :oracle-text
        "All Slivers have \"{2}, Sacrifice this permanent: You gain 4 life.\""}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f20c1c1a-a964-40c7-8d74-2d08ff192bc3.png?1602610263",
        :collector-number "16",
        :layout "normal",
        :name "Armor Sliver",
        :oracle-text
        "All Sliver creatures have \"{2}: This creature gets +0/+1 until end of turn.\""}
 #:card{:type-line "Creature — Sliver Spirit",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/cc8da573-72fc-45fd-9024-24eca0804530.png?1562384493",
        :collector-number "17",
        :layout "normal",
        :name "Spectral Sliver",
        :oracle-text
        "All Sliver creatures have \"{2}: This creature gets +1/+1 until end of turn.\""}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/05e5de3c-e615-481a-a8f2-8300864d5e07.png?1562384010",
        :collector-number "18",
        :layout "normal",
        :name "Barbed Sliver",
        :oracle-text
        "All Sliver creatures have \"{2}: This creature gets +1/+0 until end of turn.\""}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/a/2a50d5c6-8e9c-4950-8d8d-4aad0ce044cb.png?1562384454",
        :collector-number "19",
        :layout "normal",
        :name "Homing Sliver",
        :oracle-text
        "Each Sliver card in each player's hand has slivercycling {3}.\nSlivercycling {3} ({3}, Discard this card: Search your library for a Sliver card, reveal it, put it into your hand, then shuffle.)"}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/1/812c6110-c825-48cd-ba40-ec8e9557f0e7.png?1562384478",
        :collector-number "20",
        :layout "normal",
        :name "Necrotic Sliver",
        :oracle-text
        "All Slivers have \"{3}, Sacrifice this permanent: Destroy target permanent.\""}
 #:card{:type-line "Creature — Fungus Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/be17c49e-7634-4698-a2e4-7cd3068d9971.png?1562384490",
        :collector-number "21",
        :layout "normal",
        :name "Fungus Sliver",
        :oracle-text
        "All Sliver creatures have \"Whenever this creature is dealt damage, put a +1/+1 counter on it.\" (It must survive the damage to get the counter.)"}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fa861228-5ceb-41f8-8ec0-9b96f1360271.png?1562384941",
        :collector-number "22",
        :layout "normal",
        :name "Brood Sliver",
        :oracle-text
        "Whenever a Sliver deals combat damage to a player, its controller may create a 1/1 colorless Sliver creature token."}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/0122c2d9-7d4b-41a7-b39d-21b52e76e94e.png?1562384009",
        :collector-number "23",
        :layout "normal",
        :name "Might Sliver",
        :oracle-text "All Sliver creatures get +2/+2."}
 #:card{:type-line "Legendary Creature — Sliver Mutant",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/f/2ffd66b5-08fe-416b-a680-2d98e9286b77.png?1562384456",
        :collector-number "24",
        :layout "normal",
        :name "Sliver Overlord",
        :oracle-text
        "{3}: Search your library for a Sliver card, reveal that card, put it into your hand, then shuffle.\n{3}: Gain control of target Sliver. (This effect lasts indefinitely.)"}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/eed1b11e-ca86-4b1b-b989-3a59e5772099.png?1562384496",
        :collector-number "25",
        :layout "normal",
        :name "Fury Sliver",
        :oracle-text "All Sliver creatures have double strike."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/8/486cfc00-9023-4286-bb76-fa45add2cc91.png?1562384460",
        :collector-number "26",
        :layout "normal",
        :name "Heartstone",
        :oracle-text
        "Activated abilities of creatures cost {1} less to activate. This effect can't reduce the mana in that cost to less than one mana."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0db49f7f-1790-435a-a75a-59129fa1cf97.png?1562384013",
        :collector-number "27",
        :layout "normal",
        :name "Distant Melody",
        :oracle-text
        "Choose a creature type. Draw a card for each permanent you control of that type."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/59e05b04-172b-4556-8984-a903cd7ac613.png?1562384466",
        :collector-number "28",
        :layout "normal",
        :name "Aphetto Dredging",
        :oracle-text
        "Return up to three target creature cards of the creature type of your choice from your graveyard to your hand."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fb802181-b550-43d1-a510-c46a5617cd97.png?1596304087",
        :collector-number "29",
        :layout "normal",
        :name "Coat of Arms",
        :oracle-text
        "Each creature gets +1/+1 for each other creature on the battlefield that shares at least one creature type with it. (For example, if two Goblin Warriors and a Goblin Shaman are on the battlefield, each gets +2/+2.)"}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/61e28b75-e228-450d-adff-f83db96e7186.png?1562384469",
        :collector-number "30",
        :layout "normal",
        :name "Wild Pair",
        :oracle-text
        "Whenever a creature enters the battlefield, if you cast it from your hand, you may search your library for a creature card with the same total power and toughness, put it onto the battlefield, then shuffle."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/102ff1be-cc4a-4c43-9125-0e2699fb3e73.png?1562384016",
        :collector-number "31",
        :layout "normal",
        :name "Ancient Ziggurat",
        :oracle-text
        "{T}: Add one mana of any color. Spend this mana only to cast a creature spell."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5dfbf5cb-ce19-4124-9dad-522809487faa.png?1562384467",
        :collector-number "32",
        :layout "normal",
        :name "Rootbound Crag",
        :oracle-text
        "Rootbound Crag enters the battlefield tapped unless you control a Mountain or a Forest.\n{T}: Add {R} or {G}."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6dbe3ae-b48d-4186-afdd-95cd7d65a84e.png?1562384491",
        :collector-number "33",
        :layout "normal",
        :name "Rupture Spire",
        :oracle-text
        "Rupture Spire enters the battlefield tapped.\nWhen Rupture Spire enters the battlefield, sacrifice it unless you pay {1}.\n{T}: Add one mana of any color."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/5/85976808-b93e-44b3-96a3-103587548d22.png?1562384480",
        :collector-number "34",
        :layout "normal",
        :name "Terramorphic Expanse",
        :oracle-text
        "{T}, Sacrifice Terramorphic Expanse: Search your library for a basic land card, put it onto the battlefield tapped, then shuffle."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/aed60ac3-0374-432f-ab1b-478386b26da0.png?1562384487",
        :collector-number "35",
        :layout "normal",
        :name "Vivid Creek",
        :oracle-text
        "Vivid Creek enters the battlefield tapped with two charge counters on it.\n{T}: Add {U}.\n{T}, Remove a charge counter from Vivid Creek: Add one mana of any color."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0c412d30-96bf-48fa-90a6-ba3e30aae6e5.png?1562384011",
        :collector-number "36",
        :layout "normal",
        :name "Vivid Grove",
        :oracle-text
        "Vivid Grove enters the battlefield tapped with two charge counters on it.\n{T}: Add {G}.\n{T}, Remove a charge counter from Vivid Grove: Add one mana of any color."}
 #:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/d/ad27f8cb-302b-411a-bb86-26ff4cabbd49.png?1562384486",
        :collector-number "37",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/542a8f0e-249e-4f07-86c0-7a7cfa8eab1d.png?1562384465",
        :collector-number "38",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cdab5cee-a90d-4b8b-b4d3-dd6fee87640d.png?1562384494",
        :collector-number "39",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/1/710d1f9d-ed1b-4134-bf28-7f6bdac9983e.png?1562384472",
        :collector-number "40",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "h09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/17e5f194-5148-4991-9f75-750cb3e41c62.png?1562384453",
        :collector-number "41",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"})
