(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f48ab69d-8a01-4dcb-af70-31e2c62278df.png?1630616215",
        :collector-number "1",
        :layout "normal",
        :name "Ephemerate",
        :oracle-text
        "Exile target creature you control, then return it to the battlefield under its owner's control.\nRebound (If you cast this spell from your hand, exile it as it resolves. At the beginning of your next upkeep, you may cast this card from exile without paying its mana cost.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/47f44d5a-f3d6-4a9a-8bd3-b17a88565c51.png?1630616237",
        :collector-number "2",
        :layout "normal",
        :name "Generous Gift",
        :oracle-text
        "Destroy target permanent. Its controller creates a 3/3 green Elephant creature token."}
 #:card{:type-line "Creature — Kor Cleric",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f2bdcfec-d412-442c-91c8-53022c8e316d.png?1630616261",
        :collector-number "3",
        :layout "normal",
        :name "Giver of Runes",
        :oracle-text
        "{T}: Another target creature you control gains protection from colorless or from the color of your choice until end of turn."}
 #:card{:type-line "Creature — Cat",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/55c67d56-62d5-417a-b1a6-51c91ba3abb1.png?1630616289",
        :collector-number "4",
        :layout "normal",
        :name "King of the Pride",
        :oracle-text "Other Cats you control get +2/+1."}
 #:card{:type-line "Creature — Human Soldier Ranger",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/ab9eef1c-8e8e-45e6-aaef-98ff569a1845.png?1630616312",
        :collector-number "5",
        :layout "normal",
        :name "Ranger-Captain of Eos",
        :oracle-text
        "When Ranger-Captain of Eos enters the battlefield, you may search your library for a creature card with mana value 1 or less, reveal it, put it into your hand, then shuffle.\nSacrifice Ranger-Captain of Eos: Your opponents can't cast noncreature spells this turn."}
 #:card{:type-line "Legendary Creature — Human Soldier",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/673cfb84-b76f-44c2-9ca1-5d57d1ac525f.png?1630616334",
        :collector-number "6",
        :layout "normal",
        :name "Sisay, Weatherlight Captain",
        :oracle-text
        "Sisay, Weatherlight Captain gets +1/+1 for each color among other legendary permanents you control.\n{W}{U}{B}{R}{G}: Search your library for a legendary permanent card with mana value less than Sisay's power, put that card onto the battlefield, then shuffle."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8a2ab58d-a632-4162-82b2-664e9ac4b319.png?1630616357",
        :collector-number "7",
        :layout "normal",
        :name "Archmage's Charm",
        :oracle-text
        "Choose one —\n• Counter target spell.\n• Target player draws two cards.\n• Gain control of target nonland permanent with mana value 1 or less."}
 #:card{:type-line "Creature — Faerie Wizard",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/3989e920-05df-4b30-9ec3-e6ecaa436fce.png?1630616385",
        :collector-number "8",
        :layout "normal",
        :name "Faerie Seer",
        :oracle-text
        "Flying\nWhen Faerie Seer enters the battlefield, scry 2."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b769ba9e-2ac8-48a9-9f45-23a4ccd0cb96.png?1630616412",
        :collector-number "9",
        :layout "normal",
        :name "Force of Negation",
        :oracle-text
        "If it's not your turn, you may exile a blue card from your hand rather than pay this spell's mana cost.\nCounter target noncreature spell. If that spell is countered this way, exile it instead of putting it into its owner's graveyard."}
 #:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/0/b05fa81a-a0f5-4cb1-b4c7-f4016ab65c4c.png?1630616435",
        :collector-number "10",
        :layout "normal",
        :name "Tribute Mage",
        :oracle-text
        "When Tribute Mage enters the battlefield, you may search your library for an artifact card with mana value 2, reveal that card, put it into your hand, then shuffle."}
 #:card{:type-line "Legendary Creature — Human Artificer",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/86d744cd-225c-4279-898a-858dc316cf7f.png?1630616459",
        :collector-number "11",
        :layout "normal",
        :name "Urza, Lord High Artificer",
        :oracle-text
        "When Urza, Lord High Artificer enters the battlefield, create a 0/0 colorless Construct artifact creature token with \"This creature gets +1/+1 for each artifact you control.\"\nTap an untapped artifact you control: Add {U}.\n{5}: Shuffle your library, then exile the top card. Until end of turn, you may play that card without paying its mana cost."}
 #:card{:type-line "Creature — Shapeshifter",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e681338b-9938-4db0-bb95-28c460a98acf.png?1630616483",
        :collector-number "12",
        :layout "normal",
        :name "Changeling Outcast",
        :oracle-text
        "Changeling (This card is every creature type.)\nChangeling Outcast can't block and can't be blocked."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/2/d25ae489-1600-4eca-afd2-6274d525046a.png?1630616507",
        :collector-number "13",
        :layout "normal",
        :name "Defile",
        :oracle-text
        "Target creature gets -1/-1 until end of turn for each Swamp you control."}
 #:card{:type-line "Creature — Phyrexian Carrier",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/35c48959-caba-430a-9ac3-0e3459277ed0.png?1630616530",
        :collector-number "14",
        :layout "normal",
        :name "Plague Engineer",
        :oracle-text
        "Deathtouch\nAs Plague Engineer enters the battlefield, choose a creature type.\nCreatures of the chosen type your opponents control get -1/-1."}
 #:card{:type-line "Creature — Zombie Wizard",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b358328b-53f2-45ba-a5f2-d0a666241d53.png?1630616552",
        :collector-number "15",
        :layout "normal",
        :name "Undead Augur",
        :oracle-text
        "Whenever Undead Augur or another Zombie you control dies, you draw a card and you lose 1 life."}
 #:card{:type-line "Creature — Goblin Artificer",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/cae12ba4-80d9-4c2d-af64-d88d003a0d6f.png?1630616575",
        :collector-number "16",
        :layout "normal",
        :name "Goblin Engineer",
        :oracle-text
        "When Goblin Engineer enters the battlefield, you may search your library for an artifact card, put it into your graveyard, then shuffle.\n{R}, {T}, Sacrifice an artifact: Return target artifact card with mana value 3 or less from your graveyard to the battlefield."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/61f8ba6c-1fc9-42c5-94ea-1ee495fa4090.png?1630616598",
        :collector-number "17",
        :layout "normal",
        :name "Magmatic Sinkhole",
        :oracle-text
        "Delve (Each card you exile from your graveyard while casting this spell pays for {1}.)\nMagmatic Sinkhole deals 5 damage to target creature or planeswalker."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/e/7ee142dc-bb72-4aa0-9037-cfc70de19cae.png?1630616622",
        :collector-number "18",
        :layout "normal",
        :name "Shenanigans",
        :oracle-text
        "Destroy target artifact.\nDredge 1 (If you would draw a card, you may mill a card instead. If you do, return this card from your graveyard to your hand.)"}
 #:card{:type-line "Legendary Creature — Bear",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/d/ad7eac9d-31e3-480e-92fa-58458d6f83b2.png?1630616649",
        :collector-number "19",
        :layout "normal",
        :name "Ayula, Queen Among Bears",
        :oracle-text
        "Whenever another Bear enters the battlefield under your control, choose one —\n• Put two +1/+1 counters on target Bear.\n• Target Bear you control fights target creature you don't control."}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/96c5607b-55fe-43c2-93fe-0084d84499d9.png?1630616672",
        :collector-number "20",
        :layout "normal",
        :name "Deep Forest Hermit",
        :oracle-text
        "Vanishing 3 (This creature enters the battlefield with three time counters on it. At the beginning of your upkeep, remove a time counter from it. When the last is removed, sacrifice it.)\nWhen Deep Forest Hermit enters the battlefield, create four 1/1 green Squirrel creature tokens.\nSquirrels you control get +1/+1."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/ebd30c7a-7a8c-4176-b1e7-91f4c4a55140.png?1639628504",
        :collector-number "21",
        :layout "normal",
        :name "Force of Vigor",
        :oracle-text
        "If it's not your turn, you may exile a green card from your hand rather than pay this spell's mana cost.\nDestroy up to two target artifacts and/or enchantments."}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/3/6311f606-eed9-46b7-80b1-1f823a1183d0.png?1631151034",
        :collector-number "22",
        :layout "normal",
        :name "Llanowar Tribe",
        :oracle-text "{T}: Add {G}{G}{G}."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/d/4da5a18d-b5d2-4c38-ae04-164f3e1adc6b.png?1630616798",
        :collector-number "23",
        :layout "normal",
        :name "Scale Up",
        :oracle-text
        "Until end of turn, target creature you control becomes a green Wurm with base power and toughness 6/4.\nOverload {4}{G}{G} (You may cast this spell for its overload cost. If you do, change its text by replacing all instances of \"target\" with \"each.\")"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/7/7739490e-1389-440b-9efa-9df0e4fd30dc.png?1630616823",
        :collector-number "24",
        :layout "normal",
        :name "Weather the Storm",
        :oracle-text
        "You gain 3 life.\nStorm (When you cast this spell, copy it for each spell cast before it this turn.)"}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2e1da79b-4392-47cc-ade9-776827695276.png?1630616849",
        :collector-number "25",
        :layout "normal",
        :name "Etchings of the Chosen",
        :oracle-text
        "As Etchings of the Chosen enters the battlefield, choose a creature type.\nCreatures you control of the chosen type get +1/+1.\n{1}, Sacrifice a creature of the chosen type: Target creature you control gains indestructible until end of turn."}
 #:card{:type-line "Legendary Creature — Sliver",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/59fa538b-fa1c-4cdc-9fc0-801d6b618f01.png?1630616873",
        :collector-number "26",
        :layout "normal",
        :name "The First Sliver",
        :oracle-text
        "Cascade (When you cast this spell, exile cards from the top of your library until you exile a nonland card that costs less. You may cast it without paying its mana cost. Put the exiled cards on the bottom of your library in a random order.)\nSliver spells you cast have cascade."}
 #:card{:type-line "Snow Creature — Snake",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/05aa5b50-0f8a-4f8a-8b48-3c52512ea615.png?1630616897",
        :collector-number "27",
        :layout "normal",
        :name "Ice-Fang Coatl",
        :oracle-text
        "Flash\nFlying\nWhen Ice-Fang Coatl enters the battlefield, draw a card.\nIce-Fang Coatl has deathtouch as long as you control at least three other snow permanents."}
 #:card{:type-line "Creature — Vedalken Ninja",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/9/a92b3ded-40d9-4e50-a64c-b326e3fd52ed.png?1630616922",
        :collector-number "28",
        :layout "normal",
        :name "Ingenious Infiltrator",
        :oracle-text
        "Ninjutsu {U}{B} ({U}{B}, Return an unblocked attacker you control to hand: Put this card onto the battlefield from your hand tapped and attacking.)\nWhenever a Ninja you control deals combat damage to a player, draw a card."}
 #:card{:type-line "Creature — Sliver",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87731608-7038-453f-97dc-12cfa5b9211d.png?1630616947",
        :collector-number "29",
        :layout "normal",
        :name "Lavabelly Sliver",
        :oracle-text
        "Sliver creatures you control have \"When this creature enters the battlefield, it deals 1 damage to target player or planeswalker and you gain 1 life.\""}
 #:card{:type-line "Creature — Spirit",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e5434026-a606-41df-8dfd-23694040b488.png?1630616974",
        :collector-number "30",
        :layout "normal",
        :name "Soulherder",
        :oracle-text
        "Whenever a creature is exiled from the battlefield, put a +1/+1 counter on Soulherder.\nAt the beginning of your end step, you may exile another target creature you control, then return that card to the battlefield under its owner's control."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/a/2afc63e4-10be-415b-9512-f6c1a477af8f.png?1630616997",
        :collector-number "31",
        :layout "normal",
        :name "Sword of Sinew and Steel",
        :oracle-text
        "Equipped creature gets +2/+2 and has protection from black and from red.\nWhenever equipped creature deals combat damage to a player, destroy up to one target planeswalker and up to one target artifact.\nEquip {2}"}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f714386f-607a-41fd-ae72-f2d2641841aa.png?1630617024",
        :collector-number "32",
        :layout "normal",
        :name "Sword of Truth and Justice",
        :oracle-text
        "Equipped creature gets +2/+2 and has protection from white and from blue.\nWhenever equipped creature deals combat damage to a player, put a +1/+1 counter on a creature you control, then proliferate. (Choose any number of permanents and/or players, then give each another counter of each kind already there.)\nEquip {2}"}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7a32f159-cc51-40d9-8c33-88ca8eb8b6f4.png?1630617047",
        :collector-number "33",
        :layout "normal",
        :name "Talisman of Conviction",
        :oracle-text
        "{T}: Add {C}.\n{T}: Add {R} or {W}. Talisman of Conviction deals 1 damage to you."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e0373057-f5c2-4cfb-b6a4-dea05035d1c6.png?1630617071",
        :collector-number "34",
        :layout "normal",
        :name "Talisman of Creativity",
        :oracle-text
        "{T}: Add {C}.\n{T}: Add {U} or {R}. Talisman of Creativity deals 1 damage to you."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b9383190-c4b2-4b38-8938-2c57782faf03.png?1630617096",
        :collector-number "35",
        :layout "normal",
        :name "Talisman of Curiosity",
        :oracle-text
        "{T}: Add {C}.\n{T}: Add {G} or {U}. Talisman of Curiosity deals 1 damage to you."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b8ed2d68-fd97-411f-8a8e-7e100cdb4c0e.png?1630617120",
        :collector-number "36",
        :layout "normal",
        :name "Talisman of Hierarchy",
        :oracle-text
        "{T}: Add {C}.\n{T}: Add {W} or {B}. Talisman of Hierarchy deals 1 damage to you."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca1f4df7-6c34-406d-9cb5-84e18f6a7f3f.png?1630617142",
        :collector-number "37",
        :layout "normal",
        :name "Talisman of Resilience",
        :oracle-text
        "{T}: Add {C}.\n{T}: Add {B} or {G}. Talisman of Resilience deals 1 damage to you."}
 #:card{:type-line "Artifact Creature — Shapeshifter",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b1211495-12ba-4f57-90f9-8befec5fc03d.png?1630617166",
        :collector-number "38",
        :layout "normal",
        :name "Universal Automaton",
        :oracle-text "Changeling (This card is every creature type.)"}
 #:card{:type-line "Legendary Land",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/8445249d-5482-462b-9372-31aa745f33b4.png?1630617190",
        :collector-number "39",
        :layout "normal",
        :name "Hall of Heliod's Generosity",
        :oracle-text
        "{T}: Add {C}.\n{1}{W}, {T}: Put target enchantment card from your graveyard on top of your library."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "h1r",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/991a1790-a3a2-4def-8848-cc698915a242.png?1630617214",
        :collector-number "40",
        :layout "normal",
        :name "Prismatic Vista",
        :oracle-text
        "{T}, Pay 1 life, Sacrifice Prismatic Vista: Search your library for a basic land card, put it onto the battlefield, then shuffle."})
