(#:card{:code "ha2",
        :collector-number "1",
        :name "Nyx-Fleece Ram",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/8/783d5756-2fab-4757-b7e0-2d222c2d010e.png?1588680934",
        :type-line "Enchantment Creature — Sheep",
        :oracle-text
        "At the beginning of your upkeep, you gain 1 life."}
 #:card{:code "ha2",
        :collector-number "2",
        :name "Ranger of Eos",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/5/25b55042-3988-4a5e-8cb1-e909f2937276.png?1584098327",
        :type-line "Creature — Human Soldier Ranger",
        :oracle-text
        "When Ranger of Eos enters the battlefield, you may search your library for up to two creature cards with mana value 1 or less, reveal them, put them into your hand, then shuffle."}
 #:card{:code "ha2",
        :collector-number "3",
        :name "Sigil of the Empty Throne",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/242e3026-297b-4ce9-992e-c56c8d56fddc.png?1597858453",
        :type-line "Enchantment",
        :oracle-text
        "Whenever you cast an enchantment spell, create a 4/4 white Angel creature token with flying."}
 #:card{:code "ha2",
        :collector-number "4",
        :name "Thalia, Guardian of Thraben",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/e/8e42df9e-95f2-4c79-9274-2d16e3cd91f1.png?1584029919",
        :type-line "Legendary Creature — Human Soldier",
        :oracle-text
        "First strike\nNoncreature spells cost {1} more to cast."}
 #:card{:code "ha2",
        :collector-number "5",
        :name "Merrow Reejerey",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dc7d9234-d938-42cd-a365-10136441eb20.png?1584031410",
        :type-line "Creature — Merfolk Soldier",
        :oracle-text
        "Other Merfolk creatures you control get +1/+1.\nWhenever you cast a Merfolk spell, you may tap or untap target permanent."}
 #:card{:code "ha2",
        :collector-number "6",
        :name "Inexorable Tide",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06a6a6c9-6ade-4095-bbe9-995806d946ed.png?1584031381",
        :type-line "Enchantment",
        :oracle-text
        "Whenever you cast a spell, proliferate. (Choose any number of permanents and/or players, then give each another counter of each kind already there.)"}
 #:card{:code "ha2",
        :collector-number "7",
        :name "Brain Maggot",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/4/443c3c3b-3c33-4141-8d9a-aa6fa8fa12da.png?1588680875",
        :type-line "Enchantment Creature — Insect",
        :oracle-text
        "When Brain Maggot enters the battlefield, target opponent reveals their hand and you choose a nonland card from it. Exile that card until Brain Maggot leaves the battlefield."}
 #:card{:code "ha2",
        :collector-number "8",
        :name "Pack Rat",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/d/1d9ef80b-6c61-4c2b-8e8a-f7341135d8a2.png?1584098303",
        :type-line "Creature — Rat",
        :oracle-text
        "Pack Rat's power and toughness are each equal to the number of Rats you control.\n{2}{B}, Discard a card: Create a token that's a copy of Pack Rat."}
 #:card{:code "ha2",
        :collector-number "9",
        :name "Virulent Plague",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c9e351c-f494-4911-8817-d360a26ab758.png?1584031438",
        :type-line "Enchantment",
        :oracle-text "Creature tokens get -2/-2."}
 #:card{:code "ha2",
        :collector-number "10",
        :name "Waste Not",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/5737b4ac-1a0c-475c-bc0c-489bce302ff0.png?1584031441",
        :type-line "Enchantment",
        :oracle-text
        "Whenever an opponent discards a creature card, create a 2/2 black Zombie creature token.\nWhenever an opponent discards a land card, add {B}{B}.\nWhenever an opponent discards a noncreature, nonland card, draw a card."}
 #:card{:code "ha2",
        :collector-number "11",
        :name "Dragonmaster Outcast",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/e/4ee9baa6-0c9d-4d31-800b-20abe6255a11.png?1584031358",
        :type-line "Creature — Human Shaman",
        :oracle-text
        "At the beginning of your upkeep, if you control six or more lands, create a 5/5 red Dragon creature token with flying."}
 #:card{:code "ha2",
        :collector-number "12",
        :name "Goblin Ruinblaster",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dceb0cf3-0724-414a-a762-f772332ca27e.png?1584031367",
        :type-line "Creature — Goblin Shaman",
        :oracle-text
        "Kicker {R} (You may pay an additional {R} as you cast this spell.)\nHaste\nWhen Goblin Ruinblaster enters the battlefield, if it was kicked, destroy target nonbasic land."}
 #:card{:code "ha2",
        :collector-number "13",
        :name "Ancestral Mask",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/9540ee7d-3f23-45d1-92b7-f0195b2634e1.png?1584031333",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +2/+2 for each other enchantment on the battlefield."}
 #:card{:code "ha2",
        :collector-number "14",
        :name "Terravore",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/150ee46e-b8f9-4b8b-be7d-7886bd67b662.png?1584031431",
        :type-line "Creature — Lhurgoyf",
        :oracle-text
        "Trample\nTerravore's power and toughness are each equal to the number of land cards in all graveyards."}
 #:card{:code "ha2",
        :collector-number "15",
        :name "Knight of the Reliquary",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/ba6c11e2-22e4-440a-ac29-cf2c3b1db7db.png?1597858432",
        :type-line "Creature — Human Knight",
        :oracle-text
        "Knight of the Reliquary gets +1/+1 for each land card in your graveyard.\n{T}, Sacrifice a Forest or Plains: Search your library for a land card, put it onto the battlefield, then shuffle."}
 #:card{:code "ha2",
        :collector-number "16",
        :name "Maelstrom Pulse",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8a31fdec-babb-41e4-81ed-b99c0b942189.png?1584031390",
        :type-line "Sorcery",
        :oracle-text
        "Destroy target nonland permanent and all other permanents with the same name as that permanent."}
 #:card{:code "ha2",
        :collector-number "17",
        :name "Meddling Mage",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4bbd8cb0-7bbb-47a8-93ff-4229a1b4d8da.png?1584031407",
        :type-line "Creature — Human Wizard",
        :oracle-text
        "As Meddling Mage enters the battlefield, choose a nonland card name.\nSpells with the chosen name can't be cast."}
 #:card{:code "ha2",
        :collector-number "18",
        :name "Platinum Angel",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bdb2d5bc-c10d-4303-bce3-76e633c97c70.png?1584031414",
        :type-line "Artifact Creature — Angel",
        :oracle-text
        "Flying\nYou can't lose the game and your opponents can't win the game."}
 #:card{:code "ha2",
        :collector-number "19",
        :name "Barren Moor",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bbf00df0-3857-4bd7-8993-656eb3426511.png?1584031336",
        :type-line "Land",
        :oracle-text
        "Barren Moor enters the battlefield tapped.\n{T}: Add {B}.\nCycling {B} ({B}, Discard this card: Draw a card.)"}
 #:card{:code "ha2",
        :collector-number "20",
        :name "Bojuka Bog",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1fb27179-9fc2-4114-9ba7-a0eeb6628eb9.png?1584031339",
        :type-line "Land",
        :oracle-text
        "Bojuka Bog enters the battlefield tapped.\nWhen Bojuka Bog enters the battlefield, exile target player's graveyard.\n{T}: Add {B}."}
 #:card{:code "ha2",
        :collector-number "21",
        :name "Forgotten Cave",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/e/5e82b3fa-a7b8-4ca2-9ce3-054475b407cf.png?1584031361",
        :type-line "Land",
        :oracle-text
        "Forgotten Cave enters the battlefield tapped.\n{T}: Add {R}.\nCycling {R} ({R}, Discard this card: Draw a card.)"}
 #:card{:code "ha2",
        :collector-number "22",
        :name "Ghost Quarter",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c957d63-1d4b-4f99-b123-bb00f8378aa3.png?1584031364",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}.\n{T}, Sacrifice Ghost Quarter: Destroy target land. Its controller may search their library for a basic land card, put it onto the battlefield, then shuffle."}
 #:card{:code "ha2",
        :collector-number "23",
        :name "Lonely Sandbar",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/d/9db4c029-3f8d-4fd7-bb40-0414ca6fd4a0.png?1584031387",
        :type-line "Land",
        :oracle-text
        "Lonely Sandbar enters the battlefield tapped.\n{T}: Add {U}.\nCycling {U} ({U}, Discard this card: Draw a card.)"}
 #:card{:code "ha2",
        :collector-number "24",
        :name "Secluded Steppe",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f27cfdab-7a27-4cd9-9f0d-c6fe8294e6c7.png?1584031416",
        :type-line "Land",
        :oracle-text
        "Secluded Steppe enters the battlefield tapped.\n{T}: Add {W}.\nCycling {W} ({W}, Discard this card: Draw a card.)"}
 #:card{:code "ha2",
        :collector-number "25",
        :name "Tranquil Thicket",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/f/9ffbc971-f61c-4e04-bc52-4f9b5c31ef37.png?1584031434",
        :type-line "Land",
        :oracle-text
        "Tranquil Thicket enters the battlefield tapped.\n{T}: Add {G}.\nCycling {G} ({G}, Discard this card: Draw a card.)"})
