(#:card{:type-line "Artifact Creature — Homunculus",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8a8905ac-f349-4f02-a316-65dc702ffb37.png?1623371745",
        :collector-number "1",
        :layout "normal",
        :name "Court Homunculus",
        :oracle-text
        "Court Homunculus gets +1/+1 as long as you control another artifact."}
 #:card{:type-line "Legendary Creature — Phyrexian Praetor",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a4f74725-44d4-4ad1-8365-b21bc67e952e.png?1639313520",
        :collector-number "2",
        :layout "normal",
        :name "Elesh Norn, Grand Cenobite",
        :oracle-text
        "Vigilance\nOther creatures you control get +2/+2.\nCreatures your opponents control get -2/-2."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/2/12961074-f667-4653-8268-0b2798b354ba.png?1623371853",
        :collector-number "3",
        :layout "normal",
        :name "Intangible Virtue",
        :oracle-text
        "Creature tokens you control get +1/+1 and have vigilance."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ha5",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/5/658f5cd6-4b46-4fb5-a774-ab410b200ea3.png?1623371889",
        :collector-number "4",
        :layout "normal",
        :name "Ray of Revelation",
        :oracle-text
        "Destroy target enchantment.\nFlashback {G} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:type-line "Legendary Creature — Phyrexian Praetor",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a7b8a82b-7dc2-4a39-8af5-c71511d164a3.png?1623371772",
        :collector-number "5",
        :layout "normal",
        :name "Jin-Gitaxias, Core Augur",
        :oracle-text
        "Flash\nAt the beginning of your end step, draw seven cards.\nEach opponent's maximum hand size is reduced by seven."}
 #:card{:type-line "Creature — Merfolk Rogue",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/db0e0989-e21b-4737-b653-69746f6ef974.png?1623371780",
        :collector-number "6",
        :layout "normal",
        :name "Merfolk Looter",
        :oracle-text "{T}: Draw a card, then discard a card."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/4/0411f5be-898a-4adc-bb89-a839a3b21c05.png?1623371788",
        :collector-number "7",
        :layout "normal",
        :name "Reverse Engineer",
        :oracle-text
        "Improvise (Your artifacts can help cast this spell. Each artifact you tap after you're done activating mana abilities pays for {1}.)\nDraw three cards."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/3/136e3710-9696-44ce-89c6-83a470e04e5d.png?1623371794",
        :collector-number "8",
        :layout "normal",
        :name "Stifle",
        :oracle-text
        "Counter target activated or triggered ability. (Mana abilities can't be targeted.)"}
 #:card{:type-line "Creature — Human Rogue Artificer",
        :layout-category :normal,
        :code "ha5",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/3547e067-97a9-4500-8a0b-3b0321cf2846.png?1623371702",
        :collector-number "9",
        :layout "normal",
        :name "Whirler Rogue",
        :oracle-text
        "When Whirler Rogue enters the battlefield, create two 1/1 colorless Thopter artifact creature tokens with flying.\nTap two untapped artifacts you control: Target creature can't be blocked this turn."}
 #:card{:type-line "Legendary Creature — Phyrexian Praetor",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3b3d4fc9-ed2f-48ad-9f02-a03538ac9196.png?1623371903",
        :collector-number "10",
        :layout "normal",
        :name "Sheoldred, Whispering One",
        :oracle-text
        "Swampwalk (This creature can't be blocked as long as defending player controls a Swamp.)\nAt the beginning of your upkeep, return target creature card from your graveyard to the battlefield.\nAt the beginning of each opponent's upkeep, that player sacrifices a creature."}
 #:card{:type-line "Artifact Creature — Phyrexian Imp",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d0bde0ae-5245-4251-a7bf-ddd8373412f3.png?1623371674",
        :collector-number "11",
        :layout "normal",
        :name "Vault Skirge",
        :oracle-text
        "({B/P} can be paid with either {B} or 2 life.)\nFlying\nLifelink (Damage dealt by this creature also causes you to gain that much life.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ha5",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6440065-8d1e-4767-9706-8906d5aa29a9.png?1623371728",
        :collector-number "12",
        :layout "normal",
        :name "Ancient Grudge",
        :oracle-text
        "Destroy target artifact.\nFlashback {G} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0be15359-8b3b-430e-b99f-7e0657d1a98d.png?1623371751",
        :collector-number "13",
        :layout "normal",
        :name "Dragonstorm",
        :oracle-text
        "Search your library for a Dragon permanent card, put it onto the battlefield, then shuffle.\nStorm (When you cast this spell, copy it for each spell cast before it this turn.)"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ha5",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bc9d0757-92e3-4e8d-9751-ac13ca639bde.png?1623371916",
        :collector-number "14",
        :layout "normal",
        :name "Trash for Treasure",
        :oracle-text
        "As an additional cost to cast this spell, sacrifice an artifact.\nReturn target artifact card from your graveyard to the battlefield."}
 #:card{:type-line "Legendary Creature — Phyrexian Praetor",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b3a660f8-e583-4442-90d6-2b270cb4ff91.png?1623371661",
        :collector-number "15",
        :layout "normal",
        :name "Urabrask the Hidden",
        :oracle-text
        "Creatures you control have haste.\nCreatures your opponents control enter the battlefield tapped."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/0/80d21973-a06c-49f8-8224-06e8d8c280eb.png?1623371860",
        :collector-number "16",
        :layout "normal",
        :name "Into the North",
        :oracle-text
        "Search your library for a snow land card, put it onto the battlefield tapped, then shuffle."}
 #:card{:type-line "Legendary Creature — Phyrexian Praetor",
        :layout-category :normal,
        :code "ha5",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/46886564-eef4-4a04-a148-c23f2a1877af.png?1623371690",
        :collector-number "17",
        :layout "normal",
        :name "Vorinclex, Voice of Hunger",
        :oracle-text
        "Trample\nWhenever you tap a land for mana, add one mana of any type that land produced.\nWhenever an opponent taps a land for mana, that land doesn't untap during its controller's next untap step."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ha5",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/2/823b3d6d-31cb-4f0f-bdd1-73856d61f1a5.png?1623371875",
        :collector-number "18",
        :layout "normal",
        :name "Ojutai's Command",
        :oracle-text
        "Choose two —\n• Return target creature card with mana value 2 or less from your graveyard to the battlefield.\n• You gain 4 life.\n• Counter target creature spell.\n• Draw a card."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f132720a-d0f5-42d4-b917-f378d075beee.png?1623371909",
        :collector-number "19",
        :layout "normal",
        :name "Silumgar's Command",
        :oracle-text
        "Choose two —\n• Counter target noncreature spell.\n• Return target permanent to its owner's hand.\n• Target creature gets -3/-3 until end of turn.\n• Destroy target planeswalker."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/5277892b-ed64-4e2f-a267-d31f3599729a.png?1623371869",
        :collector-number "20",
        :layout "normal",
        :name "Kolaghan's Command",
        :oracle-text
        "Choose two —\n• Return target creature card from your graveyard to your hand.\n• Target player discards a card.\n• Destroy target artifact.\n• Kolaghan's Command deals 2 damage to any target."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/2/12ddf922-f5ae-488f-9e1d-bb1bd21f2b61.png?1623371735",
        :collector-number "21",
        :layout "normal",
        :name "Atarka's Command",
        :oracle-text
        "Choose two —\n• Your opponents can't gain life this turn.\n• Atarka's Command deals 3 damage to each opponent.\n• You may put a land card from your hand onto the battlefield.\n• Creatures you control get +1/+1 and gain reach until end of turn."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e695af5f-f87e-41b5-98a4-a21bbd82b920.png?1623371814",
        :collector-number "22",
        :layout "normal",
        :name "Dromoka's Command",
        :oracle-text
        "Choose two —\n• Prevent all damage target instant or sorcery spell would deal this turn.\n• Target player sacrifices an enchantment.\n• Put a +1/+1 counter on target creature.\n• Target creature you control fights target creature you don't control."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/86565584-3f85-45af-9942-ac3848fa3978.png?1623371830",
        :collector-number "23",
        :layout "normal",
        :name "Grisly Salvage",
        :oracle-text
        "Reveal the top five cards of your library. You may put a creature or land card from among them into your hand. Put the rest into your graveyard."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/012f7d7a-1de3-4012-8e5e-51828e839f2d.png?1623371836",
        :collector-number "24",
        :layout "normal",
        :name "Ichor Wellspring",
        :oracle-text
        "When Ichor Wellspring enters the battlefield or is put into a graveyard from the battlefield, draw a card."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ha5",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/376ffc81-27cf-4d71-a557-3f4a54caa983.png?1623371896",
        :collector-number "25",
        :layout "normal",
        :name "Relic of Progenitus",
        :oracle-text
        "{T}: Target player exiles a card from their graveyard.\n{1}, Exile Relic of Progenitus: Exile all graveyards. Draw a card."})
