(#:card{:type-line "Legendary Creature — Angel",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/9/698fed00-1acd-42cf-969a-e2dce90356e8.png?1659040797",
        :collector-number "1",
        :layout "normal",
        :name "Avacyn, Angel of Hope",
        :oracle-text
        "Flying, vigilance, indestructible\nOther permanents you control have indestructible."}
 #:card{:type-line "Artifact Creature — Phyrexian Shapeshifter",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/9/89ca6469-d68d-41f4-ac19-a31851a587ce.png?1659028269",
        :collector-number "2",
        :layout "normal",
        :name "Phyrexian Metamorph",
        :oracle-text
        "({U/P} can be paid with either {U} or 2 life.)\nYou may have Phyrexian Metamorph enter the battlefield as a copy of any artifact or creature on the battlefield, except it's an artifact in addition to its other types."}
 #:card{:type-line "Creature — Human Shaman",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/4/d4a9042d-62e2-4632-ba37-f7090f631df2.png?1659028278",
        :collector-number "3",
        :layout "normal",
        :name "Ophiomancer",
        :oracle-text
        "At the beginning of each upkeep, if you control no Snakes, create a 1/1 black Snake creature token with deathtouch."}
 #:card{:type-line "Legendary Enchantment",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/0/1/015f8c38-5d0e-4bdb-a705-24313dcece99.png?1659028288",
        :collector-number "4",
        :layout "normal",
        :name "Night of Souls' Betrayal",
        :oracle-text "All creatures get -1/-1."}
 #:card{:type-line "Legendary Creature — Spirit Warrior",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/4/4/44efb0b8-f6a7-4b56-a2f8-8899d01a71d1.png?1659028736",
        :collector-number "5",
        :layout "normal",
        :name "Laelia, the Blade Reforged",
        :oracle-text
        "Haste\nWhenever Laelia, the Blade Reforged attacks, exile the top card of your library. You may play that card this turn.\nWhenever one or more cards are put into exile from your library and/or your graveyard, put a +1/+1 counter on Laelia."}
 #:card{:type-line "Legendary Enchantment Creature — Shrine",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/5/95fee9d9-7c78-4a75-80e0-3c4ddd321a48.png?1659040801",
        :collector-number "6",
        :layout "normal",
        :name "Go-Shintai of Life's Origin",
        :oracle-text
        "{W}{U}{B}{R}{G}, {T}: Return target enchantment card from your graveyard to the battlefield.\nWhenever Go-Shintai of Life's Origin or another nontoken Shrine enters the battlefield under your control, create a 1/1 colorless Shrine enchantment creature token."}
 #:card{:type-line "Creature — Lhurgoyf",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/3/c35cae61-8617-4c70-890e-eb2625ec650a.png?1659040804",
        :collector-number "7",
        :layout "normal",
        :name "Tarmogoyf",
        :oracle-text
        "Tarmogoyf's power is equal to the number of card types among cards in all graveyards and its toughness is equal to that number plus 1."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/e/9ed2d0b6-df6c-49ab-ba7b-7321ac68afe2.png?1659028752",
        :collector-number "8",
        :layout "normal",
        :name "Glimpse the Unthinkable",
        :oracle-text "Target player mills ten cards."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/2/c2a94c2f-9cca-4984-aba9-3e1bc3574163.png?1660659600",
        :collector-number "9",
        :layout "normal",
        :name "Chalice of the Void",
        :oracle-text
        "Chalice of the Void enters the battlefield with X charge counters on it.\nWhenever a player casts a spell with mana value equal to the number of charge counters on Chalice of the Void, counter that spell."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/9/d9aa3c4e-b5fb-4443-b838-a9ba7f4b9be7.png?1659028777",
        :collector-number "10",
        :layout "normal",
        :name "Retrofitter Foundry",
        :oracle-text
        "{3}: Untap Retrofitter Foundry.\n{2}, {T}: Create a 1/1 colorless Servo artifact creature token.\n{1}, {T}, Sacrifice a Servo: Create a 1/1 colorless Thopter artifact creature token with flying.\n{T}, Sacrifice a Thopter: Create a 4/4 colorless Construct artifact creature token."}
 #:card{:type-line "Artifact Land",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/5/1591ada3-b10e-42ab-aad9-e51478bdb3bf.png?1659028833",
        :collector-number "11",
        :layout "normal",
        :name "Darkmoss Bridge",
        :oracle-text
        "Darkmoss Bridge enters the battlefield tapped.\nIndestructible\n{T}: Add {B} or {G}."}
 #:card{:type-line "Artifact Land",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/2/2/2232d657-2729-41f6-aa84-0c1b253b5aeb.png?1659028841",
        :collector-number "12",
        :layout "normal",
        :name "Drossforge Bridge",
        :oracle-text
        "Drossforge Bridge enters the battlefield tapped.\nIndestructible\n{T}: Add {B} or {R}."}
 #:card{:type-line "Artifact Land",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/9/699beb4d-a313-4c70-8552-9e136dfdc50d.png?1659028847",
        :collector-number "13",
        :layout "normal",
        :name "Goldmire Bridge",
        :oracle-text
        "Goldmire Bridge enters the battlefield tapped.\nIndestructible\n{T}: Add {W} or {B}."}
 #:card{:type-line "Artifact Land",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/3/2/328efebe-4f98-4b99-87a3-a63a4600a7e0.png?1659028854",
        :collector-number "14",
        :layout "normal",
        :name "Mistvault Bridge",
        :oracle-text
        "Mistvault Bridge enters the battlefield tapped.\nIndestructible\n{T}: Add {U} or {B}."}
 #:card{:type-line "Artifact Land",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/6/c6373272-86ca-4409-bfd8-6fffbad1c0e9.png?1659028863",
        :collector-number "15",
        :layout "normal",
        :name "Razortide Bridge",
        :oracle-text
        "Razortide Bridge enters the battlefield tapped.\nIndestructible\n{T}: Add {W} or {U}."}
 #:card{:type-line "Artifact Land",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/f/3/f3433515-e088-4a34-a815-9d8273767d4b.png?1659102207",
        :collector-number "16",
        :layout "normal",
        :name "Rustvale Bridge",
        :oracle-text
        "Rustvale Bridge enters the battlefield tapped.\nIndestructible\n{T}: Add {R} or {W}."}
 #:card{:type-line "Artifact Land",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/b/3/b365a7d7-f2ba-4b76-8c99-790f43e6bba2.png?1659028877",
        :collector-number "17",
        :layout "normal",
        :name "Silverbluff Bridge",
        :oracle-text
        "Silverbluff Bridge enters the battlefield tapped.\nIndestructible\n{T}: Add {U} or {R}."}
 #:card{:type-line "Artifact Land",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/a/9a5b0957-f682-4cbc-9f0b-c5fc98ba415c.png?1659028885",
        :collector-number "18",
        :layout "normal",
        :name "Slagwoods Bridge",
        :oracle-text
        "Slagwoods Bridge enters the battlefield tapped.\nIndestructible\n{T}: Add {R} or {G}."}
 #:card{:type-line "Artifact Land",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/5/6516106f-b5ef-46e5-9ea6-231f413adb29.png?1659028893",
        :collector-number "19",
        :layout "normal",
        :name "Tanglepool Bridge",
        :oracle-text
        "Tanglepool Bridge enters the battlefield tapped.\nIndestructible\n{T}: Add {G} or {U}."}
 #:card{:type-line "Artifact Land",
        :layout-category :normal,
        :code "ha6",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/8/98863d8f-5e03-451d-9f37-440a2a23da40.png?1659028903",
        :collector-number "20",
        :layout "normal",
        :name "Thornglint Bridge",
        :oracle-text
        "Thornglint Bridge enters the battlefield tapped.\nIndestructible\n{T}: Add {G} or {W}."})
