(#:card{:type-line "Creature — Giant",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/c/cc2e4b6b-db54-40c2-a9a8-2d8dace1205d.png?1689493782",
        :collector-number "1",
        :layout "normal",
        :name "Sun Titan",
        :oracle-text
        "Vigilance\nWhenever Sun Titan enters the battlefield or attacks, you may return target permanent card with mana value 3 or less from your graveyard to the battlefield."}
 #:card{:type-line "Creature — Kor Cleric",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/d/2d698ca8-9447-4dc9-9f21-dcde4a9bb82e.png?1689515585",
        :collector-number "2",
        :layout "normal",
        :name "Giver of Runes",
        :oracle-text
        "{T}: Another target creature you control gains protection from colorless or from the color of your choice until end of turn."}
 #:card{:type-line "Creature — Giant",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/f/4fcb18f6-d6b8-44ee-97d1-78c460747403.png?1689493833",
        :collector-number "3",
        :layout "normal",
        :name "Frost Titan",
        :oracle-text
        "Whenever Frost Titan becomes the target of a spell or ability an opponent controls, counter that spell or ability unless its controller pays {2}.\nWhenever Frost Titan enters the battlefield or attacks, tap target permanent. It doesn't untap during its controller's next untap step."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/3/d3fbdd2f-aa7b-4036-ae3c-3f77619cabe1.png?1689515588",
        :collector-number "4",
        :layout "normal",
        :name "Repeal",
        :oracle-text
        "Return target nonland permanent with mana value X to its owner's hand.\nDraw a card."}
 #:card{:type-line "Legendary Creature — Faerie Wizard",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/f/ffa876f1-7834-48b7-8051-42f4d9d76b5d.png?1689493855",
        :collector-number "5",
        :layout "normal",
        :name "Vendilion Clique",
        :oracle-text
        "Flash\nFlying\nWhen Vendilion Clique enters the battlefield, look at target player's hand. You may choose a nonland card from it. If you do, that player reveals the chosen card, puts it on the bottom of their library, then draws a card."}
 #:card{:type-line "Creature — Giant",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/8/08a92949-b045-4e13-8b1e-5d4ec097432e.png?1689493623",
        :collector-number "6",
        :layout "normal",
        :name "Grave Titan",
        :oracle-text
        "Deathtouch\nWhenever Grave Titan enters the battlefield or attacks, create two 2/2 black Zombie creature tokens."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/2/72c9b7d6-0794-48c1-bc17-4b13e5ec5abb.png?1689515590",
        :collector-number "7",
        :layout "normal",
        :name "Echoing Decay",
        :oracle-text
        "Target creature and all other creatures with the same name as that creature get -2/-2 until end of turn."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/b/7b389deb-6f63-4e63-a958-a5644cff9831.png?1689515592",
        :collector-number "8",
        :layout "normal",
        :name "Unearth",
        :oracle-text
        "Return target creature card with mana value 3 or less from your graveyard to the battlefield.\nCycling {2} ({2}, Discard this card: Draw a card.)"}
 #:card{:type-line "Creature — Vampire Spirit",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/f/cf5fe0bc-02b7-4bcf-8adf-93af7ad76963.png?1689515594",
        :collector-number "9",
        :layout "normal",
        :name "Bloodghast",
        :oracle-text
        "Bloodghast can't block.\nBloodghast has haste as long as an opponent has 10 or less life.\nLandfall — Whenever a land enters the battlefield under your control, you may return Bloodghast from your graveyard to the battlefield."}
 #:card{:type-line "Creature — Giant",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/9/196fdd6a-8a8e-4b96-8a29-f7564caf86e8.png?1689493657",
        :collector-number "10",
        :layout "normal",
        :name "Inferno Titan",
        :oracle-text
        "{R}: Inferno Titan gets +1/+0 until end of turn.\nWhenever Inferno Titan enters the battlefield or attacks, it deals 3 damage divided as you choose among one, two, or three targets."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/b/cbc200a7-c689-43f7-bb01-e96078c321c9.png?1689493664",
        :collector-number "11",
        :layout "normal",
        :name "Tribal Flames",
        :oracle-text
        "Domain — Tribal Flames deals X damage to any target, where X is the number of basic land types among lands you control."}
 #:card{:type-line "Creature — Giant",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/1/e122ca54-f8ac-4c26-806f-219f417df103.png?1689493733",
        :collector-number "12",
        :layout "normal",
        :name "Primeval Titan",
        :oracle-text
        "Trample\nWhenever Primeval Titan enters the battlefield or attacks, you may search your library for up to two land cards, put them onto the battlefield tapped, then shuffle."}
 #:card{:type-line "Creature — Cat Warrior",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/9/19454552-b64d-40b7-96fc-bcea1c9c5507.png?1689493743",
        :collector-number "13",
        :layout "normal",
        :name "Wild Nacatl",
        :oracle-text
        "Wild Nacatl gets +1/+1 as long as you control a Mountain.\nWild Nacatl gets +1/+1 as long as you control a Plains."}
 #:card{:type-line "Creature — Ooze",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/2/9206ec68-8f6e-4af6-9312-cd8035115960.png?1689493750",
        :collector-number "14",
        :layout "normal",
        :name "Acidic Slime",
        :oracle-text
        "Deathtouch (Any amount of damage this deals to a creature is enough to destroy it.)\nWhen Acidic Slime enters the battlefield, destroy target artifact, enchantment, or land."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/b/fbfb99ad-4ab4-452e-85c3-737dd6bbe8e8.png?1689493756",
        :collector-number "15",
        :layout "normal",
        :name "Tooth and Nail",
        :oracle-text
        "Choose one —\n• Search your library for up to two creature cards, reveal them, put them into your hand, then shuffle.\n• Put up to two creature cards from your hand onto the battlefield.\nEntwine {2} (Choose both if you pay the entwine cost.)"}
 #:card{:type-line "Creature — Elf Berserker",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/3/9330cde9-6394-432f-93bf-e7a1257b8585.png?1689492998",
        :collector-number "16",
        :layout "normal",
        :name "Bloodbraid Elf",
        :oracle-text
        "Haste\nCascade (When you cast this spell, exile cards from the top of your library until you exile a nonland card that costs less. You may cast it without paying its mana cost. Put the exiled cards on the bottom of your library in a random order.)"}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/e/aec98f4f-3c2b-4f26-9160-a516852788fb.png?1689492956",
        :collector-number "17",
        :layout "normal",
        :name "Mortarpod",
        :oracle-text
        "Living weapon (When this Equipment enters the battlefield, create a 0/0 black Phyrexian Germ creature token, then attach this to it.)\nEquipped creature gets +0/+1 and has \"Sacrifice this creature: This creature deals 1 damage to any target.\"\nEquip {2}"}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/2/5227c107-04e7-4d7e-83d4-9d38c723b816.png?1689492934",
        :collector-number "18",
        :layout "normal",
        :name "Worn Powerstone",
        :oracle-text
        "Worn Powerstone enters the battlefield tapped.\n{T}: Add {C}{C}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/8/28bf53a1-def0-4138-ac13-b02ebce6b773.png?1689515596",
        :collector-number "19",
        :layout "normal",
        :name "Wayfarer's Bauble",
        :oracle-text
        "{2}, {T}, Sacrifice Wayfarer's Bauble: Search your library for a basic land card, put that card onto the battlefield tapped, then shuffle."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/8/080f7d1b-3e73-4766-8d0a-21d1a2f692a4.png?1689492809",
        :collector-number "20",
        :layout "normal",
        :name "Sword of Fire and Ice",
        :oracle-text
        "Equipped creature gets +2/+2 and has protection from red and from blue.\nWhenever equipped creature deals combat damage to a player, Sword of Fire and Ice deals 2 damage to any target and you draw a card.\nEquip {2}"}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/a/5a429728-7695-40a5-91ae-e5ab9e3d0627.png?1689492606",
        :collector-number "21",
        :layout "normal",
        :name "Fiery Islet",
        :oracle-text
        "{T}, Pay 1 life: Add {U} or {R}.\n{1}, {T}, Sacrifice Fiery Islet: Draw a card."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/1/b13cde19-58d5-44e8-ac48-4d2fbcf4fdfe.png?1689492639",
        :collector-number "22",
        :layout "normal",
        :name "Sunbaked Canyon",
        :oracle-text
        "{T}, Pay 1 life: Add {R} or {W}.\n{1}, {T}, Sacrifice Sunbaked Canyon: Draw a card."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/4/443bfc38-0910-47e0-995e-2f68afd776da.png?1689492645",
        :collector-number "23",
        :layout "normal",
        :name "Nurturing Peatland",
        :oracle-text
        "{T}, Pay 1 life: Add {B} or {G}.\n{1}, {T}, Sacrifice Nurturing Peatland: Draw a card."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/c/7cf9d1ac-b449-4309-b1f0-54ddac19e4de.png?1689492649",
        :collector-number "24",
        :layout "normal",
        :name "Silent Clearing",
        :oracle-text
        "{T}, Pay 1 life: Add {W} or {B}.\n{1}, {T}, Sacrifice Silent Clearing: Draw a card."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "ha7",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/2/42a0a849-e6f2-44e6-bf65-3fe236246213.png?1689492653",
        :collector-number "25",
        :layout "normal",
        :name "Waterlogged Grove",
        :oracle-text
        "{T}, Pay 1 life: Add {G} or {U}.\n{1}, {T}, Sacrifice Waterlogged Grove: Draw a card."})
