(#:card{:collector-number "1", :name "Abbey Gargoyles"}
 #:card{:collector-number "2a", :name "Abbey Matron"}
 #:card{:collector-number "2b", :name "Abbey Matron"}
 #:card{:collector-number "3a", :name "Aysen Bureaucrats"}
 #:card{:collector-number "3b", :name "Aysen Bureaucrats"}
 #:card{:collector-number "4", :name "Aysen Crusader"}
 #:card{:collector-number "5", :name "Aysen Highway"}
 #:card{:collector-number "6", :name "Beast Walkers"}
 #:card{:collector-number "7", :name "Death Speakers"}
 #:card{:collector-number "8", :name "Hazduhr the Abbot"}
 #:card{:collector-number "9", :name "Leeches"}
 #:card{:collector-number "10a", :name "Mesa Falcon"}
 #:card{:collector-number "10b", :name "Mesa Falcon"}
 #:card{:collector-number "11", :name "Prophecy"}
 #:card{:collector-number "12", :name "Rashka the Slayer"}
 #:card{:collector-number "13a", :name "Samite Alchemist"}
 #:card{:collector-number "13b", :name "Samite Alchemist"}
 #:card{:collector-number "14", :name "Serra Aviary"}
 #:card{:collector-number "15", :name "Serra Bestiary"}
 #:card{:collector-number "16", :name "Serra Inquisitors"}
 #:card{:collector-number "17", :name "Serra Paladin"}
 #:card{:collector-number "18", :name "Soraya the Falconer"}
 #:card{:collector-number "19a", :name "Trade Caravan"}
 #:card{:collector-number "19b", :name "Trade Caravan"}
 #:card{:collector-number "20", :name "Truce"}
 #:card{:collector-number "21", :name "Aether Storm"}
 #:card{:collector-number "22", :name "Baki's Curse"}
 #:card{:collector-number "23", :name "Chain Stasis"}
 #:card{:collector-number "24", :name "Coral Reef"}
 #:card{:collector-number "25a", :name "Dark Maze"}
 #:card{:collector-number "25b", :name "Dark Maze"}
 #:card{:collector-number "26", :name "Forget"}
 #:card{:collector-number "27a", :name "Giant Albatross"}
 #:card{:collector-number "27b", :name "Giant Albatross"}
 #:card{:collector-number "28", :name "Giant Oyster"}
 #:card{:collector-number "29", :name "Jinx"}
 #:card{:collector-number "30a", :name "Labyrinth Minotaur"}
 #:card{:collector-number "30b", :name "Labyrinth Minotaur"}
 #:card{:collector-number "31", :name "Marjhan"}
 #:card{:collector-number "32a", :name "Memory Lapse"}
 #:card{:collector-number "32b", :name "Memory Lapse"}
 #:card{:collector-number "33", :name "Merchant Scroll"}
 #:card{:collector-number "34", :name "Mystic Decree"}
 #:card{:collector-number "35", :name "Narwhal"}
 #:card{:collector-number "36a", :name "Reef Pirates"}
 #:card{:collector-number "36b", :name "Reef Pirates"}
 #:card{:collector-number "37", :name "Reveka, Wizard Savant"}
 #:card{:collector-number "38", :name "Sea Sprite"}
 #:card{:collector-number "39", :name "Sea Troll"}
 #:card{:collector-number "40", :name "Wall of Kelp"}
 #:card{:collector-number "41", :name "Baron Sengir"}
 #:card{:collector-number "42", :name "Black Carriage"}
 #:card{:collector-number "43", :name "Broken Visage"}
 #:card{:collector-number "44a", :name "Cemetery Gate"}
 #:card{:collector-number "44b", :name "Cemetery Gate"}
 #:card{:collector-number "45", :name "Drudge Spell"}
 #:card{:collector-number "46a", :name "Dry Spell"}
 #:card{:collector-number "46b", :name "Dry Spell"}
 #:card{:collector-number "47a", :name "Feast of the Unicorn"}
 #:card{:collector-number "47b", :name "Feast of the Unicorn"}
 #:card{:collector-number "48", :name "Funeral March"}
 #:card{:collector-number "49", :name "Ghost Hounds"}
 #:card{:collector-number "50", :name "Grandmother Sengir"}
 #:card{:collector-number "51", :name "Greater Werewolf"}
 #:card{:collector-number "52", :name "Headstone"}
 #:card{:collector-number "53", :name "Ihsan's Shade"}
 #:card{:collector-number "54", :name "Irini Sengir"}
 #:card{:collector-number "55", :name "Koskun Falls"}
 #:card{:collector-number "56", :name "Sengir Autocrat"}
 #:card{:collector-number "57a", :name "Sengir Bats"}
 #:card{:collector-number "57b", :name "Sengir Bats"}
 #:card{:collector-number "58", :name "Timmerian Fiends"}
 #:card{:collector-number "59a", :name "Torture"}
 #:card{:collector-number "59b", :name "Torture"}
 #:card{:collector-number "60", :name "Veldrane of Sengir"}
 #:card{:collector-number "61a", :name "Aliban's Tower"}
 #:card{:collector-number "61b", :name "Aliban's Tower"}
 #:card{:collector-number "62", :name "Ambush"}
 #:card{:collector-number "63a", :name "Ambush Party"}
 #:card{:collector-number "63b", :name "Ambush Party"}
 #:card{:collector-number "64", :name "An-Zerrin Ruins"}
 #:card{:collector-number "65", :name "Anaba Ancestor"}
 #:card{:collector-number "66a", :name "Anaba Bodyguard"}
 #:card{:collector-number "66b", :name "Anaba Bodyguard"}
 #:card{:collector-number "67a", :name "Anaba Shaman"}
 #:card{:collector-number "67b", :name "Anaba Shaman"}
 #:card{:collector-number "68", :name "Anaba Spirit Crafter"}
 #:card{:collector-number "69", :name "Chandler"}
 #:card{:collector-number "70", :name "Dwarven Pony"}
 #:card{:collector-number "71", :name "Dwarven Sea Clan"}
 #:card{:collector-number "72a", :name "Dwarven Trader"}
 #:card{:collector-number "72b", :name "Dwarven Trader"}
 #:card{:collector-number "73", :name "Eron the Relentless"}
 #:card{:collector-number "74", :name "Evaporate"}
 #:card{:collector-number "75", :name "Heart Wolf"}
 #:card{:collector-number "76", :name "Ironclaw Curse"}
 #:card{:collector-number "77", :name "Joven"}
 #:card{:collector-number "78", :name "Orcish Mine"}
 #:card{:collector-number "79", :name "Retribution"}
 #:card{:collector-number "80", :name "Winter Sky"}
 #:card{:collector-number "81", :name "An-Havva Constable"}
 #:card{:collector-number "82", :name "An-Havva Inn"}
 #:card{:collector-number "83", :name "Autumn Willow"}
 #:card{:collector-number "84a", :name "Carapace"}
 #:card{:collector-number "84b", :name "Carapace"}
 #:card{:collector-number "85", :name "Daughter of Autumn"}
 #:card{:collector-number "86", :name "Faerie Noble"}
 #:card{:collector-number "87a", :name "Folk of An-Havva"}
 #:card{:collector-number "87b", :name "Folk of An-Havva"}
 #:card{:collector-number "88a", :name "Hungry Mist"}
 #:card{:collector-number "88b", :name "Hungry Mist"}
 #:card{:collector-number "89", :name "Joven's Ferrets"}
 #:card{:collector-number "90", :name "Leaping Lizard"}
 #:card{:collector-number "91", :name "Mammoth Harness"}
 #:card{:collector-number "92", :name "Primal Order"}
 #:card{:collector-number "93", :name "Renewal"}
 #:card{:collector-number "94", :name "Root Spider"}
 #:card{:collector-number "95", :name "Roots"}
 #:card{:collector-number "96", :name "Rysorian Badger"}
 #:card{:collector-number "97a", :name "Shrink"}
 #:card{:collector-number "97b", :name "Shrink"}
 #:card{:collector-number "98", :name "Spectral Bears"}
 #:card{:collector-number "99a", :name "Willow Faerie"}
 #:card{:collector-number "99b", :name "Willow Faerie"}
 #:card{:collector-number "100", :name "Willow Priestess"}
 #:card{:collector-number "101", :name "Apocalypse Chime"}
 #:card{:collector-number "102", :name "Clockwork Gnomes"}
 #:card{:collector-number "103", :name "Clockwork Steed"}
 #:card{:collector-number "104", :name "Clockwork Swarm"}
 #:card{:collector-number "105", :name "Didgeridoo"}
 #:card{:collector-number "106", :name "Ebony Rhino"}
 #:card{:collector-number "107", :name "Feroz's Ban"}
 #:card{:collector-number "108", :name "Joven's Tools"}
 #:card{:collector-number "109", :name "Roterothopter"}
 #:card{:collector-number "110", :name "Serrated Arrows"}
 #:card{:collector-number "111", :name "An-Havva Township"}
 #:card{:collector-number "112", :name "Aysen Abbey"}
 #:card{:collector-number "113", :name "Castle Sengir"}
 #:card{:collector-number "114", :name "Koskun Keep"}
 #:card{:collector-number "115", :name "Wizards' School"})
