(#:card{:code "htr19",
        :collector-number "1",
        :name "Collectigull // Only the Best",
        :layout "adventure",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/e/5e5a037c-86b7-40f6-aa6e-74bc0b80e65e.png?1619720341",
        :type-line "Creature — Bird // Sorcery — Adventure",
        :oracle-text nil}
 #:card{:code "htr19",
        :collector-number "2",
        :name "Keeper of the Secret Lair",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/05c4e808-8d87-4d25-b893-d6e56b4c98e9.png?1619720364",
        :type-line "Legendary Creature — Merfolk Rogue",
        :oracle-text
        "Flash\nYou may cast Secret Lair spells as though they had flash.\nSecret Lair spells you cast cost {1} less to cast."}
 #:card{:code "htr19",
        :collector-number "3",
        :name "War of the Spark",
        :layout "saga",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/9/29fc560d-8ba3-4e6c-99df-08d034025131.png?1619720389",
        :type-line "Enchantment — Saga",
        :oracle-text
        "(As this Saga enters and after your draw step, add a lore counter. Sacrifice after III.)\nI — Each player may put a planeswalker or Zombie card from War of the Spark from their hand or graveyard onto the battlefield.\nII — Sacrifice any number of creatures and/or planeswalkers. Each opponent sacrifices that many creatures and/or planeswalkers.\nIII — Exile up to one target Bolas. Proliferate three times."}
 #:card{:code "htr19",
        :collector-number "4",
        :name "Champions of Archery // Join the Group",
        :layout "adventure",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4ae9da8c-0189-4474-ae3c-aca3fae6bea3.png?1619720422",
        :type-line
        "Legendary Creature — Human Archer // Sorcery — Adventure",
        :oracle-text nil}
 #:card{:code "htr19",
        :collector-number "5",
        :name "Myntasha, Honored One",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/7/d7e57d2f-141f-461a-8f5a-4cec3020442e.png?1625868476",
        :type-line "Legendary Snow Creature — Elk",
        :oracle-text
        "As an additional cost to cast this spell, you may open a sealed Magic booster pack and put the cards on the bottom of your booster pile in a random order.\nSpells you cast have booster cascade. (It's like cascade, but use your booster pile rather than your library.)"}
 #:card{:code "htr19",
        :collector-number "6",
        :name "The Cinematic Phoenix",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/6799b986-0c07-4082-8b5c-f28bddc42ee9.png?1621566262",
        :type-line "Legendary Creature — Phoenix",
        :oracle-text
        "Flying, haste, protection from red\n{1}, {T}: Return target legendary creature card from your graveyard to the battlefield.\nTap six untapped creatures you control: Return The Cinematic Phoenix from your graveyard to the battlefield. If you tapped six legendary creatures this way, you win the game."}
 #:card{:code "htr19",
        :collector-number "7",
        :name "Fabled Path of Searo Point",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/3729066c-4f63-47ca-8e2d-41c8bf8eb7c4.png?1636719398",
        :type-line "Legendary Land — Mountain",
        :oracle-text
        "{W}{U}{B}{R}{G}, {T}: Creatures you control gain landwalk until end of turn."})
