(#:card{:code "itp",
        :collector-number "1",
        :name "Alabaster Potion",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/674a989e-42ea-458c-bba6-c01b22505b52.png?1559593512",
        :type-line "Instant",
        :oracle-text
        "Choose one —\n• Target player gains X life.\n• Prevent the next X damage that would be dealt to any target this turn."}
 #:card{:code "itp",
        :collector-number "2",
        :name "Circle of Protection: Black",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9ed24518-dba9-4c25-958d-fbdf2cc6bddc.png?1559593466",
        :type-line "Enchantment",
        :oracle-text
        "{1}: The next time a black source of your choice would deal damage to you this turn, prevent that damage."}
 #:card{:code "itp",
        :collector-number "3",
        :name "Circle of Protection: Red",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e598f387-cfd7-41c3-89d8-493c32cd6e0c.png?1559593521",
        :type-line "Enchantment",
        :oracle-text
        "{1}: The next time a red source of your choice would deal damage to you this turn, prevent that damage."}
 #:card{:code "itp",
        :collector-number "4",
        :name "Healing Salve",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/56486eda-2f4d-4c42-a6d3-6b071a5c0ccd.png?1559593514",
        :type-line "Instant",
        :oracle-text
        "Choose one —\n• Target player gains 3 life.\n• Prevent the next 3 damage that would be dealt to any target this turn."}
 #:card{:code "itp",
        :collector-number "5",
        :name "Mesa Pegasus",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/34f2b9e3-4c45-4f39-b4ea-acdaa2462289.png?1559593528",
        :type-line "Creature — Pegasus",
        :oracle-text
        "Flying; banding (Any creatures with banding, and up to one without, can attack in a band. Bands are blocked as a group. If any creatures with banding you control are blocking or being blocked by a creature, you divide that creature's combat damage, not its controller, among any of the creatures it's being blocked by or is blocking.)"}
 #:card{:code "itp",
        :collector-number "6",
        :name "Pearled Unicorn",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/1/51f65bc2-e05f-4885-946c-523c2a30f350.png?1559593534",
        :type-line "Creature — Unicorn",
        :oracle-text ""}
 #:card{:code "itp",
        :collector-number "7",
        :name "Reverse Damage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/15d8f518-0f75-4695-a106-9151860f7b92.png?1559593483",
        :type-line "Instant",
        :oracle-text
        "The next time a source of your choice would deal damage to you this turn, prevent that damage. You gain life equal to the damage prevented this way."}
 #:card{:code "itp",
        :collector-number "8",
        :name "Energy Flux",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a3eedb24-93d1-4526-a94f-1afe90bb3312.png?1559593470",
        :type-line "Enchantment",
        :oracle-text
        "All artifacts have \"At the beginning of your upkeep, sacrifice this artifact unless you pay {2}.\""}
 #:card{:code "itp",
        :collector-number "9",
        :name "Feedback",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d678d5a0-824e-4531-93cd-34046b4e87ef.png?1559593509",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant enchantment\nAt the beginning of the upkeep of enchanted enchantment's controller, Feedback deals 1 damage to that player."}
 #:card{:code "itp",
        :collector-number "10",
        :name "Merfolk of the Pearl Trident",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/d/1d159f1a-8493-4b4b-be30-3440dc27572a.png?1559593526",
        :type-line "Creature — Merfolk",
        :oracle-text ""}
 #:card{:code "itp",
        :collector-number "11",
        :name "Phantom Monster",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/030b4c32-ffe1-4090-a23a-fd56d201c779.png?1559593520",
        :type-line "Creature — Illusion",
        :oracle-text "Flying"}
 #:card{:code "itp",
        :collector-number "12",
        :name "Power Sink",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/1/31608be6-d233-4d34-9b67-ba3c3fcc7b43.png?1559593469",
        :type-line "Instant",
        :oracle-text
        "Counter target spell unless its controller pays {X}. If that player doesn't, they tap all lands with mana abilities they control and lose all unspent mana."}
 #:card{:code "itp",
        :collector-number "13",
        :name "Twiddle",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7dc7b805-5cc2-46fc-89d1-14bbd69f26ed.png?1559593477",
        :type-line "Instant",
        :oracle-text
        "You may tap or untap target artifact, creature, or land."}
 #:card{:code "itp",
        :collector-number "14",
        :name "Unsummon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/550313e1-f8aa-4c31-a78c-3da2d8aada6f.png?1559593531",
        :type-line "Instant",
        :oracle-text "Return target creature to its owner's hand."}
 #:card{:code "itp",
        :collector-number "15",
        :name "Zephyr Falcon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cd8f050d-e71e-408c-b670-184ceca65a94.png?1559593475",
        :type-line "Creature — Bird",
        :oracle-text "Flying, vigilance"}
 #:card{:code "itp",
        :collector-number "16",
        :name "Bog Imp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/6/b6e6108c-e70d-4498-8c79-929a0ff404a0.png?1559593529",
        :type-line "Creature — Imp",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)"}
 #:card{:code "itp",
        :collector-number "17",
        :name "Bog Wraith",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9e92c6d1-ca50-467b-91b4-939911f60a41.png?1559592730",
        :type-line "Creature — Wraith",
        :oracle-text
        "Swampwalk (This creature can't be blocked as long as defending player controls a Swamp.)"}
 #:card{:code "itp",
        :collector-number "18",
        :name "Cursed Land",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c90d888d-326d-4df3-8ccf-2df444a0eb49.png?1559593474",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant land\nAt the beginning of the upkeep of enchanted land's controller, Cursed Land deals 1 damage to that player."}
 #:card{:code "itp",
        :collector-number "19",
        :name "Dark Ritual",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/36f1a097-eddc-4c4b-9b10-710a5a44a66f.png?1559593538",
        :type-line "Instant",
        :oracle-text "Add {B}{B}{B}."}
 #:card{:code "itp",
        :collector-number "20",
        :name "Lost Soul",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/302a47d1-cd1e-4e92-b858-c36e698efea3.png?1613677417",
        :type-line "Creature — Spirit Minion",
        :oracle-text
        "Swampwalk (This creature can't be blocked as long as defending player controls a Swamp.)"}
 #:card{:code "itp",
        :collector-number "21",
        :name "Murk Dwellers",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/39a50727-af84-49aa-b49e-67f168045de7.png?1559593540",
        :type-line "Creature — Zombie",
        :oracle-text
        "Whenever Murk Dwellers attacks and isn't blocked, it gets +2/+0 until end of combat."}
 #:card{:code "itp",
        :collector-number "22",
        :name "Raise Dead",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/7/e7ea94e1-f85c-48b7-901f-328e7e5db18e.png?1559593464",
        :type-line "Sorcery",
        :oracle-text
        "Return target creature card from your graveyard to your hand."}
 #:card{:code "itp",
        :collector-number "23",
        :name "Scathe Zombies",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a3701155-23f0-49f0-9ea5-b3f720d3cca4.png?1587914610",
        :type-line "Creature — Zombie",
        :oracle-text ""}
 #:card{:code "itp",
        :collector-number "24",
        :name "Sorceress Queen",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/05f073db-2268-4b4f-8a5a-2604d2904292.png?1559593506",
        :type-line "Creature — Human Wizard",
        :oracle-text
        "{T}: Target creature other than Sorceress Queen has base power and toughness 0/2 until end of turn."}
 #:card{:code "itp",
        :collector-number "25",
        :name "Terror",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/8/7874e210-3946-4592-94a2-64fef2422cd6.png?1559593387",
        :type-line "Instant",
        :oracle-text
        "Destroy target nonartifact, nonblack creature. It can't be regenerated."}
 #:card{:code "itp",
        :collector-number "26",
        :name "Vampire Bats",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/0/f0b953b2-cee1-42ee-86b2-11a92b1f8ff5.png?1559593524",
        :type-line "Creature — Bat",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\n{B}: Vampire Bats gets +1/+0 until end of turn. Activate no more than twice each turn."}
 #:card{:code "itp",
        :collector-number "27",
        :name "Wall of Bone",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8ded4ee8-d6d3-41d1-b439-03427091d217.png?1559593510",
        :type-line "Creature — Skeleton Wall",
        :oracle-text
        "Defender (This creature can't attack.)\n{B}: Regenerate Wall of Bone. (The next time this creature would be destroyed this turn, it isn't. Instead tap it, remove all damage from it, and remove it from combat.)"}
 #:card{:code "itp",
        :collector-number "28",
        :name "Warp Artifact",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b9e76d7f-d8ba-4f14-a248-7806845d490d.png?1559593472",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant artifact\nAt the beginning of the upkeep of enchanted artifact's controller, Warp Artifact deals 1 damage to that player."}
 #:card{:code "itp",
        :collector-number "29",
        :name "Weakness",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d451e8d5-865b-42df-bfa5-7f634d3095d0.png?1559593478",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets -2/-1."}
 #:card{:code "itp",
        :collector-number "30",
        :name "Detonate",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c40a82db-203c-4193-aec8-5889dc55a721.png?1559593496",
        :type-line "Sorcery",
        :oracle-text
        "Destroy target artifact with mana value X. It can't be regenerated. Detonate deals X damage to that artifact's controller."}
 #:card{:code "itp",
        :collector-number "31",
        :name "Disintegrate",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/be184c66-b89f-41a0-8e9f-5cc2e85056d1.png?1559593523",
        :type-line "Sorcery",
        :oracle-text
        "Disintegrate deals X damage to any target. If it's a creature, it can't be regenerated this turn, and if it would die this turn, exile it instead."}
 #:card{:code "itp",
        :collector-number "32",
        :name "Fireball",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7dc76703-7934-4817-92e8-8aee3e69266d.png?1559593518",
        :type-line "Sorcery",
        :oracle-text
        "This spell costs {1} more to cast for each target beyond the first.\nFireball deals X damage divided evenly, rounded down, among any number of targets."}
 #:card{:code "itp",
        :collector-number "33",
        :name "Hill Giant",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fe6bd4a4-3d30-44a2-971b-838ae28f13c8.png?1559593517",
        :type-line "Creature — Giant",
        :oracle-text ""}
 #:card{:code "itp",
        :collector-number "34",
        :name "Ironclaw Orcs",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/9/295b4527-ed2d-4df1-a0fa-da9c9e3998fe.png?1559593486",
        :type-line "Creature — Orc",
        :oracle-text
        "Ironclaw Orcs can't block creatures with power 2 or greater."}
 #:card{:code "itp",
        :collector-number "35",
        :name "Mons's Goblin Raiders",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b84269fd-acc3-4a5c-b96b-84e73c4d5ddb.png?1559593480",
        :type-line "Creature — Goblin",
        :oracle-text ""}
 #:card{:code "itp",
        :collector-number "36",
        :name "Orcish Artillery",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/46028ee3-5f52-4909-a4e7-e683c69c3d48.png?1559593463",
        :type-line "Creature — Orc Warrior",
        :oracle-text
        "{T}: Orcish Artillery deals 2 damage to any target and 3 damage to you."}
 #:card{:code "itp",
        :collector-number "37",
        :name "Orcish Oriflamme",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/46cd2be0-b2ba-42ea-b39e-bbe8b3fb2ad9.png?1559593535",
        :type-line "Enchantment",
        :oracle-text "Attacking creatures you control get +1/+0."}
 #:card{:code "itp",
        :collector-number "38",
        :name "Pyrotechnics",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d6dd3f91-6651-4d32-8c9b-fa91c002ea24.png?1559593460",
        :type-line "Sorcery",
        :oracle-text
        "Pyrotechnics deals 4 damage divided as you choose among any number of targets."}
 #:card{:code "itp",
        :collector-number "39",
        :name "Durkwood Boars",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/8/18de2050-1dac-4bbe-8e75-446f72cfef7c.png?1559593505",
        :type-line "Creature — Boar",
        :oracle-text ""}
 #:card{:code "itp",
        :collector-number "40",
        :name "Elven Riders",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/a/2ae27215-936d-4add-a624-cee79a74aa96.png?1559593532",
        :type-line "Creature — Elf",
        :oracle-text
        "Elven Riders can't be blocked except by Walls and/or creatures with flying."}
 #:card{:code "itp",
        :collector-number "41",
        :name "Elvish Archers",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1f466605-0b83-418a-8714-0b5502d75761.png?1559593544",
        :type-line "Creature — Elf Archer",
        :oracle-text "First strike"}
 #:card{:code "itp",
        :collector-number "42",
        :name "Grizzly Bears",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/4/744ec0c5-b9fb-4b43-8797-6ea3ca213900.png?1559593388",
        :type-line "Creature — Bear",
        :oracle-text ""}
 #:card{:code "itp",
        :collector-number "43",
        :name "Scryb Sprites",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f38d678f-28e6-4a85-aa47-588215277eea.png?1559593487",
        :type-line "Creature — Faerie",
        :oracle-text "Flying"}
 #:card{:code "itp",
        :collector-number "44",
        :name "Untamed Wilds",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/c/8c7e6705-b564-4d12-8aeb-6afcd26972f5.png?1559593503",
        :type-line "Sorcery",
        :oracle-text
        "Search your library for a basic land card, put that card onto the battlefield, then shuffle."}
 #:card{:code "itp",
        :collector-number "45",
        :name "War Mammoth",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9e45aa94-8a4e-4f59-b282-3560ca5e9639.png?1559593419",
        :type-line "Creature — Elephant",
        :oracle-text "Trample"}
 #:card{:code "itp",
        :collector-number "46",
        :name "Whirling Dervish",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/34c6d7fe-8a79-4066-a956-14ed7cf7a54e.png?1559593507",
        :type-line "Creature — Human Monk",
        :oracle-text
        "Protection from black\nAt the beginning of each end step, if Whirling Dervish dealt damage to an opponent this turn, put a +1/+1 counter on it."}
 #:card{:code "itp",
        :collector-number "47",
        :name "Winter Blast",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/61aabd27-75fa-4cbe-a656-970103c74940.png?1559593515",
        :type-line "Sorcery",
        :oracle-text
        "Tap X target creatures. Winter Blast deals 2 damage to each of those creatures with flying."}
 #:card{:code "itp",
        :collector-number "48",
        :name "Battering Ram",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bd24f19a-50cc-482e-b6fc-141937f52640.png?1559593461",
        :type-line "Artifact Creature — Construct",
        :oracle-text
        "At the beginning of combat on your turn, Battering Ram gains banding until end of combat. (Any creatures with banding, and up to one without, can attack in a band. Bands are blocked as a group. If any creatures with banding you control are being blocked by a creature, you divide that creature's combat damage, not its controller, among any of the creatures it's blocking.)\nWhenever Battering Ram becomes blocked by a Wall, destroy that Wall at end of combat."}
 #:card{:code "itp",
        :collector-number "49",
        :name "Clockwork Beast",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7a8d6953-0112-415b-a4b0-794ed90a3da5.png?1559593541",
        :type-line "Artifact Creature — Beast",
        :oracle-text
        "Clockwork Beast enters the battlefield with seven +1/+0 counters on it.\nAt end of combat, if Clockwork Beast attacked or blocked this combat, remove a +1/+0 counter from it.\n{X}, {T}: Put up to X +1/+0 counters on Clockwork Beast. This ability can't cause the total number of +1/+0 counters on Clockwork Beast to be greater than seven. Activate only during your upkeep."}
 #:card{:code "itp",
        :collector-number "50",
        :name "Glasses of Urza",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/c/aca1da9b-41b0-47b1-b6f7-f3e2d7ea59a4.png?1559593467",
        :type-line "Artifact",
        :oracle-text "{T}: Look at target player's hand."}
 #:card{:code "itp",
        :collector-number "51",
        :name "Jayemdae Tome",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/8362d7e3-64f1-48a7-b354-9729fc314a28.png?1559593501",
        :type-line "Artifact",
        :oracle-text "{4}, {T}: Draw a card."}
 #:card{:code "itp",
        :collector-number "52",
        :name "Rod of Ruin",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/323900b4-cd41-4967-afa4-3a9540695c0c.png?1559593500",
        :type-line "Artifact",
        :oracle-text
        "{3}, {T}: Rod of Ruin deals 1 damage to any target."}
 #:card{:code "itp",
        :collector-number "53",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/eda3cd1c-bf04-4fdd-a663-611255bb56da.png?1559593398",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "itp",
        :collector-number "54",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/4/042740b1-44c5-4db7-ac14-c4234a06f167.png?1559593498",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "itp",
        :collector-number "55",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/9919afe3-b65e-4ec6-8a4f-9adbe5682ac7.png?1559593396",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "itp",
        :collector-number "56",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a76c45ce-2c76-4351-8e84-f3c2f07dcdd9.png?1559593546",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "itp",
        :collector-number "57",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/4/44178108-9c6e-4095-b248-089c826f9e18.png?1559593413",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "itp",
        :collector-number "58",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/b/1b42446b-379e-4952-ab41-8fffeff7d14b.png?1559593537",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "itp",
        :collector-number "59",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/d/2d534484-6ed0-4b8e-8410-f8861fd8b5a9.png?1559593390",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "itp",
        :collector-number "60",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7bfc4649-734d-4140-821c-bfff56c5decf.png?1559593400",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "itp",
        :collector-number "61",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/026cdd68-9a0e-4261-9390-e8abbcd378ba.png?1559593490",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "itp",
        :collector-number "62",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a9c7581-ecda-4a6a-a165-7cba634496c2.png?1559593485",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "itp",
        :collector-number "63",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7c7fb282-70b8-4df2-8f76-c034fa7fd1fd.png?1559593393",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "itp",
        :collector-number "64",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f7a2af07-ef48-4492-bd2e-53320a26a89a.png?1559593392",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "itp",
        :collector-number "65",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0c615315-f140-4a6b-b2ea-7c0adda1bab9.png?1559593481",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "itp",
        :collector-number "66",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fb86d594-f6cf-4644-a304-8f56a3c82cbe.png?1559593395",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "itp",
        :collector-number "67",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f9f4448e-076b-4add-828f-6f218bef8a93.png?1559593411",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"})
