(#:card{:code "j12",
        :collector-number "1",
        :name "Xiahou Dun, the One-Eyed",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/387e7f85-cdd0-42ad-9205-1932fa0c8230.png?1561756926",
        :type-line "Legendary Creature — Human Soldier",
        :oracle-text
        "Horsemanship (This creature can't be blocked except by creatures with horsemanship.)\nSacrifice Xiahou Dun, the One-Eyed: Return target black card from your graveyard to your hand. Activate only during your turn, before attackers are declared."}
 #:card{:code "j12",
        :collector-number "2",
        :name "Flusterstorm",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/3/7393a74a-5bf4-468f-a40e-3ad1b99bb701.png?1561757402",
        :type-line "Instant",
        :oracle-text
        "Counter target instant or sorcery spell unless its controller pays {1}.\nStorm (When you cast this spell, copy it for each spell cast before it this turn. You may choose new targets for the copies.)"}
 #:card{:code "j12",
        :collector-number "3",
        :name "Noble Hierarch",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/02b642ff-eb7d-4c10-9d5b-477af2e52e59.png?1561756581",
        :type-line "Creature — Human Druid",
        :oracle-text
        "Exalted (Whenever a creature you control attacks alone, that creature gets +1/+1 until end of turn.)\n{T}: Add {G}, {W}, or {U}."}
 #:card{:code "j12",
        :collector-number "4",
        :name "Karmic Guide",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/7/9743a8f4-8eea-49c1-b533-b2aa40152260.png?1561757629",
        :type-line "Creature — Angel Spirit",
        :oracle-text
        "Flying, protection from black\nEcho {3}{W}{W} (At the beginning of your upkeep, if this came under your control since the beginning of your last upkeep, sacrifice it unless you pay its echo cost.)\nWhen Karmic Guide enters the battlefield, return target creature card from your graveyard to the battlefield."}
 #:card{:code "j12",
        :collector-number "5",
        :name "Sneak Attack",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/f/6ff4de87-f871-4edc-9abb-b91053195bac.png?1561757380",
        :type-line "Enchantment",
        :oracle-text
        "{R}: You may put a creature card from your hand onto the battlefield. That creature gains haste. Sacrifice the creature at the beginning of the next end step."}
 #:card{:code "j12",
        :collector-number "6",
        :name "Karakas",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/a/da940567-0585-45c5-89b4-fbdaf39192ec.png?1561758203",
        :type-line "Legendary Land",
        :oracle-text
        "{T}: Add {W}.\n{T}: Return target legendary creature to its owner's hand."}
 #:card{:code "j12",
        :collector-number "7",
        :name "Sword of Light and Shadow",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/2/d22437d0-b6e1-4175-b4bb-c2d67141ac84.png?1561758131",
        :type-line "Artifact — Equipment",
        :oracle-text
        "Equipped creature gets +2/+2 and has protection from white and from black.\nWhenever equipped creature deals combat damage to a player, you gain 3 life and you may return up to one target creature card from your graveyard to your hand.\nEquip {2}"}
 #:card{:code "j12",
        :collector-number "8",
        :name "Command Tower",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a10140e7-90a2-49fa-b47e-61214e35f9b8.png?1561757725",
        :type-line "Land",
        :oracle-text
        "{T}: Add one mana of any color in your commander's color identity."}
 #:card{:code "j12",
        :collector-number "9",
        :name "Centaur",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f27302e5-70eb-4c7a-a758-f37a6af98e12.png?1561758417",
        :type-line "Token Creature — Centaur",
        :oracle-text ""})
