(#:card{:code "j13",
        :collector-number "1",
        :name "Swords to Plowshares",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e136f064-459a-49b1-a501-9b935db11e35.png?1561758280",
        :type-line "Instant",
        :oracle-text
        "Exile target creature. Its controller gains life equal to its power."}
 #:card{:code "j13",
        :collector-number "2",
        :name "Bribery",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/99c7c1d0-dc6b-413f-8346-54728a4c7b14.png?1561757653",
        :type-line "Sorcery",
        :oracle-text
        "Search target opponent's library for a creature card and put that card onto the battlefield under your control. Then that player shuffles."}
 #:card{:code "j13",
        :collector-number "3",
        :name "Imperial Recruiter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cd9f5e37-693a-4cba-9758-b003777d5583.png?1561758100",
        :type-line "Creature — Human Advisor",
        :oracle-text
        "When Imperial Recruiter enters the battlefield, search your library for a creature card with power 2 or less, reveal it, put it into your hand, then shuffle."}
 #:card{:code "j13",
        :collector-number "4",
        :name "Crucible of Worlds",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5d7ef391-60d7-41cd-b3fe-d1ce250e807a.png?1561757252",
        :type-line "Artifact",
        :oracle-text "You may play lands from your graveyard."}
 #:card{:code "j13",
        :collector-number "5",
        :name "Genesis",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/03afc329-0e61-47f6-9750-25df24ae0b4d.png?1561756583",
        :type-line "Creature — Incarnation",
        :oracle-text
        "At the beginning of your upkeep, if Genesis is in your graveyard, you may pay {2}{G}. If you do, return target creature card from your graveyard to your hand."}
 #:card{:code "j13",
        :collector-number "6",
        :name "Overwhelming Forces",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/6/a69cba3a-e5a1-4539-a084-adefce507db1.png?1561757768",
        :type-line "Sorcery",
        :oracle-text
        "Destroy all creatures target opponent controls. Draw a card for each creature destroyed this way."}
 #:card{:code "j13",
        :collector-number "7",
        :name "Vindicate",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/f/6fef34ec-f728-4919-9254-576ed889a654.png?1561757378",
        :type-line "Sorcery",
        :oracle-text "Destroy target permanent."}
 #:card{:code "j13",
        :collector-number "8",
        :name "Show and Tell",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c3e3c77-e6a6-4814-a2f5-0ae2d06e4b31.png?1561757670",
        :type-line "Sorcery",
        :oracle-text
        "Each player may put an artifact, creature, enchantment, or land card from their hand onto the battlefield."}
 #:card{:code "j13",
        :collector-number "9",
        :name "Golem",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1fb69a6d-b02d-46f1-af7b-cfd8a2363ed2.png?1561756768",
        :type-line "Token Enchantment Artifact Creature — Golem",
        :oracle-text ""})
