(#:card{:type-line "Legendary Creature — Centaur Spirit",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/02fccffa-a83b-4ca9-897b-474e333c90f1.png?1562258017",
        :collector-number "1",
        :layout "normal",
        :name "Karador, Ghost Chieftain",
        :oracle-text
        "This spell costs {1} less to cast for each creature card in your graveyard.\nDuring each of your turns, you may cast a creature spell from your graveyard."}
 #:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/99577b28-4bfc-4192-bb23-c1f73666295e.png?1562258463",
        :collector-number "1★",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/96bd83fe-ae97-4c5c-9e1e-3c48f624b24b.png?1562258461",
        :collector-number "2",
        :layout "normal",
        :name "Greater Good",
        :oracle-text
        "Sacrifice a creature: Draw cards equal to the sacrificed creature's power, then discard three cards."}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/4/644791df-ac34-45c7-90c1-0ebd9e519840.png?1562258456",
        :collector-number "2★",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Legendary Creature — Human Wizard",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/e/8e03bb1f-7324-4283-8ee2-799c7b7448c3.png?1562258458",
        :collector-number "3",
        :layout "normal",
        :name "Riku of Two Reflections",
        :oracle-text
        "Whenever you cast an instant or sorcery spell, you may pay {U}{R}. If you do, copy that spell. You may choose new targets for the copy.\nWhenever another nontoken creature enters the battlefield under your control, you may pay {G}{U}. If you do, create a token that's a copy of that creature."}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/0/90bc54df-b5a0-43fd-b3e6-3ba3d295d25c.png?1562258460",
        :collector-number "3★",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/53ed5673-728f-4da3-ad18-3bd72032e815.png?1562258455",
        :collector-number "4",
        :layout "normal",
        :name "Force of Will",
        :oracle-text
        "You may pay 1 life and exile a blue card from your hand rather than pay this spell's mana cost.\nCounter target spell."}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af06d83f-1c5a-4eb6-92b4-216acfe20641.png?1562258468",
        :collector-number "4★",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Legendary Creature — Human Artificer",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e34e53fc-0c11-4594-b4ca-eaac663040ae.png?1562258470",
        :collector-number "5",
        :layout "normal",
        :name "Hanna, Ship's Navigator",
        :oracle-text
        "{1}{W}{U}, {T}: Return target artifact or enchantment card from your graveyard to your hand."}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/c/ac2c51de-2ec9-4a38-a117-75e90abf0feb.png?1562258467",
        :collector-number "5★",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0d239414-fd5a-4e7a-9f53-79fb38e46435.png?1562258453",
        :collector-number "6",
        :layout "normal",
        :name "Sword of Feast and Famine",
        :oracle-text
        "Equipped creature gets +2/+2 and has protection from black and from green.\nWhenever equipped creature deals combat damage to a player, that player discards a card and you untap all lands you control.\nEquip {2}"}
 #:card{:type-line "Legendary Creature — Zombie Wizard",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9ee77c7b-0db9-4281-85d6-fe91f3db47ea.png?1562258466",
        :collector-number "7",
        :layout "normal",
        :name "Nekusar, the Mindrazer",
        :oracle-text
        "At the beginning of each player's draw step, that player draws an additional card.\nWhenever an opponent draws a card, Nekusar, the Mindrazer deals 1 damage to that player."}
 #:card{:type-line "Legendary Creature — Phyrexian Praetor",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f7a4a5cd-96f6-40ce-a7ab-5e1d0e3b4379.png?1608664832",
        :collector-number "8",
        :layout "normal",
        :name "Elesh Norn, Grand Cenobite",
        :oracle-text
        "Vigilance\nOther creatures you control get +2/+2.\nCreatures your opponents control get -2/-2."}
 #:card{:type-line "Legendary Creature — Giant Soldier",
        :layout-category :normal,
        :code "j14",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c4114ea-137f-4710-8ee8-69ab445b6918.png?1562258464",
        :collector-number "9",
        :layout "normal",
        :name "Oloro, Ageless Ascetic",
        :oracle-text
        "At the beginning of your upkeep, you gain 2 life.\nWhenever you gain life, you may pay {1}. If you do, draw a card and each opponent loses 1 life.\nAt the beginning of your upkeep, if Oloro, Ageless Ascetic is in the command zone, you gain 2 life."})
