(#:card{:code "j16",
        :collector-number "1",
        :name "Stoneforge Mystic",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e09165df-55bb-4a61-b8b7-c01430602938.png?1613245983",
        :type-line "Creature — Kor Artificer",
        :oracle-text
        "When Stoneforge Mystic enters the battlefield, you may search your library for an Equipment card, reveal it, put it into your hand, then shuffle.\n{1}{W}, {T}: You may put an Equipment card from your hand onto the battlefield."}
 #:card{:code "j16",
        :collector-number "2",
        :name "Mana Drain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/c/8c6b2642-4d17-4c0b-a3c3-b29d5ffdfbf8.png?1561757543",
        :type-line "Instant",
        :oracle-text
        "Counter target spell. At the beginning of your next main phase, add an amount of {C} equal to that spell's mana value."}
 #:card{:code "j16",
        :collector-number "3",
        :name "Azusa, Lost but Seeking",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e534731d-2bc0-4af7-8143-96cc4b2d6438.png?1561758334",
        :type-line "Legendary Creature — Human Monk",
        :oracle-text
        "You may play two additional lands on each of your turns."}
 #:card{:code "j16",
        :collector-number "4",
        :name "Command Beacon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a46f073a-2d2a-46bc-b941-7f05f80b6736.png?1561757744",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}.\n{T}, Sacrifice Command Beacon: Put your commander into your hand from the command zone."}
 #:card{:code "j16",
        :collector-number "5",
        :name "Mystic Confluence",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fda21404-b683-4aed-b606-cb4241e42c9b.png?1561758490",
        :type-line "Instant",
        :oracle-text
        "Choose three. You may choose the same mode more than once.\n• Counter target spell unless its controller pays {3}.\n• Return target creature to its owner's hand.\n• Draw a card."}
 #:card{:code "j16",
        :collector-number "6",
        :name "Imperial Seal",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5ab21006-7f61-49e0-8b6a-0397c5d4c3bd.png?1561757210",
        :type-line "Sorcery",
        :oracle-text
        "Search your library for a card, then shuffle and put that card on top. You lose 2 life."}
 #:card{:code "j16",
        :collector-number "7",
        :name "Defense of the Heart",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c981e33-669e-4c1b-920f-8d4b2fb00bb9.png?1594433724",
        :type-line "Enchantment",
        :oracle-text
        "At the beginning of your upkeep, if an opponent controls three or more creatures, sacrifice Defense of the Heart, search your library for up to two creature cards, put those cards onto the battlefield, then shuffle."}
 #:card{:code "j16",
        :collector-number "8",
        :name "Zur the Enchanter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/d/1dd33e67-3bf5-41cf-a552-1db6a28b8561.png?1561756760",
        :type-line "Legendary Creature — Human Wizard",
        :oracle-text
        "Flying\nWhenever Zur the Enchanter attacks, you may search your library for an enchantment card with mana value 3 or less, put it onto the battlefield, then shuffle."})
