(#:card{:type-line "Legendary Creature — Angel",
        :layout-category :normal,
        :code "j17",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d4cd810d-9697-480f-bdb1-8729966a6449.png?1561758144",
        :collector-number "1",
        :layout "normal",
        :name "Avacyn, Angel of Hope",
        :oracle-text
        "Flying, vigilance, indestructible\nOther permanents you control have indestructible."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "j17",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f639b8b9-0439-407c-9ed6-764ba96aec4e.png?1561758444",
        :collector-number "2",
        :layout "normal",
        :name "Capture of Jingzhou",
        :oracle-text "Take an extra turn after this one."}
 #:card{:type-line "Legendary Creature — Kithkin Advisor",
        :layout-category :normal,
        :code "j17",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/96759d4f-8965-45d4-946d-33dbb998d003.png?1561757620",
        :collector-number "3",
        :layout "normal",
        :name "Gaddock Teeg",
        :oracle-text
        "Noncreature spells with mana value 4 or greater can't be cast.\nNoncreature spells with {X} in their mana costs can't be cast."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "j17",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2e14a24d-e31b-4e25-b004-5812f33a0d97.png?1561756846",
        :collector-number "4",
        :layout "normal",
        :name "Homeward Path",
        :oracle-text
        "{T}: Add {C}.\n{T}: Each player gains control of all creatures they own."}
 #:card{:type-line "Legendary Creature — Treefolk Shaman",
        :layout-category :normal,
        :code "j17",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e9e032a9-40fa-45b8-be3d-f2fc8a38e0e6.png?1561758366",
        :collector-number "5",
        :layout "normal",
        :name "Doran, the Siege Tower",
        :oracle-text
        "Each creature assigns combat damage equal to its toughness rather than its power."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "j17",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/28117e89-8803-4bac-aa44-cb11988e4b8d.png?1561756811",
        :collector-number "6",
        :layout "normal",
        :name "Prismatic Geoscope",
        :oracle-text
        "Prismatic Geoscope enters the battlefield tapped.\nDomain — {T}: Add X mana in any combination of colors, where X is the number of basic land types among lands you control."}
 #:card{:type-line "Artifact Creature — Phyrexian Horror",
        :layout-category :normal,
        :code "j17",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/ed085430-d12e-43e0-a374-53215fcdf151.png?1561758377",
        :collector-number "7",
        :layout "normal",
        :name "Spellskite",
        :oracle-text
        "{U/P}: Change a target of target spell or ability to Spellskite. ({U/P} can be paid with either {U} or 2 life.)"}
 #:card{:type-line "Legendary Land",
        :layout-category :normal,
        :code "j17",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3ec5d646-ce1e-4723-b7ba-b83beda8e4d5.png?1561756971",
        :collector-number "8",
        :layout "normal",
        :name "Pendelhaven",
        :oracle-text
        "{T}: Add {G}.\n{T}: Target 1/1 creature gets +1/+2 until end of turn."}
 #:card{:type-line "Artifact Creature — Cyborg Advisor",
        :layout-category :normal,
        :code "j17",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/3/332adbfa-f786-4685-9c31-968454e9f947.png?1574304716",
        :collector-number "9",
        :layout "normal",
        :name "Rules Lawyer",
        :oracle-text
        "State-based actions don't apply to you or other permanents you control. (You don't lose the game due to having 0 or less life or drawing from an empty library. Your creatures aren't destroyed due to damage or deathtouch and aren't put into a graveyard due to having 0 or less toughness. Your planeswalkers aren't put into a graveyard if they have 0 loyalty. You don't put a legendary permanent into a graveyard if you control two with the same name. Counters aren't removed from your permanents due to game rules. Permanents you control attached or combined illegally remain on the battlefield. For complete rules and regulations, see rule 704.)"})
