(#:card{:code "j19",
        :collector-number "1",
        :name "Mirri's Guile",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/91b89b1a-56a2-4479-a58a-ebc0843c9e83.png?1564112147",
        :type-line "Enchantment",
        :oracle-text
        "At the beginning of your upkeep, you may look at the top three cards of your library, then put them back in any order."}
 #:card{:code "j19",
        :collector-number "2",
        :name "Sliver Legion",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/3511ae86-9c49-4628-b61b-f25466b1b1d2.png?1595443582",
        :type-line "Legendary Creature — Sliver",
        :oracle-text
        "All Sliver creatures get +1/+1 for each other Sliver on the battlefield."}
 #:card{:code "j19",
        :collector-number "3",
        :name "Mox Opal",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/3722deaf-de7b-4e49-b93b-b790fb598337.png?1582572545",
        :type-line "Legendary Artifact",
        :oracle-text
        "Metalcraft — {T}: Add one mana of any color. Activate only if you control three or more artifacts."}
 #:card{:code "j19",
        :collector-number "4",
        :name "Isolated Watchtower",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6e9d3aef-9c9d-4317-a6ea-6777a5e087c5.png?1595443590",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}.\n{2}, {T}: Scry 1, then you may reveal the top card of your library. If a basic land card is revealed this way, put it onto the battlefield tapped. Activate only if an opponent controls at least two more lands than you."}
 #:card{:code "j19",
        :collector-number "5",
        :name "Monastery Mentor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/402c9387-f74f-4ec0-8745-05e07c1966a9.png?1595443598",
        :type-line "Creature — Human Monk",
        :oracle-text
        "Prowess (Whenever you cast a noncreature spell, this creature gets +1/+1 until end of turn.)\nWhenever you cast a noncreature spell, create a 1/1 white Monk creature token with prowess."}
 #:card{:code "j19",
        :collector-number "6",
        :name "Yuriko, the Tiger's Shadow",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/5/852508f9-90ea-4889-a4a8-31b28dd3fdab.png?1595443606",
        :type-line "Legendary Creature — Human Ninja",
        :oracle-text
        "Commander ninjutsu {U}{B} ({U}{B}, Return an unblocked attacker you control to hand: Put this card onto the battlefield from your hand or the command zone tapped and attacking.)\nWhenever a Ninja you control deals combat damage to a player, reveal the top card of your library and put that card into your hand. Each opponent loses life equal to that card's mana value."}
 #:card{:code "j19",
        :collector-number "7",
        :name "Chalice of the Void",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b5ddfe44-a645-49ec-be86-21be21fe2bdb.png?1595443613",
        :type-line "Artifact",
        :oracle-text
        "Chalice of the Void enters the battlefield with X charge counters on it.\nWhenever a player casts a spell with mana value equal to the number of charge counters on Chalice of the Void, counter that spell."}
 #:card{:code "j19",
        :collector-number "8",
        :name "Reflecting Pool",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6bf8da87-7b1a-476a-8696-5939a8cc6790.png?1574463618",
        :type-line "Land",
        :oracle-text
        "{T}: Add one mana of any type that a land you control could produce."})
