(#:card{:code "j20",
        :collector-number "1",
        :name "Arena Rector",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/c/acabfe00-5224-485e-a6eb-c4b9fdf690f8.png?1592711925",
        :type-line "Creature — Human Cleric",
        :oracle-text
        "When Arena Rector dies, you may exile it. If you do, search your library for a planeswalker card, put it onto the battlefield, then shuffle."}
 #:card{:code "j20",
        :collector-number "2",
        :name "Enlightened Tutor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e940fd9f-f1f5-455e-b141-b70dde6cb89d.png?1592711941",
        :type-line "Instant",
        :oracle-text
        "Search your library for an artifact or enchantment card, reveal it, then shuffle and put that card on top."}
 #:card{:code "j20",
        :collector-number "3",
        :name "Spellseeker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/c/5cda8633-2661-4fa7-81b0-3ae535619a3c.png?1592711956",
        :type-line "Creature — Human Wizard",
        :oracle-text
        "When Spellseeker enters the battlefield, you may search your library for an instant or sorcery card with mana value 2 or less, reveal it, put it into your hand, then shuffle."}
 #:card{:code "j20",
        :collector-number "4",
        :name "Demonic Tutor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fdbe0cf7-38e2-4b2e-8fcb-c08f160caf19.png?1592711975",
        :type-line "Sorcery",
        :oracle-text
        "Search your library for a card, put that card into your hand, then shuffle."}
 #:card{:code "j20",
        :collector-number "5",
        :name "Infernal Tutor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/531ad3ed-0657-4203-affd-33915ba363ac.png?1596773618",
        :type-line "Sorcery",
        :oracle-text
        "Reveal a card from your hand. Search your library for a card with the same name as that card, reveal it, put it into your hand, then shuffle.\nHellbent — If you have no cards in hand, instead search your library for a card, put it into your hand, then shuffle."}
 #:card{:code "j20",
        :collector-number "6",
        :name "Gamble",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fa613b38-988c-48b5-99a0-5a11acfc76e4.png?1592712009",
        :type-line "Sorcery",
        :oracle-text
        "Search your library for a card, put that card into your hand, discard a card at random, then shuffle."}
 #:card{:code "j20",
        :collector-number "7",
        :name "Birthing Pod",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/96d8b133-6431-4dd8-bb41-60f0e2cb67d6.png?1598287025",
        :type-line "Artifact",
        :oracle-text
        "({G/P} can be paid with either {G} or 2 life.)\n{1}{G/P}, {T}, Sacrifice a creature: Search your library for a creature card with mana value equal to 1 plus the sacrificed creature's mana value, put that card onto the battlefield, then shuffle. Activate only as a sorcery."}
 #:card{:code "j20",
        :collector-number "8",
        :name "Sylvan Tutor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/011a086d-f832-4e07-939b-cb453425dda8.png?1592712036",
        :type-line "Sorcery",
        :oracle-text
        "Search your library for a creature card, reveal it, then shuffle and put that card on top."}
 #:card{:code "j20",
        :collector-number "9",
        :name "Sterling Grove",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3bd56d8b-fcb9-42fb-b2fd-65b7fa852378.png?1596773258",
        :type-line "Enchantment",
        :oracle-text
        "Other enchantments you control have shroud. (They can't be the targets of spells or abilities.)\n{1}, Sacrifice Sterling Grove: Search your library for an enchantment card, reveal it, then shuffle and put that card on top."}
 #:card{:code "j20",
        :collector-number "10",
        :name "Eye of Ugin",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/927596bc-4c9f-404a-97f2-89db53826f6b.png?1596772939",
        :type-line "Legendary Land",
        :oracle-text
        "Colorless Eldrazi spells you cast cost {2} less to cast.\n{7}, {T}: Search your library for a colorless creature card, reveal it, put it into your hand, then shuffle."})
