(#:card{:code "l13",
        :collector-number "1",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d651b974-24f2-4c5d-a3bc-94b802b3b90c.png?1561758154",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "l13",
        :collector-number "2",
        :name "Bird",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3fb27481-e7c8-43e3-a1f1-06dcffb70154.png?1561756986",
        :type-line "Token Creature — Bird",
        :oracle-text "Flying"}
 #:card{:code "l13",
        :collector-number "3",
        :name "Sliver",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/50c4f43e-ed03-43de-8ff1-2d4431c1684a.png?1561757126",
        :type-line "Token Creature — Sliver",
        :oracle-text ""}
 #:card{:code "l13",
        :collector-number "4",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75e49715-e5b6-475d-ab50-ddc5ff729c11.png?1561757424",
        :type-line "Token Creature — Soldier",
        :oracle-text ""})
