(#:card{:type-line "Token Creature — Monk",
        :layout-category :normal,
        :code "l15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e498e42-f55c-4afa-b2e2-02345f91cdb5.png?1561756357",
        :collector-number "1",
        :layout "token",
        :name "Monk",
        :oracle-text "Prowess"})
