(#:card{:code "l16",
        :collector-number "5",
        :name "Servo // Thopter",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/4/e/4e3690fa-627e-4b3b-b517-e2cd1b4bbdd0.png?1561756364",
          :type-line "Token Artifact Creature — Servo",
          :oracle-text ""}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/4/e/4e3690fa-627e-4b3b-b517-e2cd1b4bbdd0.png?1561756364",
          :type-line "Token Artifact Creature — Thopter",
          :oracle-text "Flying"}]})
