(#:card{:collector-number "1", :name "Animate Wall"}
 #:card{:collector-number "2", :name "Armageddon"}
 #:card{:collector-number "3", :name "Balance"}
 #:card{:collector-number "4", :name "Benalish Hero"}
 #:card{:collector-number "5", :name "Black Ward"}
 #:card{:collector-number "6", :name "Blaze of Glory"}
 #:card{:collector-number "7", :name "Blessing"}
 #:card{:collector-number "8", :name "Blue Ward"}
 #:card{:collector-number "9", :name "Castle"}
 #:card{:collector-number "10", :name "Circle of Protection: Black"}
 #:card{:collector-number "11", :name "Circle of Protection: Blue"}
 #:card{:collector-number "12", :name "Circle of Protection: Green"}
 #:card{:collector-number "13", :name "Circle of Protection: Red"}
 #:card{:collector-number "14", :name "Circle of Protection: White"}
 #:card{:collector-number "15", :name "Consecrate Land"}
 #:card{:collector-number "16", :name "Conversion"}
 #:card{:collector-number "17", :name "Crusade"}
 #:card{:collector-number "18", :name "Death Ward"}
 #:card{:collector-number "19", :name "Disenchant"}
 #:card{:collector-number "20", :name "Farmstead"}
 #:card{:collector-number "21", :name "Green Ward"}
 #:card{:collector-number "22", :name "Guardian Angel"}
 #:card{:collector-number "23", :name "Healing Salve"}
 #:card{:collector-number "24", :name "Holy Armor"}
 #:card{:collector-number "25", :name "Holy Strength"}
 #:card{:collector-number "26", :name "Island Sanctuary"}
 #:card{:collector-number "27", :name "Karma"}
 #:card{:collector-number "28", :name "Lance"}
 #:card{:collector-number "29", :name "Mesa Pegasus"}
 #:card{:collector-number "30", :name "Northern Paladin"}
 #:card{:collector-number "31", :name "Pearled Unicorn"}
 #:card{:collector-number "32", :name "Personal Incarnation"}
 #:card{:collector-number "33", :name "Purelace"}
 #:card{:collector-number "34", :name "Red Ward"}
 #:card{:collector-number "35", :name "Resurrection"}
 #:card{:collector-number "36", :name "Reverse Damage"}
 #:card{:collector-number "37", :name "Righteousness"}
 #:card{:collector-number "38", :name "Samite Healer"}
 #:card{:collector-number "39", :name "Savannah Lions"}
 #:card{:collector-number "40", :name "Serra Angel"}
 #:card{:collector-number "41", :name "Swords to Plowshares"}
 #:card{:collector-number "42", :name "Veteran Bodyguard"}
 #:card{:collector-number "43", :name "Wall of Swords"}
 #:card{:collector-number "44", :name "White Knight"}
 #:card{:collector-number "45", :name "White Ward"}
 #:card{:collector-number "46", :name "Wrath of God"}
 #:card{:collector-number "47", :name "Air Elemental"}
 #:card{:collector-number "48", :name "Ancestral Recall"}
 #:card{:collector-number "49", :name "Animate Artifact"}
 #:card{:collector-number "50", :name "Blue Elemental Blast"}
 #:card{:collector-number "51", :name "Braingeyser"}
 #:card{:collector-number "52", :name "Clone"}
 #:card{:collector-number "53", :name "Control Magic"}
 #:card{:collector-number "54", :name "Copy Artifact"}
 #:card{:collector-number "55", :name "Counterspell"}
 #:card{:collector-number "56", :name "Creature Bond"}
 #:card{:collector-number "57", :name "Drain Power"}
 #:card{:collector-number "58", :name "Feedback"}
 #:card{:collector-number "59", :name "Flight"}
 #:card{:collector-number "60", :name "Invisibility"}
 #:card{:collector-number "61", :name "Jump"}
 #:card{:collector-number "62", :name "Lifetap"}
 #:card{:collector-number "63", :name "Lord of Atlantis"}
 #:card{:collector-number "64", :name "Magical Hack"}
 #:card{:collector-number "65", :name "Mahamoti Djinn"}
 #:card{:collector-number "66", :name "Mana Short"}
 #:card{:collector-number "67", :name "Merfolk of the Pearl Trident"}
 #:card{:collector-number "68", :name "Phantasmal Forces"}
 #:card{:collector-number "69", :name "Phantasmal Terrain"}
 #:card{:collector-number "70", :name "Phantom Monster"}
 #:card{:collector-number "71", :name "Pirate Ship"}
 #:card{:collector-number "72", :name "Power Leak"}
 #:card{:collector-number "73", :name "Power Sink"}
 #:card{:collector-number "74", :name "Prodigal Sorcerer"}
 #:card{:collector-number "75", :name "Psionic Blast"}
 #:card{:collector-number "76", :name "Psychic Venom"}
 #:card{:collector-number "77", :name "Sea Serpent"}
 #:card{:collector-number "78", :name "Siren's Call"}
 #:card{:collector-number "79", :name "Sleight of Mind"}
 #:card{:collector-number "80", :name "Spell Blast"}
 #:card{:collector-number "81", :name "Stasis"}
 #:card{:collector-number "82", :name "Steal Artifact"}
 #:card{:collector-number "83", :name "Thoughtlace"}
 #:card{:collector-number "84", :name "Time Walk"}
 #:card{:collector-number "85", :name "Timetwister"}
 #:card{:collector-number "86", :name "Twiddle"}
 #:card{:collector-number "87", :name "Unsummon"}
 #:card{:collector-number "88", :name "Vesuvan Doppelganger"}
 #:card{:collector-number "89", :name "Volcanic Eruption"}
 #:card{:collector-number "90", :name "Wall of Air"}
 #:card{:collector-number "91", :name "Wall of Water"}
 #:card{:collector-number "92", :name "Water Elemental"}
 #:card{:collector-number "93", :name "Animate Dead"}
 #:card{:collector-number "94", :name "Bad Moon"}
 #:card{:collector-number "95", :name "Black Knight"}
 #:card{:collector-number "96", :name "Bog Wraith"}
 #:card{:collector-number "97", :name "Contract from Below"}
 #:card{:collector-number "98", :name "Cursed Land"}
 #:card{:collector-number "99", :name "Dark Ritual"}
 #:card{:collector-number "100", :name "Darkpact"}
 #:card{:collector-number "101", :name "Deathgrip"}
 #:card{:collector-number "102", :name "Deathlace"}
 #:card{:collector-number "103", :name "Demonic Attorney"}
 #:card{:collector-number "104", :name "Demonic Hordes"}
 #:card{:collector-number "105", :name "Demonic Tutor"}
 #:card{:collector-number "106", :name "Drain Life"}
 #:card{:collector-number "107", :name "Drudge Skeletons"}
 #:card{:collector-number "108", :name "Evil Presence"}
 #:card{:collector-number "109", :name "Fear"}
 #:card{:collector-number "110", :name "Frozen Shade"}
 #:card{:collector-number "111", :name "Gloom"}
 #:card{:collector-number "112", :name "Howl from Beyond"}
 #:card{:collector-number "113", :name "Hypnotic Specter"}
 #:card{:collector-number "114", :name "Lich"}
 #:card{:collector-number "115", :name "Lord of the Pit"}
 #:card{:collector-number "116", :name "Mind Twist"}
 #:card{:collector-number "117", :name "Nether Shadow"}
 #:card{:collector-number "118", :name "Nettling Imp"}
 #:card{:collector-number "119", :name "Nightmare"}
 #:card{:collector-number "120", :name "Paralyze"}
 #:card{:collector-number "121", :name "Pestilence"}
 #:card{:collector-number "122", :name "Plague Rats"}
 #:card{:collector-number "123", :name "Raise Dead"}
 #:card{:collector-number "124", :name "Royal Assassin"}
 #:card{:collector-number "125", :name "Sacrifice"}
 #:card{:collector-number "126", :name "Scathe Zombies"}
 #:card{:collector-number "127", :name "Scavenging Ghoul"}
 #:card{:collector-number "128", :name "Sengir Vampire"}
 #:card{:collector-number "129", :name "Simulacrum"}
 #:card{:collector-number "130", :name "Sinkhole"}
 #:card{:collector-number "131", :name "Terror"}
 #:card{:collector-number "132", :name "Unholy Strength"}
 #:card{:collector-number "133", :name "Wall of Bone"}
 #:card{:collector-number "134", :name "Warp Artifact"}
 #:card{:collector-number "135", :name "Weakness"}
 #:card{:collector-number "136", :name "Will-o'-the-Wisp"}
 #:card{:collector-number "137", :name "Word of Command"}
 #:card{:collector-number "138", :name "Zombie Master"}
 #:card{:collector-number "139", :name "Burrowing"}
 #:card{:collector-number "140", :name "Chaoslace"}
 #:card{:collector-number "141", :name "Disintegrate"}
 #:card{:collector-number "142", :name "Dragon Whelp"}
 #:card{:collector-number "143", :name "Dwarven Demolition Team"}
 #:card{:collector-number "144", :name "Dwarven Warriors"}
 #:card{:collector-number "145", :name "Earth Elemental"}
 #:card{:collector-number "146", :name "Earthbind"}
 #:card{:collector-number "147", :name "Earthquake"}
 #:card{:collector-number "148", :name "False Orders"}
 #:card{:collector-number "149", :name "Fire Elemental"}
 #:card{:collector-number "150", :name "Fireball"}
 #:card{:collector-number "151", :name "Firebreathing"}
 #:card{:collector-number "152", :name "Flashfires"}
 #:card{:collector-number "153", :name "Fork"}
 #:card{:collector-number "154", :name "Goblin Balloon Brigade"}
 #:card{:collector-number "155", :name "Goblin King"}
 #:card{:collector-number "156", :name "Granite Gargoyle"}
 #:card{:collector-number "157", :name "Gray Ogre"}
 #:card{:collector-number "158", :name "Hill Giant"}
 #:card{:collector-number "159", :name "Hurloon Minotaur"}
 #:card{:collector-number "160", :name "Ironclaw Orcs"}
 #:card{:collector-number "161", :name "Keldon Warlord"}
 #:card{:collector-number "162", :name "Lightning Bolt"}
 #:card{:collector-number "163", :name "Mana Flare"}
 #:card{:collector-number "164", :name "Manabarbs"}
 #:card{:collector-number "165", :name "Mons's Goblin Raiders"}
 #:card{:collector-number "166", :name "Orcish Artillery"}
 #:card{:collector-number "167", :name "Orcish Oriflamme"}
 #:card{:collector-number "168", :name "Power Surge"}
 #:card{:collector-number "169", :name "Raging River"}
 #:card{:collector-number "170", :name "Red Elemental Blast"}
 #:card{:collector-number "171", :name "Roc of Kher Ridges"}
 #:card{:collector-number "172", :name "Rock Hydra"}
 #:card{:collector-number "173", :name "Sedge Troll"}
 #:card{:collector-number "174", :name "Shatter"}
 #:card{:collector-number "175", :name "Shivan Dragon"}
 #:card{:collector-number "176", :name "Smoke"}
 #:card{:collector-number "177", :name "Stone Giant"}
 #:card{:collector-number "178", :name "Stone Rain"}
 #:card{:collector-number "179", :name "Tunnel"}
 #:card{:collector-number "180", :name "Two-Headed Giant of Foriys"}
 #:card{:collector-number "181", :name "Uthden Troll"}
 #:card{:collector-number "182", :name "Wall of Fire"}
 #:card{:collector-number "183", :name "Wall of Stone"}
 #:card{:collector-number "184", :name "Wheel of Fortune"}
 #:card{:collector-number "185", :name "Aspect of Wolf"}
 #:card{:collector-number "186", :name "Berserk"}
 #:card{:collector-number "187", :name "Birds of Paradise"}
 #:card{:collector-number "188", :name "Camouflage"}
 #:card{:collector-number "189", :name "Channel"}
 #:card{:collector-number "190", :name "Cockatrice"}
 #:card{:collector-number "191", :name "Craw Wurm"}
 #:card{:collector-number "192", :name "Elvish Archers"}
 #:card{:collector-number "193", :name "Fastbond"}
 #:card{:collector-number "194", :name "Fog"}
 #:card{:collector-number "195", :name "Force of Nature"}
 #:card{:collector-number "196", :name "Fungusaur"}
 #:card{:collector-number "197", :name "Gaea's Liege"}
 #:card{:collector-number "198", :name "Giant Growth"}
 #:card{:collector-number "199", :name "Giant Spider"}
 #:card{:collector-number "200", :name "Grizzly Bears"}
 #:card{:collector-number "201", :name "Hurricane"}
 #:card{:collector-number "202", :name "Ice Storm"}
 #:card{:collector-number "203", :name "Instill Energy"}
 #:card{:collector-number "204", :name "Ironroot Treefolk"}
 #:card{:collector-number "205", :name "Kudzu"}
 #:card{:collector-number "206", :name "Ley Druid"}
 #:card{:collector-number "207", :name "Lifeforce"}
 #:card{:collector-number "208", :name "Lifelace"}
 #:card{:collector-number "209", :name "Living Artifact"}
 #:card{:collector-number "210", :name "Living Lands"}
 #:card{:collector-number "211", :name "Llanowar Elves"}
 #:card{:collector-number "212", :name "Lure"}
 #:card{:collector-number "213", :name "Natural Selection"}
 #:card{:collector-number "214", :name "Regeneration"}
 #:card{:collector-number "215", :name "Regrowth"}
 #:card{:collector-number "216", :name "Scryb Sprites"}
 #:card{:collector-number "217", :name "Shanodin Dryads"}
 #:card{:collector-number "218", :name "Stream of Life"}
 #:card{:collector-number "219", :name "Thicket Basilisk"}
 #:card{:collector-number "220", :name "Timber Wolves"}
 #:card{:collector-number "221", :name "Tranquility"}
 #:card{:collector-number "222", :name "Tsunami"}
 #:card{:collector-number "223", :name "Verduran Enchantress"}
 #:card{:collector-number "224", :name "Wall of Brambles"}
 #:card{:collector-number "225", :name "Wall of Ice"}
 #:card{:collector-number "226", :name "Wall of Wood"}
 #:card{:collector-number "227", :name "Wanderlust"}
 #:card{:collector-number "228", :name "War Mammoth"}
 #:card{:collector-number "229", :name "Web"}
 #:card{:collector-number "230", :name "Wild Growth"}
 #:card{:collector-number "231", :name "Ankh of Mishra"}
 #:card{:collector-number "232", :name "Basalt Monolith"}
 #:card{:collector-number "233", :name "Black Lotus"}
 #:card{:collector-number "234", :name "Black Vise"}
 #:card{:collector-number "235", :name "Celestial Prism"}
 #:card{:collector-number "236", :name "Chaos Orb"}
 #:card{:collector-number "237", :name "Clockwork Beast"}
 #:card{:collector-number "238", :name "Conservator"}
 #:card{:collector-number "239", :name "Copper Tablet"}
 #:card{:collector-number "240", :name "Crystal Rod"}
 #:card{:collector-number "241", :name "Cyclopean Tomb"}
 #:card{:collector-number "242", :name "Dingus Egg"}
 #:card{:collector-number "243", :name "Disrupting Scepter"}
 #:card{:collector-number "244", :name "Forcefield"}
 #:card{:collector-number "245", :name "Gauntlet of Might"}
 #:card{:collector-number "246", :name "Glasses of Urza"}
 #:card{:collector-number "247", :name "Helm of Chatzuk"}
 #:card{:collector-number "248", :name "Howling Mine"}
 #:card{:collector-number "249", :name "Icy Manipulator"}
 #:card{:collector-number "250", :name "Illusionary Mask"}
 #:card{:collector-number "251", :name "Iron Star"}
 #:card{:collector-number "252", :name "Ivory Cup"}
 #:card{:collector-number "253", :name "Jade Monolith"}
 #:card{:collector-number "254", :name "Jade Statue"}
 #:card{:collector-number "255", :name "Jayemdae Tome"}
 #:card{:collector-number "256", :name "Juggernaut"}
 #:card{:collector-number "257", :name "Kormus Bell"}
 #:card{:collector-number "258", :name "Library of Leng"}
 #:card{:collector-number "259", :name "Living Wall"}
 #:card{:collector-number "260", :name "Mana Vault"}
 #:card{:collector-number "261", :name "Meekstone"}
 #:card{:collector-number "262", :name "Mox Emerald"}
 #:card{:collector-number "263", :name "Mox Jet"}
 #:card{:collector-number "264", :name "Mox Pearl"}
 #:card{:collector-number "265", :name "Mox Ruby"}
 #:card{:collector-number "266", :name "Mox Sapphire"}
 #:card{:collector-number "267", :name "Nevinyrral's Disk"}
 #:card{:collector-number "268", :name "Obsianus Golem"}
 #:card{:collector-number "269", :name "Rod of Ruin"}
 #:card{:collector-number "270", :name "Sol Ring"}
 #:card{:collector-number "271", :name "Soul Net"}
 #:card{:collector-number "272", :name "Sunglasses of Urza"}
 #:card{:collector-number "273", :name "The Hive"}
 #:card{:collector-number "274", :name "Throne of Bone"}
 #:card{:collector-number "275", :name "Time Vault"}
 #:card{:collector-number "276", :name "Winter Orb"}
 #:card{:collector-number "277", :name "Wooden Sphere"}
 #:card{:collector-number "278", :name "Badlands"}
 #:card{:collector-number "279", :name "Bayou"}
 #:card{:collector-number "280", :name "Plateau"}
 #:card{:collector-number "281", :name "Savannah"}
 #:card{:collector-number "282", :name "Scrubland"}
 #:card{:collector-number "283", :name "Taiga"}
 #:card{:collector-number "284", :name "Tropical Island"}
 #:card{:collector-number "285", :name "Tundra"}
 #:card{:collector-number "286", :name "Underground Sea"}
 #:card{:collector-number "287", :name "Volcanic Island"}
 #:card{:collector-number "288", :name "Plains"}
 #:card{:collector-number "289", :name "Plains"}
 #:card{:collector-number "290", :name "Plains"}
 #:card{:collector-number "291", :name "Island"}
 #:card{:collector-number "292", :name "Island"}
 #:card{:collector-number "293", :name "Island"}
 #:card{:collector-number "294", :name "Swamp"}
 #:card{:collector-number "295", :name "Swamp"}
 #:card{:collector-number "296", :name "Swamp"}
 #:card{:collector-number "297", :name "Mountain"}
 #:card{:collector-number "298", :name "Mountain"}
 #:card{:collector-number "299", :name "Mountain"}
 #:card{:collector-number "300", :name "Forest"}
 #:card{:collector-number "301", :name "Forest"}
 #:card{:collector-number "302", :name "Forest"})
