(#:card{:collector-number "1", :name "Akron Legionnaire"}
 #:card{:collector-number "2", :name "Alabaster Potion"}
 #:card{:collector-number "3", :name "Amrou Kithkin"}
 #:card{:collector-number "4", :name "Angelic Voices"}
 #:card{:collector-number "5", :name "Cleanse"}
 #:card{:collector-number "6", :name "Clergy of the Holy Nimbus"}
 #:card{:collector-number "7", :name "D'Avenant Archer"}
 #:card{:collector-number "8", :name "Divine Intervention"}
 #:card{:collector-number "9", :name "Divine Offering"}
 #:card{:collector-number "10", :name "Divine Transformation"}
 #:card{:collector-number "11", :name "Elder Land Wurm"}
 #:card{:collector-number "12", :name "Enchanted Being"}
 #:card{:collector-number "13", :name "Equinox"}
 #:card{:collector-number "14", :name "Fortified Area"}
 #:card{:collector-number "15", :name "Glyph of Life"}
 #:card{:collector-number "16", :name "Great Defender"}
 #:card{:collector-number "17", :name "Great Wall"}
 #:card{:collector-number "18", :name "Greater Realm of Preservation"}
 #:card{:collector-number "19", :name "Heaven's Gate"}
 #:card{:collector-number "20", :name "Holy Day"}
 #:card{:collector-number "21", :name "Indestructible Aura"}
 #:card{:collector-number "22", :name "Infinite Authority"}
 #:card{:collector-number "23", :name "Ivory Guardians"}
 #:card{:collector-number "24", :name "Keepers of the Faith"}
 #:card{:collector-number "25", :name "Kismet"}
 #:card{:collector-number "26", :name "Land Tax"}
 #:card{:collector-number "27", :name "Lifeblood"}
 #:card{:collector-number "28", :name "Moat"}
 #:card{:collector-number "29", :name "Osai Vultures"}
 #:card{:collector-number "30", :name "Petra Sphinx"}
 #:card{:collector-number "31", :name "Presence of the Master"}
 #:card{:collector-number "32", :name "Rapid Fire"}
 #:card{:collector-number "33", :name "Remove Enchantments"}
 #:card{:collector-number "34", :name "Righteous Avengers"}
 #:card{:collector-number "35", :name "Seeker"}
 #:card{:collector-number "36", :name "Shield Wall"}
 #:card{:collector-number "37", :name "Spirit Link"}
 #:card{:collector-number "38", :name "Spiritual Sanctuary"}
 #:card{:collector-number "39", :name "Thunder Spirit"}
 #:card{:collector-number "40", :name "Tundra Wolves"}
 #:card{:collector-number "41", :name "Visions"}
 #:card{:collector-number "42", :name "Wall of Caltrops"}
 #:card{:collector-number "43", :name "Wall of Light"}
 #:card{:collector-number "44", :name "Acid Rain"}
 #:card{:collector-number "45", :name "Anti-Magic Aura"}
 #:card{:collector-number "46", :name "Azure Drake"}
 #:card{:collector-number "47", :name "Backfire"}
 #:card{:collector-number "48", :name "Boomerang"}
 #:card{:collector-number "49", :name "Brine Hag"}
 #:card{:collector-number "50", :name "Devouring Deep"}
 #:card{:collector-number "51", :name "Dream Coat"}
 #:card{:collector-number "52", :name "Elder Spawn"}
 #:card{:collector-number "53", :name "Enchantment Alteration"}
 #:card{:collector-number "54", :name "Energy Tap"}
 #:card{:collector-number "55", :name "Field of Dreams"}
 #:card{:collector-number "56", :name "Flash Counter"}
 #:card{:collector-number "57", :name "Flash Flood"}
 #:card{:collector-number "58", :name "Force Spike"}
 #:card{:collector-number "59", :name "Gaseous Form"}
 #:card{:collector-number "60", :name "Glyph of Delusion"}
 #:card{:collector-number "61", :name "In the Eye of Chaos"}
 #:card{:collector-number "62", :name "Invoke Prejudice"}
 #:card{:collector-number "63", :name "Juxtapose"}
 #:card{:collector-number "64", :name "Land Equilibrium"}
 #:card{:collector-number "65", :name "Mana Drain"}
 #:card{:collector-number "66", :name "Part Water"}
 #:card{:collector-number "67", :name "Psionic Entity"}
 #:card{:collector-number "68", :name "Psychic Purge"}
 #:card{:collector-number "69", :name "Puppet Master"}
 #:card{:collector-number "70", :name "Recall"}
 #:card{:collector-number "71", :name "Relic Bind"}
 #:card{:collector-number "72", :name "Remove Soul"}
 #:card{:collector-number "73", :name "Reset"}
 #:card{:collector-number "74", :name "Reverberation"}
 #:card{:collector-number "75", :name "Sea Kings' Blessing"}
 #:card{:collector-number "76", :name "Segovian Leviathan"}
 #:card{:collector-number "77", :name "Silhouette"}
 #:card{:collector-number "78", :name "Spectral Cloak"}
 #:card{:collector-number "79", :name "Telekinesis"}
 #:card{:collector-number "80", :name "Teleport"}
 #:card{:collector-number "81", :name "Time Elemental"}
 #:card{:collector-number "82", :name "Undertow"}
 #:card{:collector-number "83", :name "Venarian Gold"}
 #:card{:collector-number "84", :name "Wall of Vapor"}
 #:card{:collector-number "85", :name "Wall of Wonder"}
 #:card{:collector-number "86", :name "Zephyr Falcon"}
 #:card{:collector-number "87", :name "Abomination"}
 #:card{:collector-number "88", :name "All Hallow's Eve"}
 #:card{:collector-number "89", :name "Blight"}
 #:card{:collector-number "90", :name "Carrion Ants"}
 #:card{:collector-number "91", :name "Chains of Mephistopheles"}
 #:card{:collector-number "92", :name "Cosmic Horror"}
 #:card{:collector-number "93", :name "Cyclopean Mummy"}
 #:card{:collector-number "94", :name "Darkness"}
 #:card{:collector-number "95", :name "Demonic Torment"}
 #:card{:collector-number "96", :name "Evil Eye of Orms-by-Gore"}
 #:card{:collector-number "97", :name "Fallen Angel"}
 #:card{:collector-number "98", :name "Ghosts of the Damned"}
 #:card{:collector-number "99", :name "Giant Slug"}
 #:card{:collector-number "100", :name "Glyph of Doom"}
 #:card{:collector-number "101", :name "Greed"}
 #:card{:collector-number "102", :name "Headless Horseman"}
 #:card{:collector-number "103", :name "Hell Swarm"}
 #:card{:collector-number "104", :name "Hell's Caretaker"}
 #:card{:collector-number "105", :name "Hellfire"}
 #:card{:collector-number "106", :name "Horror of Horrors"}
 #:card{:collector-number "107", :name "Imprison"}
 #:card{:collector-number "108", :name "Infernal Medusa"}
 #:card{:collector-number "109", :name "Jovial Evil"}
 #:card{:collector-number "110", :name "Lesser Werewolf"}
 #:card{:collector-number "111", :name "Lost Soul"}
 #:card{:collector-number "112", :name "Mold Demon"}
 #:card{:collector-number "113", :name "Nether Void"}
 #:card{:collector-number "114", :name "Pit Scorpion"}
 #:card{:collector-number "115", :name "Quagmire"}
 #:card{:collector-number "116", :name "Shimian Night Stalker"}
 #:card{:collector-number "117", :name "Spirit Shackle"}
 #:card{:collector-number "118", :name "Syphon Soul"}
 #:card{:collector-number "119", :name "Takklemaggot"}
 #:card{:collector-number "120", :name "The Abyss"}
 #:card{:collector-number "121", :name "The Wretched"}
 #:card{:collector-number "122", :name "Touch of Darkness"}
 #:card{:collector-number "123", :name "Transmutation"}
 #:card{:collector-number "124", :name "Underworld Dreams"}
 #:card{:collector-number "125", :name "Vampire Bats"}
 #:card{:collector-number "126", :name "Walking Dead"}
 #:card{:collector-number "127", :name "Wall of Putrid Flesh"}
 #:card{:collector-number "128", :name "Wall of Shadows"}
 #:card{:collector-number "129", :name "Wall of Tombstones"}
 #:card{:collector-number "130", :name "Active Volcano"}
 #:card{:collector-number "131", :name "Aerathi Berserker"}
 #:card{:collector-number "132", :name "Backdraft"}
 #:card{:collector-number "133", :name "Beasts of Bogardan"}
 #:card{:collector-number "134", :name "Blazing Effigy"}
 #:card{:collector-number "135", :name "Blood Lust"}
 #:card{:collector-number "136", :name "Caverns of Despair"}
 #:card{:collector-number "137", :name "Chain Lightning"}
 #:card{:collector-number "138", :name "Crevasse"}
 #:card{:collector-number "139", :name "Crimson Kobolds"}
 #:card{:collector-number "140", :name "Crimson Manticore"}
 #:card{:collector-number "141", :name "Crookshank Kobolds"}
 #:card{:collector-number "142", :name "Disharmony"}
 #:card{:collector-number "143", :name "Dwarven Song"}
 #:card{:collector-number "144", :name "Eternal Warrior"}
 #:card{:collector-number "145", :name "Falling Star"}
 #:card{:collector-number "146", :name "Feint"}
 #:card{:collector-number "147", :name "Firestorm Phoenix"}
 #:card{:collector-number "148", :name "Frost Giant"}
 #:card{:collector-number "149", :name "Giant Strength"}
 #:card{:collector-number "150", :name "Glyph of Destruction"}
 #:card{:collector-number "151", :name "Gravity Sphere"}
 #:card{:collector-number "152", :name "Hyperion Blacksmith"}
 #:card{:collector-number "153", :name "Immolation"}
 #:card{:collector-number "154", :name "Kobold Drill Sergeant"}
 #:card{:collector-number "155", :name "Kobold Overlord"}
 #:card{:collector-number "156", :name "Kobold Taskmaster"}
 #:card{:collector-number "157", :name "Kobolds of Kher Keep"}
 #:card{:collector-number "158", :name "Land's Edge"}
 #:card{:collector-number "159", :name "Mountain Yeti"}
 #:card{:collector-number "160", :name "Primordial Ooze"}
 #:card{:collector-number "161", :name "Pyrotechnics"}
 #:card{:collector-number "162", :name "Quarum Trench Gnomes"}
 #:card{:collector-number "163", :name "Raging Bull"}
 #:card{:collector-number "164", :name "Spinal Villain"}
 #:card{:collector-number "165", :name "Storm World"}
 #:card{:collector-number "166", :name "Tempest Efreet"}
 #:card{:collector-number "167", :name "The Brute"}
 #:card{:collector-number "168", :name "Wall of Dust"}
 #:card{:collector-number "169", :name "Wall of Earth"}
 #:card{:collector-number "170", :name "Wall of Heat"}
 #:card{:collector-number "171", :name "Wall of Opposition"}
 #:card{:collector-number "172", :name "Winds of Change"}
 #:card{:collector-number "173", :name "Aisling Leprechaun"}
 #:card{:collector-number "174", :name "Arboria"}
 #:card{:collector-number "175", :name "Avoid Fate"}
 #:card{:collector-number "176", :name "Barbary Apes"}
 #:card{:collector-number "177", :name "Cat Warriors"}
 #:card{:collector-number "178", :name "Cocoon"}
 #:card{:collector-number "179", :name "Concordant Crossroads"}
 #:card{:collector-number "180", :name "Craw Giant"}
 #:card{:collector-number "181", :name "Deadfall"}
 #:card{:collector-number "182", :name "Durkwood Boars"}
 #:card{:collector-number "183", :name "Elven Riders"}
 #:card{:collector-number "184", :name "Emerald Dragonfly"}
 #:card{:collector-number "185", :name "Eureka"}
 #:card{:collector-number "186", :name "Fire Sprites"}
 #:card{:collector-number "187", :name "Floral Spuzzem"}
 #:card{:collector-number "188", :name "Giant Turtle"}
 #:card{:collector-number "189", :name "Glyph of Reincarnation"}
 #:card{:collector-number "190", :name "Hornet Cobra"}
 #:card{:collector-number "191", :name "Ichneumon Druid"}
 #:card{:collector-number "192", :name "Killer Bees"}
 #:card{:collector-number "193", :name "Living Plane"}
 #:card{:collector-number "194", :name "Master of the Hunt"}
 #:card{:collector-number "195", :name "Moss Monster"}
 #:card{:collector-number "196", :name "Pixie Queen"}
 #:card{:collector-number "197", :name "Pradesh Gypsies"}
 #:card{:collector-number "198", :name "Rabid Wombat"}
 #:card{:collector-number "199", :name "Radjan Spirit"}
 #:card{:collector-number "200", :name "Rebirth"}
 #:card{:collector-number "201", :name "Reincarnation"}
 #:card{:collector-number "202", :name "Revelation"}
 #:card{:collector-number "203", :name "Rust"}
 #:card{:collector-number "204", :name "Shelkin Brownie"}
 #:card{:collector-number "205", :name "Storm Seeker"}
 #:card{:collector-number "206", :name "Subdue"}
 #:card{:collector-number "207", :name "Sylvan Library"}
 #:card{:collector-number "208", :name "Sylvan Paradise"}
 #:card{:collector-number "209", :name "Typhoon"}
 #:card{:collector-number "210", :name "Untamed Wilds"}
 #:card{:collector-number "211", :name "Whirling Dervish"}
 #:card{:collector-number "212", :name "Willow Satyr"}
 #:card{:collector-number "213", :name "Winter Blast"}
 #:card{:collector-number "214", :name "Wolverine Pack"}
 #:card{:collector-number "215", :name "Wood Elemental"}
 #:card{:collector-number "216", :name "Adun Oakenshield"}
 #:card{:collector-number "217", :name "Angus Mackenzie"}
 #:card{:collector-number "218", :name "Arcades Sabboth"}
 #:card{:collector-number "219", :name "Axelrod Gunnarson"}
 #:card{:collector-number "220", :name "Ayesha Tanaka"}
 #:card{:collector-number "221", :name "Barktooth Warbeard"}
 #:card{:collector-number "222", :name "Bartel Runeaxe"}
 #:card{:collector-number "223", :name "Boris Devilboon"}
 #:card{:collector-number "224", :name "Chromium"}
 #:card{:collector-number "225", :name "Dakkon Blackblade"}
 #:card{:collector-number "226", :name "Gabriel Angelfire"}
 #:card{:collector-number "227", :name "Gosta Dirk"}
 #:card{:collector-number "228", :name "Gwendlyn Di Corci"}
 #:card{:collector-number "229", :name "Halfdane"}
 #:card{:collector-number "230", :name "Hazezon Tamar"}
 #:card{:collector-number "231", :name "Hunding Gjornersen"}
 #:card{:collector-number "232", :name "Jacques le Vert"}
 #:card{:collector-number "233", :name "Jasmine Boreal"}
 #:card{:collector-number "234", :name "Jedit Ojanen"}
 #:card{:collector-number "235", :name "Jerrard of the Closed Fist"}
 #:card{:collector-number "236", :name "Johan"}
 #:card{:collector-number "237", :name "Kasimir the Lone Wolf"}
 #:card{:collector-number "238", :name "Kei Takahashi"}
 #:card{:collector-number "239", :name "Lady Caleria"}
 #:card{:collector-number "240", :name "Lady Evangela"}
 #:card{:collector-number "241", :name "Lady Orca"}
 #:card{:collector-number "242", :name "Livonya Silone"}
 #:card{:collector-number "243", :name "Lord Magnus"}
 #:card{:collector-number "244", :name "Marhault Elsdragon"}
 #:card{:collector-number "245", :name "Nebuchadnezzar"}
 #:card{:collector-number "246", :name "Nicol Bolas"}
 #:card{:collector-number "247", :name "Palladia-Mors"}
 #:card{:collector-number "248", :name "Pavel Maliki"}
 #:card{:collector-number "249", :name "Princess Lucrezia"}
 #:card{:collector-number "250", :name "Ragnar"}
 #:card{:collector-number "251", :name "Ramirez DePietro"}
 #:card{:collector-number "252", :name "Ramses Overdark"}
 #:card{:collector-number "253", :name "Rasputin Dreamweaver"}
 #:card{:collector-number "254", :name "Riven Turnbull"}
 #:card{:collector-number "255", :name "Rohgahh of Kher Keep"}
 #:card{:collector-number "256", :name "Rubinia Soulsinger"}
 #:card{:collector-number "257", :name "Sir Shandlar of Eberyn"}
 #:card{:collector-number "258", :name "Sivitri Scarzam"}
 #:card{:collector-number "259", :name "Sol'kanar the Swamp King"}
 #:card{:collector-number "260", :name "Stangg"}
 #:card{:collector-number "261", :name "Sunastian Falconer"}
 #:card{:collector-number "262", :name "Tetsuo Umezawa"}
 #:card{:collector-number "263", :name "The Lady of the Mountain"}
 #:card{:collector-number "264", :name "Tobias Andrion"}
 #:card{:collector-number "265", :name "Tor Wauki"}
 #:card{:collector-number "266", :name "Torsten Von Ursus"}
 #:card{:collector-number "267", :name "Tuknir Deathlock"}
 #:card{:collector-number "268", :name "Ur-Drago"}
 #:card{:collector-number "269", :name "Vaevictis Asmadi"}
 #:card{:collector-number "270", :name "Xira Arien"}
 #:card{:collector-number "271", :name "Al-abara's Carpet"}
 #:card{:collector-number "272", :name "Alchor's Tomb"}
 #:card{:collector-number "273", :name "Arena of the Ancients"}
 #:card{:collector-number "274", :name "Black Mana Battery"}
 #:card{:collector-number "275", :name "Blue Mana Battery"}
 #:card{:collector-number "276", :name "Bronze Horse"}
 #:card{:collector-number "277", :name "Forethought Amulet"}
 #:card{:collector-number "278", :name "Gauntlets of Chaos"}
 #:card{:collector-number "279", :name "Green Mana Battery"}
 #:card{:collector-number "280", :name "Horn of Deafening"}
 #:card{:collector-number "281", :name "Knowledge Vault"}
 #:card{:collector-number "282", :name "Kry Shield"}
 #:card{:collector-number "283", :name "Life Chisel"}
 #:card{:collector-number "284", :name "Life Matrix"}
 #:card{:collector-number "285", :name "Mana Matrix"}
 #:card{:collector-number "286", :name "Marble Priest"}
 #:card{:collector-number "287", :name "Mirror Universe"}
 #:card{:collector-number "288", :name "North Star"}
 #:card{:collector-number "289", :name "Nova Pentacle"}
 #:card{:collector-number "290", :name "Planar Gate"}
 #:card{:collector-number "291", :name "Red Mana Battery"}
 #:card{:collector-number "292", :name "Relic Barrier"}
 #:card{:collector-number "293", :name "Ring of Immortals"}
 #:card{:collector-number "294", :name "Sentinel"}
 #:card{:collector-number "295", :name "Serpent Generator"}
 #:card{:collector-number "296", :name "Sword of the Ages"}
 #:card{:collector-number "297", :name "Triassic Egg"}
 #:card{:collector-number "298", :name "Voodoo Doll"}
 #:card{:collector-number "299", :name "White Mana Battery"}
 #:card{:collector-number "300", :name "Adventurers' Guildhouse"}
 #:card{:collector-number "301", :name "Cathedral of Serra"}
 #:card{:collector-number "302", :name "Hammerheim"}
 #:card{:collector-number "303", :name "Karakas"}
 #:card{:collector-number "304", :name "Mountain Stronghold"}
 #:card{:collector-number "305", :name "Pendelhaven"}
 #:card{:collector-number "306", :name "Seafarer's Quay"}
 #:card{:collector-number "307",
        :name "The Tabernacle at Pendrell Vale"}
 #:card{:collector-number "308", :name "Tolaria"}
 #:card{:collector-number "309", :name "Unholy Citadel"}
 #:card{:collector-number "310", :name "Urborg"})
