(#:card{:type-line "Creature — Human Cleric",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d563249e-7203-4d54-af5a-82d2f1a584cb.png?1562385673",
        :collector-number "1",
        :layout "normal",
        :name "Soul Warden",
        :oracle-text
        "Whenever another creature enters the battlefield, you gain 1 life."}
 #:card{:type-line "Artifact Creature — Zombie",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/ba9c7a2e-99c6-4498-a8ed-9171cd9373e0.png?1562385668",
        :collector-number "2",
        :layout "normal",
        :name "Tidehollow Sculler",
        :oracle-text
        "When Tidehollow Sculler enters the battlefield, target opponent reveals their hand and you choose a nonland card from it. Exile that card.\nWhen Tidehollow Sculler leaves the battlefield, return the exiled card to its owner's hand."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/4/045ce37b-86d2-4e56-84af-b6625b53d13c.png?1562385567",
        :collector-number "3",
        :layout "normal",
        :name "Path to Exile",
        :oracle-text
        "Exile target creature. Its controller may search their library for a basic land card, put that card onto the battlefield tapped, then shuffle."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/c/5c1d4835-c662-4deb-b8f9-cd7b04948edf.png?1562385580",
        :collector-number "4",
        :layout "normal",
        :name "Inquisition of Kozilek",
        :oracle-text
        "Target player reveals their hand. You choose a nonland card from it with mana value 3 or less. That player discards that card."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/e/ced53428-391d-4b61-83e8-cce297e28de9.png?1562385670",
        :collector-number "5",
        :layout "normal",
        :name "Shrine of Loyal Legions",
        :oracle-text
        "At the beginning of your upkeep or whenever you cast a white spell, put a charge counter on Shrine of Loyal Legions.\n{3}, {T}, Sacrifice Shrine of Loyal Legions: Create a 1/1 colorless Phyrexian Myr artifact creature token for each charge counter on Shrine of Loyal Legions."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cf643b03-d388-451b-933a-28f3c4087877.png?1562385671",
        :collector-number "6",
        :layout "normal",
        :name "Honor of the Pure",
        :oracle-text "White creatures you control get +1/+1."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/47ccaac5-ca40-44de-9db2-13649c8e5722.png?1562385577",
        :collector-number "7",
        :layout "normal",
        :name "Intangible Virtue",
        :oracle-text
        "Creature tokens you control get +1/+1 and have vigilance."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/3/23a3e9e3-5ec1-4f4c-9bbd-84908fa09ed3.png?1562385573",
        :collector-number "8",
        :layout "normal",
        :name "Raise the Alarm",
        :oracle-text "Create two 1/1 white Soldier creature tokens."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d5725eaf-e77c-4582-a785-1668ae1f4007.png?1562385674",
        :collector-number "9",
        :layout "normal",
        :name "Zealous Persecution",
        :oracle-text
        "Until end of turn, creatures you control get +1/+1 and creatures your opponents control get -1/-1."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/b/9b370b3f-ae0d-4744-8b3d-3c48c81c1326.png?1562385664",
        :collector-number "10",
        :layout "normal",
        :name "Sword of Feast and Famine",
        :oracle-text
        "Equipped creature gets +2/+2 and has protection from black and from green.\nWhenever equipped creature deals combat damage to a player, that player discards a card and you untap all lands you control.\nEquip {2}"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/70e33f45-7d47-423b-a123-8541f1d1afb4.png?1562385659",
        :collector-number "11",
        :layout "normal",
        :name "Lingering Souls",
        :oracle-text
        "Create two 1/1 white Spirit creature tokens with flying.\nFlashback {1}{B} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/a/9ac8b456-4a5e-4255-ab5b-694e83a2bbaa.png?1562385662",
        :collector-number "12",
        :layout "normal",
        :name "Spectral Procession",
        :oracle-text
        "Create three 1/1 white Spirit creature tokens with flying."}
 #:card{:type-line "Legendary Planeswalker — Elspeth",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/0/200e0e28-88cc-43e5-8774-28ba791cfa63.png?1562385572",
        :collector-number "13",
        :layout "normal",
        :name "Elspeth, Knight-Errant",
        :oracle-text
        "+1: Create a 1/1 white Soldier creature token.\n+1: Target creature gets +3/+3 and gains flying until end of turn.\n−8: You get an emblem with \"Artifacts, creatures, enchantments, and lands you control have indestructible.\""}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/68ed4c64-8998-4686-b5d4-e9735e0c1a76.png?1562385582",
        :collector-number "14",
        :layout "normal",
        :name "Caves of Koilos",
        :oracle-text
        "{T}: Add {C}.\n{T}: Add {W} or {B}. Caves of Koilos deals 1 damage to you."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/d/2d120ddb-73e7-4dbc-b48c-4a6c74f331c3.png?1562385576",
        :collector-number "15",
        :layout "normal",
        :name "City of Brass",
        :oracle-text
        "Whenever City of Brass becomes tapped, it deals 1 damage to you.\n{T}: Add one mana of any color."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/e/4e1ad9b1-f59c-4990-a43f-1a705f09bae7.png?1562385579",
        :collector-number "16",
        :layout "normal",
        :name "Isolated Chapel",
        :oracle-text
        "Isolated Chapel enters the battlefield tapped unless you control a Plains or a Swamp.\n{T}: Add {W} or {B}."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6efbe3db-5d38-4807-9348-0204fa5a7681.png?1562385657",
        :collector-number "17",
        :layout "normal",
        :name "Vault of the Archangel",
        :oracle-text
        "{T}: Add {C}.\n{2}{W}{B}, {T}: Creatures you control gain deathtouch and lifelink until end of turn."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/10822e32-adf3-4ad7-b889-e81d68983b5b.png?1562385569",
        :collector-number "18",
        :layout "normal",
        :name "Windbrisk Heights",
        :oracle-text
        "Hideaway 4 (When this land enters the battlefield, look at the top four cards of your library, exile one face down, then put the rest on the bottom in a random order.)\nWindbrisk Heights enters the battlefield tapped.\n{T}: Add {W}.\n{W}, {T}: You may play the exiled card without paying its mana cost if you attacked with three or more creatures this turn."}
 #:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/19d1d724-731a-4125-99d1-25a81e8ff08c.png?1562385570",
        :collector-number "19",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e2029951-b0cb-4c09-8dc1-ec177e278877.png?1562385676",
        :collector-number "20",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f77a1544-ba6b-41cc-af10-34cf162eac9b.png?1562385678",
        :collector-number "21",
        :layout "normal",
        :name "Relic of Progenitus",
        :oracle-text
        "{T}: Target player exiles a card from their graveyard.\n{1}, Exile Relic of Progenitus: Exile all graveyards. Draw a card."}
 #:card{:type-line "Creature — Kithkin Wizard",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b50df9f4-2e10-452f-839e-3c479b58c53a.png?1562385667",
        :collector-number "22",
        :layout "normal",
        :name "Burrenton Forge-Tender",
        :oracle-text
        "Protection from red\nSacrifice Burrenton Forge-Tender: Prevent all damage a red source of your choice would deal this turn."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/2854b2aa-5fa7-41c1-81c9-c2df8f6a7bfa.png?1562385575",
        :collector-number "23",
        :layout "normal",
        :name "Duress",
        :oracle-text
        "Target opponent reveals their hand. You choose a noncreature, nonland card from it. That player discards that card."}
 #:card{:type-line "Legendary Creature — Spirit",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/0/9057835d-3d5c-4daf-af96-3b6ea749b12e.png?1562385661",
        :collector-number "24",
        :layout "normal",
        :name "Kataki, War's Wage",
        :oracle-text
        "All artifacts have \"At the beginning of your upkeep, sacrifice this artifact unless you pay {1}.\""}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/4/e48e2da3-8597-48c2-8287-f0264a7788c7.png?1562385677",
        :collector-number "25",
        :layout "normal",
        :name "Dismember",
        :oracle-text
        "({B/P} can be paid with either {B} or 2 life.)\nTarget creature gets -5/-5 until end of turn."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "md1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/d/ad9fd015-02b6-482b-a93d-c9489e18df10.png?1562385665",
        :collector-number "26",
        :layout "normal",
        :name "Ghost Quarter",
        :oracle-text
        "{T}: Add {C}.\n{T}, Sacrifice Ghost Quarter: Destroy target land. Its controller may search their library for a basic land card, put it onto the battlefield, then shuffle."})
