(#:card{:code "med",
        :collector-number "GR1",
        :name "Elspeth, Knight-Errant",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/0/6052dc6a-8f70-4c3b-b111-b213c29a7a7f.png?1572373240",
        :type-line "Legendary Planeswalker — Elspeth",
        :oracle-text
        "+1: Create a 1/1 white Soldier creature token.\n+1: Target creature gets +3/+3 and gains flying until end of turn.\n−8: You get an emblem with \"Artifacts, creatures, enchantments, and lands you control have indestructible.\""}
 #:card{:code "med",
        :collector-number "RA1",
        :name "Karn, Scion of Urza",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0cd43687-0ae1-47e9-b0d6-2af56bdbe2e9.png?1576010863",
        :type-line "Legendary Planeswalker — Karn",
        :oracle-text
        "+1: Reveal the top two cards of your library. An opponent chooses one of them. Put that card into your hand and exile the other with a silver counter on it.\n−1: Put a card you own with a silver counter on it from exile into your hand.\n−2: Create a 0/0 colorless Construct artifact creature token with \"This creature gets +1/+1 for each artifact you control.\""}
 #:card{:code "med",
        :collector-number "WS1",
        :name "Ugin, the Spirit Dragon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/411e8228-b594-4af8-8008-c6c8c815d254.png?1572373257",
        :type-line "Legendary Planeswalker — Ugin",
        :oracle-text
        "+2: Ugin, the Spirit Dragon deals 3 damage to any target.\n−X: Exile each permanent with mana value X or less that's one or more colors.\n−10: You gain 7 life, draw seven cards, then put up to seven permanent cards from your hand onto the battlefield."}
 #:card{:code "med",
        :collector-number "GR2",
        :name "Liliana, the Last Hope",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/f/7ffc77bf-21e7-4e1e-a635-d6b61213b3e1.png?1572373297",
        :type-line "Legendary Planeswalker — Liliana",
        :oracle-text
        "+1: Up to one target creature gets -2/-1 until your next turn.\n−2: Mill two cards, then you may return a creature card from your graveyard to your hand.\n−7: You get an emblem with \"At the beginning of your end step, create X 2/2 black Zombie creature tokens, where X is two plus the number of Zombies you control.\""}
 #:card{:code "med",
        :collector-number "RA2",
        :name "Tamiyo, the Moon Sage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0d237175-0bda-44df-af32-ca963d0a0520.png?1576010865",
        :type-line "Legendary Planeswalker — Tamiyo",
        :oracle-text
        "+1: Tap target permanent. It doesn't untap during its controller's next untap step.\n−2: Draw a card for each tapped creature target player controls.\n−8: You get an emblem with \"You have no maximum hand size\" and \"Whenever a card is put into your graveyard from anywhere, you may return it to your hand.\""}
 #:card{:code "med",
        :collector-number "WS2",
        :name "Gideon Blackblade",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/7/071421ba-b54a-4510-9065-ace62368d3cb.png?1572373333",
        :type-line "Legendary Planeswalker — Gideon",
        :oracle-text
        "As long as it's your turn, Gideon Blackblade is a 4/4 Human Soldier creature with indestructible that's still a planeswalker.\nPrevent all damage that would be dealt to Gideon Blackblade during your turn.\n+1: Up to one other target creature you control gains your choice of vigilance, lifelink, or indestructible until end of turn.\n−6: Exile target nonland permanent."}
 #:card{:code "med",
        :collector-number "GR3",
        :name "Daretti, Ingenious Iconoclast",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/260ecd56-a86f-49e7-81e0-919231aa9945.png?1572373344",
        :type-line "Legendary Planeswalker — Daretti",
        :oracle-text
        "+1: Create a 1/1 colorless Construct artifact creature token with defender.\n−1: You may sacrifice an artifact. If you do, destroy target artifact or creature.\n−6: Choose target artifact card in a graveyard or artifact on the battlefield. Create three tokens that are copies of it."}
 #:card{:code "med",
        :collector-number "RA3",
        :name "Sorin Markov",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/ab6ccbe1-937e-405b-afd5-333abfd5c6a5.png?1576010866",
        :type-line "Legendary Planeswalker — Sorin",
        :oracle-text
        "+2: Sorin Markov deals 2 damage to any target and you gain 2 life.\n−3: Target opponent's life total becomes 10.\n−7: You control target player during that player's next turn."}
 #:card{:code "med",
        :collector-number "WS3",
        :name "Jace, the Mind Sculptor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/5/a5d1f66f-75b5-4a9b-8b98-f237f065de9c.png?1565357603",
        :type-line "Legendary Planeswalker — Jace",
        :oracle-text
        "+2: Look at the top card of target player's library. You may put that card on the bottom of that player's library.\n0: Draw three cards, then put two cards from your hand on top of your library in any order.\n−1: Return target creature to its owner's hand.\n−12: Exile all cards from target player's library, then that player shuffles their hand into their library."}
 #:card{:code "med",
        :collector-number "GR4",
        :name "Nicol Bolas, Planeswalker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/0/605a6165-bf78-486b-b186-6a55e0ffe28f.png?1572373362",
        :type-line "Legendary Planeswalker — Bolas",
        :oracle-text
        "+3: Destroy target noncreature permanent.\n−2: Gain control of target creature.\n−9: Nicol Bolas, Planeswalker deals 7 damage to target player or planeswalker. That player or that planeswalker's controller discards seven cards, then sacrifices seven permanents."}
 #:card{:code "med",
        :collector-number "RA4",
        :name "Jaya Ballard",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f4da5284-52a4-4999-9e95-9495cee5cade.png?1576010867",
        :type-line "Legendary Planeswalker — Jaya",
        :oracle-text
        "+1: Add {R}{R}{R}. Spend this mana only to cast instant or sorcery spells.\n+1: Discard up to three cards, then draw that many cards.\n−8: You get an emblem with \"You may cast instant and sorcery spells from your graveyard. If a spell cast this way would be put into your graveyard, exile it instead.\""}
 #:card{:code "med",
        :collector-number "WS4",
        :name "Tezzeret the Seeker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/f/bfacd218-8854-436b-94df-e56256eeae64.png?1572373370",
        :type-line "Legendary Planeswalker — Tezzeret",
        :oracle-text
        "+1: Untap up to two target artifacts.\n−X: Search your library for an artifact card with mana value X or less, put it onto the battlefield, then shuffle.\n−5: Artifacts you control become artifact creatures with base power and toughness 5/5 until end of turn."}
 #:card{:code "med",
        :collector-number "GR5",
        :name "Ral, Izzet Viceroy",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f3e5c13e-2e85-4618-a349-1f79dc918390.png?1576795958",
        :type-line "Legendary Planeswalker — Ral",
        :oracle-text
        "+1: Look at the top two cards of your library. Put one of them into your hand and the other into your graveyard.\n−3: Ral, Izzet Viceroy deals damage to target creature equal to the total number of instant and sorcery cards you own in exile and in your graveyard.\n−8: You get an emblem with \"Whenever you cast an instant or sorcery spell, this emblem deals 4 damage to any target and you draw two cards.\""}
 #:card{:code "med",
        :collector-number "RA5",
        :name "Ajani, Mentor of Heroes",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/596f6812-2cee-4f0b-b1e5-ddf1f57c3f95.png?1576010868",
        :type-line "Legendary Planeswalker — Ajani",
        :oracle-text
        "+1: Distribute three +1/+1 counters among one, two, or three target creatures you control.\n+1: Look at the top four cards of your library. You may reveal an Aura, creature, or planeswalker card from among them and put it into your hand. Put the rest on the bottom of your library in any order.\n−8: You gain 100 life."}
 #:card{:code "med",
        :collector-number "WS5",
        :name "Garruk, Apex Predator",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/543515aa-4b8c-437c-89aa-56dd57a4a6d5.png?1572373411",
        :type-line "Legendary Planeswalker — Garruk",
        :oracle-text
        "+1: Destroy another target planeswalker.\n+1: Create a 3/3 black Beast creature token with deathtouch.\n−3: Destroy target creature. You gain life equal to its toughness.\n−8: Target opponent gets an emblem with \"Whenever a creature attacks you, it gets +5/+5 and gains trample until end of turn.\""}
 #:card{:code "med",
        :collector-number "GR6",
        :name "Teferi, Hero of Dominaria",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/2/829e38d8-2421-4a16-9bbd-c3f9e927247b.png?1576795953",
        :type-line "Legendary Planeswalker — Teferi",
        :oracle-text
        "+1: Draw a card. At the beginning of the next end step, untap up to two lands.\n−3: Put target nonland permanent into its owner's library third from the top.\n−8: You get an emblem with \"Whenever you draw a card, exile target permanent an opponent controls.\""}
 #:card{:code "med",
        :collector-number "RA6",
        :name "Dack Fayden",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/5335ad67-5145-48f5-b5af-19996c4d11c0.png?1576010870",
        :type-line "Legendary Planeswalker — Dack",
        :oracle-text
        "+1: Target player draws two cards, then discards two cards.\n−2: Gain control of target artifact.\n−6: You get an emblem with \"Whenever you cast a spell that targets one or more permanents, gain control of those permanents.\""}
 #:card{:code "med",
        :collector-number "WS6",
        :name "Nicol Bolas, Dragon-God",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c3d5102-c305-4461-8360-534aba0f5c02.png?1572373433",
        :type-line "Legendary Planeswalker — Bolas",
        :oracle-text
        "Nicol Bolas, Dragon-God has all loyalty abilities of all other planeswalkers on the battlefield.\n+1: You draw a card. Each opponent exiles a card from their hand or a permanent they control.\n−3: Destroy target creature or planeswalker.\n−8: Each opponent who doesn't control a legendary creature or planeswalker loses the game."}
 #:card{:code "med",
        :collector-number "GR7",
        :name "Tezzeret, Agent of Bolas",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/a/dafb9f6b-0939-444b-b9b3-5437713e958d.png?1572373461",
        :type-line "Legendary Planeswalker — Tezzeret",
        :oracle-text
        "+1: Look at the top five cards of your library. You may reveal an artifact card from among them and put it into your hand. Put the rest on the bottom of your library in any order.\n−1: Target artifact becomes an artifact creature with base power and toughness 5/5.\n−4: Target player loses X life and you gain X life, where X is twice the number of artifacts you control."}
 #:card{:code "med",
        :collector-number "RA7",
        :name "Domri, Chaos Bringer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4bd12cfd-7e99-4b6e-9e6a-05440594462a.png?1576010871",
        :type-line "Legendary Planeswalker — Domri",
        :oracle-text
        "+1: Add {R} or {G}. If that mana is spent on a creature spell, it gains riot. (It enters the battlefield with your choice of a +1/+1 counter or haste.)\n−3: Look at the top four cards of your library. You may reveal up to two creature cards from among them and put them into your hand. Put the rest on the bottom of your library in a random order.\n−8: You get an emblem with \"At the beginning of each end step, create a 4/4 red and green Beast creature token with trample.\""}
 #:card{:code "med",
        :collector-number "WS7",
        :name "Nahiri, the Harbinger",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/45f43bd0-d4d9-4a64-a829-f1ea3dfc9e90.png?1572373444",
        :type-line "Legendary Planeswalker — Nahiri",
        :oracle-text
        "+2: You may discard a card. If you do, draw a card.\n−2: Exile target enchantment, tapped artifact, or tapped creature.\n−8: Search your library for an artifact or creature card, put it onto the battlefield, then shuffle. It gains haste. Return it to your hand at the beginning of the next end step."}
 #:card{:code "med",
        :collector-number "GR8",
        :name "Vraska, Golgari Queen",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/963f641d-aabe-4432-87c5-d8cddf95d8d5.png?1576795938",
        :type-line "Legendary Planeswalker — Vraska",
        :oracle-text
        "+2: You may sacrifice another permanent. If you do, you gain 1 life and draw a card.\n−3: Destroy target nonland permanent with mana value 3 or less.\n−9: You get an emblem with \"Whenever a creature you control deals combat damage to a player, that player loses the game.\""}
 #:card{:code "med",
        :collector-number "RA8",
        :name "Kaya, Orzhov Usurper",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e360f0de-375e-4ba5-8f0c-0ee630b5b1a3.png?1576010883",
        :type-line "Legendary Planeswalker — Kaya",
        :oracle-text
        "+1: Exile up to two target cards from a single graveyard. You gain 2 life if at least one creature card was exiled this way.\n−1: Exile target nonland permanent with mana value 1 or less.\n−5: Kaya, Orzhov Usurper deals damage to target player equal to the number of cards that player owns in exile and you gain that much life."}
 #:card{:code "med",
        :collector-number "WS8",
        :name "Sarkhan Unbroken",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/d/6d0f3a05-7bd1-45f0-984e-670ef43554b7.png?1572373473",
        :type-line "Legendary Planeswalker — Sarkhan",
        :oracle-text
        "+1: Draw a card, then add one mana of any color.\n−2: Create a 4/4 red Dragon creature token with flying.\n−8: Search your library for any number of Dragon creature cards, put them onto the battlefield, then shuffle."})
