(#:card{:code "mgb",
        :collector-number "1",
        :name "Peace Talks",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d4200017-5b26-40fe-9a0d-2872aa3b017e.png?1562636864",
        :type-line "Sorcery",
        :oracle-text
        "This turn and next turn, creatures can't attack, and players and permanents can't be the targets of spells or activated abilities."}
 #:card{:code "mgb",
        :collector-number "2",
        :name "Ovinomancer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/7/978eb187-50dc-4774-993b-7e95be360d25.png?1562636800",
        :type-line "Creature — Human Wizard",
        :oracle-text
        "When Ovinomancer enters the battlefield, sacrifice it unless you return three basic lands you control to their owner's hand.\n{T}, Return Ovinomancer to its owner's hand: Destroy target creature. It can't be regenerated. That creature's controller creates a 0/1 green Sheep creature token."}
 #:card{:code "mgb",
        :collector-number "3",
        :name "Dark Privilege",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c63ecd7b-a5e6-4e19-9ca2-dda14754305a.png?1562636847",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +1/+1.\nSacrifice a creature: Regenerate enchanted creature."}
 #:card{:code "mgb",
        :collector-number "4",
        :name "Necrosavant",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/50668c85-49ad-456c-9022-0abe560bc50c.png?1562636748",
        :type-line "Creature — Zombie Giant",
        :oracle-text
        "{3}{B}{B}, Sacrifice a creature: Return Necrosavant from your graveyard to the battlefield. Activate only during your upkeep."}
 #:card{:code "mgb",
        :collector-number "5",
        :name "Urborg Mindsucker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8acbd8c6-da34-45d6-921a-11f370662833.png?1562636786",
        :type-line "Creature — Horror",
        :oracle-text
        "{B}, Sacrifice Urborg Mindsucker: Target opponent discards a card at random. Activate only as a sorcery."}
 #:card{:code "mgb",
        :collector-number "6",
        :name "Vampirism",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c65b5cfd-d45b-4144-8608-541d455fb004.png?1562636848",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nWhen Vampirism enters the battlefield, draw a card at the beginning of the next turn's upkeep.\nEnchanted creature gets +1/+1 for each other creature you control.\nOther creatures you control get -1/-1."}
 #:card{:code "mgb",
        :collector-number "7",
        :name "Wicked Reward",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e02aeae5-4918-42c6-872d-ffe1517de2ad.png?1562636868",
        :type-line "Instant",
        :oracle-text
        "As an additional cost to cast this spell, sacrifice a creature.\nTarget creature gets +4/+2 until end of turn."}
 #:card{:code "mgb",
        :collector-number "8",
        :name "Viashino Sandstalker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0eb0579a-a0b0-43b0-884c-13035158ae64.png?1562636674",
        :type-line "Creature — Viashino Warrior",
        :oracle-text
        "Haste (This creature can attack and {T} as soon as it comes under your control.)\nAt the beginning of the end step, return Viashino Sandstalker to its owner's hand. (Return it only if it's on the battlefield.)"}
 #:card{:code "mgb",
        :collector-number "9",
        :name "Bull Elephant",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6b161f83-a0d9-4b65-af36-6d71aa76c912.png?1562636769",
        :type-line "Creature — Elephant",
        :oracle-text
        "When Bull Elephant enters the battlefield, sacrifice it unless you return two Forests you control to their owner's hand."}
 #:card{:code "mgb",
        :collector-number "10",
        :name "King Cheetah",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0c607ba1-e133-47f3-a79a-5f0dc8c4b9ac.png?1562636671",
        :type-line "Creature — Cat",
        :oracle-text "Flash"})
