(#:card{:code "mneo",
        :collector-number "1",
        :name "Booster Sleuth // Booster Sleuth (cont'd)",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://cards.scryfall.io/png/front/b/d/bdbc85f5-a5fc-4b30-b622-f2cbdecdb977.png?1664672857",
          :type-line "Card",
          :oracle-text
          "2 players | 2 packs | 10 minutes\nOBJECTIVE:\nUnlike Jace, not all of us can rely on telepathy to solve a mystery. Using other cards as clues, discover all the facts about your opponent's mystery card.\nGET READY:\nRandomly determine who goes first—that player is the Secretkeeper, and their opponent is the Detective. First, the Secretkeeper opens a pack and removes any lands and cards without Magic card backs. Next, they shuffle the remaining cards and pick one at random. That card is the mystery card. Finally, the Secretkeeper gives the Detective the rest of the cards, and the game begins.\nLET'S PLAY:\nThe Detective must correctly guess four facts"}
         {:png
          "https://cards.scryfall.io/png/back/b/d/bdbc85f5-a5fc-4b30-b622-f2cbdecdb977.png?1664672857",
          :type-line "Card",
          :oracle-text
          "about the mystery card: converted mana cost, color, card type, and the number of words in its name. To do this, they choose and reveal cards one at a time.\nWhen each card is revealed, the Secretkeeper tells the Detective how many of the four facts that card and the mystery card have in common. Then the Detective may either guess the four facts or reveal another card to get more clues.\nThe Detective gets only one guess, and they must guess all four facts correctly to win. Once the Detective has guessed, the round ends and the players switch roles with a new pack.\nTO WIN:\nDiscover all four facts using as few cards as possible. The Detective who guesses correctly using the fewest clue cards wins! If neither player guessed correctly, or if there is a tie, play another round!"}]}
 #:card{:code "mneo",
        :collector-number "2",
        :name "Winchester Draft // Winchester Draft (cont'd)",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://cards.scryfall.io/png/front/3/8/383b4d76-add4-4413-b0e2-465961a7fe72.png?1664672882",
          :type-line "Card",
          :oracle-text
          "2 players | 6 packs | 30 min | Basic Lands\nOBJECTIVE:\nGrab a friend and play some _Magic_ in this quick, casual 2-player Draft format.\nGET READY:\nOpen six packs, remove all basic lands, ads, and tokens, and then shuffle the remaining cards together into a *stack* without looking at them. Place the stack face down, and then take the top four cards of the stack and place each one face up to create the beginnings of *four separate piles.*\nRandomly determine who drafts first. The first player to draft chooses one of the four piles and adds it to their draft pool. Place a new card from the stack onto each pile, including the empty spot. Then it is the next player's turn to draft. They also draft an entire pile and"}
         {:png
          "https://cards.scryfall.io/png/back/3/8/383b4d76-add4-4413-b0e2-465961a7fe72.png?1664672882",
          :type-line "Card",
          :oracle-text
          "then add a new card to each pile.\nTake turns until all the cards have been drafted.\nWhen drafting is done, each player builds a 40-card deck from their draft pool, including additional basic lands added as necessary.\nLET'S PLAY:\nRandomly determine who goes first, then play a game of _Magic_!\nPlay a best-of-three match. Each player may sideboard using the rest of their drafted cards between games.\nTO WIN: The player who wins the best-of-three wins!"}]}
 #:card{:code "mneo",
        :collector-number "3",
        :name "Cyber Simulacrum // Cyber Simulacrum (cont'd)",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://cards.scryfall.io/png/front/0/5/05dd5c36-40a8-4776-9766-aa56bb1783ef.png?1664673107",
          :type-line "Card",
          :oracle-text
          "2-6 Players | 1 Pack | 10 Minutes\nOBJECTIVE:\nSometimes technology is useful, and sometimes it's downright confusing! Deduce the identity of your cards using only images from the internet.\nGET READY:\nOpen a booster pack and remove all ad, token, and art cards. Deal one card face down to each player, setting the rest aside. Each player secretly looks at their card, then searches its card name using an internet search engine. Navigate to the first three image results that are not of a Magic card or Magic art, then choose one of those images. If you're unsure if something depicts Magic art, use your best judgment."}
         {:png
          "https://cards.scryfall.io/png/back/0/5/05dd5c36-40a8-4776-9766-aa56bb1783ef.png?1664673107",
          :type-line "Card",
          :oracle-text
          "LET'S PLAY:\nOnce each player has selected an image, place the chosen cards back in with the unchosen cards. Then shuffle all the cards and display them in a face-up grid. Randomly determine a player to reveal their found image first. The other players work together to guess which card in the grid matches that image. Once their final choice is made, the player who chose the image takes that card and places it in front of them. Play continues with the next player revealing their image until all guesses have been made.\nTO WIN:\nAfter all guesses have been made, each player reveals the correct match for their image. If every card was correctly matched, everyone wins!"}]})
