(#:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/dbbf55bc-6bb3-458a-8cf0-1f603bb2acb3.png?1562939169",
        :collector-number "1",
        :layout "normal",
        :name "Austere Command",
        :oracle-text
        "Choose two —\n• Destroy all artifacts.\n• Destroy all enchantments.\n• Destroy all creatures with mana value 3 or less.\n• Destroy all creatures with mana value 4 or greater."}
 #:card{:type-line "Creature — Bird Wizard",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/8/58bb576b-8ec9-49ed-bacb-d8b42ba2e787.png?1562913033",
        :collector-number "2",
        :layout "normal",
        :name "Aven Mindcensor",
        :oracle-text
        "Flash\nFlying\nIf an opponent would search a library, that player searches the top four cards of that library instead."}
 #:card{:type-line "Creature — Human Cleric",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bd9a01b1-15a1-4590-8700-fbd4872c0bf9.png?1562933121",
        :collector-number "3",
        :layout "normal",
        :name "Containment Priest",
        :oracle-text
        "Flash\nIf a nontoken creature would enter the battlefield and it wasn't cast, exile it instead."}
 #:card{:type-line "Creature — Human Advisor",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/d/6d80f9af-e841-4d38-9136-367153fdd2a5.png?1562916924",
        :collector-number "4",
        :layout "normal",
        :name "Loyal Retainers",
        :oracle-text
        "Sacrifice Loyal Retainers: Return target legendary creature card from your graveyard to the battlefield. Activate only during your turn, before attackers are declared."}
 #:card{:type-line "Legendary Creature — God",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b3aa8c17-e37e-430e-a940-d016c4ab5852.png?1562931138",
        :collector-number "5",
        :layout "normal",
        :name "Oketra the True",
        :oracle-text
        "Double strike, indestructible\nOketra the True can't attack or block unless you control at least three other creatures.\n{3}{W}: Create a 1/1 white Warrior creature token with vigilance."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d64f89e7-a91b-4c67-bc64-8b6f03820a4d.png?1562938009",
        :collector-number "6",
        :layout "normal",
        :name "Worship",
        :oracle-text
        "If you control a creature, damage that would reduce your life total to less than 1 reduces it to 1 instead."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/4351bf97-0b9e-44a5-bb7c-1098a683b18d.png?1562908574",
        :collector-number "7",
        :layout "normal",
        :name "Wrath of God",
        :oracle-text
        "Destroy all creatures. They can't be regenerated."}
 #:card{:type-line "Creature — Sphinx",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/a/da566bc8-6350-481d-99aa-9cea76da2a56.png?1562938922",
        :collector-number "8",
        :layout "normal",
        :name "Consecrated Sphinx",
        :oracle-text
        "Flying\nWhenever an opponent draws a card, you may draw two cards."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3f4a8acd-1d49-4fa7-a88e-83cfe741de89.png?1562907723",
        :collector-number "9",
        :layout "normal",
        :name "Counterbalance",
        :oracle-text
        "Whenever an opponent casts a spell, you may reveal the top card of your library. If you do, counter that spell if it has the same mana value as the revealed card."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/1/3126d20f-1082-4ebc-b2fa-b12be3ba1bac.png?1562904991",
        :collector-number "10",
        :layout "normal",
        :name "Counterspell",
        :oracle-text "Counter target spell."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a2a384c1-a05f-4f00-bd77-f897d9819971.png?1562927862",
        :collector-number "11",
        :layout "normal",
        :name "Cryptic Command",
        :oracle-text
        "Choose two —\n• Counter target spell.\n• Return target permanent to its owner's hand.\n• Tap all creatures your opponents control.\n• Draw a card."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/9/a9b037f1-3298-4ba8-92a8-0843f6e497d7.png?1562929191",
        :collector-number "12",
        :layout "normal",
        :name "Daze",
        :oracle-text
        "You may return an Island you control to its owner's hand rather than pay this spell's mana cost.\nCounter target spell unless its controller pays {1}."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/0251408a-aa3c-45f6-8012-822355a6ec25.png?1562895424",
        :collector-number "13",
        :layout "normal",
        :name "Divert",
        :oracle-text
        "Change the target of target spell with a single target unless that spell's controller pays {2}."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/026983a4-03ca-4812-b129-5ea523596942.png?1562895460",
        :collector-number "14",
        :layout "normal",
        :name "Force of Will",
        :oracle-text
        "You may pay 1 life and exile a blue card from your hand rather than pay this spell's mana cost.\nCounter target spell."}
 #:card{:type-line "Legendary Creature — God",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/f/ef2d627d-60ec-4f68-bdfd-086841483b18.png?1562943043",
        :collector-number "15",
        :layout "normal",
        :name "Kefnet the Mindful",
        :oracle-text
        "Flying, indestructible\nKefnet the Mindful can't attack or block unless you have seven or more cards in hand.\n{3}{U}: Draw a card, then you may return a land you control to its owner's hand."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/a/3ab90299-547a-4538-a31c-f55afab10c50.png?1562906886",
        :collector-number "16",
        :layout "normal",
        :name "Pact of Negation",
        :oracle-text
        "Counter target spell.\nAt the beginning of your next upkeep, pay {3}{U}{U}. If you don't, you lose the game."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/eef1f68a-b27c-4e81-9a3c-dccb86771bec.png?1562942998",
        :collector-number "17",
        :layout "normal",
        :name "Spell Pierce",
        :oracle-text
        "Counter target noncreature spell unless its controller pays {2}."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/a/ea24228f-da16-46eb-9dcf-a377286b6168.png?1562942013",
        :collector-number "18",
        :layout "normal",
        :name "Stifle",
        :oracle-text
        "Counter target activated or triggered ability. (Mana abilities can't be targeted.)"}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/4/948bcca4-6e7a-4884-82f8-21926db8bdd5.png?1562924952",
        :collector-number "19",
        :layout "normal",
        :name "Attrition",
        :oracle-text
        "{B}, Sacrifice a creature: Destroy target nonblack creature."}
 #:card{:type-line "Legendary Creature — God",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/57ebd0f2-3f5b-48ef-a530-ea6f667ee195.png?1562912890",
        :collector-number "20",
        :layout "normal",
        :name "Bontu the Glorified",
        :oracle-text
        "Menace, indestructible\nBontu the Glorified can't attack or block unless a creature died under your control this turn.\n{1}{B}, Sacrifice another creature: Scry 1. Each opponent loses 1 life and you gain 1 life."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2bbcbe12-b615-47e6-8b6b-c59f92f16c3d.png?1562903914",
        :collector-number "21",
        :layout "normal",
        :name "Dark Ritual",
        :oracle-text "Add {B}{B}{B}."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6b34a328-8d6a-4baf-99de-c8b050b23e10.png?1562916550",
        :collector-number "22",
        :layout "normal",
        :name "Diabolic Intent",
        :oracle-text
        "As an additional cost to cast this spell, sacrifice a creature.\nSearch your library for a card, put that card into your hand, then shuffle."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/466d6254-4d5c-4f66-a018-eb4a3ec1881c.png?1562909283",
        :collector-number "23",
        :layout "normal",
        :name "Entomb",
        :oracle-text
        "Search your library for a card, put that card into your graveyard, then shuffle."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5dd68790-cd9a-4527-8e53-798822ee2c6c.png?1562914009",
        :collector-number "24",
        :layout "normal",
        :name "Mind Twist",
        :oracle-text "Target player discards X cards at random."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6bcaa16c-4841-4962-88ca-b17175189e5c.png?1562916643",
        :collector-number "25",
        :layout "normal",
        :name "Aggravated Assault",
        :oracle-text
        "{3}{R}{R}: Untap all creatures you control. After this main phase, there is an additional combat phase followed by an additional main phase. Activate only as a sorcery."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/14bd3d19-033e-41a7-8710-02b73ba0b4e4.png?1562899148",
        :collector-number "26",
        :layout "normal",
        :name "Chain Lightning",
        :oracle-text
        "Chain Lightning deals 3 damage to any target. Then that player or that permanent's controller may pay {R}{R}. If the player does, they may copy this spell and may choose a new target for that copy."}
 #:card{:type-line "Legendary Creature — God",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/5/f582e3c3-c329-40bb-9ffb-c4812a7aedd5.png?1562944464",
        :collector-number "27",
        :layout "normal",
        :name "Hazoret the Fervent",
        :oracle-text
        "Indestructible, haste\nHazoret the Fervent can't attack or block unless you have one or fewer cards in hand.\n{2}{R}, Discard a card: Hazoret deals 2 damage to each opponent."}
 #:card{:type-line "Legendary Creature — God",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/453d854c-5092-4e00-a388-499353f246c3.png?1562909019",
        :collector-number "28",
        :layout "normal",
        :name "Rhonas the Indomitable",
        :oracle-text
        "Deathtouch, indestructible\nRhonas the Indomitable can't attack or block unless you control another creature with power 4 or greater.\n{2}{G}: Another target creature gets +2/+0 and gains trample until end of turn."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e2d85423-ebd8-4a6e-aedf-90e52f918764.png?1562940541",
        :collector-number "29",
        :layout "normal",
        :name "Maelstrom Pulse",
        :oracle-text
        "Destroy target nonland permanent and all other permanents with the same name as that permanent."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/7/97aeb745-5b98-4240-a1a8-861c06d616cc.png?1562925629",
        :collector-number "30",
        :layout "normal",
        :name "Vindicate",
        :oracle-text "Destroy target permanent."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/685dcf04-1453-4db5-b81b-9ef9a444ed71.png?1562916025",
        :collector-number "31",
        :layout "normal",
        :name "Armageddon",
        :oracle-text "Destroy all lands."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/2/122c819d-2b13-49af-92dc-af96d4de45de.png?1562898652",
        :collector-number "32",
        :layout "normal",
        :name "Capsize",
        :oracle-text
        "Buyback {3} (You may pay an additional {3} as you cast this spell. If you do, put this card into your hand as it resolves.)\nReturn target permanent to its owner's hand."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/14a9cc52-a45b-4cde-8aff-d672b35c3118.png?1562899128",
        :collector-number "33",
        :layout "normal",
        :name "Forbid",
        :oracle-text
        "Buyback—Discard two cards. (You may discard two cards in addition to any other costs as you cast this spell. If you do, put this card into your hand as it resolves.)\nCounter target spell."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5b04f5e9-6728-45be-af2e-b2584cb67e1c.png?1562913496",
        :collector-number "34",
        :layout "normal",
        :name "Omniscience",
        :oracle-text
        "You may cast spells from your hand without paying their mana costs."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/7/07574b6a-de37-42a4-8584-2e3f440315be.png?1562896455",
        :collector-number "35",
        :layout "normal",
        :name "Opposition",
        :oracle-text
        "Tap an untapped creature you control: Tap target artifact, creature, or land."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/30053742-35e4-4ae0-a90e-d687a5f298d9.png?1562904797",
        :collector-number "36",
        :layout "normal",
        :name "Sunder",
        :oracle-text "Return all lands to their owners' hands."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/8/d827178a-dba3-4036-a0a8-50200d377d56.png?1562938411",
        :collector-number "37",
        :layout "normal",
        :name "Threads of Disloyalty",
        :oracle-text
        "Enchant creature with mana value 2 or less\nYou control enchanted creature."}
 #:card{:type-line "Creature — Avatar",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/34c9ef22-ea59-4bf6-b8b6-29e83e9a8e57.png?1594432505",
        :collector-number "38",
        :layout "normal",
        :name "Avatar of Woe",
        :oracle-text
        "If there are ten or more creature cards total in all graveyards, this spell costs {6} less to cast.\nFear (This creature can't be blocked except by artifact creatures and/or black creatures.)\n{T}: Destroy target creature. It can't be regenerated."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c916a119-9eee-440d-90ef-05ab35bf3fbe.png?1562935376",
        :collector-number "39",
        :layout "normal",
        :name "Damnation",
        :oracle-text
        "Destroy all creatures. They can't be regenerated."}
 #:card{:type-line "Creature — Angel",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/92874f7e-504f-4320-bc44-f626ddffe641.png?1562924576",
        :collector-number "40",
        :layout "normal",
        :name "Desolation Angel",
        :oracle-text
        "Kicker {W}{W} (You may pay an additional {W}{W} as you cast this spell.)\nFlying\nWhen Desolation Angel enters the battlefield, destroy all lands you control. If it was kicked, destroy all lands instead."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f6986173-56e2-41d8-9387-ab86721ed92e.png?1562944667",
        :collector-number "41",
        :layout "normal",
        :name "Diabolic Edict",
        :oracle-text "Target player sacrifices a creature."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0e14c264-d2ce-414c-b2aa-4d3e1433d5a7.png?1562897890",
        :collector-number "42",
        :layout "normal",
        :name "Doomsday",
        :oracle-text
        "Search your library and graveyard for five cards and exile the rest. Put the chosen cards on top of your library in any order. You lose half your life, rounded up."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/96af17e0-91fa-4b99-8313-9dabea8685ea.png?1562925363",
        :collector-number "43",
        :layout "normal",
        :name "No Mercy",
        :oracle-text
        "Whenever a creature deals damage to you, destroy it."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bc8475bd-bdd4-421c-ace7-c6262f7405ce.png?1562932879",
        :collector-number "44",
        :layout "normal",
        :name "Slaughter Pact",
        :oracle-text
        "Destroy target nonblack creature.\nAt the beginning of your next upkeep, pay {2}{B}. If you don't, you lose the game."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/a/ea5ec419-8392-4f1b-9557-5404ba632bf1.png?1562942083",
        :collector-number "45",
        :layout "normal",
        :name "Thoughtseize",
        :oracle-text
        "Target player reveals their hand. You choose a nonland card from it. That player discards that card. You lose 2 life."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/547e80f7-7ec3-4c72-ad51-3245d429af3c.png?1562912211",
        :collector-number "46",
        :layout "normal",
        :name "Blood Moon",
        :oracle-text "Nonbasic lands are Mountains."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/8/f84e0bcd-13f5-41c9-aa7b-06ef4cf8543a.png?1562945053",
        :collector-number "47",
        :layout "normal",
        :name "Boil",
        :oracle-text "Destroy all Islands."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/3/9378ca0c-72b6-4020-8bb6-ea2b7581887a.png?1562924769",
        :collector-number "48",
        :layout "normal",
        :name "Shatterstorm",
        :oracle-text
        "Destroy all artifacts. They can't be regenerated."}
 #:card{:type-line "Instant — Arcane",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/8/789196df-143d-4a60-a8e4-5bdcfdfd7ba8.png?1562919185",
        :collector-number "49",
        :layout "normal",
        :name "Through the Breach",
        :oracle-text
        "You may put a creature card from your hand onto the battlefield. That creature gains haste. Sacrifice that creature at the beginning of the next end step.\nSplice onto Arcane {2}{R}{R} (As you cast an Arcane spell, you may reveal this card from your hand and pay its splice cost. If you do, add this card's effects to that spell.)"}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f4b586d8-3b8a-46ed-b2c3-b257bbbaf882.png?1562944239",
        :collector-number "50",
        :layout "normal",
        :name "Choke",
        :oracle-text
        "Islands don't untap during their controllers' untap steps."}
 #:card{:type-line "Legendary Creature — God",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cba0603a-37aa-47b5-bfda-6be2c0138f03.png?1562935906",
        :collector-number "51",
        :layout "normal",
        :name "The Locust God",
        :oracle-text
        "Flying\nWhenever you draw a card, create a 1/1 blue and red Insect creature token with flying and haste.\n{2}{U}{R}: Draw a card, then discard a card.\nWhen The Locust God dies, return it to its owner's hand at the beginning of the next end step."}
 #:card{:type-line "Creature — Elemental",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/1/c1a7890c-4b93-4181-900f-d95aeb6a8db3.png?1562933896",
        :collector-number "52",
        :layout "normal",
        :name "Lord of Extinction",
        :oracle-text
        "Lord of Extinction's power and toughness are each equal to the number of cards in all graveyards."}
 #:card{:type-line "Legendary Creature — God",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/456b330e-5ff7-4192-bc6f-2f2b4654bee7.png?1562909062",
        :collector-number "53",
        :layout "normal",
        :name "The Scarab God",
        :oracle-text
        "At the beginning of your upkeep, each opponent loses X life and you scry X, where X is the number of Zombies you control.\n{2}{U}{B}: Exile target creature card from a graveyard. Create a token that's a copy of it, except it's a 4/4 black Zombie.\nWhen The Scarab God dies, return it to its owner's hand at the beginning of the next end step."}
 #:card{:type-line "Legendary Creature — God",
        :layout-category :normal,
        :code "mp2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f3653b53-1f68-4443-813f-58930f3c2715.png?1594432540",
        :collector-number "54",
        :layout "normal",
        :name "The Scorpion God",
        :oracle-text
        "Whenever a creature with a -1/-1 counter on it dies, draw a card.\n{1}{B}{R}: Put a -1/-1 counter on another target creature.\nWhen The Scorpion God dies, return it to its owner's hand at the beginning of the next end step."})
