(#:card{:type-line "Land",
        :layout-category :normal,
        :code "mpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/b/1b04fea2-ef5b-4311-bc52-8222f1501eac.png?1561756751",
        :collector-number "1",
        :layout "normal",
        :name "Wasteland",
        :oracle-text
        "{T}: Add {C}.\n{T}, Sacrifice Wasteland: Destroy target nonbasic land."}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "mpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/61587ac5-0cfe-4e5d-baa2-c9a458e40474.png?1561757278",
        :collector-number "2",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elephant",
        :layout-category :normal,
        :code "mpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/540a3b26-ca61-46c6-9e75-981cae435b2e.png?1561757150",
        :collector-number "3",
        :layout "token",
        :name "Elephant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "mpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/26e0e196-36e6-4d7a-a76b-1c2a18270267.png?1561756807",
        :collector-number "4",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "mpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/14ef4815-3dfe-47b3-ad81-1506925280d3.png?1561756700",
        :collector-number "5",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Goblin Soldier",
        :layout-category :normal,
        :code "mpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b3b52233-d240-4be5-bbde-b1e67367ede4.png?1561757869",
        :collector-number "6",
        :layout "token",
        :name "Goblin Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Bear",
        :layout-category :normal,
        :code "mpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a21bc37-6f21-4dda-a313-a0d75696f7fc.png?1561756625",
        :collector-number "7",
        :layout "token",
        :name "Bear",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "mpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/e/ce45e037-5efb-4735-afee-12d7dc3127d1.png?1561758106",
        :collector-number "8",
        :layout "token",
        :name "Beast",
        :oracle-text ""})
