(#:card{:code "oafc",
        :collector-number "1",
        :name "Galea, Kindler of Hope",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cb2b4b69-c026-46fa-b41b-ad1e62d880f2.png?1651355196",
        :type-line "Legendary Creature — Elf Knight",
        :oracle-text
        "Vigilance\nYou may look at the top card of your library any time.\nYou may cast Aura and Equipment spells from the top of your library. When you cast an Equipment spell this way, it gains \"When this Equipment enters the battlefield, attach it to target creature you control.\""}
 #:card{:code "oafc",
        :collector-number "2",
        :name "Prosper, Tome-Bound",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d9a0f304-2cbd-4f7d-9219-976ad4811ae0.png?1651355215",
        :type-line "Legendary Creature — Tiefling Warlock",
        :oracle-text
        "Deathtouch\nMystic Arcanum — At the beginning of your end step, exile the top card of your library. Until the end of your next turn, you may play that card.\nPact Boon — Whenever you play a card from exile, create a Treasure token."}
 #:card{:code "oafc",
        :collector-number "3",
        :name "Sefris of the Hidden Ways",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87464c37-09cf-4fc7-ad71-9c35c3b7ff76.png?1651355230",
        :type-line "Legendary Creature — Human Wizard",
        :oracle-text
        "Whenever one or more creature cards are put into your graveyard from anywhere, venture into the dungeon. This ability triggers only once each turn. (To venture into the dungeon, enter the first room or advance to the next room.)\nCreate Undead — Whenever you complete a dungeon, return target creature card from your graveyard to the battlefield."}
 #:card{:code "oafc",
        :collector-number "4",
        :name "Vrondiss, Rage of Ancients",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/4/64d9699b-d90f-482f-89eb-f3d06af94997.png?1651355247",
        :type-line "Legendary Creature — Dragon Barbarian",
        :oracle-text
        "Enrage — Whenever Vrondiss, Rage of Ancients is dealt damage, you may create a 5/4 red and green Dragon Spirit creature token with \"When this creature deals damage, sacrifice it.\"\nWhenever you roll one or more dice, you may have Vrondiss deal 1 damage to itself."})
