(#:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1ac43a3e-962a-4391-8fcb-6b1575cf7893.png?1605206463",
        :collector-number "1",
        :layout "normal",
        :name "Angelic Reward",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +3/+3 and has flying."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fac0659e-1473-4307-83c7-ffc2a815ce28.png?1605206468",
        :collector-number "3",
        :layout "normal",
        :name "Confront the Assault",
        :oracle-text
        "Cast this spell only if a creature is attacking you.\nCreate three 1/1 white Spirit creature tokens with flying."}
 #:card{:type-line "Creature — Human Soldier",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/f/6f88ad29-5398-468f-843d-06ec80a9ec9a.png?1605206472",
        :collector-number "4",
        :layout "normal",
        :name "Inspiring Commander",
        :oracle-text
        "Whenever another creature with power 2 or less enters the battlefield under your control, you gain 1 life and draw a card."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/e/4e786d0e-d6bf-4c6b-b989-28ca1ed53e2e.png?1605206477",
        :collector-number "5",
        :layout "normal",
        :name "Knight's Pledge",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +2/+2."}
 #:card{:type-line "Creature — Cat",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af79c8fb-9189-48c2-a7b8-a1097dbaf138.png?1605206482",
        :collector-number "8",
        :layout "normal",
        :name "Sanctuary Cat",
        :oracle-text ""}
 #:card{:type-line "Creature — Angel",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/3/d31d1f59-c420-4eb2-808d-f5c0e03e3919.png?1605206487",
        :collector-number "9",
        :layout "normal",
        :name "Serra Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Creature — Human Cleric",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/4/74f04961-c42e-41fb-a770-62c7d3d2b83a.png?1605206492",
        :collector-number "10",
        :layout "normal",
        :name "Shrine Keeper",
        :oracle-text ""}
 #:card{:type-line "Creature — Spirit",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/70cf515c-c4c8-4e20-b990-2d4ec9345177.png?1605206496",
        :collector-number "11",
        :layout "normal",
        :name "Spiritual Guardian",
        :oracle-text
        "When Spiritual Guardian enters the battlefield, you gain 4 life."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/be47350e-7b58-490f-be37-22a945f319ab.png?1605206501",
        :collector-number "12",
        :layout "normal",
        :name "Tactical Advantage",
        :oracle-text
        "Target blocking or blocked creature you control gets +2/+2 until end of turn."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/05c98408-7fe5-4aaf-ba47-38536b2982bf.png?1605206505",
        :collector-number "19",
        :layout "normal",
        :name "River's Favor",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +1/+1."}
 #:card{:type-line "Creature — Bird",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/b/1bcec8de-c38a-4956-95e9-380177968017.png?1605206516",
        :collector-number "23",
        :layout "normal",
        :name "Zephyr Gull",
        :oracle-text "Flying"}
 #:card{:type-line "Creature — Goblin Berserker",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/3480927c-10da-4817-9954-10aea2bc7100.png?1605206526",
        :collector-number "43",
        :layout "normal",
        :name "Raging Goblin",
        :oracle-text
        "Haste (This creature can attack and {T} as soon as it comes under your control.)"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/ae085c66-9235-4636-a86f-fca7e6ed7c62.png?1605206530",
        :collector-number "46",
        :layout "normal",
        :name "Feral Roar",
        :oracle-text "Target creature gets +4/+4 until end of turn."}
 #:card{:type-line "Creature — Elf Warrior",
        :layout-category :normal,
        :code "oana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/7/771341f5-11b2-4edc-aa41-088e852c058e.png?1605206535",
        :collector-number "48",
        :layout "normal",
        :name "Treetop Warden",
        :oracle-text ""})
