(#:card{:code "oc14",
        :collector-number "10",
        :name "Nahiri, the Lithomancer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0d8c5514-e2b4-4952-9bfc-8bf370d98ec8.png?1561756649",
        :type-line "Legendary Planeswalker — Nahiri",
        :oracle-text
        "+2: Create a 1/1 white Kor Soldier creature token. You may attach an Equipment you control to it.\n−2: You may put an Equipment card from your hand or graveyard onto the battlefield.\n−10: Create a colorless Equipment artifact token named Stoneforged Blade. It has indestructible, \"Equipped creature gets +5/+5 and has double strike,\" and equip {0}.\nNahiri, the Lithomancer can be your commander."}
 #:card{:code "oc14",
        :collector-number "19",
        :name "Teferi, Temporal Archmage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c86be64e-79d3-4ba8-8d28-f01c994a8a7c.png?1561758050",
        :type-line "Legendary Planeswalker — Teferi",
        :oracle-text
        "+1: Look at the top two cards of your library. Put one of them into your hand and the other on the bottom of your library.\n−1: Untap up to four target permanents.\n−10: You get an emblem with \"You may activate loyalty abilities of planeswalkers you control on any player's turn any time you could cast an instant.\"\nTeferi, Temporal Archmage can be your commander."}
 #:card{:code "oc14",
        :collector-number "27",
        :name "Ob Nixilis of the Black Oath",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/54a43f00-9f9d-4622-9189-93f7fe449ae7.png?1561757152",
        :type-line "Legendary Planeswalker — Nixilis",
        :oracle-text
        "+2: Each opponent loses 1 life. You gain life equal to the life lost this way.\n−2: Create a 5/5 black Demon creature token with flying. You lose 2 life.\n−8: You get an emblem with \"{1}{B}, Sacrifice a creature: You gain X life and draw X cards, where X is the sacrificed creature's power.\"\nOb Nixilis of the Black Oath can be your commander."}
 #:card{:code "oc14",
        :collector-number "33",
        :name "Daretti, Scrap Savant",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/8/f895bd98-4db0-4acd-9ce5-90c78d799003.png?1561758451",
        :type-line "Legendary Planeswalker — Daretti",
        :oracle-text
        "+2: Discard up to two cards, then draw that many cards.\n−2: Sacrifice an artifact. If you do, return target artifact card from your graveyard to the battlefield.\n−10: You get an emblem with \"Whenever an artifact is put into your graveyard from the battlefield, return that card to the battlefield at the beginning of the next end step.\"\nDaretti, Scrap Savant can be your commander."}
 #:card{:code "oc14",
        :collector-number "43",
        :name "Freyalise, Llanowar's Fury",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dd1e7fc0-e179-4519-9b17-e49d16183786.png?1561758212",
        :type-line "Legendary Planeswalker — Freyalise",
        :oracle-text
        "+2: Create a 1/1 green Elf Druid creature token with \"{T}: Add {G}.\"\n−2: Destroy target artifact or enchantment.\n−6: Draw a card for each green creature you control.\nFreyalise, Llanowar's Fury can be your commander."})
