(#:card{:type-line "Legendary Creature — Zombie Soldier",
        :layout-category :normal,
        :code "oc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/8/482a5f7b-561a-4764-b0ca-be3cf2cc4c27.png?1561757061",
        :collector-number "43",
        :layout "normal",
        :name "Daxos the Returned",
        :oracle-text
        "Whenever you cast an enchantment spell, you get an experience counter.\n{1}{W}{B}: Create a white and black Spirit enchantment creature token. It has \"This creature's power and toughness are each equal to the number of experience counters you have.\""}
 #:card{:type-line "Legendary Creature — Phyrexian Elf Warrior",
        :layout-category :normal,
        :code "oc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/473d22bd-41d2-4b21-961c-ef73e27517cd.png?1561757042",
        :collector-number "44",
        :layout "normal",
        :name "Ezuri, Claw of Progress",
        :oracle-text
        "Whenever a creature with power 2 or less enters the battlefield under your control, you get an experience counter.\nAt the beginning of combat on your turn, put X +1/+1 counters on another target creature you control, where X is the number of experience counters you have."}
 #:card{:type-line "Legendary Creature — Giant Soldier",
        :layout-category :normal,
        :code "oc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/8/d8b62178-9c25-4035-90d0-19fe25ca8474.png?1561758178",
        :collector-number "45",
        :layout "normal",
        :name "Kalemne, Disciple of Iroas",
        :oracle-text
        "Double strike, vigilance\nWhenever you cast a creature spell with mana value 5 or greater, you get an experience counter.\nKalemne, Disciple of Iroas gets +1/+1 for each experience counter you have."}
 #:card{:type-line "Legendary Creature — Human Shaman",
        :layout-category :normal,
        :code "oc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b8400831-1b23-451c-bc95-8f8b511b9885.png?1561757908",
        :collector-number "49",
        :layout "normal",
        :name "Meren of Clan Nel Toth",
        :oracle-text
        "Whenever another creature you control dies, you get an experience counter.\nAt the beginning of your end step, choose target creature card in your graveyard. If that card's mana value is less than or equal to the number of experience counters you have, return it to the battlefield. Otherwise, put it into your hand."}
 #:card{:type-line "Legendary Creature — Goblin Wizard",
        :layout-category :normal,
        :code "oc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/3/73b5815e-540d-4594-b4ca-97c80022b6c2.png?1561757404",
        :collector-number "50",
        :layout "normal",
        :name "Mizzix of the Izmagnus",
        :oracle-text
        "Whenever you cast an instant or sorcery spell with mana value greater than the number of experience counters you have, you get an experience counter.\nInstant and sorcery spells you cast cost {1} less to cast for each experience counter you have."})
