(#:card{:type-line "Legendary Creature — Phyrexian Angel Horror",
        :layout-category :normal,
        :code "oc16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/5/650722b4-d72b-4745-a1a5-00a34836282b.png?1561757296",
        :collector-number "28",
        :layout "normal",
        :name "Atraxa, Praetors' Voice",
        :oracle-text
        "Flying, vigilance, deathtouch, lifelink\nAt the beginning of your end step, proliferate. (Choose any number of permanents and/or players, then give each another counter of each kind already there.)"}
 #:card{:type-line "Legendary Artifact Creature — Human",
        :layout-category :normal,
        :code "oc16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/dec79304-65fb-4064-ba39-85d04fd91574.png?1561758238",
        :collector-number "29",
        :layout "normal",
        :name "Breya, Etherium Shaper",
        :oracle-text
        "When Breya, Etherium Shaper enters the battlefield, create two 1/1 blue Thopter artifact creature tokens with flying.\n{2}, Sacrifice two artifacts: Choose one —\n• Breya deals 3 damage to target player or planeswalker.\n• Target creature gets -4/-4 until end of turn.\n• You gain 5 life."}
 #:card{:type-line "Legendary Creature — Human Soldier",
        :layout-category :normal,
        :code "oc16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7b44f926-1213-4a61-9db9-7067664b0b63.png?1561757445",
        :collector-number "36",
        :layout "normal",
        :name "Kynaios and Tiro of Meletis",
        :oracle-text
        "At the beginning of your end step, draw a card. Each player may put a land card from their hand onto the battlefield, then each opponent who didn't draws a card."}
 #:card{:type-line "Legendary Creature — Human Soldier",
        :layout-category :normal,
        :code "oc16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/5733ce94-08d5-4288-8241-0ba5c0f99b27.png?1561757171",
        :collector-number "41",
        :layout "normal",
        :name "Saskia the Unyielding",
        :oracle-text
        "Vigilance, haste\nAs Saskia the Unyielding enters the battlefield, choose a player.\nWhenever a creature you control deals combat damage to a player, it deals that much damage to the chosen player."}
 #:card{:type-line "Legendary Creature — Ogre Wizard",
        :layout-category :normal,
        :code "oc16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/d/9d64a386-d426-4897-b14c-cd0706edd2a4.png?1561757682",
        :collector-number "50",
        :layout "normal",
        :name "Yidris, Maelstrom Wielder",
        :oracle-text
        "Trample\nWhenever Yidris, Maelstrom Wielder deals combat damage to a player, as you cast spells from your hand this turn, they gain cascade. (When you cast the spell, exile cards from the top of your library until you exile a nonland card that costs less. You may cast it without paying its mana cost. Put the exiled cards on the bottom of your library in a random order.)"})
