(#:card{:type-line "Legendary Planeswalker — Aminatou",
        :layout-category :normal,
        :code "oc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c562ff50-f74b-4311-972a-ba62366411d5.png?1561758017",
        :collector-number "37",
        :layout "normal",
        :name "Aminatou, the Fateshifter",
        :oracle-text
        "+1: Draw a card, then put a card from your hand on top of your library.\n−1: Exile another target permanent you own, then return it to the battlefield under your control.\n−6: Choose left or right. Each player gains control of all nonland permanents other than Aminatou, the Fateshifter controlled by the next player in the chosen direction.\nAminatou, the Fateshifter can be your commander."}
 #:card{:type-line "Legendary Planeswalker — Estrid",
        :layout-category :normal,
        :code "oc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e2674ab8-6255-4901-944e-b30ca89336a9.png?1561758293",
        :collector-number "40",
        :layout "normal",
        :name "Estrid, the Masked",
        :oracle-text
        "+2: Untap each enchanted permanent you control.\n−1: Create a white Aura enchantment token named Mask attached to another target permanent. The token has enchant permanent and totem armor.\n−7: Mill seven cards. Return all non-Aura enchantment cards from your graveyard to the battlefield, then do the same for Aura cards.\nEstrid, the Masked can be your commander."}
 #:card{:type-line "Legendary Planeswalker — Windgrace",
        :layout-category :normal,
        :code "oc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/1/511e4105-1215-4dc7-a198-42a2d2036b8d.png?1561757129",
        :collector-number "43",
        :layout "normal",
        :name "Lord Windgrace",
        :oracle-text
        "+2: Discard a card, then draw a card. If a land card is discarded this way, draw an additional card.\n−3: Return up to two target land cards from your graveyard to the battlefield.\n−11: Destroy up to six target nonland permanents, then create six 2/2 green Cat Warrior creature tokens with forestwalk.\nLord Windgrace can be your commander."}
 #:card{:type-line "Legendary Planeswalker — Saheeli",
        :layout-category :normal,
        :code "oc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b32b3dae-7616-46ad-b9bf-854559cda977.png?1561757860",
        :collector-number "44",
        :layout "normal",
        :name "Saheeli, the Gifted",
        :oracle-text
        "+1: Create a 1/1 colorless Servo artifact creature token.\n+1: The next spell you cast this turn costs {1} less to cast for each artifact you control as you cast it.\n−7: For each artifact you control, create a token that's a copy of it. Those tokens gain haste. Exile those tokens at the beginning of the next end step.\nSaheeli, the Gifted can be your commander."})
