(#:card{:type-line "Legendary Creature — Human Monk",
        :layout-category :normal,
        :code "ocm1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b96fc9e1-d0f0-4c91-a049-6fe685c15031.png?1562636830",
        :collector-number "1",
        :layout "normal",
        :name "Azusa, Lost but Seeking",
        :oracle-text
        "You may play two additional lands on each of your turns."}
 #:card{:type-line "Legendary Creature — Giant Warrior",
        :layout-category :normal,
        :code "ocm1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/2/120a5d4e-a72a-40a5-baf1-1651be838199.png?1562636676",
        :collector-number "2",
        :layout "normal",
        :name "Brion Stoutarm",
        :oracle-text
        "Lifelink\n{R}, {T}, Sacrifice another creature: Brion Stoutarm deals damage equal to the sacrificed creature's power to target player or planeswalker."}
 #:card{:type-line "Legendary Creature — Phyrexian Zombie Elf",
        :layout-category :normal,
        :code "ocm1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/f/4f7fb05c-8b59-478c-9298-6cf8bc376557.png?1562636738",
        :collector-number "3",
        :layout "normal",
        :name "Glissa, the Traitor",
        :oracle-text
        "First strike, deathtouch\nWhenever a creature an opponent controls dies, you may return target artifact card from your graveyard to your hand."}
 #:card{:type-line "Legendary Creature — Human Barbarian",
        :layout-category :normal,
        :code "ocm1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a0c2008-d4ea-4cd9-9ef9-488db5d08220.png?1562636687",
        :collector-number "4",
        :layout "normal",
        :name "Godo, Bandit Warlord",
        :oracle-text
        "When Godo, Bandit Warlord enters the battlefield, you may search your library for an Equipment card, put it onto the battlefield, then shuffle.\nWhenever Godo attacks for the first time each turn, untap it and all Samurai you control. After this phase, there is an additional combat phase."}
 #:card{:type-line "Legendary Creature — Zombie Warrior",
        :layout-category :normal,
        :code "ocm1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f3b7c90e-888c-4447-b4be-40b3a8c42a2d.png?1562636880",
        :collector-number "5",
        :layout "normal",
        :name "Grimgrin, Corpse-Born",
        :oracle-text
        "Grimgrin, Corpse-Born enters the battlefield tapped and doesn't untap during your untap step.\nSacrifice another creature: Untap Grimgrin and put a +1/+1 counter on it.\nWhenever Grimgrin attacks, destroy target creature defending player controls, then put a +1/+1 counter on Grimgrin."}
 #:card{:type-line "Legendary Artifact Creature — Golem",
        :layout-category :normal,
        :code "ocm1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/0/80685f47-43f3-4fb9-a7ec-5d073aae9cdb.png?1562636774",
        :collector-number "6",
        :layout "normal",
        :name "Karn, Silver Golem",
        :oracle-text
        "Whenever Karn, Silver Golem blocks or becomes blocked, it gets -4/+4 until end of turn.\n{1}: Target noncreature artifact becomes an artifact creature with power and toughness each equal to its mana value until end of turn."}
 #:card{:type-line "Legendary Creature — Dragon",
        :layout-category :normal,
        :code "ocm1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/2/d23a170e-e248-4df8-b56a-7f04f8f923ee.png?1562636856",
        :collector-number "7",
        :layout "normal",
        :name "Karrthus, Tyrant of Jund",
        :oracle-text
        "Flying, haste\nWhen Karrthus, Tyrant of Jund enters the battlefield, gain control of all Dragons, then untap all Dragons.\nOther Dragon creatures you control have haste."}
 #:card{:type-line "Legendary Creature — Elf Shaman",
        :layout-category :normal,
        :code "ocm1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/2793cd18-b15c-4f8b-9b3b-35967a59f897.png?1562636709",
        :collector-number "8",
        :layout "normal",
        :name "Mayael the Anima",
        :oracle-text
        "{3}{R}{G}{W}, {T}: Look at the top five cards of your library. You may put a creature card with power 5 or greater from among them onto the battlefield. Put the rest on the bottom of your library in any order."}
 #:card{:type-line "Legendary Creature — Sliver",
        :layout-category :normal,
        :code "ocm1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/ab68bd00-7151-4a6b-ad98-134ca02d7d59.png?1562636819",
        :collector-number "9",
        :layout "normal",
        :name "Sliver Queen",
        :oracle-text
        "{2}: Create a 1/1 colorless Sliver creature token."}
 #:card{:type-line "Legendary Creature — Human Wizard",
        :layout-category :normal,
        :code "ocm1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/8/a87d21ca-79f0-4d08-8441-625aac02fadf.png?1562636810",
        :collector-number "10",
        :layout "normal",
        :name "Zur the Enchanter",
        :oracle-text
        "Flying\nWhenever Zur the Enchanter attacks, you may search your library for an enchantment card with mana value 3 or less, put it onto the battlefield, then shuffle."})
