(#:card{:code "ocmd",
        :collector-number "181",
        :name "Animar, Soul of Elements",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/e/5e03c1ab-dd9c-434a-9aa2-59a4d314579e.png?1562004150",
        :type-line "Legendary Creature — Elemental",
        :oracle-text
        "Protection from white and from black\nWhenever you cast a creature spell, put a +1/+1 counter on Animar, Soul of Elements.\nCreature spells you cast cost {1} less to cast for each +1/+1 counter on Animar."}
 #:card{:code "ocmd",
        :collector-number "191",
        :name "Damia, Sage of Stone",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/9/299e20e6-6670-4904-bc62-c51acc23ee9b.png?1562004115",
        :type-line "Legendary Creature — Gorgon Wizard",
        :oracle-text
        "Deathtouch\nSkip your draw step.\nAt the beginning of your upkeep, if you have fewer than seven cards in hand, draw cards equal to the difference."}
 #:card{:code "ocmd",
        :collector-number "200",
        :name "Ghave, Guru of Spores",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fe0a5552-76f6-46b6-9ac4-b5a09fa88afb.png?1562004533",
        :type-line "Legendary Creature — Fungus Shaman",
        :oracle-text
        "Ghave, Guru of Spores enters the battlefield with five +1/+1 counters on it.\n{1}, Remove a +1/+1 counter from a creature you control: Create a 1/1 green Saproling creature token.\n{1}, Sacrifice a creature: Put a +1/+1 counter on target creature."}
 #:card{:code "ocmd",
        :collector-number "204",
        :name "Intet, the Dreamer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d04322ab-c688-451f-acc9-a45b3c912b38.png?1640279783",
        :type-line "Legendary Creature — Dragon",
        :oracle-text
        "Flying\nWhenever Intet, the Dreamer deals combat damage to a player, you may pay {2}{U}. If you do, exile the top card of your library face down. You may look at that card for as long as it remains exiled. You may play that card without paying its mana cost for as long as Intet remains on the battlefield."}
 #:card{:code "ocmd",
        :collector-number "206",
        :name "Kaalia of the Vast",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/279ed2e3-3f47-4db2-95f3-61f5e0acb938.png?1562004098",
        :type-line "Legendary Creature — Human Cleric",
        :oracle-text
        "Flying\nWhenever Kaalia of the Vast attacks an opponent, you may put an Angel, Demon, or Dragon creature card from your hand onto the battlefield tapped and attacking that opponent."}
 #:card{:code "ocmd",
        :collector-number "207",
        :name "Karador, Ghost Chieftain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/104e146a-6acd-4371-a91d-b47aba75a41e.png?1562004089",
        :type-line "Legendary Creature — Centaur Spirit",
        :oracle-text
        "This spell costs {1} less to cast for each creature card in your graveyard.\nDuring each of your turns, you may cast a creature spell from your graveyard."}
 #:card{:code "ocmd",
        :collector-number "210",
        :name "The Mimeoplasm",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/28a5e269-cde0-4181-952c-8a53d1568c27.png?1562004107",
        :type-line "Legendary Creature — Ooze",
        :oracle-text
        "As The Mimeoplasm enters the battlefield, you may exile two creature cards from graveyards. If you do, it enters the battlefield as a copy of one of those cards with a number of additional +1/+1 counters on it equal to the power of the other card."}
 #:card{:code "ocmd",
        :collector-number "215",
        :name "Numot, the Devastator",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/7/073438f2-0897-4226-b42a-4fd26d8f4e71.png?1562004080",
        :type-line "Legendary Creature — Dragon",
        :oracle-text
        "Flying\nWhenever Numot, the Devastator deals combat damage to a player, you may pay {2}{R}. If you do, destroy up to two target lands."}
 #:card{:code "ocmd",
        :collector-number "216",
        :name "Oros, the Avenger",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/4119ebed-d4d0-415c-81d5-bbe9134a1dec.png?1562004142",
        :type-line "Legendary Creature — Dragon",
        :oracle-text
        "Flying\nWhenever Oros, the Avenger deals combat damage to a player, you may pay {2}{W}. If you do, Oros deals 3 damage to each nonwhite creature."}
 #:card{:code "ocmd",
        :collector-number "220",
        :name "Riku of Two Reflections",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87d0ac34-a04d-426c-8392-6e12bdeb7760.png?1562004176",
        :type-line "Legendary Creature — Human Wizard",
        :oracle-text
        "Whenever you cast an instant or sorcery spell, you may pay {U}{R}. If you do, copy that spell. You may choose new targets for the copy.\nWhenever another nontoken creature enters the battlefield under your control, you may pay {G}{U}. If you do, create a token that's a copy of that creature."}
 #:card{:code "ocmd",
        :collector-number "221",
        :name "Ruhan of the Fomori",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/ccafb9b7-c9f4-46e6-91a7-dc34849d8aca.png?1562004186",
        :type-line "Legendary Creature — Giant Warrior",
        :oracle-text
        "At the beginning of combat on your turn, choose an opponent at random. Ruhan of the Fomori attacks that player this combat if able."}
 #:card{:code "ocmd",
        :collector-number "229",
        :name "Tariel, Reckoner of Souls",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/1/71eee2fb-3a05-4865-b6a1-4befe9190a35.png?1562004168",
        :type-line "Legendary Creature — Angel",
        :oracle-text
        "Flying, vigilance\n{T}: Choose a creature card at random from target opponent's graveyard. Put that card onto the battlefield under your control."}
 #:card{:code "ocmd",
        :collector-number "230",
        :name "Teneb, the Harvester",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/32ba3102-c965-40e1-9d14-05642e66b34e.png?1562004124",
        :type-line "Legendary Creature — Dragon",
        :oracle-text
        "Flying\nWhenever Teneb, the Harvester deals combat damage to a player, you may pay {2}{B}. If you do, put target creature card from a graveyard onto the battlefield under your control."}
 #:card{:code "ocmd",
        :collector-number "235",
        :name "Vorosh, the Hunter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/f/6f3b64a3-e02e-4f16-a862-9ac5b9c6430b.png?1562004159",
        :type-line "Legendary Creature — Dragon",
        :oracle-text
        "Flying\nWhenever Vorosh, the Hunter deals combat damage to a player, you may pay {2}{G}. If you do, put six +1/+1 counters on Vorosh."}
 #:card{:code "ocmd",
        :collector-number "240",
        :name "Zedruu the Greathearted",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/342ccc77-ba91-48fc-9b34-2e15b9ae9467.png?1562004133",
        :type-line "Legendary Creature — Minotaur Monk",
        :oracle-text
        "At the beginning of your upkeep, you gain X life and draw X cards, where X is the number of permanents you own that your opponents control.\n{U}{R}{W}: Target opponent gains control of target permanent you control."})
