(#:card{:type-line "Legendary Creature — Human Noble",
        :layout-category :normal,
        :code "omic",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bde95f7b-ad81-4e49-8a15-f3ced162087f.png?1638585114",
        :collector-number "1",
        :layout "normal",
        :name "Leinore, Autumn Sovereign",
        :oracle-text
        "Coven — At the beginning of combat on your turn, put a +1/+1 counter on up to one target creature you control. Then if you control three or more creatures with different powers, draw a card."}
 #:card{:type-line "Legendary Creature — Zombie Warrior",
        :layout-category :normal,
        :code "omic",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/4/9424a460-0a10-41ac-a60c-7d94809293c8.png?1638585157",
        :collector-number "2",
        :layout "normal",
        :name "Wilhelt, the Rotcleaver",
        :oracle-text
        "Whenever another Zombie you control dies, if it didn't have decayed, create a 2/2 black Zombie creature token with decayed. (It can't block. When it attacks, sacrifice it at end of combat.)\nAt the beginning of your end step, you may sacrifice a Zombie. If you do, draw a card."})
