(#:card{:type-line "Phenomenon",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/36ab24d3-ca9d-4b9c-8c28-4dd1f05a2314.png?1547434158",
        :collector-number "1",
        :layout "planar",
        :name "Chaotic Aether",
        :oracle-text
        "When you encounter Chaotic Aether, each blank roll of the planar die is a {CHAOS} roll until a player planeswalks away from a plane. (Then planeswalk away from this phenomenon.)"}
 #:card{:type-line "Phenomenon",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/2/62f787e3-b09b-4319-a789-04c17cb73b04.png?1547434255",
        :collector-number "2",
        :layout "planar",
        :name "Interplanar Tunnel",
        :oracle-text
        "When you encounter Interplanar Tunnel, reveal cards from the top of your planar deck until you reveal five plane cards. Put a plane card from among them on top of your planar deck, then put the rest of the revealed cards on the bottom in a random order. (Then planeswalk away from this phenomenon.)"}
 #:card{:type-line "Phenomenon",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/84b3e8d4-3299-4f46-8935-3abe362e88d4.png?1547434285",
        :collector-number "3",
        :layout "planar",
        :name "Morphic Tide",
        :oracle-text
        "When you encounter Morphic Tide, each player shuffles all permanents they own into their library, then reveals that many cards from the top of their library. Each player puts all artifact, creature, land, and planeswalker cards revealed this way onto the battlefield, then does the same for enchantment cards, then puts all cards revealed this way that weren't put onto the battlefield on the bottom of their library in any order. (Then planeswalk away from this phenomenon.)"}
 #:card{:type-line "Phenomenon",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/677949e4-1551-495d-b65b-beb21ea19045.png?1547432555",
        :collector-number "4",
        :layout "planar",
        :name "Mutual Epiphany",
        :oracle-text
        "When you encounter Mutual Epiphany, each player draws four cards. (Then planeswalk away from this phenomenon.)"}
 #:card{:type-line "Phenomenon",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/01808714-a841-425a-94e7-a75de1267f66.png?1547432312",
        :collector-number "5",
        :layout "planar",
        :name "Planewide Disaster",
        :oracle-text
        "When you encounter Planewide Disaster, destroy all creatures. (Then planeswalk away from this phenomenon.)"}
 #:card{:type-line "Phenomenon",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/5/254f484d-a652-4747-9b78-6bf083a8f656.png?1547434236",
        :collector-number "6",
        :layout "planar",
        :name "Reality Shaping",
        :oracle-text
        "When you encounter Reality Shaping, starting with you, each player may put a permanent card from their hand onto the battlefield. (Then planeswalk away from this phenomenon.)"}
 #:card{:type-line "Phenomenon",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/065f86fb-d74c-4088-b288-c5be0cdb3165.png?1547434188",
        :collector-number "7",
        :layout "planar",
        :name "Spatial Merging",
        :oracle-text
        "When you encounter Spatial Merging, reveal cards from the top of your planar deck until you reveal two plane cards. Simultaneously planeswalk to both of them. Put all other cards revealed this way on the bottom of your planar deck in any order."}
 #:card{:type-line "Phenomenon",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/45f85a55-66a2-4166-83aa-b0dd595d694a.png?1547434353",
        :collector-number "8",
        :layout "planar",
        :name "Time Distortion",
        :oracle-text
        "When you encounter Time Distortion, reverse the game's turn order. (For example, if play had proceeded clockwise around the table, it now goes counterclockwise. Then planeswalk away from this phenomenon.)"}
 #:card{:type-line "Plane — Zendikar",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fabef637-fb4b-41b5-8d12-5568e84c6d11.png?1547434323",
        :collector-number "9",
        :layout "planar",
        :name "Akoum",
        :oracle-text
        "Players may cast enchantment spells as though they had flash.\nWhenever you roll {CHAOS}, destroy target creature that isn't enchanted."}
 #:card{:type-line "Plane — Kephalai",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0da259c7-a8b5-475e-a2ac-9c4bfed4810d.png?1547434246",
        :collector-number "10",
        :layout "planar",
        :name "Aretopolis",
        :oracle-text
        "When you planeswalk to Aretopolis or at the beginning of your upkeep, put a scroll counter on Aretopolis, then you gain life equal to the number of scroll counters on it.\nWhen Aretopolis has ten or more scroll counters on it, planeswalk.\nWhenever you roll {CHAOS}, put a scroll counter on Aretopolis, then draw cards equal to the number of scroll counters on it."}
 #:card{:type-line "Plane — Kolbahan",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75b8637f-a133-4885-9db5-7c4c9028bacf.png?1547434197",
        :collector-number "11",
        :layout "planar",
        :name "Astral Arena",
        :oracle-text
        "No more than one creature can attack each combat.\nNo more than one creature can block each combat.\nWhenever you roll {CHAOS}, Astral Arena deals 2 damage to each creature."}
 #:card{:type-line "Plane — Equilor",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/4180d81e-6559-4b28-ad8d-513994ddca5d.png?1547434227",
        :collector-number "12",
        :layout "planar",
        :name "Bloodhill Bastion",
        :oracle-text
        "Whenever a creature enters the battlefield, it gains double strike and haste until end of turn.\nWhenever you roll {CHAOS}, exile target nontoken creature you control, then return it to the battlefield under your control."}
 #:card{:type-line "Plane — Belenon",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/feca2d36-c73a-4c52-bc9a-cd7d930eb964.png?1547434333",
        :collector-number "13",
        :layout "planar",
        :name "Edge of Malacol",
        :oracle-text
        "If a creature you control would untap during your untap step, put two +1/+1 counters on it instead.\nWhenever you roll {CHAOS}, untap each creature you control."}
 #:card{:type-line "Plane — New Phyrexia",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5f26d6c3-bd1e-4795-925e-2e7d2141dfdd.png?1547434138",
        :collector-number "14",
        :layout "planar",
        :name "Furnace Layer",
        :oracle-text
        "When you planeswalk to Furnace Layer or at the beginning of your upkeep, select target player at random. That player discards a card. If that player discards a land card this way, they lose 3 life.\nWhenever you roll {CHAOS}, you may destroy target nonland permanent."}
 #:card{:type-line "Plane — Innistrad",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c8a9e705-90b9-4c72-8d38-c8b21e2c15a0.png?1547434362",
        :collector-number "15",
        :layout "planar",
        :name "Gavony",
        :oracle-text
        "All creatures have vigilance.\nWhenever you roll {CHAOS}, creatures you control gain indestructible until end of turn."}
 #:card{:type-line "Plane — Lorwyn",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/39e631f2-da85-46a3-8644-b4b96118292e.png?1547434421",
        :collector-number "16",
        :layout "planar",
        :name "Glen Elendra",
        :oracle-text
        "At end of combat, you may exchange control of target creature you control that dealt combat damage to a player this combat and target creature that player controls.\nWhenever you roll {CHAOS}, gain control of target creature you own."}
 #:card{:type-line "Plane — Ravnica",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/0/806befc2-a988-4e5c-b6b8-60e8c74b4199.png?1547434294",
        :collector-number "17",
        :layout "planar",
        :name "Grand Ossuary",
        :oracle-text
        "Whenever a creature dies, its controller distributes a number of +1/+1 counters equal to its power among any number of target creatures they control.\nWhenever you roll {CHAOS}, each player exiles all creatures they control and creates X 1/1 green Saproling creature tokens, where X is the total power of the creatures they exiled this way. Then planeswalk."}
 #:card{:type-line "Plane — Fabacin",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/abe9bffd-4728-4889-8b16-c7673cba332b.png?1547434275",
        :collector-number "18",
        :layout "planar",
        :name "Grove of the Dreampods",
        :oracle-text
        "When you planeswalk to Grove of the Dreampods or at the beginning of your upkeep, reveal cards from the top of your library until you reveal a creature card. Put that card onto the battlefield and the rest on the bottom of your library in a random order.\nWhenever you roll {CHAOS}, return target creature card from your graveyard to the battlefield."}
 #:card{:type-line "Plane — Zendikar",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b1b1cedb-9778-4403-b189-aa396df29f2c.png?1547434147",
        :collector-number "19",
        :layout "planar",
        :name "Hedron Fields of Agadeem",
        :oracle-text
        "Creatures with power 7 or greater can't attack or block.\nWhenever you roll {CHAOS}, create a 7/7 colorless Eldrazi creature token with annihilator 1. (Whenever it attacks, defending player sacrifices a permanent.)"}
 #:card{:type-line "Plane — Alara",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5fbb2f2d-c9bb-47c3-af6e-ce204b3abcad.png?1547434265",
        :collector-number "20",
        :layout "planar",
        :name "Jund",
        :oracle-text
        "Whenever a player casts a black, red, or green creature spell, it gains devour 5. (As the creature enters the battlefield, its controller may sacrifice any number of creatures. The creature enters the battlefield with five times that many +1/+1 counters on it.)\nWhenever you roll {CHAOS}, create two 1/1 red Goblin creature tokens."}
 #:card{:type-line "Plane — Innistrad",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fe25aa5f-3bc9-46c2-89da-09cb6678fba7.png?1547434119",
        :collector-number "21",
        :layout "planar",
        :name "Kessig",
        :oracle-text
        "Prevent all combat damage that would be dealt by non-Werewolf creatures.\nWhenever you roll {CHAOS}, each creature you control gets +2/+2, gains trample, and becomes a Werewolf in addition to its other types until end of turn."}
 #:card{:type-line "Plane — Mongseng",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/30ebf961-e559-4696-b6b0-015ffa0332bd.png?1547434128",
        :collector-number "22",
        :layout "planar",
        :name "Kharasha Foothills",
        :oracle-text
        "Whenever a creature you control attacks a player, for each other opponent, you may create a token that's a copy of that creature, tapped and attacking that opponent. Exile those tokens at the beginning of the next end step.\nWhenever you roll {CHAOS}, you may sacrifice any number of creatures. If you do, Kharasha Foothills deals that much damage to target creature."}
 #:card{:type-line "Plane — Ravnica",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/839ff86a-c04b-4085-9df6-0e0ac2a37a4e.png?1547434391",
        :collector-number "23",
        :layout "planar",
        :name "Kilnspire District",
        :oracle-text
        "When you planeswalk to Kilnspire District or at the beginning of your precombat main phase, put a charge counter on Kilnspire District, then add {R} for each charge counter on it.\nWhenever you roll {CHAOS}, you may pay {X}. If you do, Kilnspire District deals X damage to any target."}
 #:card{:type-line "Plane — Azgol",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c9a692cf-f87e-4384-92a1-3c205a4eb70f.png?1547434381",
        :collector-number "24",
        :layout "planar",
        :name "Lair of the Ashen Idol",
        :oracle-text
        "At the beginning of your upkeep, sacrifice a creature. If you can't, planeswalk.\nWhenever you roll {CHAOS}, any number of target players each create a 2/2 black Zombie creature token."}
 #:card{:type-line "Plane — Regatha",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/d/4dc3196d-0a8b-450f-a6af-64fcd84378d9.png?1547434168",
        :collector-number "25",
        :layout "planar",
        :name "Mount Keralia",
        :oracle-text
        "At the beginning of your end step, put a pressure counter on Mount Keralia.\nWhen you planeswalk away from Mount Keralia, it deals damage equal to the number of pressure counters on it to each creature and each planeswalker.\nWhenever you roll {CHAOS}, prevent all damage that planes named Mount Keralia would deal this game to permanents you control."}
 #:card{:type-line "Plane — Innistrad",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/012506cb-9a4e-433b-b7db-6d2af95f6725.png?1547434401",
        :collector-number "26",
        :layout "planar",
        :name "Nephalia",
        :oracle-text
        "At the beginning of your end step, mill seven cards. Then return a card at random from your graveyard to your hand.\nWhenever you roll {CHAOS}, return target card from your graveyard to your hand."}
 #:card{:type-line "Plane — New Phyrexia",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b82666ab-bf22-4471-90af-1da24f809e77.png?1547434459",
        :collector-number "27",
        :layout "planar",
        :name "Norn's Dominion",
        :oracle-text
        "When you planeswalk away from Norn's Dominion, destroy each nonland permanent without a fate counter on it, then remove all fate counters from all permanents.\nWhenever you roll {CHAOS}, you may put a fate counter on target permanent."}
 #:card{:type-line "Plane — Shandalar",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3d9afb2d-91ee-498b-9d87-c1ef02610e9f.png?1547434439",
        :collector-number "28",
        :layout "planar",
        :name "Onakke Catacomb",
        :oracle-text
        "All creatures are black and have deathtouch.\nWhenever you roll {CHAOS}, creatures you control get +1/+0 and gain first strike until end of turn."}
 #:card{:type-line "Plane — Kamigawa",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/14bb9483-6ce1-4f19-b5a7-a2c4857113a1.png?1547434314",
        :collector-number "29",
        :layout "planar",
        :name "Orochi Colony",
        :oracle-text
        "Whenever a creature you control deals combat damage to a player, you may search your library for a basic land card, put it onto the battlefield tapped, then shuffle.\nWhenever you roll {CHAOS}, target creature can't be blocked this turn."}
 #:card{:type-line "Plane — Ravnica",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a07b0aa0-17a2-486b-84a1-99645f8a0e46.png?1547434217",
        :collector-number "30",
        :layout "planar",
        :name "Orzhova",
        :oracle-text
        "When you planeswalk away from Orzhova, each player returns all creature cards from their graveyard to the battlefield.\nWhenever you roll {CHAOS}, for each opponent, exile up to one target creature card from that player's graveyard."}
 #:card{:type-line "Plane — Ravnica",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/8750e230-0d61-43ec-8f6b-5af697eed0ef.png?1547434429",
        :collector-number "31",
        :layout "planar",
        :name "Prahv",
        :oracle-text
        "If you cast a spell this turn, you can't attack with creatures.\nIf you attacked with creatures this turn, you can't cast spells.\nWhenever you roll {CHAOS}, you gain life equal to the number of cards in your hand."}
 #:card{:type-line "Plane — Mirrodin",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/178cfe41-02ea-4449-a429-c45fca720c2d.png?1547432443",
        :collector-number "32",
        :layout "planar",
        :name "Quicksilver Sea",
        :oracle-text
        "When you planeswalk to Quicksilver Sea or at the beginning of your upkeep, scry 4. (Look at the top four cards of your library, then put any number of them on the bottom of your library and the rest on top in any order.)\nWhenever you roll {CHAOS}, reveal the top card of your library. You may play it without paying its mana cost."}
 #:card{:type-line "Plane — Ravnica",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/24d5a773-96d0-4cbf-882c-23daf4c992e7.png?1547434411",
        :collector-number "33",
        :layout "planar",
        :name "Selesnya Loft Gardens",
        :oracle-text
        "If an effect would create one or more tokens, it creates twice that many of those tokens instead.\nIf an effect would put one or more counters on a permanent, it puts twice that many of those counters on that permanent instead.\nWhenever you roll {CHAOS}, until end of turn, whenever you tap a land for mana, add one mana of any type that land produced."}
 #:card{:type-line "Plane — Innistrad",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fac8b78f-11a2-45fc-9e70-5940e63ef202.png?1547434304",
        :collector-number "34",
        :layout "planar",
        :name "Stensia",
        :oracle-text
        "Whenever a creature deals damage to one or more players for the first time each turn, put a +1/+1 counter on it.\nWhenever you roll {CHAOS}, each creature you control gains \"{T}: This creature deals 1 damage to target player or planeswalker\" until end of turn."}
 #:card{:type-line "Plane — Kamigawa",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/f/ef7db2df-a7b7-4f1a-b6ef-2c73dbbb845f.png?1547434178",
        :collector-number "35",
        :layout "planar",
        :name "Takenuma",
        :oracle-text
        "Whenever a creature leaves the battlefield, its controller draws a card.\nWhenever you roll {CHAOS}, return target creature you control to its owner's hand."}
 #:card{:type-line "Plane — Dominaria",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bd2328c4-e48e-423b-874a-dd917f4b1145.png?1547434449",
        :collector-number "36",
        :layout "planar",
        :name "Talon Gates",
        :oracle-text
        "Any time you could cast a sorcery, you may exile a nonland card from your hand with X time counters on it, where X is its mana value. If the exiled card doesn't have suspend, it gains suspend. (At the beginning of its owner's upkeep, they remove a time counter. When the last is removed, the player casts it without paying its mana cost. If it's a creature, it has haste.)\nWhenever you roll {CHAOS}, remove two time counters from each suspended card you own."}
 #:card{:type-line "Plane — Vryn",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/df6472ca-2e0d-4618-b2ce-8dcadc06823a.png?1547434207",
        :collector-number "37",
        :layout "planar",
        :name "Trail of the Mage-Rings",
        :oracle-text
        "Instant and sorcery spells have rebound. (The spell's controller exiles the spell as it resolves if they cast it from their hand. At the beginning of that player's next upkeep, they may cast that card from exile without paying its mana cost.)\nWhenever you roll {CHAOS}, you may search your library for an instant or sorcery card, reveal it, put it into your hand, then shuffle."}
 #:card{:type-line "Plane — Ergamon",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/00fc97d3-d8e4-4234-a6da-7b17316fa9ac.png?1547434372",
        :collector-number "38",
        :layout "planar",
        :name "Truga Jungle",
        :oracle-text
        "All lands have \"{T}: Add one mana of any color.\"\nWhenever you roll {CHAOS}, reveal the top three cards of your library. Put all land cards revealed this way into your hand and the rest on the bottom of your library in any order."}
 #:card{:type-line "Plane — Belenon",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/32369ed6-33ad-472f-a26a-0a3843b1ab58.png?1547434343",
        :collector-number "39",
        :layout "planar",
        :name "Windriddle Palaces",
        :oracle-text
        "Players play with the top card of their libraries revealed.\nYou may play lands and cast spells from the top of any player's library.\nWhenever you roll {CHAOS}, each player mills a card."}
 #:card{:type-line "Plane — Kyneth",
        :layout-category :normal,
        :code "opc2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/037d8f92-bd92-4b2a-88ab-8b795e36283a.png?1547432341",
        :collector-number "40",
        :layout "planar",
        :name "The Zephyr Maze",
        :oracle-text
        "Creatures with flying get +2/+0.\nCreatures without flying get -2/-0.\nWhenever you roll {CHAOS}, target creature gains flying until end of turn."})
