(#:card{:code "ovnt",
        :collector-number "2003",
        :name "Black Lotus",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c4e9dea-6782-4c8b-a5a1-c72fc2c81dab.png?1562926522",
        :type-line "Artifact",
        :oracle-text
        "{T}, Sacrifice Black Lotus: Add three mana of any one color."}
 #:card{:code "ovnt",
        :collector-number "2004",
        :name "Timetwister",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/9/6912ce0b-87cc-4c97-81e1-a66088b5f154.png?1562916155",
        :type-line "Sorcery",
        :oracle-text
        "Each player shuffles their hand and graveyard into their library, then draws seven cards. (Then put Timetwister into its owner's graveyard.)"}
 #:card{:code "ovnt",
        :collector-number "2005",
        :name "Ancestral Recall",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/961d3fd1-0ddc-47bf-8b7b-201b812da0f5.png?1562925244",
        :type-line "Instant",
        :oracle-text "Target player draws three cards."}
 #:card{:code "ovnt",
        :collector-number "2006",
        :name "Mox Pearl",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/54d106bc-e292-432f-b71a-41c76d6d51f7.png?1562912255",
        :type-line "Artifact",
        :oracle-text "{T}: Add {W}."}
 #:card{:code "ovnt",
        :collector-number "2007",
        :name "Mox Jet",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/2/82c29923-0055-42de-9041-f79abf23c9f2.png?1562921457",
        :type-line "Artifact",
        :oracle-text "{T}: Add {B}."}
 #:card{:code "ovnt",
        :collector-number "2008",
        :name "Mox Ruby",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/ed1f6c3f-892d-4478-9534-dad50c60b727.png?1562942640",
        :type-line "Artifact",
        :oracle-text "{T}: Add {R}."}
 #:card{:code "ovnt",
        :collector-number "2009",
        :name "Mox Emerald",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/03752ec5-ebfe-4d87-9644-e68240e8fe0e.png?1562895664",
        :type-line "Artifact",
        :oracle-text "{T}: Add {G}."}
 #:card{:code "ovnt",
        :collector-number "2010",
        :name "Mox Sapphire",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/50925476-cc78-45a0-a0f8-3932051a65cf.png?1562911343",
        :type-line "Artifact",
        :oracle-text "{T}: Add {U}."}
 #:card{:code "ovnt",
        :collector-number "2011",
        :name "Time Walk",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e9d0ac2e-7dfb-43f3-b585-644f5fa3f955.png?1562941934",
        :type-line "Sorcery",
        :oracle-text "Take an extra turn after this one."}
 #:card{:code "ovnt",
        :collector-number "2012",
        :name "Timetwister",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/38f1f76f-4eff-4a38-9619-166b9f245012.png?1562906462",
        :type-line "Sorcery",
        :oracle-text
        "Each player shuffles their hand and graveyard into their library, then draws seven cards. (Then put Timetwister into its owner's graveyard.)"}
 #:card{:code "ovnt",
        :collector-number "2013",
        :name "Ancestral Recall",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/f/bf81fee1-49a8-41e4-88d0-f794c070b17b.png?1562933523",
        :type-line "Instant",
        :oracle-text "Target player draws three cards."}
 #:card{:code "ovnt",
        :collector-number "2014",
        :name "Mox Pearl",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a7b3a48d-c555-4c42-8ce6-9b9b637251ca.png?1562928863",
        :type-line "Artifact",
        :oracle-text "{T}: Add {W}."}
 #:card{:code "ovnt",
        :collector-number "2015",
        :name "Mox Emerald",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/c/ac4c09c7-5e11-4f7c-a978-fba197d462cc.png?1562929743",
        :type-line "Artifact",
        :oracle-text "{T}: Add {G}."}
 #:card{:code "ovnt",
        :collector-number "2016EU",
        :name "Mox Jet",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1f5a1578-d5fe-4b31-bb71-3253be8775a1.png?1562901213",
        :type-line "Artifact",
        :oracle-text "{T}: Add {B}."}
 #:card{:code "ovnt",
        :collector-number "2016NA",
        :name "Mox Sapphire",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/c/8c4ab6f6-bcb1-4369-9d05-3582b2639eed.png?1562923339",
        :type-line "Artifact",
        :oracle-text "{T}: Add {U}."}
 #:card{:code "ovnt",
        :collector-number "2017EU",
        :name "Mox Ruby",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/8/d86490f7-8de4-4086-a1d1-cd543cbacd6a.png?1562938506",
        :type-line "Artifact",
        :oracle-text "{T}: Add {R}."}
 #:card{:code "ovnt",
        :collector-number "2017NA",
        :name "Black Lotus",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/11e5a2c6-dcc4-4ad3-a4b5-b9095d77c4f8.png?1562898593",
        :type-line "Artifact",
        :oracle-text
        "{T}, Sacrifice Black Lotus: Add three mana of any one color."}
 #:card{:code "ovnt",
        :collector-number "2018",
        :name "Ancestral Recall",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/3/d392392e-6c36-44e4-a037-2b788a088891.png?1562937457",
        :type-line "Instant",
        :oracle-text "Target player draws three cards."}
 #:card{:code "ovnt",
        :collector-number "2018A",
        :name "Timetwister",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/38dff637-abeb-4c41-9962-148205fee651.png?1630621968",
        :type-line "Sorcery",
        :oracle-text
        "Each player shuffles their hand and graveyard into their library, then draws seven cards. (Then put Timetwister into its owner's graveyard.)"}
 #:card{:code "ovnt",
        :collector-number "2018NA",
        :name "Time Walk",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/1/319bcff2-3173-40e8-954a-d48fa090e7b5.png?1630622001",
        :type-line "Sorcery",
        :oracle-text "Take an extra turn after this one."}
 #:card{:code "ovnt",
        :collector-number "2019",
        :name "Mox Pearl",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a1e87bfd-8bfb-41d6-9159-511d42cc9307.png?1588355060",
        :type-line "Artifact",
        :oracle-text "{T}: Add {W}."}
 #:card{:code "ovnt",
        :collector-number "2019A",
        :name "Mox Sapphire",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c88832e3-218d-4b4b-9a5f-4389cf0a900c.png?1630625297",
        :type-line "Artifact",
        :oracle-text "{T}: Add {U}."}
 #:card{:code "ovnt",
        :collector-number "2019NA",
        :name "Mox Jet",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b8285b7-bd88-4a6c-bd2e-9798a1c661f8.png?1630625591",
        :type-line "Artifact",
        :oracle-text "{T}: Add {B}."}
 #:card{:code "ovnt",
        :collector-number "2020A",
        :name "Tolarian Academy",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/0/b0247ee3-7799-43c2-9617-35b3edc91f22.png?1630551938",
        :type-line "Legendary Land",
        :oracle-text "{T}: Add {U} for each artifact you control."}
 #:card{:code "ovnt",
        :collector-number "2020B",
        :name "Library of Alexandria",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b1073b7f-3d63-4e1c-a093-cf3be6784252.png?1630552062",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}.\n{T}: Draw a card. Activate only if you have exactly seven cards in hand."}
 #:card{:code "ovnt",
        :collector-number "2020C",
        :name "Mishra's Workshop",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e9d6c1c3-1745-4da0-9a8c-7a2e4147d039.png?1643337735",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}{C}{C}. Spend this mana only to cast artifact spells."}
 #:card{:code "ovnt",
        :collector-number "2021A",
        :name "Mox Emerald",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/2/4240625f-19f5-4ada-bda2-093789ddd129.png?1645671195",
        :type-line "Artifact",
        :oracle-text "{T}: Add {G}."}
 #:card{:code "ovnt",
        :collector-number "2021B",
        :name "Timetwister",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d6157016-a16c-46c8-9daf-6edcddd6a1c1.png?1645671208",
        :type-line "Sorcery",
        :oracle-text
        "Each player shuffles their hand and graveyard into their library, then draws seven cards. (Then put Timetwister into its owner's graveyard.)"}
 #:card{:code "ovnt",
        :collector-number "2021C",
        :name "Mox Ruby",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d96a23ed-27a1-44c5-8d8b-654947f9cce4.png?1645671235",
        :type-line "Artifact",
        :oracle-text "{T}: Add {R}."})
