(#:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "p03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4bdc1632-6824-4059-a6bd-bce9cd4a02f4.png?1561757097",
        :collector-number "1",
        :layout "normal",
        :name "Voidmage Prodigy",
        :oracle-text
        "{U}{U}, Sacrifice a Wizard: Counter target spell.\nMorph {U} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)"}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "p03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/a/aa47df37-f246-4f80-a944-008cdf347dad.png?1561757793",
        :collector-number "2",
        :layout "token",
        :name "Insect",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Sliver",
        :layout-category :normal,
        :code "p03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f3b8ae33-f0c3-4fe7-8121-41307d13bb4a.png?1623693995",
        :collector-number "3",
        :layout "token",
        :name "Sliver",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Bear",
        :layout-category :normal,
        :code "p03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6e1fc8db-f4a3-4f9c-bfab-64d5a3968435.png?1614664095",
        :collector-number "4",
        :layout "token",
        :name "Bear",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "p03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/8/08ca3900-3845-40ac-8581-d4aebc2850a0.png?1561756620",
        :collector-number "5",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Demon",
        :layout-category :normal,
        :code "p03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/8/084c3292-c3ec-431e-b162-309b5cf6309e.png?1561756614",
        :collector-number "6",
        :layout "token",
        :name "Demon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "p03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b5489e26-6aec-4706-9c3e-8454878fa6c3.png?1626891917",
        :collector-number "7",
        :layout "token",
        :name "Rukh",
        :oracle-text "Flying"})
