(#:card{:code "p04",
        :collector-number "1",
        :name "Powder Keg",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b77caf8-711b-4597-a5a5-dead81568e5b.png?1561756834",
        :type-line "Artifact",
        :oracle-text
        "At the beginning of your upkeep, you may put a fuse counter on Powder Keg.\n{T}, Sacrifice Powder Keg: Destroy each artifact and creature with mana value equal to the number of fuse counters on Powder Keg."}
 #:card{:code "p04",
        :collector-number "2",
        :name "Angel",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c7f3264a-7b4a-4fef-af73-d4241742a4e8.png?1561758046",
        :type-line "Token Creature — Angel",
        :oracle-text "Flying"}
 #:card{:code "p04",
        :collector-number "3",
        :name "Pentavite",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/f/4fbb0dc6-2f9e-4389-8a90-531e94009bfb.png?1561757118",
        :type-line "Token Artifact Creature — Pentavite",
        :oracle-text "Flying"}
 #:card{:code "p04",
        :collector-number "4",
        :name "Myr",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/8/187cf6d5-c352-48f2-b8bf-fe1bf946e2ac.png?1561756726",
        :type-line "Token Artifact Creature — Myr",
        :oracle-text ""}
 #:card{:code "p04",
        :collector-number "5",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d02d5670-fff3-4011-8e45-e6843e4e8988.png?1561758119",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "p04",
        :collector-number "6",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/46b60d95-b9bc-40f8-b986-bfa8e3eb74f3.png?1561757037",
        :type-line "Token Creature — Spirit",
        :oracle-text ""})
