(#:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "p07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/10c5810f-83f6-43bf-8ece-047be42d7d58.png?1561756672",
        :collector-number "1",
        :layout "normal",
        :name "Wrath of God",
        :oracle-text
        "Destroy all creatures. They can't be regenerated."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c986d9d6-d274-4ba9-8695-bc7c2f8e8fed.png?1561758071",
        :collector-number "2",
        :layout "normal",
        :name "Condemn",
        :oracle-text
        "Put target attacking creature on the bottom of its owner's library. Its controller gains life equal to its toughness."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a36a42b0-8216-4c99-a85f-22a520f31fd4.png?1561757738",
        :collector-number "3",
        :layout "normal",
        :name "Mortify",
        :oracle-text "Destroy target creature or enchantment."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a380513-9eea-4ff9-bcc8-7a6b53c642c4.png?1561756740",
        :collector-number "4",
        :layout "normal",
        :name "Psionic Blast",
        :oracle-text
        "Psionic Blast deals 4 damage to any target and 2 damage to you."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "p07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fd3e0bb9-5a68-4164-9968-366299fca8ce.png?1561758485",
        :collector-number "5",
        :layout "normal",
        :name "Cruel Edict",
        :oracle-text "Target opponent sacrifices a creature."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/7/07494030-c1a3-4135-be88-9f7ba68f814b.png?1561756607",
        :collector-number "6",
        :layout "normal",
        :name "Disenchant",
        :oracle-text "Destroy target artifact or enchantment."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "p07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/be7ef1c2-a75e-47ef-8181-cb7933ac09d6.png?1561757967",
        :collector-number "7",
        :layout "normal",
        :name "Recollect",
        :oracle-text
        "Return target card from your graveyard to your hand."})
