(#:card{:code "p08",
        :collector-number "1",
        :name "Damnation",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6c5823bb-d56d-4bed-ba3f-09bdd93c52dc.png?1561757368",
        :type-line "Sorcery",
        :oracle-text
        "Destroy all creatures. They can't be regenerated."}
 #:card{:code "p08",
        :collector-number "2",
        :name "Tidings",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/68d77020-b313-429f-9005-a36ecf8caa05.png?1561757338",
        :type-line "Sorcery",
        :oracle-text "Draw four cards."}
 #:card{:code "p08",
        :collector-number "3",
        :name "Incinerate",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/0/f09dd696-8dff-41dd-b510-b2ad4c5d6c36.png?1561758397",
        :type-line "Instant",
        :oracle-text
        "Incinerate deals 3 damage to any target. A creature dealt damage this way can't be regenerated this turn."}
 #:card{:code "p08",
        :collector-number "4",
        :name "Mana Tithe",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/5/652b0ce3-293d-4599-8a04-9df01b9bc678.png?1561757305",
        :type-line "Instant",
        :oracle-text
        "Counter target spell unless its controller pays {1}."}
 #:card{:code "p08",
        :collector-number "5",
        :name "Harmonize",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/509cfb76-ab85-4473-ab81-83f6f62eb54c.png?1561757124",
        :type-line "Sorcery",
        :oracle-text "Draw three cards."}
 #:card{:code "p08",
        :collector-number "6",
        :name "Ponder",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/15813b4a-9eee-4724-97f3-c1b845cba330.png?1561756703",
        :type-line "Sorcery",
        :oracle-text
        "Look at the top three cards of your library, then put them back in any order. You may shuffle.\nDraw a card."}
 #:card{:code "p08",
        :collector-number "7",
        :name "Corrupt",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4b5549fa-ff74-44a9-8709-c407b1b89062.png?1561757091",
        :type-line "Sorcery",
        :oracle-text
        "Corrupt deals damage to any target equal to the number of Swamps you control. You gain life equal to the damage dealt this way."})
