(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "p09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/526607e9-1907-4639-b944-8ee152c81bfb.png?1561757137",
        :collector-number "1",
        :layout "normal",
        :name "Cryptic Command",
        :oracle-text
        "Choose two —\n• Counter target spell.\n• Return target permanent to its owner's hand.\n• Tap all creatures your opponents control.\n• Draw a card."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/407858c8-316d-47a7-8234-c490a0bc87a6.png?1561756991",
        :collector-number "2",
        :layout "normal",
        :name "Flame Javelin",
        :oracle-text
        "({2/R} can be paid with any two mana or with {R}. This card's mana value is 6.)\nFlame Javelin deals 4 damage to any target."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/b/1bc08c9c-b18a-4df1-92f0-f1f35a834399.png?1561756754",
        :collector-number "3",
        :layout "normal",
        :name "Unmake",
        :oracle-text "Exile target creature."}
 #:card{:type-line "Tribal Instant — Shapeshifter",
        :layout-category :normal,
        :code "p09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b1ea60ba-11ac-4112-92af-db0aa420dd8c.png?1561757839",
        :collector-number "4",
        :layout "normal",
        :name "Nameless Inversion",
        :oracle-text
        "Changeling (This card is every creature type.)\nTarget creature gets +3/-3 and loses all creature types until end of turn."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/675440ff-9701-4310-a4ad-8502b9cb73ae.png?1561757323",
        :collector-number "5",
        :layout "normal",
        :name "Remove Soul",
        :oracle-text "Counter target creature spell."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "p09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7a1b4c07-588a-444f-9677-3eb1493b5394.png?1561757438",
        :collector-number "6",
        :layout "normal",
        :name "Blightning",
        :oracle-text
        "Blightning deals 3 damage to target player or planeswalker. That player or that planeswalker's controller discards two cards."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "p09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/594d7178-4acd-4be0-9e22-2d046c5cebd8.png?1561757194",
        :collector-number "7",
        :layout "normal",
        :name "Rampant Growth",
        :oracle-text
        "Search your library for a basic land card, put that card onto the battlefield tapped, then shuffle."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/2/226e5187-d285-4547-869d-761fdbee6f1b.png?1561756781",
        :collector-number "8",
        :layout "normal",
        :name "Negate",
        :oracle-text "Counter target noncreature spell."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/dfd77920-7dbb-4673-9317-095ce9483878.png?1575602242",
        :collector-number "9",
        :layout "normal",
        :name "Terminate",
        :oracle-text
        "Destroy target creature. It can't be regenerated."})
