(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "p10",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/28708c8c-4336-4d04-b43a-59a31471a9f6.png?1561756817",
        :collector-number "1",
        :layout "normal",
        :name "Lightning Bolt",
        :oracle-text "Lightning Bolt deals 3 damage to any target."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p10",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bc4d6368-03dc-488a-9a6b-07a549a87572.png?1561757939",
        :collector-number "2",
        :layout "normal",
        :name "Cancel",
        :oracle-text "Counter target spell."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "p10",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a0ea92c4-84e3-494f-a2c0-f241521a5491.png?1561757722",
        :collector-number "3",
        :layout "normal",
        :name "Sign in Blood",
        :oracle-text "Target player draws two cards and loses 2 life."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "p10",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/3/9350a640-3f22-478f-b463-6b50cfe766e1.png?1561757603",
        :collector-number "4",
        :layout "normal",
        :name "Infest",
        :oracle-text "All creatures get -2/-2 until end of turn."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p10",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8d3a69d2-518d-4b70-a03e-6d02a525f9ad.png?1561757550",
        :collector-number "5",
        :layout "normal",
        :name "Volcanic Fallout",
        :oracle-text
        "This spell can't be countered.\nVolcanic Fallout deals 2 damage to each creature and each player."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p10",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a5dbac5-273c-4452-a9c2-32fb6086a8d1.png?1561756743",
        :collector-number "6",
        :layout "normal",
        :name "Celestial Purge",
        :oracle-text "Exile target black or red permanent."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p10",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b368dae7-ca43-4c7e-9b75-826540383630.png?1561757867",
        :collector-number "7",
        :layout "normal",
        :name "Bituminous Blast",
        :oracle-text
        "Cascade (When you cast this spell, exile cards from the top of your library until you exile a nonland card that costs less. You may cast it without paying its mana cost. Put the exiled cards on the bottom of your library in a random order.)\nBituminous Blast deals 4 damage to target creature."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p10",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/db539e3e-cefe-4f2c-bc8e-df049426895f.png?1561758208",
        :collector-number "8",
        :layout "normal",
        :name "Burst Lightning",
        :oracle-text
        "Kicker {4} (You may pay an additional {4} as you cast this spell.)\nBurst Lightning deals 2 damage to any target. If this spell was kicked, it deals 4 damage instead."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p10",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a7bc002c-58af-49ab-8a3e-038b286ebd30.png?1561757780",
        :collector-number "9",
        :layout "normal",
        :name "Harrow",
        :oracle-text
        "As an additional cost to cast this spell, sacrifice a land.\nSearch your library for up to two basic land cards, put them onto the battlefield, then shuffle."})
