(#:card{:type-line "Legendary Creature — Angel",
        :layout-category :normal,
        :code "p10e",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7a84d055-2afb-4a13-9158-3300a9f7187b.png?1561756372",
        :collector-number "35",
        :layout "normal",
        :name "Reya Dawnbringer",
        :oracle-text
        "Flying\nAt the beginning of your upkeep, you may return target creature card from your graveyard to the battlefield."})
