(#:card{:code "p11",
        :collector-number "1",
        :name "Day of Judgment",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/aea87800-6725-4399-b489-651637e1804a.png?1561757821",
        :type-line "Sorcery",
        :oracle-text "Destroy all creatures."}
 #:card{:code "p11",
        :collector-number "2",
        :name "Brave the Elements",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/46357985-9b59-4ad7-aa18-4c8c28fe8bb5.png?1561757033",
        :type-line "Instant",
        :oracle-text
        "Choose a color. White creatures you control gain protection from the chosen color until end of turn."}
 #:card{:code "p11",
        :collector-number "3",
        :name "Doom Blade",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/37468ade-27b1-4128-9a62-1293ec2aab41.png?1561756922",
        :type-line "Instant",
        :oracle-text "Destroy target nonblack creature."}
 #:card{:code "p11",
        :collector-number "4",
        :name "Treasure Hunt",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/41dc258e-701f-4f9d-b3fd-fa073e0324e8.png?1561757006",
        :type-line "Sorcery",
        :oracle-text
        "Reveal cards from the top of your library until you reveal a nonland card, then put all cards revealed this way into your hand."}
 #:card{:code "p11",
        :collector-number "5",
        :name "Searing Blaze",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/7/974c599b-170e-4948-b741-47f61c769b6e.png?1561757630",
        :type-line "Instant",
        :oracle-text
        "Searing Blaze deals 1 damage to target player or planeswalker and 1 damage to target creature that player or that planeswalker's controller controls.\nLandfall — If you had a land enter the battlefield under your control this turn, Searing Blaze deals 3 damage to that player or planeswalker and 3 damage to that creature instead."})
