(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "p15a",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3dc5f957-c1e4-452d-a78b-8d772ea0b940.png?1561756964",
        :collector-number "1",
        :layout "normal",
        :name "Char",
        :oracle-text
        "Char deals 4 damage to any target and 2 damage to you."}
 #:card{:type-line "Legendary Creature — Human Barbarian",
        :layout-category :normal,
        :code "p15a",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/00429670-c439-4bd5-bd64-3ac7d352c68e.png?1561756567",
        :collector-number "2",
        :layout "normal",
        :name "Kamahl, Pit Fighter",
        :oracle-text
        "Haste (This creature can attack and {T} as soon as it comes under your control.)\n{T}: Kamahl, Pit Fighter deals 3 damage to any target."})
