(#:card{:type-line "Creature — Angel",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/7/978c9a84-c316-4d12-912d-d75ea43f06c3.png?1667593057",
        :collector-number "1",
        :layout "normal",
        :name "Serra Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Creature — Elemental",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/4/84423ed1-ebf0-424f-9801-57b79d5ef721.png?1667593104",
        :collector-number "2",
        :layout "normal",
        :name "Ball Lightning",
        :oracle-text
        "Trample (This creature can deal excess combat damage to the player or planeswalker it's attacking.)\nHaste (This creature can attack and {T} as soon as it comes under your control.)\nAt the beginning of the end step, sacrifice Ball Lightning."}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/f/ef7a1bd1-abcd-4e06-9b38-f9e79bad71fa.png?1667593121",
        :collector-number "3",
        :layout "normal",
        :name "Fyndhorn Elves",
        :oracle-text "{T}: Add {G}."}
 #:card{:type-line "Creature — Plant Wall",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/4/148bbff4-ac34-45d1-9091-323947a6ff67.png?1674268220",
        :collector-number "4",
        :layout "normal",
        :name "Wall of Roots",
        :oracle-text
        "Defender\nPut a -0/-1 counter on Wall of Roots: Add {G}. Activate only once each turn."}
 #:card{:type-line "Creature — Elf Scout",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/2/02de2d9d-2a7d-4059-9258-ef5b50f1f801.png?1674268236",
        :collector-number "5",
        :layout "normal",
        :name "Wood Elves",
        :oracle-text
        "When Wood Elves enters the battlefield, search your library for a Forest card, put that card onto the battlefield, then shuffle."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/8/384f886f-691c-484d-90e2-02201ea488ee.png?1674268247",
        :collector-number "6",
        :layout "normal",
        :name "Windfall",
        :oracle-text
        "Each player discards their hand, then draws cards equal to the greatest number of cards a player discarded this way."}
 #:card{:type-line "Creature — Human Advisor",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/1/2150950b-61e1-4146-b9ed-9794ef153ac7.png?1674268258",
        :collector-number "7",
        :layout "normal",
        :name "Loyal Retainers",
        :oracle-text
        "Sacrifice Loyal Retainers: Return target legendary creature card from your graveyard to the battlefield. Activate only during your turn, before attackers are declared."}
 #:card{:type-line "Legendary Land",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/8/18275369-858f-4a1f-9fbe-1aa7653c536d.png?1675977320",
        :collector-number "8",
        :layout "normal",
        :name "Kor Haven",
        :oracle-text
        "{T}: Add {C}.\n{1}{W}, {T}: Prevent all combat damage that would be dealt by target attacking creature this turn."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/e/ae6153ac-f66e-4a05-9108-3c0be53bfea7.png?1681605358",
        :collector-number "9",
        :layout "normal",
        :name "Vindicate",
        :oracle-text "Destroy target permanent."}
 #:card{:type-line "Creature — Angel",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/8/788d404d-b866-4f29-a716-d2f1eb925111.png?1675977318",
        :collector-number "10",
        :layout "normal",
        :name "Exalted Angel",
        :oracle-text
        "Flying\nWhenever Exalted Angel deals damage, you gain that much life.\nMorph {2}{W}{W} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)"}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/b/2bdaa00e-4c28-4250-9841-c7d7a5cc7998.png?1675977313",
        :collector-number "11",
        :layout "normal",
        :name "Temple of the False God",
        :oracle-text
        "{T}: Add {C}{C}. Activate only if you control five or more lands."}
 #:card{:type-line "Creature — Human Shaman",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/5/0574d09f-5667-4ecf-bbbb-a1a0ed24068d.png?1681612567",
        :collector-number "12",
        :layout "normal",
        :name "Eternal Witness",
        :oracle-text
        "When Eternal Witness enters the battlefield, you may return target card from your graveyard to your hand."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/0/c0757671-18f7-4d89-b751-70ccaa422188.png?1681612556",
        :collector-number "13",
        :layout "normal",
        :name "Chord of Calling",
        :oracle-text
        "Convoke (Your creatures can help cast this spell. Each creature you tap while casting this spell pays for {1} or one mana of that creature's color.)\nSearch your library for a creature card with mana value X or less, put it onto the battlefield, then shuffle."}
 #:card{:type-line "Legendary Creature — Dragon Wizard",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/5/252d0061-9a93-4771-a4e9-f48c8c837d81.png?1681612545",
        :collector-number "14",
        :layout "normal",
        :name "Niv-Mizzet, the Firemind",
        :oracle-text
        "Flying\nWhenever you draw a card, Niv-Mizzet, the Firemind deals 1 damage to any target.\n{T}: Draw a card."}
 #:card{:type-line "Creature — Lhurgoyf",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/5/25785684-7cee-4663-adb2-a9bd86a7bb79.png?1685551563",
        :collector-number "15",
        :layout "normal",
        :name "Tarmogoyf",
        :oracle-text
        "Tarmogoyf's power is equal to the number of card types among cards in all graveyards and its toughness is equal to that number plus 1."}
 #:card{:type-line "Creature — Faerie Wizard",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/0/206791b3-eb19-4283-a3b4-51c3405dc2bc.png?1685551543",
        :collector-number "16",
        :layout "normal",
        :name "Glen Elendra Archmage",
        :oracle-text
        "Flying\n{U}, Sacrifice Glen Elendra Archmage: Counter target noncreature spell.\nPersist (When this creature dies, if it had no -1/-1 counters on it, return it to the battlefield under its owner's control with a -1/-1 counter on it.)"}
 #:card{:type-line "Creature — Ooze",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/5/058da946-cf26-4190-98bc-c155244339fb.png?1685551579",
        :collector-number "17",
        :layout "normal",
        :name "Acidic Slime",
        :oracle-text
        "Deathtouch (Any amount of damage this deals to a creature is enough to destroy it.)\nWhen Acidic Slime enters the battlefield, destroy target artifact, enchantment, or land."}
 #:card{:type-line "Creature — Elephant",
        :layout-category :normal,
        :code "p30a",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/b/9b5336e8-acbd-4326-ad6d-17a70070ff98.png?1685551589",
        :collector-number "18",
        :layout "normal",
        :name "Terastodon",
        :oracle-text
        "When Terastodon enters the battlefield, you may destroy up to three target noncreature permanents. For each permanent put into a graveyard this way, its controller creates a 3/3 green Elephant creature token."}
 #:card{:type-line "Creature — Insect",
        :layout-category :normal,
        :code "p30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/5/85eecf01-915d-4ca1-9e13-f42b545a667f.png?1664929442",
        :collector-number "19",
        :layout "normal",
        :name "Hornet Queen",
        :oracle-text
        "Flying\nDeathtouch\nWhen Hornet Queen enters the battlefield, create four 1/1 green Insect creature tokens with flying and deathtouch."}
 #:card{:type-line "Creature — Demon",
        :layout-category :normal,
        :code "p30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/7/c7b81deb-992c-4388-84c4-a18c78f58b24.png?1664948795",
        :collector-number "20",
        :layout "normal",
        :name "Harvester of Souls",
        :oracle-text
        "Deathtouch\nWhenever another nontoken creature dies, you may draw a card."}
 #:card{:type-line "Creature — Hydra",
        :layout-category :normal,
        :code "p30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/0/a/0a9997a4-f063-41e9-8485-7cb75a08b22f.png?1664929445",
        :collector-number "21",
        :layout "normal",
        :name "Kalonian Hydra",
        :oracle-text
        "Trample\nKalonian Hydra enters the battlefield with four +1/+1 counters on it.\nWhenever Kalonian Hydra attacks, double the number of +1/+1 counters on each creature you control."}
 #:card{:type-line "Creature — Goblin Warrior",
        :layout-category :normal,
        :code "p30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/f/d/fd58f9fd-261e-4ad5-b804-8b62b9c161a7.png?1664929109",
        :collector-number "22",
        :layout "normal",
        :name "Goblin Rabblemaster",
        :oracle-text
        "Other Goblin creatures you control attack each combat if able.\nAt the beginning of combat on your turn, create a 1/1 red Goblin creature token with haste.\nWhenever Goblin Rabblemaster attacks, it gets +1/+0 until end of turn for each other attacking Goblin."}
 #:card{:type-line "Legendary Creature — Elder Dragon",
        :layout-category :normal,
        :code "p30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/b/3/b3b076d3-edb8-4bfe-9521-0ac7464cb3f5.png?1664929149",
        :collector-number "23",
        :layout "normal",
        :name "Dragonlord Atarka",
        :oracle-text
        "Flying, trample\nWhen Dragonlord Atarka enters the battlefield, it deals 5 damage divided as you choose among any number of target creatures and/or planeswalkers your opponents control."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/5/a/5a5e1516-c2cf-4535-a6dc-42a5f3544d88.png?1664929188",
        :collector-number "24",
        :layout "normal",
        :name "Dramatic Reversal",
        :oracle-text "Untap all nonland permanents you control."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "p30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/a/6/a6a2c184-b59f-4522-926c-fd232eddc85e.png?1664929220",
        :collector-number "25",
        :layout "normal",
        :name "Path of Ancestry",
        :oracle-text
        "Path of Ancestry enters the battlefield tapped.\n{T}: Add one mana of any color in your commander's color identity. When that mana is spent to cast a creature spell that shares a creature type with your commander, scry 1. (Look at the top card of your library. You may put that card on the bottom of your library.)"}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "p30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/1/91b11e18-e29b-4b3b-a37b-91ef52c1c7b3.png?1664929283",
        :collector-number "26",
        :layout "normal",
        :name "Beast Whisperer",
        :oracle-text
        "Whenever you cast a creature spell, draw a card."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/7/a/7a4ecf14-1e8d-4e44-b7e4-47db5bef0588.png?1664929333",
        :collector-number "27",
        :layout "normal",
        :name "Dovin's Veto",
        :oracle-text
        "This spell can't be countered.\nCounter target noncreature spell."}
 #:card{:type-line "Legendary Creature — Vampire Cleric",
        :layout-category :normal,
        :code "p30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/0/e/0e2c92c5-5f6f-4512-ae51-428b08a34fa2.png?1664929364",
        :collector-number "28",
        :layout "normal",
        :name "Vito, Thorn of the Dusk Rose",
        :oracle-text
        "Whenever you gain life, target opponent loses that much life.\n{3}{B}{B}: Creatures you control gain lifelink until end of turn."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "p30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/3/8/384bfb9e-3b87-40f9-98c1-615876583437.png?1664929405",
        :collector-number "29",
        :layout "normal",
        :name "Deadly Dispute",
        :oracle-text
        "As an additional cost to cast this spell, sacrifice an artifact or creature.\nDraw two cards and create a Treasure token. (It's an artifact with \"{T}, Sacrifice this artifact: Add one mana of any color.\")"}
 #:card{:type-line "Legendary Creature — Human Artificer",
        :layout-category :normal,
        :code "p30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/a/a/aaa010b4-5dd6-4e5b-954e-04e205a851b2.png?1676355432",
        :collector-number "30",
        :layout "normal",
        :name "Urza, Prince of Kroog",
        :oracle-text
        "Artifact creatures you control get +2/+2.\n{6}: Create a token that's a copy of target artifact you control, except it's a 1/1 Soldier creature in addition to its other types."})
