(#:card{:type-line "Creature — Angel",
        :layout-category :normal,
        :code "p30h",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/c/fc22536c-09b4-4dc3-9371-842d91c5251e.png?1682525345",
        :collector-number "1",
        :layout "normal",
        :name "Serra Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Creature — Angel",
        :layout-category :normal,
        :code "p30h",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/9/6996abea-6914-4c0c-863e-43f6d8a8daef.png?1682525624",
        :collector-number "1★",
        :layout "normal",
        :name "Serra Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Creature — Merfolk",
        :layout-category :normal,
        :code "p30h",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/7/970dcf24-6f33-4264-974c-65f0123bc1bd.png?1682525435",
        :collector-number "2",
        :layout "normal",
        :name "Lord of Atlantis",
        :oracle-text
        "Other Merfolk get +1/+1 and have islandwalk. (They can't be blocked as long as defending player controls an Island.)"}
 #:card{:type-line "Creature — Merfolk",
        :layout-category :normal,
        :code "p30h",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/f/7f5f2b62-292a-4794-abcc-d83d6b5800a1.png?1682525459",
        :collector-number "2★",
        :layout "normal",
        :name "Lord of Atlantis",
        :oracle-text
        "Other Merfolk get +1/+1 and have islandwalk. (They can't be blocked as long as defending player controls an Island.)"}
 #:card{:type-line "Creature — Vampire",
        :layout-category :normal,
        :code "p30h",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/6/a68a73de-838e-4d44-ad60-e7cc5e831cc6.png?1682525503",
        :collector-number "3",
        :layout "normal",
        :name "Sengir Vampire",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\nWhenever a creature dealt damage by Sengir Vampire this turn dies, put a +1/+1 counter on Sengir Vampire."}
 #:card{:type-line "Creature — Vampire",
        :layout-category :normal,
        :code "p30h",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/e/4ee0d81e-3450-450d-99da-e7d212eb9987.png?1682525511",
        :collector-number "3★",
        :layout "normal",
        :name "Sengir Vampire",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\nWhenever a creature dealt damage by Sengir Vampire this turn dies, put a +1/+1 counter on Sengir Vampire."}
 #:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "p30h",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/7/f76d1d4f-4911-46cd-8adb-af4b5eba48bb.png?1682526483",
        :collector-number "4",
        :layout "normal",
        :name "Shivan Dragon",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\n{R}: Shivan Dragon gets +1/+0 until end of turn."}
 #:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "p30h",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/d/3dbbfb7f-0e50-454b-a9a1-b4813a95112e.png?1682525554",
        :collector-number "4★",
        :layout "normal",
        :name "Shivan Dragon",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\n{R}: Shivan Dragon gets +1/+0 until end of turn."}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "p30h",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/0/a07f9f4b-fdac-42c7-b3e7-1852578a35c1.png?1682525570",
        :collector-number "5",
        :layout "normal",
        :name "Llanowar Elves",
        :oracle-text "{T}: Add {G}."}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "p30h",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/a/0a5ef93a-da5c-44cb-ade6-4ddbecba5614.png?1682525586",
        :collector-number "5★",
        :layout "normal",
        :name "Llanowar Elves",
        :oracle-text "{T}: Add {G}."})
