(#:card{:type-line "Legendary Creature — Human Designer",
        :layout-category :normal,
        :code "p30m",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/7/97720ff6-6209-4de1-9271-6b76ce4fbab3.png?1690463945",
        :collector-number "1★",
        :layout "normal",
        :name "Richard Garfield, Ph.D.",
        :oracle-text
        "You may play cards as though they were other cards of your choice with the same mana cost. You can't choose the same card twice. (Mana cost includes color.)"}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "p30m",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/9/e96d398f-7393-4b8e-9972-2d7c394d23ad.png?1690463947",
        :collector-number "1F",
        :layout "normal",
        :name "Arcane Signet",
        :oracle-text
        "{T}: Add one mana of any color in your commander's color identity."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "p30m",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/9/7910ce6c-5cde-436e-8d28-62723f0fd592.png?1690463950",
        :collector-number "1F★",
        :layout "normal",
        :name "Arcane Signet",
        :oracle-text
        "{T}: Add one mana of any color in your commander's color identity."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "p30m",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/3/13ce3ecf-5dd6-4ab3-8e79-d3cd33f00ad5.png?1690463954",
        :collector-number "1P",
        :layout "normal",
        :name "Arcane Signet",
        :oracle-text
        "{T}: Add one mana of any color in your commander's color identity."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "p30m",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/a/2a7a63b4-2946-4a25-acd4-742fec197ec0.png?1691401733",
        :collector-number "2",
        :layout "normal",
        :name "Lotus Petal",
        :oracle-text
        "{T}, Sacrifice Lotus Petal: Add one mana of any color."})
