(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "p30t",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/3/4/34bff307-1642-4f35-b11c-00fd41010277.png?1689758614",
        :collector-number "1",
        :layout "normal",
        :name "Destroy Evil",
        :oracle-text
        "Choose one —\n• Destroy target creature with toughness 4 or greater.\n• Destroy target enchantment."}
 #:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "p30t",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/8/18927987-aeea-4af3-a1ea-90949772e56a.png?1689758630",
        :collector-number "2",
        :layout "normal",
        :name "Shivan Dragon",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\n{R}: Shivan Dragon gets +1/+0 until end of turn."})
