(#:card{:code "p5dn",
        :collector-number "131★",
        :name "Helm of Kaldra",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0d8cfd4a-a001-4e87-a8db-31a61e3d7d27.png?1606846798",
        :type-line "Legendary Artifact — Equipment",
        :oracle-text
        "Equipped creature has first strike, trample, and haste.\n{1}: If you control Equipment named Helm of Kaldra, Sword of Kaldra, and Shield of Kaldra, create Kaldra, a legendary 4/4 colorless Avatar creature token. Attach those Equipment to it.\nEquip {2}"})
