(#:card{:code "p8ed",
        :collector-number "216★",
        :name "Rukh Egg",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e0b6ca1-9008-48dc-8103-2fe4def3c345.png?1606846972",
        :type-line "Creature — Bird Egg",
        :oracle-text
        "When Rukh Egg dies, create a 4/4 red Bird creature token with flying at the beginning of the next end step."})
