(#:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "p9ed",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a7a52f20-4567-4a69-9d27-73dbb71bf3d9.png?1606845735",
        :collector-number "219",
        :layout "normal",
        :name "Shivan Dragon",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\n{R}: Shivan Dragon gets +1/+0 until end of turn."}
 #:card{:type-line "Creature — Elemental",
        :layout-category :normal,
        :code "p9ed",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/4638a30d-48e9-42cb-bf5f-001b4259391c.png?1606845621",
        :collector-number "242★",
        :layout "normal",
        :name "Force of Nature",
        :oracle-text
        "Trample (This creature can deal excess combat damage to the player or planeswalker it's attacking.)\nAt the beginning of your upkeep, Force of Nature deals 8 damage to you unless you pay {G}{G}{G}{G}."})
