(#:card{:code "pal00",
        :collector-number "2",
        :name "Duress",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a7da9157-fdb6-477f-a605-5ee325410fda.png?1562636808",
        :type-line "Sorcery",
        :oracle-text
        "Target opponent reveals their hand. You choose a noncreature, nonland card from it. That player discards that card."}
 #:card{:code "pal00",
        :collector-number "3",
        :name "Uktabi Orangutan",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1f04144b-5943-4d24-8a1a-ff5009322fd7.png?1562636699",
        :type-line "Creature — Ape",
        :oracle-text
        "When Uktabi Orangutan enters the battlefield, destroy target artifact."}
 #:card{:code "pal00",
        :collector-number "4",
        :name "Chill",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fc9a7c57-bc83-4965-b670-144a0019b466.png?1562636896",
        :type-line "Enchantment",
        :oracle-text "Red spells cost {2} more to cast."}
 #:card{:code "pal00",
        :collector-number "5",
        :name "Pillage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/01230f9e-9d35-47a5-bd96-2cf584b439e3.png?1562636666",
        :type-line "Sorcery",
        :oracle-text
        "Destroy target artifact or land. It can't be regenerated."}
 #:card{:code "pal00",
        :collector-number "6",
        :name "Enlightened Tutor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/d/4d682f2d-cefa-451f-b58c-2d3c96de23f8.png?1562636735",
        :type-line "Instant",
        :oracle-text
        "Search your library for an artifact or enchantment card, reveal it, then shuffle and put that card on top."}
 #:card{:code "pal00",
        :collector-number "7",
        :name "Stupor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/3/632fd85f-036f-48ef-8b3a-36f3d14f4dce.png?1562636763",
        :type-line "Sorcery",
        :oracle-text
        "Target opponent discards a card at random, then discards a card."}
 #:card{:code "pal00",
        :collector-number "8",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d453e952-0b24-4b95-849c-25fecc9c683d.png?1562636865",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "pal00",
        :collector-number "9",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c4311e22-d106-456a-9d81-6d6c6fbee9a7.png?1562636844",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "pal00",
        :collector-number "10",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/4/e44f31c6-8837-4659-98b8-98206f18cf92.png?1562636875",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "pal00",
        :collector-number "11",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4be19a74-09c3-4eb3-ba77-3e7700779cde.png?1562636733",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "pal00",
        :collector-number "12",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/17d36674-2598-4df2-b9f3-0224ae08d37d.png?1562636685",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"})
