(#:card{:code "pal06",
        :collector-number "1",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06e9f14c-7be0-49ba-bec2-154dbd079cbb.png?1561756606",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "pal06",
        :collector-number "2",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cfe3a9db-7e66-4848-a4f6-15cff197ecc7.png?1561758112",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "pal06",
        :collector-number "3",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/ddb1c96c-3d3b-42a7-b40d-61c50a7e27d5.png?1561758224",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "pal06",
        :collector-number "4",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/df355668-ad20-4aa9-b829-cea82aa64ffd.png?1561758246",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "pal06",
        :collector-number "5",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e3ac5391-589d-4a16-af53-345b2ac1b163.png?1561758317",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "pal06",
        :collector-number "6",
        :name "Castigate",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/1/8114941e-71b8-4310-8c2a-bee7f940b724.png?1561757478",
        :type-line "Sorcery",
        :oracle-text
        "Target opponent reveals their hand. You choose a nonland card from it and exile that card."}
 #:card{:code "pal06",
        :collector-number "7",
        :name "Wee Dragonauts",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5fa5295c-31db-44b6-ad2e-6e748473d7fa.png?1619828236",
        :type-line "Creature — Faerie Wizard",
        :oracle-text
        "Flying\nWhenever you cast an instant or sorcery spell, Wee Dragonauts gets +2/+0 until end of turn."}
 #:card{:code "pal06",
        :collector-number "8",
        :name "Coiling Oracle",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0c7b0fa1-bfc2-4b15-80ea-47e41a17aa2c.png?1561756636",
        :type-line "Creature — Snake Elf Druid",
        :oracle-text
        "When Coiling Oracle enters the battlefield, reveal the top card of your library. If it's a land card, put it onto the battlefield. Otherwise, put that card into your hand."}
 #:card{:code "pal06",
        :collector-number "9",
        :name "Surging Flame",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/156994b5-a0f2-4d02-9bda-882e80d9905c.png?1561756701",
        :type-line "Instant",
        :oracle-text
        "Ripple 4 (When you cast this spell, you may reveal the top four cards of your library. You may cast spells with the same name as this spell from among those cards without paying their mana costs. Put the rest on the bottom of your library.)\nSurging Flame deals 2 damage to any target."})
