(#:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "pal03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/1/712bc34a-3888-4e33-ab83-8fcdd27fe4a6.png?1561757386",
        :collector-number "1",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "pal03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3ea0c673-7be0-4581-84a8-4d9d61657bab.png?1561756968",
        :collector-number "2",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "pal03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4b1a2844-4398-4d6f-b8f0-ffb3d9eb05f1.png?1561757088",
        :collector-number "3",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "pal03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/34a64eda-3db6-4ddb-8004-7b430fab76c4.png?1561756906",
        :collector-number "4",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "pal03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/8/18a854ab-41eb-4688-9e55-67047d93970f.png?1561756728",
        :collector-number "5",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "pal03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/24d9c8ea-bdb5-4d9a-9d1e-218540c4ad2c.png?1561756794",
        :collector-number "6",
        :layout "normal",
        :name "Skirk Marauder",
        :oracle-text
        "Morph {2}{R} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)\nWhen Skirk Marauder is turned face up, it deals 2 damage to any target."}
 #:card{:type-line "Creature — Elf Mutant",
        :layout-category :normal,
        :code "pal03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/0032a2ab-a385-47e4-843b-1ac677032dc4.png?1561756565",
        :collector-number "7",
        :layout "normal",
        :name "Elvish Aberration",
        :oracle-text
        "{T}: Add {G}{G}{G}.\nForestcycling {2} ({2}, Discard this card: Search your library for a Forest card, reveal it, put it into your hand, then shuffle.)"}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "pal03",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/ae31d513-7412-4467-b497-a7183ff29a42.png?1561757817",
        :collector-number "8",
        :layout "normal",
        :name "Bonesplitter",
        :oracle-text "Equipped creature gets +2/+0.\nEquip {1}"})
