(#:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "pal05",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/9/8954272c-fac8-41ee-8fa0-0f01f5cf353a.png?1561757523",
        :collector-number "1",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "pal05",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/d/9d8cc4a9-ca3f-4151-80af-a430b835c52c.png?1561757689",
        :collector-number "2",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "pal05",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4afa9474-c487-4a54-a2a1-21b84f6683a7.png?1561757083",
        :collector-number "3",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "pal05",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/ba719b3b-c328-4331-945e-a1758e9a51b2.png?1561757928",
        :collector-number "4",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "pal05",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1fd19809-f675-4fc8-afb2-12e5e636d26b.png?1561756771",
        :collector-number "5",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "pal05",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c15d933-63f3-42d5-aed4-0e420ee4a7d9.png?1561756837",
        :collector-number "6",
        :layout "normal",
        :name "Genju of the Spires",
        :oracle-text
        "Enchant Mountain\n{2}: Enchanted Mountain becomes a 6/1 red Spirit creature until end of turn. It's still a land.\nWhen enchanted Mountain is put into a graveyard, you may return Genju of the Spires from your graveyard to your hand."}
 #:card{:type-line "Creature — Human Monk",
        :layout-category :normal,
        :code "pal05",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7b2449d5-937b-4049-8eb2-3dd669c3f3aa.png?1561757444",
        :collector-number "7",
        :layout "normal",
        :name "Okina Nightwatch",
        :oracle-text
        "As long as you have more cards in hand than each opponent, Okina Nightwatch gets +3/+3."}
 #:card{:type-line "Creature — Human Knight",
        :layout-category :normal,
        :code "pal05",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e1e4a4bf-6fd4-46b9-8f1d-c20c52e992f6.png?1561758286",
        :collector-number "8",
        :layout "normal",
        :name "Skyknight Legionnaire",
        :oracle-text "Flying, haste"})
