(#:card{:code "pal99",
        :collector-number "1",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/f/0f3f309f-60bd-45e2-b226-27e634fe62d6.png?1561756659",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "pal99",
        :collector-number "2",
        :name "Pouncing Jaguar",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/2/b2860980-7be2-4fdc-b758-4f7d2a9eab43.png?1561757843",
        :type-line "Creature — Cat",
        :oracle-text
        "Echo {G} (At the beginning of your upkeep, if this came under your control since the beginning of your last upkeep, sacrifice it unless you pay its echo cost.)"}
 #:card{:code "pal99",
        :collector-number "3",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7afa126e-bc99-46c4-9205-c33802aa06e7.png?1561757441",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "pal99",
        :collector-number "4",
        :name "Skittering Skirge",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/5/2511d12b-77eb-4ed8-8bb2-71c94d496dae.png?1561756797",
        :type-line "Creature — Phyrexian Imp",
        :oracle-text
        "Flying\nWhen you cast a creature spell, sacrifice Skittering Skirge."}
 #:card{:code "pal99",
        :collector-number "5",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/ae6ad5a0-a58f-4dac-95d4-85bf4d6c3082.png?1561757819",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "pal99",
        :collector-number "6",
        :name "Rewind",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8b9a0fc6-b28c-4065-abaa-90b324288da2.png?1561757540",
        :type-line "Instant",
        :oracle-text "Counter target spell. Untap up to four lands."}
 #:card{:code "pal99",
        :collector-number "7",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/d/4d3f41dc-72f6-4346-b95f-4813addb5af0.png?1561757104",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "pal99",
        :collector-number "8",
        :name "Karn, Silver Golem",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a53d0e7-2dfd-48d3-88a8-286736b1e0d4.png?1561756627",
        :type-line "Legendary Artifact Creature — Golem",
        :oracle-text
        "Whenever Karn, Silver Golem blocks or becomes blocked, it gets -4/+4 until end of turn.\n{1}: Target noncreature artifact becomes an artifact creature with power and toughness each equal to its mana value until end of turn."}
 #:card{:code "pal99",
        :collector-number "9",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/7953bca9-ed74-485d-860f-9574d6783284.png?1561757430",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"})
