(#:card{:code "palp",
        :collector-number "1",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7aee0798-703a-40e1-9a01-dfbaceb255f4.png?1562639872",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "palp",
        :collector-number "2",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/8/082f6551-2332-4a9b-9865-aae19156b3dd.png?1562639660",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "palp",
        :collector-number "3",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c5a93b1c-51aa-483c-b33b-76b5a74a067d.png?1587945146",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "palp",
        :collector-number "4",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/e/5e8b29d9-b20c-437f-96ec-1b0009719820.png?1562639824",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "palp",
        :collector-number "5",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/913f761f-dd7b-4c91-b4e9-5903f86079f0.png?1562639928",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "palp",
        :collector-number "6",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0ec326ea-771a-4cb4-8d4e-b3b189e8cd78.png?1562639672",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "palp",
        :collector-number "7",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/140d4a7b-95b6-4911-99b5-7e8586255fc7.png?1562639688",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "palp",
        :collector-number "8",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e1af2d09-908e-442e-a9d0-9c618a71a327.png?1562640095",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "palp",
        :collector-number "9",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/9/09c9e066-5bff-4e35-bc21-5054b9ff07a2.png?1562639663",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "palp",
        :collector-number "10",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b42c421-da39-41e1-af2e-005aebb3a7c7.png?1562639726",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "palp",
        :collector-number "11",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/3/93dc440e-53f8-45d7-bc3b-c9b9a67767de.png?1562639932",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "palp",
        :collector-number "12",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/0/c0360544-7ec7-43a4-8c15-b2471ec0c125.png?1562640024",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "palp",
        :collector-number "13",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fadd5e4b-9833-4564-a7d2-3ac1364f40d5.png?1562640144",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "palp",
        :collector-number "14",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/46ca9523-e126-467d-9d78-823d2e89837d.png?1562639779",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "palp",
        :collector-number "15",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3e033e21-8003-4a19-a711-d23cd1d718cc.png?1562639759",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"})
