(#:card{:type-line "Scheme",
        :layout-category :normal,
        :code "parc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/438cab33-ffb1-4fba-8c2a-2c91fd39b9a2.png?1561757009",
        :collector-number "54",
        :layout "scheme",
        :name "Plots That Span Centuries",
        :oracle-text
        "When you set this scheme in motion, the next time you would set a scheme in motion, set three schemes in motion instead."}
 #:card{:type-line "Scheme",
        :layout-category :normal,
        :code "parc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/f/9fdda372-05b0-47ca-ac74-713037bcac17.png?1563792218",
        :collector-number "55",
        :layout "scheme",
        :name "Perhaps You've Met My Cohort",
        :oracle-text
        "When you set this scheme in motion, search your library for a planeswalker card, put it onto the battlefield, then shuffle your library."}
 #:card{:type-line "Ongoing Scheme",
        :layout-category :normal,
        :code "parc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/b/9badcc58-0281-499c-9e1f-5d894761ca61.png?1561757660",
        :collector-number "56",
        :layout "scheme",
        :name "Your Inescapable Doom",
        :oracle-text
        "(An ongoing scheme remains face up.)\nAt the beginning of your end step, put a doom counter on this scheme, then this scheme deals damage equal to the number of doom counters on it to the opponent with the highest life total among your opponents. If two or more players are tied for highest life total, you choose one."}
 #:card{:type-line "Scheme",
        :layout-category :normal,
        :code "parc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/14e5d253-e075-4df4-98af-4ae43c000634.png?1561756692",
        :collector-number "57",
        :layout "scheme",
        :name "Drench the Soil in Their Blood",
        :oracle-text
        "When you set this scheme in motion, after this main phase, there is an additional combat phase followed by an additional main phase. Creatures you control gain vigilance until end of turn."}
 #:card{:type-line "Ongoing Scheme",
        :layout-category :normal,
        :code "parc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fee17785-2a29-4998-a34e-b738de955d53.png?1561758494",
        :collector-number "58",
        :layout "scheme",
        :name "Imprison This Insolent Wretch",
        :oracle-text
        "(An ongoing scheme remains face up until it's abandoned.)\nWhen you set this scheme in motion, choose an opponent.\nPermanents the chosen player controls don't untap during their untap step.\nWhen the chosen player is attacked or becomes the target of a spell or ability, abandon this scheme."})
