(#:card{:collector-number "1",
        :name "Plains",
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/4/64da69b8-c9cf-4cca-bd15-36270242db41.png?1561757295",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:collector-number "2",
        :name "Island",
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fd08f69b-4210-4f24-b038-9507f04f3214.png?1561758478",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:collector-number "3",
        :name "Swamp",
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/72519051-4cf0-4273-8679-e0c1cb9e0c95.png?1561757390",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:collector-number "4",
        :name "Mountain",
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/2/22b85759-532d-4632-a2e0-c598597133a8.png?1561756784",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:collector-number "5",
        :name "Forest",
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/19aee1cd-4314-44f4-8357-fc300a6fc046.png?1561756734",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:collector-number "6",
        :name "Disenchant",
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/1/d1015077-3c6d-4c46-a240-26b74e453cd8.png?1561758126",
        :type-line "Instant",
        :oracle-text "Destroy target artifact or enchantment."}
 #:card{:collector-number "7",
        :name "Fireball",
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/3/33e95953-0bd1-4bfc-b9e8-58cee092871a.png?1561756895",
        :type-line "Sorcery",
        :oracle-text
        "This spell costs {1} more to cast for each target beyond the first.\nFireball deals X damage divided evenly, rounded down, among any number of targets."})
