(#:card{:code "past",
        :collector-number "1",
        :name "Aswan Jaguar",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/6/76fab0bc-abc0-4e9f-ae06-b7d748cb073d.png?1591116088",
        :type-line "Summon Jaguar",
        :oracle-text
        "When Aswan Jaguar comes into play, choose a random creature type from those in target opponent's deck.\n{G}{G}, {T}: Bury target creature of the chosen type."}
 #:card{:code "past",
        :collector-number "2",
        :name "Call from the Grave",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/141533b5-2748-437a-8882-8e1643de12ae.png?1591117839",
        :type-line "Sorcery",
        :oracle-text
        "Put a random creature from a random graveyard into play under your control. Call from the Grave deals to you an amount of damage equal to that creature's casting cost."}
 #:card{:code "past",
        :collector-number "3",
        :name "Faerie Dragon",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3e8a5cc8-5565-4372-bdfe-a82d672b644c.png?1591116286",
        :type-line "Summon Dragon",
        :oracle-text "Flying\n{1}{G}{G}: Play a random effect."}
 #:card{:code "past",
        :collector-number "4",
        :name "Goblin Polka Band",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/86419b05-8199-4137-86a2-b341ad380770.png?1591117258",
        :type-line "Summon Goblin",
        :oracle-text
        "{2}, {T}, Pay {R} for each target: Tap any number of random target creatures. Goblins tapped in this way do not untap during their controllers' next untap phases."}
 #:card{:code "past",
        :collector-number "5",
        :name "Necropolis of Azar",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f17886ea-5dcf-4a92-9896-284bf3188998.png?1609172026",
        :type-line "Enchantment",
        :oracle-text
        "Whenever a non-black creature is put into any graveyard from play, put a husk counter on Necropolis of Azar.\n{5}, Remove a husk counter from Necropolis of Azar: Put a Spawn of Azar token into play. Treat this token as a black creature with a random power and toughness, each no less than 1 and no greater than 3, that has swampwalk."}
 #:card{:code "past",
        :collector-number "6",
        :name "Orcish Catapult",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/27e37cd7-1e01-464d-933f-8326d677b126.png?1593332540",
        :type-line "Instant",
        :oracle-text
        "Randomly distribute X -0/-1 counters among a random number of random target creatures."}
 #:card{:code "past",
        :collector-number "7",
        :name "Power Struggle",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/55103248-6192-413a-ab69-a956c7c0587a.png?1591117490",
        :type-line "Enchantment",
        :oracle-text
        "During each player's upkeep, that player exchanges control of random target artifact, creature or land he or she controls, for control of random target permanent of the same type that a random opponent controls."}
 #:card{:code "past",
        :collector-number "8",
        :name "Prismatic Dragon",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/f/ef59f284-dc3c-4b4f-acc4-fc8080d8dc23.png?1591117500",
        :type-line "Summon Dragon",
        :oracle-text
        "Flying\nDuring your upkeep, Prismatic Dragon becomes a random color permanently.\n{2}: Prismatic Dragon becomes a random color permanently."}
 #:card{:code "past",
        :collector-number "9",
        :name "Rainbow Knights",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/2/8205deb1-4dcc-4c0b-9dc9-a2bb65b251c1.png?1591117616",
        :type-line "Summon Knights",
        :oracle-text
        "When Rainbow Knights comes into play, it gains protection from a random color permanently.\n{1}: First strike until end of turn.\n{W}{W}: +0/+0, +1/+0 or +2/+0 until end of turn chosen at random."}
 #:card{:code "past",
        :collector-number "10",
        :name "Whimsy",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff257509-8035-45c7-a0d7-ab55449a99c9.png?1591116753",
        :type-line "Sorcery",
        :oracle-text "Play X random fast effects."}
 #:card{:code "past",
        :collector-number "11",
        :name "Pandora's Box",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d5cf7e7d-0d73-4760-b844-e9c3faf6fe20.png?1591117720",
        :type-line "Artifact",
        :oracle-text
        "{3}, {T}: Choose a random summon card from all players' decks. For each player, flip a coin. If the flip ends up heads, put a token creature into play and treat it as though an exact copy of the chosen summon card were just played."}
 #:card{:code "past",
        :collector-number "12",
        :name "Gem Bazaar",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/ab186e91-3a4b-4916-a57d-cef8caea00cd.png?1591116843",
        :type-line "Land",
        :oracle-text
        "When Gem Bazaar comes into play, choose a random color.\n{T}: Add to your mana pool one mana of the color last chosen. Then choose a random color."})
