(#:card{:type-line "Legendary Creature — Angel",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca5741c1-99b2-450e-93d7-d5c648851de7.png?1561897103",
        :collector-number "3s",
        :layout "normal",
        :name "Regna, the Redeemer",
        :oracle-text
        "Partner with Krav, the Unredeemed (When this creature enters the battlefield, target player may put Krav into their hand from their library, then shuffle.)\nFlying\nAt the beginning of each end step, if your team gained life this turn, create two 1/1 white Warrior creature tokens."}
 #:card{:type-line "Legendary Creature — Demon",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a255a75-2fbd-43d5-974e-8196da0be810.png?1561897028",
        :collector-number "4s",
        :layout "normal",
        :name "Krav, the Unredeemed",
        :oracle-text
        "Partner with Regna, the Redeemer (When this creature enters the battlefield, target player may put Regna into their hand from their library, then shuffle.)\n{B}, Sacrifice X creatures: Target player draws X cards and gains X life. Put X +1/+1 counters on Krav, the Unredeemed."}
 #:card{:type-line "Legendary Creature — Homunculus",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c370b8c-fa8c-4a80-82a7-f81c6a924078.png?1561897041",
        :collector-number "5s",
        :layout "normal",
        :name "Zndrsplt, Eye of Wisdom",
        :oracle-text
        "Partner with Okaun, Eye of Chaos (When this creature enters the battlefield, target player may put Okaun into their hand from their library, then shuffle.)\nAt the beginning of combat on your turn, flip a coin until you lose a flip.\nWhenever a player wins a coin flip, draw a card."}
 #:card{:type-line "Legendary Creature — Cyclops Berserker",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/c/ec874b1b-0bdc-47c8-a2a8-15ec47ea3510.png?1561897112",
        :collector-number "6s",
        :layout "normal",
        :name "Okaun, Eye of Chaos",
        :oracle-text
        "Partner with Zndrsplt, Eye of Wisdom (When this creature enters the battlefield, target player may put Zndrsplt into their hand from their library, then shuffle.)\nAt the beginning of combat on your turn, flip a coin until you lose a flip.\nWhenever a player wins a coin flip, double Okaun's power and toughness until end of turn."}
 #:card{:type-line "Legendary Creature — Azra Assassin",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/b/9bc530fa-fc57-4328-8365-55f8ad5e6d46.png?1561897094",
        :collector-number "7s",
        :layout "normal",
        :name "Virtus the Veiled",
        :oracle-text
        "Partner with Gorm the Great (When this creature enters the battlefield, target player may put Gorm into their hand from their library, then shuffle.)\nDeathtouch\nWhenever Virtus the Veiled deals combat damage to a player, that player loses half their life, rounded up."}
 #:card{:type-line "Legendary Creature — Giant Warrior",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff53fe9d-6470-4a43-8ebb-579b602d83d7.png?1561897116",
        :collector-number "8s",
        :layout "normal",
        :name "Gorm the Great",
        :oracle-text
        "Partner with Virtus the Veiled (When this creature enters the battlefield, target player may put Virtus into their hand from their library, then shuffle.)\nVigilance\nGorm the Great must be blocked if able, and Gorm must be blocked by two or more creatures if able."}
 #:card{:type-line "Legendary Creature — Dragon",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/32c9cc8f-913e-46b4-9e17-050f977e77f3.png?1561897045",
        :collector-number "9s",
        :layout "normal",
        :name "Khorvath Brightflame",
        :oracle-text
        "Partner with Sylvia Brightspear (When this creature enters the battlefield, target player may put Sylvia into their hand from their library, then shuffle.)\nFlying, haste\nKnights your team controls have flying and haste."}
 #:card{:type-line "Legendary Creature — Human Knight",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/564a9faa-71a6-4481-ac7e-1fc0f9b11e1a.png?1561897072",
        :collector-number "10s",
        :layout "normal",
        :name "Sylvia Brightspear",
        :oracle-text
        "Partner with Khorvath Brightflame (When this creature enters the battlefield, target player may put Khorvath into their hand from their library, then shuffle.)\nDouble strike\nDragons your team controls have double strike."}
 #:card{:type-line "Legendary Creature — Human",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/47ecc3d2-38bf-400d-b3de-041c58d44936.png?1561897059",
        :collector-number "11s",
        :layout "normal",
        :name "Pir, Imaginative Rascal",
        :oracle-text
        "Partner with Toothy, Imaginary Friend (When this creature enters the battlefield, target player may put Toothy into their hand from their library, then shuffle.)\nIf one or more counters would be put on a permanent your team controls, that many plus one of each of those kinds of counters are put on that permanent instead."}
 #:card{:type-line "Legendary Creature — Illusion",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/e/5eb19741-eaa1-4488-ad4c-e1bdcafbe5e8.png?1561897076",
        :collector-number "12s",
        :layout "normal",
        :name "Toothy, Imaginary Friend",
        :oracle-text
        "Partner with Pir, Imaginative Rascal (When this creature enters the battlefield, target player may put Pir into their hand from their library, then shuffle.)\nWhenever you draw a card, put a +1/+1 counter on Toothy, Imaginary Friend.\nWhen Toothy leaves the battlefield, draw a card for each +1/+1 counter on it."}
 #:card{:type-line "Creature — Elf Warrior",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/03d8a49d-8a6a-4160-9b64-e825f2b9081e.png?1561897024",
        :collector-number "13s",
        :layout "normal",
        :name "Blaring Recruiter",
        :oracle-text
        "Partner with Blaring Captain (When this creature enters the battlefield, target player may put Blaring Captain into their hand from their library, then shuffle.)\n{2}{W}: Create a 1/1 white Warrior creature token."}
 #:card{:type-line "Creature — Azra Warrior",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/3885e78d-b281-4dfa-ae71-de15817a944d.png?1561897054",
        :collector-number "14s",
        :layout "normal",
        :name "Blaring Captain",
        :oracle-text
        "Partner with Blaring Recruiter (When this creature enters the battlefield, target player may put Blaring Recruiter into their hand from their library, then shuffle.)\nWhenever Blaring Captain attacks, attacking Warriors get +1/+1 until end of turn."}
 #:card{:type-line "Creature — Elemental Dog",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/1/717e9bc4-14ac-419f-95ae-e97f4dcf7499.png?1561897085",
        :collector-number "15s",
        :layout "normal",
        :name "Chakram Retriever",
        :oracle-text
        "Partner with Chakram Slinger (When this creature enters the battlefield, target player may put Chakram Slinger into their hand from their library, then shuffle.)\nWhenever you cast a spell during your turn, untap target creature."}
 #:card{:type-line "Creature — Human Warrior",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c5f7446-836d-4df1-91b9-f3a47d1f640e.png?1561897098",
        :collector-number "16s",
        :layout "normal",
        :name "Chakram Slinger",
        :oracle-text
        "Partner with Chakram Retriever (When this creature enters the battlefield, target player may put Chakram Retriever into their hand from their library, then shuffle.)\n{R}, {T}: Chakram Slinger deals 2 damage to target player or planeswalker."}
 #:card{:type-line "Creature — Human Warrior",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e81b80d3-d109-4d9e-8576-15f09dc1cbb9.png?1561897106",
        :collector-number "17s",
        :layout "normal",
        :name "Soulblade Corrupter",
        :oracle-text
        "Partner with Soulblade Renewer (When this creature enters the battlefield, target player may put Soulblade Renewer into their hand from their library, then shuffle.)\nDeathtouch\nWhenever a creature with a +1/+1 counter on it attacks one of your opponents, that creature gains deathtouch until end of turn."}
 #:card{:type-line "Creature — Elf Warrior",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/98c7bdf9-cda0-4498-8f6e-c7e8bc735fd8.png?1561897089",
        :collector-number "18s",
        :layout "normal",
        :name "Soulblade Renewer",
        :oracle-text
        "Partner with Soulblade Corrupter (When this creature enters the battlefield, target player may put Soulblade Corrupter into their hand from their library, then shuffle.)\nWhen Soulblade Renewer enters the battlefield, support 2. (Put a +1/+1 counter on each of up to two other target creatures.)"}
 #:card{:type-line "Creature — Human Warrior",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/34c18b74-75ae-4716-8e1c-613a0553ef98.png?1561897050",
        :collector-number "19s",
        :layout "normal",
        :name "Impetuous Protege",
        :oracle-text
        "Partner with Proud Mentor (When this creature enters the battlefield, target player may put Proud Mentor into their hand from their library, then shuffle.)\nWhenever Impetuous Protege attacks, it gets +X/+0 until end of turn, where X is the greatest power among tapped creatures your opponents control."}
 #:card{:type-line "Creature — Human Warrior",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/15e49a01-115c-47e5-b1e8-11171b7c6d0b.png?1561897032",
        :collector-number "20s",
        :layout "normal",
        :name "Proud Mentor",
        :oracle-text
        "Partner with Impetuous Protege (When this creature enters the battlefield, target player may put Impetuous Protege into their hand from their library, then shuffle.)\n{W}, {T}: Tap target creature."}
 #:card{:type-line "Creature — Human Druid",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/4/64fad61c-4bca-4d61-a59c-7d752bc373fa.png?1561897080",
        :collector-number "21s",
        :layout "normal",
        :name "Ley Weaver",
        :oracle-text
        "Partner with Lore Weaver (When this creature enters the battlefield, target player may put Lore Weaver into their hand from their library, then shuffle.)\n{T}: Untap two target lands."}
 #:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/5493d051-4dcc-4415-a1ad-368f260257f5.png?1561897068",
        :collector-number "22s",
        :layout "normal",
        :name "Lore Weaver",
        :oracle-text
        "Partner with Ley Weaver (When this creature enters the battlefield, target player may put Ley Weaver into their hand from their library, then shuffle.)\n{5}{U}{U}: Target player draws two cards."}
 #:card{:type-line "Legendary Planeswalker — Will",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4c6b3af5-f78c-45ac-ac16-0fdd53e7ccb6.png?1561897063",
        :collector-number "255s",
        :layout "normal",
        :name "Will Kenrith",
        :oracle-text
        "+2: Until your next turn, up to two target creatures each have base power and toughness 0/3 and lose all abilities.\n−2: Target player draws two cards. Until your next turn, instant, sorcery, and planeswalker spells that player casts cost {2} less to cast.\n−8: Target player gets an emblem with \"Whenever you cast an instant or sorcery spell, copy it. You may choose new targets for the copy.\"\nPartner with Rowan Kenrith\nWill Kenrith can be your commander."}
 #:card{:type-line "Legendary Planeswalker — Rowan",
        :layout-category :normal,
        :code "pbbd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/1/2120a046-9c8c-47e9-93d5-46841794ba5c.png?1561897036",
        :collector-number "256s",
        :layout "normal",
        :name "Rowan Kenrith",
        :oracle-text
        "+2: During target player's next turn, each creature that player controls attacks if able.\n−2: Rowan Kenrith deals 3 damage to each tapped creature target player controls.\n−8: Target player gets an emblem with \"Whenever you activate an ability that isn't a mana ability, copy it. You may choose new targets for the copy.\"\nPartner with Will Kenrith\nRowan Kenrith can be your commander."})
