(#:card{:type-line "Legendary Planeswalker — Jace",
        :layout-category :normal,
        :code "pbook",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/39a89c44-1aa7-4f2e-909b-d821ec2b7948.png?1561756358",
        :collector-number "1",
        :layout "normal",
        :name "Jace Beleren",
        :oracle-text
        "+2: Each player draws a card.\n−1: Target player draws a card.\n−10: Target player mills twenty cards."})
