(#:card{:type-line "Summon — Legend",
        :layout-category :normal,
        :code "pcel",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/3/d3f10f07-7cfe-4a6f-8de6-373e367a731b.png?1642038778",
        :collector-number "1",
        :layout "normal",
        :name "1996 World Champion",
        :oracle-text
        "Cannot be the target of spells or effects. World Champion has power and toughness equal to the life total of target opponent.\n{0}: Discard your hand to search your library for 1996 World Champion and reveal it to all players. Shuffle your library and put 1996 World Champion on top of it. Use this ability only at the beginning of your upkeep, and only if 1996 World Champion is in your library."}
 #:card{:type-line "Summon — Dragon",
        :layout-category :normal,
        :code "pcel",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/9/a934c126-2db2-4468-8f70-b8f688d782da.png?1642054388",
        :collector-number "2",
        :layout "normal",
        :name "Shichifukujin Dragon",
        :oracle-text
        "When Shichifukujin Dragon comes into play, put seven +1/+1 counters on it.\n{R}{R}{R}, Sacrifice two +1/+1 counters: Put three +1/+1 counters on Shichifukujin Dragon at end of turn. Play this ability as a sorcery."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pcel",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/1/d183cc80-a9ce-4290-bf65-f8202f508ac0.png?1561758127",
        :collector-number "3",
        :layout "normal",
        :name "Proposal",
        :oracle-text
        "Allows Richard to propose marriage to Lily. If the proposal is accepted both players win; mix the cards in play, both libraries, and both graveyards as a shared deck."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pcel",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f62e8120-7aca-49c2-91b2-2622e27cf281.png?1627666379",
        :collector-number "4",
        :layout "normal",
        :name "Splendid Genesis",
        :oracle-text
        "Shuffle all cards in the game together and deal them into three decks. The game continues with a new player."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pcel",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6c3490c9-7c41-4eaa-8987-d81f05e63122.png?1561757366",
        :collector-number "5",
        :layout "normal",
        :name "Fraternal Exaltation",
        :oracle-text
        "Sneak into your parents' closet to get a deck. Your new brother is joining the game."}
 #:card{:type-line "Artifact Creature — Chicken Construct",
        :layout-category :normal,
        :code "pcel",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/a/9a7a3277-0a61-4afa-bba6-6706f90adb3c.png?1616251802",
        :collector-number "6",
        :layout "normal",
        :name "Robot Chicken",
        :oracle-text
        "Whenever you cast a spell, put a 0/1 colorless Egg artifact creature token onto the battlefield.\nWhenever an Egg you control is put into a graveyard from the battlefield, destroy target artifact or creature."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pcel",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/f/bf56619f-3dbb-484d-8d9c-0412fc944067.png?1561757972",
        :collector-number "7",
        :layout "normal",
        :name "Phoenix Heart",
        :oracle-text
        "Koni and Richard continue the game and play all games as partners forever."})
