(#:card{:code "pcmd",
        :collector-number "184",
        :name "Basandra, Battle Seraph",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b7d24c68-b964-40e3-87f0-92e7bae05e75.png?1561757895",
        :type-line "Legendary Creature — Angel",
        :oracle-text
        "Flying\nPlayers can't cast spells during combat.\n{R}: Target creature attacks this turn if able."}
 #:card{:code "pcmd",
        :collector-number "196",
        :name "Edric, Spymaster of Trest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c982bc31-f100-4652-af39-18dd1998e621.png?1561758063",
        :type-line "Legendary Creature — Elf Rogue",
        :oracle-text
        "Whenever a creature deals combat damage to one of your opponents, its controller may draw a card."}
 #:card{:code "pcmd",
        :collector-number "213",
        :name "Nin, the Pain Artist",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/992420a5-f6c4-4310-a2d0-fe6893765aa2.png?1561757643",
        :type-line "Legendary Creature — Vedalken Wizard",
        :oracle-text
        "{X}{U}{R}, {T}: Nin, the Pain Artist deals X damage to target creature. That creature's controller draws X cards."}
 #:card{:code "pcmd",
        :collector-number "227",
        :name "Skullbriar, the Walking Grave",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/f/0ff784a8-cad2-4e81-b3a8-cf8c13cbc101.png?1561756664",
        :type-line "Legendary Creature — Zombie Elemental",
        :oracle-text
        "Haste\nWhenever Skullbriar, the Walking Grave deals combat damage to a player, put a +1/+1 counter on it.\nCounters remain on Skullbriar as it moves to any zone other than a player's hand or library."}
 #:card{:code "pcmd",
        :collector-number "234",
        :name "Vish Kal, Blood Arbiter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/926d6c8b-88c1-46f9-ba3c-5ddd8328e421.png?1561757593",
        :type-line "Legendary Creature — Vampire",
        :oracle-text
        "Flying, lifelink\nSacrifice a creature: Put X +1/+1 counters on Vish Kal, Blood Arbiter, where X is the sacrificed creature's power.\nRemove all +1/+1 counters from Vish Kal: Target creature gets -1/-1 until end of turn for each +1/+1 counter removed this way."})
