(#:card{:code "pcmp",
        :collector-number "1",
        :name "Electrolyze",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/521a1843-e604-4954-be21-38b31867f670.png?1562384951",
        :type-line "Instant",
        :oracle-text
        "Electrolyze deals 2 damage divided as you choose among one or two targets.\nDraw a card."}
 #:card{:code "pcmp",
        :collector-number "2",
        :name "Niv-Mizzet, the Firemind",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/1531face-701e-4b4b-af47-ddac71c93928.png?1562384944",
        :type-line "Legendary Creature — Dragon Wizard",
        :oracle-text
        "Flying\nWhenever you draw a card, Niv-Mizzet, the Firemind deals 1 damage to any target.\n{T}: Draw a card."}
 #:card{:code "pcmp",
        :collector-number "3",
        :name "Rakdos Guildmage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/5211b39a-cbf3-4aec-861e-cf721da53c6d.png?1562384949",
        :type-line "Creature — Zombie Shaman",
        :oracle-text
        "({B/R} can be paid with either {B} or {R}.)\n{3}{B}, Discard a card: Target creature gets -2/-2 until end of turn.\n{3}{R}: Create a 2/1 red Goblin creature token with haste. Exile it at the beginning of the next end step."}
 #:card{:code "pcmp",
        :collector-number "4",
        :name "Voidslime",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/265c269e-1b5e-4e5f-873f-7733bd4142aa.png?1562384947",
        :type-line "Instant",
        :oracle-text
        "Counter target spell, activated ability, or triggered ability. (Mana abilities can't be targeted.)"}
 #:card{:code "pcmp",
        :collector-number "5",
        :name "Urza's Factory",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/f/6f5725dc-82a7-48b3-857e-7ccbf3726cbd.png?1562384954",
        :type-line "Land — Urza’s",
        :oracle-text
        "{T}: Add {C}.\n{7}, {T}: Create a 2/2 colorless Assembly-Worker artifact creature token."}
 #:card{:code "pcmp",
        :collector-number "6",
        :name "Serra Avenger",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f3e3374a-e2e3-4c81-aa4f-098b190bbf66.png?1562384958",
        :type-line "Creature — Angel",
        :oracle-text
        "You can't cast this spell during your first, second, or third turns of the game.\nFlying, vigilance"}
 #:card{:code "pcmp",
        :collector-number "7",
        :name "Blood Knight",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/4/64d02c9b-7362-4479-b26d-7de843bd2ac3.png?1562384952",
        :type-line "Creature — Human Knight",
        :oracle-text "First strike, protection from white"}
 #:card{:code "pcmp",
        :collector-number "8",
        :name "Groundbreaker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/1692ba5a-7ccd-4623-876d-a587d6491cec.png?1562384945",
        :type-line "Creature — Elemental",
        :oracle-text
        "Trample, haste\nAt the beginning of the end step, sacrifice Groundbreaker."}
 #:card{:code "pcmp",
        :collector-number "9",
        :name "Imperious Perfect",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4bffc964-b397-409c-8d3a-9f52107e09ca.png?1562384948",
        :type-line "Creature — Elf Warrior",
        :oracle-text
        "Other Elves you control get +1/+1.\n{G}, {T}: Create a 1/1 green Elf Warrior creature token."}
 #:card{:code "pcmp",
        :collector-number "10",
        :name "Doran, the Siege Tower",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f78edb37-e36e-4761-8293-154744040d65.png?1562384960",
        :type-line "Legendary Creature — Treefolk Shaman",
        :oracle-text
        "Each creature assigns combat damage equal to its toughness rather than its power."}
 #:card{:code "pcmp",
        :collector-number "11",
        :name "Bramblewood Paragon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca687bef-3503-4020-a054-953152be7aad.png?1562384957",
        :type-line "Creature — Elf Warrior",
        :oracle-text
        "Each other Warrior creature you control enters the battlefield with an additional +1/+1 counter on it.\nEach creature you control with a +1/+1 counter on it has trample."}
 #:card{:code "pcmp",
        :collector-number "12",
        :name "Mutavault",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/5/85985b9a-274a-49be-be46-6e32efcce9fb.png?1562384955",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}.\n{1}: Mutavault becomes a 2/2 creature with all creature types until end of turn. It's still a land."})
