(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "pcmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/e/fecc2117-fff8-4852-b31b-b494648b1770.png?1710201761",
        :collector-number "107p",
        :layout "normal",
        :name "Wrong Turn",
        :oracle-text
        "Target opponent gains control of target creature. (If an attacking or blocking creature changes controllers, it's removed from combat.)"}
 #:card{:type-line "Creature — Human Rogue",
        :layout-category :normal,
        :code "pcmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/b/8b0336f5-e6a2-49e0-8d8e-760adf7112b7.png?1709435266",
        :collector-number "141p",
        :layout "normal",
        :name "Opposition Agent",
        :oracle-text
        "Flash\nYou control your opponents while they're searching their libraries.\nWhile an opponent is searching their library, they exile each card they find. You may play those cards for as long as they remain exiled, and you may spend mana as though it were mana of any color to cast them."})
