(#:card{:code "pcon",
        :collector-number "117★",
        :name "Malfegor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/104fd4d9-a911-401a-95ae-50e0502ed35b.png?1606760810",
        :type-line "Legendary Creature — Demon Dragon",
        :oracle-text
        "Flying\nWhen Malfegor enters the battlefield, discard your hand. Each opponent sacrifices a creature for each card discarded this way."}
 #:card{:code "pcon",
        :collector-number "140★",
        :name "Obelisk of Alara",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/0/90299569-65c5-4dd9-ac7e-320b64ec62ac.png?1606761349",
        :type-line "Artifact",
        :oracle-text
        "{1}{W}, {T}: You gain 5 life.\n{1}{U}, {T}: Draw a card, then discard a card.\n{1}{B}, {T}: Target creature gets -2/-2 until end of turn.\n{1}{R}, {T}: Obelisk of Alara deals 3 damage to target player or planeswalker.\n{1}{G}, {T}: Target creature gets +4/+4 until end of turn."})
