(#:card{:type-line "Token Legendary Creature — Avatar",
        :layout-category :normal,
        :code "pcsp",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/f/8f5c3863-c876-48a8-9bc8-be20cd61074c.png?1606847376",
        :collector-number "1",
        :layout "token",
        :name "Marit Lage",
        :oracle-text "Flying, indestructible"}
 #:card{:type-line "Creature — Elf Warrior",
        :layout-category :normal,
        :code "pcsp",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/471e6542-45d4-4974-85d0-5e0a8881e622.png?1606844992",
        :collector-number "101★",
        :layout "normal",
        :name "Allosaurus Rider",
        :oracle-text
        "You may exile two green cards from your hand rather than pay this spell's mana cost.\nAllosaurus Rider's power and toughness are each equal to 1 plus the number of lands you control."})
