(#:card{:type-line "Creature — Zombie Imp",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/4/e43bf79f-faea-4a35-8b3a-e282fc2f19af.png?1562940774",
        :collector-number "1",
        :layout "normal",
        :name "Putrid Imp",
        :oracle-text
        "Discard a card: Putrid Imp gains flying until end of turn.\nThreshold — As long as seven or more cards are in your graveyard, Putrid Imp gets +1/+1 and can't block."}
 #:card{:type-line "Creature — Horror",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/751b406f-59cd-4059-9c2d-eb3ee8133444.png?1562918476",
        :collector-number "2",
        :layout "normal",
        :name "Hidden Horror",
        :oracle-text
        "When Hidden Horror enters the battlefield, sacrifice it unless you discard a creature card."}
 #:card{:type-line "Creature — Nightmare Horror",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/8757d6f1-cc46-48f8-8371-558a5d8df3c3.png?1562922361",
        :collector-number "3",
        :layout "normal",
        :name "Faceless Butcher",
        :oracle-text
        "When Faceless Butcher enters the battlefield, exile target creature other than Faceless Butcher.\nWhen Faceless Butcher leaves the battlefield, return the exiled card to the battlefield under its owner's control."}
 #:card{:type-line "Creature — Zombie Mutant",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f2b09a90-5b41-464b-addf-ce46ee21a537.png?1562943773",
        :collector-number "4",
        :layout "normal",
        :name "Twisted Abomination",
        :oracle-text
        "{B}: Regenerate Twisted Abomination.\nSwampcycling {2} ({2}, Discard this card: Search your library for a Swamp card, reveal it, put it into your hand, then shuffle.)"}
 #:card{:type-line "Legendary Creature — Dragon",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/349e598a-aa12-44b7-b9de-067c9b85fcec.png?1562905628",
        :collector-number "5",
        :layout "normal",
        :name "Crosis, the Purger",
        :oracle-text
        "Flying\nWhenever Crosis, the Purger deals combat damage to a player, you may pay {2}{B}. If you do, choose a color, then that player reveals their hand and discards all cards of that color."}
 #:card{:type-line "Creature — Avatar",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/3/d3830844-fd4b-44af-b2b6-2ed523ac7863.png?1562937455",
        :collector-number "6",
        :layout "normal",
        :name "Avatar of Woe",
        :oracle-text
        "If there are ten or more creature cards total in all graveyards, this spell costs {6} less to cast.\nFear (This creature can't be blocked except by artifact creatures and/or black creatures.)\n{T}: Destroy target creature. It can't be regenerated."}
 #:card{:type-line "Creature — Elephant",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/e/8e9c4341-18c6-4b1d-87bd-2f479d44914d.png?1562923795",
        :collector-number "7",
        :layout "normal",
        :name "Terastodon",
        :oracle-text
        "When Terastodon enters the battlefield, you may destroy up to three target noncreature permanents. For each permanent put into a graveyard this way, its controller creates a 3/3 green Elephant creature token."}
 #:card{:type-line "Creature — Elemental",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/0/20326b65-8981-44ad-9738-d8246d1c60fd.png?1562901422",
        :collector-number "8",
        :layout "normal",
        :name "Verdant Force",
        :oracle-text
        "At the beginning of each upkeep, create a 1/1 green Saproling creature token."}
 #:card{:type-line "Artifact Creature — Sphinx",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b95c1f54-c605-451e-abc4-87cf0f2c5c39.png?1562932292",
        :collector-number "9",
        :layout "normal",
        :name "Sphinx of the Steel Wind",
        :oracle-text
        "Flying, first strike, vigilance, lifelink, protection from red and from green"}
 #:card{:type-line "Artifact Creature — Leviathan",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4a05ab2e-22c4-4022-9514-11aa7e041027.png?1562909976",
        :collector-number "10",
        :layout "normal",
        :name "Inkwell Leviathan",
        :oracle-text
        "Trample\nIslandwalk (This creature can't be blocked as long as defending player controls an Island.)\nShroud (This creature can't be the target of spells or abilities.)"}
 #:card{:type-line "Creature — Archon",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/7/97d7769d-a5e8-4fa1-8d55-0ed34cc65f0c.png?1562925663",
        :collector-number "11",
        :layout "normal",
        :name "Blazing Archon",
        :oracle-text "Flying\nCreatures can't attack you."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/6/b662bca8-229e-4d25-b995-462176edbbf9.png?1562931678",
        :collector-number "12",
        :layout "normal",
        :name "Cabal Therapy",
        :oracle-text
        "Choose a nonland card name. Target player reveals their hand and discards all cards with that name.\nFlashback—Sacrifice a creature. (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af440c35-c549-4532-8c8d-78d312f5f56f.png?1562930280",
        :collector-number "13",
        :layout "normal",
        :name "Duress",
        :oracle-text
        "Target opponent reveals their hand. You choose a noncreature, nonland card from it. That player discards that card."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06c0c35d-a26e-473a-9206-8fbda7191700.png?1562896336",
        :collector-number "14",
        :layout "normal",
        :name "Entomb",
        :oracle-text
        "Search your library for a card, put that card into your graveyard, then shuffle."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5dbb2d73-ba3c-4266-8945-63629f932566.png?1562913984",
        :collector-number "15",
        :layout "normal",
        :name "Reanimate",
        :oracle-text
        "Put target creature card from a graveyard onto the battlefield under your control. You lose life equal to its mana value."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/54aca743-cdc7-4e98-a91c-035591cd09f2.png?1562912236",
        :collector-number "16",
        :layout "normal",
        :name "Animate Dead",
        :oracle-text
        "Enchant creature card in a graveyard\nWhen Animate Dead enters the battlefield, if it's on the battlefield, it loses \"enchant creature card in a graveyard\" and gains \"enchant creature put onto the battlefield with Animate Dead.\" Return enchanted creature card to the battlefield under your control and attach Animate Dead to it. When Animate Dead leaves the battlefield, that creature's controller sacrifices it.\nEnchanted creature gets -1/-0."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/84d885c0-5271-4ba0-8d63-fa3f72693399.png?1562921848",
        :collector-number "17",
        :layout "normal",
        :name "Exhume",
        :oracle-text
        "Each player puts a creature card from their graveyard onto the battlefield."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/56aece28-d590-44f5-90c0-98e8244bfc16.png?1562912640",
        :collector-number "18",
        :layout "normal",
        :name "Sickening Dreams",
        :oracle-text
        "As an additional cost to cast this spell, discard X cards.\nSickening Dreams deals X damage to each creature and each player."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e2709a7b-734e-45df-beb4-950b102d42e9.png?1562940467",
        :collector-number "19",
        :layout "normal",
        :name "Zombie Infestation",
        :oracle-text
        "Discard two cards: Create a 2/2 black Zombie creature token."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/706d0bdc-1122-4483-b243-3f011ef85598.png?1562917488",
        :collector-number "20",
        :layout "normal",
        :name "Buried Alive",
        :oracle-text
        "Search your library for up to three creature cards, put them into your graveyard, then shuffle."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/de496c0a-5651-47db-916b-38107a7792b4.png?1562939697",
        :collector-number "21",
        :layout "normal",
        :name "Last Rites",
        :oracle-text
        "Discard any number of cards. Target player reveals their hand, then you choose a nonland card from it for each card discarded this way. That player discards those cards."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/a/eaabc6e1-3b29-4301-97b7-a8392ae63f18.png?1562942165",
        :collector-number "22",
        :layout "normal",
        :name "Diabolic Servitude",
        :oracle-text
        "When Diabolic Servitude enters the battlefield, return target creature card from your graveyard to the battlefield.\nWhen the creature put onto the battlefield with Diabolic Servitude dies, exile it and return Diabolic Servitude to its owner's hand.\nWhen Diabolic Servitude leaves the battlefield, exile the creature put onto the battlefield with Diabolic Servitude."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/3/33a27556-5fb2-42de-ae41-31c6afd583d8.png?1562905404",
        :collector-number "23",
        :layout "normal",
        :name "Dread Return",
        :oracle-text
        "Return target creature card from your graveyard to the battlefield.\nFlashback—Sacrifice three creatures. (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1ade106b-a96c-45cc-bedb-652646f7dd1a.png?1562900305",
        :collector-number "24",
        :layout "normal",
        :name "Crystal Vein",
        :oracle-text
        "{T}: Add {C}.\n{T}, Sacrifice Crystal Vein: Add {C}{C}."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/3/93b057e4-1ef2-4ce0-a74b-899ff41ffd13.png?1562924804",
        :collector-number "25",
        :layout "normal",
        :name "Ebon Stronghold",
        :oracle-text
        "Ebon Stronghold enters the battlefield tapped.\n{T}: Add {B}.\n{T}, Sacrifice Ebon Stronghold: Add {B}{B}."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/3/23d64aa6-b677-4292-9e24-7b239f0e5065.png?1562902187",
        :collector-number "26",
        :layout "normal",
        :name "Polluted Mire",
        :oracle-text
        "Polluted Mire enters the battlefield tapped.\n{T}: Add {B}.\nCycling {2} ({2}, Discard this card: Draw a card.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f96c34c5-b676-47d6-ac83-01ba59c23bab.png?1562945311",
        :collector-number "27",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/116af68d-2f2a-454e-947a-ceeda00f5905.png?1562898510",
        :collector-number "28",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/d/2d62a682-29b5-491e-97d1-86adb6d4d090.png?1562904234",
        :collector-number "29",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "pd3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bbf5d038-64ae-4c0b-aebe-03c8e7e00315.png?1562932787",
        :collector-number "30",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"})
