(#:card{:type-line "Legendary Creature — Weird Wizard",
        :layout-category :normal,
        :code "pdgm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/19b4dc6c-940e-478c-b87f-b3939a30efbd.png?1561756736",
        :collector-number "84",
        :layout "normal",
        :name "Melek, Izzet Paragon",
        :oracle-text
        "Play with the top card of your library revealed.\nYou may cast instant and sorcery spells from the top of your library.\nWhenever you cast an instant or sorcery spell from your library, copy it. You may choose new targets for the copy."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pdgm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/4514a13f-5eee-49a8-876c-6b4befff4592.png?1561757030",
        :collector-number "*96",
        :layout "normal",
        :name "Render Silent",
        :oracle-text
        "Counter target spell. Its controller can't cast spells this turn."}
 #:card{:type-line "Creature — Elf Shaman",
        :layout-category :normal,
        :code "pdgm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/a/2a50a999-8b16-4f0f-ba30-61e7d1114f1a.png?1561756828",
        :collector-number "110",
        :layout "normal",
        :name "Trostani's Summoner",
        :oracle-text
        "When Trostani's Summoner enters the battlefield, create a 2/2 white Knight creature token with vigilance, a 3/3 green Centaur creature token, and a 4/4 green Rhino creature token with trample."}
 #:card{:code "pdgm",
        :collector-number "124★",
        :name "Breaking // Entering",
        :layout "split",
        :highres? true,
        :layout-category :split,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/50e30e21-0bf7-4d10-b2cc-ed0c52b95955.png?1613437553",
        :faces
        [{:type-line "Sorcery",
          :oracle-text
          "Target player mills eight cards.\nFuse (You may cast one or both halves of this card from your hand.)"}
         {:type-line "Sorcery",
          :oracle-text
          "Put a creature card from a graveyard onto the battlefield under your control. It gains haste until end of turn.\nFuse (You may cast one or both halves of this card from your hand.)"}]}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "pdgm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/9/6966ecf0-6dab-4652-bf5b-6e766b8347d0.png?1605370725",
        :collector-number "152★",
        :layout "normal",
        :name "Maze's End",
        :oracle-text
        "Maze's End enters the battlefield tapped.\n{T}: Add {C}.\n{3}, {T}, Return Maze's End to its owner's hand: Search your library for a Gate card, put it onto the battlefield, then shuffle. If you control ten or more Gates with different names, you win the game."}
 #:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "pdgm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f4157fbc-76eb-457c-b952-06d3a68ab098.png?1605370820",
        :collector-number "157★",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"})
