(#:card{:type-line "Creature — Avatar",
        :layout-category :normal,
        :code "pdis",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/8/48ccc561-5726-45df-b27a-e101ea9c0bac.png?1606845343",
        :collector-number "140★",
        :layout "normal",
        :name "Avatar of Discord",
        :oracle-text
        "({B/R} can be paid with either {B} or {R}.)\nFlying\nWhen Avatar of Discord enters the battlefield, sacrifice it unless you discard two cards."}
 #:card{:type-line "Creature — Vedalken Wizard",
        :layout-category :normal,
        :code "pdis",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/3/d35674a0-2704-46d0-8eba-dd06251abfea.png?1606845358",
        :collector-number "141★",
        :layout "normal",
        :name "Azorius Guildmage",
        :oracle-text
        "{2}{W}: Tap target creature.\n{2}{U}: Counter target activated ability. (Mana abilities can't be targeted.)"})
