(#:card{:type-line "Creature — Giant",
        :layout-category :normal,
        :code "pdp12",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/0640c256-ef99-476a-95e1-31368472647e.png?1561756600",
        :collector-number "1",
        :layout "normal",
        :name "Frost Titan",
        :oracle-text
        "Whenever Frost Titan becomes the target of a spell or ability an opponent controls, counter that spell or ability unless its controller pays {2}.\nWhenever Frost Titan enters the battlefield or attacks, tap target permanent. It doesn't untap during its controller's next untap step."}
 #:card{:type-line "Creature — Giant",
        :layout-category :normal,
        :code "pdp12",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6a86111-3556-43a0-b034-2bc9bd8c3230.png?1565297764",
        :collector-number "2",
        :layout "normal",
        :name "Grave Titan",
        :oracle-text
        "Deathtouch\nWhenever Grave Titan enters the battlefield or attacks, create two 2/2 black Zombie creature tokens."}
 #:card{:type-line "Creature — Giant",
        :layout-category :normal,
        :code "pdp12",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/17ac2bff-f570-4955-a8d4-7e12d616dd8b.png?1561756723",
        :collector-number "3",
        :layout "normal",
        :name "Inferno Titan",
        :oracle-text
        "{R}: Inferno Titan gets +1/+0 until end of turn.\nWhenever Inferno Titan enters the battlefield or attacks, it deals 3 damage divided as you choose among one, two, or three targets."})
