(#:card{:code "pdp14",
        :collector-number "1",
        :name "Bonescythe Sliver",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/3/73419af6-7df0-48d5-b6f4-e621c75a1acd.png?1561757398",
        :type-line "Creature — Sliver",
        :oracle-text
        "Sliver creatures you control have double strike. (They deal both first-strike and regular combat damage.)"}
 #:card{:code "pdp14",
        :collector-number "2",
        :name "Ogre Battledriver",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/4/743195b7-bfc6-4071-a713-cb0c0d54798d.png?1561757414",
        :type-line "Creature — Ogre Warrior",
        :oracle-text
        "Whenever another creature enters the battlefield under your control, that creature gets +2/+0 and gains haste until end of turn. (It can attack and {T} this turn.)"}
 #:card{:code "pdp14",
        :collector-number "3",
        :name "Scavenging Ooze",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/38eb6807-caed-46fe-8c44-0071158537bc.png?1561756928",
        :type-line "Creature — Ooze",
        :oracle-text
        "{G}: Exile target card from a graveyard. If it was a creature card, put a +1/+1 counter on Scavenging Ooze and you gain 1 life."})
