(#:card{:code "pdp10",
        :collector-number "1",
        :name "Liliana Vess",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8a628087-9179-49eb-87a5-f67cfd0a814c.png?1561757526",
        :type-line "Legendary Planeswalker — Liliana",
        :oracle-text
        "+1: Target player discards a card.\n−2: Search your library for a card, then shuffle and put that card on top.\n−8: Put all creature cards from all graveyards onto the battlefield under your control."}
 #:card{:code "pdp10",
        :collector-number "2",
        :name "Nissa Revane",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4afe1f83-f53d-477d-8523-3e6fa8e51a0b.png?1561757084",
        :type-line "Legendary Planeswalker — Nissa",
        :oracle-text
        "+1: Search your library for a card named Nissa's Chosen, put it onto the battlefield, then shuffle.\n+1: You gain 2 life for each Elf you control.\n−7: Search your library for any number of Elf creature cards, put them onto the battlefield, then shuffle."})
