(#:card{:type-line "Creature — Hydra",
        :layout-category :normal,
        :code "pdp13",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fa3fc5bf-f20c-47d3-8bbe-4c1c774074fb.png?1561758463",
        :collector-number "1",
        :layout "normal",
        :name "Primordial Hydra",
        :oracle-text
        "Primordial Hydra enters the battlefield with X +1/+1 counters on it.\nAt the beginning of your upkeep, double the number of +1/+1 counters on Primordial Hydra.\nPrimordial Hydra has trample as long as it has ten or more +1/+1 counters on it."}
 #:card{:type-line "Creature — Avatar",
        :layout-category :normal,
        :code "pdp13",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5bfcfb4e-1d1a-49b2-810c-cdcde29a3bcf.png?1561757224",
        :collector-number "2",
        :layout "normal",
        :name "Serra Avatar",
        :oracle-text
        "Serra Avatar's power and toughness are each equal to your life total.\nWhen Serra Avatar is put into a graveyard from anywhere, shuffle it into its owner's library."}
 #:card{:type-line "Creature — Vampire",
        :layout-category :normal,
        :code "pdp13",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/3787d5c3-44dc-4d80-83dd-b1eb072baa82.png?1561756923",
        :collector-number "3",
        :layout "normal",
        :name "Vampire Nocturnus",
        :oracle-text
        "Play with the top card of your library revealed.\nAs long as the top card of your library is black, Vampire Nocturnus and other Vampire creatures you control get +2/+1 and have flying."})
