(#:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "pdrc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/f/7f9c6be5-ec44-4c66-aad6-cf9eca765b6b.png?1561756373",
        :collector-number "1",
        :layout "normal",
        :name "Nalathni Dragon",
        :oracle-text
        "Flying; banding (Any creatures with banding, and up to one without, can attack in a band. Bands are blocked as a group. If any creatures with banding you control are blocking or being blocked by a creature, you divide that creature's combat damage, not its controller, among any of the creatures it's being blocked by or is blocking.)\n{R}: Nalathni Dragon gets +1/+0 until end of turn. If this ability has been activated four or more times this turn, sacrifice Nalathni Dragon at the beginning of the next end step."})
