(#:card{:type-line "Legendary Artifact — Equipment",
        :layout-category :normal,
        :code "pdst",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d4e7f7e1-779e-46f1-afe5-ff0232b30dba.png?1606846827",
        :collector-number "139★",
        :layout "normal",
        :name "Shield of Kaldra",
        :oracle-text
        "Equipment named Sword of Kaldra, Shield of Kaldra, and Helm of Kaldra have indestructible.\nEquipped creature has indestructible. (Damage and effects that say \"destroy\" don't destroy it.)\nEquip {4}"})
