(#:card{:type-line "Legendary Planeswalker — Garruk",
        :layout-category :normal,
        :code "pdtp",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b86ac828-7b49-4663-a718-99fcac904568.png?1561756381",
        :collector-number "1",
        :layout "normal",
        :name "Garruk Wildspeaker",
        :oracle-text
        "+1: Untap two target lands.\n−1: Create a 3/3 green Beast creature token.\n−4: Creatures you control get +3/+3 and gain trample until end of turn."})
