(#:card{:code "pelp",
        :collector-number "1",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/356547d1-f97e-4ef6-ab32-43e4673393ff.png?1562639746",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "pelp",
        :collector-number "2",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/aff6f306-4e54-4535-aa35-f7ef058fec49.png?1562639982",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "pelp",
        :collector-number "3",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/8/88f58cf9-a4ca-4a91-a800-9658b2689581.png?1562639903",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "pelp",
        :collector-number "4",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b1b2f459-8878-4008-9c40-46f706d6872a.png?1562639985",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "pelp",
        :collector-number "5",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/2/12230b2f-06f6-4c9f-93e4-ed9755d88979.png?1562639682",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "pelp",
        :collector-number "6",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/6/a6e62fd9-c184-4763-ad6c-8d2d7560879b.png?1562639965",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "pelp",
        :collector-number "7",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/0/9097b246-a7a6-4dad-ad5b-5703eac4b7f0.png?1562639925",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "pelp",
        :collector-number "8",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b36c3a0c-554c-40e7-a443-951108c52487.png?1562639991",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "pelp",
        :collector-number "9",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a2f3809e-e08e-45ff-8324-4046022fc6dd.png?1562639957",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "pelp",
        :collector-number "10",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/e/5e3264ab-2fe4-4708-97d6-36c51f83a414.png?1562639822",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "pelp",
        :collector-number "11",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/a/da9112dd-ee4d-4554-87d4-3421fc6a9101.png?1562640077",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "pelp",
        :collector-number "12",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/2/62e230bc-a6df-4934-9a35-b87790daacae.png?1562639830",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "pelp",
        :collector-number "13",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3f5e8055-3ae8-4708-b430-e72cf988e702.png?1562639762",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "pelp",
        :collector-number "14",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/83995327-f921-4262-863b-f8ff49f44986.png?1562639892",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "pelp",
        :collector-number "15",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/689eb54c-f99c-4f29-b2b9-4762c7a778cc.png?1562639838",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"})
