(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "pewk",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/9/99843949-4bee-47a4-8bcc-7cf5a3ae4d33.png?1671134508",
        :collector-number "1",
        :layout "normal",
        :name "Gush",
        :oracle-text
        "You may return two Islands you control to their owner's hand rather than pay this spell's mana cost.\nDraw two cards."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pewk",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/c/5caa7293-9674-4613-bc28-7d3534a4c365.png?1671134524",
        :collector-number "2",
        :layout "normal",
        :name "Ponder",
        :oracle-text
        "Look at the top three cards of your library, then put them back in any order. You may shuffle.\nDraw a card."})
