(#:card{:code "pf19",
        :collector-number "1",
        :name "Lightning Bolt",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff204024-20a5-4bb9-82b6-f6b4337efd60.png?1552226335",
        :type-line "Instant",
        :oracle-text "Lightning Bolt deals 3 damage to any target."}
 #:card{:code "pf19",
        :collector-number "2",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2ed1ebd7-d493-4fdb-8592-6811245b5141.png?1551587557",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "pf19",
        :collector-number "3",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87f59c8b-6637-44a2-851e-0618c17d285f.png?1551587558",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "pf19",
        :collector-number "4",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/052bcdff-ee25-4bf2-82a8-ef0461d5bb73.png?1551587922",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "pf19",
        :collector-number "5",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/f/bf577657-8535-41ee-a6aa-4c37a666e06d.png?1551588199",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "pf19",
        :collector-number "6",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/7/7704ed07-aae8-4796-931c-a071aee1e8a4.png?1551588504",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "pf19",
        :collector-number "7",
        :name "Sol Ring",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e5ba8c01-b6f5-486d-b300-cbae2c2b5edf.png?1571172829",
        :type-line "Artifact",
        :oracle-text "{T}: Add {C}{C}."})
