(#:card{:type-line "Legendary Creature — Avatar Wizard",
        :layout-category :normal,
        :code "pf23",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/3/13df67bf-21e2-4c2e-ad39-08a38fc33fdf.png?1690142279",
        :collector-number "1",
        :layout "normal",
        :name "Gandalf, Friend of the Shire",
        :oracle-text
        "Flash\nYou may cast sorcery spells as though they had flash.\nWhenever the Ring tempts you, if you chose a creature other than Gandalf, Friend of the Shire as your Ring-bearer, draw a card."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "pf23",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/2/d23aa765-4fc6-402f-9b49-5e55a90eec11.png?1688584851",
        :collector-number "2",
        :layout "normal",
        :name "Tranquil Thicket",
        :oracle-text
        "Tranquil Thicket enters the battlefield tapped.\n{T}: Add {G}.\nCycling {G} ({G}, Discard this card: Draw a card.)"}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "pf23",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/b/ab474dc9-945d-48cc-8c74-7e5bd59ef8b5.png?1691858181",
        :collector-number "3",
        :layout "normal",
        :name "Reliquary Tower",
        :oracle-text "You have no maximum hand size.\n{T}: Add {C}."})
