(#:card{:type-line "Legendary Creature — Zombie Warrior",
        :layout-category :normal,
        :code "pfut",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/92d07c87-4f7e-48a4-949a-087dd391d1d4.png?1606761689",
        :collector-number "87★",
        :layout "normal",
        :name "Korlash, Heir to Blackblade",
        :oracle-text
        "Korlash, Heir to Blackblade's power and toughness are each equal to the number of Swamps you control.\n{1}{B}: Regenerate Korlash.\nGrandeur — Discard another card named Korlash, Heir to Blackblade: Search your library for up to two Swamp cards, put them onto the battlefield tapped, then shuffle."}
 #:card{:type-line "Creature — Elemental",
        :layout-category :normal,
        :code "pfut",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/dfd3d187-f894-4550-a444-fc29371f18b7.png?1607071601",
        :collector-number "122★",
        :layout "normal",
        :name "Storm Entity",
        :oracle-text
        "Haste\nStorm Entity enters the battlefield with a +1/+1 counter on it for each other spell cast this turn."})
