(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "pg07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/40eb66bd-4276-4475-b725-a45c535d03bf.png?1561757000",
        :collector-number "4",
        :layout "normal",
        :name "Boomerang",
        :oracle-text "Return target permanent to its owner's hand."}
 #:card{:type-line "Creature — Beast",
        :layout-category :normal,
        :code "pg07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/387adc65-5d18-4291-85b1-f49f556781c7.png?1561756925",
        :collector-number "5",
        :layout "normal",
        :name "Calciderm",
        :oracle-text
        "Shroud (This creature can't be the target of spells or abilities.)\nVanishing 4 (This creature enters the battlefield with four time counters on it. At the beginning of your upkeep, remove a time counter from it. When the last is removed, sacrifice it.)"}
 #:card{:type-line "Creature — Wurm",
        :layout-category :normal,
        :code "pg07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/e/ce03bef4-c438-498e-a02f-86f199ae73e9.png?1561758103",
        :collector-number "6",
        :layout "normal",
        :name "Reckless Wurm",
        :oracle-text
        "Trample\nMadness {2}{R} (If you discard this card, discard it into exile. When you do, cast it for its madness cost or put it into your graveyard.)"}
 #:card{:type-line "Creature — Zombie Wizard",
        :layout-category :normal,
        :code "pg07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b17c6589-69ec-46a1-be2d-0fb7c07a7f68.png?1561757836",
        :collector-number "7",
        :layout "normal",
        :name "Yixlid Jailer",
        :oracle-text "Cards in graveyards lose all abilities."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "pg07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/70d94a4d-e14a-46ee-978f-7d6164ea990f.png?1561757384",
        :collector-number "8",
        :layout "normal",
        :name "Zoetic Cavern",
        :oracle-text
        "{T}: Add {C}.\nMorph {2} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)"}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "pg07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/3412a5a9-f3dd-4f23-b588-d3b7fd3a382e.png?1561756901",
        :collector-number "9",
        :layout "normal",
        :name "Llanowar Elves",
        :oracle-text "{T}: Add {G}."}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "pg07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/4/e4d0f23d-1ae5-4ba6-8c05-e98ca250f365.png?1561758328",
        :collector-number "10",
        :layout "normal",
        :name "Mogg Fanatic",
        :oracle-text
        "Sacrifice Mogg Fanatic: It deals 1 damage to any target."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "pg07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/679d884f-4511-4267-89b9-9d350255ef32.png?1561757331",
        :collector-number "11",
        :layout "normal",
        :name "Mind Stone",
        :oracle-text
        "{T}: Add {C}.\n{1}, {T}, Sacrifice Mind Stone: Draw a card."}
 #:card{:type-line "Creature — Treefolk Warrior",
        :layout-category :normal,
        :code "pg07",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/bad809d0-82a5-4bb0-bef2-465205879a8d.png?1561757931",
        :collector-number "12",
        :layout "normal",
        :name "Dauntless Dourbark",
        :oracle-text
        "Dauntless Dourbark's power and toughness are each equal to the number of Forests you control plus the number of Treefolk you control.\nDauntless Dourbark has trample as long as you control another Treefolk."})
