(#:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pg08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6a4ed5b-56fc-4d5c-a378-68406667310d.png?1561758032",
        :collector-number "13",
        :layout "normal",
        :name "Lava Axe",
        :oracle-text
        "Lava Axe deals 5 damage to target player or planeswalker."}
 #:card{:type-line "Creature — Kithkin Soldier",
        :layout-category :normal,
        :code "pg08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4ab6fde4-a8e0-4bbf-b382-ec0602333e76.png?1561757078",
        :collector-number "14",
        :layout "normal",
        :name "Cenn's Tactician",
        :oracle-text
        "{W}, {T}: Put a +1/+1 counter on target Soldier creature.\nEach creature you control with a +1/+1 counter on it can block an additional creature each combat."}
 #:card{:type-line "Creature — Faerie Rogue",
        :layout-category :normal,
        :code "pg08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/a/6a99dcbf-67c5-40ca-be8d-e5d6eae8a7cd.png?1561757354",
        :collector-number "15",
        :layout "normal",
        :name "Oona's Blackguard",
        :oracle-text
        "Flying\nEach other Rogue creature you control enters the battlefield with an additional +1/+1 counter on it.\nWhenever a creature you control with a +1/+1 counter on it deals combat damage to a player, that player discards a card."}
 #:card{:type-line "Creature — Zombie",
        :layout-category :normal,
        :code "pg08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/0/c0a22595-6d0a-4f17-9965-1f8eb39122b2.png?1561757978",
        :collector-number "16",
        :layout "normal",
        :name "Gravedigger",
        :oracle-text
        "When Gravedigger enters the battlefield, you may return target creature card from your graveyard to your hand."}
 #:card{:type-line "Creature — Goblin Warrior",
        :layout-category :normal,
        :code "pg08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a7aef473-2c55-494a-ba9a-4a14fad02ba8.png?1561757777",
        :collector-number "17",
        :layout "normal",
        :name "Boggart Ram-Gang",
        :oracle-text
        "Haste\nWither (This deals damage to creatures in the form of -1/-1 counters.)"}
 #:card{:type-line "Creature — Elf Knight",
        :layout-category :normal,
        :code "pg08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3ebcadf9-65ec-4835-9472-921c3dde96d2.png?1561756970",
        :collector-number "18",
        :layout "normal",
        :name "Wilt-Leaf Cavaliers",
        :oracle-text "Vigilance"}
 #:card{:type-line "Creature — Dwarf Shaman",
        :layout-category :normal,
        :code "pg08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6cc79d2-97b4-4e18-9124-650c520a4bd1.png?1561758037",
        :collector-number "19",
        :layout "normal",
        :name "Duergar Hedge-Mage",
        :oracle-text
        "When Duergar Hedge-Mage enters the battlefield, if you control two or more Mountains, you may destroy target artifact.\nWhen Duergar Hedge-Mage enters the battlefield, if you control two or more Plains, you may destroy target enchantment."}
 #:card{:type-line "Creature — Merfolk Wizard",
        :layout-category :normal,
        :code "pg08",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c879bd30-2209-4409-9e4d-3d65565ceddf.png?1561758057",
        :collector-number "20",
        :layout "normal",
        :name "Selkie Hedge-Mage",
        :oracle-text
        "When Selkie Hedge-Mage enters the battlefield, if you control two or more Forests, you may gain 3 life.\nWhen Selkie Hedge-Mage enters the battlefield, if you control two or more Islands, you may return target tapped creature to its owner's hand."})
