(#:card{:type-line "Creature — Djinn",
        :layout-category :normal,
        :code "pgpt",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/86af4d62-d0c3-4bad-ae3c-4568a80253b3.png?1606845419",
        :collector-number "142★",
        :layout "normal",
        :name "Djinn Illuminatus",
        :oracle-text
        "({U/R} can be paid with either {U} or {R}.)\nFlying\nEach instant and sorcery spell you cast has replicate. The replicate cost is equal to its mana cost. (When you cast it, copy it for each time you paid its replicate cost. You may choose new targets for the copies.)"}
 #:card{:type-line "Creature — Human Shaman",
        :layout-category :normal,
        :code "pgpt",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/4/94668543-3ad9-4454-a0c1-c3fdbc68f11e.png?1606845401",
        :collector-number "144★",
        :layout "normal",
        :name "Gruul Guildmage",
        :oracle-text
        "({R/G} can be paid with either {R} or {G}.)\n{3}{R}, Sacrifice a land: Gruul Guildmage deals 2 damage to target player or planeswalker.\n{3}{G}: Target creature gets +2/+2 until end of turn."})
