(#:card{:type-line "Creature — Beast",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/e/ce20919e-cdc7-465d-8653-4b912ff08997.png?1561929929",
        :collector-number "2007",
        :layout "normal",
        :name "Spiritmonger",
        :oracle-text
        "Whenever Spiritmonger deals damage to a creature, put a +1/+1 counter on Spiritmonger.\n{B}: Regenerate Spiritmonger.\n{G}: Spiritmonger becomes the color of your choice until end of turn."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d502a87d-8b48-4173-8397-b4687b8a2b57.png?1561929933",
        :collector-number "2008",
        :layout "normal",
        :name "Call of the Herd",
        :oracle-text
        "Create a 3/3 green Elephant creature token.\nFlashback {3}{G} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/d/6de7be0f-6f8a-4e34-a659-70b0eb2be6c0.png?1561929921",
        :collector-number "2009",
        :layout "normal",
        :name "Chrome Mox",
        :oracle-text
        "Imprint — When Chrome Mox enters the battlefield, you may exile a nonartifact, nonland card from your hand.\n{T}: Add one mana of any of the exiled card's colors."}
 #:card{:type-line "Legendary Artifact — Equipment",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a1d09418-de9b-42a3-b324-c04ce3012bf7.png?1561929924",
        :collector-number "2010",
        :layout "normal",
        :name "Umezawa's Jitte",
        :oracle-text
        "Whenever equipped creature deals combat damage, put two charge counters on Umezawa's Jitte.\nRemove a charge counter from Umezawa's Jitte: Choose one —\n• Equipped creature gets +2/+2 until end of turn.\n• Target creature gets -1/-1 until end of turn.\n• You gain 2 life.\nEquip {2}"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/3/d351c901-103b-460f-9d01-6e4d4b25cac8.png?1561929932",
        :collector-number "2011",
        :layout "normal",
        :name "Maelstrom Pulse",
        :oracle-text
        "Destroy target nonland permanent and all other permanents with the same name as that permanent."}
 #:card{:type-line "Creature — Goblin Scout",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/0/8028dd6f-cd19-4dc4-925f-5f98daa56c45.png?1561929922",
        :collector-number "2012a",
        :layout "normal",
        :name "Goblin Guide",
        :oracle-text
        "Haste\nWhenever Goblin Guide attacks, defending player reveals the top card of their library. If it's a land card, that player puts it into their hand."}
 #:card{:type-line "Creature — Snake",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/a/da7bc803-04b0-4030-9a69-1c89c6572eb1.png?1561929935",
        :collector-number "2012b",
        :layout "normal",
        :name "Lotus Cobra",
        :oracle-text
        "Landfall — Whenever a land enters the battlefield under your control, add one mana of any color."}
 #:card{:type-line "Creature — Giant",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/0/f046212e-9b3e-4605-b1f1-fd1540236d95.png?1561929938",
        :collector-number "2013a",
        :layout "normal",
        :name "Primeval Titan",
        :oracle-text
        "Trample\nWhenever Primeval Titan enters the battlefield or attacks, you may search your library for up to two land cards, put them onto the battlefield tapped, then shuffle."}
 #:card{:type-line "Tribal Sorcery — Eldrazi",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/ee61e609-afae-420c-bc63-439df485b649.png?1561929936",
        :collector-number "2013b",
        :layout "normal",
        :name "All Is Dust",
        :oracle-text
        "Each player sacrifices all permanents they control that are one or more colors."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/674a54bc-d283-4852-9b3a-71587874e628.png?1561929919",
        :collector-number "2014",
        :layout "normal",
        :name "Batterskull",
        :oracle-text
        "Living weapon (When this Equipment enters the battlefield, create a 0/0 black Phyrexian Germ creature token, then attach this to it.)\nEquipped creature gets +4/+4 and has vigilance and lifelink.\n{3}: Return Batterskull to its owner's hand.\nEquip {5}"}
 #:card{:type-line "Legendary Creature — Demon",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1ab640f0-72cf-4659-98fd-20d0bb787e40.png?1561929916",
        :collector-number "2015",
        :layout "normal",
        :name "Griselbrand",
        :oracle-text "Flying, lifelink\nPay 7 life: Draw seven cards."}
 #:card{:type-line "Creature — Kor Artificer",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/0/6003e1e8-13d5-4f17-bbd4-ee05a6c4b30d.png?1561929918",
        :collector-number "2016",
        :layout "normal",
        :name "Stoneforge Mystic",
        :oracle-text
        "When Stoneforge Mystic enters the battlefield, you may search your library for an Equipment card, reveal it, put it into your hand, then shuffle.\n{1}{W}, {T}: You may put an Equipment card from your hand onto the battlefield."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/de2a35fe-d53b-4e3a-8d0e-94031dfae937.png?1613246102",
        :collector-number "2016b",
        :layout "normal",
        :name "Sword of Feast and Famine",
        :oracle-text
        "Equipped creature gets +2/+2 and has protection from black and from green.\nWhenever equipped creature deals combat damage to a player, that player discards a card and you untap all lands you control.\nEquip {2}"}
 #:card{:type-line "Legendary Creature — Hydra Avatar",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f9d8579f-d539-44fb-a016-2537cd27efeb.png?1561929939",
        :collector-number "2017",
        :layout "normal",
        :name "Progenitus",
        :oracle-text
        "Protection from everything\nIf Progenitus would be put into a graveyard from anywhere, reveal Progenitus and shuffle it into its owner's library instead."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/bed54db2-20a8-400e-acd8-16d4e5d7c307.png?1561929925",
        :collector-number "2018",
        :layout "normal",
        :name "Mutavault",
        :oracle-text
        "{T}: Add {C}.\n{1}: Mutavault becomes a 2/2 creature with all creature types until end of turn. It's still a land."}
 #:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a21333ae-490e-4614-b998-f1a99dafcff2.png?1542927323",
        :collector-number "2018a",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/95f698a0-8cfb-4a3b-8558-8a49763fd5c8.png?1542927322",
        :collector-number "2018b",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/47ad789b-a519-4f90-91fc-e45f41dbbf22.png?1542927321",
        :collector-number "2018c",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/45d524d4-4b7a-402d-85a5-e020bd56b8cd.png?1542927350",
        :collector-number "2018d",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "pgpx",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/1/714a0a11-837a-4c44-9d37-d418b60e8f12.png?1542927353",
        :collector-number "2018f",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"})
