(#:card{:type-line "Creature — Beast",
        :layout-category :normal,
        :code "pgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/0357e2ce-da68-46ff-a7e6-86df8a8ce91c.png?1605371304",
        :collector-number "133★",
        :layout "normal",
        :name "Skarrg Goliath",
        :oracle-text
        "Trample\nBloodrush — {5}{G}{G}, Discard Skarrg Goliath: Target attacking creature gets +9/+9 and gains trample until end of turn."}
 #:card{:type-line "Creature — Horror",
        :layout-category :normal,
        :code "pgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca2a714e-4254-4138-ad36-4ae11da17289.png?1605370640",
        :collector-number "152★",
        :layout "normal",
        :name "Consuming Aberration",
        :oracle-text
        "Consuming Aberration's power and toughness are each equal to the number of cards in your opponents' graveyards.\nWhenever you cast a spell, each opponent reveals cards from the top of their library until they reveal a land card, then puts those cards into their graveyard."}
 #:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "pgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f67f79ac-f28d-4244-994e-44cb8819db61.png?1605370734",
        :collector-number "162★",
        :layout "normal",
        :name "Fathom Mage",
        :oracle-text
        "Evolve (Whenever a creature enters the battlefield under your control, if that creature has greater power or toughness than this creature, put a +1/+1 counter on this creature.)\nWhenever a +1/+1 counter is put on Fathom Mage, you may draw a card."}
 #:card{:type-line "Creature — Angel",
        :layout-category :normal,
        :code "pgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/05607d21-7613-4c28-b81f-995f36ab64f6.png?1561756594",
        :collector-number "163",
        :layout "normal",
        :name "Firemane Avenger",
        :oracle-text
        "Flying\nBattalion — Whenever Firemane Avenger and at least two other creatures attack, Firemane Avenger deals 3 damage to any target and you gain 3 life."}
 #:card{:type-line "Creature — Elemental Soldier",
        :layout-category :normal,
        :code "pgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9e42ff7d-b6f9-4e98-9782-bed98c202253.png?1605370735",
        :collector-number "165★",
        :layout "normal",
        :name "Foundry Champion",
        :oracle-text
        "When Foundry Champion enters the battlefield, it deals damage to any target equal to the number of creatures you control.\n{R}: Foundry Champion gets +1/+0 until end of turn.\n{W}: Foundry Champion gets +0/+1 until end of turn."}
 #:card{:type-line "Creature — Elemental",
        :layout-category :normal,
        :code "pgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/3422b1bf-c5b6-4d1c-bcea-8e81b83b996e.png?1605370824",
        :collector-number "191★",
        :layout "normal",
        :name "Rubblehulk",
        :oracle-text
        "Rubblehulk's power and toughness are each equal to the number of lands you control.\nBloodrush — {1}{R}{G}, Discard Rubblehulk: Target attacking creature gets +X/+X until end of turn, where X is the number of lands you control."}
 #:card{:type-line "Creature — Thrull",
        :layout-category :normal,
        :code "pgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d9243a56-3551-454b-ab47-95d461b471b4.png?1605370793",
        :collector-number "201★",
        :layout "normal",
        :name "Treasury Thrull",
        :oracle-text
        "Extort (Whenever you cast a spell, you may pay {W/B}. If you do, each opponent loses 1 life and you gain that much life.)\nWhenever Treasury Thrull attacks, you may return target artifact, creature, or enchantment card from your graveyard to your hand."}
 #:card{:type-line "Creature — Elf Wizard",
        :layout-category :normal,
        :code "pgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/ed0bdf8f-9086-4e30-8865-bb1eb55516f8.png?1561758383",
        :collector-number "209",
        :layout "normal",
        :name "Zameck Guildmage",
        :oracle-text
        "{G}{U}: This turn, each creature you control enters the battlefield with an additional +1/+1 counter on it.\n{G}{U}, Remove a +1/+1 counter from a creature you control: Draw a card."}
 #:card{:type-line "Creature — Specter",
        :layout-category :normal,
        :code "pgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bd7305f2-6e91-4d30-961b-b74a830d6eb3.png?1561757949",
        :collector-number "*222",
        :layout "normal",
        :name "Nightveil Specter",
        :oracle-text
        "Flying\nWhenever Nightveil Specter deals combat damage to a player, that player exiles the top card of their library.\nYou may play lands and cast spells from among cards exiled with Nightveil Specter."})
