(#:card{:type-line "Legendary Creature — Human Knight",
        :layout-category :normal,
        :code "ph22",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/d/ad2bbfa1-81e0-4683-b1dc-a3aaa9837690.png?1708175097",
        :collector-number "1",
        :layout "normal",
        :name "Treizeci, Sun of Serra",
        :oracle-text
        "Companion — Your starting deck contains only nostalgic cards. (Retro frames, legends, and artifacts are nostalgic.)\nVigilance\nWhenever you cast a nostalgic spell, you may pay {2}. If you do, put a +1/+1 counter on Treizeci, then for each +1/+1 counter on it, create a Serra Angel token."}
 #:card{:type-line "Legendary Creature — Angel Advisor",
        :layout-category :normal,
        :code "ph22",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/2/42ec3561-019c-49cc-95d1-d1282c1dfe76.png?1708172487",
        :collector-number "2",
        :layout "normal",
        :name "Elusen, the Giving",
        :oracle-text
        "Flying, vigilance, lifelink, haste\nAt the beginning of your postcombat main phase, the player to your left gains control of Elusen, the Giving.\nWhenever a player donates a permanent to another player, the donating player draws a card, gains 1 life, and creates three Treasure tokens."}
 #:card{:type-line "Legendary Planeswalker — Kaito Wanderer",
        :layout-category :normal,
        :code "ph22",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/b/fba5a708-be07-42bb-a834-e4662d84f22c.png?1708172525",
        :collector-number "3",
        :layout "normal",
        :name "Heroes of Kamigawa",
        :oracle-text
        "Each spell you cast with a name printed in a Kamigawa expansion costs {1} less to cast.\n+2: Open up to one sealed Kamigawa booster pack and shuffle those cards into your booster pile. Look at the top four cards of your booster pile. Put two of those cards into your hand and the rest into your graveyard.\n−3: Return a creature card with a name printed in a Kamigawa expansion from your graveyard to the battlefield.\nHeroes of Kamigawa can be your commander."}
 #:card{:type-line "Legendary Planeswalker — Svega",
        :layout-category :normal,
        :code "ph22",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/5/058bb1fd-5e1a-4be9-a174-fbe1938e11a2.png?1708172600",
        :collector-number "4",
        :layout "normal",
        :name "Svega, the Unconventional",
        :oracle-text
        "Landfall — Whenever a land enters the battlefield under your control, put a loyalty counter on target planeswalker.\n−2: For each planeswalker type among planeswalkers you control, create a 1/1 Attendee creature token that's all colors.\n−X: Choose an Elspeth, Teferi, Liliana, Chandra, or Garruk planeswalker card name with mana value X. Create a copy of the card with the chosen name. You may cast the copy without paying its mana cost.\nSvega can be your commander."}
 #:card{:type-line "Legendary Enchantment — Background",
        :layout-category :normal,
        :code "ph22",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/4/24527eb8-ae2f-4154-80b7-7bf588862981.png?1703183578",
        :collector-number "5",
        :layout "normal",
        :name "Wizard from Beyond",
        :oracle-text
        "Create a Character (Any nonlegendary creature can choose this as its Background. It becomes legendary and can be your commander.)\nCommander creatures you own are Clerics, Rogues, Warriors, and Wizards in addition to their other types.\nAs long as you have a full party, if an ability of a creature you control triggers, that ability triggers an additional time."})
