(#:card{:code "phel",
        :collector-number "1★",
        :name "Angel // Demon",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4ac2b852-92b2-4daf-9d1f-f71d3b27c241.png?1561757080",
          :type-line "Token Creature — Angel",
          :oracle-text "Flying"}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/4/a/4ac2b852-92b2-4daf-9d1f-f71d3b27c241.png?1561757080",
          :type-line "Token Creature — Demon",
          :oracle-text "Flying"}]}
 #:card{:type-line "Legendary Creature — Angel",
        :layout-category :normal,
        :code "phel",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/4/446f001c-2164-4c3e-8017-5f4ea33e5d08.png?1561757018",
        :collector-number "6",
        :layout "normal",
        :name "Avacyn, Angel of Hope",
        :oracle-text
        "Flying, vigilance, indestructible\nOther permanents you control have indestructible."}
 #:card{:type-line "Legendary Creature — Demon",
        :layout-category :normal,
        :code "phel",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0d3c824c-c20c-4708-897f-3796ec4245f9.png?1634366724",
        :collector-number "106",
        :layout "normal",
        :name "Griselbrand",
        :oracle-text "Flying, lifelink\nPay 7 life: Draw seven cards."}
 #:card{:type-line "Legendary Creature — Angel",
        :layout-category :normal,
        :code "phel",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/1/c1995b46-cd88-470d-89ec-37ffb6596348.png?1561757990",
        :collector-number "208",
        :layout "normal",
        :name "Bruna, Light of Alabaster",
        :oracle-text
        "Flying, vigilance\nWhenever Bruna, Light of Alabaster attacks or blocks, you may attach to it any number of Auras on the battlefield and you may put onto the battlefield attached to it any number of Aura cards that could enchant it from your graveyard and/or hand."}
 #:card{:type-line "Legendary Creature — Angel",
        :layout-category :normal,
        :code "phel",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/95a576a5-e873-4f27-93df-d363fc5945d0.png?1561757607",
        :collector-number "209",
        :layout "normal",
        :name "Gisela, Blade of Goldnight",
        :oracle-text
        "Flying, first strike\nIf a source would deal damage to an opponent or a permanent an opponent controls, that source deals double that damage to that player or permanent instead.\nIf a source would deal damage to you or a permanent you control, prevent half that damage, rounded up."}
 #:card{:type-line "Legendary Creature — Angel",
        :layout-category :normal,
        :code "phel",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5d7b3923-7740-433e-bfbb-1898923eafe8.png?1561757244",
        :collector-number "210",
        :layout "normal",
        :name "Sigarda, Host of Herons",
        :oracle-text
        "Flying, hexproof\nSpells and abilities your opponents control can't cause you to sacrifice permanents."})
