(#:card{:code "phop",
        :collector-number "P1",
        :name "Stairs to Infinity",
        :layout "planar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/57f25ead-b3ec-4c40-972d-d750ed2f5319.png?1549805757",
        :type-line "Plane — Xerex",
        :oracle-text
        "Players have no maximum hand size.\nWhenever you roll the planar die, draw a card.\nWhenever you roll {CHAOS}, reveal the top card of your planar deck. You may put it on the bottom of your planar deck."}
 #:card{:code "phop",
        :collector-number "41",
        :name "Tazeem",
        :layout "planar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/6/76e5383d-ac12-4abc-aa30-15e99ded2d6f.png?1547432249",
        :type-line "Plane — Zendikar",
        :oracle-text
        "Creatures can't block.\nWhenever you roll {CHAOS}, draw a card for each land you control."}
 #:card{:code "phop",
        :collector-number "42",
        :name "Celestine Reef",
        :layout "planar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/fffcbc4e-c6dc-4808-b262-f7c453e74dd8.png?1547432241",
        :type-line "Plane — Luvion",
        :oracle-text
        "Creatures without flying or islandwalk can't attack.\nWhenever you roll {CHAOS}, until a player planeswalks, you can't lose the game and your opponents can't win the game."}
 #:card{:code "phop",
        :collector-number "43",
        :name "Horizon Boughs",
        :layout "planar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a2e697bc-68e0-49c1-be40-1d52831deb8c.png?1547432233",
        :type-line "Plane — Pyrulea",
        :oracle-text
        "All permanents untap during each player's untap step.\nWhenever you roll {CHAOS}, you may search your library for up to three basic land cards, put them onto the battlefield tapped, then shuffle."}
 #:card{:code "phop",
        :collector-number "44",
        :name "Mirrored Depths",
        :layout "planar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/50a879a4-622f-4589-a10a-ad2db8219486.png?1547432256",
        :type-line "Plane — Karsus",
        :oracle-text
        "Whenever a player casts a spell, that player flips a coin. If the player loses the flip, counter that spell.\nWhenever you roll {CHAOS}, target player reveals the top card of their library. If it's a nonland card, you may cast it without paying its mana cost."}
 #:card{:code "phop",
        :collector-number "45",
        :name "Tember City",
        :layout "planar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b50fd15a-544f-4561-9313-139239ec75a0.png?1547432225",
        :type-line "Plane — Kinshala",
        :oracle-text
        "Whenever a player taps a land for mana, Tember City deals 1 damage to that player.\nWhenever you roll {CHAOS}, each other player sacrifices a nonland permanent."})
