(#:card{:type-line "Land",
        :layout-category :normal,
        :code "phpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/f/2f989fda-2e54-427c-9154-4820c48abb02.png?1561756864",
        :collector-number "1",
        :layout "normal",
        :name "Arena",
        :oracle-text
        "{3}, {T}: Tap target creature you control and target creature of an opponent's choice they control. Those creatures fight each other. (Each deals damage equal to its power to the other.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "phpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/0/b0da11d4-3603-4f59-8f61-7204bf04e165.png?1561757833",
        :collector-number "2",
        :layout "normal",
        :name "Sewers of Estark",
        :oracle-text
        "Choose target creature. If it's attacking, it can't be blocked this turn. If it's blocking, prevent all combat damage that would be dealt this combat by it and each creature it's blocking."}
 #:card{:type-line "Creature — Centaur",
        :layout-category :normal,
        :code "phpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e105e6c0-2d75-4ebe-beca-e7b4101f87f6.png?1561758279",
        :collector-number "3",
        :layout "normal",
        :name "Windseeker Centaur",
        :oracle-text "Vigilance"}
 #:card{:type-line "Creature — Badger",
        :layout-category :normal,
        :code "phpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6b1ac9c5-5f9f-445e-8e4b-b53ed9984958.png?1561757355",
        :collector-number "4",
        :layout "normal",
        :name "Giant Badger",
        :oracle-text
        "Whenever Giant Badger blocks, it gets +2/+2 until end of turn."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "phpr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/160cf235-6463-4e16-a426-8b5be76b10d2.png?1561756713",
        :collector-number "5",
        :layout "normal",
        :name "Mana Crypt",
        :oracle-text
        "At the beginning of your upkeep, flip a coin. If you lose the flip, Mana Crypt deals 3 damage to you.\n{T}: Add {C}{C}."})
