({:released_at "1994-09-01",
  :collector_number "1",
  :booster false,
  :oversized false,
  :card_back_id "0aeebaf5-8c7d-4636-9e82-8c27447861f7",
  :set_name "HarperPrism Book Promos",
  :rulings_uri
  "https://api.scryfall.com/cards/2f989fda-2e54-427c-9154-4820c48abb02/rulings",
  :highres_image true,
  :frame "1993",
  :scryfall_set_uri "https://scryfall.com/sets/phpr?utm_source=api",
  :type_line "Land",
  :set_id "b32cc4a1-1e06-4bec-bab6-89b2691b57a4",
  :full_art false,
  :set_uri
  "https://api.scryfall.com/sets/b32cc4a1-1e06-4bec-bab6-89b2691b57a4",
  :scryfall_uri
  "https://scryfall.com/card/phpr/1/arena?utm_source=api",
  :illustration_id "5de809a1-34f1-44ef-856d-dc2fa1db6b98",
  :set_type "promo",
  :layout "normal",
  :name "Arena",
  :nonfoil true,
  :mana_cost "",
  :story_spotlight false,
  :prints_search_uri
  "https://api.scryfall.com/cards/search?order=released&q=oracleid%3A12326d23-1fb5-4084-a23a-d6e2c90ea36c&unique=prints",
  :purchase_uris
  {:tcgplayer
   "https://www.tcgplayer.com/product/21465?page=1&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :cardmarket
   "https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall&searchString=Arena&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall",
   :cardhoarder
   "https://www.cardhoarder.com/cards?affiliate_id=scryfall&data%5Bsearch%5D=Arena&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall"},
  :border_color "black",
  :colors [],
  :image_status "highres_scan",
  :reprint false,
  :artist "Rob Alexander",
  :artist_ids ["35906871-6c78-4ab2-9ed1-e6792c8efb74"],
  :variation false,
  :keywords ["Fight"],
  :color_identity [],
  :image_uris
  {:small
   "https://c1.scryfall.com/file/scryfall-cards/small/front/2/f/2f989fda-2e54-427c-9154-4820c48abb02.jpg?1561756864",
   :normal
   "https://c1.scryfall.com/file/scryfall-cards/normal/front/2/f/2f989fda-2e54-427c-9154-4820c48abb02.jpg?1561756864",
   :large
   "https://c1.scryfall.com/file/scryfall-cards/large/front/2/f/2f989fda-2e54-427c-9154-4820c48abb02.jpg?1561756864",
   :png
   "https://c1.scryfall.com/file/scryfall-cards/png/front/2/f/2f989fda-2e54-427c-9154-4820c48abb02.png?1561756864",
   :art_crop
   "https://c1.scryfall.com/file/scryfall-cards/art_crop/front/2/f/2f989fda-2e54-427c-9154-4820c48abb02.jpg?1561756864",
   :border_crop
   "https://c1.scryfall.com/file/scryfall-cards/border_crop/front/2/f/2f989fda-2e54-427c-9154-4820c48abb02.jpg?1561756864"},
  :cmc 0.0,
  :related_uris
  {:gatherer
   "https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=97042",
   :tcgplayer_infinite_articles
   "https://infinite.tcgplayer.com/search?contentMode=article&game=magic&partner=scryfall&q=Arena&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :tcgplayer_infinite_decks
   "https://infinite.tcgplayer.com/search?contentMode=deck&game=magic&partner=scryfall&q=Arena&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :edhrec "https://edhrec.com/route/?cc=Arena",
   :mtgtop8
   "https://mtgtop8.com/search?MD_check=1&SB_check=1&cards=Arena"},
  :lang "en",
  :prices
  {:usd "10.01",
   :usd_foil nil,
   :usd_etched nil,
   :eur "5.49",
   :eur_foil nil,
   :tix nil},
  :oracle_id "12326d23-1fb5-4084-a23a-d6e2c90ea36c",
  :promo_types ["mediainsert"],
  :id "2f989fda-2e54-427c-9154-4820c48abb02",
  :textless false,
  :cardmarket_id 15173,
  :reserved false,
  :multiverse_ids [97042],
  :promo true,
  :uri
  "https://api.scryfall.com/cards/2f989fda-2e54-427c-9154-4820c48abb02",
  :legalities
  {:premodern "not_legal",
   :future "not_legal",
   :commander "legal",
   :oldschool "legal",
   :penny "legal",
   :alchemy "not_legal",
   :historic "not_legal",
   :duel "legal",
   :brawl "not_legal",
   :gladiator "not_legal",
   :historicbrawl "not_legal",
   :pioneer "not_legal",
   :standard "not_legal",
   :pauper "not_legal",
   :legacy "legal",
   :vintage "legal",
   :paupercommander "not_legal",
   :modern "legal"},
  :oracle_text
  "{3}, {T}: Tap target creature you control and target creature of an opponent's choice they control. Those creatures fight each other. (Each deals damage equal to its power to the other.)",
  :set "phpr",
  :rarity "rare",
  :digital false,
  :foil false,
  :set_search_uri
  "https://api.scryfall.com/cards/search?order=set&q=e%3Aphpr&unique=prints",
  :edhrec_rank 7282,
  :object "card",
  :games ["paper"],
  :finishes ["nonfoil"],
  :tcgplayer_id 21465}
 {:released_at "1994-09-01",
  :collector_number "2",
  :booster false,
  :oversized false,
  :card_back_id "0aeebaf5-8c7d-4636-9e82-8c27447861f7",
  :set_name "HarperPrism Book Promos",
  :rulings_uri
  "https://api.scryfall.com/cards/b0da11d4-3603-4f59-8f61-7204bf04e165/rulings",
  :highres_image true,
  :frame "1993",
  :scryfall_set_uri "https://scryfall.com/sets/phpr?utm_source=api",
  :type_line "Instant",
  :set_id "b32cc4a1-1e06-4bec-bab6-89b2691b57a4",
  :full_art false,
  :set_uri
  "https://api.scryfall.com/sets/b32cc4a1-1e06-4bec-bab6-89b2691b57a4",
  :scryfall_uri
  "https://scryfall.com/card/phpr/2/sewers-of-estark?utm_source=api",
  :illustration_id "e1a20f03-5165-48b3-a7e0-a3496175a871",
  :set_type "promo",
  :layout "normal",
  :name "Sewers of Estark",
  :nonfoil true,
  :mana_cost "{2}{B}{B}",
  :story_spotlight false,
  :prints_search_uri
  "https://api.scryfall.com/cards/search?order=released&q=oracleid%3A2482f98a-eadf-450d-9e73-fc441b572862&unique=prints",
  :purchase_uris
  {:tcgplayer
   "https://www.tcgplayer.com/product/21469?page=1&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :cardmarket
   "https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall&searchString=Sewers+of+Estark&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall",
   :cardhoarder
   "https://www.cardhoarder.com/cards?affiliate_id=scryfall&data%5Bsearch%5D=Sewers+of+Estark&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall"},
  :border_color "black",
  :colors ["B"],
  :image_status "highres_scan",
  :reprint false,
  :artist "Melissa A. Benson",
  :artist_ids ["9ade7727-1436-4828-9a1d-487c3d2ad1d9"],
  :variation false,
  :keywords [],
  :color_identity ["B"],
  :image_uris
  {:small
   "https://c1.scryfall.com/file/scryfall-cards/small/front/b/0/b0da11d4-3603-4f59-8f61-7204bf04e165.jpg?1561757833",
   :normal
   "https://c1.scryfall.com/file/scryfall-cards/normal/front/b/0/b0da11d4-3603-4f59-8f61-7204bf04e165.jpg?1561757833",
   :large
   "https://c1.scryfall.com/file/scryfall-cards/large/front/b/0/b0da11d4-3603-4f59-8f61-7204bf04e165.jpg?1561757833",
   :png
   "https://c1.scryfall.com/file/scryfall-cards/png/front/b/0/b0da11d4-3603-4f59-8f61-7204bf04e165.png?1561757833",
   :art_crop
   "https://c1.scryfall.com/file/scryfall-cards/art_crop/front/b/0/b0da11d4-3603-4f59-8f61-7204bf04e165.jpg?1561757833",
   :border_crop
   "https://c1.scryfall.com/file/scryfall-cards/border_crop/front/b/0/b0da11d4-3603-4f59-8f61-7204bf04e165.jpg?1561757833"},
  :cmc 4.0,
  :related_uris
  {:gatherer
   "https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=97054",
   :tcgplayer_infinite_articles
   "https://infinite.tcgplayer.com/search?contentMode=article&game=magic&partner=scryfall&q=Sewers+of+Estark&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :tcgplayer_infinite_decks
   "https://infinite.tcgplayer.com/search?contentMode=deck&game=magic&partner=scryfall&q=Sewers+of+Estark&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :edhrec "https://edhrec.com/route/?cc=Sewers+of+Estark",
   :mtgtop8
   "https://mtgtop8.com/search?MD_check=1&SB_check=1&cards=Sewers+of+Estark"},
  :lang "en",
  :prices
  {:usd "4.10",
   :usd_foil nil,
   :usd_etched nil,
   :eur "0.99",
   :eur_foil nil,
   :tix nil},
  :oracle_id "2482f98a-eadf-450d-9e73-fc441b572862",
  :promo_types ["mediainsert"],
  :id "b0da11d4-3603-4f59-8f61-7204bf04e165",
  :textless false,
  :cardmarket_id 15174,
  :reserved false,
  :multiverse_ids [97054],
  :promo true,
  :uri
  "https://api.scryfall.com/cards/b0da11d4-3603-4f59-8f61-7204bf04e165",
  :legalities
  {:premodern "not_legal",
   :future "not_legal",
   :commander "legal",
   :oldschool "legal",
   :penny "not_legal",
   :alchemy "not_legal",
   :historic "not_legal",
   :duel "legal",
   :brawl "not_legal",
   :gladiator "not_legal",
   :historicbrawl "not_legal",
   :pioneer "not_legal",
   :standard "not_legal",
   :pauper "not_legal",
   :legacy "legal",
   :vintage "legal",
   :paupercommander "not_legal",
   :modern "not_legal"},
  :oracle_text
  "Choose target creature. If it's attacking, it can't be blocked this turn. If it's blocking, prevent all combat damage that would be dealt this combat by it and each creature it's blocking.",
  :set "phpr",
  :rarity "rare",
  :digital false,
  :foil false,
  :set_search_uri
  "https://api.scryfall.com/cards/search?order=set&q=e%3Aphpr&unique=prints",
  :edhrec_rank 20223,
  :object "card",
  :games ["paper"],
  :finishes ["nonfoil"],
  :tcgplayer_id 21469}
 {:released_at "1995-01-01",
  :collector_number "3",
  :booster false,
  :oversized false,
  :card_back_id "0aeebaf5-8c7d-4636-9e82-8c27447861f7",
  :set_name "HarperPrism Book Promos",
  :rulings_uri
  "https://api.scryfall.com/cards/e105e6c0-2d75-4ebe-beca-e7b4101f87f6/rulings",
  :highres_image true,
  :frame "1993",
  :scryfall_set_uri "https://scryfall.com/sets/phpr?utm_source=api",
  :type_line "Creature — Centaur",
  :set_id "b32cc4a1-1e06-4bec-bab6-89b2691b57a4",
  :full_art false,
  :set_uri
  "https://api.scryfall.com/sets/b32cc4a1-1e06-4bec-bab6-89b2691b57a4",
  :scryfall_uri
  "https://scryfall.com/card/phpr/3/windseeker-centaur?utm_source=api",
  :illustration_id "1a2f2912-073e-4293-b796-7ac3dbdd168c",
  :set_type "promo",
  :layout "normal",
  :name "Windseeker Centaur",
  :nonfoil true,
  :mana_cost "{1}{R}{R}",
  :story_spotlight false,
  :prints_search_uri
  "https://api.scryfall.com/cards/search?order=released&q=oracleid%3Ab3d40cf7-a529-4bd0-8df7-231630a49bb8&unique=prints",
  :purchase_uris
  {:tcgplayer
   "https://www.tcgplayer.com/product/21470?page=1&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :cardmarket
   "https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall&searchString=Windseeker+Centaur&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall",
   :cardhoarder
   "https://www.cardhoarder.com/cards?affiliate_id=scryfall&data%5Bsearch%5D=Windseeker+Centaur&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall"},
  :border_color "black",
  :colors ["R"],
  :image_status "highres_scan",
  :reprint false,
  :artist "Anson Maddocks",
  :artist_ids ["634430a7-b5c3-4e4a-b2ac-164e084e47c9"],
  :variation false,
  :keywords ["Vigilance"],
  :color_identity ["R"],
  :image_uris
  {:small
   "https://c1.scryfall.com/file/scryfall-cards/small/front/e/1/e105e6c0-2d75-4ebe-beca-e7b4101f87f6.jpg?1561758279",
   :normal
   "https://c1.scryfall.com/file/scryfall-cards/normal/front/e/1/e105e6c0-2d75-4ebe-beca-e7b4101f87f6.jpg?1561758279",
   :large
   "https://c1.scryfall.com/file/scryfall-cards/large/front/e/1/e105e6c0-2d75-4ebe-beca-e7b4101f87f6.jpg?1561758279",
   :png
   "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e105e6c0-2d75-4ebe-beca-e7b4101f87f6.png?1561758279",
   :art_crop
   "https://c1.scryfall.com/file/scryfall-cards/art_crop/front/e/1/e105e6c0-2d75-4ebe-beca-e7b4101f87f6.jpg?1561758279",
   :border_crop
   "https://c1.scryfall.com/file/scryfall-cards/border_crop/front/e/1/e105e6c0-2d75-4ebe-beca-e7b4101f87f6.jpg?1561758279"},
  :cmc 3.0,
  :related_uris
  {:gatherer
   "https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=97057",
   :tcgplayer_infinite_articles
   "https://infinite.tcgplayer.com/search?contentMode=article&game=magic&partner=scryfall&q=Windseeker+Centaur&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :tcgplayer_infinite_decks
   "https://infinite.tcgplayer.com/search?contentMode=deck&game=magic&partner=scryfall&q=Windseeker+Centaur&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :edhrec "https://edhrec.com/route/?cc=Windseeker+Centaur",
   :mtgtop8
   "https://mtgtop8.com/search?MD_check=1&SB_check=1&cards=Windseeker+Centaur"},
  :lang "en",
  :power "2",
  :prices
  {:usd "5.73",
   :usd_foil nil,
   :usd_etched nil,
   :eur "7.49",
   :eur_foil nil,
   :tix nil},
  :oracle_id "b3d40cf7-a529-4bd0-8df7-231630a49bb8",
  :promo_types ["mediainsert"],
  :id "e105e6c0-2d75-4ebe-beca-e7b4101f87f6",
  :textless false,
  :cardmarket_id 15175,
  :reserved false,
  :multiverse_ids [97057],
  :promo true,
  :uri
  "https://api.scryfall.com/cards/e105e6c0-2d75-4ebe-beca-e7b4101f87f6",
  :legalities
  {:premodern "not_legal",
   :future "not_legal",
   :commander "legal",
   :oldschool "not_legal",
   :penny "legal",
   :alchemy "not_legal",
   :historic "not_legal",
   :duel "legal",
   :brawl "not_legal",
   :gladiator "not_legal",
   :historicbrawl "not_legal",
   :pioneer "not_legal",
   :standard "not_legal",
   :pauper "not_legal",
   :legacy "legal",
   :vintage "legal",
   :paupercommander "not_legal",
   :modern "not_legal"},
  :oracle_text "Vigilance",
  :set "phpr",
  :rarity "rare",
  :flavor_text
  "Loyal and passionate in battle, the Windseeker tribe roams the Green Lands near the Honeyed Sea.",
  :digital false,
  :foil false,
  :set_search_uri
  "https://api.scryfall.com/cards/search?order=set&q=e%3Aphpr&unique=prints",
  :edhrec_rank 19155,
  :object "card",
  :games ["paper"],
  :finishes ["nonfoil"],
  :tcgplayer_id 21470,
  :toughness "2"}
 {:released_at "1995-02-01",
  :collector_number "4",
  :booster false,
  :oversized false,
  :card_back_id "0aeebaf5-8c7d-4636-9e82-8c27447861f7",
  :set_name "HarperPrism Book Promos",
  :rulings_uri
  "https://api.scryfall.com/cards/6b1ac9c5-5f9f-445e-8e4b-b53ed9984958/rulings",
  :highres_image true,
  :frame "1993",
  :scryfall_set_uri "https://scryfall.com/sets/phpr?utm_source=api",
  :type_line "Creature — Badger",
  :set_id "b32cc4a1-1e06-4bec-bab6-89b2691b57a4",
  :full_art false,
  :set_uri
  "https://api.scryfall.com/sets/b32cc4a1-1e06-4bec-bab6-89b2691b57a4",
  :scryfall_uri
  "https://scryfall.com/card/phpr/4/giant-badger?utm_source=api",
  :illustration_id "44d6f3a6-607b-4954-a31a-e793e700aeef",
  :set_type "promo",
  :layout "normal",
  :name "Giant Badger",
  :nonfoil true,
  :mana_cost "{1}{G}{G}",
  :story_spotlight false,
  :prints_search_uri
  "https://api.scryfall.com/cards/search?order=released&q=oracleid%3Aa4109138-5d69-4510-a228-7c1f88c0c8c0&unique=prints",
  :purchase_uris
  {:tcgplayer
   "https://www.tcgplayer.com/product/21466?page=1&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :cardmarket
   "https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall&searchString=Giant+Badger&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall",
   :cardhoarder
   "https://www.cardhoarder.com/cards?affiliate_id=scryfall&data%5Bsearch%5D=Giant+Badger&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall"},
  :border_color "black",
  :colors ["G"],
  :image_status "highres_scan",
  :reprint false,
  :artist "Liz Danforth",
  :artist_ids ["5a5ee217-9d28-419a-b92a-a2376c7d18b3"],
  :variation false,
  :keywords [],
  :color_identity ["G"],
  :image_uris
  {:small
   "https://c1.scryfall.com/file/scryfall-cards/small/front/6/b/6b1ac9c5-5f9f-445e-8e4b-b53ed9984958.jpg?1561757355",
   :normal
   "https://c1.scryfall.com/file/scryfall-cards/normal/front/6/b/6b1ac9c5-5f9f-445e-8e4b-b53ed9984958.jpg?1561757355",
   :large
   "https://c1.scryfall.com/file/scryfall-cards/large/front/6/b/6b1ac9c5-5f9f-445e-8e4b-b53ed9984958.jpg?1561757355",
   :png
   "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6b1ac9c5-5f9f-445e-8e4b-b53ed9984958.png?1561757355",
   :art_crop
   "https://c1.scryfall.com/file/scryfall-cards/art_crop/front/6/b/6b1ac9c5-5f9f-445e-8e4b-b53ed9984958.jpg?1561757355",
   :border_crop
   "https://c1.scryfall.com/file/scryfall-cards/border_crop/front/6/b/6b1ac9c5-5f9f-445e-8e4b-b53ed9984958.jpg?1561757355"},
  :cmc 3.0,
  :related_uris
  {:gatherer
   "https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=97045",
   :tcgplayer_infinite_articles
   "https://infinite.tcgplayer.com/search?contentMode=article&game=magic&partner=scryfall&q=Giant+Badger&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :tcgplayer_infinite_decks
   "https://infinite.tcgplayer.com/search?contentMode=deck&game=magic&partner=scryfall&q=Giant+Badger&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :edhrec "https://edhrec.com/route/?cc=Giant+Badger",
   :mtgtop8
   "https://mtgtop8.com/search?MD_check=1&SB_check=1&cards=Giant+Badger"},
  :lang "en",
  :power "2",
  :prices
  {:usd "4.37",
   :usd_foil nil,
   :usd_etched nil,
   :eur "2.99",
   :eur_foil nil,
   :tix nil},
  :oracle_id "a4109138-5d69-4510-a228-7c1f88c0c8c0",
  :promo_types ["mediainsert"],
  :id "6b1ac9c5-5f9f-445e-8e4b-b53ed9984958",
  :textless false,
  :cardmarket_id 15176,
  :reserved false,
  :multiverse_ids [97045],
  :promo true,
  :uri
  "https://api.scryfall.com/cards/6b1ac9c5-5f9f-445e-8e4b-b53ed9984958",
  :legalities
  {:premodern "not_legal",
   :future "not_legal",
   :commander "legal",
   :oldschool "not_legal",
   :penny "legal",
   :alchemy "not_legal",
   :historic "not_legal",
   :duel "legal",
   :brawl "not_legal",
   :gladiator "not_legal",
   :historicbrawl "not_legal",
   :pioneer "not_legal",
   :standard "not_legal",
   :pauper "legal",
   :legacy "legal",
   :vintage "legal",
   :paupercommander "legal",
   :modern "legal"},
  :oracle_text
  "Whenever Giant Badger blocks, it gets +2/+2 until end of turn.",
  :set "phpr",
  :rarity "rare",
  :flavor_text
  "The wizard Greensleeves called a Giant Badger to her aid in an battle with the desert mage Karli.",
  :digital false,
  :foil false,
  :set_search_uri
  "https://api.scryfall.com/cards/search?order=set&q=e%3Aphpr&unique=prints",
  :edhrec_rank 22230,
  :object "card",
  :games ["paper"],
  :finishes ["nonfoil"],
  :tcgplayer_id 21466,
  :toughness "2"}
 {:released_at "1995-04-01",
  :collector_number "5",
  :booster false,
  :oversized false,
  :card_back_id "0aeebaf5-8c7d-4636-9e82-8c27447861f7",
  :set_name "HarperPrism Book Promos",
  :rulings_uri
  "https://api.scryfall.com/cards/160cf235-6463-4e16-a426-8b5be76b10d2/rulings",
  :highres_image true,
  :frame "1993",
  :scryfall_set_uri "https://scryfall.com/sets/phpr?utm_source=api",
  :type_line "Artifact",
  :set_id "b32cc4a1-1e06-4bec-bab6-89b2691b57a4",
  :full_art false,
  :set_uri
  "https://api.scryfall.com/sets/b32cc4a1-1e06-4bec-bab6-89b2691b57a4",
  :scryfall_uri
  "https://scryfall.com/card/phpr/5/mana-crypt?utm_source=api",
  :illustration_id "95eb9674-6484-4ddd-a923-2d10abf91061",
  :set_type "promo",
  :layout "normal",
  :name "Mana Crypt",
  :nonfoil true,
  :mana_cost "{0}",
  :story_spotlight false,
  :prints_search_uri
  "https://api.scryfall.com/cards/search?order=released&q=oracleid%3A2c63e4e1-89d2-4bc6-a232-94e75c4b1c8a&unique=prints",
  :purchase_uris
  {:tcgplayer
   "https://www.tcgplayer.com/product/21467?page=1&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :cardmarket
   "https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall&searchString=Mana+Crypt&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall",
   :cardhoarder
   "https://www.cardhoarder.com/cards?affiliate_id=scryfall&data%5Bsearch%5D=Mana+Crypt&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall"},
  :border_color "black",
  :colors [],
  :image_status "highres_scan",
  :reprint false,
  :artist "Mark Tedin",
  :artist_ids ["9ee9a9cc-c09e-486f-918b-69f80cbc4188"],
  :variation false,
  :keywords [],
  :color_identity [],
  :image_uris
  {:small
   "https://c1.scryfall.com/file/scryfall-cards/small/front/1/6/160cf235-6463-4e16-a426-8b5be76b10d2.jpg?1561756713",
   :normal
   "https://c1.scryfall.com/file/scryfall-cards/normal/front/1/6/160cf235-6463-4e16-a426-8b5be76b10d2.jpg?1561756713",
   :large
   "https://c1.scryfall.com/file/scryfall-cards/large/front/1/6/160cf235-6463-4e16-a426-8b5be76b10d2.jpg?1561756713",
   :png
   "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/160cf235-6463-4e16-a426-8b5be76b10d2.png?1561756713",
   :art_crop
   "https://c1.scryfall.com/file/scryfall-cards/art_crop/front/1/6/160cf235-6463-4e16-a426-8b5be76b10d2.jpg?1561756713",
   :border_crop
   "https://c1.scryfall.com/file/scryfall-cards/border_crop/front/1/6/160cf235-6463-4e16-a426-8b5be76b10d2.jpg?1561756713"},
  :cmc 0.0,
  :related_uris
  {:gatherer
   "https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=97048",
   :tcgplayer_infinite_articles
   "https://infinite.tcgplayer.com/search?contentMode=article&game=magic&partner=scryfall&q=Mana+Crypt&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :tcgplayer_infinite_decks
   "https://infinite.tcgplayer.com/search?contentMode=deck&game=magic&partner=scryfall&q=Mana+Crypt&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :edhrec "https://edhrec.com/route/?cc=Mana+Crypt",
   :mtgtop8
   "https://mtgtop8.com/search?MD_check=1&SB_check=1&cards=Mana+Crypt"},
  :lang "en",
  :prices
  {:usd "362.82",
   :usd_foil nil,
   :usd_etched nil,
   :eur "165.00",
   :eur_foil nil,
   :tix nil},
  :oracle_id "2c63e4e1-89d2-4bc6-a232-94e75c4b1c8a",
  :promo_types ["mediainsert"],
  :id "160cf235-6463-4e16-a426-8b5be76b10d2",
  :textless false,
  :cardmarket_id 15177,
  :reserved false,
  :multiverse_ids [97048],
  :produced_mana ["C"],
  :promo true,
  :uri
  "https://api.scryfall.com/cards/160cf235-6463-4e16-a426-8b5be76b10d2",
  :legalities
  {:premodern "not_legal",
   :future "not_legal",
   :commander "legal",
   :oldschool "not_legal",
   :penny "not_legal",
   :alchemy "not_legal",
   :historic "not_legal",
   :duel "banned",
   :brawl "not_legal",
   :gladiator "not_legal",
   :historicbrawl "not_legal",
   :pioneer "not_legal",
   :standard "not_legal",
   :pauper "not_legal",
   :legacy "banned",
   :vintage "restricted",
   :paupercommander "not_legal",
   :modern "not_legal"},
  :oracle_text
  "At the beginning of your upkeep, flip a coin. If you lose the flip, Mana Crypt deals 3 damage to you.\n{T}: Add {C}{C}.",
  :set "phpr",
  :rarity "rare",
  :digital false,
  :foil false,
  :set_search_uri
  "https://api.scryfall.com/cards/search?order=set&q=e%3Aphpr&unique=prints",
  :edhrec_rank 36,
  :object "card",
  :games ["paper"],
  :finishes ["nonfoil"],
  :tcgplayer_id 21467})
