(#:card{:type-line "Legendary Planeswalker — Chandra",
        :layout-category :normal,
        :code "phtr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/7/d7ee8f1a-76ca-48a5-b71c-bc787cf66a09.png?1619708668",
        :collector-number "1",
        :layout "normal",
        :name "Chandra, Gremlin Wrangler",
        :oracle-text
        "+1: Create a 2/2 red Gremlin creature token.\n−2: Chandra, Gremlin Wrangler deals X damage to target creature or player, where X is the number of Gremlins you control."}
 #:card{:type-line "Legendary Planeswalker — Dungeon Master",
        :layout-category :normal,
        :code "phtr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/4/a4cf1827-2ce6-4592-b213-858dcb115ae0.png?1619708675",
        :collector-number "2",
        :layout "normal",
        :name "Dungeon Master",
        :oracle-text
        "+1: Target opponent creates a 1/1 black Skeleton creature token with \"When this creature dies, each opponent gains 2 life.\"\n+1: Roll a d20. If you roll a 1, skip your next turn. If you roll a 12 or higher, draw a card.\n−6: You get an adventuring party. (Your party is a 3/3 red Fighter with first strike, a 1/1 white Cleric with lifelink, a 2/2 black Rogue with hexproof, and a 1/1 blue Wizard with flying.)"}
 #:card{:type-line "Legendary Creature — Dragon",
        :layout-category :normal,
        :code "phtr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/8/58ce16da-30d3-49ca-9c85-2dcb599f8913.png?1619708698",
        :collector-number "3",
        :layout "normal",
        :name "Nira, Hellkite Duelist",
        :oracle-text
        "Flash\nFlying, trample, haste\nWhen Nira, Hellkite Duelist enters the battlefield, the next time you would lose the game this turn, instead draw three cards and your life total becomes 5."})
