(#:card{:code "phuk",
        :collector-number "1",
        :name "Marrow-Gnawer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/7/974a571e-aea1-4e80-8e83-e6d9c6ef201b.png?1562923100",
        :type-line "Legendary Creature — Rat Rogue",
        :oracle-text
        "All Rats have fear.\n{T}, Sacrifice a Rat: Create X 1/1 black Rat creature tokens, where X is the number of Rats you control."}
 #:card{:code "phuk",
        :collector-number "2",
        :name "Swarm of Rats",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06a11bfc-9acb-4ed8-9a3c-923307eee0c5.png?1562896328",
        :type-line "Creature — Rat",
        :oracle-text
        "Swarm of Rats's power is equal to the number of Rats you control."}
 #:card{:code "phuk",
        :collector-number "3",
        :name "Nocturnal Raid",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3ce3de8a-de37-4ae4-89a0-8cad68885609.png?1562906209",
        :type-line "Instant",
        :oracle-text "Black creatures get +2/+0 until end of turn."}
 #:card{:code "phuk",
        :collector-number "4",
        :name "Skullsnatcher",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8de16ba1-c1c5-4388-ad3b-a8dbb39af300.png?1562921278",
        :type-line "Creature — Rat Ninja",
        :oracle-text
        "Ninjutsu {B} ({B}, Return an unblocked attacker you control to hand: Put this card onto the battlefield from your hand tapped and attacking.)\nWhenever Skullsnatcher deals combat damage to a player, exile up to two target cards from that player's graveyard."}
 #:card{:code "phuk",
        :collector-number "5",
        :name "Chittering Rats",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b3c1898d-76b6-438e-a7c3-3bb89ade1d30.png?1562928486",
        :type-line "Creature — Rat",
        :oracle-text
        "When Chittering Rats enters the battlefield, target opponent puts a card from their hand on top of their library."}
 #:card{:code "phuk",
        :collector-number "6",
        :name "Crippling Fatigue",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6ec1bbdb-66a6-40f0-b70e-279d763e8746.png?1562915537",
        :type-line "Sorcery",
        :oracle-text
        "Target creature gets -2/-2 until end of turn.\nFlashback—{1}{B}, Pay 3 life. (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "phuk",
        :collector-number "7",
        :name "Dirty Wererat",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d5b7723a-8230-4052-9ae1-4bfa46a1bd61.png?1562934915",
        :type-line "Creature — Human Rat Minion",
        :oracle-text
        "{B}, Discard a card: Regenerate Dirty Wererat.\nThreshold — As long as seven or more cards are in your graveyard, Dirty Wererat gets +2/+2 and can't block."}
 #:card{:code "phuk",
        :collector-number "8",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/5/f5de8d80-8695-4393-ae59-9b7a3ad738f3.png?1562941152",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "9",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/555d2f6a-1360-4462-8554-0b1055c2cf89.png?1562910675",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "10",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca9e8297-e9c4-4210-a34e-ec90dcab20dc.png?1562932909",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "11",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca921179-f6ca-43f2-bd15-2250adc0c622.png?1562932898",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "12",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/83c8d00d-6745-47a4-8447-330c81c3c8c1.png?1562919462",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "13",
        :name "Infernal Contract",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/7/e716076d-22b3-4614-b8f0-80ba0501913d.png?1562938240",
        :type-line "Sorcery",
        :oracle-text
        "Draw four cards. You lose half your life, rounded up."}
 #:card{:code "phuk",
        :collector-number "14",
        :name "Swarm of Rats",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/67d6d416-9526-41ee-9406-98d9452ea96d.png?1562914228",
        :type-line "Creature — Rat",
        :oracle-text
        "Swarm of Rats's power is equal to the number of Rats you control."}
 #:card{:code "phuk",
        :collector-number "15",
        :name "Sever Soul",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/a/ea18b372-2324-4d9c-a38e-fb35c599dd42.png?1562938815",
        :type-line "Sorcery",
        :oracle-text
        "Destroy target nonblack creature. It can't be regenerated. You gain life equal to its toughness."}
 #:card{:code "phuk",
        :collector-number "16",
        :name "Sever Soul",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b5b2605d-66e8-4e68-beee-d2eddae62175.png?1562928868",
        :type-line "Sorcery",
        :oracle-text
        "Destroy target nonblack creature. It can't be regenerated. You gain life equal to its toughness."}
 #:card{:code "phuk",
        :collector-number "17",
        :name "Nezumi Cutthroat",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/c/5cfd3cca-ae40-44be-b641-9b65363abfb7.png?1562912145",
        :type-line "Creature — Rat Warrior",
        :oracle-text
        "Fear (This creature can't be blocked except by artifact creatures and/or black creatures.)\nNezumi Cutthroat can't block."}
 #:card{:code "phuk",
        :collector-number "18",
        :name "Dirge of Dread",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/0/208cebc5-692c-41b8-ae6d-c245c6981023.png?1562901051",
        :type-line "Sorcery",
        :oracle-text
        "All creatures gain fear until end of turn. (They can't be blocked except by artifact creatures and/or black creatures.)\nCycling {1}{B} ({1}{B}, Discard this card: Draw a card.)\nWhen you cycle Dirge of Dread, you may have target creature gain fear until end of turn."}
 #:card{:code "phuk",
        :collector-number "19",
        :name "Chittering Rats",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c42bbe41-bb0d-4c47-b33f-f10c6db39a5a.png?1562931696",
        :type-line "Creature — Rat",
        :oracle-text
        "When Chittering Rats enters the battlefield, target opponent puts a card from their hand on top of their library."}
 #:card{:code "phuk",
        :collector-number "20",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5af5abdb-32b6-4952-a4f4-0b2f12ea909a.png?1562911806",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "21",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b8f73f42-e3bb-4f4c-8000-f9c5e3751575.png?1562929443",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "22",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8ae8b805-3e41-4592-9c24-0530e28d8d96.png?1562920735",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "23",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/91bc47eb-2807-4b5c-acde-a73115f49001.png?1562922050",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "24",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7cb6c2ca-879b-4b9b-8dd8-b29613143d7d.png?1562918033",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "25",
        :name "Patron of the Nezumi",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/0/80df21ef-20e3-48ab-8324-6a9068533781.png?1562918892",
        :type-line "Legendary Creature — Spirit",
        :oracle-text
        "Rat offering (You may cast this card any time you could cast an instant by sacrificing a Rat and paying the difference in mana costs between this and the sacrificed Rat. Mana cost includes color.)\nWhenever a permanent is put into an opponent's graveyard, that player loses 1 life."}
 #:card{:code "phuk",
        :collector-number "26",
        :name "Suppress",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/7/97d048c2-7456-4d68-b2f9-19d91d5e68d7.png?1562923194",
        :type-line "Sorcery",
        :oracle-text
        "Target player exiles all cards from their hand face down. At the beginning of the end step of that player's next turn, that player returns those cards to their hand."}
 #:card{:code "phuk",
        :collector-number "27",
        :name "Swarm of Rats",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/2/b26d02a0-f2fa-4ef8-8d1d-be5aca7a8db8.png?1562928195",
        :type-line "Creature — Rat",
        :oracle-text
        "Swarm of Rats's power is equal to the number of Rats you control."}
 #:card{:code "phuk",
        :collector-number "28",
        :name "Crypt Rats",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6c925e34-4a60-4081-9517-b5ea262fe8ae.png?1562915168",
        :type-line "Creature — Rat",
        :oracle-text
        "{X}: Crypt Rats deals X damage to each creature and each player. Spend only black mana on X."}
 #:card{:code "phuk",
        :collector-number "29",
        :name "Nezumi Cutthroat",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/0095c374-5edf-41c2-b597-f6e18b348170.png?1562895133",
        :type-line "Creature — Rat Warrior",
        :oracle-text
        "Fear (This creature can't be blocked except by artifact creatures and/or black creatures.)\nNezumi Cutthroat can't block."}
 #:card{:code "phuk",
        :collector-number "30",
        :name "Crippling Fatigue",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cb4dfa82-9f4e-4aec-8232-2ca19d7ae5f8.png?1562933033",
        :type-line "Sorcery",
        :oracle-text
        "Target creature gets -2/-2 until end of turn.\nFlashback—{1}{B}, Pay 3 life. (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "phuk",
        :collector-number "31",
        :name "Dirty Wererat",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/3507696a-cce3-44c2-9d66-84d525228938.png?1562904831",
        :type-line "Creature — Human Rat Minion",
        :oracle-text
        "{B}, Discard a card: Regenerate Dirty Wererat.\nThreshold — As long as seven or more cards are in your graveyard, Dirty Wererat gets +2/+2 and can't block."}
 #:card{:code "phuk",
        :collector-number "32",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/ccac7da6-f5a4-4aa7-8395-b5de626181b6.png?1562933290",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "33",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d4e6a5af-62b3-491c-8816-20ed34465275.png?1562934756",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "34",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/8/a8942578-ce12-4446-94bc-ab1a14c94675.png?1562926487",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "35",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/1/812ea477-952a-4ccd-a577-6ee4e46ae9bc.png?1562918954",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "36",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b9a9fe0-b8b9-4eb1-bc45-2802ca949747.png?1562903058",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "37",
        :name "Gravestorm",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/56a6a409-b898-4951-8930-ce4506a86741.png?1562910932",
        :type-line "Enchantment",
        :oracle-text
        "At the beginning of your upkeep, target opponent may exile a card from their graveyard. If that player doesn't, you may draw a card."}
 #:card{:code "phuk",
        :collector-number "38",
        :name "Nezumi Graverobber // Nighteyes the Desecrator",
        :layout "flip",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/a/2a253b6f-d5b8-4667-855d-c7213c595d5f.png?1562902767",
        :faces
        [{:type-line "Creature — Rat Rogue",
          :oracle-text
          "{1}{B}: Exile target card from an opponent's graveyard. If no cards are in that graveyard, flip Nezumi Graverobber."}
         {:type-line "Legendary Creature — Rat Wizard",
          :oracle-text
          "{4}{B}: Put target creature card from a graveyard onto the battlefield under your control."}]}
 #:card{:code "phuk",
        :collector-number "39",
        :name "Nezumi Graverobber // Nighteyes the Desecrator",
        :layout "flip",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8b2e46cf-c8d7-416e-a0a5-31cf7d72659c.png?1562920818",
        :faces
        [{:type-line "Creature — Rat Rogue",
          :oracle-text
          "{1}{B}: Exile target card from an opponent's graveyard. If no cards are in that graveyard, flip Nezumi Graverobber."}
         {:type-line "Legendary Creature — Rat Wizard",
          :oracle-text
          "{4}{B}: Put target creature card from a graveyard onto the battlefield under your control."}]}
 #:card{:code "phuk",
        :collector-number "40",
        :name "Carrion Rats",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c54f6ac3-5822-4920-9cc3-38fe8c8a1f78.png?1562931922",
        :type-line "Creature — Rat",
        :oracle-text
        "Whenever Carrion Rats attacks or blocks, any player may exile a card from their graveyard. If a player does, Carrion Rats assigns no combat damage this turn."}
 #:card{:code "phuk",
        :collector-number "41",
        :name "Carrion Rats",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bc42576e-7501-40d7-9e21-78078850d952.png?1562930174",
        :type-line "Creature — Rat",
        :oracle-text
        "Whenever Carrion Rats attacks or blocks, any player may exile a card from their graveyard. If a player does, Carrion Rats assigns no combat damage this turn."}
 #:card{:code "phuk",
        :collector-number "42",
        :name "Skullsnatcher",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4b8c62da-b6cf-453f-ac74-232caae3f8eb.png?1562908785",
        :type-line "Creature — Rat Ninja",
        :oracle-text
        "Ninjutsu {B} ({B}, Return an unblocked attacker you control to hand: Put this card onto the battlefield from your hand tapped and attacking.)\nWhenever Skullsnatcher deals combat damage to a player, exile up to two target cards from that player's graveyard."}
 #:card{:code "phuk",
        :collector-number "43",
        :name "Skullsnatcher",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/68d2ae6a-359c-4a47-905a-84a377d486dd.png?1562914414",
        :type-line "Creature — Rat Ninja",
        :oracle-text
        "Ninjutsu {B} ({B}, Return an unblocked attacker you control to hand: Put this card onto the battlefield from your hand tapped and attacking.)\nWhenever Skullsnatcher deals combat damage to a player, exile up to two target cards from that player's graveyard."}
 #:card{:code "phuk",
        :collector-number "44",
        :name "Rats' Feast",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3cbfdc8f-397f-4fba-9333-a6999c5eb687.png?1595095838",
        :type-line "Sorcery",
        :oracle-text "Exile X target cards from a single graveyard."}
 #:card{:code "phuk",
        :collector-number "45",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3c081de6-16b3-4a03-ac0c-b1d967c3d516.png?1562906063",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "46",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e9693c4c-897d-46b0-9730-b2e656498751.png?1562938680",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "47",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/16ebe270-422b-4f9d-8c46-bef94e1e5b4f.png?1562899325",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "48",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/36ec637b-00b6-478d-b1b1-782ee47c6809.png?1562905170",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "49",
        :name "Larceny",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/3/33d618cf-37f1-463a-840a-4f9e07ebd3d7.png?1562904593",
        :type-line "Enchantment",
        :oracle-text
        "Whenever a creature you control deals combat damage to a player, that player discards a card."}
 #:card{:code "phuk",
        :collector-number "50",
        :name "Nezumi Bone-Reader",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/7/77dc102f-1d0c-4144-b741-eb0df3d7c11e.png?1562917177",
        :type-line "Creature — Rat Shaman",
        :oracle-text
        "{B}, Sacrifice a creature: Target player discards a card. Activate only as a sorcery."}
 #:card{:code "phuk",
        :collector-number "51",
        :name "Diabolic Tutor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/476177f6-bd50-406f-a04f-644b46c215a3.png?1562908066",
        :type-line "Sorcery",
        :oracle-text
        "Search your library for a card, put that card into your hand, then shuffle."}
 #:card{:code "phuk",
        :collector-number "52",
        :name "Betrayal of Flesh",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cd063fe1-1160-436d-b883-5f2ddefd8dc3.png?1562933350",
        :type-line "Instant",
        :oracle-text
        "Choose one —\n• Destroy target creature.\n• Return target creature card from your graveyard to the battlefield.\nEntwine—Sacrifice three lands. (Choose both if you pay the entwine cost.)"}
 #:card{:code "phuk",
        :collector-number "53",
        :name "Carrion Rats",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/ed8aaa9c-a156-423f-9f7f-ac3c2017326b.png?1562939597",
        :type-line "Creature — Rat",
        :oracle-text
        "Whenever Carrion Rats attacks or blocks, any player may exile a card from their graveyard. If a player does, Carrion Rats assigns no combat damage this turn."}
 #:card{:code "phuk",
        :collector-number "54",
        :name "Chittering Rats",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/1/5162306a-47f9-4725-bc6f-4610d2416a56.png?1562909916",
        :type-line "Creature — Rat",
        :oracle-text
        "When Chittering Rats enters the battlefield, target opponent puts a card from their hand on top of their library."}
 #:card{:code "phuk",
        :collector-number "55",
        :name "Rats' Feast",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/f/9fc02a94-bc32-4e55-82c9-f9bbf6368790.png?1595095840",
        :type-line "Sorcery",
        :oracle-text "Exile X target cards from a single graveyard."}
 #:card{:code "phuk",
        :collector-number "56",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/6/a6c0270a-3b2b-4f62-b7c3-9abe900f33d8.png?1562926142",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "57",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/46c2785e-2957-4423-b860-79676d97baad.png?1562907932",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "58",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9ce167ea-78bc-4666-bd33-b6f1194dd944.png?1562924218",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "59",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6b4506ee-762e-4ed7-aa78-d4a1a68a1ec0.png?1562914912",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "phuk",
        :collector-number "60",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/a/ea6cb47e-0963-4616-965b-6f18bd331030.png?1562938882",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"})
