(#:card{:code "pi13",
        :collector-number "10",
        :name "Voidmage Husher",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e199afa3-d16d-4b8e-b553-86bc3884aed1.png?1561758282",
        :type-line "Creature — Human Wizard",
        :oracle-text
        "Flash (You may cast this spell any time you could cast an instant.)\nWhen Voidmage Husher enters the battlefield, counter target activated ability. (Mana abilities can't be targeted.)\nWhenever you cast a spell, you may return Voidmage Husher to its owner's hand."}
 #:card{:code "pi13",
        :collector-number "11",
        :name "Ogre Arsonist",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/474f4537-905d-44f2-bc69-1e94c6727ad1.png?1561757054",
        :type-line "Creature — Ogre",
        :oracle-text
        "When Ogre Arsonist enters the battlefield, destroy target land."}
 #:card{:code "pi13",
        :collector-number "12",
        :name "Corrupt",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a4ca5099-48d1-4581-9345-b906c2e5b894.png?1561757747",
        :type-line "Sorcery",
        :oracle-text
        "Corrupt deals damage to any target equal to the number of Swamps you control. You gain life equal to the damage dealt this way."}
 #:card{:code "pi13",
        :collector-number "13",
        :name "High Tide",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/4/e4bfe5d1-0914-4c0b-b851-598d0850dc01.png?1561758326",
        :type-line "Instant",
        :oracle-text
        "Until end of turn, whenever a player taps an Island for mana, that player adds an additional {U}."}
 #:card{:code "pi13",
        :collector-number "14",
        :name "Gaze of Granite",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1aca163e-abff-459f-9925-09dda212dce2.png?1561756747",
        :type-line "Sorcery",
        :oracle-text
        "Destroy each nonland permanent with mana value X or less."})
