(#:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pidw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/55db30a7-6834-4a64-8edc-05ce18166c91.png?1561757162",
        :collector-number "1",
        :layout "normal",
        :name "Treasure Hunt",
        :oracle-text
        "Reveal cards from the top of your library until you reveal a nonland card, then put all cards revealed this way into your hand."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pidw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/03e0147e-841c-4593-83ce-001bf03885f2.png?1561756585",
        :collector-number "2",
        :layout "normal",
        :name "Faithless Looting",
        :oracle-text
        "Draw two cards, then discard two cards.\nFlashback {2}{R} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pidw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/9/69311f43-a025-4760-a81b-e5d91c1775d9.png?1561757341",
        :collector-number "3",
        :layout "normal",
        :name "Electrolyze",
        :oracle-text
        "Electrolyze deals 2 damage divided as you choose among one or two targets.\nDraw a card."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pidw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/5/658bf8b7-fbc4-4046-9300-249cdeb87924.png?1561757312",
        :collector-number "4",
        :layout "normal",
        :name "Feast of Blood",
        :oracle-text
        "Cast this spell only if you control two or more Vampires.\nDestroy target creature. You gain 4 life."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "pidw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8b5b9233-d183-41d1-a0a8-fdcf240f9d73.png?1561757534",
        :collector-number "5",
        :layout "normal",
        :name "Arrest",
        :oracle-text
        "Enchant creature\nEnchanted creature can't attack or block, and its activated abilities can't be activated."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pidw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f267137c-57f5-43b1-9a4b-98f2b84106b9.png?1561758413",
        :collector-number "6",
        :layout "normal",
        :name "Consume Spirit",
        :oracle-text
        "Spend only black mana on X.\nConsume Spirit deals X damage to any target and you gain X life."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pidw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/4/b48dbe81-b964-4bd4-a17e-8a0186f6f040.png?1561757874",
        :collector-number "7",
        :layout "normal",
        :name "Standstill",
        :oracle-text
        "When a player casts a spell, sacrifice Standstill. If you do, each of that player's opponents draws three cards."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pidw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5b3eb5c5-7ff8-4557-afe7-056ea5f09a49.png?1561757216",
        :collector-number "8",
        :layout "normal",
        :name "Breath of Malfegor",
        :oracle-text
        "Breath of Malfegor deals 5 damage to each opponent."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pidw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a11b59db-b1e7-47c4-aed9-a1792fc31ce9.png?1561757727",
        :collector-number "9",
        :layout "normal",
        :name "Turnabout",
        :oracle-text
        "Choose artifact, creature, or land. Tap all untapped permanents of the chosen type target player controls, or untap all tapped permanents of that type that player controls."})
