(#:card{:type-line "Creature — Human Soldier",
        :layout-category :normal,
        :code "pisd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/98f687bb-157c-4e98-b39b-2dce7f145fa5.png?1561757637",
        :collector-number "13",
        :layout "normal",
        :name "Elite Inquisitor",
        :oracle-text
        "First strike, vigilance\nProtection from Vampires, from Werewolves, and from Zombies"}
 #:card{:code "pisd",
        :collector-number "64★",
        :name "Ludevic's Test Subject // Ludevic's Abomination",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/340b660c-9aa1-4bd2-8c6f-d9af7fee5f4a.png?1605371414",
          :type-line "Creature — Lizard Egg",
          :oracle-text
          "Defender\n{1}{U}: Put a hatchling counter on Ludevic's Test Subject. Then if there are five or more hatchling counters on it, remove all of them and transform it."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/3/4/340b660c-9aa1-4bd2-8c6f-d9af7fee5f4a.png?1605371414",
          :type-line "Creature — Lizard Horror",
          :oracle-text "Trample"}]}
 #:card{:type-line "Creature — Zombie",
        :layout-category :normal,
        :code "pisd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b9cf8ad2-de95-417c-8808-83e60df9c007.png?1561757921",
        :collector-number "97",
        :layout "normal",
        :name "Diregraf Ghoul",
        :oracle-text "Diregraf Ghoul enters the battlefield tapped."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pisd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e6dd2f9e-16c2-4d25-98c4-0017ccd42228.png?1561758340",
        :collector-number "140",
        :layout "normal",
        :name "Devil's Play",
        :oracle-text
        "Devil's Play deals X damage to any target.\nFlashback {X}{R}{R}{R} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "pisd",
        :collector-number "193★",
        :name "Mayor of Avabruck // Howlpack Alpha",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/685b0777-b4e1-4c85-ad35-524024cb3a71.png?1605370722",
          :type-line "Creature — Human Advisor Werewolf",
          :oracle-text
          "Other Human creatures you control get +1/+1.\nAt the beginning of each upkeep, if no spells were cast last turn, transform Mayor of Avabruck."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/6/8/685b0777-b4e1-4c85-ad35-524024cb3a71.png?1605370722",
          :type-line "Creature — Werewolf",
          :oracle-text
          "Each other creature you control that's a Werewolf or a Wolf gets +1/+1.\nAt the beginning of your end step, create a 2/2 green Wolf creature token.\nAt the beginning of each upkeep, if a player cast two or more spells last turn, transform Howlpack Alpha."}]})
