(#:card{:code "pj21",
        :collector-number "1",
        :name "Morophon, the Boundless",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/72219be6-3806-4f9f-a414-78317cfd4e04.png?1640713641",
        :type-line "Legendary Creature — Shapeshifter",
        :oracle-text
        "Changeling (This card is every creature type.)\nAs Morophon, the Boundless enters the battlefield, choose a creature type.\nSpells of the chosen type you cast cost {W}{U}{B}{R}{G} less to cast. This effect reduces only the amount of colored mana you pay.\nOther creatures you control of the chosen type get +1/+1."}
 #:card{:code "pj21",
        :collector-number "2",
        :name "K'rrik, Son of Yawgmoth",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a2dc6a50-2a7e-4366-82a7-3c5b5aa2cca6.png?1641097563",
        :type-line "Legendary Creature — Phyrexian Horror Minion",
        :oracle-text
        "({B/P} can be paid with either {B} or 2 life.)\nLifelink\nFor each {B} in a cost, you may pay 2 life rather than pay that mana.\nWhenever you cast a black spell, put a +1/+1 counter on K'rrik, Son of Yawgmoth."}
 #:card{:code "pj21",
        :collector-number "3",
        :name "Edgar Markov",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/c/8c936967-b8eb-4d32-a6cc-c6bb006023d3.png?1641097591",
        :type-line "Legendary Creature — Vampire Knight",
        :oracle-text
        "Eminence — Whenever you cast another Vampire spell, if Edgar Markov is in the command zone or on the battlefield, create a 1/1 black Vampire creature token.\nFirst strike, haste\nWhenever Edgar Markov attacks, put a +1/+1 counter on each Vampire you control."}
 #:card{:code "pj21",
        :collector-number "4",
        :name "Ezuri, Claw of Progress",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/8607993c-84b6-4625-926c-0e4191e9c60f.png?1641097617",
        :type-line "Legendary Creature — Phyrexian Elf Warrior",
        :oracle-text
        "Whenever a creature with power 2 or less enters the battlefield under your control, you get an experience counter.\nAt the beginning of combat on your turn, put X +1/+1 counters on another target creature you control, where X is the number of experience counters you have."}
 #:card{:code "pj21",
        :collector-number "5",
        :name "The Gitrog Monster",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/debd0dfa-c20d-4886-a80e-26f800cfc17b.png?1637367143",
        :type-line "Legendary Creature — Frog Horror",
        :oracle-text
        "Deathtouch\nAt the beginning of your upkeep, sacrifice The Gitrog Monster unless you sacrifice a land.\nYou may play an additional land on each of your turns.\nWhenever one or more land cards are put into your graveyard from anywhere, draw a card."}
 #:card{:code "pj21",
        :collector-number "6",
        :name "Grand Arbiter Augustin IV",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/83afa82f-e3e5-45e3-87e4-51f59b1a0688.png?1627606318",
        :type-line "Legendary Creature — Human Advisor",
        :oracle-text
        "White spells you cast cost {1} less to cast.\nBlue spells you cast cost {1} less to cast.\nSpells your opponents cast cost {1} more to cast."}
 #:card{:code "pj21",
        :collector-number "7",
        :name "Karlov of the Ghost Council",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/10c9597a-abcf-4b88-9bb2-ce2d1fb68f5e.png?1627606353",
        :type-line "Legendary Creature — Spirit Advisor",
        :oracle-text
        "Whenever you gain life, put two +1/+1 counters on Karlov of the Ghost Council.\n{W}{B}, Remove six +1/+1 counters from Karlov of the Ghost Council: Exile target creature."}
 #:card{:code "pj21",
        :collector-number "8",
        :name "Mizzix of the Izmagnus",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/edd5eedf-4065-4ed0-805a-de47e5d98ac9.png?1641097645",
        :type-line "Legendary Creature — Goblin Wizard",
        :oracle-text
        "Whenever you cast an instant or sorcery spell with mana value greater than the number of experience counters you have, you get an experience counter.\nInstant and sorcery spells you cast cost {1} less to cast for each experience counter you have."}
 #:card{:code "pj21",
        :collector-number "9",
        :name "Nicol Bolas, the Ravager // Nicol Bolas, the Arisen",
        :layout "transform",
        :highres? true,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a77fabf-481d-4fff-be8f-faf35af9160b.png?1643580952",
          :type-line "Legendary Creature — Elder Dragon",
          :oracle-text
          "Flying\nWhen Nicol Bolas, the Ravager enters the battlefield, each opponent discards a card.\n{4}{U}{B}{R}: Exile Nicol Bolas, the Ravager, then return him to the battlefield transformed under his owner's control. Activate only as a sorcery."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/0/a/0a77fabf-481d-4fff-be8f-faf35af9160b.png?1643580952",
          :type-line "Legendary Planeswalker — Bolas",
          :oracle-text
          "+2: Draw two cards.\n−3: Nicol Bolas, the Arisen deals 10 damage to target creature or planeswalker.\n−4: Put target creature or planeswalker card from a graveyard onto the battlefield under your control.\n−12: Exile all but the bottom card of target player's library."}]}
 #:card{:code "pj21",
        :collector-number "10",
        :name "Zacama, Primal Calamity",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e566f373-ba8e-4dbc-ab96-deb271979fcd.png?1643576041",
        :type-line "Legendary Creature — Elder Dinosaur",
        :oracle-text
        "Vigilance, reach, trample\nWhen Zacama, Primal Calamity enters the battlefield, if you cast it, untap all lands you control.\n{2}{R}: Zacama deals 3 damage to target creature.\n{2}{G}: Destroy target artifact or enchantment.\n{2}{W}: You gain 3 life."})
