(#:card{:type-line "Creature — Snake Shaman",
        :layout-category :normal,
        :code "pjas",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/8/08c7812a-99a1-46be-8729-08321e64ef6e.png?1640091723",
        :collector-number "1U06",
        :layout "normal",
        :name "Sakura-Tribe Elder",
        :oracle-text
        "Sacrifice Sakura-Tribe Elder: Search your library for a basic land card, put that card onto the battlefield tapped, then shuffle."}
 #:card{:type-line "Creature — Soltari Cleric",
        :layout-category :normal,
        :code "pjas",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cffcd230-6e01-45b0-91ac-fb8be99593ae.png?1561758117",
        :collector-number "1U07",
        :layout "normal",
        :name "Soltari Priest",
        :oracle-text
        "Protection from red\nShadow (This creature can block or be blocked by only creatures with shadow.)"}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pjas",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/1/c1e92953-a469-4aaa-92bf-7f7880487202.png?1561757998",
        :collector-number "1U08",
        :layout "normal",
        :name "Glorious Anthem",
        :oracle-text "Creatures you control get +1/+1."}
 #:card{:type-line "Creature — Phoenix",
        :layout-category :normal,
        :code "pjas",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3f1b4646-7016-4b56-8b9a-fabf8624ec1a.png?1561756978",
        :collector-number "2U06",
        :layout "normal",
        :name "Shard Phoenix",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\nSacrifice Shard Phoenix: It deals 2 damage to each creature without flying.\n{R}{R}{R}: Return Shard Phoenix from your graveyard to your hand. Activate only during your upkeep."}
 #:card{:type-line "Creature — Human Monk",
        :layout-category :normal,
        :code "pjas",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/a/3a24a043-b8e4-42de-bfa4-e7e8bb9c473a.png?1561756939",
        :collector-number "2U07",
        :layout "normal",
        :name "Whirling Dervish",
        :oracle-text
        "Protection from black\nAt the beginning of each end step, if Whirling Dervish dealt damage to an opponent this turn, put a +1/+1 counter on it."}
 #:card{:type-line "Creature — Elf",
        :layout-category :normal,
        :code "pjas",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/8/a8159908-afa4-499c-99af-c5efb4263077.png?1561757783",
        :collector-number "2U08",
        :layout "normal",
        :name "Elvish Champion",
        :oracle-text
        "Other Elf creatures get +1/+1 and have forestwalk. (They can't be blocked as long as defending player controls a Forest.)"})
