(#:card{:type-line "Creature — Human Soldier",
        :layout-category :normal,
        :code "pjou",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/b/9bfeda36-26ee-41c2-935d-07d02cf3e940.png?1605370641",
        :collector-number "6★",
        :layout "normal",
        :name "Dawnbringer Charioteers",
        :oracle-text
        "Flying, lifelink\nHeroic — Whenever you cast a spell that targets Dawnbringer Charioteers, put a +1/+1 counter on Dawnbringer Charioteers."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pjou",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d6306f45-36fd-42b1-88b1-31b915410879.png?1561758153",
        :collector-number "37",
        :layout "normal",
        :name "Dictate of Kruphix",
        :oracle-text
        "Flash\nAt the beginning of each player's draw step, that player draws an additional card."}
 #:card{:type-line "Creature — Kraken",
        :layout-category :normal,
        :code "pjou",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/005be4aa-9800-4f68-b341-90328dc34d13.png?1605370826",
        :collector-number "51★",
        :layout "normal",
        :name "Scourge of Fleets",
        :oracle-text
        "When Scourge of Fleets enters the battlefield, return each creature your opponents control with toughness X or less to its owner's hand, where X is the number of Islands you control."}
 #:card{:type-line "Enchantment Creature — Giant",
        :layout-category :normal,
        :code "pjou",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/95ca8091-5282-4c87-88a8-cc84717e9d41.png?1605370684",
        :collector-number "66★",
        :layout "normal",
        :name "Doomwake Giant",
        :oracle-text
        "Constellation — Whenever Doomwake Giant or another enchantment enters the battlefield under your control, creatures your opponents control get -1/-1 until end of turn."}
 #:card{:type-line "Creature — Leech",
        :layout-category :normal,
        :code "pjou",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b564f16b-c212-4788-84a5-a95e4a748372.png?1561757881",
        :collector-number "84",
        :layout "normal",
        :name "Squelching Leeches",
        :oracle-text
        "Squelching Leeches's power and toughness are each equal to the number of Swamps you control."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pjou",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/be67e7aa-25ca-409f-9382-aa6b259cfa41.png?1605371437",
        :collector-number "93★",
        :layout "normal",
        :name "Dictate of the Twin Gods",
        :oracle-text
        "Flash\nIf a source would deal damage to a permanent or player, it deals double that damage to that permanent or player instead."}
 #:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "pjou",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/402a302a-4ba5-44a8-b291-afe74f3d0e67.png?1605370831",
        :collector-number "112★",
        :layout "normal",
        :name "Spawn of Thraxes",
        :oracle-text
        "Flying\nWhen Spawn of Thraxes enters the battlefield, it deals damage to any target equal to the number of Mountains you control."}
 #:card{:type-line "Enchantment Creature — Spirit",
        :layout-category :normal,
        :code "pjou",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bb2d43eb-a72f-4721-82b5-121a7c4d2ffa.png?1561757934",
        :collector-number "*122",
        :layout "normal",
        :name "Eidolon of Blossoms",
        :oracle-text
        "Constellation — Whenever Eidolon of Blossoms or another enchantment enters the battlefield under your control, draw a card."}
 #:card{:type-line "Creature — Hydra",
        :layout-category :normal,
        :code "pjou",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f4fed10c-74f8-49af-8daa-b9c081f549f8.png?1605370732",
        :collector-number "126★",
        :layout "normal",
        :name "Heroes' Bane",
        :oracle-text
        "Heroes' Bane enters the battlefield with four +1/+1 counters on it.\n{2}{G}{G}: Put X +1/+1 counters on Heroes' Bane, where X is its power."}
 #:card{:type-line "Legendary Artifact",
        :layout-category :normal,
        :code "pjou",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2e60397c-5d21-4b8c-be4e-38554b8b405c.png?1625943329",
        :collector-number "162",
        :layout "normal",
        :name "Hall of Triumph",
        :oracle-text
        "As Hall of Triumph enters the battlefield, choose a color.\nCreatures you control of the chosen color get +1/+1."})
