(#:card{:code "pjse",
        :collector-number "1E05",
        :name "Slith Firewalker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d087c754-df96-49de-87cd-d27d96d45ec3.png?1565982920",
        :type-line "Creature — Slith",
        :oracle-text
        "Haste\nWhenever Slith Firewalker deals combat damage to a player, put a +1/+1 counter on it."}
 #:card{:code "pjse",
        :collector-number "1E06",
        :name "Sakura-Tribe Elder",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/5/65195553-a7a0-414f-b945-25d93dc76395.png?1640091720",
        :type-line "Creature — Snake Shaman",
        :oracle-text
        "Sacrifice Sakura-Tribe Elder: Search your library for a basic land card, put that card onto the battlefield tapped, then shuffle."}
 #:card{:code "pjse",
        :collector-number "1E07",
        :name "Soltari Priest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/e/4e44c6aa-75ef-412a-94a7-d95d9d41b9cf.png?1561757107",
        :type-line "Creature — Soltari Cleric",
        :oracle-text
        "Protection from red\nShadow (This creature can block or be blocked by only creatures with shadow.)"}
 #:card{:code "pjse",
        :collector-number "1E08",
        :name "Glorious Anthem",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/34b6c51a-673b-4bbc-8423-f49fc5a05270.png?1582916288",
        :type-line "Enchantment",
        :oracle-text "Creatures you control get +1/+1."}
 #:card{:code "pjse",
        :collector-number "2E05",
        :name "Royal Assassin",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4a9bed5f-44e9-48f9-be50-2071b926121e.png?1561757076",
        :type-line "Creature — Human Assassin",
        :oracle-text "{T}: Destroy target tapped creature."}
 #:card{:code "pjse",
        :collector-number "2E06",
        :name "Shard Phoenix",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/8/48b07346-f271-441f-9327-fd519a88f628.png?1561757068",
        :type-line "Creature — Phoenix",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\nSacrifice Shard Phoenix: It deals 2 damage to each creature without flying.\n{R}{R}{R}: Return Shard Phoenix from your graveyard to your hand. Activate only during your upkeep."}
 #:card{:code "pjse",
        :collector-number "2E07",
        :name "Whirling Dervish",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cd0aef6e-39ba-4231-9d53-2619930f52b4.png?1561758095",
        :type-line "Creature — Human Monk",
        :oracle-text
        "Protection from black\nAt the beginning of each end step, if Whirling Dervish dealt damage to an opponent this turn, put a +1/+1 counter on it."}
 #:card{:code "pjse",
        :collector-number "2E08",
        :name "Elvish Champion",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/e/8ede03a3-9999-4eb4-b9c6-b0c0f68164c3.png?1561757558",
        :type-line "Creature — Elf",
        :oracle-text
        "Other Elf creatures get +1/+1 and have forestwalk. (They can't be blocked as long as defending player controls a Forest.)"})
