(#:card{:type-line "Creature — Human Soldier",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/54b04f03-28a8-4c9b-91ac-26880679b96a.png?1562701618",
        :collector-number "12s",
        :layout "normal",
        :name "Herald of Anafenza",
        :oracle-text
        "Outlast {2}{W} ({2}{W}, {T}: Put a +1/+1 counter on this creature. Outlast only as a sorcery.)\nWhenever you activate Herald of Anafenza's outlast ability, create a 1/1 white Warrior creature token."}
 #:card{:type-line "Creature — Bird Soldier",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/abd163f9-5510-47e2-a47a-a34d0bb14855.png?1562701644",
        :collector-number "13s",
        :layout "normal",
        :name "High Sentinels of Arashin",
        :oracle-text
        "Flying\nHigh Sentinels of Arashin gets +1/+1 for each other creature you control with a +1/+1 counter on it.\n{3}{W}: Put a +1/+1 counter on target creature."}
 #:card{:type-line "Creature — Human Monk",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/24decff2-6fb5-4666-83b6-b1860649bc0e.png?1562701607",
        :collector-number "18s",
        :layout "normal",
        :name "Master of Pearls",
        :oracle-text
        "Morph {3}{W}{W} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)\nWhen Master of Pearls is turned face up, creatures you control get +2/+2 until end of turn."}
 #:card{:type-line "Creature — Shapeshifter",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/3889b4d6-2541-484d-88dd-d67800545327.png?1581107945",
        :collector-number "34p",
        :layout "normal",
        :name "Clever Impersonator",
        :oracle-text
        "You may have Clever Impersonator enter the battlefield as a copy of any nonland permanent on the battlefield."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/6/b62554b0-595e-4ad0-a4e3-e281624ed9c8.png?1600997844",
        :collector-number "36p",
        :layout "normal",
        :name "Dig Through Time",
        :oracle-text
        "Delve (Each card you exile from your graveyard while casting this spell pays for {1}.)\nLook at the top seven cards of your library. Put two of them into your hand and the rest on the bottom of your library in any order."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/32fb5109-432c-4dc9-88c5-95cdcb7fbf60.png?1562701609",
        :collector-number "36s",
        :layout "normal",
        :name "Dig Through Time",
        :oracle-text
        "Delve (Each card you exile from your graveyard while casting this spell pays for {1}.)\nLook at the top seven cards of your library. Put two of them into your hand and the rest on the bottom of your library in any order."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a40a0023-127e-471d-9a22-252d20a25880.png?1562701641",
        :collector-number "42s",
        :layout "normal",
        :name "Icy Blast",
        :oracle-text
        "Tap X target creatures.\nFerocious — If you control a creature with power 4 or greater, those creatures don't untap during their controllers' next untap steps."}
 #:card{:type-line "Creature — Elemental",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75b8256e-4d47-4a1b-8356-5902eaca5e7e.png?1562701627",
        :collector-number "58s",
        :layout "normal",
        :name "Thousand Winds",
        :oracle-text
        "Flying\nMorph {5}{U}{U} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)\nWhen Thousand Winds is turned face up, return all other tapped creatures to their owners' hands."}
 #:card{:type-line "Creature — Human Warrior",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fb4a63e6-2e00-44ee-b8a2-6f2bba66b457.png?1562701664",
        :collector-number "66s",
        :layout "normal",
        :name "Bloodsoaked Champion",
        :oracle-text
        "Bloodsoaked Champion can't block.\nRaid — {1}{B}: Return Bloodsoaked Champion from your graveyard to the battlefield. Activate only if you attacked this turn."}
 #:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7df716ed-c767-426e-81d9-e660f1f9fe3d.png?1562701629",
        :collector-number "73s",
        :layout "normal",
        :name "Grim Haruspex",
        :oracle-text
        "Morph {B} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)\nWhenever another nontoken creature you control dies, draw a card."}
 #:card{:type-line "Creature — Demon",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/758807f0-162c-4724-8029-b93f1fd73cce.png?1562701625",
        :collector-number "82s",
        :layout "normal",
        :name "Necropolis Fiend",
        :oracle-text
        "Delve (Each card you exile from your graveyard while casting this spell pays for {1}.)\nFlying\n{X}, {T}, Exile X cards from your graveyard: Target creature gets -X/-X until end of turn."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fc8d5e1c-f3d5-4af3-bae0-c40d54dd67dd.png?1562701665",
        :collector-number "106s",
        :layout "normal",
        :name "Crater's Claws",
        :oracle-text
        "Crater's Claws deals X damage to any target.\nFerocious — Crater's Claws deals X plus 2 damage instead if you control a creature with power 4 or greater."}
 #:card{:type-line "Creature — Human Monk",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/52b876cb-2f75-44c1-a417-4a48f151e172.png?1562701616",
        :collector-number "108s",
        :layout "normal",
        :name "Dragon-Style Twins",
        :oracle-text
        "Double strike\nProwess (Whenever you cast a noncreature spell, this creature gets +1/+1 until end of turn.)"}
 #:card{:type-line "Creature — Goblin Rogue",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fcb88a0f-d823-4dd5-82b2-de19dd46be63.png?1562701671",
        :collector-number "113s",
        :layout "normal",
        :name "Jeering Instigator",
        :oracle-text
        "Morph {2}{R} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)\nWhen Jeering Instigator is turned face up, if it's your turn, gain control of another target creature until end of turn. Untap that creature. It gains haste until end of turn."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0e432884-3b38-42ae-80bf-d4d2fec4316d.png?1591311191",
        :collector-number "133p",
        :layout "normal",
        :name "Hardened Scales",
        :oracle-text
        "If one or more +1/+1 counters would be put on a creature you control, that many plus one +1/+1 counters are put on it instead."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/eb11b49a-5d99-4e58-936a-be5926d69b98.png?1562701659",
        :collector-number "133s",
        :layout "normal",
        :name "Hardened Scales",
        :oracle-text
        "If one or more +1/+1 counters would be put on a creature you control, that many plus one +1/+1 counters are put on it instead."}
 #:card{:type-line "Creature — Human Warrior",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f18d7e24-3ba9-458e-a8e1-05a9834e0cce.png?1562701661",
        :collector-number "134",
        :layout "normal",
        :name "Heir of the Wilds",
        :oracle-text
        "Deathtouch\nFerocious — Whenever Heir of the Wilds attacks, if you control a creature with power 4 or greater, Heir of the Wilds gets +1/+1 until end of turn."}
 #:card{:type-line "Creature — Human Shaman",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c92ac95d-7a5e-4e5e-960b-9d2bf39f0179.png?1562701655",
        :collector-number "144",
        :layout "normal",
        :name "Rattleclaw Mystic",
        :oracle-text
        "{T}: Add {G}, {U}, or {R}.\nMorph {2} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)\nWhen Rattleclaw Mystic is turned face up, add {G}{U}{R}."}
 #:card{:type-line "Creature — Human Shaman",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/b/1b29c166-7a58-4963-b846-02bf3c8988a4.png?1562701602",
        :collector-number "144s",
        :layout "normal",
        :name "Rattleclaw Mystic",
        :oracle-text
        "{T}: Add {G}, {U}, or {R}.\nMorph {2} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)\nWhen Rattleclaw Mystic is turned face up, add {G}{U}{R}."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/8/580f1461-60da-4801-80f5-d422c02c8c8d.png?1562701620",
        :collector-number "154s",
        :layout "normal",
        :name "Trail of Mystery",
        :oracle-text
        "Whenever a face-down creature enters the battlefield under your control, you may search your library for a basic land card, reveal it, put it into your hand, then shuffle.\nWhenever a permanent you control is turned face up, if it's a creature, it gets +2/+2 until end of turn."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/59e9daee-46fa-4d3c-b90d-c395fccfef8d.png?1562701621",
        :collector-number "160s",
        :layout "normal",
        :name "Abzan Ascendancy",
        :oracle-text
        "When Abzan Ascendancy enters the battlefield, put a +1/+1 counter on each creature you control.\nWhenever a nontoken creature you control dies, create a 1/1 white Spirit creature token with flying."}
 #:card{:type-line "Legendary Creature — Human Soldier",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/8/a891b322-74e6-4a88-aa84-2d1cbe972e07.png?1562701642",
        :collector-number "163s",
        :layout "normal",
        :name "Anafenza, the Foremost",
        :oracle-text
        "Whenever Anafenza, the Foremost attacks, put a +1/+1 counter on another target tapped creature you control.\nIf a nontoken creature an opponent owns would die or a creature card not on the battlefield would be put into an opponent's graveyard, exile that card instead."}
 #:card{:type-line "Creature — Goblin Berserker",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/4705beb8-2c8b-4a15-aff1-580af3698fcf.png?1562701613",
        :collector-number "164",
        :layout "normal",
        :name "Ankle Shanker",
        :oracle-text
        "Haste\nWhenever Ankle Shanker attacks, creatures you control gain first strike and deathtouch until end of turn."}
 #:card{:type-line "Creature — Goblin Berserker",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/410e4550-edc1-418f-9b4a-95f6c71028f2.png?1562701610",
        :collector-number "164s",
        :layout "normal",
        :name "Ankle Shanker",
        :oracle-text
        "Haste\nWhenever Ankle Shanker attacks, creatures you control gain first strike and deathtouch until end of turn."}
 #:card{:type-line "Creature — Elephant Warrior",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bd8d74ee-a0e6-4111-bb74-9059fbc4b354.png?1562701649",
        :collector-number "166",
        :layout "normal",
        :name "Avalanche Tusker",
        :oracle-text
        "Whenever Avalanche Tusker attacks, target creature defending player controls blocks it this combat if able."}
 #:card{:type-line "Creature — Elephant Warrior",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a386d18-69f6-4c78-87b1-b9805b73b140.png?1562701599",
        :collector-number "166s",
        :layout "normal",
        :name "Avalanche Tusker",
        :oracle-text
        "Whenever Avalanche Tusker attacks, target creature defending player controls blocks it this combat if able."}
 #:card{:type-line "Creature — Demon",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a920210-42e1-4d27-a9ea-5d91674eb8fd.png?1562701601",
        :collector-number "168s",
        :layout "normal",
        :name "Butcher of the Horde",
        :oracle-text
        "Flying\nSacrifice another creature: Butcher of the Horde gains your choice of vigilance, lifelink, or haste until end of turn."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1fe147c8-d983-44fc-8498-c14b2a1b5d72.png?1562701604",
        :collector-number "171s",
        :layout "normal",
        :name "Crackling Doom",
        :oracle-text
        "Crackling Doom deals 2 damage to each opponent. Each opponent sacrifices a creature with the greatest power among creatures that player controls."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06c23520-34b1-44ec-a80f-81820449912b.png?1573996314",
        :collector-number "173s",
        :layout "normal",
        :name "Deflecting Palm",
        :oracle-text
        "The next time a source of your choice would deal damage to you this turn, prevent that damage. If damage is prevented this way, Deflecting Palm deals that much damage to that source's controller."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/e/8e3fba5b-b4cd-4050-b9f0-d8eabe82e7d6.png?1562701635",
        :collector-number "174s",
        :layout "normal",
        :name "Duneblast",
        :oracle-text "Choose up to one creature. Destroy the rest."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/86fdb261-dcf8-44b8-95b1-d03ce1453ed0.png?1562701632",
        :collector-number "176s",
        :layout "normal",
        :name "Flying Crane Technique",
        :oracle-text
        "Untap all creatures you control. They gain flying and double strike until end of turn."}
 #:card{:type-line "Creature — Elephant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/61bf8fd7-a0bd-43f2-85c0-9b4ea06edcfc.png?1562701622",
        :collector-number "179",
        :layout "normal",
        :name "Ivorytusk Fortress",
        :oracle-text
        "Untap each creature you control with a +1/+1 counter on it during each other player's untap step."}
 #:card{:type-line "Creature — Elephant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c7e9d681-dfc5-4213-b384-79932eeabcc4.png?1562701653",
        :collector-number "179s",
        :layout "normal",
        :name "Ivorytusk Fortress",
        :oracle-text
        "Untap each creature you control with a +1/+1 counter on it during each other player's untap step."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a29161fc-b8a2-498e-a949-5fdf9c37e90d.png?1562701639",
        :collector-number "180s",
        :layout "normal",
        :name "Jeskai Ascendancy",
        :oracle-text
        "Whenever you cast a noncreature spell, creatures you control get +1/+1 until end of turn. Untap those creatures.\nWhenever you cast a noncreature spell, you may draw a card. If you do, discard a card."}
 #:card{:type-line "Creature — Zombie Wizard",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/84434d6d-7649-4562-8427-e9de5af43257.png?1562701630",
        :collector-number "182s",
        :layout "normal",
        :name "Kheru Lich Lord",
        :oracle-text
        "At the beginning of your upkeep, you may pay {2}{B}. If you do, return a creature card at random from your graveyard to the battlefield. It gains flying, trample, and haste. Exile that card at the beginning of your next end step. If it would leave the battlefield, exile it instead of putting it anywhere else."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b95749d7-5967-4e49-9de0-74e156650095.png?1562701647",
        :collector-number "185s",
        :layout "normal",
        :name "Mardu Ascendancy",
        :oracle-text
        "Whenever a nontoken creature you control attacks, create a 1/1 red Goblin creature token that's tapped and attacking.\nSacrifice Mardu Ascendancy: Creatures you control get +0/+3 until end of turn."}
 #:card{:type-line "Legendary Creature — Human Monk",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0eb00508-afc5-4c54-aa93-bce93583a8be.png?1562701598",
        :collector-number "190s",
        :layout "normal",
        :name "Narset, Enlightened Master",
        :oracle-text
        "First strike, hexproof\nWhenever Narset, Enlightened Master attacks, exile the top four cards of your library. Until end of turn, you may cast noncreature spells from among those cards without paying their mana costs."}
 #:card{:type-line "Creature — Cat Demon",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/2/d219feb0-81d2-496a-8c70-0edbf75cbf27.png?1562701656",
        :collector-number "193",
        :layout "normal",
        :name "Rakshasa Vizier",
        :oracle-text
        "Whenever one or more cards are put into exile from your graveyard, put that many +1/+1 counters on Rakshasa Vizier."}
 #:card{:type-line "Creature — Cat Demon",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6ebba7a8-de3e-42ce-b8be-96281c2c175d.png?1562701624",
        :collector-number "193s",
        :layout "normal",
        :name "Rakshasa Vizier",
        :oracle-text
        "Whenever one or more cards are put into exile from your graveyard, put that many +1/+1 counters on Rakshasa Vizier."}
 #:card{:type-line "Creature — Djinn Wizard",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fb14f0bb-3ee7-4ff0-b9dc-1c2ab22283e0.png?1562701662",
        :collector-number "195",
        :layout "normal",
        :name "Sage of the Inward Eye",
        :oracle-text
        "Flying\nWhenever you cast a noncreature spell, creatures you control gain lifelink until end of turn."}
 #:card{:type-line "Creature — Djinn Wizard",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fca25454-6b18-4d37-a069-7d53f5ebdb14.png?1562701669",
        :collector-number "195s",
        :layout "normal",
        :name "Sage of the Inward Eye",
        :oracle-text
        "Flying\nWhenever you cast a noncreature spell, creatures you control gain lifelink until end of turn."}
 #:card{:type-line "Legendary Creature — Naga Shaman",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9cf8280f-463a-43a5-9c92-d9e7f54b2a32.png?1562701636",
        :collector-number "199s",
        :layout "normal",
        :name "Sidisi, Brood Tyrant",
        :oracle-text
        "Whenever Sidisi, Brood Tyrant enters the battlefield or attacks, mill three cards.\nWhenever one or more creature cards are put into your graveyard from your library, create a 2/2 black Zombie creature token."}
 #:card{:type-line "Creature — Rhino",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fcfb4ea4-2bcc-496b-9d02-6cce1dbb8b1b.png?1562701673",
        :collector-number "200s",
        :layout "normal",
        :name "Siege Rhino",
        :oracle-text
        "Trample\nWhen Siege Rhino enters the battlefield, each opponent loses 3 life and you gain 3 life."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/878f7e89-d9a0-47da-bd38-6e4f0f97600c.png?1562701633",
        :collector-number "203s",
        :layout "normal",
        :name "Sultai Ascendancy",
        :oracle-text
        "At the beginning of your upkeep, look at the top two cards of your library. Put any number of them into your graveyard and the rest back on top of your library in any order."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0c72495e-3c03-4dff-b671-47764af5058d.png?1562701596",
        :collector-number "204",
        :layout "normal",
        :name "Sultai Charm",
        :oracle-text
        "Choose one —\n• Destroy target monocolored creature.\n• Destroy target artifact or enchantment.\n• Draw two cards, then discard a card."}
 #:card{:type-line "Legendary Creature — Human Warrior",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/f/9fa09f29-7647-4a26-aea5-8174bd2075b8.png?1562701638",
        :collector-number "206s",
        :layout "normal",
        :name "Surrak Dragonclaw",
        :oracle-text
        "Flash\nThis spell can't be countered.\nCreature spells you control can't be countered.\nOther creatures you control have trample."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/0/80ac4542-1852-46d7-9f9d-eea8158297fa.png?1593609116",
        :collector-number "207p",
        :layout "normal",
        :name "Temur Ascendancy",
        :oracle-text
        "Creatures you control have haste.\nWhenever a creature with power 4 or greater enters the battlefield under your control, you may draw a card."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/43ff1c10-78b2-4e12-bd98-81a5d3d61e9c.png?1562701612",
        :collector-number "207s",
        :layout "normal",
        :name "Temur Ascendancy",
        :oracle-text
        "Creatures you control have haste.\nWhenever a creature with power 4 or greater enters the battlefield under your control, you may draw a card."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/0/c063b2b8-5243-43a8-8cb0-927116003bda.png?1562701652",
        :collector-number "209s",
        :layout "normal",
        :name "Trap Essence",
        :oracle-text
        "Counter target creature spell. Put two +1/+1 counters on up to one target creature."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af9bcca2-8ab6-4169-81c7-a3e7c8320028.png?1562701646",
        :collector-number "210",
        :layout "normal",
        :name "Utter End",
        :oracle-text "Exile target nonland permanent."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c70215f0-5a45-427e-8570-fbede0ecaeb0.png?1590113065",
        :collector-number "210p",
        :layout "normal",
        :name "Utter End",
        :oracle-text "Exile target nonland permanent."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/be5ffbc1-973b-4a30-988e-f97f76f97d0f.png?1562701650",
        :collector-number "210s",
        :layout "normal",
        :name "Utter End",
        :oracle-text "Exile target nonland permanent."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e5f43eec-d158-4060-9235-9b8128a48dca.png?1590113069",
        :collector-number "211p",
        :layout "normal",
        :name "Villainous Wealth",
        :oracle-text
        "Target opponent exiles the top X cards of their library. You may cast any number of spells with mana value X or less from among them without paying their mana costs."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0af8e0df-718f-4d75-ac8c-447d685bf51c.png?1562701594",
        :collector-number "211s",
        :layout "normal",
        :name "Villainous Wealth",
        :oracle-text
        "Target opponent exiles the top X cards of their library. You may cast any number of spells with mana value X or less from among them without paying their mana costs."}
 #:card{:type-line "Legendary Creature — Orc Warrior",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dc4dff3c-849e-4ba1-92d4-e48d3d56695a.png?1562701658",
        :collector-number "214s",
        :layout "normal",
        :name "Zurgo Helmsmasher",
        :oracle-text
        "Haste\nZurgo Helmsmasher attacks each combat if able.\nZurgo Helmsmasher has indestructible as long as it's your turn.\nWhenever a creature dealt damage by Zurgo Helmsmasher this turn dies, put a +1/+1 counter on Zurgo Helmsmasher."}
 #:card{:type-line "Legendary Artifact — Equipment",
        :layout-category :normal,
        :code "pktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/9/497c8a84-2f1f-447f-9a52-a0b97d85f5ee.png?1562701615",
        :collector-number "219",
        :layout "normal",
        :name "Dragon Throne of Tarkir",
        :oracle-text
        "Equipped creature has defender and \"{2}, {T}: Other creatures you control gain trample and get +X/+X until end of turn, where X is this creature's power.\"\nEquip {3}"})
