(#:card{:type-line "Legendary Creature — Minotaur Warrior",
        :layout-category :normal,
        :code "pl21",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fb04266a-ee41-4db3-99fa-bd8a333f1a61.png?1643509880",
        :collector-number "1",
        :layout "normal",
        :name "Moraug, Fury of Akoum",
        :oracle-text
        "Each creature you control gets +1/+0 for each time it has attacked this turn.\nLandfall — Whenever a land enters the battlefield under your control, if it's your main phase, there's an additional combat phase after this phase. At the beginning of that combat, untap all creatures you control."}
 #:card{:type-line "Legendary Creature — Minotaur Warrior",
        :layout-category :normal,
        :code "pl21",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e075bbdc-822f-4549-bfd5-ce4a2a4354f1.png?1621396503",
        :collector-number "1★",
        :layout "normal",
        :name "Sethron, Hurloon General",
        :oracle-text
        "Whenever Sethron, Hurloon General or another nontoken Minotaur enters the battlefield under your control, create a 2/3 red Minotaur creature token.\n{2}{B/R}: Minotaurs you control get +1/+0 and gain menace and haste until end of turn. ({B/R} can be paid with either {B} or {R}.)"}
 #:card{:type-line "Creature — Ox",
        :layout-category :normal,
        :code "pl21",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a4d9c2f4-887d-430f-913e-f4a6780c5ef6.png?1643511719",
        :collector-number "2",
        :layout "normal",
        :name "Ox of Agonas",
        :oracle-text
        "When Ox of Agonas enters the battlefield, discard your hand, then draw three cards.\nEscape—{R}{R}, Exile eight other cards from your graveyard. (You may cast this card from your graveyard for its escape cost.)\nOx of Agonas escapes with a +1/+1 counter on it."}
 #:card{:type-line "Token Creature — Minotaur",
        :layout-category :normal,
        :code "pl21",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fe6b9fbc-4060-4ca4-bccb-a631268b57d9.png?1621396478",
        :collector-number "2★",
        :layout "token",
        :name "Minotaur",
        :oracle-text ""}
 #:card{:type-line "Legendary Planeswalker — Angrath",
        :layout-category :normal,
        :code "pl21",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/beab1010-3d63-44f0-9f01-43b5e35aa5f1.png?1643509937",
        :collector-number "3",
        :layout "normal",
        :name "Angrath, the Flame-Chained",
        :oracle-text
        "+1: Each opponent discards a card and loses 2 life.\n−3: Gain control of target creature until end of turn. Untap it. It gains haste until end of turn. Sacrifice it at the beginning of the next end step if it has mana value 3 or less.\n−8: Each opponent loses life equal to the number of cards in their graveyard."}
 #:card{:type-line "Legendary Creature — Minotaur Warrior",
        :layout-category :normal,
        :code "pl21",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b85f59ce-a382-418c-aab7-90c22e17255f.png?1643511761",
        :collector-number "4",
        :layout "normal",
        :name "Tahngarth, First Mate",
        :oracle-text
        "Tahngarth, First Mate can't be blocked by more than one creature.\nWhenever an opponent attacks with one or more creatures, if Tahngarth is tapped, you may have that opponent gain control of Tahngarth until end of combat. If you do, choose a player or planeswalker that opponent is attacking. Tahngarth is attacking that player or planeswalker."})
