(#:card{:code "pl22",
        :collector-number "1",
        :name "Temur Sabertooth",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/f/bfe0e97c-9924-4e70-ad0b-344fadebd2d1.png?1650057498",
        :type-line "Creature — Cat",
        :oracle-text
        "{1}{G}: You may return another creature you control to its owner's hand. If you do, Temur Sabertooth gains indestructible until end of turn."}
 #:card{:code "pl22",
        :collector-number "2",
        :name "Jedit Ojanen",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/17380375-bdc9-41a5-a30b-482044434b8f.png?1650057463",
        :type-line "Legendary Creature — Cat Warrior",
        :oracle-text ""}
 #:card{:code "pl22",
        :collector-number "3",
        :name "Snapdax, Apex of the Hunt",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/8/d8544b91-fe93-4bcb-98b0-57c830e101fe.png?1650057556",
        :type-line "Legendary Creature — Dinosaur Cat Nightmare",
        :oracle-text
        "Mutate {2}{B/R}{W}{W} (If you cast this spell for its mutate cost, put it over or under target non-Human creature you own. They mutate into the creature on top plus all abilities from under it.)\nDouble strike\nWhenever this creature mutates, it deals 4 damage to target creature or planeswalker an opponent controls and you gain 4 life."}
 #:card{:code "pl22",
        :collector-number "4",
        :name "Yuriko, the Tiger's Shadow",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/0/b08bd0ff-663d-4a1c-bf48-0042720c2485.png?1650057530",
        :type-line "Legendary Creature — Human Ninja",
        :oracle-text
        "Commander ninjutsu {U}{B} ({U}{B}, Return an unblocked attacker you control to hand: Put this card onto the battlefield from your hand or the command zone tapped and attacking.)\nWhenever a Ninja you control deals combat damage to a player, reveal the top card of your library and put that card into your hand. Each opponent loses life equal to that card's mana value."}
 #:card{:code "pl22",
        :collector-number "5",
        :name "Herald's Horn",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f1817508-e2bd-440e-98e2-f4282b40d713.png?1651599372",
        :type-line "Artifact",
        :oracle-text
        "As Herald's Horn enters the battlefield, choose a creature type.\nCreature spells you cast of the chosen type cost {1} less to cast.\nAt the beginning of your upkeep, look at the top card of your library. If it's a creature card of the chosen type, you may reveal it and put it into your hand."})
