(#:card{:type-line "Artifact Creature — Equipment Rabbit",
        :layout-category :normal,
        :code "pl23",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/7/077ab42e-2112-4ed6-8883-0039a34a3cec.png?1675536413",
        :collector-number "1",
        :layout "normal",
        :name "Rabbit Battery",
        :oracle-text
        "Haste\nEquipped creature gets +1/+1 and has haste.\nReconfigure {R} ({R}: Attach to target creature you control; or unattach from a creature. Reconfigure only as a sorcery. While attached, this isn't a creature.)"}
 #:card{:type-line "Token Artifact — Food",
        :layout-category :normal,
        :code "pl23",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/1/9125314e-6d83-453e-9f0f-a3b674c1a5a7.png?1675536407",
        :collector-number "2",
        :layout "token",
        :name "Food",
        :oracle-text
        "{2}, {T}, Sacrifice this artifact: You gain 3 life."}
 #:card{:type-line "Legendary Creature — Rabbit Wizard",
        :layout-category :normal,
        :code "pl23",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/8/885a4ac8-67ee-437c-9133-687be93ea117.png?1675536202",
        :collector-number "3",
        :layout "normal",
        :name "Kwain, Itinerant Meddler",
        :oracle-text
        "{T}: Each player may draw a card, then each player who drew a card this way gains 1 life."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "pl23",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/e/7/e7ad7dbd-fff5-4af9-a823-f9a09fa3dfd4.png?1675536254",
        :collector-number "4",
        :layout "normal",
        :name "Swiftfoot Boots",
        :oracle-text
        "Equipped creature has hexproof and haste. (It can't be the target of spells or abilities your opponents control.)\nEquip {1}"}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "pl23",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/4/d4cc231e-7b86-4b64-a1d6-75aea64b85a0.png?1675536322",
        :collector-number "5",
        :layout "normal",
        :name "Ethereal Armor",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +1/+1 for each enchantment you control and has first strike."}
 #:card{:type-line "Artifact Creature — Beast",
        :layout-category :normal,
        :code "pl23",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/7/3/73e50280-5202-43a8-9b80-14feaf0ea9fe.png?1675536364",
        :collector-number "6",
        :layout "normal",
        :name "Arcbound Ravager",
        :oracle-text
        "Sacrifice an artifact: Put a +1/+1 counter on Arcbound Ravager.\nModular 1 (This creature enters the battlefield with a +1/+1 counter on it. When it dies, you may put its +1/+1 counters on target artifact creature.)"})
