(#:card{:code "plg21",
        :collector-number "1",
        :name "Aven Mindcensor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/508c8a22-a11a-42e3-9968-b0ced52ed3f5.png?1630204750",
        :type-line "Creature — Bird Wizard",
        :oracle-text
        "Flash\nFlying\nIf an opponent would search a library, that player searches the top four cards of that library instead."}
 #:card{:code "plg21",
        :collector-number "C1",
        :name "Xantcha, Sleeper Agent",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fa49f3a9-9b64-4fe0-8ecf-df5f9d73defe.png?1645724498",
        :type-line "Legendary Creature — Phyrexian Minion",
        :oracle-text
        "Xantcha, Sleeper Agent enters the battlefield under the control of an opponent of your choice.\nXantcha attacks each combat if able and can't attack its owner or planeswalkers its owner controls.\n{3}: Xantcha's controller loses 2 life and you draw a card. Any player may activate this ability."}
 #:card{:code "plg21",
        :collector-number "J1",
        :name "Orb of Dragonkind",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c0edd02-181e-4077-9829-1c1ed5035eeb.png?1633782471",
        :type-line "Artifact",
        :oracle-text
        "{1}, {T}: Add two mana in any combination of colors. Spend this mana only to cast Dragon spells or activate abilities of Dragons.\n{R}, {T}, Sacrifice Orb of Dragonkind: Look at the top seven cards of your library. You may reveal a Dragon card from among them and put it into your hand. Put the rest on the bottom of your library in a random order."}
 #:card{:code "plg21",
        :collector-number "2",
        :name "Dig Through Time",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/9914fb69-ebe8-469a-953a-763d89deb810.png?1630204780",
        :type-line "Instant",
        :oracle-text
        "Delve (Each card you exile from your graveyard while casting this spell pays for {1}.)\nLook at the top seven cards of your library. Put two of them into your hand and the rest on the bottom of your library in any order."}
 #:card{:code "plg21",
        :collector-number "C2",
        :name "Yuriko, the Tiger's Shadow",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/de2f26fc-1c69-490d-83a9-4031bcff6895.png?1643844646",
        :type-line "Legendary Creature — Human Ninja",
        :oracle-text
        "Commander ninjutsu {U}{B} ({U}{B}, Return an unblocked attacker you control to hand: Put this card onto the battlefield from your hand or the command zone tapped and attacking.)\nWhenever a Ninja you control deals combat damage to a player, reveal the top card of your library and put that card into your hand. Each opponent loses life equal to that card's mana value."}
 #:card{:code "plg21",
        :collector-number "J2",
        :name "Orb of Dragonkind",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bc9c39d1-1e10-4cd3-a4b1-b6eb7c1a0b65.png?1633782474",
        :type-line "Artifact",
        :oracle-text
        "{1}, {T}: Add two mana in any combination of colors. Spend this mana only to cast Dragon spells or activate abilities of Dragons.\n{R}, {T}, Sacrifice Orb of Dragonkind: Look at the top seven cards of your library. You may reveal a Dragon card from among them and put it into your hand. Put the rest on the bottom of your library in a random order."}
 #:card{:code "plg21",
        :collector-number "3",
        :name "Bolas's Citadel",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e6e80ec-68a4-4cfb-a712-2ea0d26dc6a1.png?1630204804",
        :type-line "Legendary Artifact",
        :oracle-text
        "You may look at the top card of your library any time.\nYou may play lands and cast spells from the top of your library. If you cast a spell this way, pay life equal to its mana value rather than pay its mana cost.\n{T}, Sacrifice ten nonland permanents: Each opponent loses 10 life."}
 #:card{:code "plg21",
        :collector-number "J3",
        :name "Orb of Dragonkind",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4a5ae275-5983-45c2-85fc-e87747b2198b.png?1633782477",
        :type-line "Artifact",
        :oracle-text
        "{1}, {T}: Add two mana in any combination of colors. Spend this mana only to cast Dragon spells or activate abilities of Dragons.\n{R}, {T}, Sacrifice Orb of Dragonkind: Look at the top seven cards of your library. You may reveal a Dragon card from among them and put it into your hand. Put the rest on the bottom of your library in a random order."}
 #:card{:code "plg21",
        :collector-number "4",
        :name "Goblin Guide",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/3/636603a2-98d7-4d1e-a270-68756024b448.png?1630204827",
        :type-line "Creature — Goblin Scout",
        :oracle-text
        "Haste\nWhenever Goblin Guide attacks, defending player reveals the top card of their library. If it's a land card, that player puts it into their hand."}
 #:card{:code "plg21",
        :collector-number "5",
        :name "Scavenging Ooze",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5b2198b7-ba8f-4097-89c9-d6644feb70bd.png?1630204849",
        :type-line "Creature — Ooze",
        :oracle-text
        "{G}: Exile target card from a graveyard. If it was a creature card, put a +1/+1 counter on Scavenging Ooze and you gain 1 life."})
