({:released_at "1995-01-01",
  :collector_number "1",
  :booster false,
  :oversized false,
  :card_back_id "0aeebaf5-8c7d-4636-9e82-8c27447861f7",
  :set_name "DCI Legend Membership",
  :rulings_uri
  "https://api.scryfall.com/cards/7065deea-6117-47d4-9d72-fc67af5bb483/rulings",
  :highres_image true,
  :frame "1993",
  :scryfall_set_uri "https://scryfall.com/sets/plgm?utm_source=api",
  :type_line "Instant",
  :set_id "5b6a6daa-5a80-435c-a534-fd5dd04c5540",
  :full_art false,
  :set_uri
  "https://api.scryfall.com/sets/5b6a6daa-5a80-435c-a534-fd5dd04c5540",
  :scryfall_uri
  "https://scryfall.com/card/plgm/1/counterspell?utm_source=api",
  :illustration_id "a36cbed8-c500-4814-bf4d-80c065d985c7",
  :set_type "promo",
  :layout "normal",
  :name "Counterspell",
  :nonfoil true,
  :mana_cost "{U}{U}",
  :story_spotlight false,
  :prints_search_uri
  "https://api.scryfall.com/cards/search?order=released&q=oracleid%3Acc187110-1148-4090-bbb8-e205694a39f5&unique=prints",
  :purchase_uris
  {:tcgplayer
   "https://www.tcgplayer.com/product/48138?page=1&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :cardmarket
   "https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall&searchString=Counterspell&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall",
   :cardhoarder
   "https://www.cardhoarder.com/cards?affiliate_id=scryfall&data%5Bsearch%5D=Counterspell&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall"},
  :border_color "black",
  :colors ["U"],
  :image_status "highres_scan",
  :reprint true,
  :artist "Dom!",
  :artist_ids ["c6521af6-535f-47e1-87cf-a133399164bf"],
  :variation false,
  :keywords [],
  :color_identity ["U"],
  :image_uris
  {:small
   "https://c1.scryfall.com/file/scryfall-cards/small/front/7/0/7065deea-6117-47d4-9d72-fc67af5bb483.jpg?1561757383",
   :normal
   "https://c1.scryfall.com/file/scryfall-cards/normal/front/7/0/7065deea-6117-47d4-9d72-fc67af5bb483.jpg?1561757383",
   :large
   "https://c1.scryfall.com/file/scryfall-cards/large/front/7/0/7065deea-6117-47d4-9d72-fc67af5bb483.jpg?1561757383",
   :png
   "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/7065deea-6117-47d4-9d72-fc67af5bb483.png?1561757383",
   :art_crop
   "https://c1.scryfall.com/file/scryfall-cards/art_crop/front/7/0/7065deea-6117-47d4-9d72-fc67af5bb483.jpg?1561757383",
   :border_crop
   "https://c1.scryfall.com/file/scryfall-cards/border_crop/front/7/0/7065deea-6117-47d4-9d72-fc67af5bb483.jpg?1561757383"},
  :cmc 2.0,
  :related_uris
  {:tcgplayer_infinite_articles
   "https://infinite.tcgplayer.com/search?contentMode=article&game=magic&partner=scryfall&q=Counterspell&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :tcgplayer_infinite_decks
   "https://infinite.tcgplayer.com/search?contentMode=deck&game=magic&partner=scryfall&q=Counterspell&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :edhrec "https://edhrec.com/route/?cc=Counterspell",
   :mtgtop8
   "https://mtgtop8.com/search?MD_check=1&SB_check=1&cards=Counterspell"},
  :lang "en",
  :prices
  {:usd "51.22",
   :usd_foil nil,
   :usd_etched nil,
   :eur "12.25",
   :eur_foil nil,
   :tix nil},
  :oracle_id "cc187110-1148-4090-bbb8-e205694a39f5",
  :promo_types ["instore"],
  :id "7065deea-6117-47d4-9d72-fc67af5bb483",
  :textless false,
  :cardmarket_id 18989,
  :reserved false,
  :multiverse_ids [],
  :promo true,
  :uri
  "https://api.scryfall.com/cards/7065deea-6117-47d4-9d72-fc67af5bb483",
  :legalities
  {:premodern "legal",
   :future "not_legal",
   :commander "legal",
   :oldschool "not_legal",
   :penny "not_legal",
   :alchemy "not_legal",
   :historic "banned",
   :duel "legal",
   :brawl "not_legal",
   :gladiator "legal",
   :historicbrawl "legal",
   :pioneer "not_legal",
   :standard "not_legal",
   :pauper "legal",
   :legacy "legal",
   :vintage "legal",
   :paupercommander "legal",
   :modern "legal"},
  :oracle_text "Counter target spell.",
  :set "plgm",
  :rarity "rare",
  :digital false,
  :foil false,
  :set_search_uri
  "https://api.scryfall.com/cards/search?order=set&q=e%3Aplgm&unique=prints",
  :edhrec_rank 17,
  :object "card",
  :games ["paper"],
  :finishes ["nonfoil"],
  :tcgplayer_id 48138}
 {:released_at "1995-01-01",
  :collector_number "2",
  :booster false,
  :oversized false,
  :card_back_id "0aeebaf5-8c7d-4636-9e82-8c27447861f7",
  :set_name "DCI Legend Membership",
  :rulings_uri
  "https://api.scryfall.com/cards/28b0495d-0c3f-4491-8331-4cbabbd6eac5/rulings",
  :highres_image true,
  :frame "1993",
  :scryfall_set_uri "https://scryfall.com/sets/plgm?utm_source=api",
  :type_line "Instant",
  :set_id "5b6a6daa-5a80-435c-a534-fd5dd04c5540",
  :full_art false,
  :set_uri
  "https://api.scryfall.com/sets/5b6a6daa-5a80-435c-a534-fd5dd04c5540",
  :scryfall_uri
  "https://scryfall.com/card/plgm/2/incinerate?utm_source=api",
  :illustration_id "ba4c04c6-d44b-4ed1-af76-6f6d7b08e327",
  :set_type "promo",
  :layout "normal",
  :name "Incinerate",
  :nonfoil true,
  :mana_cost "{1}{R}",
  :story_spotlight false,
  :prints_search_uri
  "https://api.scryfall.com/cards/search?order=released&q=oracleid%3Ad8fd7a34-8418-4e98-b79b-119c4348c667&unique=prints",
  :purchase_uris
  {:tcgplayer
   "https://www.tcgplayer.com/product/21704?page=1&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :cardmarket
   "https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall&searchString=Incinerate&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall",
   :cardhoarder
   "https://www.cardhoarder.com/cards?affiliate_id=scryfall&data%5Bsearch%5D=Incinerate&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall"},
  :border_color "black",
  :colors ["R"],
  :image_status "highres_scan",
  :reprint true,
  :artist "Jock",
  :artist_ids ["e0ee5fd3-b2a0-4521-a8af-5418d1e6ff78"],
  :variation false,
  :keywords [],
  :color_identity ["R"],
  :image_uris
  {:small
   "https://c1.scryfall.com/file/scryfall-cards/small/front/2/8/28b0495d-0c3f-4491-8331-4cbabbd6eac5.jpg?1561756819",
   :normal
   "https://c1.scryfall.com/file/scryfall-cards/normal/front/2/8/28b0495d-0c3f-4491-8331-4cbabbd6eac5.jpg?1561756819",
   :large
   "https://c1.scryfall.com/file/scryfall-cards/large/front/2/8/28b0495d-0c3f-4491-8331-4cbabbd6eac5.jpg?1561756819",
   :png
   "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/28b0495d-0c3f-4491-8331-4cbabbd6eac5.png?1561756819",
   :art_crop
   "https://c1.scryfall.com/file/scryfall-cards/art_crop/front/2/8/28b0495d-0c3f-4491-8331-4cbabbd6eac5.jpg?1561756819",
   :border_crop
   "https://c1.scryfall.com/file/scryfall-cards/border_crop/front/2/8/28b0495d-0c3f-4491-8331-4cbabbd6eac5.jpg?1561756819"},
  :cmc 2.0,
  :related_uris
  {:tcgplayer_infinite_articles
   "https://infinite.tcgplayer.com/search?contentMode=article&game=magic&partner=scryfall&q=Incinerate&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :tcgplayer_infinite_decks
   "https://infinite.tcgplayer.com/search?contentMode=deck&game=magic&partner=scryfall&q=Incinerate&utm_campaign=affiliate&utm_medium=api&utm_source=scryfall",
   :edhrec "https://edhrec.com/route/?cc=Incinerate",
   :mtgtop8
   "https://mtgtop8.com/search?MD_check=1&SB_check=1&cards=Incinerate"},
  :lang "en",
  :prices
  {:usd "5.70",
   :usd_foil nil,
   :usd_etched nil,
   :eur "2.50",
   :eur_foil nil,
   :tix nil},
  :oracle_id "d8fd7a34-8418-4e98-b79b-119c4348c667",
  :promo_types ["instore"],
  :id "28b0495d-0c3f-4491-8331-4cbabbd6eac5",
  :textless false,
  :cardmarket_id 18988,
  :reserved false,
  :multiverse_ids [],
  :promo true,
  :uri
  "https://api.scryfall.com/cards/28b0495d-0c3f-4491-8331-4cbabbd6eac5",
  :legalities
  {:premodern "legal",
   :future "not_legal",
   :commander "legal",
   :oldschool "not_legal",
   :penny "legal",
   :alchemy "not_legal",
   :historic "not_legal",
   :duel "legal",
   :brawl "not_legal",
   :gladiator "not_legal",
   :historicbrawl "not_legal",
   :pioneer "not_legal",
   :standard "not_legal",
   :pauper "legal",
   :legacy "legal",
   :vintage "legal",
   :paupercommander "legal",
   :modern "legal"},
  :oracle_text
  "Incinerate deals 3 damage to any target. A creature dealt damage this way can't be regenerated this turn.",
  :set "plgm",
  :rarity "rare",
  :flavor_text
  "\"Yes, I think 'toast' is an appropriate description.\"\n—Jaya Ballard, Task Mage",
  :digital false,
  :foil false,
  :set_search_uri
  "https://api.scryfall.com/cards/search?order=set&q=e%3Aplgm&unique=prints",
  :edhrec_rank 8102,
  :object "card",
  :games ["paper"],
  :finishes ["nonfoil"],
  :tcgplayer_id 21704})
