(#:card{:type-line "Creature — Beast",
        :layout-category :normal,
        :code "plgn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/1/5111a9a3-a92d-4677-8974-20800256dd4f.png?1606849574",
        :collector-number "126",
        :layout "normal",
        :name "Feral Throwback",
        :oracle-text
        "Amplify 2 (As this creature enters the battlefield, put two +1/+1 counters on it for each Beast card you reveal in your hand.)\nProvoke (Whenever this creature attacks, you may have target creature defending player controls untap and block it if able.)"})
