(#:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "plny",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fa8bbe0c-3813-4e3f-9bcf-cffe4fed6341.png?1594431509",
        :collector-number "1",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."})
