(#:card{:type-line "Creature — Giant",
        :layout-category :normal,
        :code "pm11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bb07690e-d816-46de-84e7-617149a51b18.png?1605361637",
        :collector-number "35★",
        :layout "normal",
        :name "Sun Titan",
        :oracle-text
        "Vigilance\nWhenever Sun Titan enters the battlefield or attacks, you may return target permanent card with mana value 3 or less from your graveyard to the battlefield."}
 #:card{:type-line "Creature — Ooze",
        :layout-category :normal,
        :code "pm11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3f8060a3-ba74-404c-9050-0e9f7128209f.png?1582916338",
        :collector-number "53",
        :layout "normal",
        :name "Mitotic Slime",
        :oracle-text
        "When Mitotic Slime dies, create two 2/2 green Ooze creature tokens. They have \"When this creature dies, create two 1/1 green Ooze creature tokens.\""}
 #:card{:type-line "Creature — Specter",
        :layout-category :normal,
        :code "pm11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0e348e20-f0bd-482f-b7de-475fa05753a4.png?1561756658",
        :collector-number "104",
        :layout "normal",
        :name "Liliana's Specter",
        :oracle-text
        "Flying\nWhen Liliana's Specter enters the battlefield, each opponent discards a card."}
 #:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "pm11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/918f0760-6a98-4099-8460-e003f3d0d655.png?1605361645",
        :collector-number "122★",
        :layout "normal",
        :name "Ancient Hellkite",
        :oracle-text
        "Flying\n{R}: Ancient Hellkite deals 1 damage to target creature defending player controls. Activate only if Ancient Hellkite is attacking."}
 #:card{:type-line "Creature — Bird",
        :layout-category :normal,
        :code "pm11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/df87b2e4-033c-447f-9b52-b67de3e6fe41.png?1605361641",
        :collector-number "165★",
        :layout "normal",
        :name "Birds of Paradise",
        :oracle-text "Flying\n{T}: Add one mana of any color."})
