(#:card{:type-line "Creature — Vampire Warrior",
        :layout-category :normal,
        :code "pm12",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/7/972fafa6-a001-4597-962b-1aed8e40adad.png?1605361686",
        :collector-number "82★",
        :layout "normal",
        :name "Bloodlord of Vaasgoth",
        :oracle-text
        "Bloodthirst 3 (If an opponent was dealt damage this turn, this creature enters the battlefield with three +1/+1 counters on it.)\nFlying\nWhenever you cast a Vampire creature spell, it gains bloodthirst 3."}
 #:card{:type-line "Creature — Phoenix",
        :layout-category :normal,
        :code "pm12",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c7c319cd-74ed-4ad8-ac0f-efb932bf5813.png?1605361673",
        :collector-number "126★",
        :layout "normal",
        :name "Chandra's Phoenix",
        :oracle-text
        "Flying\nHaste (This creature can attack and {T} as soon as it comes under your control.)\nWhenever an opponent is dealt damage by a red instant or sorcery spell you control or by a red planeswalker you control, return Chandra's Phoenix from your graveyard to your hand."}
 #:card{:type-line "Creature — Human Berserker",
        :layout-category :normal,
        :code "pm12",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8af30f24-0b2a-4d18-a8d2-2edc2687bdf6.png?1561757532",
        :collector-number "156",
        :layout "normal",
        :name "Stormblood Berserker",
        :oracle-text
        "Bloodthirst 2 (If an opponent was dealt damage this turn, this creature enters the battlefield with two +1/+1 counters on it.)\nMenace (This creature can't be blocked except by two or more creatures.)"}
 #:card{:type-line "Creature — Treefolk",
        :layout-category :normal,
        :code "pm12",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/678c11d1-567e-4153-b828-a4f18fc7bd58.png?1561757328",
        :collector-number "171",
        :layout "normal",
        :name "Dungrove Elder",
        :oracle-text
        "Hexproof (This creature can't be the target of spells or abilities your opponents control.)\nDungrove Elder's power and toughness are each equal to the number of Forests you control."}
 #:card{:type-line "Creature — Beast",
        :layout-category :normal,
        :code "pm12",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/3/3313f4ea-1275-4835-b4ff-73d3601c04e1.png?1605361688",
        :collector-number "176★",
        :layout "normal",
        :name "Garruk's Horde",
        :oracle-text
        "Trample\nPlay with the top card of your library revealed.\nYou may cast creature spells from the top of your library. (Do this only any time you could cast that creature spell. You still pay the spell's costs.)"})
