(#:card{:code "pm13",
        :collector-number "118★",
        :name "Xathrid Gorgon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/abfeac83-84ef-41ab-b6ee-cc2bab6aa06d.png?1605361704",
        :type-line "Creature — Gorgon",
        :oracle-text
        "Deathtouch (Any amount of damage this deals to a creature is enough to destroy it.)\n{2}{B}, {T}: Put a petrification counter on target creature. It gains defender and becomes a colorless artifact in addition to its other types. Its activated abilities can't be activated. (A creature with defender can't attack.)"}
 #:card{:code "pm13",
        :collector-number "140★",
        :name "Magmaquake",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/1476d42e-6cf8-4612-ae75-b3044d1eebbe.png?1605361705",
        :type-line "Instant",
        :oracle-text
        "Magmaquake deals X damage to each creature without flying and each planeswalker."}
 #:card{:code "pm13",
        :collector-number "177★",
        :name "Mwonvuli Beast Tracker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/de33a403-c77f-4020-9a7d-d31d8a75ae3d.png?1605361707",
        :type-line "Creature — Human Scout",
        :oracle-text
        "When Mwonvuli Beast Tracker enters the battlefield, search your library for a creature card with deathtouch, hexproof, reach, or trample and reveal it. Shuffle and put that card on top."}
 #:card{:code "pm13",
        :collector-number "217★",
        :name "Staff of Nin",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5be0ec9b-17ea-4503-b9c2-67a3ca2a2b13.png?1605361708",
        :type-line "Artifact",
        :oracle-text
        "At the beginning of your upkeep, draw a card.\n{T}: Staff of Nin deals 1 damage to any target."}
 #:card{:code "pm13",
        :collector-number "221★",
        :name "Cathedral of War",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/9/49da045a-f91b-4130-9ae7-bfbabefe352f.png?1605361711",
        :type-line "Land",
        :oracle-text
        "Cathedral of War enters the battlefield tapped.\nExalted (Whenever a creature you control attacks alone, that creature gets +1/+1 until end of turn.)\n{T}: Add {C}."})
