(#:card{:code "pm15",
        :collector-number "28",
        :name "Resolute Archangel",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f7d35240-f52d-4bd6-b3b3-5074af17200e.png?1561758449",
        :type-line "Creature — Angel",
        :oracle-text
        "Flying\nWhen Resolute Archangel enters the battlefield, if your life total is less than your starting life total, it becomes equal to your starting life total."}
 #:card{:code "pm15",
        :collector-number "46p",
        :name "Chasm Skulker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/8/f8d77ce7-f6f3-4f76-9957-8ca3734f403b.png?1591312299",
        :type-line "Creature — Squid Horror",
        :oracle-text
        "Whenever you draw a card, put a +1/+1 counter on Chasm Skulker.\nWhen Chasm Skulker dies, create X 1/1 blue Squid creature tokens with islandwalk, where X is the number of +1/+1 counters on Chasm Skulker. (They can't be blocked as long as defending player controls an Island.)"}
 #:card{:code "pm15",
        :collector-number "47",
        :name "Chief Engineer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e288e02f-615b-4911-a915-1f86f8921ac7.png?1561758300",
        :type-line "Creature — Vedalken Artificer",
        :oracle-text
        "Artifact spells you cast have convoke. (Your creatures can help cast those spells. Each creature you tap while casting an artifact spell pays for {1} or one mana of that creature's color.)"}
 #:card{:code "pm15",
        :collector-number "68",
        :name "Mercurial Pretender",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/3998c87e-e71f-4432-afca-974c9dc79676.png?1561756938",
        :type-line "Creature — Shapeshifter",
        :oracle-text
        "You may have Mercurial Pretender enter the battlefield as a copy of a creature you control, except it has \"{2}{U}{U}: Return this creature to its owner's hand.\""}
 #:card{:code "pm15",
        :collector-number "100",
        :name "In Garruk's Wake",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/987ace55-8f39-4d5e-8604-9e99d065b4d5.png?1561757636",
        :type-line "Sorcery",
        :oracle-text
        "Destroy all creatures you don't control and all planeswalkers you don't control."}
 #:card{:code "pm15",
        :collector-number "100p",
        :name "In Garruk's Wake",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/19d774ac-394f-4c35-90d0-b94a8236773c.png?1579733114",
        :type-line "Sorcery",
        :oracle-text
        "Destroy all creatures you don't control and all planeswalkers you don't control."}
 #:card{:code "pm15",
        :collector-number "101",
        :name "Indulgent Tormentor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/abf73a12-a9ca-44fd-a2ae-5fde7392d2fc.png?1561757806",
        :type-line "Creature — Demon",
        :oracle-text
        "Flying\nAt the beginning of your upkeep, draw a card unless target opponent sacrifices a creature or pays 3 life."}
 #:card{:code "pm15",
        :collector-number "110p",
        :name "Ob Nixilis, Unshackled",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b74b3c3f-b6ee-4371-bbe7-a74b1d0a7f72.png?1600997913",
        :type-line "Legendary Creature — Demon",
        :oracle-text
        "Flying, trample\nWhenever an opponent searches their library, that player sacrifices a creature and loses 10 life.\nWhenever another creature dies, put a +1/+1 counter on Ob Nixilis, Unshackled."}
 #:card{:code "pm15",
        :collector-number "145",
        :name "Goblin Rabblemaster",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/0/80ef4153-256b-47b9-8d2c-262527412588.png?1561757474",
        :type-line "Creature — Goblin Warrior",
        :oracle-text
        "Other Goblin creatures you control attack each combat if able.\nAt the beginning of combat on your turn, create a 1/1 red Goblin creature token with haste.\nWhenever Goblin Rabblemaster attacks, it gets +1/+0 until end of turn for each other attacking Goblin."}
 #:card{:code "pm15",
        :collector-number "162",
        :name "Siege Dragon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0dbb805e-a885-42bd-9283-8557343998ed.png?1561756656",
        :type-line "Creature — Dragon",
        :oracle-text
        "Flying\nWhen Siege Dragon enters the battlefield, destroy all Walls your opponents control.\nWhenever Siege Dragon attacks, if defending player controls no Walls, it deals 2 damage to each creature without flying that player controls."}
 #:card{:code "pm15",
        :collector-number "191",
        :name "Phytotitan",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/191e7b1c-0430-477e-8cb2-df5d8adeb2e4.png?1561756730",
        :type-line "Creature — Plant Elemental",
        :oracle-text
        "When Phytotitan dies, return it to the battlefield tapped under its owner's control at the beginning of their next upkeep."}
 #:card{:code "pm15",
        :collector-number "194",
        :name "Reclamation Sage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/cac912bb-f18a-4501-a5c0-aed8cb0a9e43.png?1561758087",
        :type-line "Creature — Elf Shaman",
        :oracle-text
        "When Reclamation Sage enters the battlefield, you may destroy target artifact or enchantment."}
 #:card{:code "pm15",
        :collector-number "231p",
        :name "Soul of New Phyrexia",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87a10796-0bcb-472d-9958-954851a2304a.png?1583269555",
        :type-line "Artifact Creature — Phyrexian Avatar",
        :oracle-text
        "Trample\n{5}: Permanents you control gain indestructible until end of turn.\n{5}, Exile Soul of New Phyrexia from your graveyard: Permanents you control gain indestructible until end of turn."})
