(#:card{:type-line "Creature — Angel Cleric",
        :layout-category :normal,
        :code "pmat",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/6/067eed30-8551-42b3-899a-03ffa71c5f11.png?1710201511",
        :collector-number "4p",
        :layout "normal",
        :name "Metropolis Reformer",
        :oracle-text
        "Flying, vigilance\nYou have hexproof.\nWhenever Metropolis Reformer is dealt damage, you gain that much life."}
 #:card{:type-line "Legendary Creature — Human Warrior",
        :layout-category :normal,
        :code "pmat",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/f/d/fdfd629b-d14d-4f8a-8392-0330289d6f39.png?1707677108",
        :collector-number "6p",
        :layout "normal",
        :name "Tazri, Stalwart Survivor",
        :oracle-text
        "Each creature you control has \"{T}: Add one mana of any of this creature's colors. Spend this mana only to activate an ability of a creature. Activate only if this creature has another activated ability.\"\n{W}{U}{B}{R}{G}, {T}: Mill five cards. Put all creature cards with activated abilities that aren't mana abilities from among the milled cards into your hand."}
 #:card{:type-line "Legendary Creature — Elf Scout",
        :layout-category :normal,
        :code "pmat",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/1/a1c75484-8bd1-49cf-8261-0e420ca89bca.png?1710201678",
        :collector-number "22p",
        :layout "normal",
        :name "Nissa, Resurgent Animist",
        :oracle-text
        "Landfall — Whenever a land enters the battlefield under your control, add one mana of any color. Then if this is the second time this ability has resolved this turn, reveal cards from the top of your library until you reveal an Elf or Elemental card. Put that card into your hand and the rest on the bottom of your library in a random order."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pmat",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/a/ba8fa461-4e9f-4c60-a89b-0bb7ef82ac8b.png?1710201538",
        :collector-number "23p",
        :layout "normal",
        :name "Open the Way",
        :oracle-text
        "X can't be greater than the number of players in the game.\nReveal cards from the top of your library until you reveal X land cards. Put those land cards onto the battlefield tapped and the rest on the bottom of your library in a random order."}
 #:card{:type-line "Legendary Enchantment",
        :layout-category :normal,
        :code "pmat",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/d/fd348b96-2555-4f8e-8e4d-fa8a80b48bc9.png?1710504532",
        :collector-number "34p",
        :layout "normal",
        :name "The Kenriths' Royal Funeral",
        :oracle-text
        "When The Kenriths' Royal Funeral enters the battlefield, exile up to two target legendary creature cards from your graveyard. You draw X cards and you lose X life, where X is the greatest mana value among cards exiled this way.\nLegendary spells you cast cost {1} less to cast for each card exiled with The Kenriths' Royal Funeral."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pmat",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/5/95493490-7771-4b4c-8807-f28f643966c2.png?1705968285",
        :collector-number "43p",
        :layout "normal",
        :name "Rebuild the City",
        :oracle-text
        "Choose target land. Create three tokens that are copies of it, except they're 3/3 creatures in addition to their other types and they have vigilance and menace. (They're affected by summoning sickness.)"}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "pmat",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/5/2/524ad98a-0cd1-49d4-b347-c5b87caceef8.png?1707764667",
        :collector-number "50",
        :layout "normal",
        :name "Drannith Ruins",
        :oracle-text
        "{T}: Add {C}.\n{2}, {T}: Put two +1/+1 counters on target non-Human creature that entered the battlefield this turn."})
