(#:card{:code "pmbs",
        :collector-number "8★",
        :name "Hero of Bladehold",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/8/8829efa0-498a-43ca-91aa-f9caeeafe298.png?1605370731",
        :type-line "Creature — Human Knight",
        :oracle-text
        "Battle cry (Whenever this creature attacks, each other attacking creature gets +1/+0 until end of turn.)\nWhenever Hero of Bladehold attacks, create two 1/1 white Soldier creature tokens that are tapped and attacking."}
 #:card{:code "pmbs",
        :collector-number "*14",
        :name "Mirran Crusader",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d9a8a187-c479-429c-b0ef-c98153ffa5e5.png?1561758195",
        :type-line "Creature — Human Knight",
        :oracle-text
        "Double strike, protection from black and from green"}
 #:card{:code "pmbs",
        :collector-number "39",
        :name "Black Sun's Zenith",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dd88131a-2811-4a1f-bb9a-c82e12c1493b.png?1561758222",
        :type-line "Sorcery",
        :oracle-text
        "Put X -1/-1 counters on each creature. Shuffle Black Sun's Zenith into its owner's library."}
 #:card{:code "pmbs",
        :collector-number "67",
        :name "Treasure Mage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c97874a8-e048-4433-8831-54dc67980902.png?1647418159",
        :type-line "Creature — Human Wizard",
        :oracle-text
        "When Treasure Mage enters the battlefield, you may search your library for an artifact card with mana value 6 or greater, reveal it, put it into your hand, then shuffle."}
 #:card{:code "pmbs",
        :collector-number "96★",
        :name "Glissa, the Traitor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9e293b2d-5eae-43c3-bb1f-4c0ed2b0bd21.png?1605370737",
        :type-line "Legendary Creature — Phyrexian Zombie Elf",
        :oracle-text
        "First strike, deathtouch\nWhenever a creature an opponent controls dies, you may return target artifact card from your graveyard to your hand."}
 #:card{:code "pmbs",
        :collector-number "140★",
        :name "Thopter Assembly",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f1abeca7-0a9c-49ae-9042-9899829e74a3.png?1605371302",
        :type-line "Artifact Creature — Thopter",
        :oracle-text
        "Flying\nAt the beginning of your upkeep, if you control no Thopters other than Thopter Assembly, return Thopter Assembly to its owner's hand and create five 1/1 colorless Thopter artifact creature tokens with flying."})
