(#:card{:type-line "Legendary Creature — Elder Dragon",
        :layout-category :normal,
        :code "pmda",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/4/b441a33a-3459-4d33-b733-7084335a16cd.png?1692048044",
        :collector-number "1",
        :layout "normal",
        :name "Nicol Bolas",
        :oracle-text
        "Flying\nAt the beginning of your upkeep, sacrifice Nicol Bolas unless you pay {U}{B}{R}.\nWhenever Nicol Bolas deals damage to an opponent, that player discards their hand."}
 #:card{:type-line "Creature — Cat",
        :layout-category :normal,
        :code "pmda",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/c/ccb36368-afd5-472b-a409-73d04541e026.png?1692048053",
        :collector-number "2",
        :layout "normal",
        :name "Pouncing Jaguar",
        :oracle-text
        "Echo {G} (At the beginning of your upkeep, if this came under your control since the beginning of your last upkeep, sacrifice it unless you pay its echo cost.)"}
 #:card{:type-line "Creature — Angel",
        :layout-category :normal,
        :code "pmda",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/c/7c81d8b2-b776-4e20-9671-6f3f89f6d78b.png?1692048026",
        :collector-number "3",
        :layout "normal",
        :name "Serra Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pmda",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/0/e043ee05-9b3f-4607-a44a-70faa50687c4.png?1692048063",
        :collector-number "4",
        :layout "normal",
        :name "Earthquake",
        :oracle-text
        "Earthquake deals X damage to each creature without flying and each player."})
