(#:card{:type-line "Legendary Creature — Shapeshifter",
        :layout-category :normal,
        :code "pmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5a089eb9-2034-423a-862c-d96e2d280972.png?1632848175",
        :collector-number "1p",
        :layout "normal",
        :name "Morophon, the Boundless",
        :oracle-text
        "Changeling (This card is every creature type.)\nAs Morophon, the Boundless enters the battlefield, choose a creature type.\nSpells of the chosen type you cast cost {W}{U}{B}{R}{G} less to cast. This effect reduces only the amount of colored mana you pay.\nOther creatures you control of the chosen type get +1/+1."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "pmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f3acc9b9-b89c-4a45-b49e-c414cfa9db48.png?1615007856",
        :collector-number "3",
        :layout "normal",
        :name "Astral Drift",
        :oracle-text
        "Whenever you cycle Astral Drift or cycle another card while Astral Drift is on the battlefield, you may exile target creature. If you do, return that card to the battlefield under its owner's control at the beginning of the next end step.\nCycling {2}{W} ({2}{W}, Discard this card: Draw a card.)"})
