(#:card{:code "pmmq",
        :collector-number "89",
        :name "Overtaker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8b916a20-84f2-4e91-8dfa-039658735f5e.png?1618252884",
        :type-line "Creature — Merfolk Spellshaper",
        :oracle-text
        "{3}{U}, {T}, Discard a card: Untap target creature and gain control of it until end of turn. That creature gains haste until end of turn."})
