(#:card{:code "pmor",
        :collector-number "60★",
        :name "Earwig Squad",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3da973ea-3529-4f15-80cf-ec5024b677dd.png?1606761423",
        :type-line "Creature — Goblin Rogue",
        :oracle-text
        "Prowl {2}{B} (You may cast this for its prowl cost if you dealt combat damage to a player this turn with a Goblin or Rogue.)\nWhen Earwig Squad enters the battlefield, if its prowl cost was paid, search target opponent's library for three cards and exile them. Then that player shuffles."}
 #:card{:code "pmor",
        :collector-number "143★",
        :name "Door of Destinies",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d4ab817e-11d4-4444-b9e1-322624501619.png?1606761424",
        :type-line "Artifact",
        :oracle-text
        "As Door of Destinies enters the battlefield, choose a creature type.\nWhenever you cast a spell of the chosen type, put a charge counter on Door of Destinies.\nCreatures you control of the chosen type get +1/+1 for each charge counter on Door of Destinies."})
