(#:card{:type-line "Legendary Artifact — Equipment",
        :layout-category :normal,
        :code "pmrd",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/2/c29907d2-ecd4-4143-8f33-35f9663927da.png?1606846841",
        :collector-number "251★",
        :layout "normal",
        :name "Sword of Kaldra",
        :oracle-text
        "Equipped creature gets +5/+5.\nWhenever equipped creature deals damage to a creature, exile that creature. (Exile it only if it's still on the battlefield.)\nEquip {4} ({4}: Attach to target creature you control. Equip only as a sorcery. This card enters the battlefield unattached and stays on the battlefield if the creature leaves.)"})
