(#:card{:code "pnat",
        :collector-number "2018",
        :name "Flooded Strand",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/8/1843079f-4710-4e77-8259-6b0c67bdd09d.png?1561756353",
        :type-line "Land",
        :oracle-text
        "{T}, Pay 1 life, Sacrifice Flooded Strand: Search your library for a Plains or Island card, put it onto the battlefield, then shuffle."})
