(#:card{:code "pnph",
        :collector-number "42★",
        :name "Phyrexian Metamorph",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/9/8903546d-4f9a-4e90-8dd8-5ab068d40907.png?1605371306",
        :type-line "Artifact Creature — Phyrexian Shapeshifter",
        :oracle-text
        "({U/P} can be paid with either {U} or 2 life.)\nYou may have Phyrexian Metamorph enter the battlefield as a copy of any artifact or creature on the battlefield, except it's an artifact in addition to its other types."}
 #:card{:code "pnph",
        :collector-number "73★",
        :name "Sheoldred, Whispering One",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/72ddbbac-9914-44ff-b4d4-60989031744e.png?1605370828",
        :type-line "Legendary Creature — Phyrexian Praetor",
        :oracle-text
        "Swampwalk (This creature can't be blocked as long as defending player controls a Swamp.)\nAt the beginning of your upkeep, return target creature card from your graveyard to the battlefield.\nAt the beginning of each opponent's upkeep, that player sacrifices a creature."}
 #:card{:code "pnph",
        :collector-number "*74",
        :name "Surgical Extraction",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/114834d8-4da5-48b9-9ac7-5e3e4b7ddf2d.png?1561756675",
        :type-line "Instant",
        :oracle-text
        "({B/P} can be paid with either {B} or 2 life.)\nChoose target card in a graveyard other than a basic land card. Search its owner's graveyard, hand, and library for any number of cards with the same name as that card and exile them. Then that player shuffles."}
 #:card{:code "pnph",
        :collector-number "90",
        :name "Priest of Urabrask",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e05862a2-dd14-4607-a0db-ae0533551cb9.png?1561758270",
        :type-line "Creature — Phyrexian Human Cleric",
        :oracle-text
        "When Priest of Urabrask enters the battlefield, add {R}{R}{R}."}
 #:card{:code "pnph",
        :collector-number "146",
        :name "Myr Superion",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/a/ea58b15c-8648-42f9-a7ec-25b17697bb8c.png?1561758371",
        :type-line "Artifact Creature — Myr",
        :oracle-text
        "Spend only mana produced by creatures to cast this spell."}
 #:card{:code "pnph",
        :collector-number "151",
        :name "Pristine Talisman",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e30e622d-1e82-4954-8f7d-ee256d5606bf.png?1561758311",
        :type-line "Artifact",
        :oracle-text "{T}: Add {C}. You gain 1 life."})
