(#:card{:type-line "Creature — Specter",
        :layout-category :normal,
        :code "pons",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/28a3f78c-f7c1-4257-95cc-09d10022abba.png?1606849599",
        :collector-number "169",
        :layout "normal",
        :name "Silent Specter",
        :oracle-text
        "Flying\nWhenever Silent Specter deals combat damage to a player, that player discards two cards.\nMorph {3}{B}{B} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)"})
