(#:card{:type-line "Legendary Planeswalker — Garruk",
        :layout-category :normal,
        :code "ppc1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/1/c18e2175-ec42-47f2-a40f-426ccaa1e89e.png?1561757981",
        :collector-number "1",
        :layout "normal",
        :name "Garruk the Slayer",
        :oracle-text
        "0: Put a 2/2 green Wolf creature token onto the battlefield.\n+4: Target Wolf creature gets +1/+0 and gains deathtouch until end of turn.\n−10: Destroy target creature. Put loyalty counters on Garruk the Slayer equal to that creature's toughness.\n−25: Destroy all creatures Garruk the Slayer doesn't control."}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "ppc1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f36559a1-6fe9-451f-b1a5-5baa9e9301fa.png?1561758426",
        :collector-number "T1",
        :layout "token",
        :name "Wolf",
        :oracle-text ""})
