(#:card{:type-line "Creature — Avatar",
        :layout-category :normal,
        :code "ppcy",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f7246341-5a22-4857-b7ab-331843db0915.png?1606849766",
        :collector-number "3",
        :layout "normal",
        :name "Avatar of Hope",
        :oracle-text
        "If you have 3 or less life, this spell costs {6} less to cast.\nFlying\nAvatar of Hope can block any number of creatures."})
