(#:card{:type-line "Creature — Troll Cleric",
        :layout-category :normal,
        :code "pplc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/7/078e67bb-aaae-4d3c-a5b2-1e95b741d187.png?1606761726",
        :collector-number "151★",
        :layout "normal",
        :name "Hedge Troll",
        :oracle-text
        "Hedge Troll gets +1/+1 as long as you control a Plains.\n{W}: Regenerate Hedge Troll."}
 #:card{:type-line "Legendary Creature — Dragon",
        :layout-category :normal,
        :code "pplc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/2/c287d593-cfd0-46b6-bde0-0c04a83d828b.png?1606761751",
        :collector-number "161★",
        :layout "normal",
        :name "Oros, the Avenger",
        :oracle-text
        "Flying\nWhenever Oros, the Avenger deals combat damage to a player, you may pay {2}{W}. If you do, Oros deals 3 damage to each nonwhite creature."})
