(#:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "ppp1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/36da00e3-3ef6-4ad5-a53d-e71cfdafc1e6.png?1564963957",
        :collector-number "1",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "ppp1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/cc101b90-3e17-4beb-a606-3e76088e362c.png?1564962468",
        :collector-number "2",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "ppp1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/8/783616d6-e3ea-43fd-97eb-6e4c5a2c711f.png?1564962427",
        :collector-number "3",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "ppp1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/27d30285-7729-4130-a768-71867aefe9b3.png?1564962417",
        :collector-number "4",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "ppp1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/9/893b309d-5e8f-47fa-9f54-eaf16a5f96e3.png?1564962438",
        :collector-number "5",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"})
