(#:card{:code "pptk",
        :collector-number "115a",
        :name "Lu Bu, Master-at-Arms",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/3/634b794d-05d9-4c1a-8d90-4f8dc42f9e0c.png?1619973088",
        :type-line "Legendary Creature — Human Soldier Warrior",
        :oracle-text
        "Haste; horsemanship (This creature can't be blocked except by creatures with horsemanship.)"}
 #:card{:code "pptk",
        :collector-number "115b",
        :name "Lu Bu, Master-at-Arms",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/35e56360-6104-48f3-a54d-ad2d4fab900e.png?1619973082",
        :type-line "Legendary Creature — Human Soldier Warrior",
        :oracle-text
        "Haste; horsemanship (This creature can't be blocked except by creatures with horsemanship.)"})
