(#:card{:type-line "Token Creature — Squirrel",
        :layout-category :normal,
        :code "pr2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af7c2def-d20d-4670-8950-7042e9380844.png?1561757827",
        :collector-number "3",
        :layout "token",
        :name "Squirrel",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "pr2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/5/657fa00d-ddb5-49e6-a01e-82038cccfe30.png?1561757307",
        :collector-number "4",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elephant",
        :layout-category :normal,
        :code "pr2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3dc13cf6-665a-4d92-836f-b2e10ca08ecd.png?1561756962",
        :collector-number "5",
        :layout "token",
        :name "Elephant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Wurm",
        :layout-category :normal,
        :code "pr2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/f/9fc04b19-e636-4868-8224-a5da75ea01c8.png?1561757701",
        :collector-number "6",
        :layout "token",
        :name "Wurm",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "pr2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/56c0fa29-fbcb-41fe-94ab-a39b1154c99b.png?1561757167",
        :collector-number "7",
        :layout "token",
        :name "Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "pr2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5b953ca2-5be4-4c6a-a0fd-b53219ca6341.png?1561757221",
        :collector-number "8",
        :layout "token",
        :name "Soldier",
        :oracle-text ""})
