(#:card{:code "prav",
        :collector-number "245★",
        :name "Dimir Guildmage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b9ab53af-749e-4559-85fa-f8d4181cf7da.png?1606845454",
        :type-line "Creature — Human Wizard",
        :oracle-text
        "({U/B} can be paid with either {U} or {B}.)\n{3}{U}: Target player draws a card. Activate only as a sorcery.\n{3}{B}: Target player discards a card. Activate only as a sorcery."}
 #:card{:code "prav",
        :collector-number "247★",
        :name "Gleancrawler",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c62b3627-34d3-4c05-b479-c2cfbf3b8c91.png?1606845479",
        :type-line "Creature — Insect Horror",
        :oracle-text
        "({B/G} can be paid with either {B} or {G}.)\nTrample\nAt the beginning of your end step, return to your hand all creature cards in your graveyard that were put there from the battlefield this turn."})
