(#:card{:type-line "Legendary Planeswalker — Gideon",
        :layout-category :normal,
        :code "prcq",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/8/683868c2-caaa-4084-8dbf-4903792b9c0f.png?1659065662",
        :collector-number "1",
        :layout "normal",
        :name "Gideon, Ally of Zendikar",
        :oracle-text
        "+1: Until end of turn, Gideon, Ally of Zendikar becomes a 5/5 Human Soldier Ally creature with indestructible that's still a planeswalker. Prevent all damage that would be dealt to him this turn.\n0: Create a 2/2 white Knight Ally creature token.\n−4: You get an emblem with \"Creatures you control get +1/+1.\""}
 #:card{:type-line "Creature — Spirit Cleric",
        :layout-category :normal,
        :code "prcq",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/3/e366eae0-a464-4763-bcf6-6d02dda13996.png?1674267818",
        :collector-number "2",
        :layout "normal",
        :name "Selfless Spirit",
        :oracle-text
        "Flying\nSacrifice Selfless Spirit: Creatures you control gain indestructible until end of turn."}
 #:card{:type-line "Creature — Human Soldier",
        :layout-category :normal,
        :code "prcq",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/8/e8233004-6d69-44a7-bf21-f13a5e146a1f.png?1674267825",
        :collector-number "3",
        :layout "normal",
        :name "Thraben Inspector",
        :oracle-text
        "When Thraben Inspector enters the battlefield, investigate. (Create a Clue token. It's an artifact with \"{2}, Sacrifice this artifact: Draw a card.\")"})
