(#:card{:code "proe",
        :collector-number "4★",
        :name "Emrakul, the Aeons Torn",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cbfc29b0-a72d-4f91-bc6c-86c79c626be8.png?1605370679",
        :type-line "Legendary Creature — Eldrazi",
        :oracle-text
        "This spell can't be countered.\nWhen you cast this spell, take an extra turn after this one.\nFlying, protection from spells that are one or more colors, annihilator 6\nWhen Emrakul, the Aeons Torn is put into a graveyard from anywhere, its owner shuffles their graveyard into their library."}
 #:card{:code "proe",
        :collector-number "48",
        :name "Staggershock",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7c7eeca0-a4cf-455f-888c-57571cf3555d.png?1561757455",
        :type-line "Instant",
        :oracle-text
        "Staggershock deals 2 damage to any target.\nRebound (If you cast this spell from your hand, exile it as it resolves. At the beginning of your next upkeep, you may cast this card from exile without paying its mana cost.)"}
 #:card{:code "proe",
        :collector-number "49",
        :name "Deathless Angel",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8b5e6882-4c37-4c47-92c4-4083c66e9019.png?1561757538",
        :type-line "Creature — Angel",
        :oracle-text
        "Flying\n{W}{W}: Target creature gains indestructible until end of turn."}
 #:card{:code "proe",
        :collector-number "*112",
        :name "Guul Draz Assassin",
        :layout "leveler",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/ddcd7db0-11fc-4a92-b705-8cb70d7734df.png?1561758225",
        :type-line "Creature — Vampire Assassin",
        :oracle-text
        "Level up {1}{B} ({1}{B}: Put a level counter on this. Level up only as a sorcery.)\nLEVEL 2-3\n2/2\n{B}, {T}: Target creature gets -2/-2 until end of turn.\nLEVEL 4+\n4/4\n{B}, {T}: Target creature gets -4/-4 until end of turn."}
 #:card{:code "proe",
        :collector-number "*124",
        :name "Pestilence Demon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e50864d0-4940-4d7b-9562-0a2bedb33842.png?1581037495",
        :type-line "Creature — Demon",
        :oracle-text
        "Flying\n{B}: Pestilence Demon deals 1 damage to each creature and each player."}
 #:card{:code "proe",
        :collector-number "156★",
        :name "Lord of Shatterskull Pass",
        :layout "leveler",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/72c0427d-4666-407d-b5f6-03836dff52ae.png?1605371265",
        :type-line "Creature — Minotaur Shaman",
        :oracle-text
        "Level up {1}{R} ({1}{R}: Put a level counter on this. Level up only as a sorcery.)\nLEVEL 1-5\n6/6\nLEVEL 6+\n6/6\nWhenever Lord of Shatterskull Pass attacks, it deals 6 damage to each creature defending player controls."})
