(#:card{:code "prw2",
        :collector-number "B01",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/0/8004052e-cb88-4ca6-a563-5396f13f7c6d.png?1581038229",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "prw2",
        :collector-number "B02",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/f/9f71d5d2-49a5-4d5c-a218-8f0634c57d94.png?1581038223",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "prw2",
        :collector-number "B03",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/378318f0-c45b-4e02-a3c7-931796e8796a.png?1581038194",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "prw2",
        :collector-number "B04",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/c/ac3772ad-581e-4ed6-9813-aa15cba27085.png?1581038198",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "prw2",
        :collector-number "B05",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/7562f3d1-bde9-4f5d-a51a-01e6d0578695.png?1581038202",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "prw2",
        :collector-number "B06",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/280cbdd4-57e1-49a0-a9b0-60b2d9fb9ac9.png?1581038206",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "prw2",
        :collector-number "B07",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8b95a588-8dd1-49f7-92d8-34e2237769f2.png?1581038209",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "prw2",
        :collector-number "B08",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/abe92f9f-635a-4c76-95cc-163715553057.png?1581038213",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "prw2",
        :collector-number "B09",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b79ec1ab-99ac-4552-891e-839067f606fc.png?1581038262",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "prw2",
        :collector-number "B10",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/c/ac709474-7790-483f-9ed5-ea7abccfce53.png?1553195352",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"})
