(#:card{:code "prwk",
        :collector-number "A01",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/17481825-61f1-4b0f-90f7-9a9393b0ef25.png?1539399133",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "prwk",
        :collector-number "A02",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/eec94164-0c4e-4be6-984c-2070576aae5c.png?1539399104",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "prwk",
        :collector-number "A03",
        :name "Island",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/0291245a-d0c6-48d3-af72-f2ad8e47f9cf.png?1539399110",
        :type-line "Basic Land — Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:code "prwk",
        :collector-number "A04",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/ae56dace-544c-4fb9-9442-5daca6f4a1ff.png?1539399271",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "prwk",
        :collector-number "A05",
        :name "Swamp",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/4/042af11a-6d3f-4e55-b5e4-51a6249e9f9b.png?1539399102",
        :type-line "Basic Land — Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:code "prwk",
        :collector-number "A06",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/8/18c918f7-c05f-43f6-8342-dd26d5c99b87.png?1539399136",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "prwk",
        :collector-number "A07",
        :name "Mountain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f1503c89-9139-448e-ab95-53281c4217dd.png?1539399193",
        :type-line "Basic Land — Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:code "prwk",
        :collector-number "A08",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/0095225d-ba7d-4ccc-b730-1bed46c840eb.png?1539399107",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:code "prwk",
        :collector-number "A09",
        :name "Forest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a7758eb2-bea6-46ea-b5d7-d333a939f30a.png?1539399134",
        :type-line "Basic Land — Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:code "prwk",
        :collector-number "A10",
        :name "Plains",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a2fcd6c-0303-4983-bceb-e6dcfc2d6a63.png?1539399105",
        :type-line "Basic Land — Plains",
        :oracle-text "({T}: Add {W}.)"})
