(#:card{:code "ps15",
        :collector-number "23",
        :name "Kytheon, Hero of Akros // Gideon, Battle-Forged",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/249cfc69-062a-43d4-9f09-7a8ba976f899.png?1582053415",
          :type-line "Legendary Creature — Human Soldier",
          :oracle-text
          "At end of combat, if Kytheon, Hero of Akros and at least two other creatures attacked this combat, exile Kytheon, then return him to the battlefield transformed under his owner's control.\n{2}{W}: Kytheon gains indestructible until end of turn."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/2/4/249cfc69-062a-43d4-9f09-7a8ba976f899.png?1582053415",
          :type-line "Legendary Planeswalker — Gideon",
          :oracle-text
          "+2: Up to one target creature an opponent controls attacks Gideon, Battle-Forged during its controller's next turn if able.\n+1: Until your next turn, target creature gains indestructible. Untap that creature.\n0: Until end of turn, Gideon, Battle-Forged becomes a 4/4 Human Soldier creature with indestructible that's still a planeswalker. Prevent all damage that would be dealt to him this turn."}]}
 #:card{:code "ps15",
        :collector-number "60",
        :name "Jace, Vryn's Prodigy // Jace, Telepath Unbound",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/e/7/e7b5705f-dc56-41af-a781-8a41aaa7c5b8.png?1582053413",
          :type-line "Legendary Creature — Human Wizard",
          :oracle-text
          "{T}: Draw a card, then discard a card. If there are five or more cards in your graveyard, exile Jace, Vryn's Prodigy, then return him to the battlefield transformed under his owner's control."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/e/7/e7b5705f-dc56-41af-a781-8a41aaa7c5b8.png?1582053413",
          :type-line "Legendary Planeswalker — Jace",
          :oracle-text
          "+1: Up to one target creature gets -2/-0 until your next turn.\n−3: You may cast target instant or sorcery card from your graveyard this turn. If that spell would be put into your graveyard, exile it instead.\n−9: You get an emblem with \"Whenever you cast a spell, target opponent mills five cards.\""}]}
 #:card{:code "ps15",
        :collector-number "106",
        :name
        "Liliana, Heretical Healer // Liliana, Defiant Necromancer",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d93a27d8-26cf-410b-a8a9-707239134951.png?1582053408",
          :type-line "Legendary Creature — Human Cleric",
          :oracle-text
          "Lifelink\nWhenever another nontoken creature you control dies, exile Liliana, Heretical Healer, then return her to the battlefield transformed under her owner's control. If you do, create a 2/2 black Zombie creature token."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/d/9/d93a27d8-26cf-410b-a8a9-707239134951.png?1582053408",
          :type-line "Legendary Planeswalker — Liliana",
          :oracle-text
          "+2: Each player discards a card.\n−X: Return target nonlegendary creature card with mana value X from your graveyard to the battlefield.\n−8: You get an emblem with \"Whenever a creature dies, return it to the battlefield under your control at the beginning of the next end step.\""}]}
 #:card{:code "ps15",
        :collector-number "135",
        :name "Chandra, Fire of Kaladesh // Chandra, Roaring Flame",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b567975-53b5-4716-831d-e65612285d51.png?1582053327",
          :type-line "Legendary Creature — Human Shaman",
          :oracle-text
          "Whenever you cast a red spell, untap Chandra, Fire of Kaladesh.\n{T}: Chandra, Fire of Kaladesh deals 1 damage to target player or planeswalker. If Chandra has dealt 3 or more damage this turn, exile her, then return her to the battlefield transformed under her owner's control."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/2/b/2b567975-53b5-4716-831d-e65612285d51.png?1582053327",
          :type-line "Legendary Planeswalker — Chandra",
          :oracle-text
          "+1: Chandra, Roaring Flame deals 2 damage to target player or planeswalker.\n−2: Chandra, Roaring Flame deals 2 damage to target creature.\n−7: Chandra, Roaring Flame deals 6 damage to each opponent. Each player dealt damage this way gets an emblem with \"At the beginning of your upkeep, this emblem deals 3 damage to you.\""}]}
 #:card{:code "ps15",
        :collector-number "189",
        :name "Nissa, Vastwood Seer // Nissa, Sage Animist",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/008b1ea5-1a8d-4a9d-b208-421fea2f9c58.png?1582053404",
          :type-line "Legendary Creature — Elf Scout",
          :oracle-text
          "When Nissa, Vastwood Seer enters the battlefield, you may search your library for a basic Forest card, reveal it, put it into your hand, then shuffle.\nWhenever a land enters the battlefield under your control, if you control seven or more lands, exile Nissa, then return her to the battlefield transformed under her owner's control."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/0/0/008b1ea5-1a8d-4a9d-b208-421fea2f9c58.png?1582053404",
          :type-line "Legendary Planeswalker — Nissa",
          :oracle-text
          "+1: Reveal the top card of your library. If it's a land card, put it onto the battlefield. Otherwise, put it into your hand.\n−2: Create Ashaya, the Awoken World, a legendary 4/4 green Elemental creature token.\n−7: Untap up to six target lands. They become 6/6 Elemental creatures. They're still lands."}]})
