(#:card{:code "ps16",
        :collector-number "29",
        :name "Gideon, Ally of Zendikar",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b5d66fdf-a5a6-48f2-a097-c389e37dc092.png?1561757882",
        :type-line "Legendary Planeswalker — Gideon",
        :oracle-text
        "+1: Until end of turn, Gideon, Ally of Zendikar becomes a 5/5 Human Soldier Ally creature with indestructible that's still a planeswalker. Prevent all damage that would be dealt to him this turn.\n0: Create a 2/2 white Knight Ally creature token.\n−4: You get an emblem with \"Creatures you control get +1/+1.\""}
 #:card{:code "ps16",
        :collector-number "69",
        :name "Jace, Unraveler of Secrets",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/40902291-96ad-410f-9ff9-bdd3d4cdea65.png?1561756992",
        :type-line "Legendary Planeswalker — Jace",
        :oracle-text
        "+1: Scry 1, then draw a card.\n−2: Return target creature to its owner's hand.\n−8: You get an emblem with \"Whenever an opponent casts their first spell each turn, counter that spell.\""}
 #:card{:code "ps16",
        :collector-number "93",
        :name "Liliana, the Last Hope",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fb6f35ba-d746-46bc-b68b-be5054c41042.png?1561758468",
        :type-line "Legendary Planeswalker — Liliana",
        :oracle-text
        "+1: Up to one target creature gets -2/-1 until your next turn.\n−2: Mill two cards, then you may return a creature card from your graveyard to your hand.\n−7: You get an emblem with \"At the beginning of your end step, create X 2/2 black Zombie creature tokens, where X is two plus the number of Zombies you control.\""}
 #:card{:code "ps16",
        :collector-number "104",
        :name "Chandra, Flamecaller",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e8df73e7-c8a8-46bc-8448-f4d8179aeb4f.png?1561758357",
        :type-line "Legendary Planeswalker — Chandra",
        :oracle-text
        "+1: Create two 3/1 red Elemental creature tokens with haste. Exile them at the beginning of the next end step.\n0: Discard all the cards in your hand, then draw that many cards plus one.\n−X: Chandra, Flamecaller deals X damage to each creature."}
 #:card{:code "ps16",
        :collector-number "138",
        :name "Nissa, Voice of Zendikar",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/539fcda3-158e-425d-9f00-b9f3420dba18.png?1561757144",
        :type-line "Legendary Planeswalker — Nissa",
        :oracle-text
        "+1: Create a 0/1 green Plant creature token.\n−2: Put a +1/+1 counter on each creature you control.\n−7: You gain X life and draw X cards, where X is the number of lands you control."})
