(#:card{:code "ps17",
        :collector-number "14",
        :name "Gideon of the Trials",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75a73179-43e2-481e-bec8-25891d35baad.png?1561757421",
        :type-line "Legendary Planeswalker — Gideon",
        :oracle-text
        "+1: Until your next turn, prevent all damage target permanent would deal.\n0: Until end of turn, Gideon of the Trials becomes a 4/4 Human Soldier creature with indestructible that's still a planeswalker. Prevent all damage that would be dealt to him this turn.\n0: You get an emblem with \"As long as you control a Gideon planeswalker, you can't lose the game and your opponents can't win the game.\""}
 #:card{:code "ps17",
        :collector-number "69",
        :name "Jace, Unraveler of Secrets",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0cd42763-980b-4a77-b528-fda483af6ba8.png?1561756638",
        :type-line "Legendary Planeswalker — Jace",
        :oracle-text
        "+1: Scry 1, then draw a card.\n−2: Return target creature to its owner's hand.\n−8: You get an emblem with \"Whenever an opponent casts their first spell each turn, counter that spell.\""}
 #:card{:code "ps17",
        :collector-number "97",
        :name "Liliana, Death's Majesty",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca3a8a25-aa76-4a26-91a0-c1150eeed454.png?1561758084",
        :type-line "Legendary Planeswalker — Liliana",
        :oracle-text
        "+1: Create a 2/2 black Zombie creature token. Mill two cards.\n−3: Return target creature card from your graveyard to the battlefield. That creature is a black Zombie in addition to its other colors and types.\n−7: Destroy all non-Zombie creatures."}
 #:card{:code "ps17",
        :collector-number "110",
        :name "Chandra, Torch of Defiance",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/e/8e0717a3-c716-4150-937a-d90f4f54c550.png?1561757553",
        :type-line "Legendary Planeswalker — Chandra",
        :oracle-text
        "+1: Exile the top card of your library. You may cast that card. If you don't, Chandra, Torch of Defiance deals 2 damage to each opponent.\n+1: Add {R}{R}.\n−3: Chandra, Torch of Defiance deals 4 damage to target creature.\n−7: You get an emblem with \"Whenever you cast a spell, this emblem deals 5 damage to any target.\""}
 #:card{:code "ps17",
        :collector-number "140",
        :name "Nicol Bolas, God-Pharaoh",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e294ef50-0670-402d-b695-6d34c348d1aa.png?1561758307",
        :type-line "Legendary Planeswalker — Bolas",
        :oracle-text
        "+2: Target opponent exiles cards from the top of their library until they exile a nonland card. Until end of turn, you may cast that card without paying its mana cost.\n+1: Each opponent exiles two cards from their hand.\n−4: Nicol Bolas, God-Pharaoh deals 7 damage to target opponent, creature an opponent controls, or planeswalker an opponent controls.\n−12: Exile each nonland permanent your opponents control."}
 #:card{:code "ps17",
        :collector-number "204",
        :name "Nissa, Steward of Elements",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/19c062b4-86c9-481a-850d-87b99286bf8b.png?1561756737",
        :type-line "Legendary Planeswalker — Nissa",
        :oracle-text
        "+2: Scry 2.\n0: Look at the top card of your library. If it's a land card or a creature card with mana value less than or equal to the number of loyalty counters on Nissa, Steward of Elements, you may put that card onto the battlefield.\n−6: Untap up to two target lands you control. They become 5/5 Elemental creatures with flying and haste until end of turn. They're still lands."})
