(#:card{:code "ps18",
        :collector-number "14",
        :name "Gideon of the Trials",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/8/08a4a849-47a5-45eb-88ec-5cda0ba95306.png?1561756616",
        :type-line "Legendary Planeswalker — Gideon",
        :oracle-text
        "+1: Until your next turn, prevent all damage target permanent would deal.\n0: Until end of turn, Gideon of the Trials becomes a 4/4 Human Soldier creature with indestructible that's still a planeswalker. Prevent all damage that would be dealt to him this turn.\n0: You get an emblem with \"As long as you control a Gideon planeswalker, you can't lose the game and your opponents can't win the game.\""}
 #:card{:code "ps18",
        :collector-number "60",
        :name "Jace, Cunning Castaway",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/84e45881-e0cb-422e-8357-98f74edae64a.png?1561757491",
        :type-line "Legendary Planeswalker — Jace",
        :oracle-text
        "+1: Whenever one or more creatures you control deal combat damage to a player this turn, draw a card, then discard a card.\n−2: Create a 2/2 blue Illusion creature token with \"When this creature becomes the target of a spell, sacrifice it.\"\n−5: Create two tokens that are copies of Jace, Cunning Castaway, except they're not legendary."}
 #:card{:code "ps18",
        :collector-number "106",
        :name "Liliana, Untouched by Death",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/40c1be71-0719-4bf1-b0b6-dcb07e7c48e7.png?1561756998",
        :type-line "Legendary Planeswalker — Liliana",
        :oracle-text
        "+1: Mill three cards. If at least one Zombie card is milled this way, each opponent loses 2 life and you gain 2 life.\n−2: Target creature gets -X/-X until end of turn, where X is the number of Zombies you control.\n−3: You may cast Zombie spells from your graveyard this turn."}
 #:card{:code "ps18",
        :collector-number "110",
        :name "Chandra, Torch of Defiance",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3ed9ffd5-5f40-4278-94db-23df1a982db1.png?1561756975",
        :type-line "Legendary Planeswalker — Chandra",
        :oracle-text
        "+1: Exile the top card of your library. You may cast that card. If you don't, Chandra, Torch of Defiance deals 2 damage to each opponent.\n+1: Add {R}{R}.\n−3: Chandra, Torch of Defiance deals 4 damage to target creature.\n−7: You get an emblem with \"Whenever you cast a spell, this emblem deals 5 damage to any target.\""}
 #:card{:code "ps18",
        :collector-number "163",
        :name "Nissa, Vital Force",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/43e732e3-0150-4485-935e-1e15a3eacb78.png?1561757017",
        :type-line "Legendary Planeswalker — Nissa",
        :oracle-text
        "+1: Untap target land you control. Until your next turn, it becomes a 5/5 Elemental creature with haste. It's still a land.\n−3: Return target permanent card from your graveyard to your hand.\n−6: You get an emblem with \"Whenever a land enters the battlefield under your control, you may draw a card.\""})
