(#:card{:code "ps19",
        :collector-number "16",
        :name "God-Eternal Oketra",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5b13ba5a-f4b0-420a-9e4f-a65e57721fa4.png?1630567718",
        :type-line "Legendary Creature — Zombie God",
        :oracle-text
        "Double strike\nWhenever you cast a creature spell, create a 4/4 black Zombie Warrior creature token with vigilance.\nWhen God-Eternal Oketra dies or is put into exile from the battlefield, you may put it into its owner's library third from the top."}
 #:card{:code "ps19",
        :collector-number "53",
        :name "God-Eternal Kefnet",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/8/4889a668-0f01-4447-ad2e-91b329258f22.png?1630567721",
        :type-line "Legendary Creature — Zombie God",
        :oracle-text
        "Flying\nYou may reveal the first card you draw each turn as you draw it. Whenever you reveal an instant or sorcery card this way, copy that card and you may cast the copy. That copy costs {2} less to cast.\nWhen God-Eternal Kefnet dies or is put into exile from the battlefield, you may put it into its owner's library third from the top."}
 #:card{:code "ps19",
        :collector-number "92",
        :name "God-Eternal Bontu",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/a/2ae1bb79-a931-4d2e-9cc9-a06862dc5cde.png?1630567724",
        :type-line "Legendary Creature — Zombie God",
        :oracle-text
        "Menace\nWhen God-Eternal Bontu enters the battlefield, sacrifice any number of other permanents, then draw that many cards.\nWhen God-Eternal Bontu dies or is put into exile from the battlefield, you may put it into its owner's library third from the top."}
 #:card{:code "ps19",
        :collector-number "163",
        :name "God-Eternal Rhonas",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/37bc0128-a8d0-477c-abcf-2bdc9e38b872.png?1630567728",
        :type-line "Legendary Creature — Zombie God",
        :oracle-text
        "Deathtouch\nWhen God-Eternal Rhonas enters the battlefield, double the power of each other creature you control until end of turn. Those creatures gain vigilance until end of turn.\nWhen God-Eternal Rhonas dies or is put into exile from the battlefield, you may put it into its owner's library third from the top."}
 #:card{:code "ps19",
        :collector-number "207",
        :name "Nicol Bolas, Dragon-God",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c23b39b-a4d6-4f10-8ced-fa4b1ed2cf74.png?1630567736",
        :type-line "Legendary Planeswalker — Bolas",
        :oracle-text
        "Nicol Bolas, Dragon-God has all loyalty abilities of all other planeswalkers on the battlefield.\n+1: You draw a card. Each opponent exiles a card from their hand or a permanent they control.\n−3: Destroy target creature or planeswalker.\n−8: Each opponent who doesn't control a legendary creature or planeswalker loses the game."})
