(#:card{:code "pscg",
        :collector-number "74",
        :name "Soul Collector",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a3ac85d2-186b-46f9-853e-6ee23210540a.png?1606849523",
        :type-line "Creature — Vampire",
        :oracle-text
        "Flying\nWhenever a creature dealt damage by Soul Collector this turn dies, return that card to the battlefield under your control.\nMorph {B}{B}{B} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)"})
