(#:card{:code "psdc",
        :collector-number "1★",
        :name "Ajani, Caller of the Pride",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a2ff8a87-b07d-436f-9e0b-86ef6aa918d2.png?1605371033",
        :type-line "Legendary Planeswalker — Ajani",
        :oracle-text
        "+1: Put a +1/+1 counter on up to one target creature.\n−3: Target creature gains flying and double strike until end of turn.\n−8: Create X 2/2 white Cat creature tokens, where X is your life total."}
 #:card{:code "psdc",
        :collector-number "60★",
        :name "Jace, Memory Adept",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca17ab95-2799-4822-a345-d81dc2c8dba9.png?1605371034",
        :type-line "Legendary Planeswalker — Jace",
        :oracle-text
        "+1: Draw a card. Target player mills a card.\n0: Target player mills ten cards.\n−7: Any number of target players each draw twenty cards."}
 #:card{:code "psdc",
        :collector-number "102★",
        :name "Liliana of the Dark Realms",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/15c0c1eb-09ac-4d07-aeef-181af9f2a1ca.png?1605371035",
        :type-line "Legendary Planeswalker — Liliana",
        :oracle-text
        "+1: Search your library for a Swamp card, reveal it, put it into your hand, then shuffle.\n−3: Target creature gets +X/+X or -X/-X until end of turn, where X is the number of Swamps you control.\n−6: You get an emblem with \"Swamps you control have '{T}: Add {B}{B}{B}{B}.'\""}
 #:card{:code "psdc",
        :collector-number "132★",
        :name "Chandra, Pyromaster",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/53ce8381-4cbb-4bf9-bdac-3b2375a46340.png?1605371036",
        :type-line "Legendary Planeswalker — Chandra",
        :oracle-text
        "+1: Chandra, Pyromaster deals 1 damage to target player or planeswalker and 1 damage to up to one target creature that player or that planeswalker's controller controls. That creature can't block this turn.\n0: Exile the top card of your library. You may play it this turn.\n−7: Exile the top ten cards of your library. Choose an instant or sorcery card exiled this way and copy it three times. You may cast the copies without paying their mana costs."}
 #:card{:code "psdc",
        :collector-number "172★",
        :name "Garruk, Caller of Beasts",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d61f670e-8e4c-493f-bef0-c4c7b0bcd288.png?1605371036",
        :type-line "Legendary Planeswalker — Garruk",
        :oracle-text
        "+1: Reveal the top five cards of your library. Put all creature cards revealed this way into your hand and the rest on the bottom of your library in any order.\n−3: You may put a green creature card from your hand onto the battlefield.\n−7: You get an emblem with \"Whenever you cast a creature spell, you may search your library for a creature card, put it onto the battlefield, then shuffle.\""})
