(#:card{:code "pshm",
        :collector-number "183★",
        :name "Demigod of Revenge",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b3b51743-6c7d-4ae9-9200-a87374d6d11b.png?1606761310",
        :type-line "Creature — Spirit Avatar",
        :oracle-text
        "When you cast this spell, return all cards named Demigod of Revenge from your graveyard to the battlefield.\nFlying, haste"}
 #:card{:code "pshm",
        :collector-number "222★",
        :name "Vexing Shusher",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fbecaab0-e5d7-4bec-9fb5-c24b587eaa42.png?1606761356",
        :type-line "Creature — Goblin Shaman",
        :oracle-text
        "This spell can't be countered.\n{R/G}: Target spell can't be countered."})
