(#:card{:code "pss1",
        :collector-number "234",
        :name "Canopy Vista",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/f/8f5533cb-699a-4eaa-9a9c-e3fe206447d2.png?1561757565",
        :type-line "Land — Forest Plains",
        :oracle-text
        "({T}: Add {G} or {W}.)\nCanopy Vista enters the battlefield tapped unless you control two or more basic lands."}
 #:card{:code "pss1",
        :collector-number "235",
        :name "Cinder Glade",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/91f3dcdc-c5ec-49ba-82be-86795d401cbd.png?1561757582",
        :type-line "Land — Mountain Forest",
        :oracle-text
        "({T}: Add {R} or {G}.)\nCinder Glade enters the battlefield tapped unless you control two or more basic lands."}
 #:card{:code "pss1",
        :collector-number "241",
        :name "Prairie Stream",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/3/d39faa94-8e2a-4d74-8035-5b5d31d3629a.png?1561758138",
        :type-line "Land — Plains Island",
        :oracle-text
        "({T}: Add {W} or {U}.)\nPrairie Stream enters the battlefield tapped unless you control two or more basic lands."}
 #:card{:code "pss1",
        :collector-number "247",
        :name "Smoldering Marsh",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/3/7381dec7-1429-4499-b5dd-4aa93a41e73a.png?1561757400",
        :type-line "Land — Swamp Mountain",
        :oracle-text
        "({T}: Add {B} or {R}.)\nSmoldering Marsh enters the battlefield tapped unless you control two or more basic lands."}
 #:card{:code "pss1",
        :collector-number "249",
        :name "Sunken Hollow",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/0/c01678bf-0eaa-4ff5-8d6c-20b2bb5d1f77.png?1561757977",
        :type-line "Land — Island Swamp",
        :oracle-text
        "({T}: Add {U} or {B}.)\nSunken Hollow enters the battlefield tapped unless you control two or more basic lands."})
