(#:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "pss2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/35bad4e4-d961-49cd-90da-aa4ed79d9ebb.png?1561756915",
        :collector-number "1",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "pss2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b3298ee7-604e-40d3-8672-faad75f96928.png?1561757856",
        :collector-number "2",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "pss2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/a/3ac80b6d-8367-4780-91b1-fe26757f9090.png?1561756941",
        :collector-number "3",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "pss2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/3904e6b8-1188-4228-a7cd-701c20446a49.png?1561756932",
        :collector-number "4",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "pss2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d6fab1f9-28b9-44c9-8fe3-a5782f71aac7.png?1561758156",
        :collector-number "5",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"})
