(#:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "pss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e0f829da-09a2-4482-8b04-1b63d3a037ee.png?1538790841",
        :collector-number "1",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "pss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06e5646b-28f9-4600-89f4-b23a6d7cf7a6.png?1538790868",
        :collector-number "2",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "pss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/df5e2dc4-142d-4ee7-8108-b433c4bde53f.png?1538790842",
        :collector-number "3",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "pss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/969054f1-b551-4dee-8fec-f8d8bdc30c35.png?1538790840",
        :collector-number "4",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "pss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e832d55c-9f00-4cc0-9593-9604ebc807a4.png?1538790873",
        :collector-number "5",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"})
