(#:card{:code "psum",
        :collector-number "1",
        :name "Faerie Conclave",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2e18f380-320c-4f53-9270-debf3e00914a.png?1561756849",
        :type-line "Land",
        :oracle-text
        "Faerie Conclave enters the battlefield tapped.\n{T}: Add {U}.\n{1}{U}: Faerie Conclave becomes a 2/1 blue Faerie creature with flying until end of turn. It's still a land."}
 #:card{:code "psum",
        :collector-number "2",
        :name "Treetop Village",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/9/a9c6a303-1f59-4d41-b5b5-ae8739e2e0a8.png?1561757792",
        :type-line "Land",
        :oracle-text
        "Treetop Village enters the battlefield tapped.\n{T}: Add {G}.\n{1}{G}: Treetop Village becomes a 3/3 green Ape creature with trample until end of turn. It's still a land. (It can deal excess combat damage to the player or planeswalker it's attacking.)"})
