(#:card{:type-line "Land",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/15425ce4-0541-460b-9d50-8de388837a34.png?1562701912",
        :collector-number "1",
        :layout "normal",
        :name "Thran Quarry",
        :oracle-text
        "At the beginning of the end step, if you control no creatures, sacrifice Thran Quarry.\n{T}: Add one mana of any color."}
 #:card{:type-line "Creature — Avatar",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/8/f842e304-a488-401c-8762-005a8b3f7d94.png?1562702451",
        :collector-number "2",
        :layout "normal",
        :name "Serra Avatar",
        :oracle-text
        "Serra Avatar's power and toughness are each equal to your life total.\nWhen Serra Avatar is put into a graveyard from anywhere, shuffle it into its owner's library."}
 #:card{:type-line "Creature — Merfolk",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/53bc792d-a9ad-4a20-930d-5a526382463c.png?1562702071",
        :collector-number "3",
        :layout "normal",
        :name "Lord of Atlantis",
        :oracle-text
        "Other Merfolk get +1/+1 and have islandwalk. (They can't be blocked as long as defending player controls an Island.)"}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c84ed73b-3c01-4658-b6fe-6eb98c0aad4c.png?1562702323",
        :collector-number "4",
        :layout "normal",
        :name "Crusade",
        :oracle-text "White creatures get +1/+1."}
 #:card{:type-line "Creature — Elf",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/92932329-ae39-42b4-820e-2ba2b0fdd417.png?1595442645",
        :collector-number "5",
        :layout "normal",
        :name "Elvish Lyrist",
        :oracle-text
        "{G}, {T}, Sacrifice Elvish Lyrist: Destroy target enchantment."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/32b525ab-5454-44e2-8dc7-ef5ef210f892.png?1562702014",
        :collector-number "6",
        :layout "normal",
        :name "City of Brass",
        :oracle-text
        "Whenever City of Brass becomes tapped, it deals 1 damage to you.\n{T}: Add one mana of any color."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/0/90344750-1db7-4f9b-91ab-00117033ce38.png?1562702201",
        :collector-number "7",
        :layout "normal",
        :name "Volcanic Hammer",
        :oracle-text "Volcanic Hammer deals 3 damage to any target."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/f/7faa4674-c4fa-4395-ad6b-d80989e05ec5.png?1562702164",
        :collector-number "8",
        :layout "normal",
        :name "Giant Growth",
        :oracle-text "Target creature gets +3/+3 until end of turn."}
 #:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/98e6db52-3bf1-44e6-ba97-e0ed4e9a646c.png?1562702212",
        :collector-number "9",
        :layout "normal",
        :name "Two-Headed Dragon",
        :oracle-text
        "Flying\nMenace (This creature can't be blocked except by two or more creatures.)\nTwo-Headed Dragon can block an additional creature each combat.\n{1}{R}: Two-Headed Dragon gets +2/+0 until end of turn."}
 #:card{:type-line "Creature — Slith",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/72e6a305-8dee-4aeb-808e-2847bce44133.png?1565982909",
        :collector-number "10",
        :layout "normal",
        :name "Slith Firewalker",
        :oracle-text
        "Haste\nWhenever Slith Firewalker deals combat damage to a player, put a +1/+1 counter on it."}
 #:card{:type-line "Creature — Human Assassin",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/3/230281e4-1cee-4cf8-a73c-63a21c5eb60b.png?1562701947",
        :collector-number "11",
        :layout "normal",
        :name "Royal Assassin",
        :oracle-text "{T}: Destroy target tapped creature."}
 #:card{:type-line "Creature — Snake Shaman",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f630b943-4ca2-4168-8522-3fd2cfacab5a.png?1622087204",
        :collector-number "12",
        :layout "normal",
        :name "Sakura-Tribe Elder",
        :oracle-text
        "Sacrifice Sakura-Tribe Elder: Search your library for a basic land card, put that card onto the battlefield tapped, then shuffle."}
 #:card{:type-line "Creature — Phoenix",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d6e922f4-46e9-4a9a-ac3d-8dd2e7fc9527.png?1562702371",
        :collector-number "13",
        :layout "normal",
        :name "Shard Phoenix",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\nSacrifice Shard Phoenix: It deals 2 damage to each creature without flying.\n{R}{R}{R}: Return Shard Phoenix from your graveyard to your hand. Activate only during your upkeep."}
 #:card{:type-line "Creature — Soltari Cleric",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6b622228-4ffe-4d05-ba2b-67c79bd34056.png?1562702122",
        :collector-number "14",
        :layout "normal",
        :name "Soltari Priest",
        :oracle-text
        "Protection from red\nShadow (This creature can block or be blocked by only creatures with shadow.)"}
 #:card{:type-line "Creature — Human Monk",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a77cdaf1-b1a1-44a8-bfae-609143e46e7e.png?1562702248",
        :collector-number "15",
        :layout "normal",
        :name "Whirling Dervish",
        :oracle-text
        "Protection from black\nAt the beginning of each end step, if Whirling Dervish dealt damage to an opponent this turn, put a +1/+1 counter on it."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/38b3d0dc-aca3-484d-a7fa-e188bb217cad.png?1562702025",
        :collector-number "16",
        :layout "normal",
        :name "Glorious Anthem",
        :oracle-text "Creatures you control get +1/+1."}
 #:card{:type-line "Creature — Elf",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/1/31ab2c47-f9b9-4023-aa55-6657767a828a.png?1562702002",
        :collector-number "17",
        :layout "normal",
        :name "Elvish Champion",
        :oracle-text
        "Other Elf creatures get +1/+1 and have forestwalk. (They can't be blocked as long as defending player controls a Forest.)"}
 #:card{:type-line "Creature — Goblin Shaman",
        :layout-category :normal,
        :code "psus",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c7d83313-ca4d-441b-b540-d305e470fe7b.png?1562702321",
        :collector-number "18",
        :layout "normal",
        :name "Mad Auntie",
        :oracle-text
        "Other Goblin creatures you control get +1/+1.\n{T}: Regenerate another target Goblin."})
