(#:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "ptbro",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/7/d7c972cf-64f7-4b9d-90ae-1281605ec89c.png?1691645655",
        :collector-number "1",
        :layout "token",
        :name "Construct",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Urzan Automaton",
        :layout-category :normal,
        :code "ptbro",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/b/6be0bdfb-27a7-4f94-ad04-66c4ed934d52.png?1691645820",
        :collector-number "2",
        :layout "token",
        :name "Urzan Automaton",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Zombie",
        :layout-category :normal,
        :code "ptbro",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/2/a/2a76c642-d1b4-404a-82d6-47dfec8cacd3.png?1691645975",
        :collector-number "3",
        :layout "token",
        :name "Artifact Zombie",
        :oracle-text ""})
