(#:card{:collector-number "0", :name "Blank Card"}
 #:card{:collector-number "bl1sb", :name "Abbey Gargoyles"}
 #:card{:collector-number "shr1sb", :name "Abbey Gargoyles"}
 #:card{:collector-number "shr3sb", :name "Arenson's Aura"}
 #:card{:collector-number "bl5", :name "Armageddon"}
 #:card{:collector-number "pp5", :name "Armageddon"}
 #:card{:collector-number "pp5sb", :name "Armageddon"}
 #:card{:collector-number "bl6", :name "Balance"}
 #:card{:collector-number "bl6sb", :name "Divine Offering"}
 #:card{:collector-number "et6", :name "Balance"}
 #:card{:collector-number "et6sb", :name "Divine Offering"}
 #:card{:collector-number "mj6", :name "Balance"}
 #:card{:collector-number "ml6", :name "Balance"}
 #:card{:collector-number "ml6sb", :name "Divine Offering"}
 #:card{:collector-number "pp6", :name "Balance"}
 #:card{:collector-number "pp6sb", :name "Divine Offering"}
 #:card{:collector-number "shr6", :name "Balance"}
 #:card{:collector-number "shr6sb", :name "Divine Offering"}
 #:card{:collector-number "et8", :name "Blinking Spirit"}
 #:card{:collector-number "ml8", :name "Blinking Spirit"}
 #:card{:collector-number "bl14sb",
        :name "Circle of Protection: Green"}
 #:card{:collector-number "shr14sb",
        :name "Circle of Protection: Black"}
 #:card{:collector-number "bl15sb", :name "Circle of Protection: Red"}
 #:card{:collector-number "et15", :name "Icatian Town"}
 #:card{:collector-number "et15sb", :name "Icatian Town"}
 #:card{:collector-number "ml15sb", :name "Circle of Protection: Red"}
 #:card{:collector-number "shr15sb", :name "Circle of Protection: Red"}
 #:card{:collector-number "bl16a", :name "Order of Leitbur"}
 #:card{:collector-number "bl16b", :name "Order of Leitbur"}
 #:card{:collector-number "bl16csb", :name "Order of Leitbur"}
 #:card{:collector-number "bl16sb",
        :name "Circle of Protection: Green"}
 #:card{:collector-number "bl17sb", :name "Circle of Protection: Red"}
 #:card{:collector-number "et17sb", :name "Circle of Protection: Red"}
 #:card{:collector-number "ml17sb", :name "Circle of Protection: Red"}
 #:card{:collector-number "shr20sb", :name "Truce"}
 #:card{:collector-number "bl22", :name "Disenchant"}
 #:card{:collector-number "et22", :name "Disenchant"}
 #:card{:collector-number "ml22", :name "Disenchant"}
 #:card{:collector-number "pp22", :name "Disenchant"}
 #:card{:collector-number "pp22sb", :name "Disenchant"}
 #:card{:collector-number "shr22", :name "Disenchant"}
 #:card{:collector-number "et24sb", :name "Energy Storm"}
 #:card{:collector-number "ml24", :name "Recall"}
 #:card{:collector-number "shr24", :name "Recall"}
 #:card{:collector-number "ml29", :name "Hallowed Ground"}
 #:card{:collector-number "bl32sb", :name "Karma"}
 #:card{:collector-number "pp32sb", :name "Karma"}
 #:card{:collector-number "shr32asb", :name "Memory Lapse"}
 #:card{:collector-number "shr32bsb", :name "Memory Lapse"}
 #:card{:collector-number "ll33sb", :name "Ashes to Ashes"}
 #:card{:collector-number "bl34", :name "Land Tax"}
 #:card{:collector-number "et34", :name "Land Tax"}
 #:card{:collector-number "ml34", :name "Land Tax"}
 #:card{:collector-number "pp34", :name "Land Tax"}
 #:card{:collector-number "pp34sb", :name "Land Tax"}
 #:card{:collector-number "shr34", :name "Land Tax"}
 #:card{:collector-number "gb38a", :name "Hymn to Tourach"}
 #:card{:collector-number "gb38b", :name "Hymn to Tourach"}
 #:card{:collector-number "gb38c", :name "Hymn to Tourach"}
 #:card{:collector-number "gb38d", :name "Hymn to Tourach"}
 #:card{:collector-number "ll38a", :name "Hymn to Tourach"}
 #:card{:collector-number "ll38b", :name "Hymn to Tourach"}
 #:card{:collector-number "ll38c", :name "Hymn to Tourach"}
 #:card{:collector-number "ll38d", :name "Hymn to Tourach"}
 #:card{:collector-number "ml38sb", :name "Sea Sprite"}
 #:card{:collector-number "shr38sb", :name "Sea Sprite"}
 #:card{:collector-number "gb42a", :name "Order of the Ebon Hand"}
 #:card{:collector-number "gb42b", :name "Order of the Ebon Hand"}
 #:card{:collector-number "gb42c", :name "Order of the Ebon Hand"}
 #:card{:collector-number "ll42a", :name "Order of the Ebon Hand"}
 #:card{:collector-number "ll42b", :name "Order of the Ebon Hand"}
 #:card{:collector-number "ll42c", :name "Order of the Ebon Hand"}
 #:card{:collector-number "et45sb", :name "Reverse Damage"}
 #:card{:collector-number "pp45sb", :name "Reverse Damage"}
 #:card{:collector-number "et48sb", :name "An-Zerrin Ruins"}
 #:card{:collector-number "mj49sb", :name "Anarchy"}
 #:card{:collector-number "bl50", :name "Serra Angel"}
 #:card{:collector-number "et50", :name "Serra Angel"}
 #:card{:collector-number "ll50sb", :name "Feldon's Cane"}
 #:card{:collector-number "mj50", :name "Feldon's Cane"}
 #:card{:collector-number "ml50", :name "Feldon's Cane"}
 #:card{:collector-number "shr50sb", :name "Feldon's Cane"}
 #:card{:collector-number "et51sb", :name "Dwarven Catapult"}
 #:card{:collector-number "bl52", :name "Swords to Plowshares"}
 #:card{:collector-number "et52", :name "Swords to Plowshares"}
 #:card{:collector-number "et52sb", :name "Swords to Plowshares"}
 #:card{:collector-number "mj52", :name "Swords to Plowshares"}
 #:card{:collector-number "ml52", :name "Swords to Plowshares"}
 #:card{:collector-number "pp52", :name "Swords to Plowshares"}
 #:card{:collector-number "shr52", :name "Swords to Plowshares"}
 #:card{:collector-number "gb53", :name "Ihsan's Shade"}
 #:card{:collector-number "gb53sb", :name "Ihsan's Shade"}
 #:card{:collector-number "ll54", :name "Jalum Tome"}
 #:card{:collector-number "ll54sb", :name "Jalum Tome"}
 #:card{:collector-number "bl58", :name "Wrath of God"}
 #:card{:collector-number "bl58sb", :name "Wrath of God"}
 #:card{:collector-number "et58", :name "Wrath of God"}
 #:card{:collector-number "ml58", :name "Wrath of God"}
 #:card{:collector-number "pp58", :name "Wrath of God"}
 #:card{:collector-number "shr58", :name "Wrath of God"}
 #:card{:collector-number "ll59sb", :name "Torture"}
 #:card{:collector-number "et63", :name "Orgg"}
 #:card{:collector-number "bl64", :name "Erhnam Djinn"}
 #:card{:collector-number "et64", :name "Erhnam Djinn"}
 #:card{:collector-number "gb64", :name "Erhnam Djinn"}
 #:card{:collector-number "ml64", :name "Control Magic"}
 #:card{:collector-number "ml64sb", :name "Control Magic"}
 #:card{:collector-number "pp64", :name "Erhnam Djinn"}
 #:card{:collector-number "ml65", :name "Counterspell"}
 #:card{:collector-number "shr65", :name "Counterspell"}
 #:card{:collector-number "ml72sb", :name "Hydroblast"}
 #:card{:collector-number "mj73sb", :name "Eron the Relentless"}
 #:card{:collector-number "ml81", :name "Deflection"}
 #:card{:collector-number "ml81sb", :name "Aeolipile"}
 #:card{:collector-number "pp81", :name "Aeolipile"}
 #:card{:collector-number "bl83", :name "Autumn Willow"}
 #:card{:collector-number "et83", :name "Autumn Willow"}
 #:card{:collector-number "et83sb", :name "Autumn Willow"}
 #:card{:collector-number "pp83", :name "Autumn Willow"}
 #:card{:collector-number "pp83sb", :name "Autumn Willow"}
 #:card{:collector-number "et89sb", :name "Ring of Renewal"}
 #:card{:collector-number "shr93", :name "Power Sink"}
 #:card{:collector-number "mj94", :name "Dwarven Ruins"}
 #:card{:collector-number "ll95", :name "Ebon Stronghold"}
 #:card{:collector-number "bl96", :name "Havenwood Battleground"}
 #:card{:collector-number "mj96", :name "Havenwood Battleground"}
 #:card{:collector-number "pp96", :name "Havenwood Battleground"}
 #:card{:collector-number "bl98", :name "Spectral Bears"}
 #:card{:collector-number "mj98sb", :name "Fountain of Youth"}
 #:card{:collector-number "ml98", :name "Fountain of Youth"}
 #:card{:collector-number "pp98", :name "Spectral Bears"}
 #:card{:collector-number "shr98sb", :name "Fountain of Youth"}
 #:card{:collector-number "bl100", :name "Ruins of Trokair"}
 #:card{:collector-number "ml100", :name "Ruins of Trokair"}
 #:card{:collector-number "pp100", :name "Ruins of Trokair"}
 #:card{:collector-number "shr100", :name "Ruins of Trokair"}
 #:card{:collector-number "et101sb", :name "Apocalypse Chime"}
 #:card{:collector-number "ll101sb", :name "Apocalypse Chime"}
 #:card{:collector-number "ml102", :name "Svyelunite Temple"}
 #:card{:collector-number "shr102", :name "Svyelunite Temple"}
 #:card{:collector-number "shr103", :name "Spell Blast"}
 #:card{:collector-number "ml105sb", :name "Steal Artifact"}
 #:card{:collector-number "shr105sb", :name "Steal Artifact"}
 #:card{:collector-number "et110", :name "Zur's Weirding"}
 #:card{:collector-number "et110sb", :name "Serrated Arrows"}
 #:card{:collector-number "gb110sb", :name "Serrated Arrows"}
 #:card{:collector-number "ll110", :name "Serrated Arrows"}
 #:card{:collector-number "ll110sb", :name "Serrated Arrows"}
 #:card{:collector-number "mj110sb", :name "Serrated Arrows"}
 #:card{:collector-number "ml110sb", :name "Serrated Arrows"}
 #:card{:collector-number "pp110sb", :name "Serrated Arrows"}
 #:card{:collector-number "et112", :name "City of Brass"}
 #:card{:collector-number "gb112", :name "City of Brass"}
 #:card{:collector-number "ll112sb", :name "City of Brass"}
 #:card{:collector-number "mj112", :name "City of Brass"}
 #:card{:collector-number "shr112", :name "City of Brass"}
 #:card{:collector-number "ml115", :name "Wizards' School"}
 #:card{:collector-number "ll118", :name "Dance of the Dead"}
 #:card{:collector-number "ll118sb", :name "Safe Haven"}
 #:card{:collector-number "gb119sb", :name "Dark Banishing"}
 #:card{:collector-number "ll119", :name "Dark Banishing"}
 #:card{:collector-number "gb129", :name "Dark Ritual"}
 #:card{:collector-number "ll129", :name "Dark Ritual"}
 #:card{:collector-number "ll132", :name "Drain Life"}
 #:card{:collector-number "gb138", :name "Knight of Stromgald"}
 #:card{:collector-number "ll138", :name "Knight of Stromgald"}
 #:card{:collector-number "gb142", :name "Hypnotic Specter"}
 #:card{:collector-number "ll142", :name "Hypnotic Specter"}
 #:card{:collector-number "ll154", :name "Necropotence"}
 #:card{:collector-number "gb160", :name "Sengir Vampire"}
 #:card{:collector-number "ll161", :name "Soul Burn"}
 #:card{:collector-number "ll166sb", :name "Stromgald Cabal"}
 #:card{:collector-number "mj184", :name "Detonate"}
 #:card{:collector-number "mj184sb", :name "Detonate"}
 #:card{:collector-number "et189", :name "Earthquake"}
 #:card{:collector-number "mj189", :name "Earthquake"}
 #:card{:collector-number "et192", :name "Fireball"}
 #:card{:collector-number "gb192", :name "Fireball"}
 #:card{:collector-number "mj192", :name "Fireball"}
 #:card{:collector-number "et194", :name "Incinerate"}
 #:card{:collector-number "mj194", :name "Incinerate"}
 #:card{:collector-number "et208", :name "Lightning Bolt"}
 #:card{:collector-number "gb208", :name "Lightning Bolt"}
 #:card{:collector-number "mj208", :name "Lightning Bolt"}
 #:card{:collector-number "mj213sb", :name "Pyroblast"}
 #:card{:collector-number "gb218sb", :name "Red Elemental Blast"}
 #:card{:collector-number "gb219sb", :name "Shatter"}
 #:card{:collector-number "mj219", :name "Shatter"}
 #:card{:collector-number "mj219sb", :name "Shatter"}
 #:card{:collector-number "pp233sb", :name "Essence Filter"}
 #:card{:collector-number "et234", :name "Birds of Paradise"}
 #:card{:collector-number "pp243", :name "Elvish Archers"}
 #:card{:collector-number "bl244", :name "Fyndhorn Elves"}
 #:card{:collector-number "pp251", :name "Hurricane"}
 #:card{:collector-number "bl261", :name "Llanowar Elves"}
 #:card{:collector-number "bl273", :name "Sylvan Library"}
 #:card{:collector-number "pp273", :name "Sylvan Library"}
 #:card{:collector-number "gb277sb", :name "Tranquility"}
 #:card{:collector-number "bl288sb", :name "Whirling Dervish"}
 #:card{:collector-number "bl299sb", :name "Black Vise"}
 #:card{:collector-number "mj299", :name "Black Vise"}
 #:card{:collector-number "et304", :name "Stormbind"}
 #:card{:collector-number "mj304", :name "Stormbind"}
 #:card{:collector-number "gb312", :name "Barbed Sextant"}
 #:card{:collector-number "et316sb", :name "Disrupting Scepter"}
 #:card{:collector-number "mj317", :name "Elkin Bottle"}
 #:card{:collector-number "bl319", :name "Fellwar Stone"}
 #:card{:collector-number "et319", :name "Fellwar Stone"}
 #:card{:collector-number "mj319", :name "Fellwar Stone"}
 #:card{:collector-number "pp319", :name "Fellwar Stone"}
 #:card{:collector-number "pp319sb", :name "Fellwar Stone"}
 #:card{:collector-number "bl322", :name "Icy Manipulator"}
 #:card{:collector-number "et322", :name "Icy Manipulator"}
 #:card{:collector-number "mj322", :name "Icy Manipulator"}
 #:card{:collector-number "ml322", :name "Icy Manipulator"}
 #:card{:collector-number "pp322", :name "Icy Manipulator"}
 #:card{:collector-number "shr322", :name "Icy Manipulator"}
 #:card{:collector-number "mj324", :name "Jester's Cap"}
 #:card{:collector-number "ml324sb", :name "Jester's Cap"}
 #:card{:collector-number "mj325", :name "Howling Mine"}
 #:card{:collector-number "bl328", :name "Ivory Tower"}
 #:card{:collector-number "ll328", :name "Ivory Tower"}
 #:card{:collector-number "mj328", :name "Ivory Tower"}
 #:card{:collector-number "ml328", :name "Ivory Tower"}
 #:card{:collector-number "pp328sb", :name "Ivory Tower"}
 #:card{:collector-number "shr328", :name "Ivory Tower"}
 #:card{:collector-number "et331", :name "Jayemdae Tome"}
 #:card{:collector-number "ml331", :name "Jayemdae Tome"}
 #:card{:collector-number "ll335sb", :name "Meekstone"}
 #:card{:collector-number "ml336", :name "Millstone"}
 #:card{:collector-number "shr336", :name "Millstone"}
 #:card{:collector-number "et338sb", :name "Nevinyrral's Disk"}
 #:card{:collector-number "gb338sb", :name "Nevinyrral's Disk"}
 #:card{:collector-number "ll338", :name "Nevinyrral's Disk"}
 #:card{:collector-number "ll338sb", :name "Nevinyrral's Disk"}
 #:card{:collector-number "pp338", :name "Nevinyrral's Disk"}
 #:card{:collector-number "bl350", :name "Zuran Orb"}
 #:card{:collector-number "et350", :name "Zuran Orb"}
 #:card{:collector-number "gb350", :name "Zuran Orb"}
 #:card{:collector-number "ll350", :name "Zuran Orb"}
 #:card{:collector-number "mj350", :name "Zuran Orb"}
 #:card{:collector-number "ml350", :name "Zuran Orb"}
 #:card{:collector-number "pp350", :name "Zuran Orb"}
 #:card{:collector-number "shr350", :name "Zuran Orb"}
 #:card{:collector-number "ml351", :name "Adarkar Wastes"}
 #:card{:collector-number "shr351", :name "Adarkar Wastes"}
 #:card{:collector-number "bl352", :name "Brushland"}
 #:card{:collector-number "et352", :name "Brushland"}
 #:card{:collector-number "ll352sb", :name "The Rack"}
 #:card{:collector-number "pp352", :name "Brushland"}
 #:card{:collector-number "et356", :name "Karplusan Forest"}
 #:card{:collector-number "gb356", :name "Karplusan Forest"}
 #:card{:collector-number "mj356", :name "Karplusan Forest"}
 #:card{:collector-number "gb358", :name "Lava Tubes"}
 #:card{:collector-number "mj358", :name "Winter Orb"}
 #:card{:collector-number "gb360", :name "Sulfurous Springs"}
 #:card{:collector-number "et361", :name "Mishra's Factory"}
 #:card{:collector-number "gb361", :name "Mishra's Factory"}
 #:card{:collector-number "mj361", :name "Mishra's Factory"}
 #:card{:collector-number "ml361", :name "Mishra's Factory"}
 #:card{:collector-number "pp361", :name "Mishra's Factory"}
 #:card{:collector-number "shr361", :name "Mishra's Factory"}
 #:card{:collector-number "bl363", :name "Strip Mine"}
 #:card{:collector-number "ll363", :name "Strip Mine"}
 #:card{:collector-number "ml363", :name "Strip Mine"}
 #:card{:collector-number "pp363", :name "Strip Mine"}
 #:card{:collector-number "bl364", :name "Plains"}
 #:card{:collector-number "et364", :name "Plains"}
 #:card{:collector-number "mj364", :name "Plains"}
 #:card{:collector-number "ml364", :name "Plains"}
 #:card{:collector-number "pp364", :name "Plains"}
 #:card{:collector-number "shr364", :name "Plains"}
 #:card{:collector-number "bl365", :name "Plains"}
 #:card{:collector-number "et365", :name "Plains"}
 #:card{:collector-number "mj365", :name "Plains"}
 #:card{:collector-number "ml365", :name "Plains"}
 #:card{:collector-number "pp365", :name "Plains"}
 #:card{:collector-number "shr365", :name "Plains"}
 #:card{:collector-number "bl366", :name "Plains"}
 #:card{:collector-number "et366", :name "Plains"}
 #:card{:collector-number "mj366", :name "Plains"}
 #:card{:collector-number "ml366", :name "Plains"}
 #:card{:collector-number "pp366", :name "Plains"}
 #:card{:collector-number "shr366", :name "Plains"}
 #:card{:collector-number "ml367", :name "Island"}
 #:card{:collector-number "shr367", :name "Island"}
 #:card{:collector-number "ml368", :name "Island"}
 #:card{:collector-number "shr368", :name "Island"}
 #:card{:collector-number "ml369", :name "Island"}
 #:card{:collector-number "shr369", :name "Island"}
 #:card{:collector-number "gb370", :name "Swamp"}
 #:card{:collector-number "ll370", :name "Swamp"}
 #:card{:collector-number "gb371", :name "Swamp"}
 #:card{:collector-number "ll371", :name "Swamp"}
 #:card{:collector-number "gb372", :name "Swamp"}
 #:card{:collector-number "ll372", :name "Swamp"}
 #:card{:collector-number "et373", :name "Mountain"}
 #:card{:collector-number "mj373", :name "Mountain"}
 #:card{:collector-number "et374", :name "Mountain"}
 #:card{:collector-number "mj374", :name "Mountain"}
 #:card{:collector-number "et375", :name "Mountain"}
 #:card{:collector-number "mj375", :name "Mountain"}
 #:card{:collector-number "bl376", :name "Forest"}
 #:card{:collector-number "pp376", :name "Forest"}
 #:card{:collector-number "bl377", :name "Forest"}
 #:card{:collector-number "pp377", :name "Forest"}
 #:card{:collector-number "bl378", :name "Forest"}
 #:card{:collector-number "pp378", :name "Forest"})
