(#:card{:type-line "Creature — Wurm",
        :layout-category :normal,
        :code "ptmp",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/59f9b7f9-1f6c-416f-ba73-62924bca1856.png?1606849904",
        :collector-number "221",
        :layout "normal",
        :name "Dirtcowl Wurm",
        :oracle-text
        "Whenever an opponent plays a land, put a +1/+1 counter on Dirtcowl Wurm."})
