(#:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "ptsnc",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/7/875585f8-059e-4fd4-8aa0-3eae59a83804.png?1660596331",
        :collector-number "1",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "ptsnc",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/1/91830125-81a8-4061-93f0-6be0956ea671.png?1660596321",
        :collector-number "2",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "ptsnc",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/0/c08ce7f7-7d88-46d7-883d-43253b889ee0.png?1660596445",
        :collector-number "3",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "ptsnc",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/9/b/9bf983b7-eadd-466e-b1d9-19315ab39f4f.png?1660596450",
        :collector-number "4",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "ptsnc",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/f/6/f6ae7895-ff1d-48b2-8f99-f919199e1223.png?1660596405",
        :collector-number "5",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "ptsnc",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/e/4/e4dc0938-3692-4cc2-9190-dc644f6c89a8.png?1660596426",
        :collector-number "6",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."})
