(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "ptsp",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/f/9fcc7ad0-1348-44e9-9782-e9b7fd032fa4.png?1606761799",
        :collector-number "179★",
        :layout "normal",
        :name "Sudden Shock",
        :oracle-text
        "Split second (As long as this spell is on the stack, players can't cast spells or activate abilities that aren't mana abilities.)\nSudden Shock deals 2 damage to any target."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ptsp",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/38869586-2d79-4b64-b5a9-a431665e1af2.png?1606761821",
        :collector-number "259★",
        :layout "normal",
        :name "Lotus Bloom",
        :oracle-text
        "Suspend 3—{0} (Rather than cast this card from your hand, pay {0} and exile it with three time counters on it. At the beginning of your upkeep, remove a time counter. When the last is removed, cast it without paying its mana cost.)\n{T}, Sacrifice Lotus Bloom: Add three mana of any one color."})
