(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "ptsr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/8/48f06104-ee08-4935-a1d9-08f36542705a.png?1710998882",
        :collector-number "4p",
        :layout "normal",
        :name "Angel's Grace",
        :oracle-text
        "Split second (As long as this spell is on the stack, players can't cast spells or activate abilities that aren't mana abilities.)\nYou can't lose the game this turn and your opponents can't win the game this turn. Until end of turn, damage that would reduce your life total to less than 1 reduces it to 1 instead."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "ptsr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/f/8fb0c910-0059-42bc-9ab1-384005653a15.png?1707548141",
        :collector-number "284p",
        :layout "normal",
        :name "Swarmyard",
        :oracle-text
        "{T}: Add {C}.\n{T}: Regenerate target Insect, Rat, Spider, or Squirrel. (The next time it would be destroyed, instead tap it, remove it from combat, and heal all damage on it.)"})
