(#:card{:type-line "Artifact Creature — Golem",
        :layout-category :normal,
        :code "pulg",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/2/42db4cd3-6351-498e-944a-4b93e32e1494.png?1606849850",
        :collector-number "122",
        :layout "normal",
        :name "Beast of Burden",
        :oracle-text
        "Beast of Burden's power and toughness are each equal to the number of creatures on the battlefield."})
