(#:card{:code "puma",
        :collector-number "U1",
        :name "Emrakul, the Aeons Torn",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/38cd438d-be12-40aa-bd6c-be55e88b63ce.png?1586440564",
        :type-line "Legendary Creature — Eldrazi",
        :oracle-text
        "This spell can't be countered.\nWhen you cast this spell, take an extra turn after this one.\nFlying, protection from spells that are one or more colors, annihilator 6\nWhen Emrakul, the Aeons Torn is put into a graveyard from anywhere, its owner shuffles their graveyard into their library."}
 #:card{:code "puma",
        :collector-number "U2",
        :name "Karn Liberated",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/247689bc-b97c-4a2a-8854-1cde24a185b0.png?1586440529",
        :type-line "Legendary Planeswalker — Karn",
        :oracle-text
        "+4: Target player exiles a card from their hand.\n−3: Exile target permanent.\n−14: Restart the game, leaving in exile all non-Aura permanent cards exiled with Karn Liberated. Then put those cards onto the battlefield under your control."}
 #:card{:code "puma",
        :collector-number "U3",
        :name "Kozilek, Butcher of Truth",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fedb3888-a020-4c13-a845-0b5c808b96d3.png?1586440516",
        :type-line "Legendary Creature — Eldrazi",
        :oracle-text
        "When you cast this spell, draw four cards.\nAnnihilator 4 (Whenever this creature attacks, defending player sacrifices four permanents.)\nWhen Kozilek, Butcher of Truth is put into a graveyard from anywhere, its owner shuffles their graveyard into their library."}
 #:card{:code "puma",
        :collector-number "U4",
        :name "Ulamog, the Infinite Gyre",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/8/d8705c3e-d620-43fb-8773-65b412f555ef.png?1586440401",
        :type-line "Legendary Creature — Eldrazi",
        :oracle-text
        "When you cast this spell, destroy target permanent.\nIndestructible\nAnnihilator 4 (Whenever this creature attacks, defending player sacrifices four permanents.)\nWhen Ulamog, the Infinite Gyre is put into a graveyard from anywhere, its owner shuffles their graveyard into their library."}
 #:card{:code "puma",
        :collector-number "U5",
        :name "Snapcaster Mage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/ee203ede-b9af-4f97-84ca-597debf2efd0.png?1586440448",
        :type-line "Creature — Human Wizard",
        :oracle-text
        "Flash\nWhen Snapcaster Mage enters the battlefield, target instant or sorcery card in your graveyard gains flashback until end of turn. The flashback cost is equal to its mana cost. (You may cast that card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "puma",
        :collector-number "U6",
        :name "Temporal Manipulation",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7b821fbd-5186-45bd-b154-176a1436d24d.png?1586440422",
        :type-line "Sorcery",
        :oracle-text "Take an extra turn after this one."}
 #:card{:code "puma",
        :collector-number "U7",
        :name "Bitterblossom",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/5/25dd861f-ee63-4d79-b31b-173c9c336426.png?1586440567",
        :type-line "Tribal Enchantment — Faerie",
        :oracle-text
        "At the beginning of your upkeep, you lose 1 life and create a 1/1 black Faerie Rogue creature token with flying."}
 #:card{:code "puma",
        :collector-number "U8",
        :name "Demonic Tutor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/d/2d957ecf-93e7-4a32-88bc-4d10feaab4ea.png?1586440564",
        :type-line "Sorcery",
        :oracle-text
        "Search your library for a card, put that card into your hand, then shuffle."}
 #:card{:code "puma",
        :collector-number "U9",
        :name "Goryo's Vengeance",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/35b6baa0-508a-403c-89a0-f6ea04aa93a8.png?1586440531",
        :type-line "Instant — Arcane",
        :oracle-text
        "Return target legendary creature card from your graveyard to the battlefield. That creature gains haste. Exile it at the beginning of the next end step.\nSplice onto Arcane {2}{B} (As you cast an Arcane spell, you may reveal this card from your hand and pay its splice cost. If you do, add this card's effects to that spell.)"}
 #:card{:code "puma",
        :collector-number "U10",
        :name "Liliana of the Veil",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e945c79-6c1e-404a-8993-655851566928.png?1586440482",
        :type-line "Legendary Planeswalker — Liliana",
        :oracle-text
        "+1: Each player discards a card.\n−2: Target player sacrifices a creature.\n−6: Separate all permanents target player controls into two piles. That player sacrifices all permanents in the pile of their choice."}
 #:card{:code "puma",
        :collector-number "U11",
        :name "Mikaeus, the Unhallowed",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4b7c0082-5f92-4d8d-b327-e1461535e483.png?1586440468",
        :type-line "Legendary Creature — Zombie Cleric",
        :oracle-text
        "Intimidate (This creature can't be blocked except by artifact creatures and/or creatures that share a color with it.)\nWhenever a Human deals damage to you, destroy it.\nOther non-Human creatures you control get +1/+1 and have undying. (When a creature with undying dies, if it had no +1/+1 counters on it, return it to the battlefield under its owner's control with a +1/+1 counter on it.)"}
 #:card{:code "puma",
        :collector-number "U12",
        :name "Reanimate",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/c/ac394f35-d999-43ea-97cf-99a736d4b2dd.png?1586440454",
        :type-line "Sorcery",
        :oracle-text
        "Put target creature card from a graveyard onto the battlefield under your control. You lose life equal to its mana value."}
 #:card{:code "puma",
        :collector-number "U13",
        :name "Tasigur, the Golden Fang",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87e58c1d-a3b7-4752-928b-168ec0d8f154.png?1586440419",
        :type-line "Legendary Creature — Human Shaman",
        :oracle-text
        "Delve (Each card you exile from your graveyard while casting this spell pays for {1}.)\n{2}{G/U}{G/U}: Mill two cards, then return a nonland card of an opponent's choice from your graveyard to your hand."}
 #:card{:code "puma",
        :collector-number "U14",
        :name "Balefire Dragon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/55f132a1-5c06-45a4-b4a8-fa6b03ffa9f5.png?1586440567",
        :type-line "Creature — Dragon",
        :oracle-text
        "Flying\nWhenever Balefire Dragon deals combat damage to a player, it deals that much damage to each creature that player controls."}
 #:card{:code "puma",
        :collector-number "U15",
        :name "Through the Breach",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/611e7909-6b74-4b8b-beb3-ec9e94804d5f.png?1586440409",
        :type-line "Instant — Arcane",
        :oracle-text
        "You may put a creature card from your hand onto the battlefield. That creature gains haste. Sacrifice that creature at the beginning of the next end step.\nSplice onto Arcane {2}{R}{R} (As you cast an Arcane spell, you may reveal this card from your hand and pay its splice cost. If you do, add this card's effects to that spell.)"}
 #:card{:code "puma",
        :collector-number "U16",
        :name "Eternal Witness",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/47961be7-f8c8-4aa0-afa1-51a20a129406.png?1586440532",
        :type-line "Creature — Human Shaman",
        :oracle-text
        "When Eternal Witness enters the battlefield, you may return target card from your graveyard to your hand."}
 #:card{:code "puma",
        :collector-number "U17",
        :name "Life from the Loam",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b6f329e-4ed8-4a19-a0c9-3690b8bb6894.png?1586440485",
        :type-line "Sorcery",
        :oracle-text
        "Return up to three target land cards from your graveyard to your hand.\nDredge 3 (If you would draw a card, you may mill three cards instead. If you do, return this card from your graveyard to your hand.)"}
 #:card{:code "puma",
        :collector-number "U18",
        :name "Noble Hierarch",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/7/77cc142c-9e74-4bc0-ae3a-a7699cf516ee.png?1586440464",
        :type-line "Creature — Human Druid",
        :oracle-text
        "Exalted (Whenever a creature you control attacks alone, that creature gets +1/+1 until end of turn.)\n{T}: Add {G}, {W}, or {U}."}
 #:card{:code "puma",
        :collector-number "U19",
        :name "Tarmogoyf",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8a34e2df-a9ee-4c61-bc4c-518475a39925.png?1586440417",
        :type-line "Creature — Lhurgoyf",
        :oracle-text
        "Tarmogoyf's power is equal to the number of card types among cards in all graveyards and its toughness is equal to that number plus 1."}
 #:card{:code "puma",
        :collector-number "U20",
        :name "Vengevine",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/99556953-8425-4052-957a-dd28a42e2f44.png?1586440390",
        :type-line "Creature — Elemental",
        :oracle-text
        "Haste\nWhenever you cast a spell, if it's the second creature spell you cast this turn, you may return Vengevine from your graveyard to the battlefield."}
 #:card{:code "puma",
        :collector-number "U21",
        :name "Gaddock Teeg",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/701418b2-5d26-4da8-9091-d7f909f3ea3b.png?1586440531",
        :type-line "Legendary Creature — Kithkin Advisor",
        :oracle-text
        "Noncreature spells with mana value 4 or greater can't be cast.\nNoncreature spells with {X} in their mana costs can't be cast."}
 #:card{:code "puma",
        :collector-number "U22",
        :name "Leovold, Emissary of Trest",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dda80811-0410-4b51-bc67-82c50209a0a2.png?1586440509",
        :type-line "Legendary Creature — Elf Advisor",
        :oracle-text
        "Each opponent can't draw more than one card each turn.\nWhenever you or a permanent you control becomes the target of a spell or ability an opponent controls, you may draw a card."}
 #:card{:code "puma",
        :collector-number "U23",
        :name "Lord of Extinction",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/d/9dcd19d9-2a84-4ae3-9cff-66c5b62c1440.png?1586440479",
        :type-line "Creature — Elemental",
        :oracle-text
        "Lord of Extinction's power and toughness are each equal to the number of cards in all graveyards."}
 #:card{:code "puma",
        :collector-number "U24",
        :name "Maelstrom Pulse",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/57418b2d-238c-4637-9830-9e672e3bc6da.png?1593858843",
        :type-line "Sorcery",
        :oracle-text
        "Destroy target nonland permanent and all other permanents with the same name as that permanent."}
 #:card{:code "puma",
        :collector-number "U25",
        :name "Sigarda, Host of Herons",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/0/6027eb04-62a6-4044-9f48-26816e050e1a.png?1586440452",
        :type-line "Legendary Creature — Angel",
        :oracle-text
        "Flying, hexproof\nSpells and abilities your opponents control can't cause you to sacrifice permanents."}
 #:card{:code "puma",
        :collector-number "U26",
        :name "Fulminator Mage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e37bd3ef-3252-4ec3-9fc9-e12634748977.png?1586440531",
        :type-line "Creature — Elemental Shaman",
        :oracle-text
        "Sacrifice Fulminator Mage: Destroy target nonbasic land."}
 #:card{:code "puma",
        :collector-number "U27",
        :name "Kitchen Finks",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/6/763083c4-a1ec-4e90-af70-26b203b369ce.png?1586440517",
        :type-line "Creature — Ouphe",
        :oracle-text
        "When Kitchen Finks enters the battlefield, you gain 2 life.\nPersist (When this creature dies, if it had no -1/-1 counters on it, return it to the battlefield under its owner's control with a -1/-1 counter on it.)"}
 #:card{:code "puma",
        :collector-number "U28",
        :name "Engineered Explosives",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/67bf3b19-1037-4157-8f28-11edbb7b4545.png?1586440563",
        :type-line "Artifact",
        :oracle-text
        "Sunburst (This enters the battlefield with a charge counter on it for each color of mana spent to cast it.)\n{2}, Sacrifice Engineered Explosives: Destroy each nonland permanent with mana value equal to the number of charge counters on Engineered Explosives."}
 #:card{:code "puma",
        :collector-number "U29",
        :name "Mana Vault",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/16951cdd-7367-46c7-b915-93d4ed656918.png?1586440470",
        :type-line "Artifact",
        :oracle-text
        "Mana Vault doesn't untap during your untap step.\nAt the beginning of your upkeep, you may pay {4}. If you do, untap Mana Vault.\nAt the beginning of your draw step, if Mana Vault is tapped, it deals 1 damage to you.\n{T}: Add {C}{C}{C}."}
 #:card{:code "puma",
        :collector-number "U30",
        :name "Platinum Emperion",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/861100b0-ff7b-4aac-82aa-039365c826aa.png?1586440460",
        :type-line "Artifact Creature — Golem",
        :oracle-text
        "Your life total can't change. (You can't gain or lose life. You can't pay any amount of life except 0.)"}
 #:card{:code "puma",
        :collector-number "U31",
        :name "Ancient Tomb",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2ca06f4f-1212-49c8-b45a-6f1597e0a3ed.png?1586440568",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}{C}. Ancient Tomb deals 2 damage to you."}
 #:card{:code "puma",
        :collector-number "U32",
        :name "Cavern of Souls",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/bea9f6e9-69ae-4c49-9682-ad09e787c01e.png?1586440566",
        :type-line "Land",
        :oracle-text
        "As Cavern of Souls enters the battlefield, choose a creature type.\n{T}: Add {C}.\n{T}: Add one mana of any color. Spend this mana only to cast a creature spell of the chosen type, and that spell can't be countered."}
 #:card{:code "puma",
        :collector-number "U33",
        :name "Celestial Colonnade",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/051f18b2-9d16-4831-8f7e-458877b0c1fa.png?1586440566",
        :type-line "Land",
        :oracle-text
        "Celestial Colonnade enters the battlefield tapped.\n{T}: Add {W} or {U}.\n{3}{W}{U}: Until end of turn, Celestial Colonnade becomes a 4/4 white and blue Elemental creature with flying and vigilance. It's still a land."}
 #:card{:code "puma",
        :collector-number "U34",
        :name "Creeping Tar Pit",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/7/e7d7e102-c52d-4891-a2a2-55fead79dc61.png?1586440565",
        :type-line "Land",
        :oracle-text
        "Creeping Tar Pit enters the battlefield tapped.\n{T}: Add {U} or {B}.\n{1}{U}{B}: Creeping Tar Pit becomes a 3/2 blue and black Elemental creature until end of turn and can't be blocked this turn. It's still a land."}
 #:card{:code "puma",
        :collector-number "U35",
        :name "Dark Depths",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e8fa97f8-2f52-426a-84f3-a7b85fda1344.png?1586440565",
        :type-line "Legendary Snow Land",
        :oracle-text
        "Dark Depths enters the battlefield with ten ice counters on it.\n{3}: Remove an ice counter from Dark Depths.\nWhen Dark Depths has no ice counters on it, sacrifice it. If you do, create Marit Lage, a legendary 20/20 black Avatar creature token with flying and indestructible."}
 #:card{:code "puma",
        :collector-number "U36",
        :name "Karakas",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff790ded-af9f-4e93-84b7-ddadff5ccad4.png?1586440530",
        :type-line "Legendary Land",
        :oracle-text
        "{T}: Add {W}.\n{T}: Return target legendary creature to its owner's hand."}
 #:card{:code "puma",
        :collector-number "U37",
        :name "Lavaclaw Reaches",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7c9fb3d9-e018-4aa3-9c14-1a51fae176b4.png?1586440512",
        :type-line "Land",
        :oracle-text
        "Lavaclaw Reaches enters the battlefield tapped.\n{T}: Add {B} or {R}.\n{1}{B}{R}: Until end of turn, Lavaclaw Reaches becomes a 2/2 black and red Elemental creature with \"{X}: This creature gets +X/+0 until end of turn.\" It's still a land."}
 #:card{:code "puma",
        :collector-number "U38",
        :name "Raging Ravine",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/54f41726-e0bb-4154-a2db-4b68b50f5032.png?1586440456",
        :type-line "Land",
        :oracle-text
        "Raging Ravine enters the battlefield tapped.\n{T}: Add {R} or {G}.\n{2}{R}{G}: Until end of turn, Raging Ravine becomes a 3/3 red and green Elemental creature with \"Whenever this creature attacks, put a +1/+1 counter on it.\" It's still a land."}
 #:card{:code "puma",
        :collector-number "U39",
        :name "Stirring Wildwood",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/e/5e63fd70-ca5b-45fd-b551-9ebe02410e9c.png?1586440412",
        :type-line "Land",
        :oracle-text
        "Stirring Wildwood enters the battlefield tapped.\n{T}: Add {G} or {W}.\n{1}{G}{W}: Until end of turn, Stirring Wildwood becomes a 3/4 green and white Elemental creature with reach. It's still a land."}
 #:card{:code "puma",
        :collector-number "U40",
        :name "Urborg, Tomb of Yawgmoth",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff92804a-0c62-4eb8-bbba-f1ca6f426b6e.png?1636719490",
        :type-line "Legendary Land",
        :oracle-text
        "Each land is a Swamp in addition to its other land types."})
