(#:card{:type-line "Creature — Human Druid Knight",
        :layout-category :normal,
        :code "purl",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/47a88207-e15c-4d34-bd70-218e6afd15c6.png?1561757059",
        :collector-number "1",
        :layout "normal",
        :name "Steward of Valeron",
        :oracle-text "Vigilance\n{T}: Add {G}."}
 #:card{:type-line "Creature — Kor Soldier",
        :layout-category :normal,
        :code "purl",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cffc6114-aa99-4c56-80fc-92fb32639d13.png?1561758113",
        :collector-number "2",
        :layout "normal",
        :name "Kor Skyfisher",
        :oracle-text
        "Flying\nWhen Kor Skyfisher enters the battlefield, return a permanent you control to its owner's hand."}
 #:card{:type-line "Creature — Vampire",
        :layout-category :normal,
        :code "purl",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/abe7768f-5686-44d0-8698-694fb9a400f7.png?1561757800",
        :collector-number "3",
        :layout "normal",
        :name "Bloodthrone Vampire",
        :oracle-text
        "Sacrifice a creature: Bloodthrone Vampire gets +2/+2 until end of turn."}
 #:card{:type-line "Creature — Merfolk Wizard",
        :layout-category :normal,
        :code "purl",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a2052095-99a5-4db1-b7ef-d13875f4da5d.png?1576554000",
        :collector-number "4",
        :layout "normal",
        :name "Merfolk Mesmerist",
        :oracle-text "{U}, {T}: Target player mills two cards."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "purl",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/7/e761acf6-6618-44cc-8f65-1d7ad7e520fe.png?1561758344",
        :collector-number "5",
        :layout "normal",
        :name "Chandra's Fury",
        :oracle-text
        "Chandra's Fury deals 4 damage to target player or planeswalker and 1 damage to each creature that player or that planeswalker's controller controls."}
 #:card{:type-line "Creature — Human Rogue",
        :layout-category :normal,
        :code "purl",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/8785bf1f-c459-4332-9915-2c0e046ab3f4.png?1561757509",
        :collector-number "7",
        :layout "normal",
        :name "Stealer of Secrets",
        :oracle-text
        "Whenever Stealer of Secrets deals combat damage to a player, draw a card."}
 #:card{:type-line "Creature — Human Artificer",
        :layout-category :normal,
        :code "purl",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/1/21c3a636-962f-46e0-9c9e-48523547acd0.png?1621397437",
        :collector-number "8",
        :layout "normal",
        :name "Aeronaut Tinkerer",
        :oracle-text
        "Aeronaut Tinkerer has flying as long as you control an artifact. (It can't be blocked except by creatures with flying or reach.)"}
 #:card{:type-line "Creature — Rat",
        :layout-category :normal,
        :code "purl",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7a3d472f-6454-427e-8434-ae70af43dcaf.png?1561757439",
        :collector-number "9",
        :layout "normal",
        :name "Relentless Rats",
        :oracle-text
        "Relentless Rats gets +1/+1 for each other creature on the battlefield named Relentless Rats.\nA deck can have any number of cards named Relentless Rats."}
 #:card{:type-line "Creature — Angel",
        :layout-category :normal,
        :code "purl",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/7/d7e4b490-e435-41bd-9877-6bfed57874f0.png?1621397460",
        :collector-number "34★",
        :layout "normal",
        :name "Shepherd of the Lost",
        :oracle-text "Flying, first strike, vigilance"})
