(#:card{:code "pusg",
        :collector-number "202",
        :name "Lightning Dragon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/4/b4575bbe-a767-4861-87c3-795a287ac363.png?1606849863",
        :type-line "Creature — Dragon",
        :oracle-text
        "Flying\nEcho {2}{R}{R} (At the beginning of your upkeep, if this came under your control since the beginning of your last upkeep, sacrifice it unless you pay its echo cost.)\n{R}: Lightning Dragon gets +1/+0 until end of turn."})
