(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "pw09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/30233158-01b4-4f14-b7d2-d0377273f6c3.png?1561756867",
        :collector-number "24",
        :layout "normal",
        :name "Path to Exile",
        :oracle-text
        "Exile target creature. Its controller may search their library for a basic land card, put that card onto the battlefield tapped, then shuffle."}
 #:card{:type-line "Creature — Elemental",
        :layout-category :normal,
        :code "pw09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a485fc8d-a7a0-444f-b4b3-aa0c9964ec53.png?1561757745",
        :collector-number "25",
        :layout "normal",
        :name "Hellspark Elemental",
        :oracle-text
        "Trample, haste\nAt the beginning of the end step, sacrifice Hellspark Elemental.\nUnearth {1}{R} ({1}{R}: Return this card from your graveyard to the battlefield. It gains haste. Exile it at the beginning of the next end step or if it would leave the battlefield. Unearth only as a sorcery.)"}
 #:card{:type-line "Creature — Cat Warrior",
        :layout-category :normal,
        :code "pw09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/eba9449b-d1f2-4322-a5d4-b8935f270fff.png?1595438198",
        :collector-number "26",
        :layout "normal",
        :name "Marisi's Twinclaws",
        :oracle-text "Double strike"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pw09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/cc4c8807-77e1-4519-9281-5a312af88ad8.png?1561758092",
        :collector-number "27",
        :layout "normal",
        :name "Slave of Bolas",
        :oracle-text
        "Gain control of target creature. Untap that creature. It gains haste until end of turn. Sacrifice it at the beginning of the next end step."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "pw09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c1468fc-52ba-4d21-bb39-d2d42f6cd50c.png?1561756835",
        :collector-number "30",
        :layout "normal",
        :name "Mind Control",
        :oracle-text
        "Enchant creature\nYou control enchanted creature."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pw09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/2482d1ef-29f4-42ad-b384-07072cd3f71e.png?1561756788",
        :collector-number "31",
        :layout "normal",
        :name "Rise from the Grave",
        :oracle-text
        "Put target creature card from a graveyard onto the battlefield under your control. That creature is a black Zombie in addition to its other colors and types."}
 #:card{:type-line "Creature — Kor Soldier",
        :layout-category :normal,
        :code "pw09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e826b53c-5a6d-452f-bb57-2c4fd798f06d.png?1561758349",
        :collector-number "32",
        :layout "normal",
        :name "Kor Duelist",
        :oracle-text
        "As long as Kor Duelist is equipped, it has double strike. (It deals both first-strike and regular combat damage.)"}
 #:card{:type-line "Creature — Vampire Shaman",
        :layout-category :normal,
        :code "pw09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/0/600c7386-dad1-43d0-9862-5e6750a5bb92.png?1561757263",
        :collector-number "33",
        :layout "normal",
        :name "Vampire Nighthawk",
        :oracle-text "Flying, deathtouch, lifelink"})
