(#:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "pw12",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/a/da46c734-a37c-4eb3-bfa9-10cee00ab1d0.png?1561758200",
        :collector-number "79",
        :layout "normal",
        :name "Gather the Townsfolk",
        :oracle-text
        "Create two 1/1 white Human creature tokens.\nFateful hour — If you have 5 or less life, create five of those tokens instead."}
 #:card{:type-line "Enchantment — Aura Curse",
        :layout-category :normal,
        :code "pw12",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/f/2fa2b4ac-a62f-45c6-88fb-6ad44c6af28c.png?1575601812",
        :collector-number "81",
        :layout "normal",
        :name "Curse of Thirst",
        :oracle-text
        "Enchant player\nAt the beginning of enchanted player's upkeep, Curse of Thirst deals damage to that player equal to the number of Curses attached to them."}
 #:card{:type-line "Creature — Vampire Rogue",
        :layout-category :normal,
        :code "pw12",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/41422a18-1c35-4dac-b159-a323ed5736de.png?1561757003",
        :collector-number "82",
        :layout "normal",
        :name "Nearheath Stalker",
        :oracle-text
        "Undying (When this creature dies, if it had no +1/+1 counters on it, return it to the battlefield under its owner's control with a +1/+1 counter on it.)"})
