(#:card{:code "pw22",
        :collector-number "1",
        :name "Consider",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/0/b0e9b20a-fcc7-4506-995e-be80199c1202.png?1639713041",
        :type-line "Instant",
        :oracle-text
        "Look at the top card of your library. You may put that card into your graveyard.\nDraw a card."}
 #:card{:code "pw22",
        :collector-number "2",
        :name "Fateful Absence",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/83e3dff5-4ffc-49e3-9b40-b9c6e1c864ef.png?1639713023",
        :type-line "Instant",
        :oracle-text
        "Destroy target creature or planeswalker. Its controller investigates. (They create a colorless Clue artifact token with \"{2}, Sacrifice this artifact: Draw a card.\")"}
 #:card{:code "pw22",
        :collector-number "3",
        :name "Atsushi, the Blazing Sky",
        :layout "normal",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b3c5734c-b32f-419e-82e6-f8d45b7201b7.png?1639713043",
        :type-line "Legendary Creature — Dragon Spirit",
        :oracle-text
        "Flying, trample\nWhen Atsushi, the Blazing Sky dies, choose one —\n• Exile the top two cards of your library. Until the end of your next turn, you may play those cards.\n• Create three Treasure tokens."}
 #:card{:code "pw22",
        :collector-number "4",
        :name "Swiftfoot Boots",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/01ba455b-9cd4-4ba2-9bbf-d83b84dcc891.png?1646351035",
        :type-line "Artifact — Equipment",
        :oracle-text
        "Equipped creature has hexproof and haste.\nEquip {1}"})
