(#:card{:type-line "Creature — Elemental",
        :layout-category :normal,
        :code "pwcq",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/956238ab-52ff-4787-aebc-efd13b6a2468.png?1588007373",
        :collector-number "2013",
        :layout "normal",
        :name "Vengevine",
        :oracle-text
        "Haste\nWhenever you cast a spell, if it's the second creature spell you cast this turn, you may return Vengevine from your graveyard to the battlefield."}
 #:card{:type-line "Legendary Creature — Spirit Cleric",
        :layout-category :normal,
        :code "pwcq",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/27153f2f-998d-42ce-a718-ee08412ba0f6.png?1588055146",
        :collector-number "2014",
        :layout "normal",
        :name "Geist of Saint Traft",
        :oracle-text
        "Hexproof (This creature can't be the target of spells or abilities your opponents control.)\nWhenever Geist of Saint Traft attacks, create a 4/4 white Angel creature token with flying that's tapped and attacking. Exile that token at end of combat."}
 #:card{:type-line "Legendary Creature — Human Soldier",
        :layout-category :normal,
        :code "pwcq",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e6f9792f-7435-49dd-98b4-cc2e9f556338.png?1561758341",
        :collector-number "2015",
        :layout "normal",
        :name "Thalia, Guardian of Thraben",
        :oracle-text
        "First strike\nNoncreature spells cost {1} more to cast."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "pwcq",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0b10ef54-368c-4841-ab5d-f2e8e1265c83.png?1561756631",
        :collector-number "2016",
        :layout "normal",
        :name "Abrupt Decay",
        :oracle-text
        "This spell can't be countered.\nDestroy target nonland permanent with mana value 3 or less."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "pwcq",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/2/c2c931cd-f2de-4d65-8dee-8b0fdade6594.png?1561758005",
        :collector-number "2017",
        :layout "normal",
        :name "Inkmoth Nexus",
        :oracle-text
        "{T}: Add {C}.\n{1}: Inkmoth Nexus becomes a 1/1 Phyrexian Blinkmoth artifact creature with flying and infect until end of turn. It's still a land. (It deals damage to creatures in the form of -1/-1 counters and to players in the form of poison counters.)"})
