(#:card{:code "pwor",
        :collector-number "1",
        :name "Balduvian Horde",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/98531409-da0e-47cc-8727-5e0ca5734887.png?1561756376",
        :type-line "Creature — Human Barbarian",
        :oracle-text
        "When Balduvian Horde enters the battlefield, sacrifice it unless you discard a card at random."}
 #:card{:code "pwor",
        :collector-number "2019",
        :name "Crucible of Worlds",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/79da06af-8f75-4094-ba8a-ab082b339f8a.png?1602481621",
        :type-line "Artifact",
        :oracle-text "You may play lands from your graveyard."})
