(#:card{:type-line "Creature — Angel",
        :layout-category :normal,
        :code "pwos",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bb2360f1-e868-410a-9f91-59e15c99de79.png?1561756385",
        :collector-number "1",
        :layout "normal",
        :name "Serra Angel",
        :oracle-text "Flying, vigilance"})
