(#:card{:type-line "Creature — Lizard",
        :layout-category :normal,
        :code "pwpn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/1/310038c2-685e-4f1b-b91f-7a5ad2b0646f.png?1561756868",
        :collector-number "21",
        :layout "normal",
        :name "Sprouting Thrinax",
        :oracle-text
        "When Sprouting Thrinax dies, create three 1/1 green Saproling creature tokens."}
 #:card{:type-line "Creature — Beast",
        :layout-category :normal,
        :code "pwpn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fb3a2bb2-3ba7-4486-84c9-3aab85c368e1.png?1561758467",
        :collector-number "22",
        :layout "normal",
        :name "Woolly Thoctar",
        :oracle-text ""})
