(#:card{:code "pxtc",
        :collector-number "22",
        :name "Legion's Landing // Adanto, the First Fort",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af6a8b6f-344a-4a4f-8949-b3ab2465b74b.png?1596137555",
          :type-line "Legendary Enchantment",
          :oracle-text
          "When Legion's Landing enters the battlefield, create a 1/1 white Vampire creature token with lifelink.\nWhen you attack with three or more creatures, transform Legion's Landing."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/a/f/af6a8b6f-344a-4a4f-8949-b3ab2465b74b.png?1596137555",
          :type-line "Legendary Land",
          :oracle-text
          "(Transforms from Legion's Landing.)\n{T}: Add {W}.\n{2}{W}, {T}: Create a 1/1 white Vampire creature token with lifelink."}]}
 #:card{:code "pxtc",
        :collector-number "74",
        :name "Search for Azcanta // Azcanta, the Sunken Ruin",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/1056ab38-416c-450b-9e99-1a3eefc39f32.png?1562271911",
          :type-line "Legendary Enchantment",
          :oracle-text
          "At the beginning of your upkeep, look at the top card of your library. You may put it into your graveyard. Then if you have seven or more cards in your graveyard, you may transform Search for Azcanta."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/1/0/1056ab38-416c-450b-9e99-1a3eefc39f32.png?1562271911",
          :type-line "Legendary Land",
          :oracle-text
          "(Transforms from Search for Azcanta.)\n{T}: Add {U}.\n{2}{U}, {T}: Look at the top four cards of your library. You may reveal a noncreature, nonland card from among them and put it into your hand. Put the rest on the bottom of your library in any order."}]}
 #:card{:code "pxtc",
        :collector-number "90",
        :name "Arguel's Blood Fast // Temple of Aclazotz",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b31d323-a715-4085-a711-8f2a3f4d9942.png?1562271927",
          :type-line "Legendary Enchantment",
          :oracle-text
          "{1}{B}, Pay 2 life: Draw a card.\nAt the beginning of your upkeep, if you have 5 or less life, you may transform Arguel's Blood Fast."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/2/b/2b31d323-a715-4085-a711-8f2a3f4d9942.png?1562271927",
          :type-line "Legendary Land",
          :oracle-text
          "(Transforms from Arguel's Blood Fast.)\n{T}: Add {B}.\n{T}, Sacrifice a creature: You gain life equal to the sacrificed creature's toughness."}]}
 #:card{:code "pxtc",
        :collector-number "173",
        :name "Vance's Blasting Cannons // Spitfire Bastion",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b96daf2a-9065-484b-a078-c6ee5a0281ed.png?1562271974",
          :type-line "Legendary Enchantment",
          :oracle-text
          "At the beginning of your upkeep, exile the top card of your library. If it's a nonland card, you may cast that card this turn.\nWhenever you cast your third spell in a turn, you may transform Vance's Blasting Cannons."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/b/9/b96daf2a-9065-484b-a078-c6ee5a0281ed.png?1562271974",
          :type-line "Legendary Land",
          :oracle-text
          "(Transforms from Vance's Blasting Cannons.)\n{T}: Add {R}.\n{2}{R}, {T}: Spitfire Bastion deals 3 damage to any target."}]}
 #:card{:code "pxtc",
        :collector-number "191",
        :name "Growing Rites of Itlimoc // Itlimoc, Cradle of the Sun",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4ca05921-d3bd-4c39-8b37-243658a2f23f.png?1562271934",
          :type-line "Legendary Enchantment",
          :oracle-text
          "When Growing Rites of Itlimoc enters the battlefield, look at the top four cards of your library. You may reveal a creature card from among them and put it into your hand. Put the rest on the bottom of your library in any order.\nAt the beginning of your end step, if you control four or more creatures, transform Growing Rites of Itlimoc."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/4/c/4ca05921-d3bd-4c39-8b37-243658a2f23f.png?1562271934",
          :type-line "Legendary Land",
          :oracle-text
          "(Transforms from Growing Rites of Itlimoc.)\n{T}: Add {G}.\n{T}: Add {G} for each creature you control."}]}
 #:card{:code "pxtc",
        :collector-number "234",
        :name "Conqueror's Galleon // Conqueror's Foothold",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5f233ff1-5a4a-47d3-b3d5-6a00a7a00732.png?1562271950",
          :type-line "Artifact — Vehicle",
          :oracle-text
          "When Conqueror's Galleon attacks, exile it at end of combat, then return it to the battlefield transformed under your control.\nCrew 4 (Tap any number of creatures you control with total power 4 or more: This Vehicle becomes an artifact creature until end of turn.)"}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/5/f/5f233ff1-5a4a-47d3-b3d5-6a00a7a00732.png?1562271950",
          :type-line "Land",
          :oracle-text
          "(Transforms from Conqueror's Galleon.)\n{T}: Add {C}.\n{2}, {T}: Draw a card, then discard a card.\n{4}, {T}: Draw a card.\n{6}, {T}: Return target card from your graveyard to your hand."}]}
 #:card{:code "pxtc",
        :collector-number "235",
        :name "Dowsing Dagger // Lost Vale",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/560c1129-b375-4bb7-9595-9ca92945e5bd.png?1562271942",
          :type-line "Artifact — Equipment",
          :oracle-text
          "When Dowsing Dagger enters the battlefield, target opponent creates two 0/2 green Plant creature tokens with defender.\nEquipped creature gets +2/+1.\nWhenever equipped creature deals combat damage to a player, you may transform Dowsing Dagger.\nEquip {2}"}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/5/6/560c1129-b375-4bb7-9595-9ca92945e5bd.png?1562271942",
          :type-line "Land",
          :oracle-text
          "(Transforms from Dowsing Dagger.)\n{T}: Add three mana of any one color."}]}
 #:card{:code "pxtc",
        :collector-number "243",
        :name "Primal Amulet // Primal Wellspring",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/9235dfc1-19bf-4923-84f7-721018514866.png?1562271958",
          :type-line "Artifact",
          :oracle-text
          "Instant and sorcery spells you cast cost {1} less to cast.\nWhenever you cast an instant or sorcery spell, put a charge counter on Primal Amulet. Then if there are four or more charge counters on it, you may remove those counters and transform it."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/9/2/9235dfc1-19bf-4923-84f7-721018514866.png?1562271958",
          :type-line "Land",
          :oracle-text
          "(Transforms from Primal Amulet.)\n{T}: Add one mana of any color. When that mana is spent to cast an instant or sorcery spell, copy that spell and you may choose new targets for the copy."}]}
 #:card{:code "pxtc",
        :collector-number "249",
        :name "Thaumatic Compass // Spires of Orazca",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e0123e46-77ab-400d-bac7-a0057e137fbb.png?1596137565",
          :type-line "Artifact",
          :oracle-text
          "{3}, {T}: Search your library for a basic land card, reveal it, put it into your hand, then shuffle.\nAt the beginning of your end step, if you control seven or more lands, transform Thaumatic Compass."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/e/0/e0123e46-77ab-400d-bac7-a0057e137fbb.png?1596137565",
          :type-line "Land",
          :oracle-text
          "(Transforms from Thaumatic Compass.)\n{T}: Add {C}.\n{T}: Untap target attacking creature an opponent controls and remove it from combat."}]}
 #:card{:code "pxtc",
        :collector-number "250",
        :name "Treasure Map // Treasure Cove",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1f6213d9-c65d-48da-a501-279db5f31d6a.png?1562271919",
          :type-line "Artifact",
          :oracle-text
          "{1}, {T}: Scry 1. Put a landmark counter on Treasure Map. Then if there are three or more landmark counters on it, remove those counters, transform Treasure Map, and create three Treasure tokens. (They're artifacts with \"{T}, Sacrifice this artifact: Add one mana of any color.\")"}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/1/f/1f6213d9-c65d-48da-a501-279db5f31d6a.png?1562271919",
          :type-line "Land",
          :oracle-text
          "(Transforms from Treasure Map.)\n{T}: Add {C}.\n{T}, Sacrifice a Treasure: Draw a card."}]})
