(#:card{:code "pzen",
        :collector-number "*9",
        :name "Day of Judgment",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6ba873f7-a7a4-44aa-84a6-44501424dc7a.png?1561757360",
        :type-line "Sorcery",
        :oracle-text "Destroy all creatures."}
 #:card{:code "pzen",
        :collector-number "34",
        :name "Nissa's Chosen",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/4/e45e4c8f-bb6c-471d-b14f-cc90869f341a.png?1561758323",
        :type-line "Creature — Elf Warrior",
        :oracle-text
        "If Nissa's Chosen would die, put it on the bottom of its owner's library instead."}
 #:card{:code "pzen",
        :collector-number "35",
        :name "Emeria Angel",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/01967a0c-bd2c-4dba-9c62-e6f955c017e3.png?1561756575",
        :type-line "Creature — Angel",
        :oracle-text
        "Flying\nLandfall — Whenever a land enters the battlefield under your control, you may create a 1/1 white Bird creature token with flying."}
 #:card{:code "pzen",
        :collector-number "178★",
        :name "Rampaging Baloths",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/a/aac9448c-c802-476a-87ef-e1d745fd862a.png?1605370770",
        :type-line "Creature — Beast",
        :oracle-text
        "Trample\nLandfall — Whenever a land enters the battlefield under your control, you may create a 4/4 green Beast creature token."}
 #:card{:code "pzen",
        :collector-number "228★",
        :name "Valakut, the Molten Pinnacle",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/61859afa-9578-4179-8c2b-9c54e880f339.png?1605371262",
        :type-line "Land",
        :oracle-text
        "Valakut, the Molten Pinnacle enters the battlefield tapped.\nWhenever a Mountain enters the battlefield under your control, if you control at least five other Mountains, you may have Valakut, the Molten Pinnacle deal 3 damage to any target.\n{T}: Add {R}."})
