(#:card{:collector-number "1", :name "Alabaster Potion"}
 #:card{:collector-number "2", :name "Circle of Protection: Black"}
 #:card{:collector-number "3", :name "Circle of Protection: Red"}
 #:card{:collector-number "4", :name "Healing Salve"}
 #:card{:collector-number "5", :name "Mesa Pegasus"}
 #:card{:collector-number "6", :name "Pearled Unicorn"}
 #:card{:collector-number "7", :name "Reverse Damage"}
 #:card{:collector-number "8", :name "Energy Flux"}
 #:card{:collector-number "9", :name "Feedback"}
 #:card{:collector-number "10", :name "Merfolk of the Pearl Trident"}
 #:card{:collector-number "11", :name "Power Sink"}
 #:card{:collector-number "12", :name "Twiddle"}
 #:card{:collector-number "13", :name "Unsummon"}
 #:card{:collector-number "14", :name "Zephyr Falcon"}
 #:card{:collector-number "15", :name "Bog Imp"}
 #:card{:collector-number "16", :name "Bog Wraith"}
 #:card{:collector-number "17", :name "Cursed Land"}
 #:card{:collector-number "18", :name "Dark Ritual"}
 #:card{:collector-number "19", :name "Lost Soul"}
 #:card{:collector-number "20", :name "Murk Dwellers"}
 #:card{:collector-number "21", :name "Raise Dead"}
 #:card{:collector-number "22", :name "Scathe Zombies"}
 #:card{:collector-number "23", :name "Sorceress Queen"}
 #:card{:collector-number "24", :name "Terror"}
 #:card{:collector-number "25", :name "Vampire Bats"}
 #:card{:collector-number "26", :name "Wall of Bone"}
 #:card{:collector-number "27", :name "Warp Artifact"}
 #:card{:collector-number "28", :name "Weakness"}
 #:card{:collector-number "29", :name "Detonate"}
 #:card{:collector-number "30", :name "Disintegrate"}
 #:card{:collector-number "31", :name "Fireball"}
 #:card{:collector-number "32", :name "Hill Giant"}
 #:card{:collector-number "33", :name "Ironclaw Orcs"}
 #:card{:collector-number "34", :name "Mons's Goblin Raiders"}
 #:card{:collector-number "35", :name "Orcish Artillery"}
 #:card{:collector-number "36", :name "Orcish Oriflamme"}
 #:card{:collector-number "37", :name "Pyrotechnics"}
 #:card{:collector-number "38", :name "Durkwood Boars"}
 #:card{:collector-number "39", :name "Elven Riders"}
 #:card{:collector-number "40", :name "Elvish Archers"}
 #:card{:collector-number "41", :name "Grizzly Bears"}
 #:card{:collector-number "42", :name "Scryb Sprites"}
 #:card{:collector-number "43", :name "Untamed Wilds"}
 #:card{:collector-number "44", :name "War Mammoth"}
 #:card{:collector-number "45", :name "Whirling Dervish"}
 #:card{:collector-number "46", :name "Winter Blast"}
 #:card{:collector-number "47", :name "Battering Ram"}
 #:card{:collector-number "48", :name "Clockwork Beast"}
 #:card{:collector-number "49", :name "Glasses of Urza"}
 #:card{:collector-number "50", :name "Jayemdae Tome"}
 #:card{:collector-number "51", :name "Rod of Ruin"}
 #:card{:collector-number "52", :name "Plains"}
 #:card{:collector-number "53", :name "Plains"}
 #:card{:collector-number "54", :name "Plains"}
 #:card{:collector-number "55", :name "Island"}
 #:card{:collector-number "56", :name "Island"}
 #:card{:collector-number "57", :name "Swamp"}
 #:card{:collector-number "58", :name "Swamp"}
 #:card{:collector-number "59", :name "Swamp"}
 #:card{:collector-number "60", :name "Mountain"}
 #:card{:collector-number "61", :name "Mountain"}
 #:card{:collector-number "62", :name "Mountain"}
 #:card{:collector-number "63", :name "Forest"}
 #:card{:collector-number "64", :name "Forest"}
 #:card{:collector-number "65", :name "Forest"})
