(#:card{:type-line "Card",
        :layout-category :normal,
        :code "sbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/f/ffd628c0-ef46-44b8-80dd-afd5ad4fc03c.png?1681605656",
        :collector-number "1",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"})
