(#:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/5/c535f7f8-a57e-4ef1-91b4-5e3281bd4407.png?1674178214",
        :collector-number "1993",
        :layout "normal",
        :name "Shivan Dragon",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\n{R}: Shivan Dragon gets +1/+0 until end of turn."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/9/c9eb1309-5e60-4b8f-b63c-ebe62030db5c.png?1674178223",
        :collector-number "1994",
        :layout "normal",
        :name "Mishra's Factory",
        :oracle-text
        "{T}: Add {C}.\n{1}: Mishra's Factory becomes a 2/2 Assembly-Worker artifact creature until end of turn. It's still a land.\n{T}: Target Assembly-Worker creature gets +1/+1 until end of turn."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/d/7dae100a-ea1d-45f3-b47c-b278cda462ad.png?1674178230",
        :collector-number "1995",
        :layout "normal",
        :name "Necropotence",
        :oracle-text
        "Skip your draw step.\nWhenever you discard a card, exile that card from your graveyard.\nPay 1 life: Exile the top card of your library face down. Put that card into your hand at the beginning of your next end step."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/9/9911cc02-ef9a-458b-94d2-50af92ad6628.png?1674178238",
        :collector-number "1996",
        :layout "normal",
        :name "Lim-Dûl's Vault",
        :oracle-text
        "Look at the top five cards of your library. As many times as you choose, you may pay 1 life, put those cards on the bottom of your library in any order, then look at the top five cards of your library. Then shuffle and put the last cards you looked at this way on top in any order."}
 #:card{:type-line "Creature — Spirit",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/6/56b80bce-1ff6-40e7-bfdd-af1ffc1918c6.png?1674178247",
        :collector-number "1997",
        :layout "normal",
        :name "Tradewind Rider",
        :oracle-text
        "Flying\n{T}, Tap two untapped creatures you control: Return target permanent to its owner's hand."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/e/4e5b6e96-c1b8-44b8-90ab-2989e7463427.png?1674178255",
        :collector-number "1998",
        :layout "normal",
        :name "Smokestack",
        :oracle-text
        "At the beginning of your upkeep, you may put a soot counter on Smokestack.\nAt the beginning of each player's upkeep, that player sacrifices a permanent for each soot counter on Smokestack."}
 #:card{:type-line "Legendary Creature — Goblin",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/d/6d6c51ea-21fd-46c2-9bdd-5f7b4438a1c3.png?1674178265",
        :collector-number "1999",
        :layout "normal",
        :name "Squee, Goblin Nabob",
        :oracle-text
        "At the beginning of your upkeep, you may return Squee, Goblin Nabob from your graveyard to your hand."}
 #:card{:type-line "Legendary Creature — Human Rebel",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/d/4d8dd50e-576a-4e19-9ac2-a3d444a759f1.png?1674178276",
        :collector-number "2000",
        :layout "normal",
        :name "Lin Sivvi, Defiant Hero",
        :oracle-text
        "{X}, {T}: Search your library for a Rebel permanent card with mana value X or less, put it onto the battlefield, then shuffle.\n{3}: Put target Rebel card from your graveyard on the bottom of your library."}
 #:card{:type-line "Creature — Dog",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/4/8476adaa-fd09-41c3-beda-0e2d654cb204.png?1674178284",
        :collector-number "2001",
        :layout "normal",
        :name "Wild Mongrel",
        :oracle-text
        "Discard a card: Wild Mongrel gets +1/+1 and becomes the color of your choice until end of turn."}
 #:card{:type-line "Creature — Incarnation",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/9/f9052ad9-a8b3-4fa3-8cbe-223b306c8328.png?1674178291",
        :collector-number "2002",
        :layout "normal",
        :name "Genesis",
        :oracle-text
        "At the beginning of your upkeep, if Genesis is in your graveyard, you may pay {2}{G}. If you do, return target creature card from your graveyard to your hand."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/0/e0d88029-2569-461b-a57d-1af10673f4cf.png?1674178297",
        :collector-number "2003",
        :layout "normal",
        :name "Chrome Mox",
        :oracle-text
        "Imprint — When Chrome Mox enters the battlefield, you may exile a nonartifact, nonland card from your hand.\n{T}: Add one mana of any of the exiled card's colors."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/3/23684d0f-c3c6-4b84-a5be-d6ca1085dae0.png?1674178304",
        :collector-number "2004",
        :layout "normal",
        :name "Glimpse of Nature",
        :oracle-text
        "Whenever you cast a creature spell this turn, draw a card."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/c/6c542d42-e475-49d5-aeeb-be04d6e23646.png?1674178311",
        :collector-number "2005",
        :layout "normal",
        :name "Lightning Helix",
        :oracle-text
        "Lightning Helix deals 3 damage to any target and you gain 3 life."}
 #:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/b/dbcdc29b-f84e-4ad4-a123-de578847a085.png?1674178319",
        :collector-number "2006",
        :layout "normal",
        :name "Bogardan Hellkite",
        :oracle-text
        "Flash\nFlying\nWhen Bogardan Hellkite enters the battlefield, it deals 5 damage divided as you choose among any number of targets."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/f/bf4e917c-e5ab-435f-99ba-efc77862add4.png?1674178326",
        :collector-number "2007",
        :layout "normal",
        :name "Ponder",
        :oracle-text
        "Look at the top three cards of your library, then put them back in any order. You may shuffle.\nDraw a card."}
 #:card{:type-line "Creature — Elf Druid",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/2/b2a6bfbc-24e9-4309-8490-0f0dbe74aae6.png?1674178333",
        :collector-number "2008",
        :layout "normal",
        :name "Heritage Druid",
        :oracle-text
        "Tap three untapped Elves you control: Add {G}{G}{G}."}
 #:card{:type-line "Creature — Elf Berserker",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/5/35964154-94b0-4f3f-ae8f-b7f9e31118c8.png?1674178339",
        :collector-number "2009",
        :layout "normal",
        :name "Bloodbraid Elf",
        :oracle-text
        "Haste\nCascade (When you cast this spell, exile cards from the top of your library until you exile a nonland card that costs less. You may cast it without paying its mana cost. Put the exiled cards on the bottom of your library in a random order.)"}
 #:card{:type-line "Creature — Giant",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/f/cf7a1b53-09ed-4206-8de5-ead09883af2f.png?1674178346",
        :collector-number "2010",
        :layout "normal",
        :name "Sun Titan",
        :oracle-text
        "Vigilance\nWhenever Sun Titan enters the battlefield or attacks, you may return target permanent card with mana value 3 or less from your graveyard to the battlefield."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/6/36df0c13-b7cb-44d6-85e1-17f2967a0f55.png?1674178353",
        :collector-number "2011",
        :layout "normal",
        :name "Birthing Pod",
        :oracle-text
        "({G/P} can be paid with either {G} or 2 life.)\n{1}{G/P}, {T}, Sacrifice a creature: Search your library for a creature card with mana value equal to 1 plus the sacrificed creature's mana value, put that card onto the battlefield, then shuffle. Activate only as a sorcery."}
 #:card{:type-line "Creature — Elf Shaman",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/7/9793f0a1-ab76-46e2-add2-200c2a9693b4.png?1674178361",
        :collector-number "2012",
        :layout "normal",
        :name "Deathrite Shaman",
        :oracle-text
        "{T}: Exile target land card from a graveyard. Add one mana of any color.\n{B}, {T}: Exile target instant or sorcery card from a graveyard. Each opponent loses 2 life.\n{G}, {T}: Exile target creature card from a graveyard. You gain 2 life."}
 #:card{:type-line "Legendary Planeswalker — Elspeth",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/1/9125f141-ee2c-4b9f-b9c1-9b9a779002d2.png?1674178368",
        :collector-number "2013",
        :layout "normal",
        :name "Elspeth, Sun's Champion",
        :oracle-text
        "+1: Create three 1/1 white Soldier creature tokens.\n−3: Destroy all creatures with power 4 or greater.\n−7: You get an emblem with \"Creatures you control get +2/+2 and have flying.\""}
 #:card{:type-line "Creature — Rhino",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/0/305fd0ae-c89c-4935-a072-a85928f497e3.png?1674178377",
        :collector-number "2014",
        :layout "normal",
        :name "Siege Rhino",
        :oracle-text
        "Trample\nWhen Siege Rhino enters the battlefield, each opponent loses 3 life and you gain 3 life."}
 #:card{:type-line "Legendary Creature — Elder Dragon",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/1/019728bc-7d37-4384-81e5-97c47660c092.png?1674178384",
        :collector-number "2015",
        :layout "normal",
        :name "Dragonlord Ojutai",
        :oracle-text
        "Flying\nDragonlord Ojutai has hexproof as long as it's untapped.\nWhenever Dragonlord Ojutai deals combat damage to a player, look at the top three cards of your library. Put one of them into your hand and the rest on the bottom of your library in any order."}
 #:card{:type-line "Legendary Creature — Human Soldier",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/1/6150ba46-ab04-4906-8497-8c7441c52442.png?1674178391",
        :collector-number "2016",
        :layout "normal",
        :name "Thalia, Heretic Cathar",
        :oracle-text
        "First strike\nCreatures and nonbasic lands your opponents control enter the battlefield tapped."}
 #:card{:type-line "Legendary Planeswalker — Bolas",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/a/fa553e54-e6aa-499b-ac48-0cdbf6c37734.png?1674178398",
        :collector-number "2017",
        :layout "normal",
        :name "Nicol Bolas, God-Pharaoh",
        :oracle-text
        "+2: Target opponent exiles cards from the top of their library until they exile a nonland card. Until end of turn, you may cast that card without paying its mana cost.\n+1: Each opponent exiles two cards from their hand.\n−4: Nicol Bolas, God-Pharaoh deals 7 damage to target opponent, creature an opponent controls, or planeswalker an opponent controls.\n−12: Exile each nonland permanent your opponents control."}
 #:card{:type-line "Creature — Phoenix",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/7/2793c505-6736-4259-b9c6-6f9369fd476f.png?1674178404",
        :collector-number "2018",
        :layout "normal",
        :name "Arclight Phoenix",
        :oracle-text
        "Flying, haste\nAt the beginning of combat on your turn, if you've cast three or more instant and sorcery spells this turn, return Arclight Phoenix from your graveyard to the battlefield."}
 #:card{:type-line "Legendary Creature — Merfolk Wizard",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/4/24e85f3d-a2f5-43ac-937a-ebb754de2f8a.png?1674178410",
        :collector-number "2019",
        :layout "normal",
        :name "Emry, Lurker of the Loch",
        :oracle-text
        "This spell costs {1} less to cast for each artifact you control.\nWhen Emry, Lurker of the Loch enters the battlefield, mill four cards.\n{T}: Choose target artifact card in your graveyard. You may cast that card this turn. (You still pay its costs. Timing rules still apply.)"}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/9/89df04da-741b-4f98-8c49-f7f0bc13df31.png?1674178417",
        :collector-number "2020",
        :layout "normal",
        :name "Shark Typhoon",
        :oracle-text
        "Whenever you cast a noncreature spell, create an X/X blue Shark creature token with flying, where X is that spell's mana value.\nCycling {X}{1}{U} ({X}{1}{U}, Discard this card: Draw a card.)\nWhen you cycle Shark Typhoon, create an X/X blue Shark creature token with flying."}
 #:card{:type-line "Creature — Human Cleric",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/3/63fb443a-4023-4353-8060-c0db6b2c596b.png?1674178424",
        :collector-number "2021",
        :layout "normal",
        :name "Elite Spellbinder",
        :oracle-text
        "Flying\nWhen Elite Spellbinder enters the battlefield, look at target opponent's hand. You may exile a nonland card from it. For as long as that card remains exiled, its owner may play it. A spell cast this way costs {2} more to cast."}
 #:card{:type-line "Legendary Creature — Rat Ninja",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/e/aedf907b-7d8e-4c6d-b3da-2aae1b327ee1.png?1674178432",
        :collector-number "2022",
        :layout "normal",
        :name "Nashi, Moon Sage's Scion",
        :oracle-text
        "Ninjutsu {3}{B} ({3}{B}, Return an unblocked attacker you control to hand: Put this card onto the battlefield from your hand tapped and attacking.)\nWhenever Nashi, Moon Sage's Scion deals combat damage to a player, exile the top card of each player's library. Until end of turn, you may play one of those cards. If you cast a spell this way, pay life equal to its mana value rather than paying its mana cost."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "slc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/7/177685fa-77d8-4828-b438-e0e62f9147b9.png?1674178439",
        :collector-number "2023",
        :layout "normal",
        :name "Lotus Field",
        :oracle-text
        "Hexproof\nLotus Field enters the battlefield tapped.\nWhen Lotus Field enters the battlefield, sacrifice two lands.\n{T}: Add three mana of any one color."})
