(#:card{:type-line "Card",
        :layout-category :normal,
        :code "slci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/8/c8d3cc33-58dd-446d-b01e-a4d9e7f30d67.png?1699018059",
        :collector-number "1",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"})
