(#:card{:type-line "Instant",
        :layout-category :normal,
        :code "slp",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/c/8c09e891-247f-43f2-8d9d-2187631fb083.png?1671215019",
        :collector-number "1",
        :layout "normal",
        :name "Brainstorm",
        :oracle-text
        "Draw three cards, then put two cards from your hand on top of your library in any order."}
 #:card{:type-line "Legendary Creature — Monkey Pirate",
        :layout-category :normal,
        :code "slp",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/0/10cde602-f47c-4dac-bf1b-e300c82e5fd5.png?1671214946",
        :collector-number "2",
        :layout "normal",
        :name "Ragavan, Nimble Pilferer",
        :oracle-text
        "Whenever Ragavan, Nimble Pilferer deals combat damage to a player, create a Treasure token and exile the top card of that player's library. Until end of turn, you may cast that card.\nDash {1}{R} (You may cast this spell for its dash cost. If you do, it gains haste, and it's returned from the battlefield to its owner's hand at the beginning of the next end step.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "slp",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/0/6/06f7cc6d-c26c-466d-9659-90902f6b3559.png?1672968829",
        :collector-number "3",
        :layout "normal",
        :name "Fatal Push",
        :oracle-text
        "Destroy target creature if it has mana value 2 or less.\nRevolt — Destroy that creature if it has mana value 4 or less instead if a permanent you controlled left the battlefield this turn."})
