(#:card{:type-line "Land",
        :layout-category :normal,
        :code "slu",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/723a163e-97c1-4177-a067-873bebd9a87d.png?1640525467",
        :collector-number "1",
        :layout "normal",
        :name "Marsh Flats",
        :oracle-text
        "{T}, Pay 1 life, Sacrifice Marsh Flats: Search your library for a Plains or Swamp card, put it onto the battlefield, then shuffle."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "slu",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/f/9f10f026-eba0-4e33-b465-f3a852402718.png?1640525462",
        :collector-number "2",
        :layout "normal",
        :name "Scalding Tarn",
        :oracle-text
        "{T}, Pay 1 life, Sacrifice Scalding Tarn: Search your library for an Island or Mountain card, put it onto the battlefield, then shuffle."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "slu",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/397470c4-7f02-44ee-a18f-00bd950844d4.png?1640525461",
        :collector-number "3",
        :layout "normal",
        :name "Verdant Catacombs",
        :oracle-text
        "{T}, Pay 1 life, Sacrifice Verdant Catacombs: Search your library for a Swamp or Forest card, put it onto the battlefield, then shuffle."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "slu",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/1/81ad48fa-9464-40bf-8bf5-af31a6a38fb3.png?1640525460",
        :collector-number "4",
        :layout "normal",
        :name "Arid Mesa",
        :oracle-text
        "{T}, Pay 1 life, Sacrifice Arid Mesa: Search your library for a Mountain or Plains card, put it onto the battlefield, then shuffle."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "slu",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/e/8ed80db2-b30d-4306-8d9f-a43cd77d37e3.png?1640525457",
        :collector-number "5",
        :layout "normal",
        :name "Misty Rainforest",
        :oracle-text
        "{T}, Pay 1 life, Sacrifice Misty Rainforest: Search your library for a Forest or Island card, put it onto the battlefield, then shuffle."}
 #:card{:code "slu",
        :collector-number "11",
        :name "Barkchannel Pathway // Tidechannel Pathway",
        :layout "modal_dfc",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/79631e0a-b962-48f1-98fa-d871b2862866.png?1637196585",
          :type-line "Land",
          :oracle-text "{T}: Add {G}."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/7/9/79631e0a-b962-48f1-98fa-d871b2862866.png?1637196585",
          :type-line "Land",
          :oracle-text "{T}: Add {U}."}]}
 #:card{:code "slu",
        :collector-number "12",
        :name "Blightstep Pathway // Searstep Pathway",
        :layout "modal_dfc",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/022c7fe3-45bb-4efe-9b0c-2e4807d607b8.png?1637236544",
          :type-line "Land",
          :oracle-text "{T}: Add {B}."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/0/2/022c7fe3-45bb-4efe-9b0c-2e4807d607b8.png?1637236544",
          :type-line "Land",
          :oracle-text "{T}: Add {R}."}]}
 #:card{:code "slu",
        :collector-number "13",
        :name "Branchloft Pathway // Boulderloft Pathway",
        :layout "modal_dfc",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5dfa0e82-da04-418b-9c60-038f3c2c31a5.png?1632276531",
          :type-line "Land",
          :oracle-text "{T}: Add {G}."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/5/d/5dfa0e82-da04-418b-9c60-038f3c2c31a5.png?1632276531",
          :type-line "Land",
          :oracle-text "{T}: Add {W}."}]}
 #:card{:code "slu",
        :collector-number "14",
        :name "Brightclimb Pathway // Grimclimb Pathway",
        :layout "modal_dfc",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/1/d/1dce4e5a-08ab-4f52-bdfb-6d2dafbb055f.png?1637277123",
          :type-line "Land",
          :oracle-text "{T}: Add {W}."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/1/d/1dce4e5a-08ab-4f52-bdfb-6d2dafbb055f.png?1637277123",
          :type-line "Land",
          :oracle-text "{T}: Add {B}."}]}
 #:card{:code "slu",
        :collector-number "15",
        :name "Clearwater Pathway // Murkwater Pathway",
        :layout "modal_dfc",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/9/4/94598167-dec4-425a-86bc-5989e2c3ba7c.png?1637196643",
          :type-line "Land",
          :oracle-text "{T}: Add {U}."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/9/4/94598167-dec4-425a-86bc-5989e2c3ba7c.png?1637196643",
          :type-line "Land",
          :oracle-text "{T}: Add {B}."}]}
 #:card{:code "slu",
        :collector-number "16",
        :name "Cragcrown Pathway // Timbercrown Pathway",
        :layout "modal_dfc",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/5/e/5e5288f2-b27e-4009-b537-d19f61b34c4a.png?1637277809",
          :type-line "Land",
          :oracle-text "{T}: Add {R}."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/5/e/5e5288f2-b27e-4009-b537-d19f61b34c4a.png?1637277809",
          :type-line "Land",
          :oracle-text "{T}: Add {G}."}]}
 #:card{:code "slu",
        :collector-number "17",
        :name "Darkbore Pathway // Slitherbore Pathway",
        :layout "modal_dfc",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e3d06331-a819-40d8-a0b4-bbc97ba1f42c.png?1637275846",
          :type-line "Land",
          :oracle-text "{T}: Add {B}."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/e/3/e3d06331-a819-40d8-a0b4-bbc97ba1f42c.png?1637275846",
          :type-line "Land",
          :oracle-text "{T}: Add {G}."}]}
 #:card{:code "slu",
        :collector-number "18",
        :name "Hengegate Pathway // Mistgate Pathway",
        :layout "modal_dfc",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8b13ff20-1dad-4c6a-979b-4d2662af5e74.png?1637275742",
          :type-line "Land",
          :oracle-text "{T}: Add {W}."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/8/b/8b13ff20-1dad-4c6a-979b-4d2662af5e74.png?1637275742",
          :type-line "Land",
          :oracle-text "{T}: Add {U}."}]}
 #:card{:code "slu",
        :collector-number "19",
        :name "Needleverge Pathway // Pillarverge Pathway",
        :layout "modal_dfc",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/9102e1aa-7123-4c16-a810-d65b4505e147.png?1637197503",
          :type-line "Land",
          :oracle-text "{T}: Add {R}."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/9/1/9102e1aa-7123-4c16-a810-d65b4505e147.png?1637197503",
          :type-line "Land",
          :oracle-text "{T}: Add {W}."}]}
 #:card{:code "slu",
        :collector-number "20",
        :name "Riverglide Pathway // Lavaglide Pathway",
        :layout "modal_dfc",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/1/3/13595b5d-5b78-4d63-89ae-02837693ba46.png?1637198148",
          :type-line "Land",
          :oracle-text "{T}: Add {U}."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/1/3/13595b5d-5b78-4d63-89ae-02837693ba46.png?1637198148",
          :type-line "Land",
          :oracle-text "{T}: Add {R}."}]}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "slu",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/5/a5d05ff7-78d4-45d9-8fd7-ec0468528ac7.png?1632185784",
        :collector-number "504",
        :layout "normal",
        :name "Blast Zone",
        :oracle-text
        "Blast Zone enters the battlefield with a charge counter on it.\n{T}: Add {C}.\n{X}{X}, {T}: Put X charge counters on Blast Zone.\n{3}, {T}, Sacrifice Blast Zone: Destroy each nonland permanent with mana value equal to the number of charge counters on Blast Zone."})
