(#:card{:code "slx",
        :collector-number "1",
        :name "Arvinox, the Mind Flail",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c83542de-38ca-4aad-acba-189374be37e2.png?1649844343",
        :type-line "Legendary Enchantment Creature — Horror",
        :oracle-text
        "Arvinox, the Mind Flail isn't a creature unless you control three or more permanents you don't own.\nAt the beginning of your end step, exile the bottom card of each opponent's library face down. For as long as those cards remain exiled, you may look at them, you may cast permanent spells from among them, and you may spend mana as though it were mana of any color to cast those spells."}
 #:card{:code "slx",
        :collector-number "2",
        :name "Bjorna, Nightfall Alchemist",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/83b0b716-bcb0-4044-b64a-354e3cbbd563.png?1649844360",
        :type-line "Legendary Creature — Human",
        :oracle-text
        "{T}, Sacrifice an artifact: Bjorna, Nightfall Alchemist deals 1 damage to target creature. Goad that creature. (Until your next turn, that creature attacks each combat if able and attacks a player other than you if able.)\nFriends forever (You can have two commanders if both have friends forever.)"}
 #:card{:code "slx",
        :collector-number "3",
        :name "Cecily, Haunted Mage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a09ffd51-8ea4-40a6-b64e-58f3acfee533.png?1649844316",
        :type-line "Legendary Creature — Human Wizard",
        :oracle-text
        "Your maximum hand size is eleven.\nWhenever Cecily, Haunted Mage attacks, you draw a card and you lose 1 life. Then if you have eleven or more cards in your hand, you may cast an instant or sorcery spell from your hand without paying its mana cost.\nFriends forever (You can have two commanders if both have friends forever.)"}
 #:card{:code "slx",
        :collector-number "4",
        :name "Elmar, Ulvenwald Informant",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/95d197b3-fc56-43a2-981f-b5b905222b5c.png?1649844373",
        :type-line "Legendary Creature — Human",
        :oracle-text
        "Haste\nWhenever you cast your second spell each turn, untap target creature, then investigate. (Create a colorless Clue artifact token with \"{2}, Sacrifice this artifact: Draw a card.\")\nFriends forever (You can have two commanders if both have friends forever.)"}
 #:card{:code "slx",
        :collector-number "5",
        :name "Hargilde, Kindly Runechanter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/59e1fa94-056a-4570-97b3-17e964077965.png?1649844387",
        :type-line "Legendary Creature — Human",
        :oracle-text
        "{T}: Add {C}{C}. Spend this mana only to cast artifact spells or activate abilities of artifacts.\nFriends forever (You can have two commanders if both have friends forever.)"}
 #:card{:code "slx",
        :collector-number "6",
        :name "Othelm, Sigardian Outcast",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b867fb22-4f2a-47aa-9432-1bcc5e731947.png?1649844405",
        :type-line "Legendary Creature — Human",
        :oracle-text
        "{2}, {T}: Choose target creature card in your graveyard that was put there from the battlefield this turn. Return it to the battlefield tapped.\nFriends forever (You can have two commanders if both have friends forever.)"}
 #:card{:code "slx",
        :collector-number "7",
        :name "Sophina, Spearsage Deserter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e0a64924-068e-483f-91a6-d450b67b3c75.png?1649844459",
        :type-line "Legendary Creature — Human Soldier",
        :oracle-text
        "Menace\nWhenever Sophina, Spearsage Deserter attacks, investigate once for each nontoken attacking creature.\nFriends forever (You can have two commanders if both have friends forever.)"}
 #:card{:code "slx",
        :collector-number "8",
        :name "Wernog, Rider's Chaplain",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/39491011-bdf6-4e61-8534-fe26c1571f8f.png?1649844471",
        :type-line "Legendary Creature — Human",
        :oracle-text
        "When Wernog, Rider's Chaplain enters or leaves the battlefield, each opponent may investigate. Each opponent who doesn't loses 1 life. You investigate X times, where X is one plus the number of opponents who investigated this way.\nFriends forever (You can have two commanders if both have friends forever.)"}
 #:card{:code "slx",
        :collector-number "9",
        :name "Havengul Laboratory // Havengul Mystery",
        :layout "transform",
        :highres? true,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/8/2/823b019e-10c0-4712-8167-d4f37a71e782.png?1649844484",
          :type-line "Legendary Land",
          :oracle-text
          "{T}: Add {C}.\n{4}, {T}: Investigate.\nAt the beginning of your end step, if you sacrificed three or more Clues this turn, transform Havengul Laboratory."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/8/2/823b019e-10c0-4712-8167-d4f37a71e782.png?1649844484",
          :type-line "Legendary Land",
          :oracle-text
          "When this land transforms into Havengul Mystery, return target creature card from your graveyard to the battlefield.\nWhen the creature put onto the battlefield with Havengul Mystery leaves the battlefield, transform Havengul Mystery.\n{T}, Pay 1 life: Add {B}."}]})
