(#:card{:type-line "Card",
        :layout-category :normal,
        :code "smid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/507e152c-50b6-4cd7-b979-a9558219c28b.png?1644972957",
        :collector-number "1",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "smid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8a38406b-a658-41c0-bcb2-7b680c0f76c8.png?1644973000",
        :collector-number "2",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "smid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a44065d-0f0b-4fef-b8a1-364555bc6899.png?1644973026",
        :collector-number "3",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "smid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e21e59f8-69df-43c8-b1d1-35d68ed348f7.png?1644973050",
        :collector-number "4",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "smid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6b83c02-d7d2-46e1-9ac1-e70839dce073.png?1644973075",
        :collector-number "5",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "smid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/7269c6b8-e06d-47b9-b34c-035359f4d996.png?1644973100",
        :collector-number "6",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "smid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/a/9ad9a3a4-704a-462f-bc25-577973370641.png?1644973122",
        :collector-number "7",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "smid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cbc911bd-e319-4fbc-8a82-e50d3efc8fd2.png?1644973144",
        :collector-number "8",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "smid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/cae3c890-051a-4753-b432-4d917feefdbb.png?1644973167",
        :collector-number "9",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"})
