(#:card{:type-line "Card",
        :layout-category :normal,
        :code "smom",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/4/84bb6cda-2dd0-4ad7-82ef-8461588d83aa.png?1683555539",
        :collector-number "1",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"})
