(#:card{:type-line "Card",
        :layout-category :normal,
        :code "sneo",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/3/23f77d89-4312-4b22-b1ed-5d2aff4ffa44.png?1664662353",
        :collector-number "1",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "sneo",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/e/4e01cd79-5cd0-4044-b68e-281cdeb27ca4.png?1664662409",
        :collector-number "2",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "sneo",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/c/dcb72592-a3d1-49a5-8780-4007f47d7658.png?1664662427",
        :collector-number "3",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "sneo",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/5/a55b3785-5442-401c-9bf3-95df99e15d64.png?1664662436",
        :collector-number "4",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "sneo",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/2/72206778-01e5-4d92-a06f-27dacabd5781.png?1664662475",
        :collector-number "5",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "sneo",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/2/a201bd61-14fb-462a-aea7-64c4f35889a6.png?1664662466",
        :collector-number "6",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "sneo",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/9/3923dd23-a8de-4718-9f1a-8c1d3a99131e.png?1664662509",
        :collector-number "7",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "sneo",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/e/cec65598-2db9-4839-b731-13dd2380334e.png?1664662528",
        :collector-number "8",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "sneo",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/7/4770a0ce-5d5f-405b-81a2-91fb1561d0a6.png?1664662537",
        :collector-number "9",
        :layout "normal",
        :name "Double-Faced Substitute Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"})
