(#:card{:type-line "Creature — Merfolk",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/d/3d5073a2-4839-4f33-bda4-6f0a98d3739b.png?1698988670",
        :collector-number "1",
        :layout "normal",
        :name "Lord of Atlantis",
        :oracle-text
        "Other Merfolk get +1/+1 and have islandwalk. (They can't be blocked as long as defending player controls an Island.)"}
 #:card{:type-line "Legendary Creature — Siren Pirate",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/f/cfcb3051-161f-42f8-bfec-db03b349ff00.png?1698988674",
        :collector-number "2",
        :layout "normal",
        :name "Malcolm, Keen-Eyed Navigator",
        :oracle-text
        "Flying\nWhenever one or more Pirates you control deal damage to your opponents, you create a Treasure token for each opponent dealt damage. (It's an artifact with \"{T}, Sacrifice this artifact: Add one mana of any color.\")\nPartner (You can have two commanders if both have partner.)"}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/f/5feaed81-008e-4ec1-852d-907c0897dff6.png?1698988676",
        :collector-number "3",
        :layout "normal",
        :name "Bridge from Below",
        :oracle-text
        "Whenever a nontoken creature is put into your graveyard from the battlefield, if Bridge from Below is in your graveyard, create a 2/2 black Zombie creature token.\nWhen a creature is put into an opponent's graveyard from the battlefield, if Bridge from Below is in your graveyard, exile Bridge from Below."}
 #:card{:type-line "Creature — Vampire",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/3/23206788-1d7f-430b-9c0a-35bfff824176.png?1698988678",
        :collector-number "4",
        :layout "normal",
        :name "Mephidross Vampire",
        :oracle-text
        "Flying\nEach creature you control is a Vampire in addition to its other creature types and has \"Whenever this creature deals damage to a creature, put a +1/+1 counter on this creature.\""}
 #:card{:type-line "Creature — Human Pirate",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/8/e8da4daa-1441-4d15-b9dc-7732343b38f1.png?1699022179",
        :collector-number "5",
        :layout "normal",
        :name "Pitiless Plunderer",
        :oracle-text
        "Whenever another creature you control dies, create a Treasure token. (It's an artifact with \"{T}, Sacrifice this artifact: Add one mana of any color.\")"}
 #:card{:type-line "Legendary Creature — Goblin Pirate",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/e/9e4fefce-bb3c-4eca-a182-a9d62f21d249.png?1698988683",
        :collector-number "6",
        :layout "normal",
        :name "Breeches, Brazen Plunderer",
        :oracle-text
        "Menace\nWhenever one or more Pirates you control deal damage to your opponents, exile the top card of each of those opponents' libraries. You may play those cards this turn, and you may spend mana as though it were mana of any color to cast those spells.\nPartner (You can have two commanders if both have partner.)"}
 #:card{:type-line "Legendary Creature — Giant Pirate",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/4/a4e9002d-782c-460e-8f0c-4763fffc9e3e.png?1698988685",
        :collector-number "7",
        :layout "normal",
        :name "Dargo, the Shipwrecker",
        :oracle-text
        "As an additional cost to cast this spell, you may sacrifice any number of artifacts and/or creatures. This spell costs {2} less to cast for each permanent sacrificed this way and {2} less to cast for each other artifact or creature you've sacrificed this turn.\nTrample\nPartner (You can have two commanders if both have partner.)"}
 #:card{:type-line "Creature — Dinosaur",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/8/3850d00e-cef7-494e-89cd-b5d2d8367fcc.png?1698988690",
        :collector-number "8",
        :layout "normal",
        :name "Rampaging Ferocidon",
        :oracle-text
        "Menace\nPlayers can't gain life.\nWhenever another creature enters the battlefield, Rampaging Ferocidon deals 1 damage to that creature's controller."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/f/2f2374a2-21d6-4643-8602-684342d0dbfc.png?1698988690",
        :collector-number "9",
        :layout "normal",
        :name "Underworld Breach",
        :oracle-text
        "Each nonland card in your graveyard has escape. The escape cost is equal to the card's mana cost plus exile three other cards from your graveyard. (You may cast cards from your graveyard for their escape cost.)\nAt the beginning of the end step, sacrifice Underworld Breach."}
 #:card{:type-line "Creature — Dinosaur",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/5/f5f20dd5-ff5f-4530-9a69-d6a3eab467f7.png?1698988693",
        :collector-number "10",
        :layout "normal",
        :name "Carnage Tyrant",
        :oracle-text
        "This spell can't be countered.\nTrample, hexproof"}
 #:card{:type-line "Legendary Creature — Elder Dinosaur",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/1/f16c4abb-917a-4bd5-b0bc-b700611cd5b9.png?1698988697",
        :collector-number "11",
        :layout "normal",
        :name "Ghalta, Primal Hunger",
        :oracle-text
        "This spell costs {X} less to cast, where X is the total power of creatures you control.\nTrample"}
 #:card{:type-line "Creature — Dinosaur",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/c/8cb105d6-6bc1-4b8b-8797-8acc6af41be9.png?1698988698",
        :collector-number "12",
        :layout "normal",
        :name "Polyraptor",
        :oracle-text
        "Enrage — Whenever Polyraptor is dealt damage, create a token that's a copy of Polyraptor."}
 #:card{:type-line "Legendary Creature — Elemental Dinosaur",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/c/7ce0935c-03f7-4f8d-9141-ef612438414f.png?1698988702",
        :collector-number "13",
        :layout "normal",
        :name "Kalamax, the Stormsire",
        :oracle-text
        "Whenever you cast your first instant spell each turn, if Kalamax, the Stormsire is tapped, copy that spell. You may choose new targets for the copy.\nWhenever you copy an instant spell, put a +1/+1 counter on Kalamax."}
 #:card{:type-line "Legendary Planeswalker — Windgrace",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/1/a135d779-d223-4274-8d7f-d7b12842d93b.png?1698988704",
        :collector-number "14",
        :layout "normal",
        :name "Lord Windgrace",
        :oracle-text
        "+2: Discard a card, then draw a card. If a land card is discarded this way, draw an additional card.\n−3: Return up to two target land cards from your graveyard to the battlefield.\n−11: Destroy up to six target nonland permanents, then create six 2/2 green Cat Warrior creature tokens with forestwalk.\nLord Windgrace can be your commander."}
 #:card{:type-line "Legendary Creature — Cat Warrior",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/5/95890c4e-c661-4aae-8463-d1377d9cbcaf.png?1699114777",
        :collector-number "15",
        :layout "normal",
        :name "Mirri, Weatherlight Duelist",
        :oracle-text
        "First strike\nWhenever Mirri, Weatherlight Duelist attacks, each opponent can't block with more than one creature this combat.\nAs long as Mirri, Weatherlight Duelist is tapped, no more than one creature can attack you each combat."}
 #:card{:type-line "Legendary Creature — Merfolk Wizard",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/8/78b14ae1-fc8b-43df-b6a2-e9f8edc0b8dd.png?1698988709",
        :collector-number "16",
        :layout "normal",
        :name "Thrasios, Triton Hero",
        :oracle-text
        "{4}: Scry 1, then reveal the top card of your library. If it's a land card, put it onto the battlefield tapped. Otherwise, draw a card.\nPartner (You can have two commanders if both have partner.)"}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/c/ecb293d5-b13b-400f-ac7b-162a1e127ec7.png?1698988713",
        :collector-number "17",
        :layout "normal",
        :name "Mana Crypt",
        :oracle-text
        "At the beginning of your upkeep, flip a coin. If you lose the flip, Mana Crypt deals 3 damage to you.\n{T}: Add {C}{C}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/3/b3ce1be9-8ee7-4956-a895-ca22759ccf65.png?1698988714",
        :collector-number "17a",
        :layout "normal",
        :name "Mana Crypt",
        :oracle-text
        "At the beginning of your upkeep, flip a coin. If you lose the flip, Mana Crypt deals 3 damage to you.\n{T}: Add {C}{C}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/a/8ae08978-3281-4ed3-8bca-2d3f091834ad.png?1698988717",
        :collector-number "17b",
        :layout "normal",
        :name "Mana Crypt",
        :oracle-text
        "At the beginning of your upkeep, flip a coin. If you lose the flip, Mana Crypt deals 3 damage to you.\n{T}: Add {C}{C}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/6/36f0f28e-1185-4a4d-ada1-c3742ff93c24.png?1698988720",
        :collector-number "17c",
        :layout "normal",
        :name "Mana Crypt",
        :oracle-text
        "At the beginning of your upkeep, flip a coin. If you lose the flip, Mana Crypt deals 3 damage to you.\n{T}: Add {C}{C}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/2/126f2ea6-56a4-44d1-a9ac-e700392622f9.png?1698988721",
        :collector-number "17d",
        :layout "normal",
        :name "Mana Crypt",
        :oracle-text
        "At the beginning of your upkeep, flip a coin. If you lose the flip, Mana Crypt deals 3 damage to you.\n{T}: Add {C}{C}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/3/83457482-c031-4927-b7a3-6fd8bd5aeeee.png?1698988724",
        :collector-number "17e",
        :layout "normal",
        :name "Mana Crypt",
        :oracle-text
        "At the beginning of your upkeep, flip a coin. If you lose the flip, Mana Crypt deals 3 damage to you.\n{T}: Add {C}{C}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/a/babd0a51-97f5-43d6-98db-e668ece3f16c.png?1698988726",
        :collector-number "17f",
        :layout "normal",
        :name "Mana Crypt",
        :oracle-text
        "At the beginning of your upkeep, flip a coin. If you lose the flip, Mana Crypt deals 3 damage to you.\n{T}: Add {C}{C}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "spg",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/4/44a1104b-ceec-4d5e-9945-946fe2bff7cc.png?1698988729",
        :collector-number "18",
        :layout "normal",
        :name "Star Compass",
        :oracle-text
        "Star Compass enters the battlefield tapped.\n{T}: Add one mana of any color that a basic land you control could produce."})
