(#:card{:type-line "Legendary Planeswalker — Jace",
        :layout-category :normal,
        :code "ss1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/de8a1c0e-23fc-4d27-925f-cc560548ccba.png?1561758232",
        :collector-number "1",
        :layout "normal",
        :name "Jace Beleren",
        :oracle-text
        "+2: Each player draws a card.\n−1: Target player draws a card.\n−10: Target player mills twenty cards."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ss1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/5/6582b980-3e4b-422a-9a6c-1927ae966d7e.png?1561757308",
        :collector-number "2",
        :layout "normal",
        :name "Blue Elemental Blast",
        :oracle-text
        "Choose one —\n• Counter target red spell.\n• Destroy target red permanent."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ss1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3cd19bdf-64f1-4c59-920b-1165f3551928.png?1561756957",
        :collector-number "3",
        :layout "normal",
        :name "Brainstorm",
        :oracle-text
        "Draw three cards, then put two cards from your hand on top of your library in any order."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ss1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/16b0b5e6-ac30-417b-938a-31cda2f697f8.png?1561756718",
        :collector-number "4",
        :layout "normal",
        :name "Counterspell",
        :oracle-text "Counter target spell."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ss1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/024f73a3-4a01-4cfc-957a-8023ba642f21.png?1561756576",
        :collector-number "5",
        :layout "normal",
        :name "Gifts Ungiven",
        :oracle-text
        "Search your library for up to four cards with different names and reveal them. Target opponent chooses two of those cards. Put the chosen cards into your graveyard and the rest into your hand. Then shuffle."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ss1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7dd7dd7c-872d-44b6-8ce6-0b05c6f98e69.png?1561757462",
        :collector-number "6",
        :layout "normal",
        :name "Mystical Tutor",
        :oracle-text
        "Search your library for an instant or sorcery card, reveal it, then shuffle and put that card on top."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ss1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/9850fbe9-68d2-4952-b48d-4737cef34f4a.png?1561757632",
        :collector-number "7",
        :layout "normal",
        :name "Negate",
        :oracle-text "Counter target noncreature spell."}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "ss1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e207a353-bf66-41c3-ab52-b858e57776f0.png?1561758288",
        :collector-number "8",
        :layout "normal",
        :name "Threads of Disloyalty",
        :oracle-text
        "Enchant creature with mana value 2 or less\nYou control enchanted creature."})
