(#:card{:type-line "Legendary Planeswalker — Chandra",
        :layout-category :normal,
        :code "ss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c7bbb911-9de2-455d-9677-e1004db65dbd.png?1593559500",
        :collector-number "1",
        :layout "normal",
        :name "Chandra, Torch of Defiance",
        :oracle-text
        "+1: Exile the top card of your library. You may cast that card. If you don't, Chandra, Torch of Defiance deals 2 damage to each opponent.\n+1: Add {R}{R}.\n−3: Chandra, Torch of Defiance deals 4 damage to target creature.\n−7: You get an emblem with \"Whenever you cast a spell, this emblem deals 5 damage to any target.\""}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/c/8c1a02f9-3ce7-46e9-8d0e-0d491bb13012.png?1593559582",
        :collector-number "2",
        :layout "normal",
        :name "Cathartic Reunion",
        :oracle-text
        "As an additional cost to cast this spell, discard two cards.\nDraw three cards."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4c454a20-8ec8-41d9-b9c3-acaa510d050b.png?1593559583",
        :collector-number "3",
        :layout "normal",
        :name "Fiery Confluence",
        :oracle-text
        "Choose three. You may choose the same mode more than once.\n• Fiery Confluence deals 1 damage to each creature.\n• Fiery Confluence deals 2 damage to each opponent.\n• Destroy target artifact."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/1/d1bf32c4-4f0d-4c50-b6e5-2e6a4456bd1d.png?1593559504",
        :collector-number "4",
        :layout "normal",
        :name "Past in Flames",
        :oracle-text
        "Each instant and sorcery card in your graveyard gains flashback until end of turn. The flashback cost is equal to its mana cost.\nFlashback {4}{R} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/3/93c460dc-cef2-4345-b9b8-a774307ba2d6.png?1593559584",
        :collector-number "5",
        :layout "normal",
        :name "Pyroblast",
        :oracle-text
        "Choose one —\n• Counter target spell if it's blue.\n• Destroy target permanent if it's blue."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "ss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/aeffd6f6-0fee-4afc-9256-04099d9d41aa.png?1593559507",
        :collector-number "6",
        :layout "normal",
        :name "Pyromancer Ascension",
        :oracle-text
        "Whenever you cast an instant or sorcery spell that has the same name as a card in your graveyard, you may put a quest counter on Pyromancer Ascension.\nWhenever you cast an instant or sorcery spell while Pyromancer Ascension has two or more quest counters on it, you may copy that spell. You may choose new targets for the copy."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/10548126-2bac-435d-b7ee-cbfea97a40ea.png?1594480714",
        :collector-number "7",
        :layout "normal",
        :name "Rite of Flame",
        :oracle-text
        "Add {R}{R}, then add {R} for each card named Rite of Flame in each graveyard."}
 #:card{:type-line "Creature — Human Shaman",
        :layout-category :normal,
        :code "ss3",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/d/2dd80b9f-5c35-438b-ba52-da0e3e8ff781.png?1593559510",
        :collector-number "8",
        :layout "normal",
        :name "Young Pyromancer",
        :oracle-text
        "Whenever you cast an instant or sorcery spell, create a 1/1 red Elemental creature token."})
