(#:card{:code "sstx",
        :collector-number "1",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/061c8006-3941-4eab-8ed9-577adee8f317.png?1645322548",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sstx",
        :collector-number "2",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/79007612-423a-4303-8c5e-3544cda39bc6.png?1645322574",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sstx",
        :collector-number "3",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c839f6d6-e7c8-4ad7-8e03-c12fd35339c2.png?1645322591",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sstx",
        :collector-number "4",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/46e36134-52b0-4002-ae6f-cff998e60bd4.png?1645322617",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sstx",
        :collector-number "5",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4b51adb9-a0cf-43a6-93a7-c2e0be1fceb6.png?1645322639",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sstx",
        :collector-number "6",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bb81a236-460c-4f49-a202-edcb7eab8d15.png?1645322660",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sstx",
        :collector-number "7",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a4a26a66-5948-4092-b5ef-1fe578415093.png?1645322680",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sstx",
        :collector-number "8",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/2/c2dfee13-6ee0-40f9-9869-8ce1609f839a.png?1645322701",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sstx",
        :collector-number "9",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8a62b4ad-033f-4f89-8343-0b7e1eaa680d.png?1645322731",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"})
