(#:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/8/b8f1abc7-1a86-4e43-8105-10c1c55e65ba.png?1675456946",
        :collector-number "1",
        :layout "normal",
        :name "Eldrazi Guacamole Tightrope",
        :oracle-text
        "{TK}{TK} — Haste\n{TK}{TK}{TK}{TK}{TK} — You may cast this card from your graveyard by paying 2 life in addition to paying its other costs.\n{TK}{TK} — 1/4\n{TK}{TK}{TK} — 5/3"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/6/96cc18d9-edf1-4cb5-bb0d-a33d380c7d94.png?1675456956",
        :collector-number "2",
        :layout "normal",
        :name "Trendy Circus Pirate",
        :oracle-text
        "{TK}{TK} — Deathtouch\n{TK}{TK}{TK}{TK}{TK} — Whenever this creature deals combat damage to a player, create that many 1/1 green Squirrel creature tokens.\n{TK}{TK} — 5/1\n{TK}{TK}{TK} — 3/6"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/3/436e388d-7d48-41b8-8dcc-21ff3755feff.png?1675456965",
        :collector-number "3",
        :layout "normal",
        :name "Night Brushwagg Ringmaster",
        :oracle-text
        "{TK}{TK} — Menace\n{TK}{TK}{TK} — Persist (When this permanent dies, if it had no -1/-1 counters on it, return it to the battlefield under its owner's control with a -1/-1 counter on it.)\n{TK}{TK} — 2/3\n{TK}{TK}{TK}{TK}{TK}{TK} — 10/10"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/2/f20010bf-3745-422a-8811-c3f6be9a8805.png?1675456974",
        :collector-number "4",
        :layout "normal",
        :name "Urza's Dark Cannonball",
        :oracle-text
        "{TK}{TK} — Exalted, exalted (Whenever a creature you control attacks alone, it gets +1/+1 until end of turn for each instance of exalted among permanents you control.)\n{TK}{TK}{TK} — Shadow (This creature can block or be blocked only by creatures with shadow.)\n{TK}{TK} — 1/5\n{TK}{TK}{TK}{TK} — 7/4"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/6/e6952074-d6c2-4fbe-88ca-6d42f83c7ee7.png?1675456983",
        :collector-number "5",
        :layout "normal",
        :name "Misunderstood Trapeze Elf",
        :oracle-text
        "{TK}{TK} — Whenever you cast a spell, this creature gets +X/+X until end of turn, where X is the amount of generic mana in that spell's mana cost.\n{TK}{TK}{TK} — Hexproof\n{TK}{TK} — 4/2\n{TK}{TK}{TK}{TK} — 6/6"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/e/2eb50148-bfb1-4e79-a6a8-d0ce49763d00.png?1675456991",
        :collector-number "6",
        :layout "normal",
        :name "Zombie Cheese Magician",
        :oracle-text
        "{TK}{TK} — First strike\n{TK}{TK}{TK}{TK} — Whenever this creature deals combat damage to a player, draw that many cards.\n{TK}{TK} — 3/3\n{TK}{TK}{TK} — 6/2"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/1/016bf660-16c3-41b7-a988-211921c21eb8.png?1675457000",
        :collector-number "7",
        :layout "normal",
        :name "Carnival Elephant Meteor",
        :oracle-text
        "{TK}{TK} — Sacrifice this permanent: Draw two cards.\n{TK}{TK}{TK} — Whenever this creature attacks, proliferate. (Choose any number of permanents and/or players, then give each another counter of each kind already there.)\n{TK}{TK} — 4/1\n{TK}{TK}{TK}{TK}{TK} — 8/7"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/0/20a67ee2-0137-458d-b381-430a2494357f.png?1675457009",
        :collector-number "8",
        :layout "normal",
        :name "Happy Dead Squirrel",
        :oracle-text
        "{TK}{TK} — {T}: Add {C}{C}. Spend this mana only to cast noncreature spells.\n{TK}{TK}{TK} — Infect (This permanent deals damage to creatures in the form of -1/-1 counters and to players in the form of poison counters.)\n{TK}{TK} — 3/2\n{TK}{TK}{TK}{TK} — 4/7"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/a/aabb17b4-34b5-4920-b290-0c750f868448.png?1675457018",
        :collector-number "9",
        :layout "normal",
        :name "Slimy Burrito Illusion",
        :oracle-text
        "{TK}{TK} — Bushido 2 (Whenever this creature blocks or becomes blocked, it gets +2/+2 until end of turn.)\n{TK}{TK}{TK} — Double strike\n{TK}{TK} — 2/4\n{TK}{TK}{TK}{TK} — 5/6"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/c/ecae5a63-8494-4454-889c-2a69b98254f2.png?1675457027",
        :collector-number "10",
        :layout "normal",
        :name "Spooky Clown Mox",
        :oracle-text
        "{TK}{TK} — Vigilance\n{TK}{TK}{TK}{TK} — {1}, {T}: Tap target creature.\n{TK}{TK} — 1/5\n{TK}{TK}{TK} — 5/4"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/9/6995d646-cadc-48bb-911c-9f2e461a9fdf.png?1675457035",
        :collector-number "11",
        :layout "normal",
        :name "Mystic Doom Sandwich",
        :oracle-text
        "{TK}{TK} — Lifelink\n{TK}{TK}{TK} — This creature must be blocked if able. Whenever this creature becomes blocked, it gets +1/+1 until end of turn for each creature blocking it.\n{TK}{TK} — 1/4\n{TK}{TK}{TK}{TK}{TK} — 6/8"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/b/1b516ae7-2891-40e9-80a1-48ec62171275.png?1675457043",
        :collector-number "12",
        :layout "normal",
        :name "Narrow-Minded Baloney Fireworks",
        :oracle-text
        "{TK}{TK} — Whenever this creature attacks, you gain 2 life.\n{TK}{TK}{TK} — Vigilance, reach\n{TK}{TK} — 2/4\n{TK}{TK}{TK}{TK}{TK} — 7/7"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/b/3bf70946-5a50-4918-bb61-23be7c2cc75a.png?1675457053",
        :collector-number "13",
        :layout "normal",
        :name "Unsanctioned Ancient Juggler",
        :oracle-text
        "{TK}{TK} — Whenever this creature attacks, bolster 1. (Choose a creature with the least toughness among creatures you control and put a +1/+1 counter on it.)\n{TK}{TK}{TK}{TK} — Indestructible\n{TK}{TK} — 3/2\n{TK}{TK}{TK} — 5/4"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/0/907157c3-f562-403c-94cb-9171deadaee4.png?1675457061",
        :collector-number "14",
        :layout "normal",
        :name "Deep-Fried Plague Myr",
        :oracle-text
        "{TK}{TK} — Whenever this creature attacks, scry 1.\n{TK}{TK}{TK} — Whenever this permanent leaves the battlefield, you may destroy target artifact or enchantment.\n{TK}{TK}{TK} — 4/5\n{TK}{TK}{TK}{TK} — 8/4"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/a/ca442395-159a-40aa-a1e4-ed6bf0ffbedd.png?1675457069",
        :collector-number "15",
        :layout "normal",
        :name "Contortionist Otter Storm",
        :oracle-text
        "{TK}{TK} — {T}: Target creature gains haste until end of turn.\n{TK}{TK}{TK}{TK} — Deathtouch, lifelink\n{TK}{TK} — 5/1\n{TK}{TK}{TK} — 3/5"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/a/ca27624e-bddf-4719-9d7e-579de18e1084.png?1675457077",
        :collector-number "16",
        :layout "normal",
        :name "Sticky Kavu Daredevil",
        :oracle-text
        "{TK}{TK} — Whenever this permanent dies, you may return target creature to its owner's hand.\n{TK}{TK}{TK}{TK} — Whenever this creature attacks, creatures you control get +1/+1 until end of turn.\n{TK}{TK} — 3/3\n{TK}{TK}{TK} — 2/6"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/a/ca8a24e8-5305-46cf-8c5a-b5324c59bb97.png?1675457084",
        :collector-number "17",
        :layout "normal",
        :name "Goblin Coward Parade",
        :oracle-text
        "{TK}{TK} — Mentor (Whenever this creature attacks, put a +1/+1 counter on target attacking creature with lesser power.)\n{TK}{TK}{TK} — When this permanent leaves the battlefield, you may destroy target creature with power 4 or greater.\n{TK}{TK} — 2/3\n{TK}{TK}{TK}{TK} — 8/4"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/d/5daeb14a-dcc5-4761-84a4-a60d22a6c944.png?1675457092",
        :collector-number "18",
        :layout "normal",
        :name "Phyrexian Midway Bamboozle",
        :oracle-text
        "{TK}{TK} — Whenever this creature attacks, you get {TK}.\n{TK}{TK}{TK} — Undying (When this creature dies, if it had no +1/+1 counters on it, return it to the battlefield under its owner's control with a +1/+1 counter on it.)\n{TK}{TK} — 4/2\n{TK}{TK}{TK}{TK}{TK} — 6/9"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/8/780b4d5d-d3a0-4aad-abe7-3073339a8fcd.png?1675457100",
        :collector-number "19",
        :layout "normal",
        :name "Eternal Acrobat Toast",
        :oracle-text
        "{TK}{TK} — Whenever this creature deals combat damage to a player, exile target creature you control, then return it to the battlefield under it owner's control.\n{TK}{TK}{TK} — {T}: Untap another target permanent.\n{TK}{TK}{TK} — 4/4\n{TK}{TK}{TK}{TK}{TK} — 7/8"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/b/1b09757f-22bb-4ae0-874f-67959b537da0.png?1675457110",
        :collector-number "20",
        :layout "normal",
        :name "Jetpack Death Seltzer",
        :oracle-text
        "{TK}{TK} — Trample\n{TK}{TK}{TK} — {3}: Monstrosity 3. (If this creature isn't monstrous, put three +1/+1 counters on it and it becomes monstrous.)\n{TK}{TK}{TK} — 2/7\n{TK}{TK}{TK}{TK} — 6/5"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/c/7c7241ef-ccde-4c2f-807b-45b9e644870f.png?1675457119",
        :collector-number "21",
        :layout "normal",
        :name "Demonic Tourist Laser",
        :oracle-text
        "{TK}{TK} — Outlast {1} ({1}, {T}: Put a +1/+1 counter on this creature. Outlast only as a sorcery.)\n{TK}{TK}{TK} — When this permanent dies, you get seven {TK}.\n{TK}{TK} — 1/4\n{TK}{TK}{TK}{TK}{TK} — 9/6"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/5/6534ab2b-ed2e-4c51-914d-920dc2307f43.png?1675457196",
        :collector-number "22",
        :layout "normal",
        :name "Cursed Firebreathing Yogurt",
        :oracle-text
        "{TK}{TK} — Prowess, prowess (Whenever you cast a noncreature spell, this creature gets +1/+1 until end of turn twice.)\n{TK}{TK}{TK}{TK}{TK} — {2}, {T}: This permanent deals 2 damage to any target.\n{TK}{TK} — 4/2\n{TK}{TK}{TK}{TK} — 4/8"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/4/34c3979d-60e7-44b5-bb9f-1b6b0f2b70c3.png?1675457204",
        :collector-number "23",
        :layout "normal",
        :name "Ancestral Hot Dog Minotaur",
        :oracle-text
        "{TK}{TK} — Afflict 2 (Whenever this creature becomes blocked, defending player loses 2 life.)\n{TK}{TK}{TK} — Flying\n{TK}{TK} — 1/4\n{TK}{TK}{TK}{TK}{TK} — 8/6"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/a/ba3ff3dc-08d6-4ee1-9dcd-38bc95c8b227.png?1675457212",
        :collector-number "24",
        :layout "normal",
        :name "Familiar Beeble Mascot",
        :oracle-text
        "{TK}{TK} — Whenever this creature attacks, untap target permanent.\n{TK}{TK}{TK}{TK} — Whenever a creature enters the battlefield under your control, creatures you control get +1/+1 until end of turn.\n{TK}{TK} — 2/3\n{TK}{TK}{TK} — 5/3"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/f/4fac4b12-4cb6-438e-acd5-f4598f922b65.png?1675457221",
        :collector-number "25",
        :layout "normal",
        :name "Giant Mana Cake",
        :oracle-text
        "{TK}{TK} — When this permanent leaves the battlefield, create two Food tokens. (They're artifacts with \"{2}, {T}, Sacrifice this artifact: You gain 3 life.\")\n{TK}{TK}{TK}{TK} — When this permanent dies, destroy target nonland permanent.\n{TK}{TK} — 3/3\n{TK}{TK}{TK} — 6/2"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/e/8e3a1933-9efb-45dc-997f-c3e4cbb40817.png?1675457230",
        :collector-number "26",
        :layout "normal",
        :name "Snazzy Aether Homunculus",
        :oracle-text
        "{TK}{TK} — {1}: Target creature gains all creature types until end of turn.\n{TK}{TK}{TK} — Magecraft — Whenever you cast or copy an instant or sorcery spell, draw a card.\n{TK}{TK} — 2/4\n{TK}{TK}{TK}{TK}{TK} — 8/7"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/6/c65b391d-a5fb-4f0d-8082-cc636ab95b28.png?1675457239",
        :collector-number "27",
        :layout "normal",
        :name "Squid Fire Knight",
        :oracle-text
        "{TK}{TK} — {T}: The next time target player would roll one or more dice this turn, instead they roll that many dice plus one, then you choose one of those rolls to ignore.\n{TK}{TK}{TK} — Protection from odd mana values\n{TK}{TK} — 4/1\n{TK}{TK}{TK}{TK} — 6/6"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/1/b1710520-d69f-415f-aef8-03eaa514b63a.png?1675457249",
        :collector-number "28",
        :layout "normal",
        :name "Cool Fluffy Loxodon",
        :oracle-text
        "{TK}{TK} — When this permanent leaves the battlefield, draw a card.\n{TK}{TK}{TK}{TK}{TK} — Whenever a creature enters the battlefield under your control, this permanent becomes a 13/13 Eldrazi creature in addition to its other types until end of turn.\n{TK}{TK} — 4/2\n{TK}{TK}{TK}{TK} — 5/6"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/d/1dca39e2-0001-48bb-88a0-16e40b4877c8.png?1675457258",
        :collector-number "29",
        :layout "normal",
        :name "Space Fungus Snickerdoodle",
        :oracle-text
        "{TK}{TK} — Skulk (This creature can't be blocked by creatures with greater power.)\n{TK}{TK}{TK} — Battle cry (Whenever this creature attacks, each other attacking creature gets +1/+0 until end of turn.)\n{TK}{TK} — 3/2\n{TK}{TK}{TK}{TK}{TK} — 6/8"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/2/c27dffce-908c-45cf-bfe5-67af12467321.png?1675457266",
        :collector-number "30",
        :layout "normal",
        :name "Playable Delusionary Hydra",
        :oracle-text
        "{TK}{TK} — {T}: Draw a card, then discard a card.\n{TK}{TK}{TK}{TK} — Whenever this creature attacks, you gain 3 life and draw a card.\n{TK}{TK} — 1/5\n{TK}{TK}{TK} — 4/4"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/d/9d595a6a-03f6-4da6-945b-4de82d71b298.png?1675457274",
        :collector-number "31",
        :layout "normal",
        :name "Wrinkly Monkey Shenanigans",
        :oracle-text
        "{TK}{TK} — {1}: Target creature can't block this creature this turn.\n{TK}{TK}{TK}{TK} — Morbid — At the beginning of each end step, if a creature died this turn and this permanent is a creature, put a -1/-1 counter on this permanent and draw a card.\n{TK}{TK} — 2/4\n{TK}{TK}{TK} — 7/2"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/9/992af90e-5ab9-46e1-af1d-c741be2605c3.png?1675457283",
        :collector-number "32",
        :layout "normal",
        :name "Geek Lotus Warrior",
        :oracle-text
        "{TK}{TK} — {2}: This creature gets +2/+0 until end of turn.\n{TK}{TK}{TK}{TK} — Whenever a creature enters the battlefield under your control, this permanent deals 2 damage to target player.\n{TK}{TK} — 4/1\n{TK}{TK}{TK} — 3/6"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/c/7c2526ff-75ae-4d58-9749-ab948dedf2e7.png?1675457291",
        :collector-number "33",
        :layout "normal",
        :name "Primal Elder Kitty",
        :oracle-text
        "{TK}{TK} — {1}: This creature gets +1/-1 until end of turn.\n{TK}{TK}{TK} — When this creature dies, you may put X +1/+1 counters on target creature, where X is this creature's power.\n{TK}{TK} — 5/1\n{TK}{TK}{TK}{TK} — 4/7"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/9/e997ea17-18e3-4d4c-8ab3-0395e44fca9c.png?1675457299",
        :collector-number "34",
        :layout "normal",
        :name "Sassy Gremlin Blood",
        :oracle-text
        "{TK}{TK} — Whenever this creature attacks, create a Treasure token.\n{TK}{TK}{TK}{TK}{TK} — {3}: Target creature gains flying until end of turn.\n{TK}{TK} — 3/2\n{TK}{TK}{TK}{TK}{TK}{TK} — 10/10"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/a/3af82a50-8f49-4bab-b8f3-da2214d3601d.png?1675457308",
        :collector-number "35",
        :layout "normal",
        :name "Yawgmoth Merfolk Soul",
        :oracle-text
        "{TK}{TK} — When this permanent leaves the battlefield, target player discards a card.\n{TK}{TK}{TK}{TK}{TK} — When this permanent leaves the battlefield, create five 1/1 white Clown Robot creature tokens.\n{TK}{TK} — 3/3\n{TK}{TK}{TK}{TK} — 6/5"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/9/7985d1dd-32cf-4c83-ae68-ee4961c1e6b9.png?1675457316",
        :collector-number "36",
        :layout "normal",
        :name "Unassuming Gelatinous Serpent",
        :oracle-text
        "{TK}{TK} — When this permanent dies, return target noncreature, nonland card from your graveyard to your hand.\n{TK}{TK}{TK}{TK} — Whenever this creature deals damage to a player, that player mills twice that many cards.\n{TK}{TK} — 2/3\n{TK}{TK}{TK} — 7/2"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/4/14222486-bcd3-42be-9598-4976ec9c08ea.png?1675457324",
        :collector-number "37",
        :layout "normal",
        :name "Squishy Sphinx Ninja",
        :oracle-text
        "{TK}{TK} — Ward {2} (Whenever this creature becomes the target of a spell or ability an opponent controls, counter it unless that player pays {2}.)\n{TK}{TK}{TK}{TK} — Provoke (Whenever this creature attacks, you may have target creature defending player controls untap and block it if able.)\n{TK}{TK}{TK} — 5/3\n{TK}{TK}{TK}{TK}{TK} — 7/7"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/3/c3bd4f88-d861-476b-87d6-605f2c0deee0.png?1675457332",
        :collector-number "38",
        :layout "normal",
        :name "Unique Charmed Pants",
        :oracle-text
        "{TK}{TK} — {T}: Add one mana of any color.\n{TK}{TK}{TK} — Whenever this creature attacks, if it's not a Brushwagg, it gets +X/+0 until end of turn, where X is the number of supertypes, card types, and subtypes it has.\n{TK}{TK} — 5/1\n{TK}{TK}{TK}{TK} — 4/8"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/4/04da8455-cfaa-4061-9aea-4c9015baaab4.png?1675457341",
        :collector-number "39",
        :layout "normal",
        :name "Unhinged Beast Hunt",
        :oracle-text
        "{TK}{TK} — {T}: You gain 1 life.\n{TK}{TK}{TK}{TK} — Whenever this creature attacks, tap each creature an opponent controls with the same power and/or same toughness as this creature.\n{TK}{TK} — 4/1\n{TK}{TK}{TK} — 2/6"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/a/fa0c5716-a222-41a1-88cf-8b4aae87f92b.png?1675457350",
        :collector-number "40",
        :layout "normal",
        :name "Wild Ogre Bupkis",
        :oracle-text
        "{TK}{TK} — Whenever this creature attacks, put a +1/+1 counter on it.\n{TK}{TK}{TK} — Metalcraft — This permanent has protection from noncreature permanents as long as you control three or more artifacts.\n{TK}{TK} — 5/1\n{TK}{TK}{TK}{TK} — 7/4"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/f/5feced69-a138-4a56-85f2-7c2cbdde5fa6.png?1675457358",
        :collector-number "41",
        :layout "normal",
        :name "Notorious Sliver War",
        :oracle-text
        "{TK}{TK} — {5}: Creatures you control get +1/+1 until end of turn.\n{TK}{TK}{TK} — Protection from creatures with two or more creature types\n{TK}{TK} — 3/3\n{TK}{TK}{TK}{TK}{TK} — 9/6"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/1/61a9e71b-cb8e-4cff-b561-3d2462848582.png?1675457367",
        :collector-number "42",
        :layout "normal",
        :name "Weird Angel Flame",
        :oracle-text
        "{TK}{TK} — Heroic — Whenever you cast a spell that targets this permanent, put two +1/+1 counters on it.\n{TK}{TK}{TK} — Protection from even mana values\n{TK}{TK} — 2/3\n{TK}{TK}{TK}{TK}{TK} — 7/8"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/4/a4475054-b272-4f05-b626-b7b5090690d9.png?1675457375",
        :collector-number "43",
        :layout "normal",
        :name "Vampire Champion Fury",
        :oracle-text
        "{TK}{TK} — Hellbent — This creature gets +3/+3 as long as you have no cards in hand.\n{TK}{TK}{TK}{TK} — {2}, Sacrifice this creature: It deals X damage divided as you choose among any number of target creatures, where X is its power.\n{TK}{TK} — 1/5\n{TK}{TK}{TK} — 6/3"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/3/633f98c3-ffec-48c0-ac01-d599312fe288.png?1675457383",
        :collector-number "44",
        :layout "normal",
        :name "Trained Blessed Mind",
        :oracle-text
        "{TK}{TK} — {T}: Exile target card from a graveyard.\n{TK}{TK}{TK} — Threshold — As long as seven or more cards are in your graveyard, this creature gets +4/+0 and has trample.\n{TK}{TK} — 4/2\n{TK}{TK}{TK}{TK}{TK} — 6/9"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/5/955c33c6-0cc6-47ec-8f71-8d169c02b243.png?1675457392",
        :collector-number "45",
        :layout "normal",
        :name "Unglued Pea-Brained Dinosaur",
        :oracle-text
        "{TK}{TK} — {T}: Add {2}. Spend this mana only to cast creature spells.\n{TK}{TK}{TK}{TK} — At the beginning of combat on your turn, target noncreature artifact you control becomes a 4/4 artifact creature with flying until end of turn.\n{TK}{TK} — 2/4\n{TK}{TK}{TK}{TK}{TK} — 8/6"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/a/eacec01f-c971-48b7-bf4a-2fdacae32835.png?1675457400",
        :collector-number "46",
        :layout "normal",
        :name "Elemental Time Flamingo",
        :oracle-text
        "{TK}{TK} — Exile this permanent: You may cast target nonland card from your graveyard this turn.\n{TK}{TK}{TK}{TK} — Whenever a creature you control dies, each opponent loses 1 life and you gain 1 life.\n{TK}{TK} — 1/5\n{TK}{TK}{TK} — 5/4"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/5/a5f917b0-3c9a-4643-ade8-ada20dfc2d05.png?1675457409",
        :collector-number "47",
        :layout "normal",
        :name "Unstable Robot Dragon",
        :oracle-text
        "{TK}{TK} — {1}: Switch this creature's power and toughness until end of turn.\n{TK}{TK}{TK}{TK} — Whenever this creature attacks, it gets +5/+5 until end of turn.\n{TK}{TK} — 3/2\n{TK}{TK}{TK} — 2/7"}
 #:card{:type-line "Stickers",
        :layout-category :normal,
        :code "sunf",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/c/1cd65813-8103-413b-add4-d000101e479d.png?1675457419",
        :collector-number "48",
        :layout "normal",
        :name "Werewolf Lightning Mage",
        :oracle-text
        "{TK}{TK} — Landfall — Whenever a land enters the battlefield under your control, put a +1/+1 counter on this permanent.\n{TK}{TK}{TK}{TK} — Whenever a creature blocks this creature, that creature gets -4/-4 until end of turn.\n{TK}{TK} — 4/1\n{TK}{TK}{TK} — 3/5"})
