(#:card{:code "svow",
        :collector-number "1",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/ab45d3d9-465a-45d0-a618-fd06b0c0441a.png?1644971283",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "svow",
        :collector-number "2",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8d8963b7-7cad-45f4-ab30-8525629f02b0.png?1644971312",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "svow",
        :collector-number "3",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a3b03366-4697-4299-9a91-f6f78662c56e.png?1644971341",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "svow",
        :collector-number "4",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/f/8f8abfc8-42bc-45ed-b99b-2c96e3b109a5.png?1644971370",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "svow",
        :collector-number "5",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0b9c7110-e149-405b-9955-45367d0646ff.png?1644971399",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "svow",
        :collector-number "6",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cf499812-2262-452c-8553-3ef11319d237.png?1644971425",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "svow",
        :collector-number "7",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/521deca0-b00a-4269-bbb4-966f338a8341.png?1644971456",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "svow",
        :collector-number "8",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/43805099-439c-45e0-b1cd-cd186abb1f97.png?1644971477",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "svow",
        :collector-number "9",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/3/23855eb6-7c24-429d-9d30-12e34a784c84.png?1644971499",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"})
