(#:card{:code "sznr",
        :collector-number "1",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/308ac133-f368-4f6c-9e09-d9cfc136355a.png?1605483061",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sznr",
        :collector-number "2",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/70a3617a-e627-42bc-a4bd-28ae3c9d459a.png?1605483075",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sznr",
        :collector-number "3",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b71deebf-255f-4714-b9ca-bbf642b3ec7a.png?1605483099",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sznr",
        :collector-number "4",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fbf90fb9-eaa4-435d-8c20-c1ac09f35be6.png?1605483113",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sznr",
        :collector-number "5",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5dea354b-b583-48b1-93b5-4a50e6a11cd3.png?1605483143",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sznr",
        :collector-number "6",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5b6068c3-66dd-481d-b198-0a7370e855c1.png?1605483162",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sznr",
        :collector-number "7",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b1d747d2-5780-484d-ab25-bf2eb9ddc36a.png?1605483182",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sznr",
        :collector-number "8",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7a15b349-2c3c-4a4d-98b4-9a803a174481.png?1605483209",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"}
 #:card{:code "sznr",
        :collector-number "9",
        :name "Double-Faced Substitute Card",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/8/88c2be14-4cd5-49cb-9051-32247a2bb52f.png?1605483197",
        :type-line "Card",
        :oracle-text
        "(You can use this card to represent a double-faced card.)"})
