(#:card{:code "t10e",
        :collector-number "1",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c8ae31d1-9a6e-43f3-9b04-bd15699f73d6.png?1561758059",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "t10e",
        :collector-number "2",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8a73e348-5bf1-4465-978b-3f31408bade9.png?1561757530",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "t10e",
        :collector-number "3",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/993b3b90-74c3-479b-b3e6-3f1cd8f1da04.png?1561757651",
        :type-line "Token Creature — Dragon",
        :oracle-text "Flying"}
 #:card{:code "t10e",
        :collector-number "4",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e9577d3c-ee19-4b53-adac-b304287a066f.png?1561758362",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "t10e",
        :collector-number "5",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/9/698d48fa-d6c1-44b9-8aa2-bb03e0e53788.png?1561757347",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "t10e",
        :collector-number "6",
        :name "Wasp",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c75b81b5-5c84-45d4-832a-20c038372bc6.png?1561758040",
        :type-line "Token Artifact Creature — Insect",
        :oracle-text "Flying"})
