(#:card{:type-line "Token Creature — Eldrazi Scion",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/6/265b1462-dd9c-42af-8ba0-e840f8a651e2.png?1675454928",
        :collector-number "1",
        :layout "token",
        :name "Eldrazi Scion",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/6/c672ee51-0e77-463f-8586-191b413c44dd.png?1675454937",
        :collector-number "2",
        :layout "token",
        :name "Spirit",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/1/31434b32-b741-4a4d-813e-7006fe7ffa3c.png?1675454944",
        :collector-number "3",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Token Creature — Zombie Bird Warrior",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/2/12feaabf-7b3e-4cef-8d45-1b9bbe2baaf6.png?1675454953",
        :collector-number "4",
        :layout "token",
        :name "Aven Initiate",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Knight",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/7/b73ee667-09a1-40b9-85e8-902d9c06adcf.png?1675454961",
        :collector-number "5",
        :layout "token",
        :name "Knight",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Monk",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/f/8f9d16af-2b50-426f-98d2-992d97a4a150.png?1675454973",
        :collector-number "6",
        :layout "token",
        :name "Monk",
        :oracle-text "Prowess"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/7/17763402-d0bc-44d8-8655-ceca164cae9d.png?1675454981",
        :collector-number "7",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/e/7ebb3b03-943e-4b5a-be04-f59316b81333.png?1675454988",
        :collector-number "8",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Vampire",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/8/287a7057-ce44-4082-a3da-8c09b8a88fba.png?1675454996",
        :collector-number "9",
        :layout "token",
        :name "Vampire",
        :oracle-text
        "Lifelink (Damage dealt by this creature also causes you to gain that much life.)"}
 #:card{:type-line "Token Creature — Drake",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/5/958a4bb3-7f76-4f8a-8af6-439b09b3ee0f.png?1675455005",
        :collector-number "10",
        :layout "token",
        :name "Drake",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Faerie Rogue",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/5/55998d0d-b169-4e1b-a9e2-a2ea75b4bbf0.png?1675455013",
        :collector-number "11",
        :layout "token",
        :name "Faerie Rogue",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/1/31603503-fd3a-4c57-90ad-4175bb2c8150.png?1675455021",
        :collector-number "12",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/6/462bb611-5a02-441c-ae8a-911b75436864.png?1675455029",
        :collector-number "13",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Bear",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/1/8169a2e1-ed39-41cf-9a36-3c2b59499819.png?1675455039",
        :collector-number "14",
        :layout "token",
        :name "Bear",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Boar",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/a/8a911fad-7af3-4bc4-bafc-cac2d5f18f22.png?1675455048",
        :collector-number "15",
        :layout "token",
        :name "Boar",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Egg",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/b/7b545a43-8837-49a1-83d8-7c548d5237d2.png?1675455057",
        :collector-number "16",
        :layout "token",
        :name "Egg",
        :oracle-text "Defender"}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/2/b2c9bcf4-4e8c-467c-8c72-4a9cd0556e93.png?1675455065",
        :collector-number "17",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spider",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/7/f74900ca-7f0d-460c-86b0-b515c8b44e67.png?1675455072",
        :collector-number "18",
        :layout "token",
        :name "Spider",
        :oracle-text "Reach"}
 #:card{:type-line "Token Creature — Cat Dragon",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/1/b1e883aa-5f73-4c45-9253-1350c24222e4.png?1675455080",
        :collector-number "19",
        :layout "token",
        :name "Cat Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Worm",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/8/d8b71ab8-7f94-4cd9-9a15-0c2291e17b47.png?1675455089",
        :collector-number "20",
        :layout "token",
        :name "Worm",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Phyrexian Golem",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/3/83842dfb-e5ea-41dc-91b1-b1dd53e5ecca.png?1675455097",
        :collector-number "21",
        :layout "token",
        :name "Phyrexian Golem",
        :oracle-text ""}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/4/649d42c1-a465-435e-8b67-e901ab9ad8ab.png?1675455106",
        :collector-number "22",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Emblem — Liliana",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/b/fb88493c-293b-4b89-8571-712dcf110df5.png?1675455114",
        :collector-number "23",
        :layout "emblem",
        :name "Liliana, the Last Hope Emblem",
        :oracle-text
        "At the beginning of your end step, create X 2/2 black Zombie creature tokens, where X is two plus the number of Zombies you control."}
 #:card{:type-line "Emblem — Wrenn",
        :layout-category :normal,
        :code "t2x2",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/5/35578c3f-e818-4887-83c4-dc3a89e28ed4.png?1675455122",
        :collector-number "24",
        :layout "emblem",
        :name "Wrenn and Six Emblem",
        :oracle-text
        "Instant and sorcery cards in your graveyard have retrace. (You may cast instant and sorcery cards from your graveyard by discarding a land card in addition to paying their other costs.)"})
