(#:card{:type-line "Token Creature — Eldrazi Spawn",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06e3f3c1-866c-4214-82e0-dcca2d1aba1e.png?1601138478",
        :collector-number "1",
        :layout "token",
        :name "Eldrazi Spawn",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Shapeshifter",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/798cef87-237b-4e4a-b7ed-78d15c720391.png?1598311416",
        :collector-number "2",
        :layout "token",
        :name "Shapeshifter",
        :oracle-text "Changeling"}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff0335da-631f-46b8-bfa1-b2f210c91f5f.png?1598311447",
        :collector-number "3",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Cat",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/8/f859b55c-0b49-4190-b1fa-94f97a59b57c.png?1598312335",
        :collector-number "4",
        :layout "token",
        :name "Cat",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Human Soldier",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e3683cc6-70e0-4d33-9fed-6a56ba8b6e9b.png?1598311517",
        :collector-number "5",
        :layout "token",
        :name "Human Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1aa14443-d02e-41db-942a-498857e6b83c.png?1598311535",
        :collector-number "6",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Myr",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/8/483c8cd6-288c-49d7-ac28-642132f85259.png?1598311565",
        :collector-number "7",
        :layout "token",
        :name "Myr",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/eef8b4fc-238f-4c1f-ad98-a1769fd44eab.png?1598311587",
        :collector-number "8",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Demon",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3b3c99d1-ebd3-4eb4-ba04-941819394567.png?1598311608",
        :collector-number "9",
        :layout "token",
        :name "Demon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Germ",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9ecc467e-b345-446c-b9b7-5f164e6651a4.png?1598311624",
        :collector-number "10",
        :layout "token",
        :name "Germ",
        :oracle-text ""}
 #:card{:type-line "Token Legendary Creature — Avatar",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fb248ba0-2ee7-4994-be57-2bcc8df29680.png?1598311645",
        :collector-number "11",
        :layout "token",
        :name "Marit Lage",
        :oracle-text "Flying, indestructible"}
 #:card{:type-line "Token Creature — Ape",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/ee2d434d-5d9b-4475-b421-6d004c988997.png?1598311661",
        :collector-number "12",
        :layout "token",
        :name "Ape",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/2/d270aeed-b15f-46f9-97ba-ccce562caefa.png?1598311679",
        :collector-number "13",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elephant",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/98e49e47-d658-4378-9e83-7946f7346ede.png?1598311699",
        :collector-number "14",
        :layout "token",
        :name "Elephant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Ooze",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/155e76d6-d8d5-410b-9b00-088c039b668f.png?1598311725",
        :collector-number "15",
        :layout "token",
        :name "Ooze",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Plant",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b1d05bfc-c447-474a-9ec9-9f4772821bfb.png?1598311749",
        :collector-number "16",
        :layout "token",
        :name "Plant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/95483574-95b7-42a3-b700-616189163b0a.png?1598312392",
        :collector-number "17",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Squirrel",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/a/aa846cf5-c618-4304-bb92-5df936ebca9b.png?1598312396",
        :collector-number "18",
        :layout "token",
        :name "Squirrel",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cf371056-43dd-41ab-8d05-b16a8bdc8d28.png?1598312579",
        :collector-number "19",
        :layout "token",
        :name "Wolf",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/8676704a-419e-4a00-a052-bca2ad34ecae.png?1601138189",
        :collector-number "20",
        :layout "token",
        :name "Elemental",
        :oracle-text
        "This creature's power and toughness are each equal to the number of creatures you control."}
 #:card{:type-line "Token Creature — Elf Warrior",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cb8caa61-e294-4501-b357-a44abd77d09a.png?1601138497",
        :collector-number "21",
        :layout "token",
        :name "Elf Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/1/d1dfd9b9-8214-4e20-b1c9-48c9f7276883.png?1601138520",
        :collector-number "22",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact Creature — Golem",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7becaa04-f142-4163-9286-00018b95c4ca.png?1601138543",
        :collector-number "23",
        :layout "token",
        :name "Golem",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Myr",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d57daa4d-c6d2-4d36-bb7b-2cc705d1a659.png?1601138602",
        :collector-number "24",
        :layout "token",
        :name "Myr",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Servo",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/ae8e32b9-431c-43d9-a0df-d73f4ff4fbc2.png?1601138298",
        :collector-number "25",
        :layout "token",
        :name "Servo",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75602e25-a0ab-430e-b610-5e12c1cab3d8.png?1601138573",
        :collector-number "26",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/791f5fa0-f972-455e-9802-ff299853607f.png?1601138787",
        :collector-number "27",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact Creature — Goblin Golem",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c7e7822b-f155-4f3f-b835-ec64f3a71307.png?1601138813",
        :collector-number "28",
        :layout "token",
        :name "Tuktuk the Returned",
        :oracle-text "Tuktuk the Returned is legendary."}
 #:card{:type-line "Token Artifact Creature — Wurm",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/6/b68e816f-f9ac-435b-ad0b-ceedbe72447a.png?1598312203",
        :collector-number "29",
        :layout "token",
        :name "Wurm",
        :oracle-text "Deathtouch"}
 #:card{:type-line "Token Artifact Creature — Wurm",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/6/a6ee0db9-ac89-4ab6-ac2e-8a7527d9ecbd.png?1598312477",
        :collector-number "30",
        :layout "token",
        :name "Wurm",
        :oracle-text "Lifelink"}
 #:card{:type-line "Token",
        :layout-category :normal,
        :code "t2xm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/6870a2af-80e1-4813-a332-2b1bd789f1c1.png?1598312480",
        :collector-number "31",
        :layout "token",
        :name "Copy",
        :oracle-text
        "(This token can be used to represent a token that's a copy of a permanent.)"})
