(#:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/4/147dd1c4-3f07-4e82-896d-08f182f436ac.png?1664924773",
        :collector-number "1",
        :layout "token",
        :name "Human",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Human Warrior",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/3/f/3fadcf72-8ea2-40d8-af80-298fa61a573d.png?1664924800",
        :collector-number "2",
        :layout "token",
        :name "Human Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/0/60ad059d-2003-4873-90fb-1737565c2f78.png?1664924821",
        :collector-number "3",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/7/87f13921-0eba-40ee-a4d5-8c4cf8411fa9.png?1664924863",
        :collector-number "4",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Human Wizard",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/b/3/b3c14ab4-339b-4be2-a907-b3360bc73aee.png?1664924877",
        :collector-number "5",
        :layout "token",
        :name "Human Wizard",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Demon",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/d/1db0ae89-74fb-4865-99d0-31e3e19f1480.png?1664924891",
        :collector-number "6",
        :layout "token",
        :name "Demon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Skeleton",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/b/6/b63b11cd-4a96-49d5-aee1-b0ff02ef49bb.png?1664992154",
        :collector-number "7",
        :layout "token",
        :name "Skeleton",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/6/5/652b5682-520f-4f2d-a025-07c449204b0e.png?1664924925",
        :collector-number "8",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/3/9/39133387-9cd3-49f1-88e1-d23636e020b3.png?1664924939",
        :collector-number "9",
        :layout "token",
        :name "Wolf",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Human Cleric",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/5/2/52f11140-732c-4087-848c-7850d3c11c2d.png?1664924959",
        :collector-number "10",
        :layout "token",
        :name "Human Cleric",
        :oracle-text ""}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/6/d6e2c479-5f88-4313-9fd9-87852891863b.png?1664925098",
        :collector-number "11",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/5/157e0a8c-9674-4201-817a-d77e92e11032.png?1664925106",
        :collector-number "12",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/f/9/f924e6be-42a2-4d56-a925-9cf9294443cc.png?1664925127",
        :collector-number "13",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/1/81f0677c-167c-46da-879f-d94e2dee5070.png?1664925134",
        :collector-number "14",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/7/2/72c22b76-3411-4ef3-8a3d-3931ff993b24.png?1664925148",
        :collector-number "15",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact Creature — Insect",
        :layout-category :normal,
        :code "t30a",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/0/9/09921372-126f-4c81-b6d8-ea50b1d0eb44.png?1664925161",
        :collector-number "16",
        :layout "token",
        :name "Wasp",
        :oracle-text "Flying"})
