(#:card{:type-line "Token Creature — Astartes Warrior",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/9/d9662108-7a01-48d4-bb5d-edcbf1ed5a0d.png?1675455131",
        :collector-number "1",
        :layout "token",
        :name "Astartes Warrior",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Astartes Warrior",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/0/2077e1c1-744b-4379-b4ab-220642873c2d.png?1670530667",
        :collector-number "1★",
        :layout "token",
        :name "Astartes Warrior",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/5/e546fbc7-4493-46dc-89f1-88333fdc8cfa.png?1675455139",
        :collector-number "2",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/1/01b7b4c9-3d39-40c6-a337-33b20c6d3f57.png?1670530676",
        :collector-number "2★",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/c/5c9295e9-222f-4e7d-91c3-84479d5ec568.png?1675455147",
        :collector-number "3",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/c/9c3e4d0f-6dac-4994-9348-9aa427acd9b2.png?1670530720",
        :collector-number "3★",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/9/e90ca5c1-a76a-4bc4-a223-87e8df30c6de.png?1675455155",
        :collector-number "4",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/6/f633b8c5-2cd1-4599-bfce-543ca5439b41.png?1670530716",
        :collector-number "4★",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Astartes Warrior",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/a/aa796e45-1d95-44f7-927d-0cdd2f67da78.png?1675455163",
        :collector-number "5",
        :layout "token",
        :name "Space Marine Devastator",
        :oracle-text
        "When Space Marine Devastator enters the battlefield, destroy up to one target artifact or enchantment."}
 #:card{:type-line "Token Creature — Astartes Warrior",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/7/f7d6c117-0924-404a-9b06-5c28b830d316.png?1675455171",
        :collector-number "6",
        :layout "token",
        :name "Ultramarines Honour Guard",
        :oracle-text "Other creatures you control get +1/+1."}
 #:card{:type-line "Token Creature — Human Warrior",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/8/88be9551-c8d9-4486-b8f1-810f5dae12c8.png?1675455180",
        :collector-number "7",
        :layout "token",
        :name "Zephyrim",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Token Artifact Creature — Human Soldier",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/8/58784a4f-8190-4751-b42c-fff188ad3ce5.png?1675455190",
        :collector-number "8",
        :layout "token",
        :name "Sicarian Infiltrator",
        :oracle-text
        "When Sicarian Infiltrator enters the battlefield, draw a card."}
 #:card{:type-line "Token Creature — Tyranid Gargoyle",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/0/20171707-0670-42dd-a6c4-f0aa56fc0cd1.png?1675455198",
        :collector-number "9",
        :layout "token",
        :name "Tyranid Gargoyle",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Astartes Warrior",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/5/e5d319cb-4982-4fb9-93d4-1cc846b03c30.png?1675455207",
        :collector-number "10",
        :layout "token",
        :name "Vanguard Suppressor",
        :oracle-text
        "Flying\nWhenever Vanguard Suppressor deals combat damage to a player, draw a card."}
 #:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/c/acb3325d-0b43-471b-9311-1c5ba14b06cf.png?1675455215",
        :collector-number "11",
        :layout "token",
        :name "Arco-Flagellant",
        :oracle-text
        "Arco-Flagellant can't block.\nPay 3 life: Arco-Flagellant gains indestructible until end of turn."}
 #:card{:type-line "Token Creature — Astartes Warrior",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/3/93bc9e79-88c8-436b-94f7-17b349baf306.png?1675455224",
        :collector-number "12",
        :layout "token",
        :name "Astartes Warrior",
        :oracle-text "Menace"}
 #:card{:type-line "Token Legendary Creature — Demon",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/6/065e30fe-03e5-4558-8f41-42992b07712e.png?1675455232",
        :collector-number "13",
        :layout "token",
        :name "Cherubael",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact Creature — Necron Warrior",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/4/542b3490-1247-4f47-98b6-c67cabae53cb.png?1675455239",
        :collector-number "14",
        :layout "token",
        :name "Necron Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Necron Warrior",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/b/0b7f1064-04aa-4b32-adc5-f7733e056287.png?1670530710",
        :collector-number "14★",
        :layout "token",
        :name "Necron Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Demon",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/1/b19d2866-87e7-40ab-9684-0593caeb223e.png?1675455248",
        :collector-number "15",
        :layout "token",
        :name "Plaguebearer of Nurgle",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Demon",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/e/9e458d71-3b76-4088-93f6-b87649615f3c.png?1670530701",
        :collector-number "15★",
        :layout "token",
        :name "Plaguebearer of Nurgle",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spawn",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/c/bc938f2e-2d6e-4afd-9a88-34eeaf0b51e3.png?1675455255",
        :collector-number "16",
        :layout "token",
        :name "Spawn",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spawn",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/e/eea89316-1205-4a73-be33-ac2a433edb41.png?1670530705",
        :collector-number "16★",
        :layout "token",
        :name "Spawn",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Tyranid",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/1/21e0620b-0498-407f-a609-79c7bc393e76.png?1675455263",
        :collector-number "17",
        :layout "token",
        :name "Tyranid",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Tyranid",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/6/3671216a-4184-4a35-a603-6eff963d09b1.png?1670530697",
        :collector-number "17★",
        :layout "token",
        :name "Tyranid",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Tyranid",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/1/21afb029-9aef-4e6e-a646-3343605b4bb7.png?1675455271",
        :collector-number "18",
        :layout "token",
        :name "Tyranid",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Tyranid Warrior",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/9/691979ab-e0d7-4e74-84da-77d09dc038a3.png?1675455278",
        :collector-number "19",
        :layout "token",
        :name "Tyranid Warrior",
        :oracle-text "Trample"}
 #:card{:type-line "Token Creature — Demon Horror",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/a/4a3d2013-e10c-49aa-adf6-4a3a141e48ce.png?1675455286",
        :collector-number "20",
        :layout "token",
        :name "Blue Horror",
        :oracle-text
        "Whenever you cast an instant or sorcery spell, this creature deals 1 damage to any target."}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/3/43eab560-8ead-4383-afb9-9180a214704b.png?1675455293",
        :collector-number "21",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact Creature — Insect",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/a/9af00a97-9938-4ab2-938a-669cdfe4332a.png?1675455301",
        :collector-number "22",
        :layout "token",
        :name "Insect",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact Creature — Robot",
        :layout-category :normal,
        :code "t40k",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/1/319aaaae-1efb-412c-8839-c575a2694485.png?1675455310",
        :collector-number "23",
        :layout "token",
        :name "Robot",
        :oracle-text "This creature can't block."})
