(#:card{:code "taer",
        :collector-number "1",
        :name "Gremlin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6071fed-39c1-4f3b-a821-1611aedd8054.png?1561758029",
        :type-line "Token Creature — Gremlin",
        :oracle-text ""}
 #:card{:code "taer",
        :collector-number "2",
        :name "Ragavan",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1ebc91a9-23e0-4ca1-bc6d-e710ad2efb31.png?1561756762",
        :type-line "Token Legendary Creature — Monkey",
        :oracle-text ""}
 #:card{:code "taer",
        :collector-number "3",
        :name "Etherium Cell",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/9616ca53-ea6a-4fc1-8e01-94e0fb47e5ed.png?1561757618",
        :type-line "Token Artifact",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:code "taer",
        :collector-number "4",
        :name "Tezzeret the Schemer Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5f136537-1ebe-4018-b406-44ef32ceef04.png?1561757257",
        :type-line "Emblem — Tezzeret",
        :oracle-text
        "At the beginning of combat on your turn, target artifact you control becomes an artifact creature with base power and toughness 5/5."})
