(#:card{:code "tafc",
        :collector-number "1",
        :name "Angel",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5f01ffb6-8932-448e-b4f4-b71eb041bc6f.png?1641306322",
        :type-line "Token Creature — Angel",
        :oracle-text "Flying"}
 #:card{:code "tafc",
        :collector-number "2",
        :name "Knight",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/26b128a3-1bb5-4bd7-a8c6-d33d5bf130aa.png?1641306323",
        :type-line "Token Creature — Knight",
        :oracle-text "Vigilance"}
 #:card{:code "tafc",
        :collector-number "3",
        :name "Illusion",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/2/42a6bc0b-e76d-4c45-b39d-0186d9bc9c42.png?1641306328",
        :type-line "Token Creature — Illusion",
        :oracle-text
        "This creature gets +1/+0 for each other Illusion you control."}
 #:card{:code "tafc",
        :collector-number "4",
        :name "Champion of Wits",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/aba3f11a-1be0-4915-8aec-225fa59eddce.png?1641306326",
        :type-line "Token Creature — Zombie Naga Wizard",
        :oracle-text
        "When Champion of Wits enters the battlefield, you may draw cards equal to its power. If you do, discard two cards."}
 #:card{:code "tafc",
        :collector-number "5",
        :name "Rat",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/0/209d3f3e-a41e-4d9b-a9bd-50d11e89b5ea.png?1641306327",
        :type-line "Token Creature — Rat",
        :oracle-text ""}
 #:card{:code "tafc",
        :collector-number "6",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/0/c00df96e-38bf-4ecd-b362-ac2d0568e371.png?1641306333",
        :type-line "Token Creature — Dragon",
        :oracle-text "Flying"}
 #:card{:code "tafc",
        :collector-number "7",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/5/f5298f77-162b-4a02-9f8d-51ba8b600219.png?1641306332",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tafc",
        :collector-number "8",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/a/dab779fa-e30a-417c-9303-9cbf2d1fb559.png?1641306334",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "tafc",
        :collector-number "9",
        :name "Dragon Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b997ace9-ea21-437c-b9cd-128d02f58fa7.png?1641306337",
        :type-line "Token Creature — Dragon Spirit",
        :oracle-text "When this creature deals damage, sacrifice it."}
 #:card{:code "tafc",
        :collector-number "10",
        :name "Clue",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/267c4604-0366-471b-bad0-4e666d45310f.png?1641306339",
        :type-line "Token Artifact — Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:code "tafc",
        :collector-number "11",
        :name "Servo",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5bdec720-114c-4c27-9d27-911e3c6e635e.png?1641306340",
        :type-line "Token Artifact Creature — Servo",
        :oracle-text ""}
 #:card{:code "tafc",
        :collector-number "12",
        :name "Thopter",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0b7388df-6f76-4e96-9a28-62c8c0e6c9d4.png?1641306344",
        :type-line "Token Artifact Creature — Thopter",
        :oracle-text "Flying"}
 #:card{:code "tafc",
        :collector-number "13",
        :name "The Monarch",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/965970a4-50ca-4b8b-9589-b48713f27fc1.png?1641306346",
        :type-line "Card",
        :oracle-text
        "At the beginning of your end step, draw a card.\nWhenever a creature deals combat damage to you, its controller becomes the monarch."})
