(#:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/323dd323-2ca2-4c85-9ef6-34341cd40d96.png?1641306228",
        :collector-number "1",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Legendary Artifact — Equipment",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/9/a9c981c9-3376-4f6e-b30d-859e5fc7347e.png?1641306230",
        :collector-number "2",
        :layout "token",
        :name "Icingdeath, Frost Tongue",
        :oracle-text
        "Equipped creature gets +2/+0.\nWhenever equipped creature attacks, tap target creature defending player controls.\nEquip {2}"}
 #:card{:type-line "Token Creature — Dog Illusion",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/e/ce3c0bd9-8a37-4164-9937-f35d1c210fe8.png?1641306231",
        :collector-number "3",
        :layout "token",
        :name "Dog Illusion",
        :oracle-text
        "This creature's power and toughness are each equal to twice the number of cards in your hand."}
 #:card{:type-line "Token Creature — Faerie Dragon",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/8/78eb6e0c-3630-46bf-b124-1ff2ddddf63e.png?1641306234",
        :collector-number "4",
        :layout "token",
        :name "Faerie Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Legendary Creature — God Horror",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/5/65f8e40f-fb5e-4ab8-add3-a8b87e7bcdd9.png?1641306235",
        :collector-number "5",
        :layout "token",
        :name "The Atropal",
        :oracle-text "Deathtouch"}
 #:card{:type-line "Token Creature — Skeleton",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fa6fdb57-82f3-4695-b1fa-1f301ea4ef83.png?1641306237",
        :collector-number "6",
        :layout "token",
        :name "Skeleton",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spider",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/2/124e0b03-d9fb-44f1-9e3c-3462aabdd42e.png?1641306239",
        :collector-number "7",
        :layout "token",
        :name "Spider",
        :oracle-text "Menace, reach"}
 #:card{:type-line "Token Legendary Creature — Zombie God",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/86881c5f-df5e-4f50-b554-e4c49d5316f9.png?1641306242",
        :collector-number "8",
        :layout "token",
        :name "Vecna",
        :oracle-text "Indestructible"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0b08d210-01cb-46c5-9150-4dfb47f50ae7.png?1641306243",
        :collector-number "9",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Legendary Creature — Hamster",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c49e8e79-8673-41c2-a1ad-273c37e27aca.png?1641306245",
        :collector-number "10",
        :layout "token",
        :name "Boo",
        :oracle-text "Trample, haste"}
 #:card{:type-line "Token Creature — Devil",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/f/efbc2ca1-4aad-4dfa-9eab-e783f5802078.png?1641306248",
        :collector-number "11",
        :layout "token",
        :name "Devil",
        :oracle-text
        "When this creature dies, it deals 1 damage to any target."}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/1425e965-7eea-419c-a7ec-c8169fa9edbf.png?1641306248",
        :collector-number "12",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Legendary Creature — Cat",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6b2c8f52-1580-42d5-8434-c4c70e31e31b.png?1641306250",
        :collector-number "13",
        :layout "token",
        :name "Guenhwyvar",
        :oracle-text "Trample"}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/8/1864d5b9-7151-42f0-8d37-8c319c3ab264.png?1641306253",
        :collector-number "14",
        :layout "token",
        :name "Wolf",
        :oracle-text ""}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a3a684b7-27e0-4d9e-a064-9e03c6e50c89.png?1641306255",
        :collector-number "15",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Emblem — Ellywick",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/289bd243-8754-49f8-a4f9-0be477c84ee1.png?1641306257",
        :collector-number "16",
        :layout "emblem",
        :name "Ellywick Tumblestrum Emblem",
        :oracle-text
        "Creatures you control have trample and haste and get +2/+2 for each differently named dungeon you've completed."}
 #:card{:type-line "Emblem — Lolth",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/3/c34001fd-0e9b-445b-9c0b-381721dfebc2.png?1641306257",
        :collector-number "17",
        :layout "emblem",
        :name "Lolth, Spider Queen Emblem",
        :oracle-text
        "Whenever an opponent is dealt combat damage by one or more creatures you control, if that player lost less than 8 life this turn, they lose life equal to the difference."}
 #:card{:type-line "Emblem — Mordenkainen",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7c63f14a-db47-46aa-addf-7c6fc40169b9.png?1641306265",
        :collector-number "18",
        :layout "emblem",
        :name "Mordenkainen Emblem",
        :oracle-text "You have no maximum hand size."}
 #:card{:type-line "Emblem — Zariel",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/3/c36520c3-627a-40b9-a5c7-42cc4c813b67.png?1641306262",
        :collector-number "19",
        :layout "emblem",
        :name "Zariel, Archduke of Avernus Emblem",
        :oracle-text
        "At the end of the first combat phase on your turn, untap target creature you control. After this phase, there is an additional combat phase."}
 #:card{:type-line "Dungeon",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/f/6f509dbe-6ec7-4438-ab36-e20be46c9922.png?1630355017",
        :collector-number "20",
        :layout "normal",
        :name "Dungeon of the Mad Mage",
        :oracle-text
        "Yawning Portal — You gain 1 life. (Leads to: Dungeon Level)\nDungeon Level — Scry 1. (Leads to: Goblin Bazaar, Twisted Caverns)\nGoblin Bazaar — Create a Treasure token. (Leads to: Lost Level)\nTwisted Caverns — Target creature can't attack until your next turn. (Leads to: Lost Level)\nLost Level — Scry 2. (Leads to: Runestone Caverns, Muiral's Graveyard)\nRunestone Caverns — Exile the top two cards of your library. You may play them. (Leads to: Deep Mines)\nMuiral's Graveyard — Create two 1/1 black Skeleton creature tokens. (Leads to: Deep Mines)\nDeep Mines — Scry 3. (Leads to: Mad Wizard's Lair)\nMad Wizard's Lair — Draw three cards and reveal them. You may cast one of them without paying its mana cost."}
 #:card{:type-line "Dungeon",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/59b11ff8-f118-4978-87dd-509dc0c8c932.png?1641306266",
        :collector-number "21",
        :layout "normal",
        :name "Lost Mine of Phandelver",
        :oracle-text
        "Cave Entrance — Scry 1. (Leads to: Goblin Lair, Mine Tunnels)\nGoblin Lair — Create a 1/1 red Goblin creature token. (Leads to: Storeroom, Dark Pool)\nMine Tunnels — Create a Treasure token. (Leads to: Dark Pool, Fungi Cavern)\nStoreroom — Put a +1/+1 counter on target creature. (Leads to: Temple of Dumathoin)\nDark Pool — Each opponent loses 1 life and you gain 1 life. (Leads to: Temple of Dumathoin)\nFungi Cavern — Target creature gets -4/-0 until your next turn. (Leads to: Temple of Dumathoin)\nTemple of Dumathoin — Draw a card."}
 #:card{:type-line "Dungeon",
        :layout-category :normal,
        :code "tafr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/70b284bd-7a8f-4b60-8238-f746bdc5b236.png?1641306270",
        :collector-number "22",
        :layout "normal",
        :name "Tomb of Annihilation",
        :oracle-text
        "Trapped Entry — Each player loses 1 life. (Leads to: Veils of Fear, Oubliette)\nVeils of Fear — Each player loses 2 life unless they discard a card. (Leads to: Sandfall Cell)\nSandfall Cell — Each player loses 2 life unless they sacrifice a creature, artifact, or land. (Leads to: Cradle of the Death God)\nOubliette — Discard a card and sacrifice a creature, an artifact, and a land. (Leads to: Cradle of the Death God)\nCradle of the Death God — Create The Atropal, a legendary 4/4 black God Horror creature token with deathtouch."})
