(#:card{:type-line "Token Creature — Zombie Angel",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a1786cb3-6f38-4f10-b5f1-8feb20e3baaf.png?1562844813",
        :collector-number "1",
        :layout "token",
        :name "Angel of Sanctions",
        :oracle-text
        "Flying\nWhen Angel of Sanctions enters the battlefield, you may exile target nonland permanent an opponent controls until Angel of Sanctions leaves the battlefield."}
 #:card{:type-line "Token Creature — Zombie Human Cleric",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/98956e73-04e4-4d7f-bda5-cfa78eb71350.png?1562844807",
        :collector-number "2",
        :layout "token",
        :name "Anointer Priest",
        :oracle-text
        "Whenever a creature token enters the battlefield under your control, you gain 1 life."}
 #:card{:type-line "Token Creature — Zombie Bird Warrior",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a3814e3-7ad2-4c87-8630-ab56e13b6ee9.png?1617474894",
        :collector-number "3",
        :layout "token",
        :name "Aven Initiate",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie Bird Warrior",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/8/a8f339c6-2c0d-4631-849b-44d4360b5131.png?1562844814",
        :collector-number "4",
        :layout "token",
        :name "Aven Wind Guide",
        :oracle-text
        "Flying, vigilance\nCreature tokens you control have flying and vigilance."}
 #:card{:type-line "Token Creature — Zombie Sphinx",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e3d97a02-9187-4dbc-a511-2a15ca840cda.png?1562844825",
        :collector-number "5",
        :layout "token",
        :name "Glyph Keeper",
        :oracle-text
        "Flying\nWhenever Glyph Keeper becomes the target of a spell or ability for the first time each turn, counter that spell or ability."}
 #:card{:type-line "Token Creature — Zombie Manticore",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6e534d68-a97f-4ae1-b202-31c7a5366b58.png?1562844802",
        :collector-number "6",
        :layout "token",
        :name "Heart-Piercer Manticore",
        :oracle-text
        "When Heart-Piercer Manticore enters the battlefield, you may sacrifice another creature. When you do, Heart-Piercer Manticore deals damage equal to that creature's power to any target."}
 #:card{:type-line "Token Creature — Zombie Snake Hydra",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/3/7365ffff-b171-4275-9fdb-e622f8456858.png?1562844804",
        :collector-number "7",
        :layout "token",
        :name "Honored Hydra",
        :oracle-text "Trample"}
 #:card{:type-line "Token Creature — Zombie Illusion Warrior",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/754eeff5-b495-4aa5-94ce-ff20216c952b.png?1562844805",
        :collector-number "8",
        :layout "token",
        :name "Labyrinth Guardian",
        :oracle-text
        "When Labyrinth Guardian becomes the target of a spell, sacrifice it."}
 #:card{:type-line "Token Creature — Zombie Bird Soldier",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/a/aa5fedcd-e5d5-4250-b64e-a04772cb9025.png?1562844816",
        :collector-number "9",
        :layout "token",
        :name "Oketra's Attendant",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie Cat",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/56ea5f68-3818-43d3-9b7b-c344305a8423.png?1562844792",
        :collector-number "10",
        :layout "token",
        :name "Sacred Cat",
        :oracle-text "Lifelink"}
 #:card{:type-line "Token Creature — Zombie Naga Warrior",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6c2e835c-0f39-4fd1-a839-125bee0c9dbc.png?1562844800",
        :collector-number "11",
        :layout "token",
        :name "Tah-Crop Skirmisher",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie Human Cleric",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5a6201e6-7dcd-40b1-97aa-fd9c860cea97.png?1627938933",
        :collector-number "12",
        :layout "token",
        :name "Temmet, Vizier of Naktamun",
        :oracle-text
        "Temmet, Vizier of Naktamun is legendary.\nAt the beginning of combat on your turn, target creature token you control gets +1/+1 until end of turn and can't be blocked this turn."}
 #:card{:type-line "Token Creature — Zombie Human Warrior",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c770d91c-b7d1-44ef-922d-128cb3faef08.png?1562844820",
        :collector-number "13",
        :layout "token",
        :name "Trueheart Duelist",
        :oracle-text
        "Trueheart Duelist can block an additional creature each combat."}
 #:card{:type-line "Token Creature — Zombie Human Warrior",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/7/07ab720d-40fc-4315-bc8d-c7073cea588b.png?1562844775",
        :collector-number "14",
        :layout "token",
        :name "Unwavering Initiate",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Zombie Shapeshifter Cleric",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/39520c16-1f4b-4f15-aeb4-53c91e8ecfcc.png?1562844791",
        :collector-number "15",
        :layout "token",
        :name "Vizier of Many Faces",
        :oracle-text
        "You may have Vizier of Many Faces enter the battlefield as a copy of any creature on the battlefield, except has no mana cost, it's white, and it's a Zombie in addition to its other types."}
 #:card{:type-line "Token Creature — Cat",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af0086cd-56b5-450e-818c-e54f45d1a104.png?1562844817",
        :collector-number "16",
        :layout "token",
        :name "Cat",
        :oracle-text
        "Lifelink (Damage dealt by this creature also causes you to gain that much life.)"}
 #:card{:type-line "Token Creature — Warrior",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/d/2d1446ed-f114-421d-bb60-9aeb655e5adb.png?1562844787",
        :collector-number "17",
        :layout "token",
        :name "Warrior",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Drake",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/5/65844e72-aa84-483f-b07e-9e34e798aaec.png?1625511529",
        :collector-number "18",
        :layout "token",
        :name "Drake",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/242c381e-df58-4365-a68c-add1127a83cc.png?1562844784",
        :collector-number "19",
        :layout "token",
        :name "Insect",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b5bd6905-79be-4d2c-a343-f6e6a181b3e6.png?1562844819",
        :collector-number "20",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/9/29b7ecd1-c70e-467c-a9ea-99c2668c3405.png?1562844786",
        :collector-number "21",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Hippo",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1aea5e0b-dc4e-4055-9e13-1dfbc25a2f00.png?1562844782",
        :collector-number "22",
        :layout "token",
        :name "Hippo",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Snake",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/a/6aaa8539-8d21-4da1-8410-d4354078390f.png?1562844799",
        :collector-number "23",
        :layout "token",
        :name "Snake",
        :oracle-text "Deathtouch"}
 #:card{:type-line "Token Creature — Wurm",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/366c01a7-6399-496b-a5a3-8be45475ce33.png?1562844789",
        :collector-number "24",
        :layout "token",
        :name "Wurm",
        :oracle-text ""}
 #:card{:type-line "Emblem — Gideon",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cbebd89c-0b29-44c7-bc99-53dd4b836520.png?1562844822",
        :collector-number "25",
        :layout "emblem",
        :name "Gideon of the Trials Emblem",
        :oracle-text
        "As long as you control a Gideon planeswalker, you can't lose the game and your opponents can't win the game."}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/993b4bfd-c5c1-4d0e-b7ff-7615245f9df8.png?1562844808",
        :collector-number "26",
        :layout "token",
        :name "Punchcard",
        :oracle-text ""}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "takh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0ca931b5-6e12-468c-a1d1-e01363b872b1.png?1562844776",
        :collector-number "27",
        :layout "token",
        :name "Punchcard",
        :oracle-text ""})
