(#:card{:code "tala",
        :collector-number "1",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/927580e6-353a-46bb-ac05-52a5fa78a959.png?1562636791",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tala",
        :collector-number "2",
        :name "Homunculus",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/3546df95-926d-421d-a763-e559a1847273.png?1562636720",
        :type-line "Token Artifact Creature — Homunculus",
        :oracle-text ""}
 #:card{:code "tala",
        :collector-number "3",
        :name "Thopter",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/52510a8b-a5a2-421b-a8b4-5ab60c848628.png?1562636750",
        :type-line "Token Artifact Creature — Thopter",
        :oracle-text "Flying"}
 #:card{:code "tala",
        :collector-number "4",
        :name "Skeleton",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/6894192e-782b-49ef-b9fc-28b76e2268ab.png?1562636766",
        :type-line "Token Creature — Skeleton",
        :oracle-text "{B}: Regenerate this creature."}
 #:card{:code "tala",
        :collector-number "5",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/ba9b6612-5372-4e6f-841f-20009f71a736.png?1562636838",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tala",
        :collector-number "6",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cbb3e91d-9cae-49c8-ba92-087ad8171b9d.png?1562636854",
        :type-line "Token Creature — Dragon",
        :oracle-text "Flying"}
 #:card{:code "tala",
        :collector-number "7",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b2b01b8-3dcb-4eab-9402-0db343543c38.png?1562636718",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "tala",
        :collector-number "8",
        :name "Ooze",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/39a4b6d1-c5f5-4a2d-a00c-97f6395c941b.png?1562636722",
        :type-line "Token Creature — Ooze",
        :oracle-text ""}
 #:card{:code "tala",
        :collector-number "9",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/2/622759a9-e68b-48c1-8e03-beaab0a52556.png?1562636758",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "tala",
        :collector-number "10",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a7382e4b-43dc-4b35-8a9e-ab886ea0a981.png?1562636807",
        :type-line "Token Creature — Beast",
        :oracle-text ""})
