(#:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tavr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/68dd1682-a5d5-4323-b876-66a86c311c43.png?1561757340",
        :collector-number "1",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "tavr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/8/8894949b-f190-461e-996a-cf2b39f08a5d.png?1561757514",
        :collector-number "2",
        :layout "token",
        :name "Human",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tavr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/59e79ba0-33c8-46c8-8694-8bf854345fe7.png?1561757197",
        :collector-number "3",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tavr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/4/44c14591-f807-40cf-9c00-4c94b85fff44.png?1561757027",
        :collector-number "4",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Demon",
        :layout-category :normal,
        :code "tavr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/a/6a3fc83f-ab02-4a44-910a-bfadc71cf162.png?1561757351",
        :collector-number "5",
        :layout "token",
        :name "Demon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tavr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b877c19d-6022-4377-92e7-4511e24eb98e.png?1561757915",
        :collector-number "6",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "tavr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5da1ef9d-878a-49d8-afe5-86ad18e30c3d.png?1561757254",
        :collector-number "7",
        :layout "token",
        :name "Human",
        :oracle-text ""}
 #:card{:type-line "Emblem — Tamiyo",
        :layout-category :normal,
        :code "tavr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/cce7547c-6d3d-4586-83b2-3d208113b045.png?1561758093",
        :collector-number "8",
        :layout "emblem",
        :name "Tamiyo, the Moon Sage Emblem",
        :oracle-text
        "You have no maximum hand size.\nWhenever a card is put into your graveyard from anywhere, you may return it to your hand."})
