(#:card{:type-line "Token Creature — Eldrazi",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/30ff04d5-ecaf-4be2-94f4-d5409f1c1e4e.png?1562639735",
        :collector-number "1",
        :layout "token",
        :name "Eldrazi",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Eldrazi Scion",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b999a0fe-d2d0-4367-9abb-6ce5f3764f19.png?1562640005",
        :collector-number "2",
        :layout "token",
        :name "Eldrazi Scion",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Eldrazi Scion",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/abcdf03d-d237-4ceb-91fa-8f95341af369.png?1562639975",
        :collector-number "3",
        :layout "token",
        :name "Eldrazi Scion",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Eldrazi Scion",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5a5c74d5-b219-4514-8fd6-62705459422c.png?1562639818",
        :collector-number "4",
        :layout "token",
        :name "Eldrazi Scion",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Knight Ally",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/4/0419a202-6e32-4f0a-a032-72f6c00cae5e.png?1562639654",
        :collector-number "5",
        :layout "token",
        :name "Knight Ally",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Kor Ally",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/be224180-a482-4b94-8a9d-3a92ee0eb34b.png?1562640020",
        :collector-number "6",
        :layout "token",
        :name "Kor Ally",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Octopus",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/19ac0a35-fae7-49f9-ae96-4406df992dc9.png?1562639696",
        :collector-number "7",
        :layout "token",
        :name "Octopus",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e8e4b631-7374-4503-aa66-2a45a41972d3.png?1562640115",
        :collector-number "8",
        :layout "token",
        :name "Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/10cb10f5-e22a-4ccd-a1b0-c6f245b15f64.png?1562639678",
        :collector-number "9",
        :layout "token",
        :name "Elemental",
        :oracle-text "Trample, haste"}
 #:card{:type-line "Token Creature — Plant",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/10a63c10-9bf9-4e0f-831c-830d7994a62a.png?1562639676",
        :collector-number "10",
        :layout "token",
        :name "Plant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/ed666385-a2e7-4e1f-ad2c-babbfc0c50b3.png?1562640123",
        :collector-number "11",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Emblem — Gideon",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cd8be597-f402-4fb0-9135-897c4a0946f6.png?1562640051",
        :collector-number "12",
        :layout "emblem",
        :name "Gideon, Ally of Zendikar Emblem",
        :oracle-text "Creatures you control get +1/+1."}
 #:card{:type-line "Emblem — Nixilis",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/8/18a77885-c0de-4487-a920-6fb9ea9bc408.png?1562639694",
        :collector-number "13",
        :layout "emblem",
        :name "Ob Nixilis Reignited Emblem",
        :oracle-text
        "Whenever a player draws a card, you lose 2 life."}
 #:card{:type-line "Emblem — Kiora",
        :layout-category :normal,
        :code "tbfz",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/55952cc8-09d8-4260-8387-284df7223d74.png?1562639811",
        :collector-number "14",
        :layout "emblem",
        :name "Kiora, Master of the Depths Emblem",
        :oracle-text
        "Whenever a creature enters the battlefield under your control, you may have it fight target creature."})
