(#:card{:type-line "Token Legendary Artifact Creature — Robot",
        :layout-category :normal,
        :code "tbot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/7/47b48ea5-a12f-4a3b-b7d9-2124e43d8833.png?1675455317",
        :collector-number "1",
        :layout "token",
        :name "Laserbeak",
        :oracle-text "Flying, hexproof"}
 #:card{:type-line "Token Legendary Artifact Creature — Robot",
        :layout-category :normal,
        :code "tbot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/3/b3170b92-b4eb-4826-92ed-85deba4c4c88.png?1676900494",
        :collector-number "2",
        :layout "token",
        :name "Ravage",
        :oracle-text "Menace, deathtouch"})
