(#:card{:type-line "Token",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/3/43ec2f4d-d988-49a8-b2ac-598703fe8b26.png?1675456346",
        :collector-number "1",
        :layout "token",
        :name "Copy",
        :oracle-text
        "(This token can be used to represent a token that's a copy of a permanent.)"}
 #:card{:type-line "Token Creature — Eldrazi",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/0/e0747a00-b43a-45de-947f-76d414159f92.png?1675456364",
        :collector-number "2",
        :layout "token",
        :name "Eldrazi",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Goat",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/f/7fc777ba-4380-4d9d-8a0d-88e3213107cf.png?1675456372",
        :collector-number "3",
        :layout "token",
        :name "Goat",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Faerie",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/1/f1c9e102-7abb-4b72-867f-3aa2f51f6f77.png?1675456379",
        :collector-number "4",
        :layout "token",
        :name "Faerie",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact Creature — Phyrexian Myr",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/9/59d1db83-674d-4389-837d-564ee7ed07af.png?1675456387",
        :collector-number "5",
        :layout "token",
        :name "Phyrexian Myr",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/e/cef0352e-f879-44f1-ac24-71bab8fbf6d5.png?1675456395",
        :collector-number "6",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Inkling",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/6/f602f9b0-a492-483f-9326-a06a0a63d047.png?1675456402",
        :collector-number "7",
        :layout "token",
        :name "Inkling",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/5/35dd4d3f-ac03-4bf0-bae2-ad44f61578a8.png?1675456410",
        :collector-number "8",
        :layout "token",
        :name "Construct",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/8/287ccbc9-2ffa-4fb3-97d8-2bd469c9411a.png?1675456418",
        :collector-number "9",
        :layout "token",
        :name "Mishra's Warform",
        :oracle-text
        "(This token has the abilities and other types of the copied artifact.)"}
 #:card{:type-line "Token Artifact Creature — Myr",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/3/43b8035b-3e3e-44bb-bfef-4c5474fcc7d8.png?1675456427",
        :collector-number "10",
        :layout "token",
        :name "Myr",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Phyrexian Horror",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/b/8baa11ac-c774-4faf-8bc3-e8e1fb945c01.png?1675456434",
        :collector-number "11",
        :layout "token",
        :name "Phyrexian Horror",
        :oracle-text ""}
 #:card{:type-line "Token Artifact",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/3/f36fdf0d-035d-4313-87f5-4a2502a20518.png?1675456442",
        :collector-number "12",
        :layout "token",
        :name "Scrap",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Servo",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/c/8c6e94bc-9d23-44db-a961-677d95dd67d0.png?1675456451",
        :collector-number "13",
        :layout "token",
        :name "Servo",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tbrc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/e/ee793f2e-f5e0-4cdb-b620-6959ff4b6541.png?1675456459",
        :collector-number "14",
        :layout "token",
        :name "Elemental",
        :oracle-text ""})
