(#:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/4/349e3241-8f9d-4c52-9848-e01b575fd372.png?1675455446",
        :collector-number "1",
        :layout "token",
        :name "Spirit",
        :oracle-text
        "Vigilance\nWhenever you draw a card, put a +1/+1 counter on this creature."}
 #:card{:type-line "Token Creature — Bear",
        :layout-category :normal,
        :code "tbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/7/772dac39-269b-4a35-aad3-320279af833f.png?1675455454",
        :collector-number "2",
        :layout "token",
        :name "Bear",
        :oracle-text ""}
 #:card{:type-line "Token Land Creature — Forest Dryad",
        :layout-category :normal,
        :code "tbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/4/74de70f2-93b6-4fc5-8c4d-464f880d3c54.png?1675455461",
        :collector-number "3",
        :layout "token",
        :name "Forest Dryad",
        :oracle-text
        "(This creature is affected by summoning sickness, and it has \"{T}: Add {G}.\")"}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/8/087ab398-474f-4455-bef4-ea42c6913486.png?1675455468",
        :collector-number "4",
        :layout "token",
        :name "Construct",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/1/914fecab-24c0-4179-84d6-ded78c29134f.png?1675455476",
        :collector-number "5",
        :layout "token",
        :name "Construct",
        :oracle-text
        "This creature gets +1/+1 for each artifact you control."}
 #:card{:type-line "Token Artifact Creature — Golem",
        :layout-category :normal,
        :code "tbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/7/474c8cfe-71ce-46c7-8cf4-dfeae3c0e73b.png?1675455483",
        :collector-number "6",
        :layout "token",
        :name "Golem",
        :oracle-text ""}
 #:card{:type-line "Token Artifact — Powerstone",
        :layout-category :normal,
        :code "tbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/4/d45fe4b6-aeaf-4f84-b660-c7b482ed8512.png?1685189438",
        :collector-number "7",
        :layout "token",
        :name "Powerstone",
        :oracle-text
        "{T}: Add {C}. This mana can't be spent to cast a nonartifact spell."}
 #:card{:type-line "Token Artifact Creature — Soldier",
        :layout-category :normal,
        :code "tbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/7/37da5b54-ec55-46e3-9f0b-565cbbe1ac7a.png?1675455498",
        :collector-number "8",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Soldier",
        :layout-category :normal,
        :code "tbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/3/83981313-ff55-4030-ac82-d6a3087cf675.png?1675455506",
        :collector-number "9",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/5/4501d15d-d306-4372-9516-bd63cf788f45.png?1675455514",
        :collector-number "10",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact Creature — Zombie",
        :layout-category :normal,
        :code "tbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/e/fef47d03-9050-48ed-994f-f72582967dbd.png?1675455521",
        :collector-number "11",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Emblem",
        :layout-category :normal,
        :code "tbro",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/0/9020571d-97fb-4f46-85ec-6cb3141bfc87.png?1675455528",
        :collector-number "12",
        :layout "emblem",
        :name "Saheeli, Filigree Master Emblem",
        :oracle-text
        "Artifact creatures you control get +1/+1.\nArtifact spells you cast cost {1} less to cast."})
