(#:card{:code "tbth",
        :collector-number "1",
        :name "Minotaur Goreseeker",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3d2f2bcc-0db9-4aa1-b63d-587c62468015.png?1562639757",
        :type-line "Token Creature — Minotaur",
        :oracle-text
        "Haste\nMinotaur Goreseeker attacks each turn if able."}
 #:card{:code "tbth",
        :collector-number "2",
        :name "Minotaur Younghorn",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c8e22f9-6b70-425c-a0a8-09b6101a286e.png?1562639728",
        :type-line "Token Creature — Minotaur",
        :oracle-text
        "Haste\nMinotaur Younghorn attacks each turn if able."}
 #:card{:code "tbth",
        :collector-number "3",
        :name "Mogis's Chosen",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/553ae9d2-3807-4ca8-a575-7fa6667ee212.png?1562639810",
        :type-line "Token Creature — Minotaur",
        :oracle-text
        "Mogis's Chosen enters the battlefield tapped.\nMogis's Chosen attacks each turn if able."}
 #:card{:code "tbth",
        :collector-number "4",
        :name "Phoberos Reaver",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1eda2434-523d-4e9c-a8f1-acbee5c87aac.png?1562639708",
        :type-line "Token Creature — Minotaur",
        :oracle-text
        "Haste\nPhoberos Reaver attacks each turn if able."}
 #:card{:code "tbth",
        :collector-number "5",
        :name "Reckless Minotaur",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/3/938272b2-8e1c-4196-8557-c597735dd96e.png?1562639929",
        :type-line "Token Creature — Minotaur",
        :oracle-text
        "Haste\nReckless Minotaur attacks each turn if able.\nAt the beginning of the end step, destroy Reckless Minotaur."}
 #:card{:code "tbth",
        :collector-number "6",
        :name "Consuming Rage",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/e/7e5d19fa-0f12-41cb-90a8-c027edbc893b.png?1562639885",
        :type-line "Sorcery",
        :oracle-text
        "Whenever a Minotaur attacks this turn, it gets +2/+0 until end of turn. Destroy that creature at end of combat."}
 #:card{:code "tbth",
        :collector-number "7",
        :name "Descend on the Prey",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/95e0a522-2395-438a-83bc-ea092e4286c3.png?1562639935",
        :type-line "Sorcery",
        :oracle-text
        "Whenever a Minotaur attacks this turn, it gains first strike until end of turn and must be blocked this turn if able."}
 #:card{:code "tbth",
        :collector-number "8",
        :name "Intervention of Keranos",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/6/661e8959-4c63-439b-8cbf-837f84ad3e57.png?1562639836",
        :type-line "Sorcery",
        :oracle-text
        "At the beginning of combat this turn, Intervention of Keranos deals 3 damage to each creature."}
 #:card{:code "tbth",
        :collector-number "9",
        :name "Touch of the Horned God",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c58bacd4-e84b-4c73-802f-5f65e5c94a46.png?1562640033",
        :type-line "Sorcery",
        :oracle-text
        "Whenever a Minotaur attacks this turn, it gains deathtouch until end of turn."}
 #:card{:code "tbth",
        :collector-number "10",
        :name "Unquenchable Fury",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d4d98fc6-da00-4d65-9469-9d2c5b111f2e.png?1644254317",
        :type-line "Sorcery",
        :oracle-text
        "Each Minotaur can't be blocked this turn except by two or more creatures."}
 #:card{:code "tbth",
        :collector-number "11",
        :name "Altar of Mogis",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f6882d51-1db2-4b08-8873-cb6f2d96b260.png?1562640138",
        :type-line "Artifact",
        :oracle-text
        "At the beginning of the Horde's precombat main phase, reveal an additional card from the top of the Horde's library. The Horde casts that card.\nHero's Reward — When Altar of Mogis is put into a graveyard from anywhere, the Horde sacrifices two Minotaurs."}
 #:card{:code "tbth",
        :collector-number "12",
        :name "Massacre Totem",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/6/a6e352e9-20ac-485b-bcaf-1d053c4ecb40.png?1562639963",
        :type-line "Artifact",
        :oracle-text
        "At the beginning of the Horde's precombat main phase, reveal an additional card from the top of the Horde's library. The Horde casts that card.\nHero's Reward — When Massacre Totem is put into a graveyard from anywhere, put the top seven cards of the Horde's library into its graveyard."}
 #:card{:code "tbth",
        :collector-number "13",
        :name "Plundered Statue",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/e/8eea07ed-a321-4403-b3a9-ce5e69a175fd.png?1562639920",
        :type-line "Artifact",
        :oracle-text
        "At the beginning of the Horde's precombat main phase, reveal an additional card from the top of the Horde's library.\nHero's Reward — When Plundered Statue is put into a graveyard from anywhere, each player draws a card."}
 #:card{:code "tbth",
        :collector-number "14",
        :name "Refreshing Elixir",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b1d75296-e2a5-48f3-a98d-3633be9f6138.png?1562639987",
        :type-line "Artifact",
        :oracle-text
        "At the beginning of the Horde's precombat main phase, reveal an additional card from the top of the Horde's library. The Horde casts that card.\nHero's Reward — When Refreshing Elixir is put into a graveyard from anywhere, each player gains 5 life."}
 #:card{:code "tbth",
        :collector-number "15",
        :name "Vitality Salve",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6ede8ada-95c6-426b-83f6-17f25afc3c21.png?1562639851",
        :type-line "Artifact",
        :oracle-text
        "At the beginning of the Horde's precombat main phase, reveal an additional card from the top of the Horde's library. The Horde casts that card.\nHero's Reward — When Vitality Salve is put into a graveyard from anywhere, each player returns a creature card from their graveyard to the battlefield."})
