(#:card{:code "tc14",
        :collector-number "1",
        :name "Angel",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c8fe0d7-5c40-45fe-b3d8-47852380845e.png?1562542392",
        :type-line "Token Creature — Angel",
        :oracle-text "Flying"}
 #:card{:code "tc14",
        :collector-number "2",
        :name "Cat",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/5038c1a3-882d-4640-b8ad-c2c60b0f1973.png?1562542380",
        :type-line "Token Creature — Cat",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "3",
        :name "Goat",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5ba0e1c8-bb8e-4be4-8177-b2175e0c33fb.png?1562542383",
        :type-line "Token Creature — Goat",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "4",
        :name "Kor Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d9c95045-e806-4933-94a4-cb52ae1a215b.png?1562542413",
        :type-line "Token Creature — Kor Soldier",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "5",
        :name "Pegasus",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e77b5dd-af53-4229-bd7f-9b961ebde8f7.png?1562541936",
        :type-line "Token Creature — Pegasus",
        :oracle-text "Flying"}
 #:card{:code "tc14",
        :collector-number "6",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/9/a9ef7318-b46c-4463-9a30-3937f57d9c71.png?1562542396",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "7",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/6/66c51c7f-b2d2-4a8a-84c6-57382e06fe7b.png?1562542385",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tc14",
        :collector-number "8",
        :name "Fish",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1f3cea7c-d092-410d-8c32-af0f4c8bc878.png?1562541939",
        :type-line "Token Creature — Fish",
        :oracle-text
        "When this creature dies, create a 6/6 blue Whale creature token with \"When this creature dies, create a 9/9 blue Kraken creature token.\""}
 #:card{:code "tc14",
        :collector-number "9",
        :name "Kraken",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/4/b4ed9fe6-50cc-45e2-aeaa-df6e34eb7fe4.png?1562542400",
        :type-line "Token Creature — Kraken",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "10",
        :name "Whale",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/ccd172b9-377a-4dbf-a11a-e4985da62c72.png?1562542407",
        :type-line "Token Creature — Whale",
        :oracle-text
        "When this creature dies, create a 9/9 blue Kraken creature token."}
 #:card{:code "tc14",
        :collector-number "11",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/7/d791c7af-1ba7-45ab-ad0c-be9ebc9e51f9.png?1562542412",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "12",
        :name "Demon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/952e41e4-2e1e-4977-a33b-6835446af0e6.png?1562542390",
        :type-line "Token Creature — Demon",
        :oracle-text "Flying"}
 #:card{:code "tc14",
        :collector-number "13",
        :name "Demon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c655cd86-ed24-46e4-95d8-7eb1cf251de4.png?1562542405",
        :type-line "Token Creature — Demon",
        :oracle-text "Flying"}
 #:card{:code "tc14",
        :collector-number "14",
        :name "Germ",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/eede5cf7-1c41-4523-ad27-9c232e1f2bb5.png?1562542418",
        :type-line "Token Creature — Germ",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "15",
        :name "Horror",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/fadae5ee-1973-4905-8b37-69e826523905.png?1562542419",
        :type-line "Token Creature — Horror",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "16",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/0397aa00-6d82-47d9-bc30-072b722c8b71.png?1562541932",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "17",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/4/74502af2-3428-4003-9ee5-418af848af2f.png?1562542387",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "18",
        :name "Ape",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/8343e00c-5fc6-46a0-a238-3759338dced4.png?1562542388",
        :type-line "Token Creature — Ape",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "19",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/4/445e2667-3b00-4e01-ac4b-20f4af267387.png?1562542376",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "20",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/3/c30a67ba-df39-4a70-a725-6853e3fcba0b.png?1562542403",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "21",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/1449862b-309e-4c58-ac94-13d1acdd363f.png?1562541935",
        :type-line "Token Creature — Elemental",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "22",
        :name "Elephant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9ce92a71-b1f8-4393-90ce-2807c74217be.png?1562542393",
        :type-line "Token Creature — Elephant",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "23",
        :name "Elf Druid",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/01b1f130-2e12-4e57-876b-fc81619ff01f.png?1562541930",
        :type-line "Token Creature — Elf Druid",
        :oracle-text "{T}: Add {G}."}
 #:card{:code "tc14",
        :collector-number "24",
        :name "Elf Warrior",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a1ad366d-645c-4b14-8e51-437431eb0fa5.png?1562542395",
        :type-line "Token Creature — Elf Warrior",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "25",
        :name "Treefolk",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/a/2a3f0d52-34cd-4095-bfa0-bbf9562a8146.png?1562542373",
        :type-line "Token Creature — Treefolk",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "26",
        :name "Wolf",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dce952a6-a5d2-4fb9-b66b-1852ab698ac6.png?1562542416",
        :type-line "Token Creature — Wolf",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "27",
        :name "Gargoyle",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d41faa34-e156-4ca3-a528-dc78a442d261.png?1562542410",
        :type-line "Token Artifact Creature — Gargoyle",
        :oracle-text "Flying"}
 #:card{:code "tc14",
        :collector-number "28",
        :name "Myr",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/dbad9b20-0b13-41b9-a84a-06b691ee6c71.png?1562542415",
        :type-line "Token Artifact Creature — Myr",
        :oracle-text ""}
 #:card{:code "tc14",
        :collector-number "29",
        :name "Pentavite",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a9a25fd-1a4c-4d63-bbfa-296ef53feb8b.png?1562541933",
        :type-line "Token Artifact Creature — Pentavite",
        :oracle-text "Flying"}
 #:card{:code "tc14",
        :collector-number "30",
        :name "Stoneforged Blade",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/59a00cac-53ae-46ad-8468-e6d1db40b266.png?1562542382",
        :type-line "Token Artifact — Equipment",
        :oracle-text
        "Indestructible\nEquipped creature gets +5/+5 and has double strike.\nEquip {0}"}
 #:card{:code "tc14",
        :collector-number "31",
        :name "Tuktuk the Returned",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/2/2250038e-4b67-4c44-b446-e78c451e5fbd.png?1562541941",
        :type-line "Token Artifact Creature — Goblin Golem",
        :oracle-text "Tuktuk the Returned is legendary."}
 #:card{:code "tc14",
        :collector-number "32",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1f27a3e2-bfd6-4d01-aef1-0bdb09e41ee0.png?1562541938",
        :type-line "Token Artifact Creature — Wurm",
        :oracle-text "Deathtouch"}
 #:card{:code "tc14",
        :collector-number "33",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/2/c20607b9-4f4a-4dbc-a09f-250ba2d53f80.png?1562542402",
        :type-line "Token Artifact Creature — Wurm",
        :oracle-text "Lifelink"}
 #:card{:code "tc14",
        :collector-number "34",
        :name "Teferi, Temporal Archmage Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/ccdc8ec0-0c50-4eab-90b3-847498d1612c.png?1562542408",
        :type-line "Emblem — Teferi",
        :oracle-text
        "You may activate loyalty abilities of planeswalkers you control on any player's turn any time you could cast an instant."}
 #:card{:code "tc14",
        :collector-number "35",
        :name "Ob Nixilis of the Black Oath Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4c29f6a1-42a5-433f-9c09-c160b096f8e1.png?1562542378",
        :type-line "Emblem — Nixilis",
        :oracle-text
        "{1}{B}, Sacrifice a creature: You gain X life and draw X cards, where X is the sacrificed creature's power."}
 #:card{:code "tc14",
        :collector-number "36",
        :name "Daretti, Scrap Savant Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/43a3cfba-50f5-4d8c-96dd-3c4a70cb36ee.png?1562542375",
        :type-line "Emblem — Daretti",
        :oracle-text
        "Whenever an artifact is put into your graveyard from the battlefield, return that card to the battlefield at the beginning of the next end step."})
