(#:card{:type-line "Card",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/3/73805b39-7624-4fbd-bcc0-4241e733a97f.png?1554069468",
        :collector-number "0",
        :layout "normal",
        :name "Experience",
        :oracle-text "(Place your experience counters here.)"}
 #:card{:type-line "Token Creature — Shapeshifter",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/57753582-85bc-4485-b924-eaab563678d6.png?1562857266",
        :collector-number "1",
        :layout "token",
        :name "Shapeshifter",
        :oracle-text "Changeling"}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/a/8adb32a4-6a42-41e9-a1ce-9502e391620a.png?1562857270",
        :collector-number "2",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Cat",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/4/9494ce65-5f2d-421c-a112-5de18e36f48b.png?1562857278",
        :collector-number "3",
        :layout "token",
        :name "Cat",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Knight",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/a/2a6415b3-cd84-41fc-95cd-3d2dd84911cb.png?1562857262",
        :collector-number "4",
        :layout "token",
        :name "Knight",
        :oracle-text "First strike"}
 #:card{:type-line "Token Creature — Knight",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fb900962-2273-4e13-92c5-e9aced0d322d.png?1562857292",
        :collector-number "5",
        :layout "token",
        :name "Knight",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Drake",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/f/8fb5229a-8bdf-4090-8a5c-a35780bd6ff9.png?1562857271",
        :collector-number "6",
        :layout "token",
        :name "Drake",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Germ",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d573bb59-5167-4578-8674-355f38d0b7be.png?1562857285",
        :collector-number "7",
        :layout "token",
        :name "Germ",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/f/8ffaa67e-32fa-4843-8858-feed2ebb40df.png?1562857273",
        :collector-number "8",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e290b7f1-1598-4581-96b1-f57419ec408e.png?1562857287",
        :collector-number "9",
        :layout "token",
        :name "Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Elemental Shaman",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/2/12b27173-a486-4c03-8fce-e334f35d40b6.png?1562857258",
        :collector-number "10",
        :layout "token",
        :name "Elemental Shaman",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cde2b3db-d71b-401f-852c-81c39d585a16.png?1562857284",
        :collector-number "11",
        :layout "token",
        :name "Lightning Rager",
        :oracle-text
        "Trample, haste\nAt the beginning of the end step, sacrifice this creature."}
 #:card{:type-line "Token Creature — Bear",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c879d4a6-cef5-48f1-8c08-f5b59ec850de.png?1562857282",
        :collector-number "12",
        :layout "token",
        :name "Bear",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/920f4eca-4e0c-4cbc-9a9b-a5b4b447d49d.png?1562857276",
        :collector-number "13",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elephant",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3dfc158c-bc5a-4f4b-a813-8ae372dbb0e7.png?1562857265",
        :collector-number "14",
        :layout "token",
        :name "Elephant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Frog Lizard",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3bb5609e-6e4b-4af5-838d-88b76582ae70.png?1562857263",
        :collector-number "15",
        :layout "token",
        :name "Frog Lizard",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/f/bf6cf1cf-3efa-409f-84ec-783621566000.png?1562857281",
        :collector-number "16",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Snake",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f29ed172-10e9-430d-977f-7f48da2b65de.png?1562857291",
        :collector-number "17",
        :layout "token",
        :name "Snake",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spider",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e8efa0fc-e710-44f8-8128-485c2d43cc9e.png?1562857289",
        :collector-number "18",
        :layout "token",
        :name "Spider",
        :oracle-text "Reach"}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7dc406c6-c2d7-4771-b916-258f7a35275a.png?1562857268",
        :collector-number "19",
        :layout "token",
        :name "Wolf",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/2/123f4998-2fee-4533-97ea-3afba67e6b80.png?1562857256",
        :collector-number "20",
        :layout "token",
        :name "Elemental",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Snake",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/153f01ac-8601-488f-8da7-72f392c0a3c6.png?1562857260",
        :collector-number "21",
        :layout "token",
        :name "Snake",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9e50a908-0adb-4149-b8cf-2cfb56eab2cb.png?1562857279",
        :collector-number "22",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Enchantment Creature — Spirit",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/03553980-53fa-4256-b478-c7e0e73e2b5b.png?1563132220",
        :collector-number "23",
        :layout "token",
        :name "Spirit",
        :oracle-text
        "This creature's power and toughness are each equal to the number of experience counters you have."}
 #:card{:type-line "Token Artifact — Gold",
        :layout-category :normal,
        :code "tc15",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0ca10abd-8d9d-4c0b-9d33-c3516abdf6b3.png?1562857254",
        :collector-number "24",
        :layout "token",
        :name "Gold",
        :oracle-text
        "Sacrifice this artifact: Add one mana of any color."})
