(#:card{:type-line "Creature",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d6fb189b-20a3-4ba4-86ec-f84513e0281a.png?1592709971",
        :collector-number "1",
        :layout "token",
        :name "Manifest",
        :oracle-text
        "(You can cover a face-down manifested creature with this reminder card.\nA manifested creature card can be turned face up any time for its mana cost. A face-down card can also be turned face up for its morph cost.)"}
 #:card{:type-line "Token Creature — Shapeshifter",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d01a5225-4a61-4fa3-b38b-452606140781.png?1592709979",
        :collector-number "2",
        :layout "token",
        :name "Shapeshifter",
        :oracle-text "Changeling"}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/a/6ac609aa-49d1-4330-b718-a90b0560da52.png?1592709988",
        :collector-number "3",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Enchantment — Aura",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/2/b21b5504-c5ef-4dfc-8219-8db90aca7694.png?1592709997",
        :collector-number "4",
        :layout "token",
        :name "Mask",
        :oracle-text
        "Enchant permanent\nTotem armor (If enchanted permanent would be destroyed, instead remove all damage from it and destroy this Aura.)"}
 #:card{:type-line "Token Creature — Cat",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/8/58a18a05-4fa1-467e-9310-e5c6dc797fcf.png?1592710004",
        :collector-number "5",
        :layout "token",
        :name "Cat",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a3ef007f-d90f-4835-a5c0-35fb33c63719.png?1592710011",
        :collector-number "6",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Myr",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/5/656af066-f9b3-4c23-b6c4-3ff55776858f.png?1592710019",
        :collector-number "7",
        :layout "token",
        :name "Myr",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a3506ee6-a168-49a4-9814-2858194be60e.png?1592710025",
        :collector-number "8",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/faa2e829-fa71-426b-b71f-dfa021786531.png?1592710033",
        :collector-number "9",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dragon Egg",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0e80f154-9409-40fa-a564-6fc296498d80.png?1592710041",
        :collector-number "10",
        :layout "token",
        :name "Dragon Egg",
        :oracle-text
        "Defender\nWhen this creature dies, create a 2/2 red Dragon creature token with flying and \"{R}: This creature gets +1/+0 until end of turn.\""}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5afb55d9-0852-4fe5-8e3b-330714d4c245.png?1592710048",
        :collector-number "11",
        :layout "token",
        :name "Dragon",
        :oracle-text
        "Flying\n{R}: This creature gets +1/+0 until end of turn."}
 #:card{:type-line "Token Creature — Survivor",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f4478979-19b6-4524-bbbd-519594c38f5a.png?1592710055",
        :collector-number "12",
        :layout "token",
        :name "Survivor",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/381854e2-7369-473e-a604-4dd7c010fc89.png?1592710061",
        :collector-number "13",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/4/44675b6a-ea5a-44f1-9f2c-3725cdfcc814.png?1592710068",
        :collector-number "14",
        :layout "token",
        :name "Beast",
        :oracle-text "Trample"}
 #:card{:type-line "Token Creature — Cat Warrior",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/7/0742ca95-9455-4f56-b26c-2994d12af602.png?1592710075",
        :collector-number "15",
        :layout "token",
        :name "Cat Warrior",
        :oracle-text "Forestwalk"}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c5ad13b4-bbf5-4c98-868f-4d105eaf8833.png?1592710082",
        :collector-number "16",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Plant",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/84fcc620-a467-47ce-bbbe-387bad7619ab.png?1592710089",
        :collector-number "17",
        :layout "token",
        :name "Plant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Worm",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/4/74b0276f-004e-458a-b941-e217216141f6.png?1592710098",
        :collector-number "18",
        :layout "token",
        :name "Worm",
        :oracle-text ""}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/3/93acc8a5-c694-4ad8-b4c0-2e156424319d.png?1592710105",
        :collector-number "19",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/f/7fee6034-f0bb-49b9-ad75-67d3d6be1159.png?1592710114",
        :collector-number "20",
        :layout "token",
        :name "Construct",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/9/8936efa7-c4d0-426d-977b-38c957a9f025.png?1592710123",
        :collector-number "21",
        :layout "token",
        :name "Construct",
        :oracle-text "Trample"}
 #:card{:type-line "Token Artifact Creature — Horror",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/ae98a532-2e83-46bc-b391-cc0ab20ea0da.png?1592710130",
        :collector-number "22",
        :layout "token",
        :name "Horror",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Myr",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e9c49fa9-6f8b-4d3a-9b11-edbf4c8b8baa.png?1592710137",
        :collector-number "23",
        :layout "token",
        :name "Myr",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Servo",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6ec42fab-86b8-4479-90f2-a1690318d6d4.png?1592710143",
        :collector-number "24",
        :layout "token",
        :name "Servo",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/2/62cafc0a-cd02-4265-aa1f-b8a6cb7cc8db.png?1592710150",
        :collector-number "25",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tc18",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8d502061-ca95-4067-a61f-bc5294c274dd.png?1592710157",
        :collector-number "26",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"})
