(#:card{:code "tc19",
        :collector-number "1",
        :name "Bird",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4ac57a34-23ad-4780-a464-e2472d277a27.png?1568003319",
        :type-line "Token Creature — Bird",
        :oracle-text "Flying"}
 #:card{:code "tc19",
        :collector-number "2",
        :name "Bird",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/5988dc9e-724f-4645-8769-b94c5ef631b9.png?1568003326",
        :type-line "Token Creature — Bird",
        :oracle-text "Flying"}
 #:card{:code "tc19",
        :collector-number "3",
        :name "Human",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/95f99a6a-dcd9-412e-84cf-916aafad5dfb.png?1572370424",
        :type-line "Token Creature — Human",
        :oracle-text ""}
 #:card{:code "tc19",
        :collector-number "4",
        :name "Pegasus",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f1e1d6b9-e1a2-4c26-981a-507bc895be8e.png?1572370471",
        :type-line "Token Creature — Pegasus",
        :oracle-text "Flying"}
 #:card{:code "tc19",
        :collector-number "5",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/1/d1ac09a7-239b-43af-ac7a-8c79618dc9e3.png?1572370476",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tc19",
        :collector-number "6",
        :name "Angel of Sanctions",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/8/a80e1cab-ff67-459f-ab64-2c340a8e36ac.png?1572370656",
        :type-line "Token Creature — Zombie Angel",
        :oracle-text
        "Flying\nWhen Angel of Sanctions enters the battlefield, you may exile target nonland permanent an opponent controls until Angel of Sanctions leaves the battlefield."}
 #:card{:code "tc19",
        :collector-number "7",
        :name "Heart-Piercer Manticore",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/d/ad1863c6-13c8-4116-9312-32c215f88ee1.png?1572370671",
        :type-line "Token Creature — Zombie Manticore",
        :oracle-text
        "When Heart-Piercer Manticore enters the battlefield, you may sacrifice another creature. When you do, Heart-Piercer Manticore deals damage equal to that creature's power to any target."}
 #:card{:code "tc19",
        :collector-number "8",
        :name "Drake",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/79f8b710-df8b-4b44-8f70-d5217d7b62ff.png?1572370675",
        :type-line "Token Creature — Drake",
        :oracle-text "Flying"}
 #:card{:code "tc19",
        :collector-number "9",
        :name "Assassin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/4/4401437c-23ea-44ac-a8e7-eb033e1d61eb.png?1572370679",
        :type-line "Token Creature — Assassin",
        :oracle-text
        "Whenever this creature deals combat damage to a player, that player loses the game."}
 #:card{:code "tc19",
        :collector-number "10",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/59bad855-ff86-4f98-bf18-0982c7aea9c5.png?1568003399",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tc19",
        :collector-number "11",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/e/8e214f84-01ee-49c1-8801-4e550b5ade5d.png?1572370688",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tc19",
        :collector-number "12",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a378702b-d074-4402-b423-2ca8f44fce7c.png?1572370699",
        :type-line "Token Creature — Dragon",
        :oracle-text "Flying"}
 #:card{:code "tc19",
        :collector-number "13",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/564ed3be-ef91-42eb-90ff-452bc23463b5.png?1572370727",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tc19",
        :collector-number "14",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/99f37b65-06ec-47dc-a299-6e65d1254995.png?1572370715",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tc19",
        :collector-number "15",
        :name "Centaur",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/91a182ce-11e6-4a7e-a306-15e3670fc433.png?1572370720",
        :type-line "Token Creature — Centaur",
        :oracle-text ""}
 #:card{:code "tc19",
        :collector-number "16",
        :name "Egg",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bb66de6b-8815-4e6c-a093-18607b003b88.png?1568003463",
        :type-line "Token Creature — Egg",
        :oracle-text "Defender"}
 #:card{:code "tc19",
        :collector-number "17",
        :name "Plant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d4b6b06c-6ce7-405c-acc1-a2626fcde8ad.png?1572370744",
        :type-line "Token Creature — Plant",
        :oracle-text ""}
 #:card{:code "tc19",
        :collector-number "18",
        :name "Rhino",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/1/214a48bc-4a1c-44e3-9415-a73af3d4fd95.png?1568003482",
        :type-line "Token Creature — Rhino",
        :oracle-text "Trample"}
 #:card{:code "tc19",
        :collector-number "19",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/8/f8e4cbaa-95bc-424c-ac80-9e3e6d41d273.png?1572370767",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "tc19",
        :collector-number "20",
        :name "Snake",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/169dfab7-ff75-47df-8a20-7b4a729feafe.png?1572370781",
        :type-line "Token Creature — Snake",
        :oracle-text ""}
 #:card{:code "tc19",
        :collector-number "21",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/52df7443-9af7-4cab-a69a-2ffd04b48815.png?1572370785",
        :type-line "Token Creature — Wurm",
        :oracle-text ""}
 #:card{:code "tc19",
        :collector-number "22",
        :name "Gargoyle",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b10d8407-03a8-4ab8-a30a-4d9b651be863.png?1568003524",
        :type-line "Token Artifact Creature — Gargoyle",
        :oracle-text "Flying"}
 #:card{:code "tc19",
        :collector-number "23",
        :name "Horror",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/6188c0f0-0346-46d4-8a45-ae2749bf246f.png?1572370790",
        :type-line "Token Artifact Creature — Horror",
        :oracle-text ""}
 #:card{:code "tc19",
        :collector-number "24",
        :name "Sculpture",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/7/7711a586-37f9-4560-b25d-4fb339d9cd55.png?1568003539",
        :type-line "Token Artifact Creature — Sculpture",
        :oracle-text
        "This creature's power and toughness are each equal to the number of Sculptures you control."}
 #:card{:code "tc19",
        :collector-number "25",
        :name "Treasure",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e6fa7d35-9a7a-40fc-9b97-b479fc157ab0.png?1568003548",
        :type-line "Token Artifact — Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:code "tc19",
        :collector-number "26",
        :name "Eldrazi",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c9854bcf-8729-45b9-9ea3-c43898e4fe5f.png?1572370795",
        :type-line "Token Creature — Eldrazi",
        :oracle-text ""}
 #:card{:code "tc19",
        :collector-number "27",
        :name "Morph",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e9375cbe-93c0-41a5-a6e3-fb4416f54a69.png?1572370830",
        :type-line "Creature",
        :oracle-text
        "(You can cover a face-down creature with this reminder card.\nA card with morph can be turned face up any time for its morph cost.)"}
 #:card{:code "tc19",
        :collector-number "28",
        :name "Manifest",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e3088dea-11fd-403b-aaf4-56852283ba3d.png?1572370832",
        :type-line "Creature",
        :oracle-text
        "(You can cover a face-down manifested creature with this reminder card.\nA manifested creature card can be turned face up any time for its mana cost. A face-down card can also be turned face up for its morph cost.)"}
 #:card{:code "tc19",
        :collector-number "29",
        :name "Ob Nixilis Reignited Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/c/ac90d130-0d98-4e55-90ee-93c2fe8c1ed0.png?1568003581",
        :type-line "Emblem — Nixilis",
        :oracle-text
        "Whenever a player draws a card, you lose 2 life."})
