(#:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/9/29d42a00-299d-47d3-ba03-e63812d57931.png?1591319106",
        :collector-number "1",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/4/74bc5a99-095d-437e-8aa9-30845196dd1b.png?1591319115",
        :collector-number "2",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/17057115-9163-4f91-b2b9-8387ea547c9d.png?1591319124",
        :collector-number "3",
        :layout "token",
        :name "Elemental",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0dffd473-2b89-4f74-8bff-39b8eb408b26.png?1591319133",
        :collector-number "4",
        :layout "token",
        :name "Human",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/d/1dee8c94-cdc8-42b2-a393-0c0c8e439125.png?1591319146",
        :collector-number "5",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/9858cbdb-cf4a-4d72-b1c1-a151f6a3e794.png?1591319157",
        :collector-number "6",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Bird Illusion",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/f/0fd60456-70aa-49ae-a0a7-2c50cb085223.png?1591319166",
        :collector-number "7",
        :layout "token",
        :name "Bird Illusion",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Drake",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/7/07027a7c-5843-4d78-9b86-8799363c0b82.png?1591319174",
        :collector-number "8",
        :layout "token",
        :name "Drake",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3e8a0b96-9add-406a-bf10-bc943141edf5.png?1591319184",
        :collector-number "9",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/d/9d952cde-4b40-4a05-833e-029da3554c6d.png?1591319193",
        :collector-number "10",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e952eed6-0243-4f32-b6a5-64c2d3ab0ef8.png?1591319203",
        :collector-number "11",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Hydra",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/ebe2f431-75b6-4c3c-a601-15814752ea6c.png?1591319211",
        :collector-number "12",
        :layout "token",
        :name "Hydra",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a9b06fb-4617-4e2d-9747-e12791565527.png?1591319219",
        :collector-number "13",
        :layout "token",
        :name "Insect",
        :oracle-text "Flying, deathtouch"}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e584eb2-fa22-4d75-b612-e25ecf827918.png?1591319226",
        :collector-number "14",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Snake",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0e0f26b2-eaeb-4ea3-8305-1d65d4402d1a.png?1591319233",
        :collector-number "15",
        :layout "token",
        :name "Snake",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dinosaur Cat",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cb87f3e1-f4ba-459d-9bb9-6651fe073a0a.png?1591319240",
        :collector-number "16",
        :layout "token",
        :name "Dinosaur Cat",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Goblin Warrior",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d6b6561b-d6f0-4eea-8bc4-e3cd35b38c90.png?1591319247",
        :collector-number "17",
        :layout "token",
        :name "Goblin Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6bc05773-3721-4748-a218-97868e544b90.png?1591319256",
        :collector-number "18",
        :layout "token",
        :name "Insect",
        :oracle-text "Flying, haste"}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/2888d3ed-0719-4e1d-9de7-3da6fbde0c48.png?1591319265",
        :collector-number "19",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e2495d0-58e1-4756-8d68-f60052425e93.png?1595719618",
        :collector-number "20",
        :layout "token",
        :name "Ability Punchcard",
        :oracle-text ""}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tc20",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/9/09230a40-87b6-4427-8c4b-457fcdf5699d.png?1595719624",
        :collector-number "21",
        :layout "token",
        :name "Ability Punchcard",
        :oracle-text ""})
