(#:card{:code "tc21",
        :collector-number "1",
        :name "Eldrazi",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/390b256c-3381-4807-85a6-ff9e62a99bae.png?1641306070",
        :type-line "Token Creature — Eldrazi",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "2",
        :name "Drake",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dcd1cef8-d78a-4bdb-8da0-a50ad199c691.png?1641306072",
        :type-line "Token Creature — Drake",
        :oracle-text "Flying"}
 #:card{:code "tc21",
        :collector-number "3",
        :name "Fish",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/a/3abd270d-55d0-40f8-9864-4a7d7b9310ff.png?1641306072",
        :type-line "Token Creature — Fish",
        :oracle-text
        "When this creature dies, create a 6/6 blue Whale creature token with \"When this creature dies, create a 9/9 blue Kraken creature token.\""}
 #:card{:code "tc21",
        :collector-number "4",
        :name "Kraken",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f62080da-a11b-4da3-bb8f-57f543bf076a.png?1641306076",
        :type-line "Token Creature — Kraken",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "5",
        :name "Whale",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87a6f719-3e2f-48ea-829d-77134a2a8432.png?1641306079",
        :type-line "Token Creature — Whale",
        :oracle-text
        "When this creature dies, create a 9/9 blue Kraken creature token."}
 #:card{:code "tc21",
        :collector-number "6",
        :name "Champion of Wits",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/610d40e4-cbc5-4776-8544-5bc09df7e4f9.png?1641306079",
        :type-line "Token Creature — Zombie Naga Wizard",
        :oracle-text
        "When Champion of Wits enters the battlefield, you may draw cards equal to its power. If you do, discard two cards."}
 #:card{:code "tc21",
        :collector-number "7",
        :name "Demon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6df5992-9c1c-407d-9602-a6c659342a15.png?1641306081",
        :type-line "Token Creature — Demon",
        :oracle-text "Flying"}
 #:card{:code "tc21",
        :collector-number "8",
        :name "Horror",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a0b5e1f4-9206-40b6-9cf6-331f6a95d045.png?1641306083",
        :type-line "Token Creature — Horror",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "9",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f29c0f8b-0888-4d9f-a554-c4a79d079f54.png?1641306085",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "10",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/4/44a4ef4a-a026-424e-88ff-e2bb77aaf05d.png?1641306086",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "11",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06b5e4d2-7eac-4ee9-82aa-80a668705679.png?1641306088",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "12",
        :name "Boar",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a7f9534-ccbc-4304-afad-d2896be60b8e.png?1641306090",
        :type-line "Token Creature — Boar",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "13",
        :name "Elephant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/2853ba8b-650e-49e3-ab12-86b76e02743b.png?1641306093",
        :type-line "Token Creature — Elephant",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "14",
        :name "Frog Lizard",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e54486a4-f432-4e50-8639-799e036d0657.png?1641306095",
        :type-line "Token Creature — Frog Lizard",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "15",
        :name "Fungus Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/f/bfaa2850-3846-4c6a-8e08-937645db3752.png?1641306096",
        :type-line "Token Creature — Fungus Beast",
        :oracle-text "Trample"}
 #:card{:code "tc21",
        :collector-number "16",
        :name "Hydra",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75961f7c-fc3b-49c6-96cc-c42d2aa1a044.png?1641306099",
        :type-line "Token Creature — Hydra",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "17",
        :name "Insect",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/14da0d99-9717-47b3-990b-bed6fde78373.png?1641306101",
        :type-line "Token Creature — Insect",
        :oracle-text "Flying, deathtouch"}
 #:card{:code "tc21",
        :collector-number "18",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/113dbefc-14da-4826-87c1-543b53827c24.png?1641306102",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "19",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d559711e-7895-46e1-a970-ce5a05ec1ee4.png?1641306106",
        :type-line "Token Creature — Wurm",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "20",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/6/66029f69-2dc3-44e3-aa0d-4fe9a33b06f5.png?1641306108",
        :type-line "Token Creature — Elemental",
        :oracle-text "Flying"}
 #:card{:code "tc21",
        :collector-number "21",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8dc14fc0-5c53-4381-ae55-1fb22d0f4148.png?1641306109",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tc21",
        :collector-number "22",
        :name "Construct",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/0/c083dc19-2b62-4233-9ab9-04adc758b6d9.png?1641306112",
        :type-line "Token Artifact Creature — Construct",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "23",
        :name "Construct",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/008d3b2e-a5e6-4ac2-85a0-82628333b80c.png?1641306112",
        :type-line "Token Artifact Creature — Construct",
        :oracle-text
        "This creature gets +1/+1 for each artifact you control."}
 #:card{:code "tc21",
        :collector-number "24",
        :name "Food",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/965bef73-eb93-4512-91b4-bf2ce7d27d42.png?1641306116",
        :type-line "Token Artifact — Food",
        :oracle-text
        "{2}, {T}, Sacrifice this artifact: You gain 3 life."}
 #:card{:code "tc21",
        :collector-number "25",
        :name "Golem",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6a3a35a-ebd8-47e5-a5ed-c736b8bed968.png?1641306118",
        :type-line "Token Artifact Creature — Golem",
        :oracle-text "Flying"}
 #:card{:code "tc21",
        :collector-number "26",
        :name "Golem",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/40c50c6d-5116-4acb-89d3-f27efb20d336.png?1641306120",
        :type-line "Token Artifact Creature — Golem",
        :oracle-text "Trample"}
 #:card{:code "tc21",
        :collector-number "27",
        :name "Golem",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f27efb56-7fd4-4d0e-b641-a152b3ef8953.png?1641306122",
        :type-line "Token Artifact Creature — Golem",
        :oracle-text "Vigilance"}
 #:card{:code "tc21",
        :collector-number "28",
        :name "Myr",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a4ca03f7-3442-4256-a830-fc2cbcd356db.png?1641306122",
        :type-line "Token Artifact Creature — Myr",
        :oracle-text ""}
 #:card{:code "tc21",
        :collector-number "29",
        :name "Thopter",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f22c9a2e-e4da-4ca0-a035-abeccf719bcc.png?1641306124",
        :type-line "Token Artifact Creature — Thopter",
        :oracle-text "Flying"}
 #:card{:code "tc21",
        :collector-number "30",
        :name "Copy",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c7ba6540-3743-445c-99bf-feb5af2fd56d.png?1641306129",
        :type-line "Token",
        :oracle-text
        "(This token can be used to represent a token that's a copy of a permanent.)"})
