(#:card{:code "tcm2",
        :collector-number "1",
        :name "Shapeshifter",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/2/d28f610d-1d72-4afe-86fe-6f123ee6ef4e.png?1562702362",
        :type-line "Token Creature — Shapeshifter",
        :oracle-text "Changeling"}
 #:card{:code "tcm2",
        :collector-number "2",
        :name "Bird",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e938ebe-be52-4803-8fce-db0b82d9b892.png?1562701935",
        :type-line "Token Creature — Bird",
        :oracle-text "Flying"}
 #:card{:code "tcm2",
        :collector-number "3",
        :name "Goat",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/a/6a0b0bdf-13c7-498a-b2fb-83257f1e0fea.png?1562702118",
        :type-line "Token Creature — Goat",
        :oracle-text ""}
 #:card{:code "tcm2",
        :collector-number "4",
        :name "Knight",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a0c79cdb-969b-4c3b-8ad0-cbbd359a966b.png?1562702224",
        :type-line "Token Creature — Knight",
        :oracle-text "First strike"}
 #:card{:code "tcm2",
        :collector-number "5",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/9/4914610d-7d4f-4cf6-98db-c39e79cce25c.png?1562702037",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tcm2",
        :collector-number "6",
        :name "Germ",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/1/61f94e32-3b22-4c47-b866-1f36a7f3c734.png?1562702081",
        :type-line "Token Creature — Germ",
        :oracle-text ""}
 #:card{:code "tcm2",
        :collector-number "7",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/ebe4227f-6e53-4150-80b2-2d764d1ca32d.png?1562702420",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tcm2",
        :collector-number "8",
        :name "Elemental Shaman",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a271bdf3-2868-425d-987c-4ce272152a2f.png?1562702228",
        :type-line "Token Creature — Elemental Shaman",
        :oracle-text ""}
 #:card{:code "tcm2",
        :collector-number "9",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/dff50bc7-3d7e-49e9-9557-658a4f083c6e.png?1562702396",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "tcm2",
        :collector-number "10",
        :name "Lightning Rager",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/05aa19b7-da04-4845-868e-3ad2edb9a9ba.png?1562701877",
        :type-line "Token Creature — Elemental",
        :oracle-text
        "Trample, haste\nAt the beginning of the end step, sacrifice this creature."}
 #:card{:code "tcm2",
        :collector-number "11",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/34f6ffaa-6dee-49db-ac59-745eae5e75b2.png?1562702017",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "tcm2",
        :collector-number "12",
        :name "Myr",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/2896024f-c294-4629-975c-368fe781f118.png?1562701972",
        :type-line "Token Artifact Creature — Myr",
        :oracle-text ""}
 #:card{:code "tcm2",
        :collector-number "13",
        :name "Pentavite",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/6/b6571af0-80e2-474b-a8b1-d3d90e954d2b.png?1562702285",
        :type-line "Token Artifact Creature — Pentavite",
        :oracle-text "Flying"}
 #:card{:code "tcm2",
        :collector-number "14",
        :name "Triskelavite",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b5ddb67c-82fb-42d6-a4c2-11cd38eb128d.png?1562702281",
        :type-line "Token Artifact Creature — Triskelavite",
        :oracle-text "Flying"}
 #:card{:code "tcm2",
        :collector-number "15",
        :name "Tuktuk the Returned",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0b1686c8-5ce1-49bd-aae3-dce89578094a.png?1562701891",
        :type-line "Token Artifact Creature — Goblin Golem",
        :oracle-text "Tuktuk the Returned is legendary."}
 #:card{:code "tcm2",
        :collector-number "16",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/309be48a-cb15-4530-8393-04ccb945c998.png?1562701997",
        :type-line "Token Artifact Creature — Wurm",
        :oracle-text "Deathtouch"}
 #:card{:code "tcm2",
        :collector-number "17",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/c/ec840840-36d2-419e-9ed8-0635a225f0df.png?1562702424",
        :type-line "Token Artifact Creature — Wurm",
        :oracle-text "Lifelink"}
 #:card{:code "tcm2",
        :collector-number "18",
        :name "Daretti, Scrap Savant Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/4/64165269-d8c9-4d10-8c45-2c37455f7d6c.png?1562702099",
        :type-line "Emblem — Daretti",
        :oracle-text
        "Whenever an artifact is put into your graveyard from the battlefield, return that card to the battlefield at the beginning of the next end step."}
 #:card{:code "tcm2",
        :collector-number "19",
        :name "Experience",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/3/1374bfa2-9714-486d-90aa-7a9b8d8ef3a8.png?1562871544",
        :type-line "Card",
        :oracle-text "(Place your experience counters here.)"})
