(#:card{:type-line "Card",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/590f96f6-3857-4c75-8461-fe2d404bc5b7.png?1592672440",
        :collector-number "0",
        :layout "normal",
        :name "Experience",
        :oracle-text "(Place your experience counters here.)"}
 #:card{:type-line "Token Creature — Kithkin Soldier",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/2807ea6a-479e-45c2-b3c7-df59783b0e5b.png?1592672448",
        :collector-number "1",
        :layout "token",
        :name "Kithkin Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Knight",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0c25c035-9fae-491d-aff6-db8f987952e5.png?1592672456",
        :collector-number "2",
        :layout "token",
        :name "Knight",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e28ce2b-ff97-4285-9c11-c709fe7403f0.png?1592672464",
        :collector-number "3",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Germ",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5b2d7144-e2f2-48eb-b899-b4b3521e0159.png?1592672480",
        :collector-number "4",
        :layout "token",
        :name "Germ",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/eedfd94c-862d-4946-a726-417e142e1c1b.png?1592672488",
        :collector-number "5",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/1/d1ed2596-e9d6-479e-9b18-49788da849f4.png?1592672498",
        :collector-number "6",
        :layout "token",
        :name "Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/367a011d-07c4-4367-af3b-864107e3f5df.png?1592672505",
        :collector-number "7",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e09ed499-fbfc-45ad-964d-a811140e73ca.png?1592672512",
        :collector-number "8",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/27440269-3b09-4010-8401-f159dc49a4cd.png?1592672519",
        :collector-number "9",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elephant",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/c/ec2c96e3-7e85-4831-90a5-8a0d0f8821b5.png?1592672526",
        :collector-number "10",
        :layout "token",
        :name "Elephant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elf Druid",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/458f44dd-83f1-497e-b5d0-e3417eb9dfec.png?1592672533",
        :collector-number "11",
        :layout "token",
        :name "Elf Druid",
        :oracle-text "{T}: Add {G}."}
 #:card{:type-line "Token Creature — Elf Warrior",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87cbace2-8507-44b6-8d57-2d409a036e50.png?1592672543",
        :collector-number "12",
        :layout "token",
        :name "Elf Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/c/ecd93e8e-5e06-4791-bcc5-e858b82443f3.png?1592672559",
        :collector-number "13",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spider",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/4/745947b6-e611-4472-9cbc-ec0805a8b63b.png?1592672569",
        :collector-number "14",
        :layout "token",
        :name "Spider",
        :oracle-text "Reach"}
 #:card{:type-line "Token Creature — Treefolk",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/1/21d86b5f-4c85-443a-8d56-d0922112c116.png?1592672577",
        :collector-number "15",
        :layout "token",
        :name "Treefolk",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/462ff49b-a004-4dab-a25b-65cb18c1bbec.png?1592672584",
        :collector-number "16",
        :layout "token",
        :name "Wolf",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/d/1d1d39c5-6c72-44c4-9353-3ca3ac6cd3a6.png?1592672594",
        :collector-number "17",
        :layout "token",
        :name "Wolf",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Drake",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/0/c06d2c07-7d3e-46e3-86f0-7ceba3b0aee0.png?1592672602",
        :collector-number "18",
        :layout "token",
        :name "Drake",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact Creature — Gargoyle",
        :layout-category :normal,
        :code "tcma",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/0/f0ab540b-14dc-45cb-bdbb-ce6bca3c1796.png?1592672612",
        :collector-number "19",
        :layout "token",
        :name "Gargoyle",
        :oracle-text "Flying"})
