(#:card{:code "tcmr",
        :collector-number "1",
        :name "Angel",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f7c65b6a-9c63-4604-b7db-d75772799616.png?1608908406",
        :type-line "Token Creature — Angel",
        :oracle-text "Flying"}
 #:card{:code "tcmr",
        :collector-number "2",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/430ed737-b918-4485-a623-e781c0beb67b.png?1608908424",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "3",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/1/21e580cb-6092-48b7-ba3e-d64ec28860da.png?1608908446",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tcmr",
        :collector-number "4",
        :name "Salamander Warrior",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4c0a6832-677f-4226-bd8d-f93eeeffd02d.png?1608908469",
        :type-line "Token Creature — Salamander Warrior",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "5",
        :name "Thrull",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b9f3042b-784c-4006-9bf1-60a323e60c5c.png?1608908490",
        :type-line "Token Creature — Thrull",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "6",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/d/9d62c8ad-af51-493c-aef1-fe7774156d4b.png?1608908509",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "7",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3f350ecf-67fa-49c8-a47d-9e5573851d62.png?1608908530",
        :type-line "Token Creature — Dragon",
        :oracle-text
        "Flying\n{R}: This creature gets +1/+0 until end of turn."}
 #:card{:code "tcmr",
        :collector-number "8",
        :name "Elf Warrior",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff2aea59-c5f1-4927-8534-2215ef79bec7.png?1608908549",
        :type-line "Token Creature — Elf Warrior",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "9",
        :name "Golem",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af7c6e4c-4980-4b1b-8156-fd17dd6f47c9.png?1608908566",
        :type-line "Token Artifact Creature — Golem",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "10",
        :name "Horror",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7db68985-a1d5-4bd5-bfc6-c7208689d7df.png?1608908587",
        :type-line "Token Artifact Creature — Horror",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "11",
        :name "Rock",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/6/661cbde4-9444-4259-b2cf-7c8f9814a071.png?1608908618",
        :type-line "Token Artifact — Equipment",
        :oracle-text
        "Equipped creature has \"{1}, {T}, Sacrifice Rock: This creature deals 2 damage to any target.\"\nEquip {1}"}
 #:card{:code "tcmr",
        :collector-number "12",
        :name "Treasure",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/284ec798-2725-4741-8748-578c259d0623.png?1608908639",
        :type-line "Token Artifact — Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:code "tcmr",
        :collector-number "13",
        :name "Copy",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/1420c92f-a3f5-461a-b342-3708fa2212d7.png?1608908660",
        :type-line "Token",
        :oracle-text
        "(This token can be used to represent a token that's a copy of a permanent.)"}
 #:card{:code "tcmr",
        :collector-number "14",
        :name "The Monarch",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/f/bf7f3fc9-35f1-4b8c-b02b-494c71f31107.png?1608908685",
        :type-line "Card",
        :oracle-text
        "At the beginning of your end step, draw a card.\nWhenever a creature deals combat damage to you, its controller becomes the monarch."}
 #:card{:code "tcmr",
        :collector-number "15",
        :name "Cat",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/db1b2c60-c995-441a-a3d6-20220d6cb7f1.png?1620573744",
        :type-line "Token Creature — Cat",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "16",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/3/23b4c4d7-5b53-417a-a61b-df56eec4a274.png?1620573766",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "17",
        :name "Illusion",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/7274e711-42fd-489e-809d-77d3bce24422.png?1620573789",
        :type-line "Token Creature — Illusion",
        :oracle-text "Flying"}
 #:card{:code "tcmr",
        :collector-number "18",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06d59ee8-446e-427f-ac88-53f5fa378384.png?1623022216",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "19",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/50d90039-6e75-4c76-893d-cd1686a36be9.png?1620573811",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "20",
        :name "Elephant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/c/8c4d495a-b4b7-4119-ae2d-5b602a0b309f.png?1620573835",
        :type-line "Token Creature — Elephant",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "21",
        :name "Plant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e67a2d72-595e-4212-837b-07445a2175bf.png?1623022282",
        :type-line "Token Creature — Plant",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "22",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/8/08074778-ce6d-4a49-a1fc-1391d55e89be.png?1620573860",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "tcmr",
        :collector-number "23",
        :name "Copy",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/f/9f834ec3-0901-455a-a32d-aa5d3fcdb247.png?1620573880",
        :type-line "Token",
        :oracle-text
        "(This token can be used to represent a token that's a copy of a permanent.)"})
