(#:card{:code "tcns",
        :collector-number "1",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/595c4665-48e1-492e-9e62-a49ec443e161.png?1561757196",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tcns",
        :collector-number "2",
        :name "Demon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/5/8597029c-3b0d-476e-a6ee-48402f815dab.png?1561757494",
        :type-line "Token Creature — Demon",
        :oracle-text "Flying"}
 #:card{:code "tcns",
        :collector-number "3",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/2/22aec1b4-33ec-4cf1-9f41-3e0468a679cd.png?1561756782",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tcns",
        :collector-number "4",
        :name "Ogre",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/f/efaa37e5-302e-4b4b-bb2d-6a0f9f80cd3f.png?1561758388",
        :type-line "Token Creature — Ogre",
        :oracle-text ""}
 #:card{:code "tcns",
        :collector-number "5",
        :name "Elephant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/572840b5-c0a1-4a9d-8913-f38fc7b2da78.png?1561757170",
        :type-line "Token Creature — Elephant",
        :oracle-text ""}
 #:card{:code "tcns",
        :collector-number "6",
        :name "Squirrel",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/a/3af9733f-192f-4028-8ad6-aa1187dd15e7.png?1561756945",
        :type-line "Token Creature — Squirrel",
        :oracle-text ""}
 #:card{:code "tcns",
        :collector-number "7",
        :name "Wolf",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a4cd989d-e274-4058-876f-3c20f28def0d.png?1561757752",
        :type-line "Token Creature — Wolf",
        :oracle-text ""}
 #:card{:code "tcns",
        :collector-number "8",
        :name "Construct",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5f30e5e6-e9df-4ae2-9e40-ad2fee58fc29.png?1561757260",
        :type-line "Token Artifact Creature — Construct",
        :oracle-text "Defender"}
 #:card{:code "tcns",
        :collector-number "9",
        :name "Dack Fayden Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f4e0b8d9-4e22-409d-acf1-05afaaac33df.png?1561758436",
        :type-line "Emblem — Dack",
        :oracle-text
        "Whenever you cast a spell that targets one or more permanents, gain control of those permanents."})
