(#:card{:code "tdag",
        :collector-number "1",
        :name "Xenagos Ascended",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fe9dd9f0-3071-4bbd-80d2-e35b153006d7.png?1562640158",
        :type-line "Token Legendary Enchantment Creature — God",
        :oracle-text
        "Xenagos Ascended can't leave the battlefield as long as a Reveler is on the battlefield.\nWhen Xenagos Ascended leaves the battlefield, each player wins the game."}
 #:card{:code "tdag",
        :collector-number "2",
        :name "Rollicking Throng",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8da84d4f-5526-401f-9762-4fcfbc313c81.png?1562639918",
        :type-line "Token Creature — Human Reveler",
        :oracle-text
        "When Rollicking Throng enters the battlefield, reveal the top card of Xenagos's library and Xenagos casts that card. (This ability doesn't trigger as the game begins.)"}
 #:card{:code "tdag",
        :collector-number "3",
        :name "Ecstatic Piper",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/f/8f960d71-b55d-4730-9b3f-49e9afd2809c.png?1562639923",
        :type-line "Token Creature — Satyr Reveler",
        :oracle-text
        "When Ecstatic Piper enters the battlefield, Xenagos Ascended attacks this turn if able.\nHero's Reward — When Ecstatic Piper leaves the battlefield, each player gains 2 life."}
 #:card{:code "tdag",
        :collector-number "4",
        :name "Maddened Oread",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/7/076ad38c-30ec-41a4-be18-c287f65d1d86.png?1562639657",
        :type-line "Token Enchantment Creature — Nymph Reveler",
        :oracle-text
        "As long as five or more Revelers are on the battlefield, Maddened Oread attacks each turn if able.\nHero's Reward — When Maddened Oread leaves the battlefield, each player gains 3 life."}
 #:card{:code "tdag",
        :collector-number "5",
        :name "Pheres-Band Revelers",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/ae0182f2-31c0-4927-9ca5-0b3f4d342409.png?1562639976",
        :type-line "Token Creature — Centaur Reveler",
        :oracle-text
        "Hero's Reward — When Pheres-Band Revelers leaves the battlefield, each player draws a card."}
 #:card{:code "tdag",
        :collector-number "6",
        :name "Serpent Dancers",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f4210dae-7248-4a7b-9646-99683c0dce17.png?1562640131",
        :type-line "Token Creature — Human Reveler",
        :oracle-text
        "Deathtouch\nHero's Reward — When Serpent Dancers leaves the battlefield, each player draws a card."}
 #:card{:code "tdag",
        :collector-number "7",
        :name "Wild Maenads",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7b8ec95a-e728-446b-8c4a-a3571e6aa458.png?1562639876",
        :type-line "Token Creature — Human Reveler",
        :oracle-text
        "First Strike\nHero's Reward — When Wild Maenads leaves the battlefield, each player gains 3 life."}
 #:card{:code "tdag",
        :collector-number "8",
        :name "Impulsive Charge",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6eaba998-11dc-4a0c-a755-4332f22e6dfc.png?1562639850",
        :type-line "Sorcery",
        :oracle-text
        "At the beginning of combat this turn, all Revelers gain haste until end of turn and attack this combat if able."}
 #:card{:code "tdag",
        :collector-number "9",
        :name "Impulsive Destruction",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/2/8262a9f7-010a-4fc0-bcb6-86b2b1253000.png?1562639891",
        :type-line "Sorcery",
        :oracle-text
        "Each player may sacrifice an artifact or enchantment. Impulsive Destruction deals 3 damage to each player who didn't sacrifice a permanent this way."}
 #:card{:code "tdag",
        :collector-number "10",
        :name "Impulsive Return",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b52d516f-d425-49f1-99cc-17f743aa41b2.png?1562639997",
        :type-line "Sorcery",
        :oracle-text
        "Return two cards named Ecstatic Piper from Xenagos's graveyard to the battlefield. At the beginning of combat this turn, Impulsive Return deals damage to each player equal to the number of Revelers on the battlefield."}
 #:card{:code "tdag",
        :collector-number "11",
        :name "Rip to Pieces",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/3/33307f9a-9c09-402a-9c76-a0a76b3a9a6a.png?1562639740",
        :type-line "Sorcery",
        :oracle-text
        "At the beginning of combat this turn, each Reveler deals 1 damage to each player and each creature those players control."}
 #:card{:code "tdag",
        :collector-number "12",
        :name "Xenagos's Scorn",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/1/d1b30dc4-9d7c-4098-87a6-f7434030a427.png?1562640060",
        :type-line "Sorcery",
        :oracle-text
        "Xenagos Ascended gains trample until end of turn and attacks this turn if able."}
 #:card{:code "tdag",
        :collector-number "13",
        :name "Xenagos's Strike",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6b5fef7d-b8bb-43e2-a36b-d4cc98c3ef13.png?1562639842",
        :type-line "Sorcery",
        :oracle-text "Xenagos's Strike deals 4 damage to each player."}
 #:card{:code "tdag",
        :collector-number "14",
        :name "Dance of Flame",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3c85c8c7-e415-411d-b1b3-edc45c0e3fb0.png?1562639756",
        :type-line "Enchantment",
        :oracle-text
        "Whenever a Reveler attacks, Dance of Flame deals 1 damage to each player."}
 #:card{:code "tdag",
        :collector-number "15",
        :name "Dance of Panic",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6ce2817d-bb90-4cc0-beca-9f8af865c7a2.png?1562639845",
        :type-line "Enchantment",
        :oracle-text
        "As long as five or more Revelers are on the battlefield, all Revelers have haste and attack each turn if able."})
