(#:card{:type-line "Token Creature — Elemental Shaman",
        :layout-category :normal,
        :code "tdd2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/a/da6283ba-1297-4c7d-8744-f530c04194cd.png?1561756395",
        :collector-number "1",
        :layout "token",
        :name "Elemental Shaman",
        :oracle-text ""})
