(#:card{:code "tddc",
        :collector-number "1",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4b9a934b-dbd2-4691-8c96-a2f25ca18db0.png?1561757094",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tddc",
        :collector-number "2",
        :name "Demon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/367c872c-d019-42aa-b75a-1c66ec81e766.png?1561756920",
        :type-line "Token Creature — Demon",
        :oracle-text "Flying"}
 #:card{:code "tddc",
        :collector-number "3",
        :name "Thrull",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/2795320c-57fc-4140-b306-a92237390353.png?1561756810",
        :type-line "Token Creature — Thrull",
        :oracle-text ""})
