(#:card{:code "tddd",
        :collector-number "1",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d98c546e-2933-4833-b47b-084db56fb5d6.png?1561758192",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tddd",
        :collector-number "2",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/f/6fd6877b-b4f1-4953-b9a4-c97d0ae7d673.png?1561757377",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tddd",
        :collector-number "3",
        :name "Elephant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e357b329-b624-4c9a-bacf-d4744745860a.png?1561758316",
        :type-line "Token Creature — Elephant",
        :oracle-text ""})
