(#:card{:code "tddf",
        :collector-number "1",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c848b20e-a99c-445e-bf27-45a8e65a50d2.png?1561756391",
        :type-line "Token Creature — Soldier",
        :oracle-text ""})
