(#:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tddg",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4bca62e7-8fb5-45ff-ac9a-17db8095e76c.png?1561756362",
        :collector-number "1",
        :layout "token",
        :name "Goblin",
        :oracle-text ""})
