(#:card{:type-line "Token Creature — Griffin",
        :layout-category :normal,
        :code "tddh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/96c36884-df5e-435d-9473-65da550535fb.png?1561757626",
        :collector-number "1",
        :layout "token",
        :name "Griffin",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tddh",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/f/4fb8f4f1-6372-41ea-802c-4b952a78a08b.png?1561757116",
        :collector-number "2",
        :layout "token",
        :name "Saproling",
        :oracle-text ""})
