(#:card{:type-line "Emblem — Venser",
        :layout-category :normal,
        :code "tddi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c9ad6e7a-8ad8-4a35-b6c9-151720d88af9.png?1561758073",
        :collector-number "1",
        :layout "emblem",
        :name "Venser, the Sojourner Emblem",
        :oracle-text
        "Whenever you cast a spell, exile target permanent."}
 #:card{:type-line "Emblem — Koth",
        :layout-category :normal,
        :code "tddi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/9/89afdaa4-3555-4adf-b3c4-63f905710c76.png?1561757524",
        :collector-number "2",
        :layout "emblem",
        :name "Koth of the Hammer Emblem",
        :oracle-text
        "Mountains you control have '{T}: This land deals 1 damage to any target.'"})
