(#:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tddj",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/006c118e-b5c7-4726-acee-59132f23e4fc.png?1561756349",
        :collector-number "1",
        :layout "token",
        :name "Saproling",
        :oracle-text ""})
