(#:card{:type-line "Token Creature — Assassin",
        :layout-category :normal,
        :code "tddm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a3960d63-168d-4d08-a10b-3331194fdc36.png?1593142660",
        :collector-number "1",
        :layout "token",
        :name "Assassin",
        :oracle-text
        "Whenever this creature deals combat damage to a player, that player loses the game."})
