(#:card{:code "tdds",
        :collector-number "1",
        :name "Drake",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/0/b02c1fc4-0a90-4861-88ca-1f18c4517f8e.png?1561757829",
        :type-line "Token Creature — Drake",
        :oracle-text "Flying"}
 #:card{:code "tdds",
        :collector-number "2",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cf9a289f-cd3f-42a0-9296-8c7cc7d01a91.png?1561758108",
        :type-line "Token Creature — Elemental",
        :oracle-text ""}
 #:card{:code "tdds",
        :collector-number "3",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/6/66d0f626-eff9-4e2f-ac62-5bf190ea0aeb.png?1561757319",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "tdds",
        :collector-number "4",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fd69689a-dfeb-4390-ae82-78193697fb18.png?1561758487",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tdds",
        :collector-number "5",
        :name "Elephant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/2/c22421d2-fb62-436b-bc2c-9d99e5fb684b.png?1561757999",
        :type-line "Token Creature — Elephant",
        :oracle-text ""}
 #:card{:code "tdds",
        :collector-number "6",
        :name "Elf Warrior",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f11416ec-ab70-45ef-98e0-9b51506606c5.png?1561758399",
        :type-line "Token Creature — Elf Warrior",
        :oracle-text ""}
 #:card{:code "tdds",
        :collector-number "7",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/844b811d-dfe1-4f93-89ad-800df97ac1b5.png?1561757484",
        :type-line "Token Creature — Wurm",
        :oracle-text ""})
