(#:card{:code "tddu",
        :collector-number "1",
        :name "Elf Warrior",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/dfc3f3dd-1392-4407-9640-9b7af6fba91b.png?1561758252",
        :type-line "Token Creature — Elf Warrior",
        :oracle-text ""}
 #:card{:code "tddu",
        :collector-number "2",
        :name "Myr",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fd2eef3b-9001-477a-8ec4-2a59d906acc6.png?1561758481",
        :type-line "Token Artifact Creature — Myr",
        :oracle-text ""}
 #:card{:code "tddu",
        :collector-number "3",
        :name "Thopter",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/f/4f5a36e3-0529-44d3-94d0-f1bd0399dc38.png?1561757111",
        :type-line "Token Artifact Creature — Thopter",
        :oracle-text "Flying"}
 #:card{:code "tddu",
        :collector-number "4",
        :name "Thopter",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5a4649cc-07fb-4ff0-9ac6-846763b799df.png?1561757203",
        :type-line "Token Artifact Creature — Thopter",
        :oracle-text "Flying"})
