(#:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tdgm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5bfb1440-d4c1-42cf-a777-ee1644dbbac7.png?1561756370",
        :collector-number "1",
        :layout "token",
        :name "Elemental",
        :oracle-text
        "This creature's power and toughness are each equal to the number of creatures you control."})
