(#:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "tdka",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bd5cd362-34f9-445f-85e1-9f6694f0f90a.png?1561757948",
        :collector-number "1",
        :layout "token",
        :name "Human",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Vampire",
        :layout-category :normal,
        :code "tdka",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0d6abdaa-7be5-48a1-acc9-b3cba4c10619.png?1561756647",
        :collector-number "2",
        :layout "token",
        :name "Vampire",
        :oracle-text "Lifelink"}
 #:card{:type-line "Emblem — Sorin",
        :layout-category :normal,
        :code "tdka",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/327ddaaf-b6a7-4c80-9b38-5ab68181b3d6.png?1561756875",
        :collector-number "3",
        :layout "emblem",
        :name "Sorin, Lord of Innistrad Emblem",
        :oracle-text "Creatures you control get +1/+0."}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tdka",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/2/825c61e7-bf33-45ea-af78-97ab3bc96753.png?1561757479",
        :collector-number "4",
        :layout "token",
        :name "Dark Ascension Checklist",
        :oracle-text
        "(You can mark this card to represent a double-faced card in your library or hand.)\n☐ Loyal Cathar {W}{W}\n☐ Soul Seizer {3}{U}{U}\n☐ Chosen of Markov {2}{B}\n☐ Ravenous Demon {3}{B}{B}\n☐ Afflicted Deserter {3}{R}\n☐ Hinterland Hermit {1}{R}\n☐ Mondronen Shaman {3}{R}\n☐ Lambholt Elder {2}{G}\n☐ Scorned Villager {1}{G}\n☐ Wolfbitten Captive {G}\n☐ Huntmaster of the Fells {2}{R}{G}\n☐ Chalice of Life {3}\n☐ Elbrus, the Binding Blade {7}"})
