(#:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/3/d3fdde92-dc2c-4ed0-b092-926ef9c091ad.png?1675198602",
        :collector-number "1",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Griffin",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/a/caeea28b-c11b-4fa0-a64c-637bc58171cc.png?1675198611",
        :collector-number "2",
        :layout "token",
        :name "Griffin",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Cat",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/5/05a61555-ddb9-4d55-b637-a219d772033d.png?1675198619",
        :collector-number "3",
        :layout "token",
        :name "Cat",
        :oracle-text ""}
 #:card{:type-line "Token Legendary Creature — Avatar",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/4/34db5e62-4792-4207-b008-7d62bae683a7.png?1675198627",
        :collector-number "4",
        :layout "token",
        :name "Marit Lage",
        :oracle-text "Flying, indestructible"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/7/c700cb99-1cee-455f-9a36-d7d9a79fed06.png?1675198635",
        :collector-number "5",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/7/57ae1be7-f2f6-4aef-8764-4af5ca963c9e.png?1675198643",
        :collector-number "6",
        :layout "token",
        :name "Elemental",
        :oracle-text "Trample, haste"}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/9/f9b8316a-ec6d-43de-a1c5-6ef3c5c53146.png?1675198651",
        :collector-number "7",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Cat",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/7/07b58d5f-8a9f-4fd6-83d6-efe3a92e89b2.png?1675198658",
        :collector-number "8",
        :layout "token",
        :name "Cat",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elephant",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/b/cb05000b-0ac3-4856-b25d-c87c19bda451.png?1675198666",
        :collector-number "9",
        :layout "token",
        :name "Elephant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/6/e662eefb-c454-44b9-8270-f2229e20024e.png?1675198674",
        :collector-number "10",
        :layout "token",
        :name "Insect",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/7/c7bb00e4-7eb0-4f7d-b2c3-8995959a6e6a.png?1675198683",
        :collector-number "11",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Sheep",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/a/3acb4442-e7e5-482b-9ce8-f1af8069114e.png?1675198691",
        :collector-number "12",
        :layout "token",
        :name "Sheep",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Squirrel",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/7/27f8ccb9-32b2-4562-a60f-843e82795984.png?1675198698",
        :collector-number "13",
        :layout "token",
        :name "Squirrel",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tdmr",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/a/4ad1fd1a-9c1e-4b01-974e-84f18d325cfc.png?1675198706",
        :collector-number "14",
        :layout "token",
        :name "Construct",
        :oracle-text
        "This creature gets +1/+1 for each artifact you control."})
