(#:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/8/f8ed0c17-c5e4-4d78-8eee-34c57dd7ce55.png?1675456162",
        :collector-number "1",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/f/5f3034f6-145f-4e60-9e55-c4054fd8e70f.png?1675456170",
        :collector-number "2",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Knight",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/9/19e893e5-12a8-4ecb-adcd-9e7b26b01de2.png?1675456178",
        :collector-number "3",
        :layout "token",
        :name "Knight",
        :oracle-text "Protection from red"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/c/8c4b0257-2ca5-4015-9d63-d7cf6e87ab9d.png?1675456186",
        :collector-number "4",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Merfolk",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/b/1bad1c90-a3ea-469e-ba0b-91c75ea5b1a3.png?1675456194",
        :collector-number "5",
        :layout "token",
        :name "Merfolk",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/d/8dce95d5-2ae7-4bd9-92f4-1cb3bed5f733.png?1675456202",
        :collector-number "6",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying\nThis creature can't block."}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/4/c41933b2-a91f-4c43-8734-08fc3a392ac2.png?1675456210",
        :collector-number "7",
        :layout "token",
        :name "Insect",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Phyrexian",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/a/ba2a7b17-a65a-4c37-bc2b-8be5ff8ce692.png?1675456218",
        :collector-number "8",
        :layout "token",
        :name "Phyrexian",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/a/dac26fe3-b44c-4385-ad74-d348c33e151c.png?1675456225",
        :collector-number "9",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/1/d1cae334-1e24-48a3-83a2-0a27bc9d3b29.png?1675456234",
        :collector-number "10",
        :layout "token",
        :name "Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/6/c6b2ff6f-d55a-4fa2-86be-e2e012267de4.png?1675456242",
        :collector-number "11",
        :layout "token",
        :name "Elemental",
        :oracle-text "Trample, haste"}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/2/128511d0-bc4c-48d9-9e8e-9c7c945cfaeb.png?1675456250",
        :collector-number "12",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Kobold",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/4/74f7dd3d-dbb9-4cbd-8d06-381cb6a0de33.png?1675456258",
        :collector-number "13",
        :layout "token",
        :name "Kobolds of Kher Keep",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Monk",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/8/388180bd-cc96-4b18-9ddd-18a3f7e06282.png?1675456267",
        :collector-number "14",
        :layout "token",
        :name "Monk",
        :oracle-text
        "Prowess (Whenever you cast a noncreature spell, this creature gets +1/+1 until end of turn.)"}
 #:card{:type-line "Token Creature — Badger",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/e/4e42cb2e-578f-4fec-a9a4-33b95b78229c.png?1675456276",
        :collector-number "15",
        :layout "token",
        :name "Badger",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/9/591cb5b2-6394-4c1a-b227-5c32e633b493.png?1675456287",
        :collector-number "16",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Cat Warrior",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/8/d886263e-9f46-4389-a543-947d6e51cb1a.png?1675456295",
        :collector-number "17",
        :layout "token",
        :name "Cat Warrior",
        :oracle-text "Forestwalk"}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/5/d5a07153-9eb6-4366-aa09-ebe9b4868e7f.png?1675456304",
        :collector-number "18",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Wurm",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/d/edcfb468-6389-4e72-80af-d0d4442e6988.png?1675456312",
        :collector-number "19",
        :layout "token",
        :name "Wurm",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Sand Warrior",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/2/124ea959-742a-4914-9bca-1075ccd0cb22.png?1675456322",
        :collector-number "20",
        :layout "token",
        :name "Sand Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Legendary Creature — Human Warrior",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/d/edc84f49-86e9-43a2-b98c-a59b1e0c72ed.png?1675456330",
        :collector-number "21",
        :layout "token",
        :name "Stangg Twin",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/6/a63d3174-75af-4dfa-b2f9-c4330c755af1.png?1675456339",
        :collector-number "22",
        :layout "token",
        :name "Ornithopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact — Powerstone",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/4/447af615-1e59-471f-886b-bf46007a938d.png?1675456355",
        :collector-number "23",
        :layout "token",
        :name "Powerstone",
        :oracle-text
        "{T}: Add {C}. This mana can't be spent to cast nonartifact spells."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/5/55c46e7d-a436-4e61-9fea-d725787b43a9.png?1675456468",
        :collector-number "24",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Emblem",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/e/ae9ee46d-b2f4-4710-bf7d-1d7a5ec0aefe.png?1675456475",
        :collector-number "25",
        :layout "emblem",
        :name "Ajani, Sleeper Agent Emblem",
        :oracle-text
        "Whenever you cast a creature or planeswalker spell, target opponent gets two poison counters."}
 #:card{:type-line "Emblem",
        :layout-category :normal,
        :code "tdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/4/243a5830-d7a0-46c9-98c0-4d1dfc3ebc8c.png?1675456483",
        :collector-number "26",
        :layout "emblem",
        :name "Jaya, Fiery Negotiator Emblem",
        :oracle-text
        "Whenever you cast a red instant or sorcery spell, copy it twice. You may choose new targets for the copies."})
