(#:card{:type-line "Token Creature — Knight",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e0bce908-fc95-40c6-a04a-752d56aca836.png?1562702400",
        :collector-number "1",
        :layout "token",
        :name "Knight",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Knight",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/cc7d137c-f6c0-44e5-af9f-a8bbd52d3b2a.png?1562702338",
        :collector-number "2",
        :layout "token",
        :name "Knight",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f9b56129-17a2-4512-a4d6-34779224473f.png?1562702454",
        :collector-number "3",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Cleric",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/4/74791ac4-7297-4731-aff8-20130da8b4b7.png?1562702134",
        :collector-number "4",
        :layout "token",
        :name "Cleric",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie Knight",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0b527bcd-0d37-495a-8457-8123388056b9.png?1562701899",
        :collector-number "5",
        :layout "token",
        :name "Zombie Knight",
        :oracle-text
        "Menace (This creature can't be blocked except by two or more creatures.)"}
 #:card{:type-line "Token Creature — Nightmare Horror",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/d/4d33b752-c806-4932-ae0a-46f00ed937de.png?1562702042",
        :collector-number "6",
        :layout "token",
        :name "Nightmare Horror",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Demon",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/3/73b858b5-803b-4bcf-99d6-8c20c8b37f07.png?1562702129",
        :collector-number "7",
        :layout "token",
        :name "Demon",
        :oracle-text
        "Flying, trample\nAt the beginning of your upkeep, sacrifice another creature. If you can't, this creature deals 6 damage to you."}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/b/9b9cc37a-b9c3-40c2-a3e4-abfec86e199b.png?1562702213",
        :collector-number "8",
        :layout "token",
        :name "Elemental",
        :oracle-text "Trample, haste"}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bd79264f-0734-48b7-8333-4035e518d46c.png?1562702307",
        :collector-number "9",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Legendary Creature — Dragon",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7c0cdb0d-f720-4ed2-af08-ced9b54f6702.png?1562702146",
        :collector-number "10",
        :layout "token",
        :name "Karox Bladewing",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/5371de1b-db33-4db4-a518-e35c71aa72b7.png?1562702067",
        :collector-number "11",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0b425bdc-b3d5-4825-9f97-a00e2d932438.png?1562701895",
        :collector-number "12",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a49da8fe-559f-4c34-b904-c285188fb98d.png?1562702234",
        :collector-number "13",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c5eafa38-5333-4ef2-9661-08074c580a32.png?1562702317",
        :collector-number "14",
        :layout "token",
        :name "Construct",
        :oracle-text
        "This creature gets +1/+1 for each artifact you control."}
 #:card{:type-line "Emblem — Jaya",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/f/8fcdb224-d4b3-4d99-abea-467def65ef42.png?1562702197",
        :collector-number "15",
        :layout "emblem",
        :name "Jaya Ballard Emblem",
        :oracle-text
        "You may cast instant and sorcery cards from your graveyard. If a card cast this way would be put into your graveyard, exile it instead."}
 #:card{:type-line "Emblem — Teferi",
        :layout-category :normal,
        :code "tdom",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b82ac152-5df1-46c9-98e9-ad5585f7e799.png?1562702291",
        :collector-number "16",
        :layout "emblem",
        :name "Teferi, Hero of Dominaria Emblem",
        :oracle-text
        "Whenever you draw a card, exile target permanent an opponent controls."})
