(#:card{:code "tdvd",
        :collector-number "5",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/4558e517-bf00-4bc6-b3a1-7a2d7ab9a3fd.png?1561757031",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tdvd",
        :collector-number "6",
        :name "Demon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9ce65279-fc41-40f8-86a0-fdec72a0d91f.png?1561757673",
        :type-line "Token Creature — Demon",
        :oracle-text "Flying"}
 #:card{:code "tdvd",
        :collector-number "7",
        :name "Thrull",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/919327c4-70ac-4606-b5b4-f1cb6c230cee.png?1561757579",
        :type-line "Token Creature — Thrull",
        :oracle-text ""})
