(#:card{:code "tema",
        :collector-number "1",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/8/082c3bad-3fea-4c3f-8263-4b16139bb32a.png?1562701890",
        :type-line "Token Creature — Spirit",
        :oracle-text ""}
 #:card{:code "tema",
        :collector-number "2",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c9c807dc-9c4f-4e87-9263-4dc9864e78ed.png?1562702326",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tema",
        :collector-number "3",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f4b36a9a-7456-4c72-a7b2-478461d886a4.png?1562702446",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tema",
        :collector-number "4",
        :name "Wall",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/f/7f31debf-0b93-44c7-99b6-be441ba4e167.png?1562702163",
        :type-line "Token Creature — Wall",
        :oracle-text "Defender"}
 #:card{:code "tema",
        :collector-number "5",
        :name "Serf",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c98dbedd-b1f1-4a9c-af37-8ce2ae07a247.png?1562702324",
        :type-line "Token Creature — Serf",
        :oracle-text ""}
 #:card{:code "tema",
        :collector-number "6",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/0/207e9b8c-3e5e-4262-8d78-248780600462.png?1562701941",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tema",
        :collector-number "7",
        :name "Carnivore",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/8437b125-6057-4d17-9f2c-28ea56553f84.png?1562702178",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tema",
        :collector-number "8",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/9/49d37f45-e5ad-48e2-b6d4-9f39b1643f3a.png?1562702041",
        :type-line "Token Creature — Dragon",
        :oracle-text
        "Flying\n{R}: This creature gets +1/+0 until end of turn."}
 #:card{:code "tema",
        :collector-number "9",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8b4f81e2-916f-4af4-9e63-f4469e953122.png?1562702183",
        :type-line "Token Creature — Elemental",
        :oracle-text ""}
 #:card{:code "tema",
        :collector-number "10",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/3/d3ad6525-af56-4512-9a6e-3441e686c367.png?1562702366",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "tema",
        :collector-number "11",
        :name "Elephant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/de85f692-4c8b-45b5-af8b-05a4c2a6cebf.png?1562702390",
        :type-line "Token Creature — Elephant",
        :oracle-text ""}
 #:card{:code "tema",
        :collector-number "12",
        :name "Elf Warrior",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/355eaeb4-582f-4b74-b573-3dd68f376317.png?1562702022",
        :type-line "Token Creature — Elf Warrior",
        :oracle-text ""}
 #:card{:code "tema",
        :collector-number "13",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a32175ed-d4f8-43b0-8f31-df529167610b.png?1562702232",
        :type-line "Token Creature — Wurm",
        :oracle-text ""}
 #:card{:code "tema",
        :collector-number "14",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/ae82b600-c406-4c3b-a09b-a18e18fc57b1.png?1562702258",
        :type-line "Token Creature — Elemental",
        :oracle-text "Flying"}
 #:card{:code "tema",
        :collector-number "15",
        :name "Goblin Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/3022b41d-05c1-452e-a1cd-5ec5a7f4d79d.png?1562701996",
        :type-line "Token Creature — Goblin Soldier",
        :oracle-text ""}
 #:card{:code "tema",
        :collector-number "16",
        :name "Dack Fayden Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d92a00d8-ddac-45df-8130-87ac32815984.png?1562702384",
        :type-line "Emblem — Dack",
        :oracle-text
        "Whenever you cast a spell that targets one or more permanents, gain control of those permanents."})
