(#:card{:type-line "Token Creature — Eldrazi Horror",
        :layout-category :normal,
        :code "temn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/11d25bde-a303-4b06-a3e1-4ad642deae58.png?1562636737",
        :collector-number "1",
        :layout "token",
        :name "Eldrazi Horror",
        :oracle-text ""}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "temn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cd8586f9-97e2-438d-b74f-1e53c811f314.png?1562636899",
        :collector-number "CH1",
        :layout "token",
        :name "Eldritch Moon Checklist",
        :oracle-text
        "(You can mark this card to represent a meld or double-faced card in your library or hand.)\n☐ Bruna, the Fading Light {5}{W}{W}\n☐ Extricator of Sin {2}{W}\n☐ Gisela, the Broken Blade {2}{W}{W}\n☐ Lone Rider {1}{W}\n☐ Curious Homunculus {1}{U}\n☐ Docent of Perfection {3}{U}{U}\n☐ Grizzled Angler {2}{U}\n☐ Graf Rats {1}{B}\n☐ Midnight Scavengers {4}{B}\n☐ Voldaren Pariah {3}{B}{B}\n☐ Conduit of Storms {2}{R}\n☐ Hanweir Garrison {2}{R}\n☐ Smoldering Werewolf {2}{R}{R}\n☐ Vildin-Pack Outcast {4}{R}\n☐ Kessig Prowler {G}\n☐ Shrill Howler {2}{G}\n☐ Tangleclaw Werewolf {2}{G}{G}\n☐ Ulvenwald Captive {1}{G}\n☐ Ulrich of the Krallenhorde {3}{R}{G}\n☐ Cryptolith Fragment {3}\n☐ Hanweir Battlements"}
 #:card{:type-line "Token Creature — Human Wizard",
        :layout-category :normal,
        :code "temn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/4/e4439a8b-ef98-428d-a274-53c660b23afe.png?1562636929",
        :collector-number "2",
        :layout "token",
        :name "Human Wizard",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "temn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/15f1f43a-cbdb-4d1b-a254-dadcb2469784.png?1562636743",
        :collector-number "3",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "temn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06e7f8df-826e-4ba7-9c6c-8c8eb7a61de8.png?1562636730",
        :collector-number "4",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "temn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b8710a30-8314-49ef-b995-bd05454095be.png?1562636876",
        :collector-number "5",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "temn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/4/e44aa879-b63b-497c-9c1b-2333950161fa.png?1562636931",
        :collector-number "6",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "temn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/dbd994fc-f3f0-4c81-86bd-14ca63ec229b.png?1562636922",
        :collector-number "7",
        :layout "token",
        :name "Human",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spider",
        :layout-category :normal,
        :code "temn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/e/ce90c48f-74fb-4e87-9e46-7f8c3d79cbb0.png?1562636904",
        :collector-number "8",
        :layout "token",
        :name "Spider",
        :oracle-text "Reach"}
 #:card{:type-line "Emblem — Liliana",
        :layout-category :normal,
        :code "temn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/1512fe7b-5e01-424e-9747-8d4840a5d22a.png?1562636740",
        :collector-number "9",
        :layout "emblem",
        :name "Liliana, the Last Hope Emblem",
        :oracle-text
        "At the beginning of your end step, create X 2/2 black Zombie creature tokens, where X is two plus the number of Zombies you control."}
 #:card{:type-line "Emblem — Tamiyo",
        :layout-category :normal,
        :code "temn",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/2/c2c6e29e-261a-4953-bdbe-cce8790eb5a8.png?1562636889",
        :collector-number "10",
        :layout "emblem",
        :name "Tamiyo, Field Researcher Emblem",
        :oracle-text
        "You may cast nonland cards from your hand without paying their mana costs."})
