(#:card{:code "teve",
        :collector-number "1",
        :name "Goat",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/0/90f67615-8a09-4ab9-9927-899a15e72c03.png?1561757576",
        :type-line "Token Creature — Goat",
        :oracle-text ""}
 #:card{:code "teve",
        :collector-number "2",
        :name "Bird",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d453ee89-6122-4d51-989c-e78b046a9de3.png?1561758141",
        :type-line "Token Creature — Bird",
        :oracle-text "Flying"}
 #:card{:code "teve",
        :collector-number "3",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3fc3a29a-280d-4f2c-9a01-8cfead75f583.png?1561756988",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "teve",
        :collector-number "4",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c48d8e99-a530-4eec-a938-254c98073975.png?1561758015",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "teve",
        :collector-number "5",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c702fc63-4a79-4c54-b22e-7e479b8354d2.png?1561758039",
        :type-line "Token Creature — Elemental",
        :oracle-text "Flying"}
 #:card{:code "teve",
        :collector-number "6",
        :name "Worm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/7/0788f7a4-793a-42f4-a7c9-05e4b4587897.png?1561756613",
        :type-line "Token Creature — Worm",
        :oracle-text ""}
 #:card{:code "teve",
        :collector-number "7",
        :name "Goblin Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e836db04-161c-4f4f-88d2-4271cec62008.png?1561758350",
        :type-line "Token Creature — Goblin Soldier",
        :oracle-text ""})
