(#:card{:code "tevg",
        :collector-number "1",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/c/acd51eed-bd5a-417a-811d-fbd1c08a3715.png?1561757812",
        :type-line "Token Creature — Elemental",
        :oracle-text "Trample"}
 #:card{:code "tevg",
        :collector-number "2",
        :name "Elf Warrior",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/0/209af8af-7c40-4e87-8a4e-926c7ea76fb1.png?1561756777",
        :type-line "Token Creature — Elf Warrior",
        :oracle-text ""}
 #:card{:code "tevg",
        :collector-number "3",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff1df646-52f5-4292-9fd5-5b8393f63931.png?1561758503",
        :type-line "Token Creature — Goblin",
        :oracle-text ""})
