(#:card{:code "tfth",
        :collector-number "1",
        :name "Hydra Head",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/27d772a9-7542-4ffe-9cd4-e144d129f342.png?1562639721",
        :type-line "Token Creature — Head",
        :oracle-text
        "Hero's Reward — When Hydra Head leaves the battlefield, each player gains 2 life."}
 #:card{:code "tfth",
        :collector-number "2",
        :name "Ravenous Brute Head",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a76d49f7-2860-4972-ab97-1e798ea017d1.png?1562639969",
        :type-line "Token Elite Creature — Head",
        :oracle-text
        "Hero's Reward — When Ravenous Brute Head leaves the battlefield, each player gains 2 life and draws a card."}
 #:card{:code "tfth",
        :collector-number "3",
        :name "Savage Vigor Head",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4b90bd09-d6aa-4201-a7fe-78accbcfc4e8.png?1562639790",
        :type-line "Token Elite Creature — Head",
        :oracle-text
        "At the beginning of the Hydra's end step, reveal the top card of the Hydra's library and the Hydra casts that card.\nHero's Reward — When Savage Vigor Head leaves the battlefield, each player gains 4 life and draws a card."}
 #:card{:code "tfth",
        :collector-number "4",
        :name "Shrieking Titan Head",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/4/44ef6754-b611-4e52-a04b-dc2c794d2cb8.png?1562639773",
        :type-line "Token Elite Creature — Head",
        :oracle-text
        "At the beginning of the Hydra's end step, each player discards a card.\nHero's Reward — When Shrieking Titan Head leaves the battlefield, each player gains 4 life and draws a card."}
 #:card{:code "tfth",
        :collector-number "5",
        :name "Snapping Fang Head",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/11decc7a-58e7-43f3-acc5-9ec94cce858d.png?1562639681",
        :type-line "Token Elite Creature — Head",
        :oracle-text
        "At the beginning of the Hydra's end step, Snapping Fang Head deals 1 damage to each player.\nHero's Reward — When Snapping Fang Head leaves the battlefield, each player gains 4 life and draws a card."}
 #:card{:code "tfth",
        :collector-number "6",
        :name "Disorienting Glower",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7b0f9139-6366-4334-b532-1385336f5a04.png?1562639874",
        :type-line "Sorcery",
        :oracle-text
        "Players can't cast spells until the Hydra's next turn."}
 #:card{:code "tfth",
        :collector-number "7",
        :name "Distract the Hydra",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/263da86e-6e10-40fb-bbf0-5a577c63fc0a.png?1562639719",
        :type-line "Sorcery",
        :oracle-text
        "Each player may sacrifice a creature. Each player who sacrificed a creature this way chooses a Head and taps it. Each player who didn't sacrifice a creature loses 3 life."}
 #:card{:code "tfth",
        :collector-number "8",
        :name "Grown from the Stump",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e24e319f-494e-4ea8-8435-1207d18cc86b.png?1562640098",
        :type-line "Sorcery",
        :oracle-text
        "Place exactly two cards named Hydra Head onto the battlefield from the Hydra's graveyard. If you can't, reveal cards from the top of the Hydra's library until you reveal a Head card. Put that card onto the battlefield and the rest into the Hydra's graveyard."}
 #:card{:code "tfth",
        :collector-number "9",
        :name "Hydra's Impenetrable Hide",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/f/6f85efed-56e7-488f-ac82-8829ad8b64ad.png?1562639853",
        :type-line "Sorcery",
        :oracle-text
        "Each head gains indestructible until the end of the Hydra's next turn."}
 #:card{:code "tfth",
        :collector-number "10",
        :name "Neck Tangle",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b1f3cf6e-e681-461f-8754-b3e464b150d9.png?1562639988",
        :type-line "Sorcery",
        :oracle-text
        "If there are five or more Heads on the battlefield, tap two of them and they don't untap during the Hydra's next untap step. Otherwise, reveal the top card of the Hydra's library and the Hydra casts that card."}
 #:card{:code "tfth",
        :collector-number "11",
        :name "Noxious Hydra Breath",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/1/21533aec-7c28-4d20-9cc8-96b962d445bf.png?1562639710",
        :type-line "Sorcery",
        :oracle-text
        "Choose one — Noxious Hydra Breath deals 5 damage to each player; or destroy each tapped non-Head creature."}
 #:card{:code "tfth",
        :collector-number "12",
        :name "Strike the Weak Spot",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/40ffc5ec-67da-4af7-ae3a-e33fea136eac.png?1562639764",
        :type-line "Sorcery",
        :oracle-text
        "Destroy target Head. If that Head was elite, the Hydra takes an extra turn after this one."}
 #:card{:code "tfth",
        :collector-number "13",
        :name "Swallow the Hero Whole",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/b/9b1871c1-59e5-4c2f-8e05-944d6cbabf99.png?1562639944",
        :type-line "Sorcery",
        :oracle-text
        "Each player exiles a creature they control. Until the Hydra's next turn, when a Head leaves the battlefield, return the exiled cards to the battlefield under their owners' control."}
 #:card{:code "tfth",
        :collector-number "14",
        :name "Torn Between Heads",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/f/0fe46ef0-86f6-42f7-b78e-a148d7f00456.png?1562639675",
        :type-line "Sorcery",
        :oracle-text
        "Tap up to two Heads. They don't untap during the Hydra's next untap step. Torn Between Heads deals 5 damage to each player."}
 #:card{:code "tfth",
        :collector-number "15",
        :name "Unified Lunge",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bbb3bcaf-73f4-4f41-a0dc-0a3d710ad507.png?1562640012",
        :type-line "Sorcery",
        :oracle-text
        "Unified Lunge deals X damage to each player, where X is the number of Heads on the battlefield."})
