(#:card{:code "tgk1",
        :collector-number "1",
        :name "Copy // Horror",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a020dc47-3747-4123-9954-f0e87a858b8c.png?1639374083",
          :type-line "Token",
          :oracle-text ""}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/a/0/a020dc47-3747-4123-9954-f0e87a858b8c.png?1639374083",
          :type-line "Token Creature — Horror",
          :oracle-text "Flying"}]}
 #:card{:code "tgk1",
        :collector-number "2",
        :name "Soldier // Soldier",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/8/8/887efa4e-f713-4165-a7e1-b0f00ac81784.png?1541007928",
          :type-line "Token Creature — Soldier",
          :oracle-text "Lifelink"}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/8/8/887efa4e-f713-4165-a7e1-b0f00ac81784.png?1541007928",
          :type-line "Token Creature — Soldier",
          :oracle-text ""}]}
 #:card{:code "tgk1",
        :collector-number "3",
        :name "Weird // Goblin",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/1/d/1d34ff67-24e1-4cf5-b032-8be6b83e0819.png?1632381617",
          :type-line "Token Creature — Weird",
          :oracle-text "Defender, flying"}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/1/d/1d34ff67-24e1-4cf5-b032-8be6b83e0819.png?1632381617",
          :type-line "Token Creature — Goblin",
          :oracle-text ""}]}
 #:card{:code "tgk1",
        :collector-number "4",
        :name "Goblin // Soldier",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/6/4/64f4dc68-060b-4c63-8f43-00f53c52a251.png?1541007299",
          :type-line "Token Creature — Goblin",
          :oracle-text ""}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/6/4/64f4dc68-060b-4c63-8f43-00f53c52a251.png?1541007299",
          :type-line "Token Creature — Soldier",
          :oracle-text "Lifelink"}]}
 #:card{:code "tgk1",
        :collector-number "5",
        :name "Saproling // Insect",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/c/0/c06bcc5b-4ccd-452d-8579-beee6c5cbe98.png?1541006728",
          :type-line "Token Creature — Saproling",
          :oracle-text ""}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/c/0/c06bcc5b-4ccd-452d-8579-beee6c5cbe98.png?1541006728",
          :type-line "Token Creature — Insect",
          :oracle-text ""}]}
 #:card{:code "tgk1",
        :collector-number "6",
        :name "Soldier // Goblin",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f78c0976-83c4-4694-a93f-13046902cdd9.png?1541007771",
          :type-line "Token Creature — Soldier",
          :oracle-text ""}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/f/7/f78c0976-83c4-4694-a93f-13046902cdd9.png?1541007771",
          :type-line "Token Creature — Goblin",
          :oracle-text ""}]}
 #:card{:code "tgk1",
        :collector-number "8",
        :name "Saproling // Elf Knight",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/cc77373d-34d1-475b-ade9-f49bb64bff9c.png?1541007432",
          :type-line "Token Creature — Saproling",
          :oracle-text ""}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/c/c/cc77373d-34d1-475b-ade9-f49bb64bff9c.png?1541007432",
          :type-line "Token Creature — Elf Knight",
          :oracle-text "Vigilance"}]}
 #:card{:code "tgk1",
        :collector-number "9",
        :name "Wurm // Saproling",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d0c052ed-c761-4f1d-816b-092cdd6cb0fa.png?1541007588",
          :type-line "Token Creature — Wurm",
          :oracle-text "Trample"}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/d/0/d0c052ed-c761-4f1d-816b-092cdd6cb0fa.png?1541007588",
          :type-line "Token Creature — Saproling",
          :oracle-text ""}]}
 #:card{:code "tgk1",
        :collector-number "10",
        :name "Elemental // Centaur",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/d/2/d2d19d33-407b-42fc-84de-d8a0642723c1.png?1541007138",
          :type-line "Token Creature — Elemental",
          :oracle-text "Vigilance"}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/d/2/d2d19d33-407b-42fc-84de-d8a0642723c1.png?1541007138",
          :type-line "Token Creature — Centaur",
          :oracle-text ""}]}
 #:card{:code "tgk1",
        :collector-number "11",
        :name "Voja // Saproling",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/2879010f-b752-4808-8531-d24e612de0d9.png?1541006575",
          :type-line "Token Legendary Creature — Wolf",
          :oracle-text ""}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/2/8/2879010f-b752-4808-8531-d24e612de0d9.png?1541006575",
          :type-line "Token Creature — Saproling",
          :oracle-text ""}]})
