(#:card{:code "tgk2",
        :collector-number "1",
        :name "Bird",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/8/a813c741-d0d4-48cd-9bbf-8a04a544ce8e.png?1552078404",
        :type-line "Token Creature — Bird",
        :oracle-text "Flying"}
 #:card{:code "tgk2",
        :collector-number "2",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e11d6572-0398-490d-8790-7d2b7e9fbca5.png?1552078541",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tgk2",
        :collector-number "3",
        :name "Bat",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9e2b5361-ff9a-485c-8ae2-52bf376fd9ad.png?1552078403",
        :type-line "Token Creature — Bat",
        :oracle-text "Flying"}
 #:card{:code "tgk2",
        :collector-number "4",
        :name "Cleric",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/8/88bb40e8-3057-4707-82e8-4b3d19d51e91.png?1552078406",
        :type-line "Token Creature — Cleric",
        :oracle-text
        "{3}{W}{B}{B}, {T}, Sacrifice this creature: Return a card named Deathpact Angel from your graveyard to the battlefield."}
 #:card{:code "tgk2",
        :collector-number "5",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d5013fdc-fae8-4170-8320-1ed13902f319.png?1552078407",
        :type-line "Token Creature — Dragon",
        :oracle-text "Flying"}
 #:card{:code "tgk2",
        :collector-number "6",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/72230a1b-90ba-4564-9164-90cffdf34b93.png?1577661705",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "tgk2",
        :collector-number "7",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/3543a88a-ed81-4dec-a616-43f9367516de.png?1552078539",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "tgk2",
        :collector-number "8",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1f5a1c01-a461-495e-87cc-f2202c3f349a.png?1552078543",
        :type-line "Token Creature — Wurm",
        :oracle-text ""}
 #:card{:code "tgk2",
        :collector-number "9",
        :name "Ooze",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c918e38-7151-407f-bf3b-44a11f92fb15.png?1552078540",
        :type-line "Token Creature — Ooze",
        :oracle-text ""})
