(#:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tgn3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/4/24c6175f-22a1-4801-be41-85f70e292a60.png?1675457127",
        :collector-number "1",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Human Soldier",
        :layout-category :normal,
        :code "tgn3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/6/a625ca5f-d4fd-4baf-8e8e-1db3e3325bcd.png?1675457134",
        :collector-number "2",
        :layout "token",
        :name "Human Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tgn3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/b/9ba7cc07-84ee-4f0e-8d88-fdc02dca0f2e.png?1675457142",
        :collector-number "3",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Bird Illusion",
        :layout-category :normal,
        :code "tgn3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/e/6efdee86-8a76-4eb7-bd34-f472138e639b.png?1675455659",
        :collector-number "4",
        :layout "token",
        :name "Bird Illusion",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Drake",
        :layout-category :normal,
        :code "tgn3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/5/a5c325d9-6cfc-4e41-b73d-4a45454d9fad.png?1675457149",
        :collector-number "5",
        :layout "token",
        :name "Drake",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Demon",
        :layout-category :normal,
        :code "tgn3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/4/548bf09e-1641-4d36-8e12-82b8708c4aae.png?1675457156",
        :collector-number "6",
        :layout "token",
        :name "Demon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tgn3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/6/06190caa-cade-453d-ac88-4b1ef3e0c16a.png?1675457164",
        :collector-number "7",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "tgn3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/5/6592849a-3875-42e6-bab8-f1c04b5f58bf.png?1675457172",
        :collector-number "8",
        :layout "token",
        :name "Dragon",
        :oracle-text
        "Flying\n{R}: This creature gets +1/+0 until end of turn."}
 #:card{:type-line "Token Creature — Elf Warrior",
        :layout-category :normal,
        :code "tgn3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/f/8fa20b7b-aa8e-44a0-ba27-29727e7a8ff0.png?1675457180",
        :collector-number "9",
        :layout "token",
        :name "Elf Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tgn3",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/f/cfe308a3-4a6d-41a5-8136-4020f98d8bd0.png?1675457188",
        :collector-number "10",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."})
