(#:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/1/71766a5a-ce00-4e48-b4f6-0d1a7f5b2691.png?1561757388",
        :collector-number "1",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Rat",
        :layout-category :normal,
        :code "tgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f1fb8ca6-7351-457a-b2a4-48f57ec3c64a.png?1561758412",
        :collector-number "2",
        :layout "token",
        :name "Rat",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Frog Lizard",
        :layout-category :normal,
        :code "tgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/9/b938d2e0-7e90-4f57-b363-5c68a6207d6c.png?1561757918",
        :collector-number "3",
        :layout "token",
        :name "Frog Lizard",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Cleric",
        :layout-category :normal,
        :code "tgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/a/9af74e26-69d7-4683-9a71-9b420c03d75f.png?1561757657",
        :collector-number "4",
        :layout "token",
        :name "Cleric",
        :oracle-text
        "{3}{W}{B}{B}, {T}, Sacrifice this creature: Return a card named Deathpact Angel from your graveyard to the battlefield."}
 #:card{:type-line "Token Creature — Horror",
        :layout-category :normal,
        :code "tgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/79a71b52-58f9-4945-9557-0fbcbbf5a241.png?1561757432",
        :collector-number "5",
        :layout "token",
        :name "Horror",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/8/a8a5a5a5-a8ae-41ed-9af5-b99d80ce0b35.png?1561757786",
        :collector-number "6",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/91f3a4b0-0992-4245-b245-033ad1083a93.png?1561757581",
        :collector-number "7",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Emblem — Domri",
        :layout-category :normal,
        :code "tgtc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/1612f546-1bdb-4861-966c-4eeb7d1e65e8.png?1561756714",
        :collector-number "8",
        :layout "emblem",
        :name "Domri Rade Emblem",
        :oracle-text
        "Creatures you control have double strike, trample, hexproof, and haste."})
