(#:card{:code "tgvl",
        :collector-number "8",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1fafa701-b509-4050-a994-ec4258a3ea95.png?1561756767",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tgvl",
        :collector-number "9",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/befd9922-4f58-435b-8519-94807c0cdf0d.png?1561757969",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tgvl",
        :collector-number "10",
        :name "Elephant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/4/7401b0bf-0a54-4f77-b424-00c1327afc61.png?1561757412",
        :type-line "Token Creature — Elephant",
        :oracle-text ""}
 #:card{:code "tgvl",
        :collector-number "11",
        :name "Bat",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/8450021c-61be-4b2a-ac05-c51a4f71e701.png?1561757488",
        :type-line "Token Creature — Bat",
        :oracle-text "Flying"})
