(#:card{:code "thou",
        :collector-number "1",
        :name "Adorned Pouncer",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/1/71dc8556-a658-40e1-8a93-6a62af208a28.png?1562639859",
        :type-line "Token Creature — Zombie Cat",
        :oracle-text "Double strike"}
 #:card{:code "thou",
        :collector-number "2",
        :name "Champion of Wits",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/5/65eebe6c-5bc9-463c-b74c-eae79fc3c1b6.png?1562639835",
        :type-line "Token Creature — Zombie Naga Wizard",
        :oracle-text
        "When Champion of Wits enters the battlefield, you may draw cards equal to its power. If you do, discard two cards."}
 #:card{:code "thou",
        :collector-number "3",
        :name "Dreamstealer",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/c/8c362d05-f2f7-4415-8937-f9f368986e61.png?1562639915",
        :type-line "Token Creature — Zombie Human Wizard",
        :oracle-text
        "Menace\nWhenever Dreamstealer deals combat damage to a player, that player discards that many cards."}
 #:card{:code "thou",
        :collector-number "4",
        :name "Earthshaker Khenra",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c4bb3bd7-5aef-495e-81ba-f5d287981dbd.png?1562640030",
        :type-line "Token Creature — Zombie Jackal Warrior",
        :oracle-text
        "Haste\nWhen Earthshaker Khenra enters the battlefield, target creature with power less than or equal to Earthshaker Khenra's power can't block this turn."}
 #:card{:code "thou",
        :collector-number "5",
        :name "Proven Combatant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7c9d8aac-c032-4e0d-a8ef-99a7c53c7a19.png?1562639879",
        :type-line "Token Creature — Zombie Human Warrior",
        :oracle-text ""}
 #:card{:code "thou",
        :collector-number "6",
        :name "Resilient Khenra",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/1/c1326c5d-b5a5-4942-b15d-37830ac62c7d.png?1562640026",
        :type-line "Token Creature — Zombie Jackal Wizard",
        :oracle-text
        "When Resilient Khenra enters the battlefield, you may have target creature get +X/+X until end of turn, where X is Resilient Khenra's power."}
 #:card{:code "thou",
        :collector-number "7",
        :name "Sinuous Striker",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/1/513f2ce9-0127-4479-b37a-a835fbada8f8.png?1562639802",
        :type-line "Token Creature — Zombie Naga Warrior",
        :oracle-text
        "{U}: Sinuous Striker gets +1/-1 until end of turn."}
 #:card{:code "thou",
        :collector-number "8",
        :name "Steadfast Sentinel",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/872694ba-0666-43c1-8884-47a2e92a127c.png?1562639897",
        :type-line "Token Creature — Zombie Human Cleric",
        :oracle-text "Vigilance"}
 #:card{:code "thou",
        :collector-number "9",
        :name "Sunscourge Champion",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/289a9593-151e-47d0-b0de-5eb9f061515a.png?1562639722",
        :type-line "Token Creature — Zombie Human Wizard",
        :oracle-text
        "When Sunscourge Champion enters the battlefield, you gain life equal to its power."}
 #:card{:code "thou",
        :collector-number "10",
        :name "Horse",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f3dd4d92-6471-4f4b-9c70-cbd2196e8c7b.png?1562640130",
        :type-line "Token Creature — Horse",
        :oracle-text ""}
 #:card{:code "thou",
        :collector-number "11",
        :name "Snake",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/57708b3d-ddfb-4924-b5c9-123aa9e967ad.png?1562639813",
        :type-line "Token Creature — Snake",
        :oracle-text ""}
 #:card{:code "thou",
        :collector-number "12",
        :name "Insect",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/ae56d9e8-de05-456b-af32-b5992992ee15.png?1562639978",
        :type-line "Token Creature — Insect",
        :oracle-text "Flying, haste"}
 #:card{:code "thou",
        :collector-number "13",
        :name "Punchcard",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/37022fc1-6a13-4873-9eaf-b827da73328e.png?1562639747",
        :type-line "Card",
        :oracle-text ""}
 #:card{:code "thou",
        :collector-number "14",
        :name "Punchcard",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/b/1b6d3368-6295-4db1-ac89-06c77175c6de.png?1562639699",
        :type-line "Card",
        :oracle-text ""})
