(#:card{:code "thp1",
        :collector-number "1a",
        :name "The Protector",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca66cd86-1574-4e6e-94de-a19d8d26836f.png?1561758086",
        :type-line "Hero",
        :oracle-text
        "{T}: Prevent the next 1 damage that would be dealt to any target this turn."}
 #:card{:code "thp1",
        :collector-number "1b",
        :name "The Philosopher",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/f/efbffd56-92a1-4b17-8d53-e9f28b1872e1.png?1561758389",
        :type-line "Hero",
        :oracle-text "{2}, {T}: Tap target creature."}
 #:card{:code "thp1",
        :collector-number "1c",
        :name "The Avenger",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d0f83818-2c47-435c-ade3-302e4eabc2bf.png?1561758124",
        :type-line "Hero",
        :oracle-text
        "{3}, {T}: Target creature you control gains deathtouch until end of turn."}
 #:card{:code "thp1",
        :collector-number "1d",
        :name "The Warrior",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dd60768a-c47f-4af5-bb33-c17777c7dd66.png?1561758221",
        :type-line "Hero",
        :oracle-text
        "{T}: Target creature you control gains haste until end of turn."}
 #:card{:code "thp1",
        :collector-number "1e",
        :name "The Hunter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/e/4ef068ff-934c-4e4d-a4ae-e44f194b8dca.png?1561757110",
        :type-line "Hero",
        :oracle-text
        "{T}: Target creature you control gets +1/+1 until end of turn."}
 #:card{:code "thp1",
        :collector-number "2",
        :name "The Harvester",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6c17db56-68ee-44c5-82c5-9ed9f03c5899.png?1561757365",
        :type-line "Hero",
        :oracle-text "{T}: Draw a card, then discard a card."}
 #:card{:code "thp1",
        :collector-number "3",
        :name "The Slayer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5a12f3e3-5708-4d14-a1ed-600232002266.png?1561757199",
        :type-line "Hero",
        :oracle-text "You start the game with an additional 7 life."})
