(#:card{:code "thp2",
        :collector-number "4a",
        :name "The General",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/68a4653a-5063-4fa9-8cbe-21d3ddebe3df.png?1561757335",
        :type-line "Hero",
        :oracle-text
        "Exile The General: Creatures you control get +1/+1 until end of turn. Untap them."}
 #:card{:code "thp2",
        :collector-number "4b",
        :name "The Savant",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/1/51726f8f-b63d-4e93-82b2-d63d361a3b70.png?1561757135",
        :type-line "Hero",
        :oracle-text
        "Exile The Savant: Tap all creatures your opponents control. Those creatures don't untap during their controllers' next untap steps."}
 #:card{:code "thp2",
        :collector-number "4c",
        :name "The Tyrant",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/be5044ab-5f7d-4109-8574-42306ca86b4c.png?1561757961",
        :type-line "Hero",
        :oracle-text
        "Exile The Tyrant: Creatures your opponents control get -1/-1 until end of turn."}
 #:card{:code "thp2",
        :collector-number "4d",
        :name "The Warmonger",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/0/f02b5e79-5eea-4cbe-b087-241cf27f0580.png?1561758391",
        :type-line "Hero",
        :oracle-text
        "Exile The Warmonger: Creatures you control get +2/+0 and gain haste until end of turn."}
 #:card{:code "thp2",
        :collector-number "4e",
        :name "The Provider",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d9987b43-7f20-46ce-b7dd-f3126e5bc991.png?1561758193",
        :type-line "Hero",
        :oracle-text
        "Exile The Provider: Put two +1/+1 counters on target creature you control. You gain life equal to that creature's toughness."}
 #:card{:code "thp2",
        :collector-number "5",
        :name "The Explorer",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/1936aa23-3a5d-4386-bc4d-66841e0cab2c.png?1561756731",
        :type-line "Hero",
        :oracle-text
        "You may play an additional land on each of your turns."}
 #:card{:code "thp2",
        :collector-number "6",
        :name "The Vanquisher",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/8/08a63083-997b-4a72-af48-cd35e6e9599d.png?1561756617",
        :type-line "Hero",
        :oracle-text
        "Your starting hand size is increased by one.\nYour maximum hand size is increased by one."})
