(#:card{:code "thp3",
        :collector-number "0",
        :name "Enhancement Stickers",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b75073d6-bd99-4d70-b335-72df71636617.png?1561757892",
        :type-line "Card",
        :oracle-text
        "Equipped creature has vigilance and can block an additional creature each combat.\nWhenever equipped creature deals damage, put a +1/+1 counter on it.\nWhenever equipped creature deals damage, scry 1.\nEquipped creature has protection from enchantments.\nEquipped creature has double strike.\nWhenever equipped creature deals damage, put a 1/1 white Soldier creature token onto the battlefield.\nWhenever equipped creature deals damage, untap two target lands."}
 #:card{:code "thp3",
        :collector-number "7a",
        :name "Spear of the General",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8d10db7e-e680-496a-8845-3bdfb176a989.png?1561757549",
        :type-line "Hero Artifact — Equipment",
        :oracle-text
        "Equipped creature gets +2/+0 and has first strike.\nEquip {2}"}
 #:card{:code "thp3",
        :collector-number "7b",
        :name "Cloak of the Philosopher",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cb470a9e-ec5c-42f4-a128-9a813d883f14.png?1561758089",
        :type-line "Hero Artifact — Equipment",
        :oracle-text
        "Equipped creature gets +1/+1.\n{2}: Untap equipped creature.\nEquip {2}"}
 #:card{:code "thp3",
        :collector-number "7c",
        :name "Lash of the Tyrant",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/26326918-56f7-4dd1-90cc-3e3230672637.png?1561756804",
        :type-line "Hero Artifact — Equipment",
        :oracle-text
        "Equipped creature gets +1/+2 and has deathtouch.\nEquip {2}"}
 #:card{:code "thp3",
        :collector-number "7d",
        :name "Axe of the Warmonger",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e6ba72d5-b57e-4c79-a868-e114c07288c9.png?1561758338",
        :type-line "Hero Artifact — Equipment",
        :oracle-text
        "Equipped creature gets +2/+1 and has haste.\nEquip {2}"}
 #:card{:code "thp3",
        :collector-number "7e",
        :name "Bow of the Hunter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/249f009a-07da-41e6-909c-64e17208ed2e.png?1561756793",
        :type-line "Hero Artifact — Equipment",
        :oracle-text
        "Equipped creature has \"{T}: This creature deals 2 damage to any target.\"\nEquip {2}"}
 #:card{:code "thp3",
        :collector-number "8",
        :name "The Destined",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/0/80c9f81c-a6d7-4ffd-b2c8-01ef025b272f.png?1561757472",
        :type-line "Hero",
        :oracle-text
        "Spells you control that target a creature you control cost {2} less to cast."}
 #:card{:code "thp3",
        :collector-number "9",
        :name "The Champion",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/a/9a6eba2c-a980-4a2b-b103-bd91bc5889d2.png?1561757656",
        :type-line "Hero",
        :oracle-text
        "{2}, {T}, Exile The Champion: Search your library for a legendary artifact card that isn't a creature, reveal it, and put it onto the battlefield. Then shuffle your library."})
