(#:card{:type-line "Token Creature — Cat",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/7/d754e09c-efc0-4536-9f2a-6bd7e2f860ab.png?1591225552",
        :collector-number "1",
        :layout "token",
        :name "Cat",
        :oracle-text
        "Lifelink (Damage dealt by this creature also causes you to gain that much life.)"}
 #:card{:type-line "Token Creature — Cat Bird",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/1/816da759-e224-4960-b2b6-453cadc2faf1.png?1591225557",
        :collector-number "2",
        :layout "token",
        :name "Cat Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Human Soldier",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/0/90de6d1e-e654-4f4a-8014-061ce69e540f.png?1591225563",
        :collector-number "3",
        :layout "token",
        :name "Human Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Human Soldier",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/d/6d9669b1-04bd-4620-9856-04ea0473ec57.png?1591225569",
        :collector-number "4",
        :layout "token",
        :name "Human Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Human Soldier",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/4/e406949f-c629-48fa-9fb0-ba6191054d35.png?1591225575",
        :collector-number "5",
        :layout "token",
        :name "Human Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Kraken",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca17c7b2-180a-4bd1-9ab2-152f8f656dba.png?1591225580",
        :collector-number "6",
        :layout "token",
        :name "Kraken",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Shark",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/30d12226-6417-4b98-beb5-89a36c774141.png?1591225585",
        :collector-number "7",
        :layout "token",
        :name "Shark",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Dinosaur",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f918b740-1984-4090-8886-9e290a698b95.png?1591225591",
        :collector-number "8",
        :layout "token",
        :name "Dinosaur",
        :oracle-text "Haste"}
 #:card{:type-line "Token Artifact",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/9/a9cc7c63-5d13-4fd6-af9d-4a26c2bab8e6.png?1591225596",
        :collector-number "9",
        :layout "token",
        :name "Feather",
        :oracle-text
        "{1}, Sacrifice Feather: Return target Phoenix card from your graveyard to the battlefield tapped."}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1f2c9241-9cba-4c99-85cc-7e74286d1dc1.png?1591225601",
        :collector-number "10",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dinosaur Beast",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/d/9d447365-3aca-4996-9098-efcbe6f28f57.png?1591225607",
        :collector-number "11",
        :layout "token",
        :name "Dinosaur Beast",
        :oracle-text "Trample"}
 #:card{:type-line "Emblem",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0e573150-9f7e-4398-8997-aecb6057a020.png?1591225613",
        :collector-number "12",
        :layout "emblem",
        :name "Narset of the Ancient Way Emblem",
        :oracle-text
        "Whenever you cast a noncreature spell, this emblem deals 2 damage to any target."}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6b95e8bd-2686-4790-afeb-9b17d482f156.png?1600995556",
        :collector-number "13",
        :layout "token",
        :name "Companion",
        :oracle-text
        "As each game begins, you can place one card with companion here if your starting deck meets its condition. You may cast it once from here."}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/abe8eefe-c9f8-43f7-a348-8afee8b0ec68.png?1595719605",
        :collector-number "14",
        :layout "token",
        :name "Ability Punchcard",
        :oracle-text ""}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tiko",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/dff073ee-117f-4e86-aeb5-f970caff95fa.png?1599483864",
        :collector-number "15",
        :layout "token",
        :name "Ability Punchcard",
        :oracle-text ""})
