(#:card{:code "tima",
        :collector-number "1",
        :name "Angel",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/d/1dc88baf-217f-4b25-9945-75c33ae37dc2.png?1561756759",
        :type-line "Token Creature — Angel",
        :oracle-text "Flying"}
 #:card{:code "tima",
        :collector-number "2",
        :name "Bird",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e8a1b1f2-f067-4c8a-b134-4567e4d5a7c6.png?1561758355",
        :type-line "Token Creature — Bird",
        :oracle-text "Flying"}
 #:card{:code "tima",
        :collector-number "3",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7dcd7257-ca21-4847-802b-94e2957993c3.png?1561757460",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tima",
        :collector-number "4",
        :name "Djinn Monk",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/2/12b5e32a-b86b-4f8b-ae93-19f0b95c4514.png?1561756682",
        :type-line "Token Creature — Djinn Monk",
        :oracle-text "Flying"}
 #:card{:code "tima",
        :collector-number "5",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/8/d83e8599-49e0-4a70-b8a8-883af4b1b7bc.png?1561758174",
        :type-line "Token Creature — Dragon",
        :oracle-text
        "Flying\n{R}: This creature gets +1/+0 until end of turn."}
 #:card{:code "tima",
        :collector-number "6",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/a/2a341b61-c945-4ea1-89a3-217a97f98ae3.png?1561756826",
        :type-line "Token Creature — Dragon",
        :oracle-text "Flying"}
 #:card{:code "tima",
        :collector-number "7",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c9e02247-42ad-4bbc-9c89-0265c3ad85db.png?1561758078",
        :type-line "Token Creature — Beast",
        :oracle-text ""})
