(#:card{:code "tjvc",
        :collector-number "4",
        :name "Elemental Shaman",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b334af2e-58a6-4aaf-a6ec-87ca0398e626.png?1566105881",
        :type-line "Token Creature — Elemental Shaman",
        :oracle-text ""})
