(#:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tkhc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cf64f834-a645-4db4-a34f-9cab725fc1b1.png?1641306444",
        :collector-number "1",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Kithkin Soldier",
        :layout-category :normal,
        :code "tkhc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/064ce217-2a93-41ae-b26a-e80cbb2353e4.png?1641306442",
        :collector-number "2",
        :layout "token",
        :name "Kithkin Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Pegasus",
        :layout-category :normal,
        :code "tkhc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/01a2a64d-088a-4340-a129-6338cdf90203.png?1641306444",
        :collector-number "3",
        :layout "token",
        :name "Pegasus",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tkhc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/f/efcfd73d-1d69-44a8-92b6-dd68073f4731.png?1641306448",
        :collector-number "4",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Boar",
        :layout-category :normal,
        :code "tkhc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/e/8ef6aca1-2e66-48fa-a446-6ec052b1e596.png?1641306450",
        :collector-number "5",
        :layout "token",
        :name "Boar",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tkhc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/7/7737cbbf-659e-4a8d-9918-50652d6c0863.png?1641306450",
        :collector-number "6",
        :layout "token",
        :name "Elemental",
        :oracle-text "Trample"}
 #:card{:type-line "Token Artifact Creature — Servo",
        :layout-category :normal,
        :code "tkhc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/989a3960-0cfc-4eab-ae9e-503b934e9835.png?1641306453",
        :collector-number "7",
        :layout "token",
        :name "Servo",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tkhc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/c/ecfbb9f1-a8c4-4ae3-8db1-e4c39d7fed0c.png?1641306455",
        :collector-number "8",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"})
