(#:card{:code "tkhm",
        :collector-number "1",
        :name "Shard",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/df826c7d-5508-4e21-848c-91bc3e3f447a.png?1615686110",
        :type-line "Token Enchantment — Shard",
        :oracle-text
        "{2}, Sacrifice this enchantment: Scry 1, then draw a card."}
 #:card{:code "tkhm",
        :collector-number "2",
        :name "Angel Warrior",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3bd871a3-3802-4bdc-8033-3ecfd01c0449.png?1615686143",
        :type-line "Token Creature — Angel Warrior",
        :oracle-text "Flying, vigilance"}
 #:card{:code "tkhm",
        :collector-number "3",
        :name "Human Warrior",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06fbcd85-c54e-492e-9e42-5e101cac4255.png?1615686169",
        :type-line "Token Creature — Human Warrior",
        :oracle-text ""}
 #:card{:code "tkhm",
        :collector-number "4",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/95694c03-2b3b-455c-8361-0799c078bf04.png?1615686192",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tkhm",
        :collector-number "5",
        :name "Bird",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a0cb299-057d-4c39-9d73-3a3512526e4a.png?1615686221",
        :type-line "Token Creature — Bird",
        :oracle-text "Flying"}
 #:card{:code "tkhm",
        :collector-number "6",
        :name "Giant Wizard",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a40a0cb8-0caf-4dd1-b7d0-abbc626985d2.png?1615686247",
        :type-line "Token Creature — Giant Wizard",
        :oracle-text ""}
 #:card{:code "tkhm",
        :collector-number "7",
        :name "Koma's Coil",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/54a1c6a9-3531-4432-9157-e4400dbc89fd.png?1615686273",
        :type-line "Token Creature — Serpent",
        :oracle-text ""}
 #:card{:code "tkhm",
        :collector-number "8",
        :name "Shapeshifter",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/f/ef775ad0-b1a9-4254-ab6f-304558bb77a1.png?1615686300",
        :type-line "Token Creature — Shapeshifter",
        :oracle-text "Changeling (This token is every creature type.)"}
 #:card{:code "tkhm",
        :collector-number "9",
        :name "Zombie Berserker",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/4/e4bbd379-6728-4c6b-b375-295926fe6b00.png?1615686324",
        :type-line "Token Creature — Zombie Berserker",
        :oracle-text ""}
 #:card{:code "tkhm",
        :collector-number "10",
        :name "Demon Berserker",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c58def55-f2ca-4c41-b891-c32e5220fc66.png?1615686348",
        :type-line "Token Creature — Demon Berserker",
        :oracle-text
        "Menace (This creature can't be blocked except by two or more creatures.)"}
 #:card{:code "tkhm",
        :collector-number "11",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/029c9790-d5f3-4fe2-a2f5-6da5d27de835.png?1615686423",
        :type-line "Token Creature — Dragon",
        :oracle-text "Flying"}
 #:card{:code "tkhm",
        :collector-number "12",
        :name "Dwarf Berserker",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/142bbbe1-4446-4d80-b82d-0df8ef17eac1.png?1615686398",
        :type-line "Token Creature — Dwarf Berserker",
        :oracle-text ""}
 #:card{:code "tkhm",
        :collector-number "13",
        :name "Bear",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/c/ec53abaa-b316-496d-9351-318a9dd9de4d.png?1615686653",
        :type-line "Token Creature — Bear",
        :oracle-text ""}
 #:card{:code "tkhm",
        :collector-number "14",
        :name "Cat",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2e07758f-0d1c-47d9-ba5a-43bc2a7423cd.png?1615686706",
        :type-line "Token Creature — Cat",
        :oracle-text ""}
 #:card{:code "tkhm",
        :collector-number "15",
        :name "Elf Warrior",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/118d0655-5719-4512-8bc1-fe759669811b.png?1615686731",
        :type-line "Token Creature — Elf Warrior",
        :oracle-text ""}
 #:card{:code "tkhm",
        :collector-number "16",
        :name "Troll Warrior",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/8/8869a8cc-d196-417f-bba5-5ed31bae6a18.png?1615686760",
        :type-line "Token Creature — Troll Warrior",
        :oracle-text "Trample"}
 #:card{:code "tkhm",
        :collector-number "17",
        :name "Icy Manalith",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3db39e3b-fad4-4c9b-911f-69883ac7e0e1.png?1615686788",
        :type-line "Token Snow Artifact",
        :oracle-text "{T}: Add one mana of any color."}
 #:card{:code "tkhm",
        :collector-number "18",
        :name "Replicated Ring",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b3ce1236-ec2f-4cd1-9701-ba6ead74c220.png?1615686843",
        :type-line "Token Snow Artifact",
        :oracle-text "{T}: Add one mana of any color."}
 #:card{:code "tkhm",
        :collector-number "19",
        :name "Treasure",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4ae9f454-4f8c-4123-9886-674bc439dfe7.png?1615686815",
        :type-line "Token Artifact — Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:code "tkhm",
        :collector-number "20",
        :name "Kaya the Inexorable Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b149bbf-5d2a-4f7e-aa87-23edd5848cde.png?1615686871",
        :type-line "Emblem",
        :oracle-text
        "At the beginning of your upkeep, you may cast a legendary spell from your hand, from your graveyard, or from among cards you own in exile without paying its mana cost."}
 #:card{:code "tkhm",
        :collector-number "21",
        :name "Tibalt, Cosmic Impostor Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c62490ac-4838-4b68-baff-18d9823a2a7f.png?1615686895",
        :type-line "Emblem",
        :oracle-text
        "You may play cards exiled with Tibalt, Cosmic Impostor, and you may spend mana as though it were mana of any color to cast those spells."}
 #:card{:code "tkhm",
        :collector-number "22",
        :name "Tyvar Kell Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/53162f62-5327-4f2d-8f34-e90de2a1c818.png?1615686922",
        :type-line "Emblem",
        :oracle-text
        "Whenever you cast an Elf spell, it gains haste until end of turn and you draw two cards."}
 #:card{:code "tkhm",
        :collector-number "23",
        :name "Foretell",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fb02637f-1385-4d3d-8dc0-de513db7633a.png?1615690969",
        :type-line "Card",
        :oracle-text
        "(After you foretell a card, you can place the exiled card here. You may cast it on a later turn for its foretell cost.)"})
