(#:card{:code "tkld",
        :collector-number "1",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/d/4de1d095-459f-42fd-9d9f-8f71d002a5b2.png?1562639796",
        :type-line "Token Artifact Creature — Beast",
        :oracle-text ""}
 #:card{:code "tkld",
        :collector-number "2",
        :name "Construct",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/2/623a08d1-f5ff-48b7-bdb6-54b8d7a4b931.png?1562639829",
        :type-line "Token Artifact Creature — Construct",
        :oracle-text ""}
 #:card{:code "tkld",
        :collector-number "3",
        :name "Construct",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/5/a55f071a-f250-4a2b-9060-da27f2fc0f48.png?1562639962",
        :type-line "Token Artifact Creature — Construct",
        :oracle-text ""}
 #:card{:code "tkld",
        :collector-number "4",
        :name "Servo",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/0/60842b1a-6ae7-4b3b-a23f-0d94a3d89884.png?1562639827",
        :type-line "Token Artifact Creature — Servo",
        :oracle-text ""}
 #:card{:code "tkld",
        :collector-number "5",
        :name "Servo",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/7/d79e2bf1-d26d-4be3-a5ad-a43346ed445a.png?1562640071",
        :type-line "Token Artifact Creature — Servo",
        :oracle-text ""}
 #:card{:code "tkld",
        :collector-number "6",
        :name "Servo",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e1980809-4c81-4080-92cd-31776962a4e1.png?1562640093",
        :type-line "Token Artifact Creature — Servo",
        :oracle-text ""}
 #:card{:code "tkld",
        :collector-number "7",
        :name "Thopter",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fd03a2b9-bfd7-4e1d-b660-e9f945699b78.png?1562640153",
        :type-line "Token Artifact Creature — Thopter",
        :oracle-text "Flying"}
 #:card{:code "tkld",
        :collector-number "8",
        :name "Thopter",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7d39524b-a4af-44ed-8f04-50680628c28f.png?1562639880",
        :type-line "Token Artifact Creature — Thopter",
        :oracle-text "Flying"}
 #:card{:code "tkld",
        :collector-number "9",
        :name "Thopter",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c9a3d08-040a-4fec-b86d-c41a074f925c.png?1562639947",
        :type-line "Token Artifact Creature — Thopter",
        :oracle-text "Flying"}
 #:card{:code "tkld",
        :collector-number "10",
        :name "Chandra, Torch of Defiance Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/50ce1db3-417c-4c22-84e5-c463addde476.png?1562639801",
        :type-line "Emblem — Chandra",
        :oracle-text
        "Whenever you cast a spell, this emblem deals 5 damage to any target."}
 #:card{:code "tkld",
        :collector-number "11",
        :name "Nissa, Vital Force Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/54986eaa-1bbb-4d34-ae09-fa7de2627ba0.png?1562639808",
        :type-line "Emblem — Nissa",
        :oracle-text
        "Whenever a land enters the battlefield under your control, you may draw a card."}
 #:card{:code "tkld",
        :collector-number "12",
        :name "Dovin Baan Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a76ccde7-c78d-4f4a-9fe4-ad6986e2cb8e.png?1562639968",
        :type-line "Emblem — Dovin",
        :oracle-text
        "Your opponents can't untap more than two permanents during their untap steps."}
 #:card{:code "tkld",
        :collector-number "13",
        :name "Energy Reserve",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a446b9f8-cb22-408a-93ff-bee44a0dccc0.png?1604831723",
        :type-line "Card",
        :oracle-text "(Place your energy counters in this area.)"})
