(#:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/a/aa788dea-2968-45e8-9e08-c89e3e227d88.png?1562639973",
        :collector-number "1",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/7071930c-689a-44b9-b52d-45027fd14446.png?1562639854",
        :collector-number "2",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Warrior",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f46bcc76-181c-4e06-aa04-590a3e651dc7.png?1562640133",
        :collector-number "3",
        :layout "token",
        :name "Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Warrior",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af4c9101-85bf-4a4f-a496-ff6db7b531b7.png?1562639979",
        :collector-number "4",
        :layout "token",
        :name "Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Vampire",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/1/71496671-f7ba-4014-a895-d70a27979db7.png?1562639857",
        :collector-number "5",
        :layout "token",
        :name "Vampire",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/ba7da3d0-2471-48ab-8e7c-af8046d9e0be.png?1562640008",
        :collector-number "6",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/ed418a8b-f158-492d-a323-6265b3175292.png?1562640121",
        :collector-number "7",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Bear",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca3dae7d-3880-4c0a-acfb-8fd227cf9fab.png?1562640044",
        :collector-number "8",
        :layout "token",
        :name "Bear",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Snake",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/032e9f9d-b1e5-4724-9b80-e51500d12d5b.png?1562639651",
        :collector-number "9",
        :layout "token",
        :name "Snake",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spirit Warrior",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/febc7ce0-387f-413c-a387-2952b990ff3f.png?1562640159",
        :collector-number "10",
        :layout "token",
        :name "Spirit Warrior",
        :oracle-text ""}
 #:card{:type-line "Creature",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bc513990-b4e8-498b-84d5-8317bc79a667.png?1562640014",
        :collector-number "11",
        :layout "token",
        :name "Morph",
        :oracle-text
        "(You can cover a face-down creature with this reminder card.\nA card with morph can be turned face up any time for its morph cost.)"}
 #:card{:type-line "Emblem — Sarkhan",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/d/9d0430bc-5b7e-431e-a8d0-168f679fe79c.png?1562639948",
        :collector-number "12",
        :layout "emblem",
        :name "Sarkhan, the Dragonspeaker Emblem",
        :oracle-text
        "At the beginning of your draw step, draw two additional cards.\nAt the beginning of your end step, discard your hand."}
 #:card{:type-line "Emblem — Sorin",
        :layout-category :normal,
        :code "tktk",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/f/8f6e8950-5b1e-48b6-8d32-2a463455499d.png?1562639922",
        :collector-number "13",
        :layout "emblem",
        :name "Sorin, Solemn Visitor Emblem",
        :oracle-text
        "At the beginning of each opponent's upkeep, that player sacrifices a creature."})
