(#:card{:type-line "Token Creature — Shapeshifter",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/4/c4846f1d-d9ff-454b-8408-2809012d28b3.png?1699040416",
        :collector-number "1",
        :layout "token",
        :name "Shapeshifter",
        :oracle-text "Changeling (This token is every creature type.)"}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/c/8ccdac6c-5bce-4f39-a7d9-b459f5113812.png?1698873701",
        :collector-number "2",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Merfolk",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/b/5b551cd5-430f-4ff8-9aae-b0614eae7baa.png?1698873742",
        :collector-number "3",
        :layout "token",
        :name "Merfolk",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Salamander Warrior",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/1/311dc0b5-755b-4457-817f-ef40bf1e8fa5.png?1698873560",
        :collector-number "4",
        :layout "token",
        :name "Salamander Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Pirate",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/e/ae3cbd25-2a67-499b-9613-d2c72ae87c2e.png?1698873551",
        :collector-number "5",
        :layout "token",
        :name "Pirate",
        :oracle-text
        "Menace (This creature can't be blocked except by two or more creatures.)"}
 #:card{:type-line "Token Creature — Vampire",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/d/8d2ea7d8-a807-472e-a35f-976fe44de054.png?1698873632",
        :collector-number "6",
        :layout "token",
        :name "Vampire",
        :oracle-text "Lifelink"}
 #:card{:type-line "Token Legendary Creature — Monkey",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/f/ef2891b2-56a0-40f4-a992-d9866451f946.png?1698873576",
        :collector-number "7",
        :layout "token",
        :name "Ragavan",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/d/0d720a76-58ad-4a7a-8bd9-f6137648e6c4.png?1698873729",
        :collector-number "8",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Boar",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/9/f9574a1f-8e8b-4092-97db-27ad27452130.png?1698873775",
        :collector-number "9",
        :layout "token",
        :name "Boar",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dinosaur",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/9/59b5a5de-f799-49a0-925f-a0cfd46045b5.png?1698873816",
        :collector-number "10",
        :layout "token",
        :name "Dinosaur",
        :oracle-text
        "Trample (This creature can deal excess combat damage to the player or planeswalker it's attacking.)"}
 #:card{:type-line "Token Creature — Dinosaur Beast",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/e/ce81e7fe-66fc-4073-a920-bdfc0bf860b9.png?1698873833",
        :collector-number "11",
        :layout "token",
        :name "Dinosaur Beast",
        :oracle-text "Trample"}
 #:card{:type-line "Token Creature — Elephant",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/b/2be112a9-0c95-4b38-a94f-cfb87791f06e.png?1698873798",
        :collector-number "12",
        :layout "token",
        :name "Elephant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Frog Lizard",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/b/4b059b47-374e-4745-aaac-2130ce70219a.png?1698873751",
        :collector-number "13",
        :layout "token",
        :name "Frog Lizard",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Vampire",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/8/788a024d-4945-4ac0-b29c-31a327c3b5b5.png?1698873604",
        :collector-number "14",
        :layout "token",
        :name "Vampire",
        :oracle-text "Lifelink"}
 #:card{:type-line "Token Artifact — Blood",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/d/4d4b2e0c-0e81-4147-aeef-579491d7ebc2.png?1698873655",
        :collector-number "15",
        :layout "token",
        :name "Blood",
        :oracle-text
        "{1}, {T}, Discard a card, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Emblem — Sorin",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/6/f6719a3f-4bd1-4f4f-b4c2-0d1fa7694732.png?1698873689",
        :collector-number "16",
        :layout "emblem",
        :name "Sorin, Lord of Innistrad Emblem",
        :oracle-text "Creatures you control get +1/+0."}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/c/9c3a8c98-e189-4cd2-b2fd-b5a591658eaa.png?1698873568",
        :collector-number "17",
        :layout "token",
        :name "City's Blessing",
        :oracle-text ""}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tlcc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/f/cfa11c2d-7525-415f-9cb2-251633e9ecd4.png?1698873584",
        :collector-number "18",
        :layout "token",
        :name "The Monarch",
        :oracle-text
        "At the beginning of your end step, draw a card.\nWhenever a creature deals combat damage to you, its controller becomes the monarch."})
