(#:card{:code "tm10",
        :collector-number "1",
        :name "Avatar",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/160c268c-db2f-4105-8f40-0237b59ed333.png?1561756711",
        :type-line "Token Creature — Avatar",
        :oracle-text
        "This creature's power and toughness are each equal to your life total."}
 #:card{:code "tm10",
        :collector-number "2",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/d/6dccd622-264e-4867-b34b-324c94861241.png?1561757371",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tm10",
        :collector-number "3",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cd51a6b5-1165-4df6-a30d-d46c729633f7.png?1561758099",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tm10",
        :collector-number "4",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3f8cdaea-32da-4c18-bcd0-18bbbda54afb.png?1561756984",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "tm10",
        :collector-number "5",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4b935437-e097-466b-a9d5-6dc0dc6a10f3.png?1561757093",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tm10",
        :collector-number "6",
        :name "Insect",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/67563770-a392-4f69-b93b-6029da639993.png?1561757325",
        :type-line "Token Creature — Insect",
        :oracle-text ""}
 #:card{:code "tm10",
        :collector-number "7",
        :name "Wolf",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/f/0f63920d-18a0-4267-bb4e-a972ba86067d.png?1561756662",
        :type-line "Token Creature — Wolf",
        :oracle-text ""}
 #:card{:code "tm10",
        :collector-number "8",
        :name "Gargoyle",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af3aa149-00fa-4932-b004-f64c8b5d3ca7.png?1561757824",
        :type-line "Token Artifact Creature — Gargoyle",
        :oracle-text "Flying"})
