(#:card{:code "tm12",
        :collector-number "1",
        :name "Bird",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/6/b6311cc7-8431-43a3-83ec-b2a5f07acf56.png?1561757889",
        :type-line "Token Creature — Bird",
        :oracle-text "Flying"}
 #:card{:code "tm12",
        :collector-number "2",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7c2a26d0-2687-41f6-99b9-6ed4e5e8a5e4.png?1561757454",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tm12",
        :collector-number "3",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8db7e3f4-0153-425a-8edc-2747bbb89638.png?1561757552",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tm12",
        :collector-number "4",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3bb48d4f-e39f-4d51-9bb1-efca7dbfdc83.png?1561756955",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tm12",
        :collector-number "5",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca2df53f-060d-464a-9c97-908e49e2dc2c.png?1561758083",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "tm12",
        :collector-number "6",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/84dc847c-7a37-4c7f-b02c-30b3e4c91fb6.png?1561757490",
        :type-line "Token Creature — Wurm",
        :oracle-text ""}
 #:card{:code "tm12",
        :collector-number "7",
        :name "Pentavite",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a1f88c3e-3532-489a-8f31-e07e8040f28e.png?1561757731",
        :type-line "Token Artifact Creature — Pentavite",
        :oracle-text "Flying"})
