(#:card{:code "tm15",
        :collector-number "1",
        :name "Sliver",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/dec96e95-5580-4110-86ec-561007ab0f1e.png?1562640084",
        :type-line "Token Creature — Sliver",
        :oracle-text ""}
 #:card{:code "tm15",
        :collector-number "2",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/faf83070-573c-4a06-9a2d-1263d7600b66.png?1562640146",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tm15",
        :collector-number "3",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/41dbf439-793a-4fe6-9d4e-0333f482e364.png?1562639767",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tm15",
        :collector-number "4",
        :name "Squid",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/c/8c366546-6da9-4daa-b0c3-1401ace5568c.png?1562639916",
        :type-line "Token Creature — Squid",
        :oracle-text "Islandwalk"}
 #:card{:code "tm15",
        :collector-number "5",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fc48bf5f-5fe1-41ef-a63d-85daacd941f7.png?1562640149",
        :type-line "Token Creature — Beast",
        :oracle-text "Deathtouch"}
 #:card{:code "tm15",
        :collector-number "6",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/eb0a1ebd-a0ac-4a03-8ac2-4678d6fb03fa.png?1562640118",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tm15",
        :collector-number "7",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/9661e23a-8914-493b-a08a-e9cd29b4666e.png?1562639938",
        :type-line "Token Creature — Dragon",
        :oracle-text
        "Flying\n{R}: This creature gets +1/+0 until end of turn."}
 #:card{:code "tm15",
        :collector-number "8",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/98993a45-4aff-4f9b-a030-7d72fbb4ec6c.png?1562639941",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "tm15",
        :collector-number "9",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dd81e49b-bd38-4c0c-b9fe-ce33c15621d6.png?1562640083",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tm15",
        :collector-number "10",
        :name "Insect",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e101a5b1-614e-43a0-9e7e-de5a248e2e43.png?1562640090",
        :type-line "Token Creature — Insect",
        :oracle-text "Flying, deathtouch"}
 #:card{:code "tm15",
        :collector-number "11",
        :name "Treefolk Warrior",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/5/2569593a-d2f2-414c-9e61-2c34e8a5832d.png?1562639718",
        :type-line "Token Creature — Treefolk Warrior",
        :oracle-text
        "This creature's power and toughness are each equal to the number of Forests you control."}
 #:card{:code "tm15",
        :collector-number "12",
        :name "Land Mine",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/30093c6e-505e-4902-b535-707e364059b4.png?1562639734",
        :type-line "Token Artifact",
        :oracle-text
        "{R}, Sacrifice this artifact: This artifact deals 2 damage to target attacking creature without flying."}
 #:card{:code "tm15",
        :collector-number "13",
        :name "Ajani Steadfast Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e8ec39dd-8ba5-4a92-bfc8-4028a2c4691d.png?1562640117",
        :type-line "Emblem — Ajani",
        :oracle-text
        "If a source would deal damage to you or a planeswalker you control, prevent all but 1 of that damage."}
 #:card{:code "tm15",
        :collector-number "14",
        :name "Garruk, Apex Predator Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5a6fa6ba-045a-43f8-8b04-579ffe24f927.png?1562639819",
        :type-line "Emblem — Garruk",
        :oracle-text
        "Whenever a creature attacks you, it gets +5/+5 and gains trample until end of turn."})
