(#:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dc31e017-81e6-43bf-bf8e-ea0faca5d9b7.png?1562702386",
        :collector-number "1",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/68d08909-a214-433b-a3b7-4baf916cd458.png?1562702114",
        :collector-number "CH1",
        :layout "token",
        :name "Core Set 2019 Checklist",
        :oracle-text
        "(Use this card to represent a double-faced Nicol Bolas card in your library or hand.)\n☐ Nicol Bolas, the Ravager {1}{U}{B}{R}"}
 #:card{:type-line "Token Creature — Avatar",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5f3f8f97-0c27-49d6-ae9a-a0fe2a7ce38b.png?1562702077",
        :collector-number "2",
        :layout "token",
        :name "Avatar",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Cat",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b31f1580-5bba-4cef-b0c8-f2837a597b7d.png?1562702272",
        :collector-number "3",
        :layout "token",
        :name "Cat",
        :oracle-text
        "Lifelink (Damage dealt by this creature also causes you to gain that much life.)"}
 #:card{:type-line "Token Creature — Knight",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fd8ca5ee-7b93-4248-8f4a-b88261ee1eed.png?1562702463",
        :collector-number "4",
        :layout "token",
        :name "Knight",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Ox",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/f/8f1d69f9-d9d7-47a9-9236-351f81ffa9ae.png?1562702193",
        :collector-number "5",
        :layout "token",
        :name "Ox",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/7/07929ced-5c81-4b05-82e1-522fec1cf5c0.png?1562701886",
        :collector-number "6",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Bat",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f1349fcb-db31-4b1d-8063-e5c28b4472cc.png?1562702438",
        :collector-number "7",
        :layout "token",
        :name "Bat",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/ed08aac1-9e82-4049-9926-618f15222024.png?1562702428",
        :collector-number "8",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f43a5ec2-8898-4645-84d7-b7218682be9b.png?1562702442",
        :collector-number "9",
        :layout "token",
        :name "Dragon",
        :oracle-text
        "Flying\n{R}: This creature gets +1/+0 until end of turn."}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2ec9eae0-2c0b-4225-8fa5-96f04a239d47.png?1562701990",
        :collector-number "10",
        :layout "token",
        :name "Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/f/4f736760-60d5-412d-9877-753eb7b5f926.png?1562702055",
        :collector-number "11",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/832691a5-c638-481b-a413-3fdfc604a132.png?1562702173",
        :collector-number "12",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elf Warrior",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/0/808b9201-6fc5-4613-85d6-6e66c6e36a8e.png?1562702166",
        :collector-number "13",
        :layout "token",
        :name "Elf Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d0044cd9-2136-423e-aa2a-829e8f007535.png?1562702358",
        :collector-number "14",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Emblem — Ajani",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/c/1c97e5b2-a024-4aa7-a9b8-45f441aad138.png?1562701927",
        :collector-number "15",
        :layout "emblem",
        :name "Ajani, Adversary of Tyrants Emblem",
        :oracle-text
        "At the beginning of your end step, create three 1/1 white Cat creature tokens with lifelink."}
 #:card{:type-line "Emblem — Tezzeret",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/faa83538-e94d-4842-ba9c-812187ecfa0b.png?1562702458",
        :collector-number "16",
        :layout "emblem",
        :name "Tezzeret, Artifice Master Emblem",
        :oracle-text
        "At the beginning of your end step, search your library for a permanent card, put it onto the battlefield, then shuffle your library."}
 #:card{:type-line "Emblem — Vivien",
        :layout-category :normal,
        :code "tm19",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/c/1cf97003-eef0-4c01-aee1-8a8264d8ef95.png?1562701931",
        :collector-number "17",
        :layout "emblem",
        :name "Vivien Reid Emblem",
        :oracle-text
        "Creatures you control get +2/+2 and have vigilance, trample, and indestructible."})
