(#:card{:code "tmed",
        :collector-number "G1",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/de12b41f-abc6-4057-bda2-ea1d5e60321b.png?1543114444",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tmed",
        :collector-number "R1",
        :name "Construct",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/2/4263a49c-82b7-4f36-899f-11914bf3275a.png?1551066257",
        :type-line "Token Artifact Creature — Construct",
        :oracle-text
        "This creature gets +1/+1 for each artifact you control."}
 #:card{:code "tmed",
        :collector-number "W1",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/d/2daf6591-606e-4a36-b279-02aad7e1110c.png?1563327110",
        :type-line "Token Creature — Beast",
        :oracle-text "Deathtouch"}
 #:card{:code "tmed",
        :collector-number "G2",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/0645e544-e395-4ab5-add2-ba46f6c2ad51.png?1543114451",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tmed",
        :collector-number "R2",
        :name "Dack Fayden Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c80136c2-7230-4fe5-b7dc-37ee32f1bd8e.png?1551066323",
        :type-line "Emblem — Dack",
        :oracle-text
        "Whenever you cast a spell that targets one or more permanents, gain control of those permanents."}
 #:card{:code "tmed",
        :collector-number "W2",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5fb1fa28-7704-4b0b-a3d0-2d003e257b9a.png?1563327014",
        :type-line "Token Creature — Dragon",
        :oracle-text "Flying"}
 #:card{:code "tmed",
        :collector-number "G3",
        :name "Construct",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/277c8c56-11a6-4aff-aaee-b9572cc7c6ef.png?1543114440",
        :type-line "Token Artifact Creature — Construct",
        :oracle-text "Defender"}
 #:card{:code "tmed",
        :collector-number "R3",
        :name "Domri, Chaos Bringer Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bdc404cd-d518-41f7-858c-f1928e44a88c.png?1551066368",
        :type-line "Emblem — Domri",
        :oracle-text
        "At the beginning of each end step, create a 4/4 red and green Beast creature token with trample."}
 #:card{:code "tmed",
        :collector-number "W3",
        :name "Garruk, Apex Predator Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0aaa3cf1-b6ef-4067-aa25-e99cf3bd82a8.png?1563326936",
        :type-line "Emblem — Garruk",
        :oracle-text
        "Whenever a creature attacks you, it gets +5/+5 and gains trample until end of turn."}
 #:card{:code "tmed",
        :collector-number "G4",
        :name "Elspeth, Knight-Errant Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/a/6a62619f-a432-4314-b018-7eacda9252a7.png?1543114441",
        :type-line "Emblem — Elspeth",
        :oracle-text
        "Artifacts, creatures, enchantments, and lands you control have indestructible."}
 #:card{:code "tmed",
        :collector-number "R4",
        :name "Jaya Ballard Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a02ffa48-e414-493c-af51-1400913f8af4.png?1551066410",
        :type-line "Emblem — Jaya",
        :oracle-text
        "You may cast instant and sorcery cards from your graveyard. If a card cast this way would be put into your graveyard, exile it instead."}
 #:card{:code "tmed",
        :collector-number "G5",
        :name "Liliana, the Last Hope Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5a23656c-3af3-49e3-ad15-aa1056027df7.png?1543114442",
        :type-line "Emblem — Liliana",
        :oracle-text
        "At the beginning of your end step, create X 2/2 black Zombie creature tokens, where X is two plus the number of Zombies you control."}
 #:card{:code "tmed",
        :collector-number "R5",
        :name "Tamiyo, the Moon Sage Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a23051f6-b2e6-42b2-86ea-ed8535ba0922.png?1551066459",
        :type-line "Emblem — Tamiyo",
        :oracle-text
        "You have no maximum hand size.\nWhenever a card is put into your graveyard from anywhere, you may return it to your hand."}
 #:card{:code "tmed",
        :collector-number "G6",
        :name "Ral, Izzet Viceroy Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/8/18a2790c-0dcd-4564-bd5e-7d453d1c4edf.png?1543114443",
        :type-line "Emblem — Ral",
        :oracle-text
        "Whenever you cast an instant or sorcery spell, this emblem deals 4 damage to any target and you draw two cards."}
 #:card{:code "tmed",
        :collector-number "G7",
        :name "Teferi, Hero of Dominaria Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3caeb24f-b4b3-4ede-9bee-4b4272b2bbcd.png?1543114445",
        :type-line "Emblem — Teferi",
        :oracle-text
        "Whenever you draw a card, exile target permanent an opponent controls."}
 #:card{:code "tmed",
        :collector-number "G8",
        :name "Vraska, Golgari Queen Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/2/828f3798-a495-42f8-b989-97f0fe662326.png?1543114446",
        :type-line "Emblem — Vraska",
        :oracle-text
        "Whenever a creature you control deals combat damage to a player, that player loses the game."})
