(#:card{:type-line "Token Creature — Shapeshifter",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a33fda72-e61d-478f-bc33-ff1a23b5f45b.png?1563072987",
        :collector-number "1",
        :layout "token",
        :name "Shapeshifter",
        :oracle-text "Changeling"}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/91808554-23ab-44f9-92a1-87ee7d58cd9a.png?1563073000",
        :collector-number "2",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/43c72f53-db47-48d1-85f0-626440b0c88c.png?1563073015",
        :collector-number "3",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c61b83cf-791a-48bf-81c8-c6c940b89d83.png?1563073033",
        :collector-number "4",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Illusion",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/ebccb29b-8b69-4813-94bb-d96e117b609e.png?1563073051",
        :collector-number "5",
        :layout "token",
        :name "Illusion",
        :oracle-text "Flying"}
 #:card{:type-line "Token Legendary Creature — Avatar",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7b993828-e139-4cb6-a329-487accc1c515.png?1563073064",
        :collector-number "6",
        :layout "token",
        :name "Marit Lage",
        :oracle-text "Flying, indestructible"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c722fe8-05f1-4da0-a23b-25e20359fcef.png?1563073076",
        :collector-number "7",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e5b57672-c346-42f5-ac3e-82466a13b957.png?1563073089",
        :collector-number "8",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/d/addc39de-db64-41d8-9185-67a09d3e326d.png?1563073102",
        :collector-number "9",
        :layout "token",
        :name "Elemental",
        :oracle-text "Trample, haste"}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c5522b39-802a-4508-a671-2f73b0633032.png?1563073114",
        :collector-number "10",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Bear",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c6610846-00d8-4cc2-a90a-4dc043ba7fa6.png?1563073126",
        :collector-number "11",
        :layout "token",
        :name "Bear",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elephant",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1ae11d5f-f29d-44f4-8d90-cdada1040435.png?1563073138",
        :collector-number "12",
        :layout "token",
        :name "Elephant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Rhino",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/007c828b-5854-41ac-9c18-f9d41c69ed33.png?1563073152",
        :collector-number "13",
        :layout "token",
        :name "Rhino",
        :oracle-text "Trample"}
 #:card{:type-line "Token Creature — Spider",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/01591603-d903-419d-9957-cf0ae7f79240.png?1563073166",
        :collector-number "14",
        :layout "token",
        :name "Spider",
        :oracle-text "Reach"}
 #:card{:type-line "Token Creature — Squirrel",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7b997fe7-69f3-4ccd-b3a7-ef5e0cb7db46.png?1563073181",
        :collector-number "15",
        :layout "token",
        :name "Squirrel",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cf24e9fa-7d7f-4693-a9ed-b8e725d0ad5c.png?1563073193",
        :collector-number "16",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/5/85f212cd-4fc6-42fe-b268-22d8e3b2b7eb.png?1563073206",
        :collector-number "17",
        :layout "token",
        :name "Construct",
        :oracle-text
        "This creature gets +1/+1 for each artifact you control."}
 #:card{:type-line "Token Artifact Creature — Golem",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dc77b308-9d0c-492f-b3fe-e00d60470767.png?1563073222",
        :collector-number "18",
        :layout "token",
        :name "Golem",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Myr",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/323e26b2-1f7d-4a30-a0ef-1aa91e91d551.png?1563073235",
        :collector-number "19",
        :layout "token",
        :name "Myr",
        :oracle-text ""}
 #:card{:type-line "Emblem — Serra",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87dbb0b0-d898-491a-8ed9-efefca04e6e6.png?1563073252",
        :collector-number "20",
        :layout "emblem",
        :name "Serra the Benevolent Emblem",
        :oracle-text
        "If you control a creature, damage that would reduce your life total to less than 1 reduces it to 1 instead."}
 #:card{:type-line "Emblem — Wrenn",
        :layout-category :normal,
        :code "tmh1",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/8/58c8a9fc-755a-4bff-8e13-41fbf4d9e546.png?1563073269",
        :collector-number "21",
        :layout "emblem",
        :name "Wrenn and Six Emblem",
        :oracle-text
        "Instant and sorcery cards in your graveyard have retrace. (You may cast instant and sorcery cards from your graveyard by discarding a land card in addition to paying their other costs.)"})
