(#:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fe8e40dd-f435-4abc-a3e8-fd3d3a94e910.png?1641306173",
        :collector-number "1",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Crab",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/e/7ef7f37a-b7f5-45a1-8f2b-7097089ca2e5.png?1641306174",
        :collector-number "2",
        :layout "token",
        :name "Crab",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Phyrexian Germ",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/5/b53e0681-603e-4180-bc86-3dadf214e61a.png?1641306175",
        :collector-number "3",
        :layout "token",
        :name "Phyrexian Germ",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie Dragon",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f7ab74f3-897a-4dd9-b460-f31a0f496bb4.png?1641306179",
        :collector-number "4",
        :layout "token",
        :name "Timeless Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie Human Shaman",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/e/0e466a1b-a120-420a-884f-99c6629dcbc7.png?1641306180",
        :collector-number "5",
        :layout "token",
        :name "Timeless Witness",
        :oracle-text
        "When Timeless Witness enters the battlefield, return target card from your graveyard to your hand."}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/0/3031bec1-c6dc-441f-9391-458bb1577c56.png?1641306181",
        :collector-number "6",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie Army",
        :layout-category :normal,
        :code "tmh2",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c46d82e0-ef99-473c-a09c-8f552db759bf.png?1641306185",
        :collector-number "7",
        :layout "token",
        :name "Zombie Army",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/41268b47-df00-41db-92d7-991c7945e4c6.png?1641306189",
        :collector-number "8",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a1eff7f8-b645-41cb-bcd9-3dc1ab10200e.png?1641306190",
        :collector-number "9",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/c/5cddb130-a354-4373-9dc4-60c7d57eec8b.png?1641306193",
        :collector-number "10",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Squirrel",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/7/977ddd05-1aae-46fc-95ce-866710d1c5c6.png?1641306196",
        :collector-number "11",
        :layout "token",
        :name "Squirrel",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Golem",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7ddb9e14-b299-4064-a41b-0fb6b078942e.png?1641306196",
        :collector-number "12",
        :layout "token",
        :name "Golem",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/03ce1033-ce07-40ef-9315-beb759af9465.png?1641306199",
        :collector-number "13",
        :layout "token",
        :name "Insect",
        :oracle-text ""}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cfcf6efe-9f94-4a55-9994-701e596691ad.png?1641306201",
        :collector-number "14",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/eb129b0d-1349-4e88-a6a7-b7968b26ee7e.png?1641306201",
        :collector-number "15",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a7caaf39-8f16-4f1d-bee6-a45674306319.png?1641306203",
        :collector-number "16",
        :layout "token",
        :name "Construct",
        :oracle-text
        "This creature gets +1/+1 for each artifact you control."}
 #:card{:type-line "Token Artifact — Food",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/f/4fdfb0ba-d086-4e7c-97e0-70d1e8328ded.png?1641306205",
        :collector-number "17",
        :layout "token",
        :name "Food",
        :oracle-text
        "{2}, {T}, Sacrifice this artifact: You gain 3 life."}
 #:card{:type-line "Token Artifact — Food",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/37e32ba6-108a-421f-9dad-3d03f7ebe239.png?1641306206",
        :collector-number "18",
        :layout "token",
        :name "Food",
        :oracle-text
        "{2}, {T}, Sacrifice this artifact: You gain 3 life."}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e542094-8d95-463c-ae6c-8f2cd56434b2.png?1641306208",
        :collector-number "19",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/3/630c0d1c-9ddb-4e76-a82a-9cdd8a5b487b.png?1641306213",
        :collector-number "20",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tmh2",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d0ab4943-3943-4b83-8da3-90a1fb0988b3.png?1641306212",
        :collector-number "21",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."})
