(#:card{:code "tmic",
        :collector-number "1",
        :name "Eldrazi Spawn",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/b/0b14ddd5-7501-46e5-bcc7-e2bbef81b8b0.png?1641305703",
        :type-line "Token Creature — Eldrazi Spawn",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:code "tmic",
        :collector-number "2",
        :name "Human Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/99c69f77-b0bc-4af0-92f5-18ee18b1aa47.png?1641305703",
        :type-line "Token Creature — Human Soldier",
        :oracle-text ""}
 #:card{:code "tmic",
        :collector-number "3",
        :name "Knight",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/5/258876ae-bdd2-4103-ba76-849907cf181d.png?1641305706",
        :type-line "Token Creature — Knight",
        :oracle-text "Vigilance"}
 #:card{:code "tmic",
        :collector-number "4",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dd7d1b61-54c3-4d4c-88cd-c7ad7789a8dd.png?1641305708",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tmic",
        :collector-number "5",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3d13fb9e-6906-47d3-b22d-c8817b2403b3.png?1644881162",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tmic",
        :collector-number "6",
        :name "Zombie Army",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a058374a-b2e7-433d-8181-89df14f4a76e.png?1644881181",
        :type-line "Token Creature — Zombie Army",
        :oracle-text ""}
 #:card{:code "tmic",
        :collector-number "7",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/6/a605be96-abae-4c11-8e7c-6fb87b4d8795.png?1644881199",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tmic",
        :collector-number "8",
        :name "Centaur",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/3/733268ab-9ec0-4838-9a02-5a95dab3a400.png?1641305716",
        :type-line "Token Creature — Centaur",
        :oracle-text ""}
 #:card{:code "tmic",
        :collector-number "9",
        :name "Elephant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/6/663b1e39-8a41-4a9d-bfd8-63a71b04f4f9.png?1641305718",
        :type-line "Token Creature — Elephant",
        :oracle-text ""}
 #:card{:code "tmic",
        :collector-number "10",
        :name "Rhino",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bc651dc2-9a3b-470c-b415-ecce0a725433.png?1641305722",
        :type-line "Token Creature — Rhino",
        :oracle-text "Trample"}
 #:card{:code "tmic",
        :collector-number "11",
        :name "Snake",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d66113d5-0a11-44bc-9de7-fc662e4dd26a.png?1644881219",
        :type-line "Token Creature — Snake",
        :oracle-text ""})
