(#:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b7667345-e11b-4cad-ac4c-84eb1c5656c5.png?1641305745",
        :collector-number "1",
        :layout "token",
        :name "Human",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c865bc02-0562-408c-b18e-0e66da906fc6.png?1641305854",
        :collector-number "2",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a0f7b2f0-16d3-4db0-a737-c7b8dcb9d5de.png?1641305856",
        :collector-number "3",
        :layout "token",
        :name "Bird",
        :oracle-text
        "Flying\nThis creature can block only creatures with flying."}
 #:card{:type-line "Token Creature — Bat",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e5c0f400-41be-488b-be84-b07289b1ef62.png?1641305858",
        :collector-number "4",
        :layout "token",
        :name "Bat",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/a/6adb8607-1066-451d-a719-74ad32358278.png?1641305859",
        :collector-number "5",
        :layout "token",
        :name "Zombie",
        :oracle-text
        "Decayed (This creature can't block. When it attacks, sacrifice it at end of combat.)"}
 #:card{:type-line "Token Creature — Devil",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/14f9c505-a833-4240-83a0-fbd160bdbf0f.png?1641305861",
        :collector-number "6",
        :layout "token",
        :name "Devil",
        :oracle-text
        "When this creature dies, it deals 1 damage to any target."}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c4052aed-981b-41d0-85f0-20c2599811ba.png?1641305864",
        :collector-number "7",
        :layout "token",
        :name "Elemental",
        :oracle-text
        "Trample\nThis creature's power and toughness are each equal to the number of instant and sorcery cards in your graveyard plus the number of cards with flashback you own in exile."}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/5/f55c70b8-0fa5-4d08-9061-f53d6f949908.png?1641305867",
        :collector-number "8",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d53e20ee-b43c-45aa-9921-2c6f7ddc27fb.png?1641305867",
        :collector-number "9",
        :layout "token",
        :name "Insect",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Ooze",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/a/faa10292-f358-48c1-a516-9a1eecf62b1d.png?1641305871",
        :collector-number "10",
        :layout "token",
        :name "Ooze",
        :oracle-text
        "This creature's power is equal to the number of card types among cards in your graveyard and its toughness is equal to that number plus 1."}
 #:card{:type-line "Token Creature — Spider",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/41bee18a-46d6-4f60-9e19-5fc670a20a4d.png?1641305873",
        :collector-number "11",
        :layout "token",
        :name "Spider",
        :oracle-text "Reach"}
 #:card{:type-line "Token Creature — Treefolk",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/4/94e4345b-61b1-4026-a01c-c9f2036c5c8a.png?1641305874",
        :collector-number "12",
        :layout "token",
        :name "Treefolk",
        :oracle-text
        "Reach\nThis creature's power and toughness are each equal to the number of lands you control."}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/364e04d9-9a8a-49df-921c-7a9bf62dc731.png?1641305879",
        :collector-number "13",
        :layout "token",
        :name "Wolf",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Vampire",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/f/0f8fe08d-b469-4471-8a7d-cf75850ba312.png?1641305879",
        :collector-number "14",
        :layout "token",
        :name "Vampire",
        :oracle-text "Trample, lifelink, haste"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/eb5fb489-6e46-4359-9c3c-ef1702526e5a.png?1641305883",
        :collector-number "15",
        :layout "token",
        :name "Zombie",
        :oracle-text
        "Menace (This creature can't be blocked except by two or more creatures.)"}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d45eca06-2ef2-47ef-a0ab-6766bbd3ab8b.png?1641305884",
        :collector-number "16",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Emblem",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/9/a970bebc-08e1-4125-a4c5-8883dfd5a5ca.png?1641305885",
        :collector-number "17",
        :layout "emblem",
        :name "Teferi, Who Slows the Sunset Emblem",
        :oracle-text
        "Untap all permanents you control during each opponent's untap step.\nYou draw a card during each opponent's draw step."}
 #:card{:type-line "Emblem",
        :layout-category :normal,
        :code "tmid",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/6/c62eda69-f0c2-4977-8603-150d5d4bec49.png?1641305887",
        :collector-number "18",
        :layout "emblem",
        :name "Wrenn and Seven Emblem",
        :oracle-text "You have no maximum hand size."}
 #:card{:code "tmid",
        :collector-number "19",
        :name "Day // Night",
        :layout "double_faced_token",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c0f7843-4cbb-4d0f-8887-ec823a9238da.png?1644880530",
          :type-line "Card",
          :oracle-text
          "(If it becomes day or night or if a daybound permanent enters the battlefield, track day/night for the rest of the game.)\nAs it becomes day, transform all nightbound permanents.\nIf a player casts no spells during their own turn, it becomes night next turn."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/9/c/9c0f7843-4cbb-4d0f-8887-ec823a9238da.png?1644880530",
          :type-line "Card",
          :oracle-text
          "As it becomes night, transform all daybound permanents.\nPermanents enter the battlefield nightbound.\nIf a player casts at least two spells during their own turn, it becomes day next turn."}]})
