(#:card{:type-line "Token Creature — Eldrazi",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/9/c9d54def-823f-4997-b0eb-6c5e44de77bd.png?1682210822",
        :collector-number "1",
        :layout "token",
        :name "Eldrazi",
        :oracle-text
        "Annihilator 1 (Whenever this creature attacks, defending player sacrifices a permanent.)"}
 #:card{:type-line "Token Creature — Sliver",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/8/586c179a-feda-475d-9e32-01b58e22c846.png?1682210831",
        :collector-number "2",
        :layout "token",
        :name "Sliver",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/c/ecba3428-716d-4dab-b2ee-baf8d9bf5ec8.png?1682210840",
        :collector-number "3",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/6/663333ab-4e92-4290-b4e2-65f3f173e53f.png?1682210849",
        :collector-number "4",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/8/38476293-627e-44e6-a83e-24aaf3de8e9a.png?1682210858",
        :collector-number "5",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/a/9abbeedd-f621-493d-bbab-acd425178c05.png?1682210867",
        :collector-number "6",
        :layout "token",
        :name "Human",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Knight",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/2/52cf8f6b-2334-4881-8f58-4e11745c8851.png?1682210876",
        :collector-number "7",
        :layout "token",
        :name "Knight",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/0/d0cc09a9-a21b-40ee-8b68-bc084f71737d.png?1682210885",
        :collector-number "8",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/7/476261b8-635c-4228-b5bf-ddc27157876e.png?1682210894",
        :collector-number "9",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Warrior",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/f/9feb9fa0-29d3-4cf7-a996-e7cb718f02b6.png?1682210903",
        :collector-number "10",
        :layout "token",
        :name "Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Faerie",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/1/010ffef8-22ce-4d8f-80f0-6749f63ec4c2.png?1682210912",
        :collector-number "11",
        :layout "token",
        :name "Faerie",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Shapeshifter",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/b/ab451fcc-15c9-4c19-9624-af0af741bba6.png?1682210921",
        :collector-number "12",
        :layout "token",
        :name "Shapeshifter",
        :oracle-text "Changeling (This token is every creature type.)"}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/8/78baf1de-8fde-4162-beeb-425e38fb5f8c.png?1682210930",
        :collector-number "13",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Squid",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/4/44ea459b-b655-4106-9f24-9bdb440e04b1.png?1682210939",
        :collector-number "14",
        :layout "token",
        :name "Squid",
        :oracle-text
        "Islandwalk (This creature can't be blocked as long as defending player controls an Island.)"}
 #:card{:type-line "Token Creature — Tentacle",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/f/6f72a7ea-2f9f-4650-927e-35b68e88a304.png?1682210947",
        :collector-number "15",
        :layout "token",
        :name "Tentacle",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/c/bc3b9e96-e29b-4fca-a9eb-0b89e6d80cae.png?1682210956",
        :collector-number "16",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Assassin",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/d/fdfdf8c9-38ca-4471-9152-45cfb288b07d.png?1682210965",
        :collector-number "17",
        :layout "token",
        :name "Assassin",
        :oracle-text "Deathtouch, haste"}
 #:card{:type-line "Token Creature — Demon",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/9/598e58b8-d26f-4bbf-a002-a93cac642a17.png?1682210973",
        :collector-number "18",
        :layout "token",
        :name "Demon",
        :oracle-text
        "Flying, trample\nAt the beginning of your upkeep, sacrifice another creature. If you can't, this creature deals 6 damage to you."}
 #:card{:type-line "Token Creature — Phyrexian Germ",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/1/216e9c9c-e63e-451d-a340-ffa6206edcb6.png?1682210983",
        :collector-number "19",
        :layout "token",
        :name "Phyrexian Germ",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Vampire Knight",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/7/b764da8e-8052-4910-b1d0-f6def8078bec.png?1682210992",
        :collector-number "20",
        :layout "token",
        :name "Vampire Knight",
        :oracle-text "Lifelink"}
 #:card{:type-line "Token Creature — Zombie Knight",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/b/1b514e92-dbb1-4d58-92b4-6347de53a90b.png?1682211001",
        :collector-number "21",
        :layout "token",
        :name "Zombie Knight",
        :oracle-text
        "Menace (This creature can't be blocked except by two or more creatures.)"}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/4/e4c5edb6-58be-4e61-9c3a-699816f9160f.png?1682211009",
        :collector-number "22",
        :layout "token",
        :name "Elemental",
        :oracle-text
        "Whenever this creature becomes tapped, it deals 1 damage to target player."}
 #:card{:type-line "Token Artifact",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/4/e401e2a8-d0a3-4517-ba20-449a1fff7f85.png?1682211019",
        :collector-number "23",
        :layout "token",
        :name "Feather",
        :oracle-text
        "{1}, Sacrifice Feather: Return target Phoenix card from your graveyard to the battlefield tapped."}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/c/9cb4069a-0ec9-415d-8a2c-82f4a9f3ea2b.png?1682211027",
        :collector-number "24",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Gremlin",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/3/23854999-2691-491c-aa7d-81f269e23b4e.png?1682211036",
        :collector-number "25",
        :layout "token",
        :name "Gremlin",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/8/488aed96-1961-4919-a2e2-ff6ccdc7abb3.png?1682211044",
        :collector-number "26",
        :layout "token",
        :name "Human",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Kobold",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/e/0ec422fe-b53e-4ae4-9fab-df2b78134098.png?1682211053",
        :collector-number "27",
        :layout "token",
        :name "Kobolds of Kher Keep",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/2/d2bfef17-6e00-4097-b27a-4e3c7e19ca03.png?1682211062",
        :collector-number "28",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/7/d7636957-f183-4f58-87a6-056cde657114.png?1682211071",
        :collector-number "29",
        :layout "token",
        :name "Butterfly",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Elephant",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/3/b3067337-9c65-45cc-9b9f-7de6109b8c1f.png?1682211080",
        :collector-number "30",
        :layout "token",
        :name "Elephant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/e/aeefb1d3-446f-4f07-9650-5b8c929f1ac9.png?1682211088",
        :collector-number "31",
        :layout "token",
        :name "Insect",
        :oracle-text "Flying, haste"}
 #:card{:type-line "Token Artifact — Blood",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/c/ac2c781d-cbfe-4d01-be02-9f34fee5d839.png?1682211097",
        :collector-number "32",
        :layout "token",
        :name "Blood",
        :oracle-text
        "{1}, {T}, Discard a card, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/1/e197929c-1334-48f5-a03c-546a4074ad02.png?1682211105",
        :collector-number "33",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/2/72398c5f-9a91-48d6-b308-bff9924e87ef.png?1682211115",
        :collector-number "34",
        :layout "token",
        :name "Construct",
        :oracle-text "Trample"}
 #:card{:type-line "Token Artifact — Food",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/5/95a625ba-330c-4677-a9b3-9c471225b204.png?1682211123",
        :collector-number "35",
        :layout "token",
        :name "Food",
        :oracle-text
        "{2}, {T}, Sacrifice this artifact: You gain 3 life."}
 #:card{:type-line "Token Artifact — Gold",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/5/655005f1-b673-4591-a353-c0c10dd26036.png?1682211133",
        :collector-number "36",
        :layout "token",
        :name "Gold",
        :oracle-text
        "Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact Creature — Golem",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/6/96d831eb-8d5f-4436-bbc6-3d1a90f3d2ed.png?1682211141",
        :collector-number "37",
        :layout "token",
        :name "Golem",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Myr",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/d/bd511c6c-a6ec-4715-94c0-945c091d82b1.png?1682211150",
        :collector-number "38",
        :layout "token",
        :name "Myr",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Phyrexian Golem",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/7/a760c72c-2883-492e-8d38-548825efdd00.png?1682211158",
        :collector-number "39",
        :layout "token",
        :name "Phyrexian Golem",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Phyrexian Horror",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/a/aa53489d-7e4e-461c-9eed-406ecf7c7abc.png?1682211167",
        :collector-number "40",
        :layout "token",
        :name "Phyrexian Horror",
        :oracle-text ""}
 #:card{:type-line "Token Snow Artifact",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/9/092bc98e-cca1-4d8e-bcde-074621280fed.png?1690489173",
        :collector-number "41",
        :layout "token",
        :name "Replicated Ring",
        :oracle-text "{T}: Add one mana of any color."}
 #:card{:type-line "Token Artifact Creature — Servo",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/1/11a8610e-6264-4b02-b871-8975f3d06012.png?1682211184",
        :collector-number "42",
        :layout "token",
        :name "Servo",
        :oracle-text ""}
 #:card{:type-line "Emblem — Elspeth",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/1/610ed7d6-362b-434a-8cdc-b16bfe20eaa0.png?1682211193",
        :collector-number "43",
        :layout "emblem",
        :name "Elspeth, Sun's Champion Emblem",
        :oracle-text
        "Creatures you control get +2/+2 and have flying."}
 #:card{:type-line "Emblem",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/2/a21250a0-8c87-4f0d-805b-5500a254dfbf.png?1682211201",
        :collector-number "44",
        :layout "emblem",
        :name "Teferi's Talent Emblem",
        :oracle-text
        "You may activate loyalty abilities of planeswalkers you control on any player's turn any time you could cast an instant."}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/9/9935aa4c-9aab-4298-bbcd-4df51a2e0428.png?1682441724",
        :collector-number "45",
        :layout "token",
        :name "City's Blessing",
        :oracle-text ""}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tmoc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/f/4fbf25fc-1f5a-4b89-942c-4fff18d0140a.png?1682211218",
        :collector-number "46",
        :layout "token",
        :name "The Monarch",
        :oracle-text
        "At the beginning of your end step, draw a card.\nWhenever a creature deals combat damage to you, its controller becomes the monarch."})
