(#:card{:type-line "Token Creature — Giant Warrior",
        :layout-category :normal,
        :code "tmor",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/0661166a-7d6c-4cba-8190-8d3eedf7f58c.png?1561756604",
        :collector-number "1",
        :layout "token",
        :name "Giant Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Faerie Rogue",
        :layout-category :normal,
        :code "tmor",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/1666cae8-8750-4091-8e45-259e76268db9.png?1561756717",
        :collector-number "2",
        :layout "token",
        :name "Faerie Rogue",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Treefolk Shaman",
        :layout-category :normal,
        :code "tmor",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/55c82ec9-692e-48eb-9337-c350fe815a3e.png?1561757161",
        :collector-number "3",
        :layout "token",
        :name "Treefolk Shaman",
        :oracle-text ""})
