(#:card{:code "tncc",
        :collector-number "1",
        :name "Eldrazi",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f62b9613-1b42-497f-838a-62f7af4373b2.png?1650820231",
        :type-line "Token Creature — Eldrazi",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "2",
        :name "Eldrazi Spawn",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/57f57c6c-3be3-4fd3-bc09-6571b6e88624.png?1650820251",
        :type-line "Token Creature — Eldrazi Spawn",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:code "tncc",
        :collector-number "3",
        :name "Manifest",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/4/942bf431-20dc-400c-9402-cf59be52f6bb.png?1650820308",
        :type-line "Creature",
        :oracle-text
        "(You can cover a face-down manifested creature with this reminder card.\nA manifested creature card can be turned face up any time for its mana cost. A face-down card can also be turned face up for its morph cost.)"}
 #:card{:code "tncc",
        :collector-number "4",
        :name "Cat Beast",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3fcdd88e-7f75-4483-a183-9dfd4d19d94a.png?1650820324",
        :type-line "Token Creature — Cat Beast",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "5",
        :name "Elemental",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fd065ce6-1593-441a-b83a-275414034f90.png?1650820345",
        :type-line "Token Creature — Elemental",
        :oracle-text "Flying"}
 #:card{:code "tncc",
        :collector-number "6",
        :name "Goat",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/031dc414-b956-45af-b4a5-40e695f7370a.png?1650820364",
        :type-line "Token Creature — Goat",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "7",
        :name "Human",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ffe0f6c9-e099-4c78-9067-ede4187dc890.png?1650820523",
        :type-line "Token Creature — Human",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "8",
        :name "Human Soldier",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/8/48601048-d280-46b9-8463-21bcbe84b1f9.png?1650820408",
        :type-line "Token Creature — Human Soldier",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "9",
        :name "Soldier",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/36f266dc-d850-45fd-a57a-c266c2a4051b.png?1650820581",
        :type-line "Token Creature — Soldier",
        :oracle-text "Lifelink"}
 #:card{:code "tncc",
        :collector-number "10",
        :name "Drake",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/ed167b55-9ec8-4f38-9d3b-012436eeb8dc.png?1650820602",
        :type-line "Token Creature — Drake",
        :oracle-text "Flying"}
 #:card{:code "tncc",
        :collector-number "11",
        :name "Faerie",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/276f075e-5fe5-4317-a31e-a19f65a963f4.png?1650820638",
        :type-line "Token Creature — Faerie",
        :oracle-text "Flying"}
 #:card{:code "tncc",
        :collector-number "12",
        :name "Squid",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/955b0aed-de9b-40e6-a225-3c27a0017518.png?1650820481",
        :type-line "Token Creature — Squid",
        :oracle-text "Islandwalk"}
 #:card{:code "tncc",
        :collector-number "13",
        :name "Tentacle",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/8/783acf43-0286-42fa-ad00-e32b21ddb33f.png?1650820504",
        :type-line "Token Creature — Tentacle",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "14",
        :name "Champion of Wits",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/ccca4d2c-71b1-4757-bfdf-8eccb435fd0a.png?1650820540",
        :type-line "Token Creature — Zombie Naga Wizard",
        :oracle-text
        "When Champion of Wits enters the battlefield, you may draw cards equal to its power. If you do, discard two cards."}
 #:card{:code "tncc",
        :collector-number "15",
        :name "Demon",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/27fcc389-1da9-4ed1-b56b-6f313a3a748e.png?1650820779",
        :type-line "Token Creature — Demon",
        :oracle-text "Flying"}
 #:card{:code "tncc",
        :collector-number "16",
        :name "Zombie",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2e9e5b71-4849-4fe6-9789-3bad81060007.png?1650820622",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "17",
        :name "Devil",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/7/e7c76857-f5bc-4624-9916-f109cdd6dea0.png?1650820982",
        :type-line "Token Creature — Devil",
        :oracle-text
        "When this creature dies, it deals 1 damage to any target."}
 #:card{:code "tncc",
        :collector-number "18",
        :name "Elemental",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/1/512fedf8-f50d-4e81-9856-e051850dc05f.png?1650820677",
        :type-line "Token Creature — Elemental",
        :oracle-text
        "At the beginning of your upkeep, sacrifice this creature and return target card named Rekindling Phoenix from your graveyard to the battlefield. It gains haste until end of turn."}
 #:card{:code "tncc",
        :collector-number "19",
        :name "Lightning Rager",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/32376be8-eb26-4129-9a4f-e37e0f428c6f.png?1650820695",
        :type-line "Token Creature — Elemental",
        :oracle-text
        "Trample, haste\nAt the beginning of the end step, sacrifice this creature."}
 #:card{:code "tncc",
        :collector-number "20",
        :name "Ogre",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b74d2065-8c08-4775-87ee-a8b27c593ff1.png?1650820712",
        :type-line "Token Creature — Ogre",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "21",
        :name "Beast",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3bc86c34-d129-4ef1-9b28-e5b291d5de3f.png?1650821055",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "22",
        :name "Elephant",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/5331dc6a-2e19-4628-a8f7-f69c8a890e1e.png?1650820753",
        :type-line "Token Creature — Elephant",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "23",
        :name "Elf Warrior",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/d/2dec2e14-9a14-4a33-beb8-f4fbce81d437.png?1650821078",
        :type-line "Token Creature — Elf Warrior",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "24",
        :name "Insect",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/02162b6a-e06b-4928-a405-16a28c78951f.png?1650821376",
        :type-line "Token Creature — Insect",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "25",
        :name "Ooze",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/26e205aa-6d29-4067-8b20-f3da72511b21.png?1650821186",
        :type-line "Token Creature — Ooze",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "26",
        :name "Ooze",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/c/6c746fd1-0731-4c6d-9eb8-6048238ce6d1.png?1650820885",
        :type-line "Token Creature — Ooze",
        :oracle-text
        "When this creature dies, create two 1/1 green Ooze creature tokens."}
 #:card{:code "tncc",
        :collector-number "27",
        :name "Plant",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f7164476-4a93-4295-9ac4-33e1677b09b8.png?1650820902",
        :type-line "Token Creature — Plant",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "28",
        :name "Saproling",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/535d07c3-819f-4922-a732-b3641b43fccf.png?1650820921",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "29",
        :name "Spider",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/5/25f3389a-9465-4e62-9432-6d0f546f2dd4.png?1650820961",
        :type-line "Token Creature — Spider",
        :oracle-text "Reach"}
 #:card{:code "tncc",
        :collector-number "30",
        :name "Treefolk",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/0/404162db-c98d-4777-9142-c50c8041d912.png?1650821000",
        :type-line "Token Creature — Treefolk",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "31",
        :name "Wurm",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2ca9dbff-d7c7-4769-adab-e09163a29f9e.png?1650821018",
        :type-line "Token Creature — Wurm",
        :oracle-text ""}
 #:card{:code "tncc",
        :collector-number "32",
        :name "Elemental",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/160579e7-4563-4576-84d7-56643217096e.png?1650821206",
        :type-line "Token Creature — Elemental",
        :oracle-text "Flying"}
 #:card{:code "tncc",
        :collector-number "33",
        :name "Soldier",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/e/cedd9906-3b52-43a3-bae8-fb6df5843d8a.png?1650821224",
        :type-line "Token Creature — Soldier",
        :oracle-text "Haste"}
 #:card{:code "tncc",
        :collector-number "34",
        :name "Clue",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/84bb0127-b093-47a0-94ea-30e28e238b67.png?1650821245",
        :type-line "Token Artifact — Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:code "tncc",
        :collector-number "35",
        :name "Food",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/8/38f07934-a2de-4f38-b583-9385ed9985e2.png?1651076151",
        :type-line "Token Artifact — Food",
        :oracle-text
        "{2}, {T}, Sacrifice this artifact: You gain 3 life."}
 #:card{:code "tncc",
        :collector-number "36",
        :name "Thopter",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/1/d14acfdc-0185-498a-aef3-bc9596eef81d.png?1650821149",
        :type-line "Token Artifact Creature — Thopter",
        :oracle-text "Flying"})
