(#:card{:code "tnec",
        :collector-number "1",
        :name "Shrine",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/0/900340a5-7517-4ec4-a51e-762e15a29470.png?1651801156",
        :type-line "Token Enchantment Creature — Shrine",
        :oracle-text ""}
 #:card{:code "tnec",
        :collector-number "2",
        :name "Angel",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff898688-0a49-4411-85f4-dddaa40788b5.png?1651801073",
        :type-line "Token Creature — Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:code "tnec",
        :collector-number "3",
        :name "Phyrexian Germ",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7dfd481c-94ad-4a2e-a396-3d4a10bacc33.png?1651801091",
        :type-line "Token Creature — Phyrexian Germ",
        :oracle-text ""}
 #:card{:code "tnec",
        :collector-number "4",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f66ddc60-4015-4c62-8e13-bc30edef5e37.png?1651801093",
        :type-line "Token Creature — Elemental",
        :oracle-text ""}
 #:card{:code "tnec",
        :collector-number "5",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4b02577e-62ec-4716-8e4c-51630cf1d49e.png?1651801113",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "tnec",
        :collector-number "6",
        :name "Smoke Blessing",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/e/5eb01bef-8989-4b38-a303-0aafab1b33e5.png?1651801115",
        :type-line "Token Enchantment — Aura",
        :oracle-text
        "Enchant creature\nWhen enchanted creature dies, it deals 1 damage to its controller and you create a Treasure token."}
 #:card{:code "tnec",
        :collector-number "7",
        :name "Beast",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/a/2aa672bb-60f3-4601-8c14-f486a54f615b.png?1651801136",
        :type-line "Token Creature — Beast",
        :oracle-text ""}
 #:card{:code "tnec",
        :collector-number "8",
        :name "Elephant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/46c63821-49f6-4b9a-80a1-18e9c79c5c1a.png?1651801137",
        :type-line "Token Creature — Elephant",
        :oracle-text ""}
 #:card{:code "tnec",
        :collector-number "9",
        :name "Plant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0dfac8bc-2b81-4577-a69c-8edbdbcc84aa.png?1651801160",
        :type-line "Token Creature — Plant",
        :oracle-text ""}
 #:card{:code "tnec",
        :collector-number "10",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/98966946-de7a-4a96-b8c5-875f6e453f94.png?1651801176",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "tnec",
        :collector-number "11",
        :name "Myr",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/eb47cd56-8f1f-49c9-8f19-8b1507063a9a.png?1651801182",
        :type-line "Token Artifact Creature — Myr",
        :oracle-text ""}
 #:card{:code "tnec",
        :collector-number "12",
        :name "Thopter",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/5/65dd4252-09d0-4666-8d80-10432265ae4a.png?1651801196",
        :type-line "Token Artifact Creature — Thopter",
        :oracle-text "Flying"})
