(#:card{:type-line "Token Creature — Pilot",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/e/be84f259-2809-48c9-9c70-861437f08c23.png?1644542924",
        :collector-number "1",
        :layout "token",
        :name "Pilot",
        :oracle-text
        "This creature crews Vehicles as though its power were 2 greater."}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca20548f-6324-4858-adbe-87303ff1ca52.png?1644542803",
        :collector-number "2",
        :layout "token",
        :name "Spirit",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Samurai",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/6/f68e5337-6e44-4f8f-a102-2f97b433beea.png?1644542564",
        :collector-number "3",
        :layout "token",
        :name "Samurai",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Ninja",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/14eb629e-f09f-4deb-b434-7615a3010a4d.png?1644542606",
        :collector-number "4",
        :layout "token",
        :name "Ninja",
        :oracle-text "This creature can't be blocked."}
 #:card{:type-line "Token Creature — Rat Rogue",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/9/695f72ea-13e6-40ab-afc7-55657701c82d.png?1644542644",
        :collector-number "5",
        :layout "token",
        :name "Rat Rogue",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cbafdfc0-380a-482b-b5f8-a7a00ecf8da6.png?1644542843",
        :collector-number "6",
        :layout "token",
        :name "Construct",
        :oracle-text "Haste"}
 #:card{:type-line "Token Creature — Dragon Spirit",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a4c06e08-2026-471d-a6d0-bbb0f040420a.png?1644542956",
        :collector-number "7",
        :layout "token",
        :name "Dragon Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Goblin Shaman",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/d/0d9461c3-f545-4efb-926e-759961db0495.png?1644543098",
        :collector-number "8",
        :layout "token",
        :name "Goblin Shaman",
        :oracle-text
        "Whenever this creature attacks, create a Treasure token."}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/2/c20e427c-efa5-476c-aa33-e3149648d207.png?1644542690",
        :collector-number "9",
        :layout "token",
        :name "Spirit",
        :oracle-text
        "Menace (This creature can't be blocked except by two or more creatures.)"}
 #:card{:type-line "Token Creature — Human Monk",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/86dd086e-c757-4a6a-8838-51860f2095f8.png?1644542713",
        :collector-number "10",
        :layout "token",
        :name "Human Monk",
        :oracle-text "{T}: Add {G}."}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/f/0f48aaab-dd6e-4bcc-a8fb-d31dd4a098ba.png?1644542872",
        :collector-number "11",
        :layout "token",
        :name "Spirit",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/2/d237377d-b79b-4f27-a142-e2c1756e0d94.png?1644542987",
        :collector-number "12",
        :layout "token",
        :name "Spirit",
        :oracle-text ""}
 #:card{:type-line "Token Legendary Creature — Frog",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fbb5b3f9-0012-4deb-b795-c377cdfe546b.png?1644542759",
        :collector-number "13",
        :layout "token",
        :name "Keimi",
        :oracle-text
        "Whenever you cast an enchantment spell, each opponent loses 1 life and you gain 1 life."}
 #:card{:type-line "Token Legendary Artifact Creature — Construct",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/0281825d-9d38-4b56-b522-a8d3cf8c77c9.png?1643668066",
        :collector-number "14",
        :layout "token",
        :name "Mechtitan",
        :oracle-text
        "Mechtitan is all colors.\nFlying, vigilance, trample, lifelink, haste"}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/2770f887-7e96-44d1-864a-8c0504a39785.png?1644542778",
        :collector-number "15",
        :layout "token",
        :name "Construct",
        :oracle-text ""}
 #:card{:type-line "Token Legendary Artifact",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/992cb1e0-e846-4710-b49e-a748e4ebffa5.png?1644543067",
        :collector-number "16",
        :layout "token",
        :name "Tamiyo's Notebook",
        :oracle-text
        "Spells you cast cost {2} less to cast.\n{T}: Draw a card."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/9/6911181d-573b-41eb-96a4-799c96e008fc.png?1644542893",
        :collector-number "17",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Emblem",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/f/df296190-e51b-44a7-ae83-279fee3151a5.png?1644543190",
        :collector-number "18",
        :layout "emblem",
        :name "Kaito Shizuki Emblem",
        :oracle-text
        "Whenever a creature you control deals combat damage to a player, search your library for a blue or black creature card, put it onto the battlefield, then shuffle."}
 #:card{:type-line "Emblem",
        :layout-category :normal,
        :code "tneo",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bdb4fa32-18dd-4530-a529-5477e45413dd.png?1644543224",
        :collector-number "19",
        :layout "emblem",
        :name "Tezzeret, Betrayer of Flesh Emblem",
        :oracle-text
        "Whenever an artifact you control becomes tapped, draw a card."})
