(#:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tnph",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7b226475-c85c-4b78-9d6a-70cc9545bc31.png?1561757442",
        :collector-number "1",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tnph",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/feeae905-e456-4598-b3de-b339397983bf.png?1561758501",
        :collector-number "2",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Golem",
        :layout-category :normal,
        :code "tnph",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fe9e8d3b-ebc0-448b-bd14-a9f418e196e7.png?1561758492",
        :collector-number "3",
        :layout "token",
        :name "Golem",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Myr",
        :layout-category :normal,
        :code "tnph",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/c/5c087beb-99c0-403e-bb44-33cfc549a831.png?1561757228",
        :collector-number "4",
        :layout "token",
        :name "Myr",
        :oracle-text ""}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tnph",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/470618f6-f67f-44c6-a086-285632508915.png?1561757039",
        :collector-number "5",
        :layout "normal",
        :name "Poison Counter",
        :oracle-text
        "(A player with ten or more poison counters loses the game.)"})
