(#:card{:type-line "Token Creature — Eldrazi Scion",
        :layout-category :normal,
        :code "togw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a03edf14-3495-4f61-ad73-f16e9456472c.png?1561929906",
        :collector-number "1",
        :layout "token",
        :name "Eldrazi Scion",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Eldrazi Scion",
        :layout-category :normal,
        :code "togw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/8/f88da33f-a944-4cc4-978e-3858c2e17e3a.png?1561929915",
        :collector-number "2",
        :layout "token",
        :name "Eldrazi Scion",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Eldrazi Scion",
        :layout-category :normal,
        :code "togw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/10e69ee5-ea72-4f0b-91fe-152b1459e318.png?1561929899",
        :collector-number "3",
        :layout "token",
        :name "Eldrazi Scion",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Eldrazi Scion",
        :layout-category :normal,
        :code "togw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bb2f495f-3b50-4b59-a2aa-d33c1767cf7c.png?1561929907",
        :collector-number "4",
        :layout "token",
        :name "Eldrazi Scion",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Eldrazi Scion",
        :layout-category :normal,
        :code "togw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/8/d8e91066-63ee-40f7-aa69-0603b61ea49e.png?1561929910",
        :collector-number "5",
        :layout "token",
        :name "Eldrazi Scion",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Eldrazi Scion",
        :layout-category :normal,
        :code "togw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/0/20b7443e-7eb2-4fcb-8114-23bad3b3bf51.png?1561929901",
        :collector-number "6",
        :layout "token",
        :name "Eldrazi Scion",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "togw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/96f407ef-2b08-45e9-a45e-128cf0a63839.png?1561929904",
        :collector-number "7",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "togw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e0bde78b-98d1-4864-899b-fc2f945ce06b.png?1561929913",
        :collector-number "8",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "togw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bc6f27f7-0248-4c04-8022-41073966e4d8.png?1561929909",
        :collector-number "9",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "togw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/db67bc06-b6c9-49a0-beef-4d35842497cb.png?1561929912",
        :collector-number "10",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Plant",
        :layout-category :normal,
        :code "togw",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/5/8501a910-e181-4f85-ad34-d2a099257148.png?1561929902",
        :collector-number "11",
        :layout "token",
        :name "Plant",
        :oracle-text ""})
