(#:card{:type-line "Token Creature — Eldrazi",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/e/3e66f1df-e269-458a-8197-1e8145c7678e.png?1675905853",
        :collector-number "1",
        :layout "token",
        :name "Eldrazi",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/e/9efb5dbc-673b-4ea0-89b3-2c9bb8047816.png?1675905854",
        :collector-number "2",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/d/0dd269c7-1333-470d-b8ef-e54add09b350.png?1675905855",
        :collector-number "3",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/e/2e5db619-2ccc-4e5b-bf74-0f8ed77afad9.png?1675905857",
        :collector-number "4",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/4/34e52e1d-dcf7-485c-a29f-78e75581c3a4.png?1675905858",
        :collector-number "5",
        :layout "token",
        :name "Human",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Human Soldier",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/9/493bb455-ee32-4cbe-bcaa-8df5b16e7b96.png?1675905861",
        :collector-number "6",
        :layout "token",
        :name "Human Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/6/461532a6-ef9c-4a9b-9815-3b5158ada976.png?1675905862",
        :collector-number "7",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/1/f1684175-6e03-4934-92e3-e2a32725f7f9.png?1675905863",
        :collector-number "8",
        :layout "token",
        :name "Soldier",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/1/a171254d-7616-42c4-bd78-b2787fb973aa.png?1675905865",
        :collector-number "9",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/1/312ea78e-a4e6-4c66-9fd7-62dc7822d89e.png?1675905866",
        :collector-number "10",
        :layout "token",
        :name "Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/1/51782bd0-178e-40e2-9c4f-8ea4e8e11345.png?1675905868",
        :collector-number "11",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Kobold",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/7/67615047-1b17-4dc1-80d2-2d5da109db94.png?1675905868",
        :collector-number "12",
        :layout "token",
        :name "Kobolds of Kher Keep",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/7/47239704-652c-49a7-9011-30f1f7d0078f.png?1675905872",
        :collector-number "13",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elephant",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/3/0305cc06-f0c2-4ac1-8717-9720cb97d269.png?1675905872",
        :collector-number "14",
        :layout "token",
        :name "Elephant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Phyrexian Insect",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/a/5a90e8ab-5a76-4834-9cd6-186af939ea41.png?1675905873",
        :collector-number "15",
        :layout "token",
        :name "Phyrexian Insect",
        :oracle-text
        "Infect (This creature deals damage to creatures in the form of -1/-1 counters and to players in the form of poison counters.)"}
 #:card{:type-line "Token Creature — Phyrexian Wurm",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/9/594c55d3-d435-4dec-bc92-011442a43684.png?1675905874",
        :collector-number "16",
        :layout "token",
        :name "Phyrexian Wurm",
        :oracle-text
        "Trample\nToxic 1 (Players dealt combat damage by this creature also get a poison counter.)"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/7/a772cfa9-39e3-4057-bccf-4d82f49982bd.png?1675905875",
        :collector-number "17",
        :layout "token",
        :name "Soldier",
        :oracle-text "Haste"}
 #:card{:type-line "Token Artifact Creature — Golem",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/2/621738c7-24f6-469e-9e44-8c80cd85ba08.png?1675905878",
        :collector-number "18",
        :layout "token",
        :name "Golem",
        :oracle-text "Haste"}
 #:card{:type-line "Token Artifact Creature — Myr",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/9/195b7790-7d01-48f4-a3d9-84ea94fc79ef.png?1675905880",
        :collector-number "19",
        :layout "token",
        :name "Myr",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Phyrexian Horror",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/6/661297e0-f8cb-402c-be33-67d3d218ce98.png?1675905880",
        :collector-number "20",
        :layout "token",
        :name "Phyrexian Horror",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/e/4e076b7f-14f3-4ce2-83f9-a18ccb2b755f.png?1675905881",
        :collector-number "21",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/7/07e41000-f743-4928-bdc7-520b0824caec.png?1675905882",
        :collector-number "22",
        :layout "token",
        :name "The Monarch",
        :oracle-text
        "At the beginning of your end step, draw a card.\nWhenever a creature deals combat damage to you, its controller becomes the monarch."}
 #:card{:type-line "Token Creature — Phyrexian Germ",
        :layout-category :normal,
        :code "tonc",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/1/113959ba-be71-47ce-93e2-b81157034822.png?1676028695",
        :collector-number "23",
        :layout "token",
        :name "Phyrexian Germ",
        :oracle-text ""})
