(#:card{:type-line "Card",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f3dcc7b5-c911-44c9-be5a-087298ddb492.png?1562640128",
        :collector-number "0",
        :layout "token",
        :name "Magic Origins Checklist",
        :oracle-text
        "(You can mark this card to represent a double-faced Planeswalker card in your library or hand.)\n☐ Kytheon, Hero of Akros {W}\n☐ Jace, Vryn's Prodigy {1}{U}\n☐ Liliana, Heretical Healer {1}{B}{B}\n☐ Chandra, Fire of Kaladesh {1}{R}{R}\n☐ Nissa, Vastwood Seer {2}{G}"}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a1ce74d5-ec65-44e8-b6c2-3f70b9fc3dbb.png?1562639954",
        :collector-number "1",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Knight",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/b/1bc2969b-2176-4471-b316-9c80443866dd.png?1562639700",
        :collector-number "2",
        :layout "token",
        :name "Knight",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e33426f5-59bf-456c-8fff-0ca27eacdef9.png?1562640102",
        :collector-number "3",
        :layout "token",
        :name "Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Demon",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/14259948-5427-401f-b510-f5b705445e50.png?1562639690",
        :collector-number "4",
        :layout "token",
        :name "Demon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/5/e5ccae95-95c2-4d11-aa68-5c80ecf90fd2.png?1562640112",
        :collector-number "5",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/2/b21498f5-9098-4e50-b1d3-bd64cba1372a.png?1562639990",
        :collector-number "6",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Legendary Creature — Elemental",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0affd414-f774-48d1-af9e-bff74e58e1ca.png?1562639668",
        :collector-number "7",
        :layout "token",
        :name "Ashaya, the Awoken World",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b7047838-ac9f-4ca1-9827-73d87098124f.png?1562640000",
        :collector-number "8",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elf Warrior",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/b/4bb75376-3b3c-4957-bf87-952f8cfc1da7.png?1562639792",
        :collector-number "9",
        :layout "token",
        :name "Elf Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75fa5fab-1076-443b-ba27-46d10770883d.png?1562639862",
        :collector-number "10",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/f/bfa49655-6ce7-404b-ad12-33ec1cd7c0d3.png?1562640023",
        :collector-number "11",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Emblem — Jace",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/458e37b1-a849-41ae-b63c-3e09ffd814e4.png?1562639775",
        :collector-number "12",
        :layout "emblem",
        :name "Jace, Telepath Unbound Emblem",
        :oracle-text
        "Whenever you cast a spell, target opponent puts the top five cards of their library into their graveyard."}
 #:card{:type-line "Emblem — Liliana",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/7/d75f984f-2e11-4f52-b3b0-dd9d94a2dd74.png?1562640068",
        :collector-number "13",
        :layout "emblem",
        :name "Liliana, Defiant Necromancer Emblem",
        :oracle-text
        "Whenever a creature dies, return it to the battlefield under your control at the beginning of the next end step."}
 #:card{:type-line "Emblem — Chandra",
        :layout-category :normal,
        :code "tori",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4a8123a6-7e7b-49fb-9ebc-19d8150852e8.png?1562639787",
        :collector-number "14",
        :layout "emblem",
        :name "Chandra, Roaring Flame Emblem",
        :oracle-text
        "At the beginning of your upkeep, this emblem deals 3 damage to you."})
