(#:card{:type-line "Token Creature — Eldrazi",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f9a7ed9a-25e4-41ad-a53e-d589e923af2c.png?1562702453",
        :collector-number "1",
        :layout "token",
        :name "Eldrazi",
        :oracle-text
        "Annihilator 1 (Whenever this creature attacks, defending player sacrifices a permanent.)"}
 #:card{:type-line "Token Creature — Eldrazi Spawn",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b71177f3-a7cb-4d38-b8c7-daa5b8266a19.png?1562702289",
        :collector-number "2",
        :layout "token",
        :name "Eldrazi Spawn",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Eldrazi Spawn",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/6/86e7507e-cebb-4047-b54a-226648655f2d.png?1562702180",
        :collector-number "3",
        :layout "token",
        :name "Eldrazi Spawn",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Eldrazi Spawn",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/7/e7a55908-ad02-43f4-8968-cd5598cb05c6.png?1562702409",
        :collector-number "4",
        :layout "token",
        :name "Eldrazi Spawn",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/964b7e7f-af5d-495a-80a6-2fc87e35e358.png?1562702208",
        :collector-number "5",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Goat",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/37624323-b00f-4096-a3af-115217cfca16.png?1562702023",
        :collector-number "6",
        :layout "token",
        :name "Goat",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Germ",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/1/51544192-095a-457c-8642-fd0ca49952d8.png?1562702064",
        :collector-number "7",
        :layout "token",
        :name "Germ",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spider",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c6a885f-1471-4827-b4b6-13db766c94bb.png?1562702222",
        :collector-number "8",
        :layout "token",
        :name "Spider",
        :oracle-text "Reach"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/1618e130-ccb6-4341-a999-60f61fb39cd6.png?1562701915",
        :collector-number "9",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/276f0298-3af9-4564-ba0f-4bbf139a706a.png?1562701960",
        :collector-number "10",
        :layout "token",
        :name "Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/1/31966bcd-2259-4e46-a5f1-d8d07abe074c.png?1562702001",
        :collector-number "11",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Hellion",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/00a1209e-c4c3-4250-ad36-ef451f5e34cd.png?1562701871",
        :collector-number "12",
        :layout "token",
        :name "Hellion",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6e42b07b-50a4-44a9-9bc7-ccb78c5292c4.png?1562702123",
        :collector-number "13",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Boar",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/83dcacd3-8707-4354-a1a5-9863d677d67f.png?1562702177",
        :collector-number "14",
        :layout "token",
        :name "Boar",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/7/e71e3a36-8f21-470f-b76c-faad47059ccb.png?1562702407",
        :collector-number "15",
        :layout "token",
        :name "Insect",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Ooze",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/ab430ac0-6fbc-4361-8adc-0c13b399310f.png?1562702254",
        :collector-number "16",
        :layout "token",
        :name "Ooze",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Ooze",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/8/18b9c83d-4422-4b95-9fc2-070ed6b5bdf6.png?1562701921",
        :collector-number "17",
        :layout "token",
        :name "Ooze",
        :oracle-text
        "When this creature dies, create two 1/1 green Ooze creature tokens."}
 #:card{:type-line "Token Creature — Plant",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2e52ae24-f5a0-45a8-88e7-19b8e91c611a.png?1562701988",
        :collector-number "18",
        :layout "token",
        :name "Plant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tpca",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7c8d6000-0c8a-4672-b834-314c3baf974a.png?1562702151",
        :collector-number "19",
        :layout "token",
        :name "Saproling",
        :oracle-text ""})
