(#:card{:type-line "Token Creature — Dinosaur",
        :layout-category :normal,
        :code "trex",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/0/20f22bef-e00f-461b-a75b-c5ad49865044.png?1699018216",
        :collector-number "1",
        :layout "token",
        :name "Dinosaur",
        :oracle-text
        "Trample (This creature can deal excess combat damage to the player or planeswalker it's attacking.)"}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "trex",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/e/2e28240d-3306-42d7-aa7a-0af0a07f345d.png?1699018293",
        :collector-number "2",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."})
