(#:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "trix",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bd0bf1d7-2e66-41fd-ae9a-ea86b939e7c9.png?1572258674",
        :collector-number "1",
        :layout "token",
        :name "Elemental",
        :oracle-text
        "At the beginning of your upkeep, sacrifice this creature and return target card named Rekindling Phoenix from your graveyard to the battlefield. It gains haste until end of turn."}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "trix",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/9236ab9c-7730-46d9-a543-84ff7b245ece.png?1561757585",
        :collector-number "CH1",
        :layout "token",
        :name "Rivals of Ixalan Checklist",
        :oracle-text
        "(You can mark this card to represent a double-faced card in your library or hand.)\n☐ Hadana's Climb {1}{G}{U}\n☐ Journey to Eternity {1}{B}{G}\n☐ Path of Mettle {R}{W}\n☐ Profane Procession {1}{W}{B}\n☐ Storm the Vault {2}{U}{R}\n☐ Azor's Gateway {2}\n☐ Golden Guardian {4}"}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "trix",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/577a3396-e974-47fb-91bd-01751cae83bf.png?1561757178",
        :collector-number "2",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "trix",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/925715e5-bb94-406b-82b1-93b4d51f0cc2.png?1561757588",
        :collector-number "3",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Golem",
        :layout-category :normal,
        :code "trix",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/7/a7820eb9-6d7f-4bc4-b421-4e4420642fb7.png?1561757771",
        :collector-number "4",
        :layout "token",
        :name "Golem",
        :oracle-text ""}
 #:card{:type-line "Emblem — Huatli",
        :layout-category :normal,
        :code "trix",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/5/859f645b-24e0-4c34-ae82-ba0ae9854377.png?1561757496",
        :collector-number "5",
        :layout "emblem",
        :name "Huatli, Radiant Champion Emblem",
        :oracle-text
        "Whenever a creature enters the battlefield under your control, you may draw a card."}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "trix",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/ba64ed3e-93c5-406f-a38d-65cc68472122.png?1561757924",
        :collector-number "6",
        :layout "normal",
        :name "City's Blessing",
        :oracle-text ""})
