(#:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5f2a2483-d21f-4c31-9a36-ed7c5672894b.png?1572892480",
        :collector-number "1",
        :layout "token",
        :name "Human",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Illusion",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/ccc3d8da-9005-44d9-bb10-18cdac7a32f5.png?1572892488",
        :collector-number "2",
        :layout "token",
        :name "Illusion",
        :oracle-text
        "Whenever this creature blocks a creature, that creature doesn't untap during its controller's next untap step."}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/27b69e52-f394-4863-943b-239e96b5cc95.png?1572892495",
        :collector-number "3",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/9/993613a6-09a9-45a5-b35f-5a5fdb6d14ec.png?1572892502",
        :collector-number "4",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Centaur",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5fc993a7-a1ce-4403-a0a0-2afc9f9eca42.png?1572892510",
        :collector-number "5",
        :layout "token",
        :name "Centaur",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Frog Lizard",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/9/495d3391-6311-418e-b55a-10c0af751026.png?1572892517",
        :collector-number "6",
        :layout "token",
        :name "Frog Lizard",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Ooze",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/0260e0ae-bf09-430a-a449-c16219d84b63.png?1572892523",
        :collector-number "7",
        :layout "token",
        :name "Ooze",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87ec9ade-1e06-43c9-97df-55465cabdf32.png?1572892529",
        :collector-number "8",
        :layout "token",
        :name "Beast",
        :oracle-text "Trample"}
 #:card{:type-line "Token Creature — Sphinx",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/8/f82ba894-7b10-45ae-9322-60ef85a2869d.png?1572892536",
        :collector-number "9",
        :layout "token",
        :name "Sphinx",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/5/45b3bdd7-b093-4bfd-8a9a-965e72bfefb3.png?1572892542",
        :collector-number "10",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8dd768c3-f278-41f8-b329-8403391d6326.png?1572892549",
        :collector-number "11",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/0559f9f3-eff0-465d-93c1-e875a8afe87f.png?1572892555",
        :collector-number "12",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Emblem — Domri",
        :layout-category :normal,
        :code "trna",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/4/44717d19-d8c2-45ba-9904-00c0c79ee0c3.png?1572892563",
        :collector-number "13",
        :layout "emblem",
        :name "Domri, Chaos Bringer Emblem",
        :oracle-text
        "At the beginning of each end step, create a 4/4 red and green Beast creature token with trample."})
