(#:card{:type-line "Token Creature — Eldrazi Spawn",
        :layout-category :normal,
        :code "troe",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e0e3826c-3c85-4910-bd6c-04894ea328d0.png?1561758276",
        :collector-number "1a",
        :layout "token",
        :name "Eldrazi Spawn",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Eldrazi Spawn",
        :layout-category :normal,
        :code "troe",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/35fb1a3d-3f1a-45ba-a643-1dca435c77de.png?1561756919",
        :collector-number "1b",
        :layout "token",
        :name "Eldrazi Spawn",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Eldrazi Spawn",
        :layout-category :normal,
        :code "troe",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d0da4f8d-cce9-4d08-8d11-792e0b2af7d0.png?1561758122",
        :collector-number "1c",
        :layout "token",
        :name "Eldrazi Spawn",
        :oracle-text "Sacrifice this creature: Add {C}."}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "troe",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/d/fd0c9fb3-5f4c-47f9-a9b3-369d4936de60.png?1561758479",
        :collector-number "2",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Hellion",
        :layout-category :normal,
        :code "troe",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/c/acabc3ce-a3c1-4c6c-8022-9a96ffba59c6.png?1561757810",
        :collector-number "3",
        :layout "token",
        :name "Hellion",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Ooze",
        :layout-category :normal,
        :code "troe",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d49e91df-0647-4c9f-9c3e-fb8c77c4886c.png?1561758143",
        :collector-number "4",
        :layout "token",
        :name "Ooze",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Goblin Golem",
        :layout-category :normal,
        :code "troe",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/11f55fa2-bb6f-4609-85ec-72703638fbd9.png?1561756679",
        :collector-number "5",
        :layout "token",
        :name "Tuktuk the Returned",
        :oracle-text "Tuktuk the Returned is legendary."})
