(#:card{:code "trtr",
        :collector-number "1",
        :name "Bird",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/05b4dbe1-12ac-404f-a1fe-96e0b620533e.png?1562539799",
        :type-line "Token Creature — Bird",
        :oracle-text "Flying"}
 #:card{:code "trtr",
        :collector-number "2",
        :name "Knight",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/67d3d039-248a-4eb8-be5c-12959b458fea.png?1562539808",
        :type-line "Token Creature — Knight",
        :oracle-text "Vigilance"}
 #:card{:code "trtr",
        :collector-number "3",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/4/944a40e8-5469-4d8b-b044-67ff3382ec92.png?1562539814",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "trtr",
        :collector-number "4",
        :name "Assassin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/9/89eb9f92-d189-4438-b6fe-cb253055d63e.png?1562539812",
        :type-line "Token Creature — Assassin",
        :oracle-text
        "Whenever this creature deals combat damage to a player, that player loses the game."}
 #:card{:code "trtr",
        :collector-number "5",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/84310f84-3e5f-4db8-bff1-16bef64de1a0.png?1562539809",
        :type-line "Token Creature — Dragon",
        :oracle-text "Flying"}
 #:card{:code "trtr",
        :collector-number "6",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/577c2e32-deb6-40d9-a050-c2acb5bfc05f.png?1562539806",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "trtr",
        :collector-number "7",
        :name "Centaur",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/8/880d5dc1-ceec-4c5f-93c2-c88b7dbfcac2.png?1562539811",
        :type-line "Token Creature — Centaur",
        :oracle-text ""}
 #:card{:code "trtr",
        :collector-number "8",
        :name "Ooze",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/6/a686e51d-e8c3-4ed6-8357-c3d38d56dd09.png?1562540213",
        :type-line "Token Creature — Ooze",
        :oracle-text ""}
 #:card{:code "trtr",
        :collector-number "9",
        :name "Rhino",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/3/1331008a-ae86-4640-b823-a73be766ac16.png?1562539801",
        :type-line "Token Creature — Rhino",
        :oracle-text "Trample"}
 #:card{:code "trtr",
        :collector-number "10",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/6/e6544989-91b4-4db7-ad44-f1355f1d6e6b.png?1562540216",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "trtr",
        :collector-number "11",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/3/33ee3f6c-5df6-4271-b2f9-86b9afffab7b.png?1562539804",
        :type-line "Token Creature — Wurm",
        :oracle-text "Trample"}
 #:card{:code "trtr",
        :collector-number "12",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/6/b64c5f80-4676-4860-be0e-20bcf2227405.png?1562540215",
        :type-line "Token Creature — Elemental",
        :oracle-text "Vigilance"})
