(#:card{:type-line "Token Creature — Eldrazi",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/2/72f80c50-e1c4-4e93-bd61-94cede85931d.png?1681428572",
        :collector-number "1",
        :layout "token",
        :name "Eldrazi",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/6/76f93f64-5d37-4b56-8185-9b8a44611dfc.png?1681428580",
        :collector-number "2",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Cat",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/a/dadc7cd3-ab95-4f7d-923d-900abddbe8d4.png?1681428587",
        :collector-number "3",
        :layout "token",
        :name "Cat",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Cat Beast",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/5/0537522a-1f4f-4a81-a678-6b280ebc29fc.png?1681428594",
        :collector-number "4",
        :layout "token",
        :name "Cat Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Cat Bird",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/9/b9bc5217-318b-4da8-a6f2-03f250871752.png?1681428602",
        :collector-number "5",
        :layout "token",
        :name "Cat Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Human Warrior",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/6/d6a4bade-ccb8-4472-a624-afbd0ddff232.png?1681428610",
        :collector-number "6",
        :layout "token",
        :name "Human Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Pegasus",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/b/ebd8f43d-7e54-46d4-9fe9-ac818a9fd91f.png?1681428618",
        :collector-number "7",
        :layout "token",
        :name "Pegasus",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/a/ca0c74ea-20b0-47f0-b11b-3a848551e52d.png?1681428627",
        :collector-number "8",
        :layout "token",
        :name "Soldier",
        :oracle-text "Lifelink"}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/8/8840fd0b-b574-4e4a-b70f-a922c9523102.png?1681428636",
        :collector-number "9",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Faerie",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/0/10971b58-eaa2-4fbb-94fa-0a58460d99ac.png?1681428644",
        :collector-number "10",
        :layout "token",
        :name "Faerie",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/e/aeb25fd9-7f98-4a06-a21f-7a4fe9b94497.png?1681428653",
        :collector-number "11",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Demon",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/c/2c0e7faf-43cb-4a96-ac3c-9533f957ee28.png?1681428661",
        :collector-number "12",
        :layout "token",
        :name "Demon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/1/910bb0b8-c8b2-4761-a67d-f77b4dbb31fe.png?1681428669",
        :collector-number "13",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie Army",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/7/47be861d-7aff-4a30-bfd9-88ce2735b69b.png?1681428678",
        :collector-number "14",
        :layout "token",
        :name "Zombie Army",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie Knight",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/5/15e8a32c-d8a6-4718-a647-be7f7cdd565b.png?1681428686",
        :collector-number "15",
        :layout "token",
        :name "Zombie Knight",
        :oracle-text
        "Menace (This creature can't be blocked except by two or more creatures.)"}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/e/fecaf2a7-33d4-40d2-8641-e40d9cb9fa25.png?1681428693",
        :collector-number "16",
        :layout "token",
        :name "Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Legendary Creature — Dragon",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/9/39afcd77-e006-41a0-98ea-8be39d38a68c.png?1681428702",
        :collector-number "17",
        :layout "token",
        :name "Karox Bladewing",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Ogre",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/4/f434e508-06ff-4581-b126-d9f125f6c199.png?1681428709",
        :collector-number "18",
        :layout "token",
        :name "Ogre",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/e/deed7d9f-07b7-4a8a-8e6c-cbd536be5135.png?1681428716",
        :collector-number "19",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elephant",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/8/786d8019-3db0-4c60-8f9f-aa2ae0a109cd.png?1681428724",
        :collector-number "20",
        :layout "token",
        :name "Elephant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elf Warrior",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/0/805945e7-dea2-476d-a274-b6e801ccb95e.png?1681428732",
        :collector-number "21",
        :layout "token",
        :name "Elf Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/1/b133f6bf-a4c4-4359-9db2-da126b08ee4c.png?1681428740",
        :collector-number "22",
        :layout "token",
        :name "Insect",
        :oracle-text "Flying, deathtouch"}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/8/58427912-f7ab-43a9-aed3-dcae517b5698.png?1681428748",
        :collector-number "23",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/b/3b442416-747f-47ec-b967-363e7a7e952b.png?1681428756",
        :collector-number "24",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/e/feb25d75-3251-414a-bb30-944505d92587.png?1681428763",
        :collector-number "25",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Emblem — Nixilis",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/8/e817a5d7-0d65-4f23-be3d-74838764765c.png?1681428771",
        :collector-number "26",
        :layout "emblem",
        :name "Ob Nixilis Reignited Emblem",
        :oracle-text
        "Whenever a player draws a card, you lose 2 life."}
 #:card{:type-line "Emblem — Sarkhan",
        :layout-category :normal,
        :code "tscd",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/2/02a68eab-27bc-434b-b19d-316d1db9434c.png?1681428779",
        :collector-number "27",
        :layout "emblem",
        :name "Sarkhan, the Dragonspeaker Emblem",
        :oracle-text
        "At the beginning of your draw step, draw two additional cards.\nAt the beginning of your end step, discard your hand."})
