(#:card{:type-line "Token Creature — Kithkin Soldier",
        :layout-category :normal,
        :code "tshm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/061cb705-695a-4f65-adbf-869ebb4eb946.png?1562279127",
        :collector-number "1",
        :layout "token",
        :name "Kithkin Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tshm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cba50f25-ad8c-4244-8dc1-f8656f4c8c0b.png?1562279574",
        :collector-number "2",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Rat",
        :layout-category :normal,
        :code "tshm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a85fe9d-ef18-46c4-88b0-cf2e222e30e4.png?1562279130",
        :collector-number "3",
        :layout "token",
        :name "Rat",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tshm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/4/94c14f3d-1578-426b-b64b-07c7e88ab572.png?1562279135",
        :collector-number "4",
        :layout "token",
        :name "Elemental",
        :oracle-text "Haste"}
 #:card{:type-line "Token Creature — Elf Warrior",
        :layout-category :normal,
        :code "tshm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b7663358-c85c-4ba4-ac9b-6be6105363a9.png?1562279140",
        :collector-number "5",
        :layout "token",
        :name "Elf Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spider",
        :layout-category :normal,
        :code "tshm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7df0de51-8d05-475a-832e-de8a0f60849e.png?1562279134",
        :collector-number "6",
        :layout "token",
        :name "Spider",
        :oracle-text "Reach"}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "tshm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c138bf9-8be6-4f1a-a82c-a84938ab84f5.png?1562279137",
        :collector-number "7",
        :layout "token",
        :name "Wolf",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Faerie Rogue",
        :layout-category :normal,
        :code "tshm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a07b4786-1592-42c7-9d3e-d0d66abaed99.png?1562279139",
        :collector-number "8",
        :layout "token",
        :name "Faerie Rogue",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tshm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0c5afb0a-a158-4995-881e-eae0f20805a6.png?1562279128",
        :collector-number "9",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Giant Warrior",
        :layout-category :normal,
        :code "tshm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/f/6f84b406-112d-4b01-8500-60391692a17e.png?1562279132",
        :collector-number "10",
        :layout "token",
        :name "Giant Warrior",
        :oracle-text "Haste"}
 #:card{:type-line "Token Creature — Goblin Warrior",
        :layout-category :normal,
        :code "tshm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e36334f1-afe3-497c-82d9-aaf149934b54.png?1562279575",
        :collector-number "11",
        :layout "token",
        :name "Goblin Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elf Warrior",
        :layout-category :normal,
        :code "tshm",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/9/49180301-f72f-48ca-8be1-df295e89cdd7.png?1562279131",
        :collector-number "12",
        :layout "token",
        :name "Elf Warrior",
        :oracle-text ""})
