(#:card{:type-line "Token",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e6ce56c-ca2e-48e8-a4d9-671cb4de8a9d.png?1650819612",
        :collector-number "1",
        :layout "token",
        :name "Copy",
        :oracle-text
        "(This token can be used to represent a token that's a copy of a permanent.)"}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/39bae778-0dee-47d5-a7cd-f2be11b5e79b.png?1650819867",
        :collector-number "2",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a7a7f7c-29e3-4b98-ad2f-2d585ec7610e.png?1650819739",
        :collector-number "3",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Fish",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/b/3b2e726b-f124-43f7-87e4-bb06bbe8e3d7.png?1650128407",
        :collector-number "4",
        :layout "token",
        :name "Fish",
        :oracle-text "This creature can't be blocked."}
 #:card{:type-line "Token Creature — Wizard",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/f/7f3edaf7-0ebd-4a8b-9954-dd91bb797744.png?1650819787",
        :collector-number "5",
        :layout "token",
        :name "Wizard",
        :oracle-text
        "{1}, Sacrifice this creature: Counter target noncreature spell unless its controller pays {1}."}
 #:card{:type-line "Token Creature — Ogre Warrior",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3ca43425-d007-4181-9182-18dc01ad7e90.png?1650819822",
        :collector-number "6",
        :layout "token",
        :name "Ogre Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Rogue",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06e503b9-a822-4c42-b478-1f598bc5941d.png?1650819906",
        :collector-number "7",
        :layout "token",
        :name "Rogue",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Devil",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/c/ec75fdab-818c-4f3a-94c1-fd3f577a87f5.png?1650819970",
        :collector-number "8",
        :layout "token",
        :name "Devil",
        :oracle-text
        "When this creature dies, it deals 1 damage to any target."}
 #:card{:type-line "Token Creature — Cat",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/7/57bd0b29-0860-4ee3-832a-f62ba7bf4aac.png?1650819953",
        :collector-number "9",
        :layout "token",
        :name "Cat",
        :oracle-text "Haste"}
 #:card{:type-line "Token Creature — Dog",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/6736fe71-bd55-4602-b0aa-ece6193048a9.png?1650819988",
        :collector-number "10",
        :layout "token",
        :name "Dog",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Rhino Warrior",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/3/230419f9-a9f7-441d-bad7-0ed867326aa1.png?1650820041",
        :collector-number "11",
        :layout "token",
        :name "Rhino Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Citizen",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3f03e9fe-cb71-498e-bf16-5af6af37a192.png?1650820069",
        :collector-number "12",
        :layout "token",
        :name "Citizen",
        :oracle-text ""}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/b/1be23c27-d8b6-4f59-8ab8-9ce80e9e29dd.png?1650820123",
        :collector-number "13",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b883958b-1d82-4c1a-9f19-ab20fc01d5f4.png?1650820135",
        :collector-number "14",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/2/825c7dce-a51b-4ce2-9359-a17c577f535d.png?1650820212",
        :collector-number "15",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/70a356a2-c851-41e5-a389-7019575d5ace.png?1650820175",
        :collector-number "16",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "tsnc",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/3/93116d98-2dad-4b80-a3af-9e36e34da6d4.png?1650820194",
        :collector-number "17",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."})
