(#:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bdb975fe-ac30-4249-bb55-7efb64645e4d.png?1562086880",
        :collector-number "1",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/d/4d323ead-24f5-42e4-9e23-aa14eb66264d.png?1559900812",
        :collector-number "CH1",
        :layout "token",
        :name "Shadows Over Innistrad Checklist 1",
        :oracle-text
        "(You can mark this card to represent a double-faced card in your library or hand.)\n☐ Avacynian Missionaries {3}{W}\n☐ Pious Evangel {2}{W}\n☐ Town Gossipmonger {W}\n☐ Aberrant Researcher {3}{U}\n☐ Daring Sleuth {1}{U}\n☐ Uninvited Geist {2}{U}\n☐ Accursed Witch {3}{B}\n☐ Heir of Falkenrath {1}{B}\n☐ Kindly Stranger {2}{B}\n☐ Breakneck Rider {1}{R}{R}\n☐ Convicted Killer {2}{R}\n☐ Gatstaf Arsonists {4}{R}\n☐ Kessig Forgemaster {1}{R}\n☐ Skin Invasion {1}{R}\n☐ Village Messenger {R}\n☐ Autumnal Gloom {2}{G}\n☐ Duskwatch Recruiter {1}{G}\n☐ Hermit of the Natterknolls {2}{G}\n☐ Hinterland Logger {1}{G}\n☐ Lambholt Pacifist {1}{G}\n☐ Solitary Hunter {3}{G}\n☐ Harvest Hand {3}\n☐ Neglected Heirloom {1}\n☐ Thraben Gargoyle {1}"}
 #:card{:type-line "Token Creature — Human Soldier",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d9cbf36e-4044-4f08-9bae-f0dcb2455716.png?1562086882",
        :collector-number "2",
        :layout "token",
        :name "Human Soldier",
        :oracle-text ""}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/8/4825c59d-9e27-4a12-ba84-642b8540e573.png?1554069440",
        :collector-number "CH2",
        :layout "token",
        :name "Shadows Over Innistrad Checklist 2",
        :oracle-text
        "(You can mark this card to represent a double-faced card in your library or hand.)\n☐ Archangel Avacyn {3}{W}{W}\n☐ Hanweir Militia Captain {1}{W}\n☐ Startled Awake {2}{U}{U}\n☐ Thing in the Ice {1}{U}\n☐ Elusive Tormentor {2}{B}{B}\n☐ Geier Reach Bandit {2}{R}\n☐ Sage of Ancient Lore {4}{G}\n☐ Arlinn Kord {2}{R}{G}\n☐ Westvale Abbey"}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/a/3a53a7c6-6b32-4491-8c96-e564abea8880.png?1562086864",
        :collector-number "3",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Vampire Knight",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/9/8989fdb4-723b-4c80-89b4-930ccac13b22.png?1562086874",
        :collector-number "4",
        :layout "token",
        :name "Vampire Knight",
        :oracle-text "Lifelink"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e0a12a72-5cd9-4f1b-997d-7dabb65e9f51.png?1562086884",
        :collector-number "5",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Devil",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3e78c4b8-371b-43d7-a315-fb299704aa60.png?1562086867",
        :collector-number "6",
        :layout "token",
        :name "Devil",
        :oracle-text
        "When this creature dies, it deals 1 damage to any target."}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/0057f94e-c2be-44e1-a93b-e31432f4ffa5.png?1562086858",
        :collector-number "7",
        :layout "token",
        :name "Insect",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Ooze",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/2/623a7905-3a10-4d23-96fa-4960cac8f4e3.png?1562086871",
        :collector-number "8",
        :layout "token",
        :name "Ooze",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a5ac360-dc47-4bc5-a4cc-ff223abc3ffc.png?1562086859",
        :collector-number "9",
        :layout "token",
        :name "Wolf",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Human Cleric",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/4/94ed2eca-1579-411d-af6f-c7359c65de30.png?1562086876",
        :collector-number "10",
        :layout "token",
        :name "Human Cleric",
        :oracle-text ""}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f2c859e1-181e-44d1-afbd-bbd6e52cf42a.png?1562086885",
        :collector-number "11",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/f/4f1241c3-d960-4eb4-a726-ca474209645b.png?1562086869",
        :collector-number "12",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/271afa7e-2126-4497-b871-9795b7355d69.png?1562086861",
        :collector-number "13",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/9/291e6490-6727-45ae-90ba-de2ff8f63162.png?1562086863",
        :collector-number "14",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/2/b2d16818-7812-4d36-b1bf-fb954e5ac958.png?1562086877",
        :collector-number "15",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3d66ec9c-7e5d-47ca-bce4-46798152d1f4.png?1562086865",
        :collector-number "16",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Emblem — Jace",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7aa30438-3733-467e-aa31-f8e8ad2e62f3.png?1562086873",
        :collector-number "17",
        :layout "emblem",
        :name "Jace, Unraveler of Secrets Emblem",
        :oracle-text
        "Whenever an opponent casts their first spell each turn, counter that spell."}
 #:card{:type-line "Emblem — Arlinn",
        :layout-category :normal,
        :code "tsoi",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bb0686c3-a44a-449d-ab12-eeb9c0c25489.png?1562086879",
        :collector-number "18",
        :layout "emblem",
        :name "Arlinn Kord Emblem",
        :oracle-text
        "Creatures you control have haste and \"{T}: This creature deals damage equal to its power to any target.\""})
