(#:card{:code "tsom",
        :collector-number "1",
        :name "Cat",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/5252ab51-43e8-4b24-9830-de0ad9b9d3dc.png?1562164858",
        :type-line "Token Creature — Cat",
        :oracle-text ""}
 #:card{:code "tsom",
        :collector-number "2",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7a563df7-7b9d-4692-ab1b-578be1887b62.png?1562164862",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tsom",
        :collector-number "3",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b37f4fdb-1533-4c38-a654-f715fbef6abf.png?1562164866",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "tsom",
        :collector-number "4",
        :name "Insect",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/5/85f9e977-f718-41b2-b30b-77a9a17e9733.png?1562164865",
        :type-line "Token Creature — Insect",
        :oracle-text "Infect"}
 #:card{:code "tsom",
        :collector-number "5",
        :name "Wolf",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/c/5cde8b3e-c006-41fd-a926-8746c794e149.png?1562164860",
        :type-line "Token Creature — Wolf",
        :oracle-text ""}
 #:card{:code "tsom",
        :collector-number "6",
        :name "Golem",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/7/c705b843-ca62-47bb-95dd-f303c60088bb.png?1562164868",
        :type-line "Token Artifact Creature — Golem",
        :oracle-text ""}
 #:card{:code "tsom",
        :collector-number "7",
        :name "Myr",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/8/182308b3-86e0-46d8-9104-95576a3d3921.png?1562164855",
        :type-line "Token Artifact Creature — Myr",
        :oracle-text ""}
 #:card{:code "tsom",
        :collector-number "8",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3e46e703-2157-41e5-9c21-c17af43e0d3f.png?1562164856",
        :type-line "Token Artifact Creature — Wurm",
        :oracle-text "Deathtouch"}
 #:card{:code "tsom",
        :collector-number "9",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/e/ee53b9a0-8e07-404d-87ae-ff8397a0ba29.png?1562164869",
        :type-line "Token Artifact Creature — Wurm",
        :oracle-text "Lifelink"}
 #:card{:code "tsom",
        :collector-number "10",
        :name "Poison Counter",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/5/856e308d-6268-4311-9667-c2f761db8f99.png?1562164863",
        :type-line "Card",
        :oracle-text
        "(A player with ten or more poison counters loses the game.)"})
