(#:card{:code "tstx",
        :collector-number "1",
        :name "Avatar",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/4/94a50acd-ac2d-47bf-b331-0bcf5edd9c75.png?1641306148",
        :type-line "Token Creature — Avatar",
        :oracle-text
        "Haste\nWhenever this creature attacks, it deals 3 damage to each opponent."}
 #:card{:code "tstx",
        :collector-number "2",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3d0b9b88-705e-4df0-8a93-3e240b81355b.png?1641306151",
        :type-line "Token Creature — Elemental",
        :oracle-text ""}
 #:card{:code "tstx",
        :collector-number "3",
        :name "Fractal",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/910f48ab-b04e-4874-b31d-a86a7bc5af14.png?1641306151",
        :type-line "Token Creature — Fractal",
        :oracle-text ""}
 #:card{:code "tstx",
        :collector-number "4",
        :name "Inkling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c9deae5c-80d4-4701-b425-91853b7ee03b.png?1641306154",
        :type-line "Token Creature — Inkling",
        :oracle-text "Flying"}
 #:card{:code "tstx",
        :collector-number "5",
        :name "Pest",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d0ddbe3e-4a66-494d-9304-7471232549bf.png?1641306156",
        :type-line "Token Creature — Pest",
        :oracle-text "When this creature dies, you gain 1 life."}
 #:card{:code "tstx",
        :collector-number "6",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f98c0167-7434-4607-87c4-315fa8b6972e.png?1641306157",
        :type-line "Token Creature — Spirit",
        :oracle-text ""}
 #:card{:code "tstx",
        :collector-number "7",
        :name "Treasure",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a2d027f-8996-4761-a776-47cd428f6779.png?1641306162",
        :type-line "Token Artifact — Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:code "tstx",
        :collector-number "8",
        :name "Lukka, Wayward Bonder Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e090a47-3187-44f2-9dea-c2bc1407b053.png?1641306163",
        :type-line "Emblem",
        :oracle-text
        "Whenever a creature enters the battlefield under your control, it deals damage equal to its power to any target."}
 #:card{:code "tstx",
        :collector-number "9",
        :name "Rowan, Scholar of Sparks Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/cc18b93e-b590-4fbb-be47-d63a25cde811.png?1644879927",
        :type-line "Emblem",
        :oracle-text
        "Whenever you cast an instant or sorcery spell, you may pay {2}. If you do, copy that spell. You may choose new targets for the copy."})
