(#:card{:code "tthb",
        :collector-number "1",
        :name "Goat",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/36cd5f96-5683-4959-b973-37f3c2fcf9bf.png?1581901929",
        :type-line "Token Creature — Goat",
        :oracle-text ""}
 #:card{:code "tthb",
        :collector-number "2",
        :name "Human Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e76f0e3-9411-401d-ab38-9c3c64769483.png?1581901930",
        :type-line "Token Creature — Human Soldier",
        :oracle-text ""}
 #:card{:code "tthb",
        :collector-number "3",
        :name "Pegasus",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/dee1c2ee-d92e-409a-995a-b4c91620c918.png?1581901969",
        :type-line "Token Creature — Pegasus",
        :oracle-text "Flying"}
 #:card{:code "tthb",
        :collector-number "4",
        :name "Kraken",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/3/c3365aea-823d-44a9-94d3-ed2a31d85f34.png?1581901935",
        :type-line "Token Creature — Kraken",
        :oracle-text
        "Hexproof (This creature can't be the target of spells or abilities your opponents control.)"}
 #:card{:code "tthb",
        :collector-number "5",
        :name "Reflection",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/ab1c23b2-ac39-46b1-aa2b-7d6cbedba767.png?1581901994",
        :type-line "Token Creature — Reflection",
        :oracle-text ""}
 #:card{:code "tthb",
        :collector-number "6",
        :name "Tentacle",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7b9f04f7-587e-4774-8aaa-09e8520efacb.png?1581901996",
        :type-line "Token Creature — Tentacle",
        :oracle-text ""}
 #:card{:code "tthb",
        :collector-number "7",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6b3e6b4d-d798-4c6a-8a09-255be2a6df2c.png?1581901997",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tthb",
        :collector-number "8",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/0/60466c78-155e-442b-8022-795e1e9de8df.png?1581901998",
        :type-line "Token Creature — Elemental",
        :oracle-text "Trample, haste"}
 #:card{:code "tthb",
        :collector-number "9",
        :name "Satyr",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/0/903e30f3-580e-4a14-989b-ae0632363407.png?1581902165",
        :type-line "Token Creature — Satyr",
        :oracle-text "This creature can't block."}
 #:card{:code "tthb",
        :collector-number "10",
        :name "Spider",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/56f28541-9711-42cd-9c83-993a81af96b6.png?1581902167",
        :type-line "Token Creature — Spider",
        :oracle-text "Reach"}
 #:card{:code "tthb",
        :collector-number "11",
        :name "Wolf",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/411f4bf6-7f09-4e24-b483-0068d2f974e5.png?1581902126",
        :type-line "Token Creature — Wolf",
        :oracle-text ""}
 #:card{:code "tthb",
        :collector-number "12",
        :name "Nightmare",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c528581f-f671-45ae-8d7a-ae26a4e62ceb.png?1581902128",
        :type-line "Token Creature — Nightmare",
        :oracle-text
        "Whenever this creature attacks or blocks, each opponent exiles the top two cards of their library."}
 #:card{:code "tthb",
        :collector-number "13",
        :name "Gold",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c315a76-9561-426e-b726-288424a5069b.png?1581902168",
        :type-line "Token Artifact — Gold",
        :oracle-text
        "Sacrifice this artifact: Add one mana of any color."}
 #:card{:code "tthb",
        :collector-number "14",
        :name "Wall",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/dbdd5d53-65e7-42c3-a325-791f11335e62.png?1581902169",
        :type-line "Token Artifact Creature — Wall",
        :oracle-text "Defender"})
