(#:card{:code "tths",
        :collector-number "1",
        :name "Cleric",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/e/7e4c9173-e530-4237-a03b-9aeca60ab0e4.png?1562636828",
        :type-line "Token Enchantment Creature — Cleric",
        :oracle-text ""}
 #:card{:code "tths",
        :collector-number "2",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/1/31f320f4-baae-46cb-840e-421f010a0a20.png?1562636782",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tths",
        :collector-number "3",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/8/688c8e63-1462-4ad6-8872-216384160b58.png?1562636809",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tths",
        :collector-number "4",
        :name "Bird",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca72703f-d45b-4c80-98a8-55fad1fcf431.png?1562636894",
        :type-line "Token Creature — Bird",
        :oracle-text "Flying"}
 #:card{:code "tths",
        :collector-number "5",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/0/f0e68ed9-d863-4822-b281-e184f3d62faa.png?1562636937",
        :type-line "Token Creature — Elemental",
        :oracle-text ""}
 #:card{:code "tths",
        :collector-number "6",
        :name "Harpy",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/26b24bbe-f5bc-44d3-b716-6612d39b07bc.png?1562636770",
        :type-line "Token Creature — Harpy",
        :oracle-text "Flying"}
 #:card{:code "tths",
        :collector-number "7",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/509e44d4-72c1-4d68-b942-c3e8de6ed7a8.png?1562636802",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tths",
        :collector-number "8",
        :name "Boar",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/f/2f40613b-1bde-4939-86ad-6bd40f9db0d6.png?1562636780",
        :type-line "Token Creature — Boar",
        :oracle-text ""}
 #:card{:code "tths",
        :collector-number "9",
        :name "Satyr",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/baa93038-2849-4c26-ab4f-1d50d276659f.png?1562636879",
        :type-line "Token Creature — Satyr",
        :oracle-text ""}
 #:card{:code "tths",
        :collector-number "10",
        :name "Golem",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dcee70ef-6285-4f09-8a71-8b7960e8fa99.png?1562636925",
        :type-line "Token Enchantment Artifact Creature — Golem",
        :oracle-text ""}
 #:card{:code "tths",
        :collector-number "11",
        :name "Elspeth, Sun's Champion Emblem",
        :layout "emblem",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/177c37bd-c53d-43b2-88c4-0b80d17a5744.png?1562636746",
        :type-line "Emblem — Elspeth",
        :oracle-text
        "Creatures you control get +2/+2 and have flying."})
