(#:card{:code "ttsr",
        :collector-number "1",
        :name "Griffin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2e7a7388-3f80-41c0-a042-d6b8ef3cf291.png?1641306021",
        :type-line "Token Creature — Griffin",
        :oracle-text "Flying"}
 #:card{:code "ttsr",
        :collector-number "2",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d6090f44-034f-4069-a328-5c81ab774cea.png?1641306022",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "ttsr",
        :collector-number "3",
        :name "Cloud Sprite",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4a2144f2-d4be-419e-bfca-116cedfdf18b.png?1641306024",
        :type-line "Token Creature — Faerie",
        :oracle-text
        "Flying\nCloud Sprite can block only creatures with flying."}
 #:card{:code "ttsr",
        :collector-number "4",
        :name "Bat",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4c532e0f-8934-4ad3-bb1a-640abe946e10.png?1641306027",
        :type-line "Token Creature — Bat",
        :oracle-text
        "Flying\n{1}{B}, Sacrifice this creature: Return an exiled card named Sengir Nosferatu to the battlefield under its owner's control."}
 #:card{:code "ttsr",
        :collector-number "5",
        :name "Knight",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/3/c31ce82f-6c4a-4986-be1e-032348504ad6.png?1641306027",
        :type-line "Token Creature — Knight",
        :oracle-text
        "Protection from white, haste\nFlanking (Whenever a creature without flanking blocks this creature, the blocking creature gets -1/-1 until end of turn.)"}
 #:card{:code "ttsr",
        :collector-number "6",
        :name "Spider",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/96e8f429-5a66-4bcd-8a1f-69f9b79c0f5b.png?1641306030",
        :type-line "Token Creature — Spider",
        :oracle-text "Reach"}
 #:card{:code "ttsr",
        :collector-number "7",
        :name "Giant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/0197284c-3c17-438b-a46d-83131d56c768.png?1641306033",
        :type-line "Token Creature — Giant",
        :oracle-text ""}
 #:card{:code "ttsr",
        :collector-number "8",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/3/234007e2-624f-42d0-af7f-9788f9f35fab.png?1641306034",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "ttsr",
        :collector-number "9",
        :name "Kobolds of Kher Keep",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/f/4f4e8e64-7caa-4d98-8e20-0a4a20056143.png?1641306038",
        :type-line "Token Creature — Kobold",
        :oracle-text ""}
 #:card{:code "ttsr",
        :collector-number "10",
        :name "Ape",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/17e0924c-e4b7-482d-9076-1d3b8ff09e9b.png?1641306040",
        :type-line "Token Creature — Ape",
        :oracle-text ""}
 #:card{:code "ttsr",
        :collector-number "11",
        :name "Insect",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/f/0ff2e2bd-b8e9-4563-85ad-fdbb0607fb7c.png?1641306039",
        :type-line "Token Creature — Insect",
        :oracle-text
        "Shroud (This creature can't be the target of spells or abilities.)"}
 #:card{:code "ttsr",
        :collector-number "12",
        :name "Llanowar Elves",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cbcb0668-e88c-4462-b079-34f140c0277e.png?1641306044",
        :type-line "Token Creature — Elf Druid",
        :oracle-text "{T}: Add {G}."}
 #:card{:code "ttsr",
        :collector-number "13",
        :name "Saproling",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/ed58cd8c-b11a-4109-b789-0eb92eaf0184.png?1641306045",
        :type-line "Token Creature — Saproling",
        :oracle-text ""}
 #:card{:code "ttsr",
        :collector-number "14",
        :name "Assembly-Worker",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/7/e72daa68-0680-431c-a616-b3693fd58813.png?1641306045",
        :type-line "Token Artifact Creature — Assembly-Worker",
        :oracle-text ""}
 #:card{:code "ttsr",
        :collector-number "15",
        :name "Metallic Sliver",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/c/2c7e0d67-b627-4cf7-8f56-e1f0bd75cd5c.png?1641306052",
        :type-line "Token Artifact Creature — Sliver",
        :oracle-text ""})
