(#:card{:code "tugl",
        :collector-number "1",
        :name "Pegasus",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bc944579-b6d8-40f7-8c46-146513960d61.png?1561757940",
        :type-line "Token Creature — Pegasus",
        :oracle-text "Flying"}
 #:card{:code "tugl",
        :collector-number "2",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b159b57d-bc52-4cef-ac7a-e364e40c3d03.png?1561757834",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tugl",
        :collector-number "3",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/e/8e7b5995-ee8b-40d1-b157-8df96c02cc5b.png?1561757555",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tugl",
        :collector-number "4",
        :name "Goblin",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fbd728ed-d5dc-44b3-9159-6c86cab3be0c.png?1561758473",
        :type-line "Token Creature — Goblin",
        :oracle-text ""}
 #:card{:code "tugl",
        :collector-number "5",
        :name "Sheep",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/281d2c14-2343-44c9-a589-7f4da37978a2.png?1561756815",
        :type-line "Token Creature — Sheep",
        :oracle-text ""}
 #:card{:code "tugl",
        :collector-number "6",
        :name "Squirrel",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/abf24a09-0a54-4e1d-a515-ed5ae99294be.png?1561757804",
        :type-line "Token Creature — Squirrel",
        :oracle-text ""})
