(#:card{:code "tuma",
        :collector-number "1",
        :name "Citizen",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/165164e7-5693-4d65-b789-8ed8a222365b.png?1547509191",
        :type-line "Token Creature — Citizen",
        :oracle-text ""}
 #:card{:code "tuma",
        :collector-number "2",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/1/31830977-e096-4736-bb30-1d70008d7488.png?1547509203",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tuma",
        :collector-number "3",
        :name "Drake",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/f/2fd81e9a-69b5-4764-91a7-8b6cdddcaa40.png?1547509215",
        :type-line "Token Creature — Drake",
        :oracle-text "Flying"}
 #:card{:code "tuma",
        :collector-number "4",
        :name "Homunculus",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f3c6ef29-b879-4813-87b0-0e3ba2b5cb29.png?1547509238",
        :type-line "Token Creature — Homunculus",
        :oracle-text ""}
 #:card{:code "tuma",
        :collector-number "5",
        :name "Faerie Rogue",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/7/67457137-64f2-413d-b62e-658b3f1b1043.png?1547509251",
        :type-line "Token Creature — Faerie Rogue",
        :oracle-text "Flying"}
 #:card{:code "tuma",
        :collector-number "6",
        :name "Marit Lage",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/0/105e687e-7196-4010-a6b7-cfa42d998fa4.png?1560096976",
        :type-line "Token Legendary Creature — Avatar",
        :oracle-text "Flying, indestructible"}
 #:card{:code "tuma",
        :collector-number "7",
        :name "Wurm",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/1/31107acf-5969-42ff-a805-9152f439b7fa.png?1547509275",
        :type-line "Token Creature — Wurm",
        :oracle-text "Trample"}
 #:card{:code "tuma",
        :collector-number "8",
        :name "Zombie",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/9/096e8ff7-3cb7-4ef9-a480-76d664924cff.png?1547509286",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tuma",
        :collector-number "9",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7ae1c136-7319-45d1-882a-3d838b344773.png?1547509297",
        :type-line "Token Creature — Elemental",
        :oracle-text ""}
 #:card{:code "tuma",
        :collector-number "10",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/f/0f7cb791-ac35-4c69-aa85-23e14b821c6a.png?1547509309",
        :type-line "Token Creature — Elemental",
        :oracle-text ""}
 #:card{:code "tuma",
        :collector-number "11",
        :name "Soldier",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/3/039b8e44-b435-4e05-b94c-02c4dda11943.png?1547509318",
        :type-line "Token Creature — Soldier",
        :oracle-text ""}
 #:card{:code "tuma",
        :collector-number "12",
        :name "Spark Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b1270173-72fc-489a-beef-85e2d8096bd7.png?1552832795",
        :type-line "Token Creature — Elemental",
        :oracle-text
        "Trample, haste\nAt the beginning of the end step, sacrifice Spark Elemental."}
 #:card{:code "tuma",
        :collector-number "13",
        :name "Elemental",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/e/fea0857b-0f9e-4a87-83d7-85723e33f26c.png?1560081229",
        :type-line "Token Creature — Elemental",
        :oracle-text ""}
 #:card{:code "tuma",
        :collector-number "14",
        :name "Ooze",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/2/d299e48d-fb74-49a1-b94a-29975056378a.png?1547509348",
        :type-line "Token Creature — Ooze",
        :oracle-text ""}
 #:card{:code "tuma",
        :collector-number "15",
        :name "Spider",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c5ede910-a0cb-4cf1-82f4-69fce0076c4d.png?1547509357",
        :type-line "Token Creature — Spider",
        :oracle-text "Reach"}
 #:card{:code "tuma",
        :collector-number "16",
        :name "Spirit",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c9a306c6-57e9-4c99-b2a9-ee27a557d69b.png?1547509367",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"})
