(#:card{:code "tvow",
        :collector-number "1",
        :name "Human",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/d/7d13a93a-a43d-4cf5-8300-8341f3b7f1b1.png?1639671589",
        :type-line "Token Creature — Human",
        :oracle-text ""}
 #:card{:code "tvow",
        :collector-number "2",
        :name "Spirit",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/b/6bee4081-5d74-4cc2-ba2f-887bc8799513.png?1639671780",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tvow",
        :collector-number "3",
        :name "Spirit",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/6/b61e7f44-c112-4501-8850-0565fc857397.png?1639671778",
        :type-line "Token Creature — Spirit",
        :oracle-text "Flying"}
 #:card{:code "tvow",
        :collector-number "4",
        :name "Spirit Cleric",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/5212bae5-d768-45ab-aba8-94c4f9fabc79.png?1639671777",
        :type-line "Token Creature — Spirit Cleric",
        :oracle-text
        "This creature's power and toughness are each equal to the number of Spirits you control."}
 #:card{:code "tvow",
        :collector-number "5",
        :name "Zombie",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/539f4b60-667b-469d-9191-eacaad5c0db1.png?1639671775",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tvow",
        :collector-number "6",
        :name "Slug",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/e/6e2ae34f-4558-46e0-95c5-e00d813fa355.png?1639671775",
        :type-line "Token Creature — Slug",
        :oracle-text ""}
 #:card{:code "tvow",
        :collector-number "7",
        :name "Vampire",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/ebd12ac1-d1b2-4e22-9a17-8f3964294e35.png?1639671770",
        :type-line "Token Creature — Vampire",
        :oracle-text "Flying, lifelink"}
 #:card{:code "tvow",
        :collector-number "8",
        :name "Zombie",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c84e21cd-079d-493f-ab8d-e62f16ec1581.png?1639671768",
        :type-line "Token Creature — Zombie",
        :oracle-text ""}
 #:card{:code "tvow",
        :collector-number "9",
        :name "Dragon Illusion",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e04ca01e-d2ff-45ce-bf6f-9f756808c8fb.png?1639671766",
        :type-line "Token Creature — Dragon Illusion",
        :oracle-text "Flying, haste"}
 #:card{:code "tvow",
        :collector-number "10",
        :name "Human",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/11c8ff82-b598-4ccc-83a7-99f1e53b64d3.png?1639671765",
        :type-line "Token Creature — Human",
        :oracle-text ""}
 #:card{:code "tvow",
        :collector-number "11",
        :name "Wolf",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/001cc57e-f3fc-4790-a9e5-171b2e3e8739.png?1639671761",
        :type-line "Token Creature — Wolf",
        :oracle-text ""}
 #:card{:code "tvow",
        :collector-number "12",
        :name "Boar",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/7/975c4329-418a-4ada-82fa-9286fb61d61a.png?1639671761",
        :type-line "Token Creature — Boar",
        :oracle-text ""}
 #:card{:code "tvow",
        :collector-number "13",
        :name "Insect",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f3ac66f8-4bb2-42bd-9a18-7da9c3839c8b.png?1639671759",
        :type-line "Token Creature — Insect",
        :oracle-text ""}
 #:card{:code "tvow",
        :collector-number "14",
        :name "Wolf",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d5f1e139-3054-4273-8a4d-faaaa9c383a8.png?1639671756",
        :type-line "Token Creature — Wolf",
        :oracle-text ""}
 #:card{:code "tvow",
        :collector-number "15",
        :name "Human Soldier",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5f3c4810-7359-42b7-905f-4845f6d1daf6.png?1639671755",
        :type-line "Token Creature — Human Soldier",
        :oracle-text
        "Training (Whenever this creature attacks with another creature with greater power, put a +1/+1 counter on this creature.)"}
 #:card{:code "tvow",
        :collector-number "16",
        :name "Vampire",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/e/7eee78d3-c65f-4454-bd3c-1c55388422f5.png?1639671755",
        :type-line "Token Creature — Vampire",
        :oracle-text "Lifelink"}
 #:card{:code "tvow",
        :collector-number "17",
        :name "Blood",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/6/a6f374bc-cd29-469f-808a-6a6c004ee8aa.png?1639671751",
        :type-line "Token Artifact — Blood",
        :oracle-text
        "{1}, {T}, Discard a card, Sacrifice this artifact: Draw a card."}
 #:card{:code "tvow",
        :collector-number "18",
        :name "Treasure",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/a/0a89fdcf-0672-4241-834f-5db2c861694d.png?1639671751",
        :type-line "Token Artifact — Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:code "tvow",
        :collector-number "19",
        :name "Copy",
        :layout "token",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dd2942a8-68e8-4f73-956f-f19c690fa512.png?1639671750",
        :type-line "Token",
        :oracle-text
        "(This token can be used to represent a token that's a copy of a permanent.)"}
 #:card{:code "tvow",
        :collector-number "20",
        :name "Chandra, Dressed to Kill Emblem",
        :layout "emblem",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/01783a68-4f61-43ff-94ef-eb0eae654cb7.png?1639671746",
        :type-line "Emblem",
        :oracle-text
        "Whenever you cast a red spell, this emblem deals X damage to any target, where X is the amount of mana spent to cast that spell."}
 #:card{:code "tvow",
        :collector-number "21",
        :name "Day // Night",
        :layout "double_faced_token",
        :highres? false,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dc26e13b-7a0f-4e7f-8593-4f22234f4517.png?1639671732",
          :type-line "Card",
          :oracle-text
          "(If it becomes day or night or if a daybound permanent enters the battlefield, track day/night for the rest of the game.)\nAs it becomes day, transform all nightbound permanents.\nIf a player casts no spells during their own turn, it becomes night next turn."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/d/c/dc26e13b-7a0f-4e7f-8593-4f22234f4517.png?1639671732",
          :type-line "Card",
          :oracle-text
          "As it becomes night, transform all daybound permanents.\nPermanents enter the battlefield nightbound.\nIf a player casts at least two spells during their own turn, it becomes day next turn."}]})
