(#:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/243d7514-35a9-446b-be0d-a5b6b4001291.png?1557575859",
        :collector-number "1",
        :layout "token",
        :name "Spirit",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b16b81e0-5525-4be3-96db-807146fdc5b3.png?1557575869",
        :collector-number "2",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca11c711-93fe-45ca-b393-3851148defc4.png?1557575877",
        :collector-number "3",
        :layout "token",
        :name "Soldier",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Wall",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/8/e8ae8c31-70cb-44e1-a105-f4d29f1f9356.png?1557575887",
        :collector-number "4",
        :layout "token",
        :name "Wall",
        :oracle-text "Defender"}
 #:card{:type-line "Token Creature — Wizard",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/b/7b0b95ce-4821-4955-a27c-93471240f54b.png?1557575896",
        :collector-number "5",
        :layout "token",
        :name "Wizard",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Assassin",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b7e997ac-5a4a-4555-9b37-06c25a5db356.png?1557575904",
        :collector-number "6",
        :layout "token",
        :name "Assassin",
        :oracle-text
        "Deathtouch\nWhenever this creature deals damage to a planeswalker, destroy that planeswalker."}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/3/935d1421-0d26-468f-aa86-488b0ba25e77.png?1557575912",
        :collector-number "7",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie Army",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/f/2f4b7c63-8430-4ca4-baee-dc958d5bd22f.png?1557575919",
        :collector-number "8",
        :layout "token",
        :name "Zombie Army",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie Army",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3f3f2ad9-d362-4602-8e49-b44c0659c112.png?1557575928",
        :collector-number "9",
        :layout "token",
        :name "Zombie Army",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie Army",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/2/12742d1f-eb2e-4262-88e2-403c9ae6c431.png?1557575935",
        :collector-number "10",
        :layout "token",
        :name "Zombie Army",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie Warrior",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2e06aa97-1611-4af6-8bad-32051927fcfd.png?1557575941",
        :collector-number "11",
        :layout "token",
        :name "Zombie Warrior",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Devil",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/72dc3d65-1729-4541-9dc3-bd673e9bdc5d.png?1557575948",
        :collector-number "12",
        :layout "token",
        :name "Devil",
        :oracle-text
        "When this creature dies, it deals 1 damage to any target."}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a195b254-bc3c-4259-9219-5a9e085d7947.png?1557575956",
        :collector-number "13",
        :layout "token",
        :name "Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Goblin",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/0/c0861b13-6cf8-4078-9178-e223a4041a8b.png?1557575963",
        :collector-number "14",
        :layout "token",
        :name "Goblin",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/551f3219-3e98-4354-abcd-db22c3253105.png?1557575971",
        :collector-number "15",
        :layout "token",
        :name "Wolf",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Citizen",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/e/de7ba875-f77b-404f-8b75-4ba6f81da410.png?1557575978",
        :collector-number "16",
        :layout "token",
        :name "Citizen",
        :oracle-text "This creature is all colors."}
 #:card{:type-line "Token Legendary Creature — Wolf",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/9/39475e91-1e71-4546-ae4a-47ea66e47536.png?1557575985",
        :collector-number "17",
        :layout "token",
        :name "Voja, Friend to Elves",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Servo",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/6/761507d5-d36a-4123-a074-95d7f6ffb4c5.png?1557575991",
        :collector-number "18",
        :layout "token",
        :name "Servo",
        :oracle-text ""}
 #:card{:type-line "Emblem — Nissa",
        :layout-category :normal,
        :code "twar",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/56b191fe-7a92-4d08-91a4-036699d08bc4.png?1557575997",
        :collector-number "19",
        :layout "emblem",
        :name "Nissa, Who Shakes the World Emblem",
        :oracle-text "Lands you control have indestructible."})
