(#:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "twho",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/9/d9ed2bb3-93b9-43a3-8b4a-97dc746f3d2b.png?1690556167",
        :collector-number "5",
        :layout "normal",
        :name "Human",
        :oracle-text "Doctor spells you cast cost {1} less to cast."}
 #:card{:type-line "Token Artifact Creature — Dalek",
        :layout-category :normal,
        :code "twho",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/1/f176f6ec-1ff8-4cd4-b7a6-b95830532f6a.png?1689902180",
        :collector-number "12",
        :layout "token",
        :name "Dalek",
        :oracle-text "Menace"}
 #:card{:type-line "Token Creature — Alien Insect",
        :layout-category :normal,
        :code "twho",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/0/609bcaff-c903-40ce-9b3e-bb7b07bb9125.png?1689901816",
        :collector-number "19",
        :layout "token",
        :name "Alien Insect",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact — Clue",
        :layout-category :normal,
        :code "twho",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/2/a2c5cf37-da4d-481f-a7d6-975a05798201.png?1689901748",
        :collector-number "23",
        :layout "token",
        :name "Clue",
        :oracle-text "{2}, Sacrifice this artifact: Draw a card."}
 #:card{:type-line "Artifact Creature — Cyberman",
        :layout-category :normal,
        :code "twho",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/b/9bc273b8-05bb-4c8f-92b1-c178d4bbadb0.png?1690552234",
        :collector-number "24",
        :layout "token",
        :name "Cyberman",
        :oracle-text
        "(You can cover a face-down creature that has become a Cyberman with this reminder card. It's a 2/2 Cyberman artifact creature.)"}
 #:card{:type-line "Token Artifact — Food",
        :layout-category :normal,
        :code "twho",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/8/883a8ba9-6a3c-4f3b-876e-ec47a08dbb8a.png?1690556524",
        :collector-number "25",
        :layout "token",
        :name "Food",
        :oracle-text
        "{2}, {T}, Sacrifice this artifact: You gain 3 life."}
 #:card{:type-line "Token Artifact — Food",
        :layout-category :normal,
        :code "twho",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/2/b2a31a8f-5576-4ab7-bc3b-778a252d4c10.png?1689901700",
        :collector-number "26",
        :layout "token",
        :name "Food",
        :oracle-text
        "{2}, {T}, Sacrifice this artifact: You gain 3 life."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "twho",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/8/38144274-f5c9-4276-b63e-a3c32aec971e.png?1690552325",
        :collector-number "28",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."})
