(#:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/b/4b0c59f8-b407-47e7-8885-8c968f4ceecf.png?1692880921",
        :collector-number "1",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Human",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/0/50240867-3a3e-4a8d-9569-816ab4a3671a.png?1692830746",
        :collector-number "2",
        :layout "token",
        :name "Human",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Knight",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/4/f4035134-a162-4651-86c5-ae006b6e0e20.png?1692880673",
        :collector-number "3",
        :layout "token",
        :name "Knight",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Mouse",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/8/d80435c8-9a41-47cb-be84-784a278adcae.png?1692880772",
        :collector-number "4",
        :layout "token",
        :name "Mouse",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Faerie",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/f/0f9a993f-1f2b-4b17-b415-e975b7873e18.png?1692880732",
        :collector-number "5",
        :layout "token",
        :name "Faerie",
        :oracle-text
        "Flying\nThis creature can block only creatures with flying."}
 #:card{:type-line "Token Creature — Nightmare",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/5/858428ee-3a9c-4dfc-84c2-751e59df2ed7.png?1692880636",
        :collector-number "6",
        :layout "token",
        :name "Nightmare",
        :oracle-text
        "At the beginning of combat on your turn, if a card was put into exile this turn, put a +1/+1 counter on this creature."}
 #:card{:type-line "Token Creature — Rat",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/e/1e0205f2-25c1-403b-b408-56e3f2d63b4d.png?1692495795",
        :collector-number "7",
        :layout "token",
        :name "Rat",
        :oracle-text "This creature can't block."}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/2/a2d33cf3-c803-4e90-9d4b-fa34136b600e.png?1692880483",
        :collector-number "8",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/f/ff615495-a230-484e-a858-ead84f880bdd.png?1692880575",
        :collector-number "9",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Artifact — Food",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/b/ab4f83dd-94c0-4594-8e72-611eb76fa4e2.png?1692880877",
        :collector-number "10",
        :layout "token",
        :name "Food",
        :oracle-text
        "{2}, {T}, Sacrifice this artifact: You gain 3 life."}
 #:card{:type-line "Token Artifact — Food",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/e/0eaec411-0590-4662-ac88-11bb0008d69c.png?1692880842",
        :collector-number "11",
        :layout "token",
        :name "Food",
        :oracle-text
        "{2}, {T}, Sacrifice this artifact: You gain 3 life."}
 #:card{:type-line "Token Artifact — Food",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/9/29a40362-be01-4a16-9c98-0761fffb2560.png?1692880853",
        :collector-number "12",
        :layout "token",
        :name "Food",
        :oracle-text
        "{2}, {T}, Sacrifice this artifact: You gain 3 life."}
 #:card{:type-line "Token Artifact — Food",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/6/f67727b7-819c-4e96-aa8e-1e01ecaf9f33.png?1692880891",
        :collector-number "13",
        :layout "token",
        :name "Food",
        :oracle-text
        "{2}, {T}, Sacrifice this artifact: You gain 3 life."}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/3/73cbf189-a79b-4dca-8b29-33aef6306b5a.png?1692880797",
        :collector-number "14",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:code "twoe",
        :collector-number "15",
        :name "Monster // Sorcerer",
        :layout "flip",
        :highres? true,
        :layout-category :split,
        :png
        "https://cards.scryfall.io/png/front/6/b/6b8a810b-8538-41c3-a792-dbd1a1845faa.png?1694737457",
        :faces
        [{:type-line "Token Enchantment — Aura Role",
          :oracle-text
          "Enchant creature\nEnchanted creature gets +1/+1 and has trample."}
         {:type-line "Token Enchantment — Aura Role",
          :oracle-text
          "Enchant creature\nEnchanted creature gets +1/+1 and has \"Whenever this creature attacks, scry 1.\""}]}
 #:card{:code "twoe",
        :collector-number "16",
        :name "Royal // Young Hero",
        :layout "flip",
        :highres? true,
        :layout-category :split,
        :png
        "https://cards.scryfall.io/png/front/c/f/cff8ef48-2988-4d21-837e-01f1459e07c5.png?1692904189",
        :faces
        [{:type-line "Token Enchantment — Aura Role",
          :oracle-text
          "Enchant creature\nEnchanted creature gets +1/+1 and has ward {1}. (Whenever this creature becomes the target of a spell or ability an opponent controls, counter it unless that player pays {1}.)"}
         {:type-line "Token Enchantment — Aura Role",
          :oracle-text
          "Enchant creature\nEnchanted creature has \"Whenever this creature attacks, if its toughness is 3 or less, put a +1/+1 counter on it.\""}]}
 #:card{:code "twoe",
        :collector-number "17",
        :name "Wicked // Cursed",
        :layout "flip",
        :highres? true,
        :layout-category :split,
        :png
        "https://cards.scryfall.io/png/front/a/9/a9b7040e-cd24-42cc-b043-9af8c557da6a.png?1693734015",
        :faces
        [{:type-line "Token Enchantment — Aura Role",
          :oracle-text
          "Enchant creature\nEnchanted creature gets +1/+1.\nWhen this Aura is put into a graveyard from the battlefield, each opponent loses 1 life."}
         {:type-line "Token Enchantment — Aura Role",
          :oracle-text
          "Enchant creature\nEnchanted creature has base power and toughness 1/1."}]}
 #:card{:type-line "Card",
        :layout-category :normal,
        :code "twoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/c/fcf4c7fb-7859-4c11-8552-6817f5119d2e.png?1692880519",
        :collector-number "18",
        :layout "token",
        :name "On an Adventure",
        :oracle-text
        "After an Adventure resolves, you can place the exiled card here. You may cast the creature from exile."})
