(#:card{:code "twwk",
        :collector-number "1",
        :name "Soldier Ally",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/05abf2df-833f-4172-af74-6533b022dfa9.png?1561756595",
        :type-line "Token Creature — Soldier Ally",
        :oracle-text ""}
 #:card{:code "twwk",
        :collector-number "2",
        :name "Dragon",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/8/b87835c7-4739-45c9-a15a-889aa6b6b7ab.png?1561757917",
        :type-line "Token Creature — Dragon",
        :oracle-text "Flying"}
 #:card{:code "twwk",
        :collector-number "3",
        :name "Ogre",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/9/a99c10f3-9f11-42f1-9007-c0320a1929e0.png?1561757790",
        :type-line "Token Creature — Ogre",
        :oracle-text ""}
 #:card{:code "twwk",
        :collector-number "4",
        :name "Elephant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/c/1c5a05d3-7824-4570-b32d-91fe2dced952.png?1561756757",
        :type-line "Token Creature — Elephant",
        :oracle-text ""}
 #:card{:code "twwk",
        :collector-number "5",
        :name "Plant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/1/c1424e8d-1f96-44af-9382-c337b6695ddf.png?1561757980",
        :type-line "Token Creature — Plant",
        :oracle-text ""}
 #:card{:code "twwk",
        :collector-number "6",
        :name "Construct",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/4/04d6b47f-5c2a-4771-90ee-4aa8c1eda0be.png?1561756590",
        :type-line "Token Artifact Creature — Construct",
        :oracle-text "Trample"})
