(#:card{:code "txln",
        :collector-number "1",
        :name "Vampire",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/9/09293ae7-0629-417b-9eda-9bd3f6d8e118.png?1562539752",
        :type-line "Token Creature — Vampire",
        :oracle-text
        "Lifelink (Damage dealt by this creature also causes you to gain that much life.)"}
 #:card{:code "txln",
        :collector-number "CH1",
        :name "Ixalan Checklist",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4a8b3030-5495-404b-938c-8c4a387a1341.png?1562539768",
        :type-line "Card",
        :oracle-text
        "(You can mark this card to represent a double-faced card in your library or hand.)\n☐ Legion's Landing {W}\n☐ Search for Azcanta {1}{U}\n☐ Arguel's Blood Fast {1}{B}\n☐ Vance's Blasting Cannons {3}{R}\n☐ Growing Rites of Itlimoc {2}{G}\n☐ Conqueror's Galleon {4}\n☐ Dowsing Dagger {2}\n☐ Primal Amulet {4}\n☐ Thaumatic Compass {2}\n☐ Treasure Map {2}"}
 #:card{:code "txln",
        :collector-number "2",
        :name "Illusion",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/1/a10729a5-061a-4daf-91d6-0f6ce813a992.png?1562539791",
        :type-line "Token Creature — Illusion",
        :oracle-text
        "When this creature becomes the target of a spell, sacrifice it."}
 #:card{:code "txln",
        :collector-number "3",
        :name "Merfolk",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/0/90317f5e-d121-4c00-86cc-5bbee953f600.png?1562539786",
        :type-line "Token Creature — Merfolk",
        :oracle-text
        "Hexproof (This creature can't be the target of spells or abilities your opponents control.)"}
 #:card{:code "txln",
        :collector-number "4",
        :name "Pirate",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/d/2d7fc721-6b5b-4920-86fa-0fbfd90adaf5.png?1562539764",
        :type-line "Token Creature — Pirate",
        :oracle-text
        "Menace (This creature can't be blocked except by two or more creatures.)"}
 #:card{:code "txln",
        :collector-number "5",
        :name "Dinosaur",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/c/1ccee594-e1e6-4a82-bc17-93bcdeb36198.png?1562539756",
        :type-line "Token Creature — Dinosaur",
        :oracle-text
        "Trample (This creature can deal excess combat damage to the player or planeswalker it's attacking.)"}
 #:card{:code "txln",
        :collector-number "6",
        :name "Plant",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/4/642d1d93-22d0-43f9-8691-6790876185a0.png?1562539777",
        :type-line "Token Creature — Plant",
        :oracle-text "Defender (This creature can't attack.)"}
 #:card{:code "txln",
        :collector-number "7",
        :name "Treasure",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/720f3e68-84c0-462e-a0d1-90236ccc494a.png?1562539782",
        :type-line "Token Artifact — Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:code "txln",
        :collector-number "8",
        :name "Treasure",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/1/21e89101-f1cf-4bbd-a1d5-c5d48512e0dd.png?1562539760",
        :type-line "Token Artifact — Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:code "txln",
        :collector-number "9",
        :name "Treasure",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/56f06ec6-634d-454b-a46a-dfefe4600d27.png?1562539772",
        :type-line "Token Artifact — Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:code "txln",
        :collector-number "10",
        :name "Treasure",
        :layout "token",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bbe8bced-9524-47f6-a600-bf4ddc072698.png?1562539795",
        :type-line "Token Artifact — Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."})
