(#:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "tzen",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1fc37484-b58b-4a42-9281-b4272dc7c872.png?1562636754",
        :collector-number "1",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tzen",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/abbb3c16-a7ef-4b83-b1a9-637a905229d7.png?1562636870",
        :collector-number "2",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Kor Soldier",
        :layout-category :normal,
        :code "tzen",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d9623e74-3b94-4842-903f-ed52931bdf6a.png?1562636919",
        :collector-number "3",
        :layout "token",
        :name "Kor Soldier",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Illusion",
        :layout-category :normal,
        :code "tzen",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5dcbf662-7263-414a-b64b-ccf9aab20faa.png?1562636807",
        :collector-number "4",
        :layout "token",
        :name "Illusion",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Merfolk",
        :layout-category :normal,
        :code "tzen",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/b/fb1b292b-2da6-4601-9f93-5eb273ce3a50.png?1562636943",
        :collector-number "5",
        :layout "token",
        :name "Merfolk",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Vampire",
        :layout-category :normal,
        :code "tzen",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/969eff58-d91e-49e2-a1e1-8f32b4598810.png?1562636856",
        :collector-number "6",
        :layout "token",
        :name "Vampire",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Zombie Giant",
        :layout-category :normal,
        :code "tzen",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/9/1999ff2f-5797-496e-9917-ad19507ecec9.png?1562636751",
        :collector-number "7",
        :layout "token",
        :name "Zombie Giant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tzen",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f9e12780-9c25-4cb0-b1ff-a36ca50b19d8.png?1562636940",
        :collector-number "8",
        :layout "token",
        :name "Elemental",
        :oracle-text "Trample, haste"}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tzen",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/6/76b5e455-053d-4a86-93b2-2436b554b638.png?1562636821",
        :collector-number "9",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Snake",
        :layout-category :normal,
        :code "tzen",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/83a6a142-f065-4a74-9a73-8105be29bc94.png?1562636831",
        :collector-number "10",
        :layout "token",
        :name "Snake",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Wolf",
        :layout-category :normal,
        :code "tzen",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dcc9e4b4-c0fb-4627-92cf-69544e0c875d.png?1562636923",
        :collector-number "11",
        :layout "token",
        :name "Wolf",
        :oracle-text ""})
