(#:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "tznc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/dbc7226d-81c0-4423-bb2f-3f1b134a43ef.png?1604198254",
        :collector-number "1",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Kor Ally",
        :layout-category :normal,
        :code "tznc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/d/1d582916-8e67-43f8-a116-37d29a8a5149.png?1604198348",
        :collector-number "2",
        :layout "token",
        :name "Kor Ally",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Faerie Rogue",
        :layout-category :normal,
        :code "tznc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/1/01e6b701-d7a4-400d-b5f1-b6ef725248d1.png?1604198368",
        :collector-number "3",
        :layout "token",
        :name "Faerie Rogue",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Germ",
        :layout-category :normal,
        :code "tznc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/7/377d9749-3d78-4a33-93d1-2e673f6e2e28.png?1604198388",
        :collector-number "4",
        :layout "token",
        :name "Germ",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Goblin Rogue",
        :layout-category :normal,
        :code "tznc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/7/17c0ae2b-1ae7-4e10-9e7b-6fdeda4355db.png?1604198489",
        :collector-number "5",
        :layout "token",
        :name "Goblin Rogue",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Rat",
        :layout-category :normal,
        :code "tznc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b343f5ff-77ed-45b1-8d40-68f67e74d381.png?1604198474",
        :collector-number "6",
        :layout "token",
        :name "Rat",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "tznc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/4/a4d31a8a-8797-45b2-bd2c-2415e5c3a456.png?1604198512",
        :collector-number "7",
        :layout "token",
        :name "Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tznc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5dc134da-51b8-452d-b515-54def56fe0c7.png?1604198535",
        :collector-number "8",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Saproling",
        :layout-category :normal,
        :code "tznc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/e/ae38265c-6854-4990-9d26-7a38a9569d1c.png?1604198553",
        :collector-number "9",
        :layout "token",
        :name "Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Elemental",
        :layout-category :normal,
        :code "tznc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/2/920c9c33-0125-4ea3-8381-817f4593e615.png?1604198580",
        :collector-number "10",
        :layout "token",
        :name "Elemental",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "tznc",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d612df29-1a4b-4341-b845-5f1393da3906.png?1604198602",
        :collector-number "11",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"})
