(#:card{:type-line "Token Creature — Angel Warrior",
        :layout-category :normal,
        :code "tznr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/1/91098481-46c2-49bf-8123-e9cab2f22b84.png?1604194613",
        :collector-number "1",
        :layout "token",
        :name "Angel Warrior",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Cat",
        :layout-category :normal,
        :code "tznr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5f458f39-27b6-4121-bda9-1a0d1b42f5fb.png?1604194657",
        :collector-number "2",
        :layout "token",
        :name "Cat",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Cat Beast",
        :layout-category :normal,
        :code "tznr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e2c91781-acf9-4cff-be1a-85148ad2a683.png?1604194683",
        :collector-number "3",
        :layout "token",
        :name "Cat Beast",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Kor Warrior",
        :layout-category :normal,
        :code "tznr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/3/13412797-f831-49fe-adf3-369cdfacdbd5.png?1604194720",
        :collector-number "4",
        :layout "token",
        :name "Kor Warrior",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Drake",
        :layout-category :normal,
        :code "tznr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/6/1659d2ee-1831-4ba1-a08d-03af31c9a043.png?1604194756",
        :collector-number "5",
        :layout "token",
        :name "Drake",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Illusion",
        :layout-category :normal,
        :code "tznr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/3/2300635e-7771-4676-a5a5-29a9d8f49f1a.png?1604194799",
        :collector-number "6",
        :layout "token",
        :name "Illusion",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Insect",
        :layout-category :normal,
        :code "tznr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/84da9c36-5d9c-4e29-b6cc-c5c10e490f2e.png?1604194822",
        :collector-number "7",
        :layout "token",
        :name "Insect",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Plant",
        :layout-category :normal,
        :code "tznr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d03d87f5-0ac6-45ca-a54b-6a36132a8eae.png?1604194870",
        :collector-number "8",
        :layout "token",
        :name "Plant",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Hydra",
        :layout-category :normal,
        :code "tznr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/2/f2ad0395-190d-4779-81b7-2832dc257828.png?1604194909",
        :collector-number "9",
        :layout "token",
        :name "Hydra",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Construct",
        :layout-category :normal,
        :code "tznr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/3462c167-e6cf-46f8-9b77-2a88815e3b82.png?1604194971",
        :collector-number "10",
        :layout "token",
        :name "Construct",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Goblin Construct",
        :layout-category :normal,
        :code "tznr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/2/b24a63e2-c2b3-43f8-a15a-68886bec7d60.png?1604195010",
        :collector-number "11",
        :layout "token",
        :name "Goblin Construct",
        :oracle-text
        "This creature can't block.\nAt the beginning of your upkeep, this creature deals 1 damage to you."}
 #:card{:type-line "Token",
        :layout-category :normal,
        :code "tznr",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06f62ebf-1600-4eaa-a998-3fd7d1ea2f65.png?1604195073",
        :collector-number "12",
        :layout "token",
        :name "Copy",
        :oracle-text
        "(This token can be used to represent a token that's a copy of a permanent.)"})
