(#:card{:type-line "Legendary Planeswalker — Ugin",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/c/8cec48b8-58b2-4894-96e4-8477b83d4cf6.png?1562634341",
        :collector-number "1",
        :layout "normal",
        :name "Ugin, the Spirit Dragon",
        :oracle-text
        "+2: Ugin, the Spirit Dragon deals 3 damage to any target.\n−X: Exile each permanent with mana value X or less that's one or more colors.\n−10: You gain 7 life, draw seven cards, then put up to seven permanent cards from your hand onto the battlefield."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/4/84016da9-e32a-4fa6-a1d7-9198bd995822.png?1562634295",
        :collector-number "19",
        :layout "normal",
        :name "Mastery of the Unseen",
        :oracle-text
        "Whenever a permanent you control is turned face up, you gain 1 life for each creature you control.\n{3}{W}: Manifest the top card of your library. (Put it onto the battlefield face down as a 2/2 creature. Turn it face up any time for its mana cost if it's a creature card.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/9/2969e9b5-64d3-401f-9878-32ec283680ab.png?1562633742",
        :collector-number "24",
        :layout "normal",
        :name "Smite the Monstrous",
        :oracle-text
        "Destroy target creature with power 4 or greater."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/5/f5305f03-df35-4949-9628-17a6371533c5.png?1562634873",
        :collector-number "26",
        :layout "normal",
        :name "Soul Summons",
        :oracle-text
        "Manifest the top card of your library. (Put it onto the battlefield face down as a 2/2 creature. Turn it face up any time for its mana cost if it's a creature card.)"}
 #:card{:type-line "Creature — Bird Soldier",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b4dc6f3-2660-4d6f-b3b7-58f4673095cd.png?1562633771",
        :collector-number "30",
        :layout "normal",
        :name "Watcher of the Roost",
        :oracle-text
        "Flying\nMorph—Reveal a white card in your hand. (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)\nWhen Watcher of the Roost is turned face up, you gain 2 life."}
 #:card{:type-line "Creature — Human Monk",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/4/145bf0e9-89a1-4f17-9afb-3107acea2e2b.png?1562633588",
        :collector-number "36",
        :layout "normal",
        :name "Jeskai Infiltrator",
        :oracle-text
        "Jeskai Infiltrator can't be blocked as long as you control no other creatures.\nWhen Jeskai Infiltrator deals combat damage to a player, exile it and the top card of your library in a face-down pile, shuffle that pile, then manifest those cards. (To manifest a card, put it onto the battlefield face down as a 2/2 creature. Turn it face up any time for its mana cost if it's a creature card.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/1/3147ff96-c085-42be-a044-4e7d96d76fc9.png?1562633821",
        :collector-number "46",
        :layout "normal",
        :name "Reality Shift",
        :oracle-text
        "Exile target creature. Its controller manifests the top card of their library. (That player puts the top card of their library onto the battlefield face down as a 2/2 creature. If it's a creature card, it can be turned face up any time for its mana cost.)"}
 #:card{:type-line "Creature — Human Monk",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7aa17b98-8347-48ab-8ed3-d1f12e5e5309.png?1562634245",
        :collector-number "48",
        :layout "normal",
        :name "Mystic of the Hidden Way",
        :oracle-text
        "Mystic of the Hidden Way can't be blocked.\nMorph {2}{U} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c4a8a726-7570-4823-848e-1132a5b7acce.png?1562634610",
        :collector-number "59",
        :layout "normal",
        :name "Write into Being",
        :oracle-text
        "Look at the top two cards of your library. Manifest one of those cards, then put the other on the top or bottom of your library. (To manifest a card, put it onto the battlefield face down as a 2/2 creature. Turn it face up any time for its mana cost if it's a creature card.)"}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/9/79a47c13-fad4-4399-ae49-cc7d190c5ec1.png?1562634232",
        :collector-number "68",
        :layout "normal",
        :name "Debilitating Injury",
        :oracle-text
        "Enchant creature\nEnchanted creature gets -2/-2."}
 #:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/8/78a7b603-4c06-4dfc-bbf1-56c9dda30cd3.png?1562634225",
        :collector-number "73",
        :layout "normal",
        :name "Grim Haruspex",
        :oracle-text
        "Morph {B} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)\nWhenever another nontoken creature you control dies, draw a card."}
 #:card{:type-line "Creature — Zombie Warrior",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/3/73be7ed8-0221-4e87-ac65-a7eb8cb8f48d.png?1562634187",
        :collector-number "85",
        :layout "normal",
        :name "Sultai Emissary",
        :oracle-text
        "When Sultai Emissary dies, manifest the top card of your library. (Put that card onto the battlefield face down as a 2/2 creature. Turn it face up any time for its mana cost if it's a creature card.)"}
 #:card{:type-line "Creature — Human Assassin",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/ca8a5c90-7581-47fa-b941-0709a9e2a756.png?1562634649",
        :collector-number "88",
        :layout "normal",
        :name "Ruthless Ripper",
        :oracle-text
        "Deathtouch\nMorph—Reveal a black card in your hand. (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)\nWhen Ruthless Ripper is turned face up, target player loses 2 life."}
 #:card{:type-line "Creature — Dog Scout",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9c90a983-16bf-46e7-924f-f653bcef8f23.png?1566653951",
        :collector-number "96",
        :layout "normal",
        :name "Ainok Tracker",
        :oracle-text
        "First strike\nMorph {4}{R} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e8a2ed2-3516-4f03-bf83-939c38003e28.png?1562633665",
        :collector-number "97",
        :layout "normal",
        :name "Arc Lightning",
        :oracle-text
        "Arc Lightning deals 3 damage divided as you choose among one, two, or three targets."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4ae5a2ce-997e-4c09-a0c4-639c55a23401.png?1562633963",
        :collector-number "98",
        :layout "normal",
        :name "Fierce Invocation",
        :oracle-text
        "Manifest the top card of your library, then put two +1/+1 counters on it. (To manifest a card, put it onto the battlefield face down as a 2/2 creature. Turn it face up any time for its mana cost if it's a creature card.)"}
 #:card{:type-line "Creature — Goblin Rogue",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/1177d512-3e3b-4cea-a162-1fab169aefb8.png?1562633569",
        :collector-number "113",
        :layout "normal",
        :name "Jeering Instigator",
        :oracle-text
        "Morph {2}{R} (You may cast this card face down as a 2/2 creature for {3}. Turn it face up any time for its morph cost.)\nWhen Jeering Instigator is turned face up, if it's your turn, gain control of another target creature until end of turn. Untap that creature. It gains haste until end of turn."}
 #:card{:type-line "Creature — Beast",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/70fd6e2c-201d-436b-ad54-c9403295ec85.png?1562634168",
        :collector-number "123",
        :layout "normal",
        :name "Arashin War Beast",
        :oracle-text
        "Whenever Arashin War Beast deals combat damage to one or more blocking creatures, manifest the top card of your library. (Put it onto the battlefield face down as a 2/2 creature. Turn it face up any time for its mana cost if it's a creature card.)"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/1/11a3b2a9-5879-4b42-8e67-9ed1b788c90e.png?1562633570",
        :collector-number "129",
        :layout "normal",
        :name "Formless Nurturing",
        :oracle-text
        "Manifest the top card of your library, then put a +1/+1 counter on it. (To manifest a card, put it onto the battlefield face down as a 2/2 creature. Turn it face up any time for its mana cost if it's a creature card.)"}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/52b0640c-2aaf-4744-8558-94fb7325ba3b.png?1562633987",
        :collector-number "131",
        :layout "normal",
        :name "Dragonscale Boon",
        :oracle-text
        "Put two +1/+1 counters on target creature and untap it."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/0/00020b05-ecb9-4603-8cc1-8cfa7a14befc.png?1562633475",
        :collector-number "146",
        :layout "normal",
        :name "Wildcall",
        :oracle-text
        "Manifest the top card of your library, then put X +1/+1 counters on it. (To manifest a card, put it onto the battlefield face down as a 2/2 creature. Turn it face up any time for its mana cost if it's a creature card.)"}
 #:card{:type-line "Artifact Creature — Golem",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5d8d5aae-47a6-4b6f-841d-71184f4adb97.png?1562634054",
        :collector-number "161",
        :layout "normal",
        :name "Hewed Stone Retainers",
        :oracle-text
        "Cast this spell only if you've cast another spell this turn."}
 #:card{:type-line "Artifact Creature — Construct",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9e509ec4-ed77-4010-beb0-d0df0f620d6f.png?1562634410",
        :collector-number "164",
        :layout "normal",
        :name "Ugin's Construct",
        :oracle-text
        "When Ugin's Construct enters the battlefield, sacrifice a permanent that's one or more colors."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/6/362436c0-f89b-4447-afc6-5e47be5c932b.png?1562633833",
        :collector-number "216",
        :layout "normal",
        :name "Altar of the Brood",
        :oracle-text
        "Whenever another permanent enters the battlefield under your control, each opponent mills a card."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/2/7241b143-82c9-4f92-b143-b71107f97c60.png?1562634180",
        :collector-number "217",
        :layout "normal",
        :name "Briber's Purse",
        :oracle-text
        "Briber's Purse enters the battlefield with X gem counters on it.\n{1}, {T}, Remove a gem counter from Briber's Purse: Target creature can't attack or block this turn."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "ugin",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/d/9d779ef8-f09b-4111-acee-d28c51b77d53.png?1562634409",
        :collector-number "220",
        :layout "normal",
        :name "Ghostfire Blade",
        :oracle-text
        "Equipped creature gets +2/+2.\nEquip {3}\nGhostfire Blade's equip ability costs {2} less to activate if it targets a colorless creature."})
