(#:card{:type-line "Artifact Creature — Clown Robot Bard",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/02e3ec6e-1375-4647-9d15-37ff4697da5c.png?1638831040",
        :collector-number "3",
        :layout "normal",
        :name "Assembled Ensemble",
        :oracle-text
        "Vigilance\nAssembled Ensemble's power is equal to the number of Robots you control.\nWhenever you cast a spell with an artifact creature in its art, create a 1/1 white Clown Robot artifact creature token."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/05e6a7bc-a35a-4e68-99a0-be264553b5de.png?1638258467",
        :collector-number "88",
        :layout "normal",
        :name "Saw in Half",
        :oracle-text
        "Destroy target creature. If that creature dies this way, its controller creates two tokens that are copies of that creature, except their base power is half that creature's power and their base toughness is half that creature's toughness. Round up each time."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/95c0ac1f-8e40-427e-832c-4d1c6d2ce41c.png?1640551502",
        :collector-number "145",
        :layout "normal",
        :name "Killer Cosplay",
        :oracle-text
        "Whenever Killer Cosplay becomes attached to a creature, choose a creature card name with an identical mana cost. That creature becomes a copy of the card with the chosen name until Killer Cosplay becomes unattached from it.\nEquip {3}"}
 #:card{:type-line "Legendary Creature — Goblin Guest",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/26177224-3c0e-4081-8468-3cd9981ddb0a.png?1638258455",
        :collector-number "179",
        :layout "normal",
        :name "The Space Family Goblinson",
        :oracle-text
        "The Space Family Goblinson has trample as long as you've rolled three or more dice this turn.\nWhenever you roll a die, put a +1/+1 counter on The Space Family Goblinson."}
 #:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/4/c453d1ea-9a42-4ccb-9391-eec122025647.png?1638229916",
        :collector-number "235",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/d/1d018af9-dd14-46fa-8fd5-226defc9698f.png?1638217576",
        :collector-number "236",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/46a6375e-9477-4871-8a15-02439f3f6f34.png?1638217580",
        :collector-number "237",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3d6da8eb-31b0-48c1-9ad9-552827967f91.png?1638217584",
        :collector-number "238",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/d/5dda1113-352c-471a-a7e0-a9a3cb3f19c5.png?1638217588",
        :collector-number "239",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/2/82283c22-9b64-4f41-a5bb-aeb737eee5c9.png?1638217606",
        :collector-number "240",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/5/15303b22-ddf0-488d-b07e-a118f35ef00f.png?1638217601",
        :collector-number "241",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/3/f3c850b9-d014-4cd1-8ffd-361ed4fe1e6d.png?1638217597",
        :collector-number "242",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9e1170a5-e5bb-4b86-8718-f75eec679b4e.png?1638217591",
        :collector-number "243",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/1/f1488e6b-f677-44c5-8ff3-6a2f9bdb28c2.png?1638217609",
        :collector-number "244",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"}
 #:card{:type-line "Legendary Creature — Goblin Guest",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/db161073-7fb1-465c-8878-e2584ac27458.png?1638227029",
        :collector-number "270",
        :layout "normal",
        :name "The Space Family Goblinson",
        :oracle-text
        "The Space Family Goblinson has trample as long as you've rolled three or more dice this turn.\nWhenever you roll a die, put a +1/+1 counter on The Space Family Goblinson."}
 #:card{:type-line "Land — Plains Island",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/029eaaa9-e45e-4c50-a03d-ad67e3dfcc3e.png?1638217620",
        :collector-number "277",
        :layout "normal",
        :name "Hallowed Fountain",
        :oracle-text
        "({T}: Add {W} or {U}.)\nAs Hallowed Fountain enters the battlefield, you may pay 2 life. If you don't, it enters the battlefield tapped."}
 #:card{:type-line "Land — Island Swamp",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/1/81706879-ec5d-4b17-b4bc-5f7cb37557a5.png?1643670149",
        :collector-number "278",
        :layout "normal",
        :name "Watery Grave",
        :oracle-text
        "({T}: Add {U} or {B}.)\nAs Watery Grave enters the battlefield, you may pay 2 life. If you don't, it enters the battlefield tapped."}
 #:card{:type-line "Land — Swamp Mountain",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/f/0f1cebcb-0e3f-4dce-81ff-44bc8c0b9ad7.png?1651434786",
        :collector-number "279",
        :layout "normal",
        :name "Blood Crypt",
        :oracle-text
        "({T}: Add {B} or {R}.)\nAs Blood Crypt enters the battlefield, you may pay 2 life. If you don't, it enters the battlefield tapped."}
 #:card{:type-line "Land — Mountain Forest",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e1dd057e-1f38-4a5f-819c-f3af9134fecf.png?1638217613",
        :collector-number "280",
        :layout "normal",
        :name "Stomping Ground",
        :oracle-text
        "({T}: Add {R} or {G}.)\nAs Stomping Ground enters the battlefield, you may pay 2 life. If you don't, it enters the battlefield tapped."}
 #:card{:type-line "Land — Forest Plains",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/43609973-6c01-4f03-9e08-a347364dfa76.png?1638217617",
        :collector-number "281",
        :layout "normal",
        :name "Temple Garden",
        :oracle-text
        "({T}: Add {G} or {W}.)\nAs Temple Garden enters the battlefield, you may pay 2 life. If you don't, it enters the battlefield tapped."}
 #:card{:type-line "Land — Plains Swamp",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/e/9e739c7e-cc16-4557-836f-fdec53a7ed8c.png?1638217627",
        :collector-number "282",
        :layout "normal",
        :name "Godless Shrine",
        :oracle-text
        "({T}: Add {W} or {B}.)\nAs Godless Shrine enters the battlefield, you may pay 2 life. If you don't, it enters the battlefield tapped."}
 #:card{:type-line "Land — Island Mountain",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/f/af478684-ea34-4275-ab45-a9512aaa0758.png?1638217634",
        :collector-number "283",
        :layout "normal",
        :name "Steam Vents",
        :oracle-text
        "({T}: Add {U} or {R}.)\nAs Steam Vents enters the battlefield, you may pay 2 life. If you don't, it enters the battlefield tapped."}
 #:card{:type-line "Land — Swamp Forest",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/a/ba5de5eb-442d-48de-bb5a-e316ea44520d.png?1638217637",
        :collector-number "284",
        :layout "normal",
        :name "Overgrown Tomb",
        :oracle-text
        "({T}: Add {B} or {G}.)\nAs Overgrown Tomb enters the battlefield, you may pay 2 life. If you don't, it enters the battlefield tapped."}
 #:card{:type-line "Land — Mountain Plains",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/3/c3142a41-8718-4955-9fec-18f3d4875493.png?1638217642",
        :collector-number "285",
        :layout "normal",
        :name "Sacred Foundry",
        :oracle-text
        "({T}: Add {R} or {W}.)\nAs Sacred Foundry enters the battlefield, you may pay 2 life. If you don't, it enters the battlefield tapped."}
 #:card{:type-line "Land — Forest Island",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/830eb270-f7aa-4694-8fe1-7c19e148a39f.png?1638217645",
        :collector-number "286",
        :layout "normal",
        :name "Breeding Pool",
        :oracle-text
        "({T}: Add {G} or {U}.)\nAs Breeding Pool enters the battlefield, you may pay 2 life. If you don't, it enters the battlefield tapped."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "unf",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9cb587e1-1243-4422-8ee3-198bd247b42c.png?1638831057",
        :collector-number "538",
        :layout "normal",
        :name "Water Gun Balloon Game",
        :oracle-text
        "As Water Gun Balloon Game enters the battlefield, each player puts a pop! counter on \"0.\"\nWhenever a player casts a spell, move that player's pop! counter up one.\nWhenever a player's pop! counter hits \"5,\" that player creates a 5/5 pink Giant Teddy Bear creature token and resets all pop! counters to \"0.\""})
