(#:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/6/962f794a-dd25-4d80-94d5-3f2c5deae4c6.png?1568803302",
        :collector-number "1",
        :layout "normal",
        :name "Balance",
        :oracle-text
        "Each player chooses a number of lands they control equal to the number of lands controlled by the player who controls the fewest, then sacrifices the rest. Players discard cards and sacrifice creatures the same way."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/f/2fcc1f3a-85da-4012-8b01-adf9b8e56c63.png?1568603536",
        :collector-number "2",
        :layout "normal",
        :name "Berserk",
        :oracle-text
        "Cast this spell only before the combat damage step.\nTarget creature gains trample and gets +X/+0 until end of turn, where X is its power. At the beginning of the next end step, destroy that creature if it attacked this turn."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d96ee79e-aa92-4981-bc59-ec43ba63f2f2.png?1568654692",
        :collector-number "3",
        :layout "normal",
        :name "Channel",
        :oracle-text
        "Until end of turn, any time you could activate a mana ability, you may pay 1 life. If you do, add {C}."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/6/460b924d-04a3-4a8f-8055-54bded06193d.png?1568683852",
        :collector-number "4",
        :layout "normal",
        :name "Gifts Ungiven",
        :oracle-text
        "Search your library for up to four cards with different names and reveal them. Target opponent chooses two of those cards. Put the chosen cards into your graveyard and the rest into your hand. Then shuffle."}
 #:card{:type-line "Creature — Goblin",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/7/b7a62e45-c159-46c8-ba74-8a5c9d177556.png?1568654367",
        :collector-number "5",
        :layout "normal",
        :name "Goblin Lackey",
        :oracle-text
        "Whenever Goblin Lackey deals damage to a player, you may put a Goblin permanent card from your hand onto the battlefield."}
 #:card{:type-line "Creature — Ape",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/a/4a70cd23-a87b-49ad-a226-5c715509746c.png?1568677284",
        :collector-number "6",
        :layout "normal",
        :name "Kird Ape",
        :oracle-text
        "Kird Ape gets +1/+2 as long as you control a Forest."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/9814d8e8-c462-41ca-9909-1c659f488543.png?1568687557",
        :collector-number "7",
        :layout "normal",
        :name "Lotus Petal",
        :oracle-text
        "{T}, Sacrifice Lotus Petal: Add one mana of any color."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/f/ef095e72-5908-432c-bb36-e0aaee629e86.png?1568719033",
        :collector-number "8",
        :layout "normal",
        :name "Mystical Tutor",
        :oracle-text
        "Search your library for an instant or sorcery card, reveal it, then shuffle and put that card on top."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8b786ea7-ac2a-406c-b61a-e61669fd1c53.png?1568771809",
        :collector-number "9",
        :layout "normal",
        :name "Necropotence",
        :oracle-text
        "Skip your draw step.\nWhenever you discard a card, exile that card from your graveyard.\nPay 1 life: Exile the top card of your library face down. Put that card into your hand at the beginning of your next end step."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/1/e16c9285-8963-4b09-93e6-e0209e22e52f.png?1568776788",
        :collector-number "10",
        :layout "normal",
        :name "Sensei's Divining Top",
        :oracle-text
        "{1}: Look at the top three cards of your library, then put them back in any order.\n{T}: Draw a card, then put Sensei's Divining Top on top of its owner's library."}
 #:card{:type-line "Creature — Efreet",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/f/3f591d3d-31dc-442c-bc01-247ea5ea83e1.png?1568814038",
        :collector-number "11",
        :layout "normal",
        :name "Serendib Efreet",
        :oracle-text
        "Flying\nAt the beginning of your upkeep, Serendib Efreet deals 1 damage to you."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1ea6289e-61c6-4221-8e44-07212f9ba3e4.png?1568826177",
        :collector-number "12",
        :layout "normal",
        :name "Skullclamp",
        :oracle-text
        "Equipped creature gets +1/-1.\nWhenever equipped creature dies, draw two cards.\nEquip {1}"}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b5315a4-6a78-456f-8d5a-fea9d62f3f0e.png?1568896336",
        :collector-number "13",
        :layout "normal",
        :name "Strip Mine",
        :oracle-text
        "{T}: Add {C}.\n{T}, Sacrifice Strip Mine: Destroy target land."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/e/1e2fee55-227b-4373-a3f7-b463f220033f.png?1568859788",
        :collector-number "14",
        :layout "normal",
        :name "Tinker",
        :oracle-text
        "As an additional cost to cast this spell, sacrifice an artifact.\nSearch your library for an artifact card, put that card onto the battlefield, then shuffle."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "v09",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/f/7f197152-fadc-4c4b-b192-02d470376fe6.png?1568895674",
        :collector-number "15",
        :layout "normal",
        :name "Trinisphere",
        :oracle-text
        "As long as Trinisphere is untapped, each spell that would cost less than three mana to cast costs three mana to cast. (Additional mana in the cost may be paid with any color of mana or colorless mana. For example, a spell that would cost {1}{B} to cast costs {2}{B} to cast instead.)"})
