(#:card{:type-line "Legendary Creature — Human Soldier",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e29fefaf-0e3b-47a5-8fa3-c3053506f662.png?1568989343",
        :collector-number "1",
        :layout "normal",
        :name "Cao Cao, Lord of Wei",
        :oracle-text
        "{T}: Target opponent discards two cards. Activate only during your turn, before attackers are declared."}
 #:card{:type-line "Legendary Creature — Human Soldier",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/9/59e31568-e630-45c1-8c65-f757acd307e2.png?1569206412",
        :collector-number "2",
        :layout "normal",
        :name "Captain Sisay",
        :oracle-text
        "{T}: Search your library for a legendary card, reveal that card, put it into your hand, then shuffle."}
 #:card{:type-line "Legendary Creature — Treefolk Shaman",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/4/b484e4be-3b13-42d7-8dd3-bc40835410ab.png?1569206196",
        :collector-number "3",
        :layout "normal",
        :name "Doran, the Siege Tower",
        :oracle-text
        "Each creature assigns combat damage equal to its toughness rather than its power."}
 #:card{:type-line "Legendary Creature — Goblin Shaman",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/7/d771a73c-f9e8-4fe0-993f-124c3c66ac6b.png?1569000423",
        :collector-number "4",
        :layout "normal",
        :name "Kiki-Jiki, Mirror Breaker",
        :oracle-text
        "Haste\n{T}: Create a token that's a copy of target nonlegendary creature you control, except it has haste. Sacrifice it at the beginning of the next end step."}
 #:card{:type-line "Legendary Creature — Human Warrior",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bd35667d-ac93-4d04-a45f-59a74b6d0925.png?1569004372",
        :collector-number "5",
        :layout "normal",
        :name "Kresh the Bloodbraided",
        :oracle-text
        "Whenever another creature dies, you may put X +1/+1 counters on Kresh the Bloodbraided, where X is that creature's power."}
 #:card{:type-line "Legendary Creature — Human Cleric",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/7/77976ca8-7c7a-469c-a99a-808de1b8bf71.png?1569033604",
        :collector-number "6",
        :layout "normal",
        :name "Mikaeus, the Lunarch",
        :oracle-text
        "Mikaeus, the Lunarch enters the battlefield with X +1/+1 counters on it.\n{T}: Put a +1/+1 counter on Mikaeus.\n{T}, Remove a +1/+1 counter from Mikaeus: Put a +1/+1 counter on each other creature you control."}
 #:card{:type-line "Legendary Creature — Elemental",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/4/54544da6-a24f-4351-aebc-a026c6414f64.png?1569113307",
        :collector-number "7",
        :layout "normal",
        :name "Omnath, Locus of Mana",
        :oracle-text
        "You don't lose unspent green mana as steps and phases end.\nOmnath, Locus of Mana gets +1/+1 for each unspent green mana you have."}
 #:card{:type-line "Legendary Creature — Faerie Wizard",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d0cbcbfa-927a-413e-96c5-ae785a68507e.png?1569122971",
        :collector-number "8",
        :layout "normal",
        :name "Oona, Queen of the Fae",
        :oracle-text
        "Flying\n{X}{U/B}: Choose a color. Target opponent exiles the top X cards of their library. For each card of the chosen color exiled this way, create a 1/1 blue and black Faerie Rogue creature token with flying."}
 #:card{:type-line "Legendary Creature — Hydra Avatar",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8bbd3493-1466-4d58-b004-00627ceb4a04.png?1569122920",
        :collector-number "9",
        :layout "normal",
        :name "Progenitus",
        :oracle-text
        "Protection from everything\nIf Progenitus would be put into a graveyard from anywhere, reveal Progenitus and shuffle it into its owner's library instead."}
 #:card{:type-line "Legendary Creature — Human Knight",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/d/bd1206d4-ce7d-4504-addc-8182a586087e.png?1569176012",
        :collector-number "10",
        :layout "normal",
        :name "Rafiq of the Many",
        :oracle-text
        "Exalted (Whenever a creature you control attacks alone, that creature gets +1/+1 until end of turn.)\nWhenever a creature you control attacks alone, it gains double strike until end of turn."}
 #:card{:type-line "Legendary Artifact Creature — Sphinx",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fc058637-a1bc-43a8-bf57-684a8ac49739.png?1569184439",
        :collector-number "11",
        :layout "normal",
        :name "Sharuum the Hegemon",
        :oracle-text
        "Flying\nWhen Sharuum the Hegemon enters the battlefield, you may return target artifact card from your graveyard to the battlefield."}
 #:card{:type-line "Legendary Creature — Human Soldier",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/4/b4e9ec34-4bf6-46da-b2c4-acedb1b19210.png?1569205984",
        :collector-number "12",
        :layout "normal",
        :name "Sun Quan, Lord of Wu",
        :oracle-text
        "Creatures you control have horsemanship. (They can't be blocked except by creatures with horsemanship.)"}
 #:card{:type-line "Legendary Creature — Human Wizard",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/0/f0acc553-e289-478a-95ad-d238604508b9.png?1569208423",
        :collector-number "13",
        :layout "normal",
        :name "Teferi, Mage of Zhalfir",
        :oracle-text
        "Flash\nCreature cards you own that aren't on the battlefield have flash.\nEach opponent can cast spells only any time they could cast a sorcery."}
 #:card{:type-line "Legendary Creature — Eldrazi",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/0645f487-efe5-4764-b361-85e07bb5ccca.png?1569238462",
        :collector-number "14",
        :layout "normal",
        :name "Ulamog, the Infinite Gyre",
        :oracle-text
        "When you cast this spell, destroy target permanent.\nIndestructible\nAnnihilator 4 (Whenever this creature attacks, defending player sacrifices four permanents.)\nWhen Ulamog, the Infinite Gyre is put into a graveyard from anywhere, its owner shuffles their graveyard into their library."}
 #:card{:type-line "Legendary Creature — Gorgon",
        :layout-category :normal,
        :code "v11",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/8/48833be5-67a6-40dd-a894-f3665cbbb62a.png?1569294157",
        :collector-number "15",
        :layout "normal",
        :name "Visara the Dreadful",
        :oracle-text
        "Flying\n{T}: Destroy target creature. It can't be regenerated."})
