(#:card{:code "v12",
        :collector-number "1",
        :name "Ancient Tomb",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/1/31984c11-5289-4fc3-9291-27e15b68146d.png?1570660869",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}{C}. Ancient Tomb deals 2 damage to you."}
 #:card{:code "v12",
        :collector-number "2",
        :name "Boseiju, Who Shelters All",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e01b7141-9576-445b-bcd4-00d79850a4dd.png?1562640087",
        :type-line "Legendary Land",
        :oracle-text
        "Boseiju, Who Shelters All enters the battlefield tapped.\n{T}, Pay 2 life: Add {C}. If that mana is spent on an instant or sorcery spell, that spell can't be countered."}
 #:card{:code "v12",
        :collector-number "3",
        :name "Cephalid Coliseum",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7c35ff55-6b92-4830-aa3a-b3b6da517035.png?1570677410",
        :type-line "Land",
        :oracle-text
        "{T}: Add {U}. Cephalid Coliseum deals 1 damage to you.\nThreshold — {U}, {T}, Sacrifice Cephalid Coliseum: Target player draws three cards, then discards three cards. Activate only if seven or more cards are in your graveyard."}
 #:card{:code "v12",
        :collector-number "4",
        :name "Desert",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/b/dbc4396e-a463-41df-a3c7-0ac78e8aa619.png?1570747559",
        :type-line "Land — Desert",
        :oracle-text
        "{T}: Add {C}.\n{T}: Desert deals 1 damage to target attacking creature. Activate only during the end of combat step."}
 #:card{:code "v12",
        :collector-number "5",
        :name "Dryad Arbor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/3/83f625aa-d229-40b7-a1c6-69549bc46789.png?1570755375",
        :type-line "Land Creature — Forest Dryad",
        :oracle-text
        "(Dryad Arbor isn't a spell, it's affected by summoning sickness, and it has \"{T}: Add {G}.\")"}
 #:card{:code "v12",
        :collector-number "6",
        :name "Forbidden Orchard",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/c/fc815057-2a08-46d7-8d0f-a5e0837b9e70.png?1570764715",
        :type-line "Land",
        :oracle-text
        "{T}: Add one mana of any color.\nWhenever you tap Forbidden Orchard for mana, target opponent creates a 1/1 colorless Spirit creature token."}
 #:card{:code "v12",
        :collector-number "7",
        :name "Glacial Chasm",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c5d439cb-50bc-4a33-bb1e-7bb2b81bfce7.png?1570795589",
        :type-line "Land",
        :oracle-text
        "Cumulative upkeep—Pay 2 life. (At the beginning of your upkeep, put an age counter on this permanent, then sacrifice it unless you pay its upkeep cost for each age counter on it.)\nWhen Glacial Chasm enters the battlefield, sacrifice a land.\nCreatures you control can't attack.\nPrevent all damage that would be dealt to you."}
 #:card{:code "v12",
        :collector-number "8",
        :name "Grove of the Burnwillows",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/435cdb9a-ded1-4183-9118-5c26f168c20d.png?1570819422",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}.\n{T}: Add {R} or {G}. Each opponent gains 1 life."}
 #:card{:code "v12",
        :collector-number "9",
        :name "High Market",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/4/d4573470-b4cf-4156-9714-e4932f6b42b5.png?1570823493",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}.\n{T}, Sacrifice a creature: You gain 1 life."}
 #:card{:code "v12",
        :collector-number "10",
        :name "Maze of Ith",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/5/253256a0-2891-45b0-be9f-8a4a425575f9.png?1570845200",
        :type-line "Land",
        :oracle-text
        "{T}: Untap target attacking creature. Prevent all combat damage that would be dealt to and dealt by that creature this turn."}
 #:card{:code "v12",
        :collector-number "11",
        :name "Murmuring Bosk",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cfd8a80e-1ff3-4a29-a38d-426bcffad255.png?1570905360",
        :type-line "Land — Forest",
        :oracle-text
        "({T}: Add {G}.)\nAs Murmuring Bosk enters the battlefield, you may reveal a Treefolk card from your hand. If you don't, Murmuring Bosk enters the battlefield tapped.\n{T}: Add {W} or {B}. Murmuring Bosk deals 1 damage to you."}
 #:card{:code "v12",
        :collector-number "12",
        :name "Shivan Gorge",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e32266dd-abd5-475d-9e89-1eb8ef30287b.png?1570931861",
        :type-line "Legendary Land",
        :oracle-text
        "{T}: Add {C}.\n{2}{R}, {T}: Shivan Gorge deals 1 damage to each opponent."}
 #:card{:code "v12",
        :collector-number "13",
        :name "Urborg, Tomb of Yawgmoth",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/2/5295d06d-97c5-4e10-8723-a62dfd9f0425.png?1570939095",
        :type-line "Legendary Land",
        :oracle-text
        "Each land is a Swamp in addition to its other land types."}
 #:card{:code "v12",
        :collector-number "14",
        :name "Vesuva",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/c/8c30eef6-c28d-43d1-aed8-6d93270ce0fd.png?1570989493",
        :type-line "Land",
        :oracle-text
        "You may have Vesuva enter the battlefield tapped as a copy of any land on the battlefield."}
 #:card{:code "v12",
        :collector-number "15",
        :name "Windbrisk Heights",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/9/29ce0a00-8f66-4d6b-b111-07855bd7d4f8.png?1571021501",
        :type-line "Land",
        :oracle-text
        "Hideaway 4 (When this land enters the battlefield, look at the top four cards of your library, exile one face down, then put the rest on the bottom in a random order.)\nWindbrisk Heights enters the battlefield tapped.\n{T}: Add {W}.\n{W}, {T}: You may play the exiled card without paying its mana cost if you attacked with three or more creatures this turn."})
