(#:card{:code "v13",
        :collector-number "1",
        :name "Dark Ritual",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/6/2672da84-92b0-41a9-afde-5f049aec506e.png?1569969136",
        :type-line "Instant",
        :oracle-text "Add {B}{B}{B}."}
 #:card{:code "v13",
        :collector-number "2",
        :name "Swords to Plowshares",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cd18a312-d5a4-456a-9bdc-9cd480c63c37.png?1569960864",
        :type-line "Instant",
        :oracle-text
        "Exile target creature. Its controller gains life equal to its power."}
 #:card{:code "v13",
        :collector-number "3",
        :name "Hymn to Tourach",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/4/f4089e6c-51eb-44c4-8395-68e43cbed93d.png?1569968788",
        :type-line "Sorcery",
        :oracle-text "Target player discards two cards at random."}
 #:card{:code "v13",
        :collector-number "4",
        :name "Fyndhorn Elves",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/b/ab107a7f-cafc-44a7-a58c-4d83acf8f99e.png?1569979066",
        :type-line "Creature — Elf Druid",
        :oracle-text "{T}: Add {G}."}
 #:card{:code "v13",
        :collector-number "5",
        :name "Impulse",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/e/2e48fe92-a2d7-49a8-a05d-6f032c532f14.png?1569984946",
        :type-line "Instant",
        :oracle-text
        "Look at the top four cards of your library. Put one of them into your hand and the rest on the bottom of your library in any order."}
 #:card{:code "v13",
        :collector-number "6",
        :name "Wall of Blossoms",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3c582edb-b78b-4aea-95c2-4284d4129574.png?1570020153",
        :type-line "Creature — Plant Wall",
        :oracle-text
        "Defender\nWhen Wall of Blossoms enters the battlefield, draw a card."}
 #:card{:code "v13",
        :collector-number "7",
        :name "Thran Dynamo",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e31071e1-1022-4a83-8f22-0d4fe13ac7d6.png?1570071103",
        :type-line "Artifact",
        :oracle-text "{T}: Add {C}{C}{C}."}
 #:card{:code "v13",
        :collector-number "8",
        :name "Tangle Wire",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/4/74d29b3d-f588-431d-bf4e-f7215683ab39.png?1570072882",
        :type-line "Artifact",
        :oracle-text
        "Fading 4 (This artifact enters the battlefield with four fade counters on it. At the beginning of your upkeep, remove a fade counter from it. If you can't, sacrifice it.)\nAt the beginning of each player's upkeep, that player taps an untapped artifact, creature, or land they control for each fade counter on Tangle Wire."}
 #:card{:code "v13",
        :collector-number "9",
        :name "Fact or Fiction",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/98b4e60c-d2bc-4784-9dd5-76f97d6eec35.png?1570132371",
        :type-line "Instant",
        :oracle-text
        "Reveal the top five cards of your library. An opponent separates those cards into two piles. Put one pile into your hand and the other into your graveyard."}
 #:card{:code "v13",
        :collector-number "10",
        :name "Chainer's Edict",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/c/1ca71fa1-c321-4ffb-b38d-b5c35be8bec6.png?1570154524",
        :type-line "Sorcery",
        :oracle-text
        "Target player sacrifices a creature.\nFlashback {5}{B}{B} (You may cast this card from your graveyard for its flashback cost. Then exile it.)"}
 #:card{:code "v13",
        :collector-number "11",
        :name "Akroma's Vengeance",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/f/4f112edd-1d2f-45ad-aaeb-6c0934d24c1f.png?1570203942",
        :type-line "Sorcery",
        :oracle-text
        "Destroy all artifacts, creatures, and enchantments.\nCycling {3} ({3}, Discard this card: Draw a card.)"}
 #:card{:code "v13",
        :collector-number "12",
        :name "Gilded Lotus",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/c/bc8add12-e02e-477d-b51d-d94d14923fd6.png?1570229540",
        :type-line "Artifact",
        :oracle-text "{T}: Add three mana of any one color."}
 #:card{:code "v13",
        :collector-number "13",
        :name "Ink-Eyes, Servant of Oni",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/9/d91bb516-f9b1-4efa-8e4f-a1dbacd19b61.png?1570246074",
        :type-line "Legendary Creature — Rat Ninja",
        :oracle-text
        "Ninjutsu {3}{B}{B} ({3}{B}{B}, Return an unblocked attacker you control to hand: Put this card onto the battlefield from your hand tapped and attacking.)\nWhenever Ink-Eyes, Servant of Oni deals combat damage to a player, you may put target creature card from that player's graveyard onto the battlefield under your control.\n{1}{B}: Regenerate Ink-Eyes."}
 #:card{:code "v13",
        :collector-number "14",
        :name "Char",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/2/d2b88ff7-90c2-4a7e-aae5-2793833c2571.png?1570299535",
        :type-line "Instant",
        :oracle-text
        "Char deals 4 damage to any target and 2 damage to you."}
 #:card{:code "v13",
        :collector-number "15",
        :name "Venser, Shaper Savant",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/4/b4fd3241-ac43-45fc-ac06-e441daee1b31.png?1570304066",
        :type-line "Legendary Creature — Human Wizard",
        :oracle-text
        "Flash\nWhen Venser, Shaper Savant enters the battlefield, return target spell or permanent to its owner's hand."}
 #:card{:code "v13",
        :collector-number "16",
        :name "Chameleon Colossus",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/b/5b966758-2377-4fce-a942-217d0869de80.png?1570401913",
        :type-line "Creature — Shapeshifter",
        :oracle-text
        "Changeling (This card is every creature type.)\nProtection from black\n{2}{G}{G}: Chameleon Colossus gets +X/+X until end of turn, where X is its power."}
 #:card{:code "v13",
        :collector-number "17",
        :name "Cruel Ultimatum",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/9/293b5efe-3d3c-4543-bfc2-bac3e14986b8.png?1570400001",
        :type-line "Sorcery",
        :oracle-text
        "Target opponent sacrifices a creature, discards three cards, then loses 5 life. You return a creature card from your graveyard to your hand, draw three cards, then gain 5 life."}
 #:card{:code "v13",
        :collector-number "18",
        :name "Jace, the Mind Sculptor",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b9942a3-39e6-4e2c-918d-0c2e2f456135.png?1570417039",
        :type-line "Legendary Planeswalker — Jace",
        :oracle-text
        "+2: Look at the top card of target player's library. You may put that card on the bottom of that player's library.\n0: Draw three cards, then put two cards from your hand on top of your library in any order.\n−1: Return target creature to its owner's hand.\n−12: Exile all cards from target player's library, then that player shuffles their hand into their library."}
 #:card{:code "v13",
        :collector-number "19",
        :name "Green Sun's Zenith",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/7/9781b0d5-2ea0-49ed-ba8a-f61dbed840e0.png?1570420203",
        :type-line "Sorcery",
        :oracle-text
        "Search your library for a green creature card with mana value X or less, put it onto the battlefield, then shuffle. Shuffle Green Sun's Zenith into its owner's library."}
 #:card{:code "v13",
        :collector-number "20",
        :name "Kessig Wolf Run",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/a/3a437d31-4288-4183-bc29-92ad26cc0b9c.png?1570464311",
        :type-line "Land",
        :oracle-text
        "{T}: Add {C}.\n{X}{R}{G}, {T}: Target creature gets +X/+0 and gains trample until end of turn."})
