(#:card{:code "v14",
        :collector-number "1",
        :name "Armageddon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/3/63e00d79-cc6c-41ad-ab2c-0a6596e0e5b7.png?1559503993",
        :type-line "Sorcery",
        :oracle-text "Destroy all lands."}
 #:card{:code "v14",
        :collector-number "2",
        :name "Burning of Xinye",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/d/edb86d0d-e6cf-4988-a03e-26d52d78d929.png?1559507012",
        :type-line "Sorcery",
        :oracle-text
        "You destroy four lands you control, then target opponent destroys four lands they control. Then Burning of Xinye deals 4 damage to each creature."}
 #:card{:code "v14",
        :collector-number "3",
        :name "Cataclysm",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/e/3ed0d87b-1ce8-452b-9558-fa1923407f16.png?1559618030",
        :type-line "Sorcery",
        :oracle-text
        "Each player chooses from among the permanents they control an artifact, a creature, an enchantment, and a land, then sacrifices the rest."}
 #:card{:code "v14",
        :collector-number "4",
        :name "Child of Alara",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/d/8d2542e7-70b0-4feb-831d-fa610d8f33c7.png?1572315209",
        :type-line "Legendary Creature — Avatar",
        :oracle-text
        "Trample\nWhen Child of Alara dies, destroy all nonland permanents. They can't be regenerated."}
 #:card{:code "v14",
        :collector-number "5",
        :name "Decree of Annihilation",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/f/1fe36d82-e59e-41f1-ab71-90c7336a28ff.png?1559792129",
        :type-line "Sorcery",
        :oracle-text
        "Exile all artifacts, creatures, and lands from the battlefield, all cards from all graveyards, and all cards from all hands.\nCycling {5}{R}{R} ({5}{R}{R}, Discard this card: Draw a card.)\nWhen you cycle Decree of Annihilation, destroy all lands."}
 #:card{:code "v14",
        :collector-number "6",
        :name "Firespout",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/f/8fecd098-bbf2-44f1-b9f1-7b93ea660880.png?1559966438",
        :type-line "Sorcery",
        :oracle-text
        "Firespout deals 3 damage to each creature without flying if {R} was spent to cast this spell and 3 damage to each creature with flying if {G} was spent to cast this spell. (Do both if {R}{G} was spent.)"}
 #:card{:code "v14",
        :collector-number "7",
        :name "Fracturing Gust",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/f/cf9d6522-567d-4357-a5de-25eaf8e9cac3.png?1560029548",
        :type-line "Instant",
        :oracle-text
        "Destroy all artifacts and enchantments. You gain 2 life for each permanent destroyed this way."}
 #:card{:code "v14",
        :collector-number "8",
        :name "Living Death",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/9/c91aca0c-677f-4ad3-9c32-049cd5d49a54.png?1560049223",
        :type-line "Sorcery",
        :oracle-text
        "Each player exiles all creature cards from their graveyard, then sacrifices all creatures they control, then puts all cards they exiled this way onto the battlefield."}
 #:card{:code "v14",
        :collector-number "9",
        :name "Martial Coup",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/50845867-20a7-433c-b97e-081276bc739f.png?1560134550",
        :type-line "Sorcery",
        :oracle-text
        "Create X 1/1 white Soldier creature tokens. If X is 5 or more, destroy all other creatures."}
 #:card{:code "v14",
        :collector-number "10",
        :name "Rolling Earthquake",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/1/d1392e68-fe1e-400f-9412-9ae11079b08c.png?1560226941",
        :type-line "Sorcery",
        :oracle-text
        "Rolling Earthquake deals X damage to each creature without horsemanship and each player."}
 #:card{:code "v14",
        :collector-number "11",
        :name "Smokestack",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/c/ec94adb9-277a-4237-b8ca-ad2f52a1d832.png?1560311137",
        :type-line "Artifact",
        :oracle-text
        "At the beginning of your upkeep, you may put a soot counter on Smokestack.\nAt the beginning of each player's upkeep, that player sacrifices a permanent for each soot counter on Smokestack."}
 #:card{:code "v14",
        :collector-number "12",
        :name "Terminus",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dda84c94-bc11-4af6-9fa0-a5af5c8c1d30.png?1560396695",
        :type-line "Sorcery",
        :oracle-text
        "Put all creatures on the bottom of their owners' libraries.\nMiracle {W} (You may cast this card for its miracle cost when you draw it if it's the first card you drew this turn.)"}
 #:card{:code "v14",
        :collector-number "13",
        :name "Upheaval",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/c/7c353e83-4b63-4bc6-b029-273d2eca1f75.png?1560483464",
        :type-line "Sorcery",
        :oracle-text "Return all permanents to their owners' hands."}
 #:card{:code "v14",
        :collector-number "14",
        :name "Virtue's Ruin",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/f/6fecf6d4-faa8-4d55-97a8-e05eca1d384f.png?1560572437",
        :type-line "Sorcery",
        :oracle-text "Destroy all white creatures."}
 #:card{:code "v14",
        :collector-number "15",
        :name "Wrath of God",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/8/98890cd7-ebd5-4fea-814e-4f612abfe3a5.png?1560576455",
        :type-line "Sorcery",
        :oracle-text
        "Destroy all creatures. They can't be regenerated."})
