(#:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/b/8b5ffbfe-4b7c-4927-b2bd-f6c598a0bfeb.png?1542338030",
        :collector-number "1",
        :layout "normal",
        :name "Beseech the Queen",
        :oracle-text
        "({2/B} can be paid with any two mana or with {B}. This card's mana value is 6.)\nSearch your library for a card with mana value less than or equal to the number of lands you control, reveal it, put it into your hand, then shuffle."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/0/70d8fd1a-8756-4e11-9235-ca119bd11dab.png?1542411556",
        :collector-number "2",
        :layout "normal",
        :name "Cabal Ritual",
        :oracle-text
        "Add {B}{B}{B}.\nThreshold — Add {B}{B}{B}{B}{B} instead if seven or more cards are in your graveyard."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/2/e25e43a7-509b-4cc1-a336-a0229229c2ff.png?1542412836",
        :collector-number "3",
        :layout "normal",
        :name "Conflux",
        :oracle-text
        "Search your library for a white card, a blue card, a black card, a red card, and a green card. Reveal those cards, put them into your hand, then shuffle."}
 #:card{:type-line "Legendary Snow Land",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bbde4755-7fd0-42b3-a0fd-80a7d6edd950.png?1542422489",
        :collector-number "4",
        :layout "normal",
        :name "Dark Depths",
        :oracle-text
        "Dark Depths enters the battlefield with ten ice counters on it.\n{3}: Remove an ice counter from Dark Depths.\nWhen Dark Depths has no ice counters on it, sacrifice it. If you do, create Marit Lage, a legendary 20/20 black Avatar creature token with flying and indestructible."}
 #:card{:type-line "Legendary Creature — Phyrexian Zombie Elf",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/c/ece3bc22-ecf3-49b8-b707-560d02250944.png?1610447860",
        :collector-number "5",
        :layout "normal",
        :name "Glissa, the Traitor",
        :oracle-text
        "First strike, deathtouch\nWhenever a creature an opponent controls dies, you may return target artifact card from your graveyard to your hand."}
 #:card{:type-line "Legendary Artifact",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/f/5f8e84a0-6303-4af1-9a38-224b2f931570.png?1542425354",
        :collector-number "6",
        :layout "normal",
        :name "Helvault",
        :oracle-text
        "{1}, {T}: Exile target creature you control.\n{7}, {T}: Exile target creature you don't control.\nWhen Helvault is put into a graveyard from the battlefield, return all cards exiled with it to the battlefield under their owners' control."}
 #:card{:type-line "Legendary Artifact Creature — Wizard",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/f/9f48defb-888b-4040-9dd2-16a0643c5c30.png?1542470803",
        :collector-number "7",
        :layout "normal",
        :name "Memnarch",
        :oracle-text
        "{1}{U}{U}: Target permanent becomes an artifact in addition to its other types. (This effect lasts indefinitely.)\n{3}{U}: Gain control of target artifact. (This effect lasts indefinitely.)"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/a/6ae27b75-2719-467b-8410-923e9cec5ac9.png?1542477104",
        :collector-number "8",
        :layout "normal",
        :name "Mind's Desire",
        :oracle-text
        "Shuffle your library. Then exile the top card of your library. Until end of turn, you may play that card without paying its mana cost.\nStorm (When you cast this spell, copy it for each spell cast before it this turn.)"}
 #:card{:type-line "Legendary Creature — Elf Wizard",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f9c7ed7d-3783-4be1-bd69-1019baf5e264.png?1600197114",
        :collector-number "9",
        :layout "normal",
        :name "Momir Vig, Simic Visionary",
        :oracle-text
        "Whenever you cast a green creature spell, you may search your library for a creature card, reveal it, then shuffle and put that card on top.\nWhenever you cast a blue creature spell, reveal the top card of your library. If it's a creature card, put that card into your hand."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a3e7f5d8-b266-4c7c-8913-94380217dbd7.png?1542483625",
        :collector-number "10",
        :layout "normal",
        :name "Near-Death Experience",
        :oracle-text
        "At the beginning of your upkeep, if you have exactly 1 life, you win the game."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/d/6d79f044-0434-4dc2-9d92-8975324f6c32.png?1542495221",
        :collector-number "11",
        :layout "normal",
        :name "Obliterate",
        :oracle-text
        "This spell can't be countered.\nDestroy all artifacts, creatures, and lands. They can't be regenerated."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/6/56df1833-4c93-499b-9f40-f8c2d0f29342.png?1600197103",
        :collector-number "12",
        :layout "normal",
        :name "Phyrexian Processor",
        :oracle-text
        "As Phyrexian Processor enters the battlefield, pay any amount of life.\n{4}, {T}: Create an X/X black Phyrexian Minion creature token, where X is the life paid as Phyrexian Processor entered the battlefield."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/a/7adede7f-ee9b-48b7-98cb-9672d36e8a0c.png?1542511729",
        :collector-number "13",
        :layout "normal",
        :name "Tolaria West",
        :oracle-text
        "Tolaria West enters the battlefield tapped.\n{T}: Add {U}.\nTransmute {1}{U}{U} ({1}{U}{U}, Discard this card: Search your library for a card with mana value 0, reveal it, put it into your hand, then shuffle. Transmute only as a sorcery.)"}
 #:card{:type-line "Legendary Artifact — Equipment",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/9/492814c7-dd17-43de-b2e8-cf9de5475604.png?1569209246",
        :collector-number "14",
        :layout "normal",
        :name "Umezawa's Jitte",
        :oracle-text
        "Whenever equipped creature deals combat damage, put two charge counters on Umezawa's Jitte.\nRemove a charge counter from Umezawa's Jitte: Choose one —\n• Equipped creature gets +2/+2 until end of turn.\n• Target creature gets -1/-1 until end of turn.\n• You gain 2 life.\nEquip {2}"}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/5/555c6135-5723-44c6-8c29-d5b57a2b3220.png?1542511696",
        :collector-number "15",
        :layout "normal",
        :name "Unmask",
        :oracle-text
        "You may exile a black card from your hand rather than pay this spell's mana cost.\nTarget player reveals their hand. You choose a nonland card from it. That player discards that card."}
 #:card{:type-line "Token Legendary Creature — Avatar",
        :layout-category :normal,
        :code "v16",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/53085c6f-b6ef-4846-8d67-40bef9609418.png?1560096961",
        :collector-number "16",
        :layout "token",
        :name "Marit Lage",
        :oracle-text "Flying, indestructible"})
