(#:card{:code "v17",
        :collector-number "1",
        :name "Archangel Avacyn // Avacyn, the Purifier",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/2/4/24842e29-77ac-4904-bd8f-b2cd163dd357.png?1562701950",
          :type-line "Legendary Creature — Angel",
          :oracle-text
          "Flash\nFlying, vigilance\nWhen Archangel Avacyn enters the battlefield, creatures you control gain indestructible until end of turn.\nWhen a non-Angel creature you control dies, transform Archangel Avacyn at the beginning of the next upkeep."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/2/4/24842e29-77ac-4904-bd8f-b2cd163dd357.png?1562701950",
          :type-line "Legendary Creature — Angel",
          :oracle-text
          "Flying\nWhen this creature transforms into Avacyn, the Purifier, it deals 3 damage to each other creature and each opponent."}]}
 #:card{:code "v17",
        :collector-number "2",
        :name "Arguel's Blood Fast // Temple of Aclazotz",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/d/7/d78cd000-3908-446d-b155-dd8af3d8f166.png?1562702374",
          :type-line "Legendary Enchantment",
          :oracle-text
          "{1}{B}, Pay 2 life: Draw a card.\nAt the beginning of your upkeep, if you have 5 or less life, you may transform Arguel's Blood Fast."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/d/7/d78cd000-3908-446d-b155-dd8af3d8f166.png?1562702374",
          :type-line "Legendary Land",
          :oracle-text
          "(Transforms from Arguel's Blood Fast.)\n{T}: Add {B}.\n{T}, Sacrifice a creature: You gain life equal to the sacrificed creature's toughness."}]}
 #:card{:code "v17",
        :collector-number "3",
        :name "Arlinn Kord // Arlinn, Embraced by the Moon",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/c/e/ce0a6fa9-f664-4263-8deb-8112f860814c.png?1562702348",
          :type-line "Legendary Planeswalker — Arlinn",
          :oracle-text
          "+1: Until end of turn, up to one target creature gets +2/+2 and gains vigilance and haste.\n0: Create a 2/2 green Wolf creature token. Transform Arlinn Kord."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/c/e/ce0a6fa9-f664-4263-8deb-8112f860814c.png?1562702348",
          :type-line "Legendary Planeswalker — Arlinn",
          :oracle-text
          "+1: Creatures you control get +1/+1 and gain trample until end of turn.\n−1: Arlinn, Embraced by the Moon deals 3 damage to any target. Transform Arlinn, Embraced by the Moon.\n−6: You get an emblem with \"Creatures you control have haste and '{T}: This creature deals damage equal to its power to any target.'\""}]}
 #:card{:code "v17",
        :collector-number "4",
        :name "Bloodline Keeper // Lord of Lineage",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/3/2/3216d161-a43d-4a55-a14b-098061805409.png?1562702004",
          :type-line "Creature — Vampire",
          :oracle-text
          "Flying\n{T}: Create a 2/2 black Vampire creature token with flying.\n{B}: Transform Bloodline Keeper. Activate only if you control five or more Vampires."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/3/2/3216d161-a43d-4a55-a14b-098061805409.png?1562702004",
          :type-line "Creature — Vampire",
          :oracle-text
          "Flying\nOther Vampire creatures you control get +2/+2.\n{T}: Create a 2/2 black Vampire creature token with flying."}]}
 #:card{:type-line "Legendary Creature — Angel Horror",
        :layout-category :normal,
        :code "v17",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2b45fb19-450d-40bd-91c7-b5ace4a77f2a.png?1625771739",
        :collector-number "5a",
        :layout "meld",
        :name "Bruna, the Fading Light",
        :oracle-text
        "When you cast this spell, you may return target Angel or Human creature card from your graveyard to the battlefield.\nFlying, vigilance\n(Melds with Gisela, the Broken Blade.)"}
 #:card{:type-line "Legendary Creature — Eldrazi Angel",
        :layout-category :normal,
        :code "v17",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/b/eba8bb03-6093-4e2b-99a2-a3fc5d8eb659.png?1625771729",
        :collector-number "5b",
        :layout "meld",
        :name "Brisela, Voice of Nightmares",
        :oracle-text
        "Flying, first strike, vigilance, lifelink\nYour opponents can't cast spells with mana value 3 or less."}
 #:card{:code "v17",
        :collector-number "6",
        :name "Chandra, Fire of Kaladesh // Chandra, Roaring Flame",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/7/e/7e0cfe44-9b57-4b9a-b23f-18d3237bd7ee.png?1562702153",
          :type-line "Legendary Creature — Human Shaman",
          :oracle-text
          "Whenever you cast a red spell, untap Chandra, Fire of Kaladesh.\n{T}: Chandra, Fire of Kaladesh deals 1 damage to target player or planeswalker. If Chandra has dealt 3 or more damage this turn, exile her, then return her to the battlefield transformed under her owner's control."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/7/e/7e0cfe44-9b57-4b9a-b23f-18d3237bd7ee.png?1562702153",
          :type-line "Legendary Planeswalker — Chandra",
          :oracle-text
          "+1: Chandra, Roaring Flame deals 2 damage to target player or planeswalker.\n−2: Chandra, Roaring Flame deals 2 damage to target creature.\n−7: Chandra, Roaring Flame deals 6 damage to each opponent. Each player dealt damage this way gets an emblem with \"At the beginning of your upkeep, this emblem deals 3 damage to you.\""}]}
 #:card{:code "v17",
        :collector-number "7",
        :name "Delver of Secrets // Insectile Aberration",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/2/8/28059d09-2c7d-4c61-af55-8942107a7c1f.png?1562701962",
          :type-line "Creature — Human Wizard",
          :oracle-text
          "At the beginning of your upkeep, look at the top card of your library. You may reveal that card. If an instant or sorcery card is revealed this way, transform Delver of Secrets."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/2/8/28059d09-2c7d-4c61-af55-8942107a7c1f.png?1562701962",
          :type-line "Creature — Human Insect",
          :oracle-text "Flying"}]}
 #:card{:code "v17",
        :collector-number "8",
        :name "Elbrus, the Binding Blade // Withengar Unbound",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/a/6/a66d5ee9-86a7-4052-a868-8dc6398342b3.png?1562702238",
          :type-line "Legendary Artifact — Equipment",
          :oracle-text
          "Equipped creature gets +1/+0.\nWhen equipped creature deals combat damage to a player, unattach Elbrus, the Binding Blade, then transform it.\nEquip {1}"}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/a/6/a66d5ee9-86a7-4052-a868-8dc6398342b3.png?1562702238",
          :type-line "Legendary Creature — Demon",
          :oracle-text
          "Flying, intimidate, trample (A creature with intimidate can't be blocked except by artifact creatures and/or creatures that share a color with it.)\nWhenever a player loses the game, put thirteen +1/+1 counters on Withengar Unbound."}]}
 #:card{:code "v17",
        :collector-number "9",
        :name "Garruk Relentless // Garruk, the Veil-Cursed",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/b/b/bb89599a-1883-45da-a87a-25e3f70c5a33.png?1562702297",
          :type-line "Legendary Planeswalker — Garruk",
          :oracle-text
          "When Garruk Relentless has two or fewer loyalty counters on him, transform him.\n0: Garruk Relentless deals 3 damage to target creature. That creature deals damage equal to its power to him.\n0: Create a 2/2 green Wolf creature token."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/b/b/bb89599a-1883-45da-a87a-25e3f70c5a33.png?1562702297",
          :type-line "Legendary Planeswalker — Garruk",
          :oracle-text
          "+1: Create a 1/1 black Wolf creature token with deathtouch.\n−1: Sacrifice a creature. If you do, search your library for a creature card, reveal it, put it into your hand, then shuffle.\n−3: Creatures you control gain trample and get +X/+X until end of turn, where X is the number of creature cards in your graveyard."}]}
 #:card{:type-line "Legendary Creature — Angel Horror",
        :layout-category :normal,
        :code "v17",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/b/3/b3c2bd44-4d75-4f61-89c0-1f1ba4d59ffa.png?1625771753",
        :collector-number "10",
        :layout "meld",
        :name "Gisela, the Broken Blade",
        :oracle-text
        "Flying, first strike, lifelink\nAt the beginning of your end step, if you both own and control Gisela, the Broken Blade and a creature named Bruna, the Fading Light, exile them, then meld them into Brisela, Voice of Nightmares."}
 #:card{:code "v17",
        :collector-number "11",
        :name "Huntmaster of the Fells // Ravager of the Fells",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/4/d/4d553078-afaf-42db-879b-fb4cb4d25742.png?1562702046",
          :type-line "Creature — Human Werewolf",
          :oracle-text
          "Whenever this creature enters the battlefield or transforms into Huntmaster of the Fells, create a 2/2 green Wolf creature token and you gain 2 life.\nAt the beginning of each upkeep, if no spells were cast last turn, transform Huntmaster of the Fells."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/4/d/4d553078-afaf-42db-879b-fb4cb4d25742.png?1562702046",
          :type-line "Creature — Werewolf",
          :oracle-text
          "Trample\nWhenever this creature transforms into Ravager of the Fells, it deals 2 damage to target opponent or planeswalker and 2 damage to up to one target creature that player or that planeswalker's controller controls.\nAt the beginning of each upkeep, if a player cast two or more spells last turn, transform Ravager of the Fells."}]}
 #:card{:code "v17",
        :collector-number "12",
        :name "Jace, Vryn's Prodigy // Jace, Telepath Unbound",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/cc750c64-fd83-4b7b-9a40-a99213e6fa6d.png?1562702327",
          :type-line "Legendary Creature — Human Wizard",
          :oracle-text
          "{T}: Draw a card, then discard a card. If there are five or more cards in your graveyard, exile Jace, Vryn's Prodigy, then return him to the battlefield transformed under his owner's control."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/c/c/cc750c64-fd83-4b7b-9a40-a99213e6fa6d.png?1562702327",
          :type-line "Legendary Planeswalker — Jace",
          :oracle-text
          "+1: Up to one target creature gets -2/-0 until your next turn.\n−3: You may cast target instant or sorcery card from your graveyard this turn. If that spell would be put into your graveyard, exile it instead.\n−9: You get an emblem with \"Whenever you cast a spell, target opponent mills five cards.\""}]}
 #:card{:code "v17",
        :collector-number "13",
        :name "Kytheon, Hero of Akros // Gideon, Battle-Forged",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/6/4/6473e356-2685-4f91-ab42-cca8c6be0816.png?1562702104",
          :type-line "Legendary Creature — Human Soldier",
          :oracle-text
          "At end of combat, if Kytheon, Hero of Akros and at least two other creatures attacked this combat, exile Kytheon, then return him to the battlefield transformed under his owner's control.\n{2}{W}: Kytheon gains indestructible until end of turn."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/6/4/6473e356-2685-4f91-ab42-cca8c6be0816.png?1562702104",
          :type-line "Legendary Planeswalker — Gideon",
          :oracle-text
          "+2: Up to one target creature an opponent controls attacks Gideon, Battle-Forged during its controller's next turn if able.\n+1: Until your next turn, target creature gains indestructible. Untap that creature.\n0: Until end of turn, Gideon, Battle-Forged becomes a 4/4 Human Soldier creature with indestructible that's still a planeswalker. Prevent all damage that would be dealt to him this turn."}]}
 #:card{:code "v17",
        :collector-number "14",
        :name
        "Liliana, Heretical Healer // Liliana, Defiant Necromancer",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/b/1/b101dd14-aff1-4811-bf1b-468930dd2999.png?1562702260",
          :type-line "Legendary Creature — Human Cleric",
          :oracle-text
          "Lifelink\nWhenever another nontoken creature you control dies, exile Liliana, Heretical Healer, then return her to the battlefield transformed under her owner's control. If you do, create a 2/2 black Zombie creature token."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/b/1/b101dd14-aff1-4811-bf1b-468930dd2999.png?1562702260",
          :type-line "Legendary Planeswalker — Liliana",
          :oracle-text
          "+2: Each player discards a card.\n−X: Return target nonlegendary creature card with mana value X from your graveyard to the battlefield.\n−8: You get an emblem with \"Whenever a creature dies, return it to the battlefield under your control at the beginning of the next end step.\""}]}
 #:card{:code "v17",
        :collector-number "15",
        :name "Nissa, Vastwood Seer // Nissa, Sage Animist",
        :layout "transform",
        :highres? true,
        :layout-category :transform,
        :faces
        [{:png
          "https://c1.scryfall.com/file/scryfall-cards/png/front/6/3/63b2b7cd-a51d-4e50-b794-a52731196973.png?1562702090",
          :type-line "Legendary Creature — Elf Scout",
          :oracle-text
          "When Nissa, Vastwood Seer enters the battlefield, you may search your library for a basic Forest card, reveal it, put it into your hand, then shuffle.\nWhenever a land enters the battlefield under your control, if you control seven or more lands, exile Nissa, then return her to the battlefield transformed under her owner's control."}
         {:png
          "https://c1.scryfall.com/file/scryfall-cards/png/back/6/3/63b2b7cd-a51d-4e50-b794-a52731196973.png?1562702090",
          :type-line "Legendary Planeswalker — Nissa",
          :oracle-text
          "+1: Reveal the top card of your library. If it's a land card, put it onto the battlefield. Otherwise, put it into your hand.\n−2: Create Ashaya, the Awoken World, a legendary 4/4 green Elemental creature token.\n−7: Untap up to six target lands. They become 6/6 Elemental creatures. They're still lands."}]})
