(#:card{:code "w17",
        :collector-number "1",
        :name "Divine Verdict",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/6/d6686a8d-9cf9-4787-9cf4-1aff8366f7ca.png?1562201341",
        :type-line "Instant",
        :oracle-text "Destroy target attacking or blocking creature."}
 #:card{:code "w17",
        :collector-number "2",
        :name "Glory Seeker",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/b/2bd51dd3-ce49-41cf-85ef-a5a1428bc71b.png?1562197821",
        :type-line "Creature — Human Soldier",
        :oracle-text ""}
 #:card{:code "w17",
        :collector-number "3",
        :name "Serra Angel",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/5/350c41af-18e5-4ce8-b3b1-64baa85b1acb.png?1562197862",
        :type-line "Creature — Angel",
        :oracle-text "Flying, vigilance"}
 #:card{:code "w17",
        :collector-number "4",
        :name "Standing Troops",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75091277-99fe-428b-95bd-5cba9e0146ef.png?1562199037",
        :type-line "Creature — Human Soldier",
        :oracle-text "Vigilance"}
 #:card{:code "w17",
        :collector-number "5",
        :name "Stormfront Pegasus",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/2/c2e03297-3124-4f83-98ef-772fa213a422.png?1562200869",
        :type-line "Creature — Pegasus",
        :oracle-text "Flying"}
 #:card{:code "w17",
        :collector-number "6",
        :name "Victory's Herald",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/c/9cd99e32-cbe4-44a7-82ef-7c2d86d6d013.png?1562199932",
        :type-line "Creature — Angel",
        :oracle-text
        "Flying\nWhenever Victory's Herald attacks, attacking creatures gain flying and lifelink until end of turn."}
 #:card{:code "w17",
        :collector-number "7",
        :name "Air Elemental",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/8/d8ecd6f4-d48f-4427-9ca4-bf414283a583.png?1562201365",
        :type-line "Creature — Elemental",
        :oracle-text "Flying"}
 #:card{:code "w17",
        :collector-number "8",
        :name "Coral Merfolk",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/3/63b2cdfe-31ef-43d7-b4ca-e2505d613244.png?1562198944",
        :type-line "Creature — Merfolk",
        :oracle-text ""}
 #:card{:code "w17",
        :collector-number "9",
        :name "Drag Under",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/5/75eacac3-cba4-4c30-b1df-19fcc5f96076.png?1562199038",
        :type-line "Sorcery",
        :oracle-text
        "Return target creature to its owner's hand.\nDraw a card."}
 #:card{:code "w17",
        :collector-number "10",
        :name "Inspiration",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/5/95233b5e-9401-4d6d-8ec4-959ca22270ff.png?1562199546",
        :type-line "Instant",
        :oracle-text "Target player draws two cards."}
 #:card{:code "w17",
        :collector-number "11",
        :name "Sleep Paralysis",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/1/4177c849-f366-4435-9060-d8785f235388.png?1562198301",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nWhen Sleep Paralysis enters the battlefield, tap enchanted creature.\nEnchanted creature doesn't untap during its controller's untap step."}
 #:card{:code "w17",
        :collector-number "12",
        :name "Sphinx of Magosi",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/2/a2b4f70d-e922-4ecb-9d5a-6253f7a7716c.png?1562199986",
        :type-line "Creature — Sphinx",
        :oracle-text
        "Flying\n{2}{U}: Draw a card, then put a +1/+1 counter on Sphinx of Magosi."}
 #:card{:code "w17",
        :collector-number "13",
        :name "Stealer of Secrets",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/2/02acbe9b-fac7-4135-8318-5f3dc93a9e58.png?1562197272",
        :type-line "Creature — Human Rogue",
        :oracle-text
        "Whenever Stealer of Secrets deals combat damage to a player, draw a card."}
 #:card{:code "w17",
        :collector-number "14",
        :name "Tricks of the Trade",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/7/f7860cf3-c3ea-4055-8c95-6d1c8d50e69d.png?1562201921",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +2/+0 and can't be blocked."}
 #:card{:code "w17",
        :collector-number "15",
        :name "Bloodhunter Bat",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/d/3ded635c-ab7c-4bb4-a771-481c4d66381e.png?1562198243",
        :type-line "Creature — Bat",
        :oracle-text
        "Flying\nWhen Bloodhunter Bat enters the battlefield, target player loses 2 life and you gain 2 life."}
 #:card{:code "w17",
        :collector-number "16",
        :name "Certain Death",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/6/a6f7a23a-0966-4060-8034-734df6f0f29f.png?1562200015",
        :type-line "Sorcery",
        :oracle-text
        "Destroy target creature. Its controller loses 2 life and you gain 2 life."}
 #:card{:code "w17",
        :collector-number "17",
        :name "Nightmare",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/5/052022ff-795f-4f50-a45c-91cf8be9fbe9.png?1562197283",
        :type-line "Creature — Nightmare Horse",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\nNightmare's power and toughness are each equal to the number of Swamps you control."}
 #:card{:code "w17",
        :collector-number "18",
        :name "Raise Dead",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/9/4950c3c2-80c1-4447-ac38-cf40f76b9545.png?1562198355",
        :type-line "Sorcery",
        :oracle-text
        "Return target creature card from your graveyard to your hand."}
 #:card{:code "w17",
        :collector-number "19",
        :name "Sengir Vampire",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/c/cc232770-2cbb-4fff-95d0-3acad5b79ae6.png?1562200908",
        :type-line "Creature — Vampire",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\nWhenever a creature dealt damage by Sengir Vampire this turn dies, put a +1/+1 counter on Sengir Vampire."}
 #:card{:code "w17",
        :collector-number "20",
        :name "Untamed Hunger",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/a/caccbba0-80b1-461c-b548-33d7f3a48342.png?1562200901",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +2/+1 and has menace. (It can't be blocked except by two or more creatures.)"}
 #:card{:code "w17",
        :collector-number "21",
        :name "Falkenrath Reaver",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/7/d7b5913e-a103-4e4a-9281-8b88c1fb746e.png?1562201358",
        :type-line "Creature — Vampire",
        :oracle-text ""}
 #:card{:code "w17",
        :collector-number "22",
        :name "Shivan Dragon",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/1/2160284c-2ece-43ba-ab67-5c184f81fe0e.png?1562197773",
        :type-line "Creature — Dragon",
        :oracle-text
        "Flying (This creature can't be blocked except by creatures with flying or reach.)\n{R}: Shivan Dragon gets +1/+0 until end of turn."}
 #:card{:code "w17",
        :collector-number "23",
        :name "Thundering Giant",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/ddbcc6e9-b5f4-4f20-9c15-b690b4f64304.png?1562201403",
        :type-line "Creature — Giant",
        :oracle-text
        "Haste (This creature can attack and {T} as soon as it comes under your control.)"}
 #:card{:code "w17",
        :collector-number "24",
        :name "Garruk's Horde",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/9/b/9b501b60-e541-430e-b7e2-b51c287093db.png?1562199915",
        :type-line "Creature — Beast",
        :oracle-text
        "Trample\nPlay with the top card of your library revealed.\nYou may cast creature spells from the top of your library. (Do this only any time you could cast that creature spell. You still pay the spell's costs.)"}
 #:card{:code "w17",
        :collector-number "25",
        :name "Oakenform",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/a/aae3e893-cc4c-46a2-882f-a3126ef39c57.png?1562200374",
        :type-line "Enchantment — Aura",
        :oracle-text
        "Enchant creature\nEnchanted creature gets +3/+3."}
 #:card{:code "w17",
        :collector-number "26",
        :name "Rabid Bite",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f97a0098-baa4-4ccf-a0da-fb57e7848024.png?1614701613",
        :type-line "Sorcery",
        :oracle-text
        "Target creature you control deals damage equal to its power to target creature you don't control."}
 #:card{:code "w17",
        :collector-number "27",
        :name "Rootwalla",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/5/f5177a97-cf3b-4a82-adc4-14835152880d.png?1562201904",
        :type-line "Creature — Lizard",
        :oracle-text
        "{1}{G}: Rootwalla gets +2/+2 until end of turn. Activate only once each turn."}
 #:card{:code "w17",
        :collector-number "28",
        :name "Stalking Tiger",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/0/2048b66a-586f-49ad-bd2b-7fce1eb45ce6.png?1562197766",
        :type-line "Creature — Cat",
        :oracle-text
        "Stalking Tiger can't be blocked by more than one creature."}
 #:card{:code "w17",
        :collector-number "29",
        :name "Stampeding Rhino",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/d/cd02ae80-4af6-4da1-ba3b-b56068c49785.png?1562200915",
        :type-line "Creature — Rhino",
        :oracle-text
        "Trample (This creature can deal excess combat damage to the player or planeswalker it's attacking.)"}
 #:card{:code "w17",
        :collector-number "30",
        :name "Wing Snare",
        :layout "normal",
        :highres? true,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/5/a58e1c71-b0e1-4c03-97cc-330e3ef94e52.png?1562199999",
        :type-line "Sorcery",
        :oracle-text "Destroy target creature with flying."})
