(#:card{:type-line "Token Creature — Angel",
        :layout-category :normal,
        :code "wdmu",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/0/b/0bca66ee-c1d5-4c05-b263-c433de60c366.png?1663562286",
        :collector-number "1",
        :layout "token",
        :name "Angel",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Bird",
        :layout-category :normal,
        :code "wdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/5/f51f4c11-abc7-45e8-bcbd-9b8670afba04.png?1674332173",
        :collector-number "2",
        :layout "token",
        :name "Bird",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "wdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/1/610728a4-b97c-46bb-9e0d-b1bc7096b29c.png?1674332180",
        :collector-number "3",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dragon",
        :layout-category :normal,
        :code "wdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/9/f9ab479f-4a6a-45a8-ba0d-f5f2bde29ff2.png?1675033697",
        :collector-number "4",
        :layout "token",
        :name "Dragon",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Beast",
        :layout-category :normal,
        :code "wdmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/9/29eea3f8-9c71-4ac7-8e67-0559d8ad3214.png?1675614029",
        :collector-number "5",
        :layout "token",
        :name "Beast",
        :oracle-text ""})
