(#:card{:type-line "Token Creature — Monk",
        :layout-category :normal,
        :code "wmom",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/5/15597c74-0d47-44e3-87bb-f9174ca265c2.png?1685566127",
        :collector-number "1",
        :layout "token",
        :name "Monk",
        :oracle-text "Prowess"}
 #:card{:type-line "Token Creature — Soldier",
        :layout-category :normal,
        :code "wmom",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/5/a51f82d6-d653-4fff-a3f3-27b639f2ea84.png?1685566138",
        :collector-number "2",
        :layout "token",
        :name "Soldier",
        :oracle-text "Lifelink"}
 #:card{:type-line "Token Creature — Knight",
        :layout-category :normal,
        :code "wmom",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/1/813def3d-7d9e-4b9a-b03b-3585f2ff0175.png?1685566140",
        :collector-number "3",
        :layout "token",
        :name "Knight",
        :oracle-text "Vigilance"}
 #:card{:type-line "Token Creature — Zombie",
        :layout-category :normal,
        :code "wmom",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/d/cd499ed5-f600-4551-a713-ac6b6e894fec.png?1685566143",
        :collector-number "4",
        :layout "token",
        :name "Zombie",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Dinosaur",
        :layout-category :normal,
        :code "wmom",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/5/35710226-9e2c-4ee5-a422-a708affb94ef.png?1685566144",
        :collector-number "5",
        :layout "token",
        :name "Dinosaur",
        :oracle-text ""}
 #:card{:type-line "Token Artifact Creature — Thopter",
        :layout-category :normal,
        :code "wmom",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/5/45667463-f668-485b-971a-1a83fb67f448.png?1685566146",
        :collector-number "6",
        :layout "token",
        :name "Thopter",
        :oracle-text "Flying"}
 #:card{:type-line "Token Creature — Vampire",
        :layout-category :normal,
        :code "wmom",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/f/1f189b30-92c0-4d07-867d-fbb366d54a52.png?1685581976",
        :collector-number "7",
        :layout "token",
        :name "Vampire",
        :oracle-text
        "Lifelink (Damage dealt by this creature also causes you to gain that much life.)"}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "wmom",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/b/4/b4311508-d045-4992-af44-703284de7e5a.png?1685581982",
        :collector-number "8",
        :layout "token",
        :name "Spirit",
        :oracle-text "Flying"}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "wmom",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/1/3/13a0a1a6-8baf-45a9-8ecc-b3e6ddc16660.png?1685581990",
        :collector-number "9",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."}
 #:card{:type-line "Token Creature — Phyrexian Saproling",
        :layout-category :normal,
        :code "wmom",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/a/a/aa576f30-6502-4d4c-831f-99e77a29965c.png?1685581995",
        :collector-number "10",
        :layout "token",
        :name "Phyrexian Saproling",
        :oracle-text ""}
 #:card{:type-line "Token Creature — Spirit",
        :layout-category :normal,
        :code "wmom",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/4/7/4779bfe3-2039-4eb9-8f3b-7d8e2ed6f1df.png?1685582002",
        :collector-number "11",
        :layout "token",
        :name "Spirit",
        :oracle-text ""}
 #:card{:type-line "Token Artifact — Treasure",
        :layout-category :normal,
        :code "wmom",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/4/2/42ac3b2a-cc0a-45a4-802c-1c543472cdc6.png?1685582005",
        :collector-number "12",
        :layout "token",
        :name "Treasure",
        :oracle-text
        "{T}, Sacrifice this artifact: Add one mana of any color."})
