(#:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/0/7088f502-662e-4083-b9b2-fdc0574592cd.png?1690545063",
        :collector-number "4",
        :layout "normal",
        :name "Greater Auramancy",
        :oracle-text
        "Other enchantments you control have shroud. (A permanent with shroud can't be the target of spells or abilities.)\nEnchanted creatures you control have shroud."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/6/f6c69c2f-729b-49ed-909d-57190a728e11.png?1690720554",
        :collector-number "13",
        :layout "normal",
        :name "Smothering Tithe",
        :oracle-text
        "Whenever an opponent draws a card, that player may pay {2}. If the player doesn't, you create a Treasure token. (It's an artifact with \"{T}, Sacrifice this artifact: Add one mana of any color.\")"}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/6/96056dc1-b989-4c87-8ad9-7a9dd99dd7fc.png?1690545149",
        :collector-number "17",
        :layout "normal",
        :name "Curiosity",
        :oracle-text
        "Enchant creature\nWhenever enchanted creature deals damage to an opponent, you may draw a card."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/4/043b2d30-a40f-4d47-933b-80544512f9c2.png?1690545204",
        :collector-number "25",
        :layout "normal",
        :name "Rhystic Study",
        :oracle-text
        "Whenever an opponent casts a spell, you may draw a card unless that player pays {1}."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/f/ff727bfb-8cd8-43dd-afdf-eb74a4631eac.png?1690545247",
        :collector-number "31",
        :layout "normal",
        :name "Necropotence",
        :oracle-text
        "Skip your draw step.\nWhenever you discard a card, exile that card from your graveyard.\nPay 1 life: Exile the top card of your library face down. Put that card into your hand at the beginning of your next end step."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/1/01499449-5614-428f-8fc1-1fa74f7114ad.png?1690545296",
        :collector-number "39",
        :layout "normal",
        :name "Aggravated Assault",
        :oracle-text
        "{3}{R}{R}: Untap all creatures you control. After this main phase, there is an additional combat phase followed by an additional main phase. Activate only as a sorcery."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/7/c7d7db76-0a0c-444f-96f1-559838450549.png?1690561129",
        :collector-number "52",
        :layout "normal",
        :name "Doubling Season",
        :oracle-text
        "If an effect would create one or more tokens under your control, it creates twice that many of those tokens instead.\nIf an effect would put one or more counters on a permanent you control, it puts twice that many of those counters on that permanent instead."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/7/97bd2780-f132-46dc-a33e-611dd7845bc4.png?1690545457",
        :collector-number "60",
        :layout "normal",
        :name "Prismatic Omen",
        :oracle-text
        "Lands you control are every basic land type in addition to their other types."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/7/f7f99277-a65a-489e-9db4-7865f1b9c50b.png?1690541217",
        :collector-number "64",
        :layout "normal",
        :name "Greater Auramancy",
        :oracle-text
        "Other enchantments you control have shroud. (A permanent with shroud can't be the target of spells or abilities.)\nEnchanted creatures you control have shroud."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/8/58178dd4-c61e-4017-b2e6-2d8308ded4fd.png?1690561140",
        :collector-number "67",
        :layout "normal",
        :name "Smothering Tithe",
        :oracle-text
        "Whenever an opponent draws a card, that player may pay {2}. If the player doesn't, you create a Treasure token. (It's an artifact with \"{T}, Sacrifice this artifact: Add one mana of any color.\")"}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/6/e6a06aad-6073-465b-89d0-8c4ae4307aff.png?1690541209",
        :collector-number "71",
        :layout "normal",
        :name "Rhystic Study",
        :oracle-text
        "Whenever an opponent casts a spell, you may draw a card unless that player pays {1}."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/7/2765545b-5e2d-4d4c-b126-93415774a2e9.png?1690541251",
        :collector-number "74",
        :layout "normal",
        :name "Necropotence",
        :oracle-text
        "Skip your draw step.\nWhenever you discard a card, exile that card from your graveyard.\nPay 1 life: Exile the top card of your library face down. Put that card into your hand at the beginning of your next end step."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/5/a5e5ec5c-c50d-4c26-a7ad-f28124c35f9b.png?1690541221",
        :collector-number "76",
        :layout "normal",
        :name "Aggravated Assault",
        :oracle-text
        "{3}{R}{R}: Untap all creatures you control. After this main phase, there is an additional combat phase followed by an additional main phase. Activate only as a sorcery."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/d/6d545e9d-3b8e-44f5-8b4e-d8573ecc5819.png?1690541225",
        :collector-number "81",
        :layout "normal",
        :name "Doubling Season",
        :oracle-text
        "If an effect would create one or more tokens under your control, it creates twice that many of those tokens instead.\nIf an effect would put one or more counters on a permanent you control, it puts twice that many of those counters on that permanent instead."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "wot",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/8/f/8f7f8d7a-e5ad-4c03-8ab3-e9af9c2927b7.png?1690541312",
        :collector-number "91",
        :layout "normal",
        :name "Rhystic Study",
        :oracle-text
        "Whenever an opponent casts a spell, you may draw a card unless that player pays {1}."})
