(#:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/2/7/27b13c5c-9bd1-4cab-b137-437928f00781.png?1590010373",
        :collector-number "2",
        :layout "normal",
        :name "Blinding Radiance",
        :oracle-text
        "Tap all creatures your opponents control with toughness 2 or less."}
 #:card{:type-line "Creature — Elephant Soldier",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/4/449a5550-fc64-4f73-852e-3e450ee98055.png?1590010706",
        :collector-number "7",
        :layout "normal",
        :name "Loxodon Line Breaker",
        :oracle-text ""}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/3/e3c1b1bc-82ec-4a10-bd0a-04a29a349e3f.png?1590010743",
        :collector-number "13",
        :layout "normal",
        :name "Take Vengeance",
        :oracle-text "Destroy target tapped creature."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/e/0/e0b65afb-f919-4c8a-bef0-67809855e871.png?1590010767",
        :collector-number "14",
        :layout "normal",
        :name "Divination",
        :oracle-text "Draw two cards."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/7/471ef8c4-cb9c-4047-b590-61be495fb89f.png?1590010786",
        :collector-number "16",
        :layout "normal",
        :name "Overflowing Insight",
        :oracle-text "Target player draws seven cards."}
 #:card{:type-line "Creature — Dinosaur",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/8/f840a93a-d0ca-45fc-9d83-e0ea5c8c5448.png?1590010583",
        :collector-number "19",
        :layout "normal",
        :name "Titanic Pelagosaur",
        :oracle-text ""}
 #:card{:type-line "Creature — Crab",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/0/d0d899e1-bded-4e16-8ecc-cc07784af4bb.png?1627325982",
        :collector-number "20",
        :layout "normal",
        :name "Shorecomber Crab",
        :oracle-text ""}
 #:card{:type-line "Enchantment — Aura",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/5/d567a048-8f81-49c9-81fe-b3ab5978415c.png?1590010789",
        :collector-number "22",
        :layout "normal",
        :name "Waterknot",
        :oracle-text
        "Enchant creature\nWhen Waterknot enters the battlefield, tap enchanted creature.\nEnchanted creature doesn't untap during its controller's untap step."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/a/5af8c9a4-27f1-4cb7-a462-f78007154052.png?1590010354",
        :collector-number "24",
        :layout "normal",
        :name "Altar's Reap",
        :oracle-text
        "As an additional cost to cast this spell, sacrifice a creature.\nDraw two cards."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/3/43e2d5fe-9b9c-4450-908a-3e8e091c385a.png?1590010365",
        :collector-number "25",
        :layout "normal",
        :name "Ambition's Cost",
        :oracle-text "You draw three cards and you lose 3 life."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/f/9/f99ffe22-4dd8-4787-b6e0-e03dea8ab42a.png?1590010389",
        :collector-number "26",
        :layout "normal",
        :name "Cruel Cut",
        :oracle-text "Destroy target creature with power 2 or less."}
 #:card{:type-line "Creature — Zombie Jackal",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c5175212-a9ed-4431-9a5b-ec445f84090a.png?1590010476",
        :collector-number "29",
        :layout "normal",
        :name "Miasmic Mummy",
        :oracle-text
        "When Miasmic Mummy enters the battlefield, each player discards a card."}
 #:card{:type-line "Creature — Human Rogue",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/9/09262613-d582-4ff7-b0b2-a055e7cd71af.png?1590010487",
        :collector-number "31",
        :layout "normal",
        :name "Nimble Pilferer",
        :oracle-text "Flash"}
 #:card{:type-line "Creature — Demon",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dd49ee87-62f4-4203-91d7-d850692929de.png?1590010511",
        :collector-number "33",
        :layout "normal",
        :name "Renegade Demon",
        :oracle-text ""}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/8/d808336d-ad67-441a-ae12-cfade2392a42.png?1605206579",
        :collector-number "34",
        :layout "normal",
        :name "Rise from the Grave",
        :oracle-text
        "Put target creature card from a graveyard onto the battlefield under your control. That creature is a black Zombie in addition to its other colors and types."}
 #:card{:type-line "Creature — Cat Demon",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/7/87e541a4-3a4a-4954-b94d-2b19caae1e52.png?1597335174",
        :collector-number "35",
        :layout "normal",
        :name "Soulhunter Rakshasa",
        :oracle-text
        "Soulhunter Rakshasa can't block.\nWhen Soulhunter Rakshasa enters the battlefield, if you cast it from your hand, it deals 1 damage to target opponent for each Swamp you control."}
 #:card{:type-line "Creature — Hellion",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/d/dde29064-8e86-4788-98b6-661a25be9b0a.png?1590010380",
        :collector-number "36",
        :layout "normal",
        :name "Chaos Maw",
        :oracle-text
        "When Chaos Maw enters the battlefield, it deals 3 damage to each other creature."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/4/34bef63a-cb84-4013-856c-8211b76d5efa.png?1590010808",
        :collector-number "37",
        :layout "normal",
        :name "Doublecast",
        :oracle-text
        "When you cast your next instant or sorcery spell this turn, copy that spell. You may choose new targets for the copy."}
 #:card{:type-line "Creature — Goblin Warrior",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/8/e/8ee340f5-f719-42f9-9836-53305e5b0c3b.png?1590010396",
        :collector-number "39",
        :layout "normal",
        :name "Goblin Bruiser",
        :oracle-text ""}
 #:card{:type-line "Creature — Goblin Warrior",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/6/4/643c8f3b-cbb7-4290-8c8a-a6a1000e12ac.png?1590010401",
        :collector-number "40",
        :layout "normal",
        :name "Goblin Gang Leader",
        :oracle-text
        "When Goblin Gang Leader enters the battlefield, create two 1/1 red Goblin creature tokens."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/3/c/3c2b7a33-3ff5-439b-bf42-69528b665822.png?1590010411",
        :collector-number "41",
        :layout "normal",
        :name "Goblin Grenade",
        :oracle-text
        "As an additional cost to cast this spell, sacrifice a Goblin.\nGoblin Grenade deals 5 damage to any target."}
 #:card{:type-line "Creature — Ogre",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/5/3/53cc3197-7a69-4b96-a701-aa3c54543958.png?1590010497",
        :collector-number "42",
        :layout "normal",
        :name "Ogre Painbringer",
        :oracle-text
        "When Ogre Painbringer enters the battlefield, it deals 3 damage to each player."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/0/c/0c3c3db6-cb91-45c6-baad-f10a1904952a.png?1590010527",
        :collector-number "44",
        :layout "normal",
        :name "Seismic Rupture",
        :oracle-text
        "Seismic Rupture deals 2 damage to each creature without flying."}
 #:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/d/4d697e44-a84a-4a98-bb51-c2502ee4a069.png?1590010824",
        :collector-number "45",
        :layout "normal",
        :name "Volcanic Dragon",
        :oracle-text "Flying, haste"}
 #:card{:type-line "Creature — Beast",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/a/3/a366fd5c-f6cd-4773-a25d-6114e11238cc.png?1590010521",
        :collector-number "47",
        :layout "normal",
        :name "Rumbling Baloth",
        :oracle-text ""}
 #:card{:type-line "Basic Land — Plains",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/4/9/49785bb6-4a5e-4c4a-bee4-31e94976da43.png?1605205576",
        :collector-number "51",
        :layout "normal",
        :name "Plains",
        :oracle-text "({T}: Add {W}.)"}
 #:card{:type-line "Basic Land — Island",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/7/6/76f1d53b-ca2c-4e9b-832c-f1b01465a0c2.png?1605205580",
        :collector-number "52",
        :layout "normal",
        :name "Island",
        :oracle-text "({T}: Add {U}.)"}
 #:card{:type-line "Basic Land — Swamp",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/1/a/1a2484d0-3897-4a1e-94c7-c52159fe0f1f.png?1605205585",
        :collector-number "53",
        :layout "normal",
        :name "Swamp",
        :oracle-text "({T}: Add {B}.)"}
 #:card{:type-line "Basic Land — Mountain",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c59e20e2-09df-498b-8ed0-027e4ca53fb8.png?1605205590",
        :collector-number "54",
        :layout "normal",
        :name "Mountain",
        :oracle-text "({T}: Add {R}.)"}
 #:card{:type-line "Basic Land — Forest",
        :layout-category :normal,
        :code "xana",
        :highres? false,
        :png
        "https://c1.scryfall.com/file/scryfall-cards/png/front/d/c/dc7963df-39e5-4924-a514-5b79e950ef7a.png?1605205594",
        :collector-number "55",
        :layout "normal",
        :name "Forest",
        :oracle-text "({T}: Add {G}.)"})
