(#:card{:type-line "Creature — Human Knight",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/f/2fdbcf55-4b8e-43ce-98b8-c556f892e09c.png?1665000038",
        :collector-number "1",
        :layout "normal",
        :name "Benalish Knight-Counselor",
        :oracle-text
        "Enlist\nWhenever Benalish Knight-Counselor enlists a creature, you get a boon with \"When you cast your next creature spell, that creature enters the battlefield with a +1/+1 counter on it.\""}
 #:card{:type-line "Creature — Kor Cleric",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/2/d2ba18b1-0d09-4220-bf92-45dc3c5b33a1.png?1665000139",
        :collector-number "2",
        :layout "normal",
        :name "Priest of Possibility",
        :oracle-text
        "When Priest of Possibility enters the battlefield, look at the top seven cards of your library. If a card among them has flying, Priest of Possibility perpetually gains flying. The same is true for first strike, double strike, deathtouch, haste, hexproof, indestructible, lifelink, menace, protection, reach, trample, and vigilance. Then shuffle."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/7/1756ce4f-6ed6-4d69-9011-ff19abadb2e8.png?1665316552",
        :collector-number "3",
        :layout "normal",
        :name "Pull of the Mist Moon",
        :oracle-text
        "Kicker {1}{U}\nWhen Pull of the Mist Moon enters the battlefield, exile target nonland permanent an opponent controls until Pull of the Mist Moon leaves the battlefield.\nWhen Pull of the Mist Moon enters the battlefield, if it was kicked, choose a nonland permanent card in your hand. It perpetually gains \"When this permanent enters the battlefield, exile target nonland permanent an opponent controls until this permanent leaves the battlefield.\""}
 #:card{:type-line "Creature — Bird Wizard",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/0/003cb181-7b1d-474a-ba26-84319791bc2b.png?1665218675",
        :collector-number "4",
        :layout "normal",
        :name "Oracle of the Alpha",
        :oracle-text
        "Flying\nWhen Oracle of the Alpha enters the battlefield, conjure the Power Nine into your library, then shuffle.\nWhenever Oracle of the Alpha attacks, scry 1."}
 #:card{:type-line "Creature — Djinn",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/4/940297d1-0402-4061-8a9f-747b479058f6.png?1665000305",
        :collector-number "5",
        :layout "normal",
        :name "Skywriter Djinn",
        :oracle-text
        "Flying\nDomain — When Skywriter Djinn enters the battlefield, conjure a random card from Skywriter Djinn's spellbook into your hand. Then if you have fewer cards in hand than the number of basic land types among lands you control, repeat this process."}
 #:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/2/22d169cf-08b4-40eb-aee3-14d0496c38fd.png?1665012962",
        :collector-number "6",
        :layout "normal",
        :name "Trove Mage",
        :oracle-text
        "When Trove Mage enters the battlefield, seek an artifact card from among the top ten cards of your library, then shuffle."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/0/f06c8847-f11f-40ad-aecf-36ca709b5ca0.png?1665000427",
        :collector-number "7",
        :layout "normal",
        :name "Vesuvan Mist",
        :oracle-text
        "Kicker {1}{B}\nReturn target nontoken, nonland permanent to its owner's hand. If this spell was kicked, conjure a duplicate of that card into your hand. It perpetually gains \"You may spend mana as though it were mana of any color to cast this spell.\""}
 #:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/2/729cbf26-1390-4307-9ba6-e2e27252bb11.png?1665012973",
        :collector-number "8",
        :layout "normal",
        :name "Darigaaz's Whelp",
        :oracle-text
        "Kicker {1}{R}\nFlying\nWhenever you draw a Dragon card, it perpetually gets +1/+1.\nWhen Darigaaz's Whelp enters the battlefield, if it was kicked, seek a Dragon card. Darigaaz's Whelp and that Dragon card each perpetually get +1/+1."}
 #:card{:type-line "Creature — Phyrexian Skeleton",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/f/7f6ef60c-19c4-4981-8997-2d6af96ea21c.png?1665000583",
        :collector-number "9",
        :layout "normal",
        :name "Diminished Returner",
        :oracle-text
        "Diminished Returner enters the battlefield tapped.\n{B}{B}: Diminished Returner perpetually gets -1/-1, then return it to the battlefield. Activate only if Diminished Returner is in your graveyard and its toughness is 2 or greater."}
 #:card{:type-line "Legendary Creature — Spirit Artificer",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/5/1586ead9-4045-4f72-b68d-bef8d496f27c.png?1665000765",
        :collector-number "10",
        :layout "normal",
        :name "Reezug, the Bonecobbler",
        :oracle-text
        "{T}: Target creature card in your graveyard perpetually becomes an artifact. You may cast that card this turn. (It loses all other card types.)"}
 #:card{:type-line "Artifact — Vehicle",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/f/9fc33271-4aab-47b2-b723-e5a60c542019.png?1665000829",
        :collector-number "11",
        :layout "normal",
        :name "Smogbelcher Chariot",
        :oracle-text
        "Menace, deathtouch, lifelink\nWhenever Smogbelcher Chariot attacks, target creature that crewed it this turn perpetually gains your choice of menace, deathtouch, or lifelink.\nCrew 3"}
 #:card{:type-line "Creature — Human Wizard",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/7/37f62730-8dfe-472e-8f8f-d9ebefa2e062.png?1665156616",
        :collector-number "12",
        :layout "normal",
        :name "Ghitu Embercoiler",
        :oracle-text
        "Prowess\nAt the beginning of your precombat main phase, you may discard a card. If you do, seek a card with greater mana value and exile it. Until the end of your next turn, you may play the exiled card."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/d/6da10d77-1a3c-41c4-ae6e-c48947c9d3de.png?1665001203",
        :collector-number "13",
        :layout "normal",
        :name "Goblin Influx Array",
        :oracle-text
        "Goblin spells you cast cost {R} less to cast. (If it doesn't require {R}, it costs {1} less to cast.)\nAt the beginning of your end step, conjure a random card from Goblin Influx Array's spellbook into your hand."}
 #:card{:type-line "Creature — Goblin Soldier",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/6/06b6cc77-4c0e-432e-b73c-f14876ce72fc.png?1665156637",
        :collector-number "14",
        :layout "normal",
        :name "Goblin Morale Sergeant",
        :oracle-text
        "Haste\nEnlist\nWhenever Goblin Morale Sergeant enlists a nontoken creature, you may conjure a duplicate of that creature into the top five cards of your library at random. The duplicate perpetually gets +1/+0 and gains haste."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/e/debe025d-c1ca-4d10-a991-6e4bbf44d15c.png?1665001423",
        :collector-number "15",
        :layout "normal",
        :name "Spellchain Scatter",
        :oracle-text
        "Kicker {U}\nWhen you cast your next instant or sorcery spell this turn, conjure a duplicate of that spell into your hand. If this spell wasn't kicked, discard the duplicate at the beginning of your next end step."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/e/8ef95e7a-9f07-41f8-908b-2df93e03d391.png?1665001474",
        :collector-number "16",
        :layout "normal",
        :name "Marwyn's Kindred",
        :oracle-text
        "Conjure a card named Marwyn, the Nurturer and X cards named Llanowar Elves onto the battlefield."}
 #:card{:type-line "Creature — Insect",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/9/89675352-bd14-4922-aa9c-9ac7f2967692.png?1665128020",
        :collector-number "17",
        :layout "normal",
        :name "Nantuko Slicer",
        :oracle-text
        "Kicker {B}\nWhen Nantuko Slicer enters the battlefield, return target card from your graveyard to your hand. If this spell was kicked, conjure a duplicate of target card in an opponent's graveyard into your hand. It perpetually gains \"You may spend mana as though it were mana of any color to cast this spell.\""}
 #:card{:type-line "Creature — Elemental Spider",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/0/b03f2a8c-3125-4c99-a655-40f04c2db092.png?1665002464",
        :collector-number "18",
        :layout "normal",
        :name "Vinesoul Spider",
        :oracle-text
        "Reach\nAt the beginning of your end step, put a random land card from your library into your graveyard."}
 #:card{:type-line "Creature — Treefolk",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/8/3844dea9-b922-4af0-8527-2d9439e96086.png?1665346746",
        :collector-number "19",
        :layout "normal",
        :name "Wandering Treefolk",
        :oracle-text
        "Vigilance\nDomain — {7}{G}: Seek a creature card. This ability costs {1} less to activate for each basic land type among lands you control."}
 #:card{:type-line "Legendary Creature — Vampire Knight",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/9/a9c789e1-f531-4bde-8a47-2ac192c66125.png?1665156721",
        :collector-number "20",
        :layout "normal",
        :name "Arvad, Weatherlight Smuggler",
        :oracle-text
        "Deathtouch, lifelink\nAt the beginning of your end step, if a creature died this turn, Arvad, Weatherlight Smuggler perpetually gets +X/+X where X is the number of creatures that died this turn. This ability also triggers if Arvad is in your graveyard."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/7/27522702-80d0-4ba4-93ef-4ede55c07ae4.png?1665003019",
        :collector-number "21",
        :layout "normal",
        :name "Bloodsprout Talisman",
        :oracle-text
        "Bloodsprout Talisman enters the battlefield tapped.\n{T}, Pay 1 life: Choose a nonland card in your hand. It perpetually gains \"This spell costs {1} less to cast.\""}
 #:card{:type-line "Legendary Creature — Dragon",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/8/88cb6f1c-d839-460e-b40f-665254d914cb.png?1665003149",
        :collector-number "22",
        :layout "normal",
        :name "Darigaaz, Shivan Champion",
        :oracle-text
        "Flying\nAt the beginning of your end step, conjure a random card from Darigaaz, Shivan Champion's spellbook into exile face down with three egg counters on it. It gains \"At the beginning of your upkeep, if this card is exiled, remove an egg counter from it. Then if it has no egg counters on it, put it onto the battlefield.\""}
 #:card{:type-line "Creature — Human Artificer",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/6/56137a4a-6e5f-4049-b0f2-f70aa5be5199.png?1665156772",
        :collector-number "23",
        :layout "normal",
        :name "Juggernaut Peddler",
        :oracle-text
        "Vigilance\nWhen Juggernaut Peddler enters the battlefield, target player reveals all nonland cards in their hand. You may choose one of those cards. If you do, that player exiles it and conjures a card named Juggernaut into their hand."}
 #:card{:type-line "Legendary Creature — Human Cleric",
        :layout-category :normal,
        :code "ydmu",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/d/a/da096910-0b1f-4f2d-81e5-a82838ea52a8.png?1668502352",
        :collector-number "24",
        :layout "normal",
        :name "Niambi, Beloved Protector",
        :oracle-text
        "Flash\nWhen Niambi, Beloved Protector enters the battlefield, if you cast it, choose target nonlegendary creature card in your graveyard that was put there from the battlefield this turn. Return it to the battlefield. It perpetually gains \"Whenever this creature becomes the target of a spell or ability, draw a card. This ability triggers only once each turn.\""}
 #:card{:type-line "Artifact — Vehicle",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/f/1ff1009e-bae9-4bda-98b3-4b8a7744051c.png?1665338618",
        :collector-number "25",
        :layout "normal",
        :name "Protean War Engine",
        :oracle-text
        "As Protean War Engine enters the battlefield, draft a card from Protean War Engine's spellbook and exile it.\nWhenever Protean War Engine becomes crewed, until end of turn, it becomes a copy of the exiled card, except it's a Vehicle artifact in addition to its other types.\nCrew 3"}
 #:card{:type-line "Legendary Creature — Fungus",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/e/1e7ad762-fa7f-4074-8bf9-5c6e92b1436d.png?1665175002",
        :collector-number "26",
        :layout "normal",
        :name "Slimefoot, Thallid Transplant",
        :oracle-text
        "Whenever a Swamp or Forest enters the battlefield under your control, draft a card from Slimefoot, Thallid Transplant's spellbook."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/d/4d4f0598-ba78-46e1-8488-a287865a3598.png?1665273728",
        :collector-number "27",
        :layout "normal",
        :name "Teferi's Contingency",
        :oracle-text
        "Counter target spell. Each card in its controller's graveyard, hand, and library with the same name as that spell perpetually gains \"This spell costs {2} more to cast.\""}
 #:card{:type-line "Legendary Creature — Angel Artificer",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/9/399c5dd7-64a4-45d5-9474-52771ad97358.png?1665003626",
        :collector-number "28",
        :layout "normal",
        :name "Tiana, Angelic Mechanic",
        :oracle-text
        "Flying\nWhen Tiana, Angelic Mechanic or another legendary creature you control crews a Vehicle, that Vehicle perpetually gets +1/+0."}
 #:card{:type-line "Creature — Merfolk Wizard",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/9/09ae01dc-18c0-4f66-9b05-549382ffb6a9.png?1674780112",
        :collector-number "29",
        :layout "normal",
        :name "Vodalian Tide Mage",
        :oracle-text
        "Whenever one or more other nontoken creatures you control deal combat damage to a player, choose one of those creatures. Conjure a duplicate of the chosen creature into your hand."}
 #:card{:type-line "Artifact Creature — Construct",
        :layout-category :normal,
        :code "ydmu",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/7/076eac56-922b-4545-8a0b-f52f53ee780d.png?1665156836",
        :collector-number "30",
        :layout "normal",
        :name "Coalition Construct",
        :oracle-text
        "As Coalition Construct enters the battlefield, choose a creature type.\nCoalition Construct is the chosen type in addition to its other types.\nWhen Coalition Construct enters the battlefield, other creatures you control of the chosen type and creature cards of that type in your hand perpetually get +1/+1."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ydmu",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/0/8/08eb8f0c-57a4-4ccf-961f-a890fbbd380d.png?1669766297",
        :collector-number "32",
        :layout "normal",
        :name "Ancestral Recall",
        :oracle-text "Target player draws three cards."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ydmu",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/7/e/7e5704ea-175a-485b-b756-b6d32aad5ebb.png?1669766334",
        :collector-number "33",
        :layout "normal",
        :name "Time Walk",
        :oracle-text "Take an extra turn after this one."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ydmu",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/b/4/b4249540-d391-4ed8-aa88-fa781d584683.png?1669766360",
        :collector-number "34",
        :layout "normal",
        :name "Timetwister",
        :oracle-text
        "Each player shuffles their hand and graveyard into their library, then draws seven cards. (Then put Timetwister into its owner's graveyard.)"}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ydmu",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/a/1/a192fff8-ea06-4681-a99d-63ae21a88bd1.png?1669766256",
        :collector-number "35",
        :layout "normal",
        :name "Black Lotus",
        :oracle-text
        "{T}, Sacrifice Black Lotus: Add three mana of any one color."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ydmu",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/f/7/f730ea98-4270-4a85-b6f9-0ff926d14c8f.png?1669766397",
        :collector-number "36",
        :layout "normal",
        :name "Mox Emerald",
        :oracle-text "{T}: Add {G}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ydmu",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/7/1/716c83f1-cfd7-4f00-a614-de53a7bd1dd3.png?1669766513",
        :collector-number "37",
        :layout "normal",
        :name "Mox Jet",
        :oracle-text "{T}: Add {B}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ydmu",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/a/2/a2229e01-861f-45e6-9305-c480b86bea73.png?1670130325",
        :collector-number "38",
        :layout "normal",
        :name "Mox Pearl",
        :oracle-text "{T}: Add {W}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ydmu",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/2/c2b63b44-7eb1-49c8-af84-6e69bc379094.png?1669766490",
        :collector-number "39",
        :layout "normal",
        :name "Mox Ruby",
        :oracle-text "{T}: Add {R}."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ydmu",
        :highres? false,
        :png
        "https://cards.scryfall.io/png/front/c/8/c8780a37-2d5f-4461-a6df-daaf142659a1.png?1669766555",
        :collector-number "40",
        :layout "normal",
        :name "Mox Sapphire",
        :oracle-text "{T}: Add {U}."})
