(#:card{:type-line "Artifact Creature — Gnome",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/5/d5548e53-4073-40e5-8eac-f753f65fa7c7.png?1701720477",
        :collector-number "1",
        :layout "normal",
        :name "Cogwork Progenitor",
        :oracle-text
        "At the beginning of your end step, you may exile another artifact you control or an artifact card in your graveyard. If you do, seek an artifact card. That card perpetually has base power and toughness 1/1 and becomes a Gnome creature in addition to its other types."}
 #:card{:type-line "Sorcery — Chorus",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/a/aaae9392-e89c-4075-b9bf-af42c54571ab.png?1701720492",
        :collector-number "2",
        :layout "normal",
        :name "Legion's Chant",
        :oracle-text
        "Starting intensity 3\nReturn any number of creature cards with total mana value X or less from your graveyard to the battlefield, where X is Legion's Chant's intensity.\nAll Chorus cards you own intensify by 1."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/6/c6d34e47-706c-4360-ae62-1e68771fb5ba.png?1701720469",
        :collector-number "3",
        :layout "normal",
        :name "Radiant Smite",
        :oracle-text
        "Destroy target creature with power 4 or greater. If you weren't the starting player, you gain 4 life.\nCycling {W}\nWhen you cycle Radiant Smite, if you weren't the starting player, you gain 2 life."}
 #:card{:type-line "Creature — Human Knight",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/b/db029f31-23b5-4129-930a-1b614e8be125.png?1701720501",
        :collector-number "4",
        :layout "normal",
        :name "Valiant Batrider",
        :oracle-text
        "Flying\nWhenever Valiant Batrider deals combat damage to a player, that player gets a one-time boon with \"When you cast a noncreature spell, you may pay {1}. If you don't, each opponent draws a card.\""}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/a/9a4d091c-552f-4389-8965-210ccee650f1.png?1701720405",
        :collector-number "5",
        :layout "normal",
        :name "Herald's Reveille",
        :oracle-text
        "Draw a card. If a permanent you controlled explored this turn, seek a Merfolk card instead."}
 #:card{:type-line "Instant — Chorus",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/6/b6a69ef2-b55b-458b-a456-9a46d3187c25.png?1701720397",
        :collector-number "6",
        :layout "normal",
        :name "Hymn to the Ages",
        :oracle-text
        "Starting intensity 3\nDraw a number of cards equal to this spell's intensity.\nAll Chorus cards you own intensify by 1."}
 #:card{:type-line "Creature — Orc Pirate",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/8/18c3922f-0e64-452f-9b4b-ef7a5984f38c.png?1701720379",
        :collector-number "7",
        :layout "normal",
        :name "Landlore Navigator",
        :oracle-text
        "Whenever Landlore Navigator attacks, create a Map token.\nAt the beginning of your end step, if two or more artifacts entered the battlefield under your control this turn, conjure a card named Thieving Magpie onto the battlefield."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/2/b24f440e-6034-41cc-bfa2-781181a8378c.png?1701720366",
        :collector-number "8",
        :layout "normal",
        :name "Plunderer's Prize",
        :oracle-text
        "Seek a nonland artifact card with mana value X or less and put it onto the battlefield. If a card with mana value less than X is put onto the battlefield this way, this spell perpetually gains \"This spell costs {1} more to cast,\" then return this spell to its owner's hand."}
 #:card{:type-line "Creature — Insect Horror",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/7/373d607c-b804-48f9-bbed-31ef363acdd0.png?1701720347",
        :collector-number "9",
        :layout "normal",
        :name "Chitinous Crawler",
        :oracle-text
        "At the beginning of combat on your turn, choose target creature card in your graveyard. Conjure a duplicate of it into your graveyard.\nDescend 8 — Exile a permanent card from your graveyard: You may play it. Activate only as a sorcery and only if there are eight or more permanent cards in your graveyard."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/7/f75f51d3-2df7-4b37-bbd1-2635db64bc22.png?1701720339",
        :collector-number "10",
        :layout "normal",
        :name "Dusk's Landing",
        :oracle-text
        "Draw a card. If an opponent lost life this turn and you gained life this turn, seek two Vampire cards instead."}
 #:card{:type-line "Creature — Vampire Soldier",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/9/29e58bfb-eb4f-41bc-99dc-fbf1e59faa49.png?1701720638",
        :collector-number "11",
        :layout "normal",
        :name "Legion Reconsecrator",
        :oracle-text
        "Whenever Legion Reconsecrator attacks, exile up to one target creature card from a graveyard. If you do, conjure a duplicate of it into your graveyard. The duplicate perpetually becomes a black Skeleton with base power and toughness 3/1 in addition to its other colors and types.\nWhen Legion Reconsecrator dies, return another target creature card with power or toughness 1 from your graveyard to the battlefield."}
 #:card{:type-line "Sorcery — Chorus",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/5/45d587fa-f2cf-45cb-ba7c-71a0460e1a36.png?1701798819",
        :collector-number "12",
        :layout "normal",
        :name "Mycelic Ballad",
        :oracle-text
        "Starting intensity 2\nEach player sacrifices X creatures and you gain X life, where X is this spell's intensity.\nAll Chorus cards you own intensify by 1."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/5/85ccb789-7390-4708-9670-ca2a906d2b90.png?1701720165",
        :collector-number "13",
        :layout "normal",
        :name "Phantasmal Extraction",
        :oracle-text
        "If you weren't the starting player, this spell costs {1} less to cast.\nTarget opponent reveals each nonland card in their hand with mana value 4 or less. Choose a card revealed this way or a card in their graveyard. Exile that card."}
 #:card{:type-line "Artifact Creature — Golem",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/7/b7f649a3-cc67-4111-ba78-399afd829d24.png?1701719986",
        :collector-number "14",
        :layout "normal",
        :name "Caldera Breaker",
        :oracle-text
        "Trample\nWhen Caldera Breaker enters the battlefield, exile all Mountain cards from your library. When you do, Caldera Breaker deals that much damage to target creature or planeswalker an opponent controls.\nWhen Caldera Breaker dies, put all cards exiled with it onto the battlefield under their owner's control. Conjure four cards named Volcanic Geyser into your library, then shuffle."}
 #:card{:type-line "Legendary Creature — Dinosaur Pirate",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/2/32adac7e-ef3b-4b15-ace8-80e8102bf126.png?1701786939",
        :collector-number "15",
        :layout "normal",
        :name "Kamachal, Ship's Mascot",
        :oracle-text
        "Menace\n{R}: Kamachal, Ship's Mascot gets +1/+0 until end of turn.\nWhenever Kamachal deals combat damage to a player, create a Treasure token. Then exile from that player's library a random card with mana value equal to the damage dealt. You may cast that card this turn."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/9/79df8e7a-c5b5-4ec9-918b-3399a6dbb068.png?1701719968",
        :collector-number "16",
        :layout "normal",
        :name "Pirate's Landing",
        :oracle-text
        "Draw a card. If mana from a Treasure was spent to cast this spell, seek a Pirate card instead."}
 #:card{:type-line "Instant — Chorus",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/f/cfe18e3c-9213-4c4c-b4aa-916253bc9760.png?1706734045",
        :collector-number "17",
        :layout "normal",
        :name "Ribald Shanty",
        :oracle-text
        "Starting intensity 2\nThis spell deals damage equal to its intensity to target creature or planeswalker.\nAll Chorus cards you own intensify by 1."}
 #:card{:type-line "Sorcery — Chorus",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/d/3d668722-fbbf-43d8-94da-60cffc1dd9cd.png?1701719739",
        :collector-number "18",
        :layout "normal",
        :name "Colossal Chorus",
        :oracle-text
        "Starting intensity 2\nConjure X cards named Colossal Dreadmaw onto the battlefield, where X is this spell's intensity.\nAll Chorus cards you own intensify by 1."}
 #:card{:type-line "Legendary Creature — Cat Shaman",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/c/2cd90255-cfe9-4a2d-86fc-b72d1aefc8e3.png?1701719898",
        :collector-number "19",
        :layout "normal",
        :name "Mythweaver Poq",
        :oracle-text
        "Mythweaver Poq's power and toughness are each equal to the number of lands you control.\nWhenever one or more nontoken lands enter the battlefield under your control, for each of them, conjure a duplicate of it onto the battlefield. This ability triggers only once each turn."}
 #:card{:type-line "Creature — Fungus",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/c/9cf45750-eee5-4cc9-896b-c31ada496668.png?1701719721",
        :collector-number "20",
        :layout "normal",
        :name "Propagator Primordium",
        :oracle-text
        "When Propagator Primordium enters the battlefield, conjure two cards named Propagator Primordium into your graveyard.\nAt the beginning of your upkeep, put a spore counter on Propagator Primordium.\nRemove three spore counters from Propagator Primordium: Return target Fungus creature card from your graveyard to the battlefield."}
 #:card{:type-line "Creature — Human Druid",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/d/dd8dfdc2-c89b-435a-b9dd-2a7f31986cd0.png?1701719677",
        :collector-number "21",
        :layout "normal",
        :name "Scalespeaker Shepherd",
        :oracle-text
        "When Scalespeaker Shepherd enters the battlefield, draft a card from Scalespeaker Shepherd's spellbook.\nDinosaur spells you cast cost {1} less to cast."}
 #:card{:type-line "Creature — Dinosaur",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/0/90cacb16-c18c-44bb-87b9-267da816f51d.png?1701735890",
        :collector-number "22",
        :layout "normal",
        :name "Wingbane Vantasaur",
        :oracle-text
        "Reach\nWhen Wingbane Vantasaur enters the battlefield, choose one —\n• Conjure a card named Savage Stomp into your hand.\n• Conjure a card named Naturalize into your hand."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/7/577304f8-89e5-47d2-bdb3-311d4be88af2.png?1701719540",
        :collector-number "23",
        :layout "normal",
        :name "Brazen Boarding",
        :oracle-text
        "Brazen Boarding deals 4 damage to target creature or planeswalker. If excess damage is dealt this way, conjure a card with mana value equal to that excess damage from Brazen Boarding's spellbook onto the battlefield. If that excess damage is 4 or greater, instead conjure a card named Admiral Beckett Brass onto the battlefield."}
 #:card{:type-line "Legendary Creature — Vampire Knight",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/1/31d2e591-6df4-4445-a16c-c7a576ff3e20.png?1701719452",
        :collector-number "24",
        :layout "normal",
        :name "High Marshal Arguel",
        :oracle-text
        "When High Marshal Arguel dies, conjure a card named Arguel's Blood Fast onto the battlefield and you may transform it. If you control an enchantment named Arguel's Blood Fast and a land named Temple of Aclazotz, instead create two 4/3 white and black Vampire Demon creature tokens with flying."}
 #:card{:type-line "Creature — Merfolk Wizard",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/2/621d3254-e59a-4eda-beb4-e240689e0a37.png?1701719438",
        :collector-number "25",
        :layout "normal",
        :name "Merfolk Tunnel-Guide",
        :oracle-text
        "When Merfolk Tunnel-Guide enters the battlefield, you get a three-time boon with \"Whenever one or more Merfolk enter the battlefield under your control, target Merfolk creature you control explores.\""}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/6/76ef4d09-b762-4b40-b9c8-619535e1e7a7.png?1701719425",
        :collector-number "26",
        :layout "normal",
        :name "Mycoid Resurrection",
        :oracle-text
        "Fathomless descent — Each creature card in your graveyard perpetually gets +X/+X, where X is the number of permanent cards in your graveyard. Then return a creature card from your graveyard to the battlefield."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/1/5140c7d3-56bb-46e6-a5e9-c12462bdc13d.png?1703081357",
        :collector-number "27",
        :layout "normal",
        :name "Reflection Net",
        :oracle-text
        "Flash\nWhen Reflection Net enters the battlefield, exile target creature until Reflection Net leaves the battlefield.\n{2}: Target creature you control becomes a copy of a creature card exiled with Reflection Net. Activate only as a sorcery and only once."}
 #:card{:type-line "Artifact Creature — Gnome",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/a/2ac992dd-9207-4456-a09e-114e337c8a9e.png?1701720519",
        :collector-number "28",
        :layout "normal",
        :name "Scalesoul Gnome",
        :oracle-text
        "Trample, Haste\nWhenever Scalesoul Gnome deals combat damage to a player, discover X, where X is that damage.\nWhenever you play a card from exile, conjure a duplicate of it into your hand."}
 #:card{:type-line "Creature — Dinosaur",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/8/7/8770e4cc-193a-4358-8051-77536368a227.png?1701735903",
        :collector-number "29",
        :layout "normal",
        :name "Stalwart Speartail",
        :oracle-text
        "Enrage — Whenever Stalwart Speartail is dealt damage, other Dinosaurs you control and Dinosaur cards in your hand and library perpetually get +1/+1.\nWhenever Stalwart Speartail attacks, you may pay {3}. When you do, Stalwart Speartail deals 1 damage to each creature and each planeswalker."}
 #:card{:type-line "Legendary Creature — Spirit",
        :layout-category :normal,
        :code "ylci",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/6/96b1d02e-5dd1-4621-b8f9-353b95152185.png?1701719369",
        :collector-number "30",
        :layout "normal",
        :name "Tan Jolom, the Worldwalker",
        :oracle-text
        "At the beginning of combat on your turn, choose up to one target artifact or land you control that isn't a creature or token. Until end of turn, it becomes a 3/3 Spirit creature with vigilance and double team in addition to its other types."})
