(#:card{:type-line "Legendary Creature — Elephant Artificer",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/8/28104289-3043-4ba6-bcc6-e35fad429135.png?1677507380",
        :collector-number "1",
        :layout "normal",
        :name "Ghalma the Shaper",
        :oracle-text
        "Vigilance\nWhenever Ghalma the Shaper attacks, conjure a card named Tempered Steel into your hand, then create a 1/1 colorless Myr artifact creature token."}
 #:card{:type-line "Creature — Cat Artificer",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/0/001f2658-9631-4ae8-a83b-3e922e243481.png?1684523721",
        :collector-number "2",
        :layout "normal",
        :name "Kemba's Outfitter",
        :oracle-text
        "When Kemba's Outfitter enters the battlefield, choose one —\n• Choose an Equipment card in your hand. It perpetually gains equip {1}.\n• Target Equipment you control perpetually gains equip {1}."}
 #:card{:type-line "Creature — Phyrexian Horror",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/1/5163600e-f87a-4a8e-8123-c9d499a689bd.png?1679383432",
        :collector-number "3",
        :layout "normal",
        :name "Nettling Host",
        :oracle-text
        "Toxic 2\nCorrupted — Exile Nettling Host from your graveyard: Conjure a card named Nettlecyst into your hand. Activate only if an opponent has three or more poison counters."}
 #:card{:type-line "Creature — Phyrexian Insect",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/5/b50b39e8-3dd6-40d9-bd75-177308409573.png?1679383421",
        :collector-number "4",
        :layout "normal",
        :name "Norn's Fetchling",
        :oracle-text
        "Toxic 1\nCorrupted — When Norn's Fetchling enters the battlefield, conjure a card named Plains into your hand. If an opponent has three or more poison counters, you may seek a nonland card instead."}
 #:card{:type-line "Creature — Phyrexian Cleric",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/d/2d35dcd2-6311-4013-80d0-6a75c8499878.png?1677507619",
        :collector-number "5",
        :layout "normal",
        :name "Quicksilver Servitor",
        :oracle-text
        "Ward {2}\nWhenever you cast a spell from among cards put into your hand this turn, proliferate."}
 #:card{:type-line "Artifact Creature — Phyrexian Shapeshifter",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/e/1e7aa3a6-4219-4c54-97bd-571680af9e99.png?1677507677",
        :collector-number "6",
        :layout "normal",
        :name "Surgical Metamorph",
        :oracle-text
        "This spell costs {1} less to cast if you weren't the starting player.\nYou may have Surgical Metamorph enter the battlefield as a copy of any permanent on the battlefield, except it's an artifact in addition to its other types."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/b/cbb0243d-2d9d-45af-944f-53db2ef87fb9.png?1677507721",
        :collector-number "7",
        :layout "normal",
        :name "Tezzeret's Reckoning",
        :oracle-text
        "Exile three random cards from your library face down and look at them. For as long as they remain exiled, you may play one of those cards."}
 #:card{:type-line "Creature — Phyrexian Imp",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/8/3878d4c7-5fda-4cea-bfa0-f9af102156fa.png?1677507780",
        :collector-number "8",
        :layout "normal",
        :name "Blightwing Whelp",
        :oracle-text
        "Flying\nToxic 1\n{B}: Blightwing Whelp gains haste until end of turn.\nWhenever Blightwing Whelp deals combat damage to a player, seek a card with mana value equal to the number of poison counters that player has."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/6/a6aa0aea-a12e-4658-ab74-1325703af427.png?1677511842",
        :collector-number "9",
        :layout "normal",
        :name "March Toward Perfection",
        :oracle-text
        "You get a boon with \"When you cast your next Phyrexian creature spell, that creature enters the battlefield with an additional +1/+1 counter and deathtouch counter on it.\"\nDraft a card from March Toward Perfection's spellbook."}
 #:card{:type-line "Creature — Phyrexian Horror",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/5/e5e6a678-d8de-4763-bbad-ff23e394d4d8.png?1677509981",
        :collector-number "10",
        :layout "normal",
        :name "Sheoldred's Assimilator",
        :oracle-text
        "Menace\nWhenever Sheoldred's Assimilator enters the battlefield or attacks, exile up to one target card from a graveyard. If a card is exiled this way, you may conjure a duplicate of that card into the top five cards of your library at random."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/f/0f0409ad-1e16-4a8f-b998-11e95a736a30.png?1677508039",
        :collector-number "11",
        :layout "normal",
        :name "Hexgold Sledge",
        :oracle-text
        "For Mirrodin!\nWhen Hexgold Sledge enters the battlefield, conjure a card named Goblin Gaveleer onto the battlefield.\nEquipped creature gets +1/+0.\nEquip {1}"}
 #:card{:type-line "Creature — Dragon",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/f/bf61bf25-2e80-409a-b925-fb7eb56149b7.png?1677508116",
        :collector-number "12",
        :layout "normal",
        :name "Magmatic Scorchwing",
        :oracle-text
        "Flying\nWhen Magmatic Scorchwing enters the battlefield, if there are no nonbasic land cards in your library, Magmatic Scorchwing deals 3 damage to any target."}
 #:card{:type-line "Creature — Phyrexian Horror",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/1/61ec25b0-40ab-4719-8c35-1fc4f59239d9.png?1677507078",
        :collector-number "13",
        :layout "normal",
        :name "Phyrexian Harvester",
        :oracle-text
        "Menace\nWhenever Phyrexian Harvester is dealt damage, seek that many nonland cards. At the beginning of your next end step, discard those cards."}
 #:card{:type-line "Legendary Creature — Phyrexian Beast",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/4/e4f250af-01fb-41dd-b6da-8b636166058f.png?1677508195",
        :collector-number "14",
        :layout "normal",
        :name "Rothga, Bonded Engulfer",
        :oracle-text
        "Trample\nWhen Rothga, Bonded Engulfer enters the battlefield, you get a boon with \"When you cast your next creature spell, it perpetually gets +X/+X, where X is its power.\""}
 #:card{:type-line "Creature — Phyrexian Insect",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/7/77032519-833d-4569-9f40-6886c7eb9f0e.png?1682868851",
        :collector-number "15",
        :layout "normal",
        :name "Phyresis Roach",
        :oracle-text
        "Toxic 1\nWhenever Phyresis Roach deals combat damage to a player, Insects you control and Insect cards in your graveyard, hand, and library perpetually gain toxic 1."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/a/fa90d01c-2bc8-46f7-9351-e878eb528d4c.png?1677507116",
        :collector-number "16",
        :layout "normal",
        :name "Spawning Pod",
        :oracle-text
        "{1}, {T}, Sacrifice a creature: Seek a creature card with mana value equal to 1 plus the sacrificed creature's mana value and put that card onto the battlefield. That creature is a Phyrexian in addition to its other types. Activate only as a sorcery."}
 #:card{:type-line "Legendary Creature — Human Cleric",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/d/0da98dfc-3de1-48fb-881f-d01f34b2a22e.png?1677508346",
        :collector-number "17",
        :layout "normal",
        :name "Arek, False Goldwarden",
        :oracle-text
        "Starting intensity 0\nWhenever another creature enters the battlefield under your control, perpetually increase the intensity of Arek and the intensity of all cards named Arek, False Goldwarden in your graveyard, hand, and library by 1.\n{3}{W}{B}, {T}, Sacrifice Arek: Target opponent loses X life and you gain X life, where X is Arek's intensity."}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/5/953ed64c-f336-45c0-8377-486686c5b977.png?1677512015",
        :collector-number "18",
        :layout "normal",
        :name "Bladehold Cleaver",
        :oracle-text
        "For Mirrodin!\nEquipped creature gets +2/+2.\nWhenever equipped creature dies, draft a card from Bladehold Cleaver's spellbook.\nEquip {3}"}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/f/bf93da6b-8249-4342-b19e-3a2946e7065e.png?1677512139",
        :collector-number "19",
        :layout "normal",
        :name "Contagion Dispenser",
        :oracle-text
        "When Contagion Dispenser enters the battlefield, proliferate.\nWhenever you proliferate during your turn, draft a card from Contagion Dispenser's spellbook. This ability triggers only once each turn."}
 #:card{:type-line "Artifact Creature — Phyrexian Hydra",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/e/0ea01eca-5ffc-4678-92f1-9c35fbf4a362.png?1684523743",
        :collector-number "20",
        :layout "normal",
        :name "Darksteel Hydra",
        :oracle-text
        "Indestructible\nDarksteel Hydra enters the battlefield with X oil counters on it.\nDarksteel Hydra's power and toughness are each equal to twice the number of oil counters on it.\nWhen Darksteel Hydra enters the battlefield, conjure a card named Darksteel Ingot and a card named Darksteel Plate into your hand."}
 #:card{:type-line "Artifact",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/6/76cd7a63-55c6-4066-9244-2f10bfe8f33d.png?1677508580",
        :collector-number "21",
        :layout "normal",
        :name "Glistening Extractor",
        :oracle-text
        "Glistening Extractor enters the battlefield with four oil counters on it.\nAt the beginning of your upkeep, if there are one or more oil counters on Glistening Extractor, seek a card with mana value equal to the number of oil counters on Glistening Extractor, then remove an oil counter from Glistening Extractor."}
 #:card{:type-line "Legendary Creature — Phyrexian Warlock",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/d/0db18acd-36dd-4469-a370-430141858722.png?1677508667",
        :collector-number "22",
        :layout "normal",
        :name "Gyox, Brutal Carnivora",
        :oracle-text
        "At the beginning of your end step, put an oil counter on up to one target creature.\nWhenever a nontoken creature you control with one or more oil counters on it dies, conjure X duplicates of it into exile, where X is the number of oil counters on it. Those duplicates perpetually get +X/+X. Then shuffle those duplicates into your library."}
 #:card{:type-line "Creature — Phyrexian Horror",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/8/0859810b-132c-4067-87b7-794dfc4aefa5.png?1677559411",
        :collector-number "23",
        :layout "normal",
        :name "Ichor Aberration",
        :oracle-text
        "Flying, Defender\nAs long as Ichor Aberration's power is 7 or greater, it can attack as though it didn't have defender.\nWhenever you proliferate, if Ichor Aberration is in your graveyard or on the battlefield, Ichor Aberration perpetually gets +1/+1. You may cast it from your graveyard this turn."}
 #:card{:type-line "Creature — Phyrexian Artificer",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/6/76bde38b-66d2-493b-ade0-c2d4ef5bf7e9.png?1677508790",
        :collector-number "24",
        :layout "normal",
        :name "Innovative Metatect",
        :oracle-text
        "Whenever one or more artifact creatures you control deal combat damage to a player, seek a nonland card with mana value 2 or less."}
 #:card{:type-line "Creature — Phyrexian Ooze",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/d/ed7fd74d-f543-4d9a-9cd8-c84c202bdc1e.png?1677508841",
        :collector-number "25",
        :layout "normal",
        :name "Mephidross Slime",
        :oracle-text
        "Trample\nWhen Mephidross Slime dies, conjure a card named Mephidross Slime into your graveyard. Perpetually double the power and toughness of Mephidross Slime and that card, then shuffle them into their owner's library."}
 #:card{:type-line "Creature — Phyrexian Artificer",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/9/b9e9858f-4cdc-4682-be2f-20f555014b07.png?1677507097",
        :collector-number "26",
        :layout "normal",
        :name "Quicksilver Lapidary",
        :oracle-text
        "When Quicksilver Lapidary enters the battlefield, conjure a card named Mox Opal into your hand."}
 #:card{:type-line "Creature — Phyrexian Cleric",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/b/c/bcf38296-7d45-433f-9090-a5abb035323c.png?1677508904",
        :collector-number "27",
        :layout "normal",
        :name "Seething Skitter-Priest",
        :oracle-text
        "Toxic 1\nWhen Seething Skitter-Priest enters the battlefield, creatures you control and creature cards in your hand perpetually gain \"When this creature dies, create a 1/1 colorless Phyrexian Mite artifact creature token with toxic 1 and 'This creature can't block.'\""}
 #:card{:type-line "Creature — Phyrexian Insect",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/3/2318627b-7bef-482f-a66e-89119d46190f.png?1677508962",
        :collector-number "28",
        :layout "normal",
        :name "Skullpiercer Gnat",
        :oracle-text
        "Flying\nToxic 1\nWhenever Skullpiercer Gnat deals combat damage to a player, a random nonland card in that player's hand perpetually gains \"When you cast this spell, you get a poison counter.\""}
 #:card{:type-line "Legendary Creature — Phyrexian Artificer",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/1/a18b6ab0-1214-48c3-9b72-1644b6ff63fa.png?1677509015",
        :collector-number "29",
        :layout "normal",
        :name "Vexyr, Ich-Tekik's Heir",
        :oracle-text
        "Whenever you seek one or more cards, create a 3/3 colorless Phyrexian Golem artifact creature token.\nGolems you control have vigilance."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "yone",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/d/9da3f953-c7c3-4856-8aec-f6a927637df5.png?1677509087",
        :collector-number "30",
        :layout "normal",
        :name "Phyrexian Scrapyard",
        :oracle-text
        "{T}: Add {C}.\n{1}, {T}, Discard a card: Conjure a card named Phyrexian Scrapyard into your hand.\n{2}, {T}, Sacrifice three lands named Phyrexian Scrapyard: Conjure a card named Soul of New Phyrexia onto the battlefield. Activate only as a sorcery."})
