(#:card{:type-line "Legendary Creature — Human Cleric Knight",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/b/6bae30ba-1402-4a42-8dee-a899150fcc6e.png?1696890985",
        :collector-number "1",
        :layout "normal",
        :name "Cerise, Slayer of Fear",
        :oracle-text
        "First strike, lifelink\nAt the beginning of your postcombat main phase, if you gained life this turn, seek a card with the highest mana value among cards in your library with mana value less than or equal to the amount of life you gained this turn."}
 #:card{:type-line "Creature — Dwarf Artificer",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/c/dc1afc09-05ef-4ba3-8cf5-a24aba1aa40b.png?1696889489",
        :collector-number "2",
        :layout "normal",
        :name "Dedicated Dollmaker",
        :oracle-text
        "When Dedicated Dollmaker enters the battlefield, exile up to one other target nonland, nontoken permanent. Its controller creates a token that's a copy of it, except it's not legendary and it's an artifact in addition to its other types.\n{1}{W}: Tokens you control gain indestructible until end of turn. Activate only once."}
 #:card{:type-line "Enchantment — Saga",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/9/3905bf55-288a-480c-a16f-826ba70f9325.png?1696889568",
        :collector-number "3",
        :layout "saga",
        :name "The Conundrum of Bowls",
        :oracle-text
        "(As this Saga enters and after your draw step add a lore counter. Sacrifice after III.)\nI — Seek a card with mana value less than the number of cards in your hand.\nII — Seek a card with mana value greater than the number of cards in your hand.\nIII — Count the number of cards in your hand. You may cast a spell with mana value equal to that number from your hand without paying its mana cost."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/3/e/3e83c88f-1703-4fb3-a872-2368213d3df3.png?1696889581",
        :collector-number "4",
        :layout "normal",
        :name "Paths of Tuinvale",
        :oracle-text
        "Choose one or both —\n• Return target creature you control to its owner's hand. That card perpetually gains \"This spell costs {1} less to cast.\"\n• Return target creature you don't control to its owner's hand. That card perpetually gains \"This spell costs {1} more to cast.\""}
 #:card{:type-line "Creature — Faerie Wizard",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/1/1109fa53-1d2f-4e60-a91e-aa0e91c5c048.png?1697026881",
        :collector-number "5",
        :layout "normal",
        :name "Talion's Throneguard",
        :oracle-text
        "Flash\nBargain\nFlying When\nTalion's Throneguard enters the battlefield, return up to one target spell or nonland permanent to its owner's hand. If Talion's Throneguard was bargained, that card perpetually gains \"This spell costs {2} more to cast.\""}
 #:card{:type-line "Artifact — Equipment",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/f/9fd6e966-5591-4021-928c-e83c96ea24ea.png?1696889703",
        :collector-number "6",
        :layout "normal",
        :name "Tome of Gadwick",
        :oracle-text
        "Whenever equipped creature deals combat damage to a player, conjure a random card from Tome of Gadwick's spellbook into your hand.\nEquip {1}"}
 #:card{:type-line "Creature — Human Warlock",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/8/c80c171e-f1bb-4d2f-80a3-fcadf1e324fd.png?1696889780",
        :collector-number "7",
        :layout "normal",
        :name "Dunbarrow Revivalist",
        :oracle-text
        "Bargain\nWhen Dunbarrow Revivalist enters the battlefield, you get a one-time boon with \"When one or more creatures enter the battlefield under your control, create a Wicked Role token attached to one of them.\" Then if Dunbarrow Revivalist was bargained, return a creature card from your graveyard to your hand."}
 #:card{:type-line "Creature — Ogre Warlock",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/4/745a89db-1573-4d31-9299-e9ee6be5cd2a.png?1696889843",
        :collector-number "8",
        :layout "normal",
        :name "Underbridge Warlock",
        :oracle-text
        "Deathtouch\nWhen Underbridge Warlock enters the battlefield, you get a one-time boon with \"At the beginning of your end step, if three or more creatures died this turn, each opponent loses 5 life and you gain 5 life.\"\nAt the beginning of your end step, if you have a boon, you mill three cards, draw a card, and lose 2 life."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/c/ace8cf23-fc5e-4f3e-a7eb-ad464d4423a0.png?1696889891",
        :collector-number "9",
        :layout "normal",
        :name "Draconic Debut",
        :oracle-text
        "Draconic Debut deals X damage to any target.\nThe next Dragon creature spell you cast costs {X} less to cast."}
 #:card{:type-line "Creature — Human Warlock",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/b/ebe7f48f-05c7-4999-a360-7e87d871de96.png?1696889903",
        :collector-number "10",
        :layout "normal",
        :name "Heir to Dragonfire",
        :oracle-text
        "{R}: Heir to Dragonfire gets +1/+0 until end of turn.\n{2}{R}, Reveal Heir to Dragonfire from your hand: Heir to Dragonfire perpetually becomes a Dragon, gets +3/+3, and gains flying."}
 #:card{:type-line "Enchantment",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/d/fd9452a2-4c6c-4080-b9fe-a81b215caae4.png?1696889942",
        :collector-number "11",
        :layout "normal",
        :name "Overcooked",
        :oracle-text
        "Players can't gain life.\nCelebration — At the beginning of your end step, create a Food token. If two or more nonland permanents entered the battlefield under your control this turn, instead conjure a card named Food Fight onto the battlefield."}
 #:card{:type-line "Enchantment — Saga",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/f/e/fe413a31-9555-40aa-9220-6812fe159c86.png?1696889960",
        :collector-number "12",
        :layout "saga",
        :name "Victory of the Pyrohammer",
        :oracle-text
        "(As this Saga enters and after your draw step add a lore counter. Sacrifice after III.)\nI — Victory of the Pyrohammer deals 4 damage to each creature and each planeswalker. Victory of the Pyrohammer gains \"Damage isn't removed from creatures during cleanup steps.\"\nII, III — Victory of the Pyrohammer deals 1 damage to each creature and each planeswalker."}
 #:card{:type-line "Enchantment — Saga",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/6/5/651be3e2-0d26-4def-98c1-3e526e650fe5.png?1696890039",
        :collector-number "13",
        :layout "normal",
        :name "A Golden Opportunity",
        :oracle-text
        "(As this Saga enters and after your draw step add a lore counter. Sacrifice after III.)\nI — Conjure a card named Gilded Goose onto the battlefield.\nII, III — You may tap an untapped Bird you control and sacrifice an artifact. If you do, conjure a card named Golden Egg onto the battlefield."}
 #:card{:type-line "Legendary Creature — Dog",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/2/e/2efa20f2-2ff9-4066-9f3c-ff77afc30494.png?1696890117",
        :collector-number "14",
        :layout "normal",
        :name "Hex, Kellan's Companion",
        :oracle-text
        "Haste\nWhenever you cast an Adventure spell, if Hex, Kellan's Companion is on the battlefield or in exile, it perpetually gets +1/+1. Then if it's on the battlefield, exile it with a fetch counter on it. Whenever you cast a spell from exile, if Hex is in exile with a fetch counter on it, put it onto the battlefield."}
 #:card{:type-line "Sorcery",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/b/4b83c125-fa46-4590-9e1f-78b0eed1c20d.png?1696891151",
        :collector-number "15",
        :layout "normal",
        :name "Swine Rebellion",
        :oracle-text
        "If you control three or more Boars with different names, conjure each card from the Three Pigs spellbook onto the battlefield. If you control two or fewer Boars with different names, conjure two cards of your choice from the Three Pigs spellbook into your hand, then put one of them onto the battlefield."}
 #:card{:code "ywoe",
        :collector-number "16",
        :name "Accident-Prone Apprentice // Amphibian Accident",
        :layout "adventure",
        :highres? true,
        :layout-category :split,
        :png
        "https://cards.scryfall.io/png/front/b/9/b94347fe-deaa-4bb3-a398-c5aca1a85188.png?1697085569",
        :faces
        [{:type-line "Creature — Otter Wizard",
          :oracle-text
          "Whenever you cast a noncreature spell, Accident-Prone Apprentice perpetually gets +1/+1. This ability also triggers if Accident-Prone Apprentice is in exile."}
         {:type-line "Instant — Adventure",
          :oracle-text
          "Until end of turn, target creature loses all abilities and becomes a blue Frog with base power and toughness 1/1."}]}
 #:card{:type-line "Creature — Human Warlock",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/7/5/75ca7541-2642-41e4-b942-66a19897f17a.png?1696890922",
        :collector-number "17",
        :layout "normal",
        :name "Drover of the Swine",
        :oracle-text
        "When Drover of the Swine enters the battlefield, choose one —\n• Conjure a card of your choice from the Three Pigs spellbook onto the battlefield.\n• Return up to three target Boar creature cards with different names from your graveyard to the battlefield."}
 #:card{:type-line "Creature — Boar",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/e/d/edefa124-d1ad-42ae-b173-4802a09e0aec.png?1696891626",
        :collector-number "18",
        :layout "normal",
        :name "First Little Pig",
        :oracle-text
        "{1}{G/W}: Exile target artifact or enchantment. Activate only once."}
 #:card{:type-line "Instant",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/4/7/47951250-7501-4dc3-a734-3d8288860b5f.png?1696890319",
        :collector-number "19",
        :layout "normal",
        :name "Grow Old Together",
        :oracle-text
        "Seek two creature cards from among the top ten cards of your library, then shuffle. Creature cards in your hand perpetually get +1/+1."}
 #:card{:type-line "Creature — Faerie Rogue",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/d/8/d89be725-d8fb-4524-8211-721628992187.png?1697531008",
        :collector-number "20",
        :layout "normal",
        :name "High Fae Prankster",
        :oracle-text
        "Flying, deathtouch\nWhen High Fae Prankster enters the battlefield, choose up to one —\n• Perpetually exchange target creature's base power with another target creature's base power.\n• High Fae Prankster perpetually has base power and toughness 4/1."}
 #:card{:type-line "Creature — Human Noble",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/1/b/1b1f5093-c100-4741-aa5b-25107ce34c45.png?1697085549",
        :collector-number "21",
        :layout "normal",
        :name "Jewel Mine Overseer",
        :oracle-text
        "When Jewel Mine Overseer enters the battlefield, conjure seven cards named Seven Dwarves on top of your library. They perpetually gain \"When this creature enters the battlefield, draw a card.\" Then shuffle.\nAt the beginning of your upkeep, exile the top card of your library. You may play that card this turn."}
 #:card{:type-line "Creature — Knight",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/a/8/a8a3d20e-24a0-45f4-9ac1-a4b710a43dfc.png?1696890356",
        :collector-number "22",
        :layout "normal",
        :name "Outfitted Jouster",
        :oracle-text
        "When Outfitted Jouster enters the battlefield, conjure a card named Steelclaw Lance and a card named Brawler's Plate onto the battlefield and attach them to Outfitted Jouster.\nIf damage would be dealt to Outfitted Jouster while it's equipped, prevent that damage. When damage is prevented this way, sacrifice an Equipment attached to Outfitted Jouster."}
 #:card{:code "ywoe",
        :collector-number "23",
        :name "Porcine Portent // Lend a Ham",
        :layout "adventure",
        :highres? true,
        :layout-category :split,
        :png
        "https://cards.scryfall.io/png/front/0/8/08cf0de5-053a-4f96-b661-db01794df22d.png?1696890439",
        :faces
        [{:type-line "Enchantment",
          :oracle-text
          "When Porcine Portent enters the battlefield, conjure a card of your choice from the Three Pigs spellbook onto the battlefield.\nBoars you control get +1/+1."}
         {:type-line "Instant Adventure",
          :oracle-text
          "Exile target creature. You gain 1 life for each Boar you control."}]}
 #:card{:type-line "Creature — Boar",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/8/083f26be-0043-4e32-9f34-13a6afdd897b.png?1696890365",
        :collector-number "24",
        :layout "normal",
        :name "Second Little Pig",
        :oracle-text
        "{2}{W/B}{W/B}: Second Little Pig perpetually becomes a Boar Spirit with base power and toughness 4/4 and gains flying. Activate only if Second Little Pig isn't a Spirit."}
 #:card{:code "ywoe",
        :collector-number "25",
        :name "Steady Tortoise // Harried Dash",
        :layout "adventure",
        :highres? true,
        :layout-category :split,
        :png
        "https://cards.scryfall.io/png/front/9/2/92d1c20b-e3c4-4dd1-bb41-10bebfe228f8.png?1698679444",
        :faces
        [{:type-line "Creature — Turtle",
          :oracle-text
          "Ward {2}\nWhenever you attack, Steady Tortoise perpetually gets +1/+1. This ability also triggers if Steady Tortoise is in exile."}
         {:type-line "Sorcery — Adventure",
          :oracle-text
          "Create a 1/1 white Rabbit creature token. It gains haste until end of turn."}]}
 #:card{:code "ywoe",
        :collector-number "26",
        :name "Stormkeld Curator // Giant Secrets",
        :layout "adventure",
        :highres? true,
        :layout-category :split,
        :png
        "https://cards.scryfall.io/png/front/3/6/36cca8f4-5bb4-46a7-87df-eb89049b27a3.png?1696890594",
        :faces
        [{:type-line "Creature — Giant",
          :oracle-text
          "When Stormkeld Curator enters the battlefield, you may put any number of Aura cards from your graveyard and/or hand onto the battlefield attached to it."}
         {:type-line "Instant Adventure",
          :oracle-text
          "Conjure X random cards from Giant Secrets's spellbook into your hand."}]}
 #:card{:type-line "Legendary Creature — Human Knight",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/5/7/577278fb-117b-48b2-b78f-bed99698ef4b.png?1696890658",
        :collector-number "27",
        :layout "normal",
        :name "Syr Joshua and Syr Saxon",
        :oracle-text
        "Double team\nIf you control exactly two legendary permanents named Syr Joshua and Syr Saxon, the \"legend rule\" doesn't apply to them.\nEach other creature you control named Syr Joshua and Syr Saxon has battle cry."}
 #:card{:type-line "Creature — Boar",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/9/1/91d1af95-15db-41a3-8318-999dd94b39c3.png?1696891271",
        :collector-number "28",
        :layout "normal",
        :name "Third Little Pig",
        :oracle-text
        "Whenever you conjure one or more other cards, Third Little Pig perpetually gets +1/+1. This ability also triggers if Third Little Pig is in your graveyard."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/0/7/07bb1a35-1828-4038-87ea-f6c78ff7a751.png?1696890474",
        :collector-number "29",
        :layout "normal",
        :name "Captivating Crossroads",
        :oracle-text
        "During your first three turns of the game, Captivating Crossroads enters the battlefield tapped if you were the starting player.\nAs Captivating Crossroads enters the battlefield, choose a color.\n{T}: Add one mana of the chosen color."}
 #:card{:type-line "Land",
        :layout-category :normal,
        :code "ywoe",
        :highres? true,
        :png
        "https://cards.scryfall.io/png/front/c/d/cdfb0e9b-78bf-4e49-b8ab-f797a99d4505.png?1696890727",
        :collector-number "30",
        :layout "normal",
        :name "Loch Larent",
        :oracle-text
        "Loch Larent enters the battlefield tapped.\n{T}: Add {U}.\n{1}{U}, {T}: Scry 3. Target opponent gets a one-time boon with \"When you cast a creature spell, that creature enters the battlefield tapped and with a stun counter on it.\" Activate only during your turn and only once."})
